Repository storybookjs/storybook, pull requests merged in 2018-02, with the labels that each got.

#2976 Update index.md
  docs/src/pages/configurations/custom-webpack-config/index.md
Labels: documentation, patch

#2851 Major version upgrades for devDependencies
  .eslintrc-markdown.js
  .remarkrc.js
  CHANGELOG.md
  RELEASES.md
  ROADMAP.md
  addons/jest/README.md
  addons/storyshots/README.md
  addons/storyshots/package.json
  app/angular/package.json
  app/vue/README.md
  examples/angular-cli/package.json
  examples/official-storybook/README.md
  examples/official-storybook/package.json
  examples/vue-kitchen-sink/package.json
  integration/__image_snapshots__/angular-cli-snap.png
  integration/__image_snapshots__/cra-kitchen-sink-snap.png
  integration/__image_snapshots__/vue-kitchen-sink-snap.png
  lerna.json
  lib/cli/package.json
  package.json
  tslint.json
  yarn.lock
Labels: cleanup, dependencies:update, maintenance

#2974 Fix examples thumbnails display
  docs/src/components/Grid/GridItem/index.js
  docs/src/pages/examples/_examples.yml
  docs/src/pages/examples/index.jsx
Labels: bug, documentation, patch

#2807 Addon-backgrounds: set background on iframe instead of adding a wrapper in preview
  addons/background/package.json
  addons/background/src/BackgroundPanel.js
  addons/background/src/__tests__/BackgroundPanel.js
  addons/background/src/__tests__/index.js
  addons/background/src/index.js
  examples/official-storybook/stories/__snapshots__/addon-backgrounds.stories.storyshot
Labels: addon: backgrounds, bug, patch

#2997 Fix polymer static build
  app/polymer/src/server/config/babel.prod.js
Labels: app: polymer, bug

#2918 Better examples separation
  examples/angular-cli/.storybook/addons.js
  examples/angular-cli/.storybook/config.js
  examples/angular-cli/package.json
  examples/angular-cli/src/stories/__snapshots__/addon-actions.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-knobs.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-links.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-notes.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/custom-ng-content.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/custom-pipes.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/custom-providers.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/custom-styles.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/index.storyshot
  examples/angular-cli/src/stories/addon-actions.stories.ts
  examples/angular-cli/src/stories/addon-knobs.stories.ts
  examples/angular-cli/src/stories/addon-links.stories.ts
  examples/angular-cli/src/stories/addon-notes.stories.ts
  examples/angular-cli/src/stories/component-with-di/__snapshots__/di.component.stories.storyshot
  examples/angular-cli/src/stories/component-with-di/di.component.stories.ts
  examples/angular-cli/src/stories/component-with-style/__snapshots__/styled.component.stories.storyshot
  examples/angular-cli/src/stories/component-with-style/styled.component.stories.ts
  examples/angular-cli/src/stories/custom-metadata.stories.ts
  examples/angular-cli/src/stories/custom-ng-content.stories.ts
  examples/angular-cli/src/stories/custom-pipes.stories.ts
  examples/angular-cli/src/stories/custom-providers.stories.ts
  examples/angular-cli/src/stories/custom-styles.stories.ts
  examples/angular-cli/src/stories/customControlValueAccessor/__snapshots__/custom-cva-component.stories.storyshot
  examples/angular-cli/src/stories/customControlValueAccessor/custom-cva-component.stories.ts
  examples/angular-cli/src/stories/index.ts
  examples/angular-cli/src/stories/inheritance/__snapshots__/inheritance.stories.storyshot
  examples/angular-cli/src/stories/inheritance/inheritance.stories.ts
  examples/polymer-cli/.storybook/addons.js
  examples/polymer-cli/.storybook/config.js
  examples/polymer-cli/package.json
  examples/polymer-cli/src/playground-button.html
  examples/polymer-cli/src/stories/addon-actions.stories.js
  examples/polymer-cli/src/stories/addon-knobs.stories.js
  examples/polymer-cli/src/stories/addon-notes.stories.js
  examples/polymer-cli/src/stories/advanced.stories.js
  examples/polymer-cli/src/stories/custom-decorators.stories.js
  examples/polymer-cli/src/stories/custom-rendering.stories.js
  examples/polymer-cli/src/stories/index.stories.js
  examples/vue-kitchen-sink/.storybook/addons.js
  examples/vue-kitchen-sink/.storybook/config.js
  examples/vue-kitchen-sink/package.json
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-actions.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-centered.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-knobs.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-notes.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/custom-decorators.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/custom-rendering.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/index.storyshot
  examples/vue-kitchen-sink/src/stories/addon-actions.stories.js
  examples/vue-kitchen-sink/src/stories/addon-centered.stories.js
  examples/vue-kitchen-sink/src/stories/addon-knobs.stories.js
  examples/vue-kitchen-sink/src/stories/addon-notes.stories.js
  examples/vue-kitchen-sink/src/stories/custom-decorators.stories.js
  examples/vue-kitchen-sink/src/stories/custom-rendering.stories.js
  examples/vue-kitchen-sink/src/stories/index.js
Labels: app: angular, app: polymer, app: vue, documentation, needs review

#2661 Enable groupId option for knobs to be organized into sub panels.
  addons/knobs/README.md
  addons/knobs/package.json
  addons/knobs/src/KnobStore.js
  addons/knobs/src/base.js
  addons/knobs/src/components/GroupTabs.js
  addons/knobs/src/components/Panel.js
  addons/knobs/src/components/__tests__/GroupTabs.js
  examples/official-storybook/stories/__snapshots__/addon-knobs.stories.storyshot
  examples/official-storybook/stories/addon-knobs.stories.js
Labels: addon: knobs, feature request

#2867 Added "key" prop to list items inside test failure message.
  addons/jest/src/components/Result.js
Labels: addon: jest, bug, patch

#2885 Self documented Storybook (A.K.A Addon Stories)
  __mocks__/inject-decorator.angular-stories.txt
  __mocks__/inject-decorator.no-stories.txt
  __mocks__/inject-decorator.stories.txt
  addons/storysource/README.md
  addons/storysource/loader.js
  addons/storysource/package.json
  addons/storysource/register.js
  addons/storysource/src/StoryPanel.js
  addons/storysource/src/index.js
  addons/storysource/src/loader/__snapshots__/inject-decorator.test.js.snap
  addons/storysource/src/loader/index.js
  addons/storysource/src/loader/inject-decorator.js
  addons/storysource/src/loader/inject-decorator.test.js
  addons/storysource/src/loader/parse-helpers.js
  addons/storysource/src/manager.js
  addons/storysource/src/preview.js
  examples/angular-cli/.storybook/addons.js
  examples/angular-cli/.storybook/webpack.config.js
  examples/angular-cli/package.json
  examples/official-storybook/addons.js
  examples/official-storybook/config.js
  examples/official-storybook/package.json
  examples/official-storybook/webpack.config.js
  examples/polymer-cli/.storybook/addons.js
  examples/polymer-cli/.storybook/webpack.config.js
  examples/polymer-cli/package.json
  examples/vue-kitchen-sink/.storybook/addons.js
  examples/vue-kitchen-sink/.storybook/webpack.config.js
  examples/vue-kitchen-sink/package.json
  integration/__image_snapshots__/angular-cli-snap.png
  integration/__image_snapshots__/vue-kitchen-sink-snap.png
  yarn.lock
Labels: documentation, maintenance

#2972 Added beforeScreenshot config option to addons/storyshots, to allow testing of components with mounting animations
  addons/storyshots/README.md
  addons/storyshots/src/test-body-image-snapshot.js
Labels: addon: storyshots, feature request

#2895 Mention new supported frameworks
  ADDONS_SUPPORT.md
  README.md
  ROADMAP.md
Labels: documentation, maintenance

#2946 add GitHub flavored markdown notes
  addons/notes/README.md
  addons/notes/package.json
  addons/notes/src/index.js
  examples/official-storybook/stories/__snapshots__/addon-notes.stories.storyshot
  examples/official-storybook/stories/addon-notes.stories.js
  yarn.lock
Labels: addon: notes, feature request

#2878 Core: upgrade dotenv to 5.0.0
  lib/core/package.json
  yarn.lock
Labels: core, dependencies:update

#3022 Add warning about importing CSS in Angular CLI projects
  docs/src/pages/configurations/default-config/index.md
Labels: app: angular, documentation

#3027 Integration tests: wait until stories appear
  integration/examples.test.js
Labels: maintenance

#3025 [Addon Storysource] Add auto scrolling to the selected story
  addons/storysource/src/StoryPanel.js
  integration/__image_snapshots__/angular-cli-snap.png
  integration/__image_snapshots__/cra-kitchen-sink-snap.png
  integration/__image_snapshots__/vue-kitchen-sink-snap.png
Labels: addon: storysource, feature request, ready

#3019 Docs live examples
  README.md
  docs/gatsby-config.js
  docs/src/components/Homepage/MainLinks/index.js
  docs/src/pages/basics/live-examples/index.md
Labels: documentation, needs review

#3023 Added safety net preventing storybook Jest addon from throwing.
  addons/jest/src/components/Result.js
Labels: addon: jest, bug, patch

#2959 Add moduleMetdata decorator for supplying common Angular metadata
  app/angular/index.d.ts
  app/angular/src/client/index.js
  app/angular/src/client/preview/angular/decorators.test.ts
  app/angular/src/client/preview/angular/decorators.ts
  app/angular/src/client/preview/index.d.ts
  docs/src/pages/basics/guide-angular/index.md
  examples/angular-cli/src/stories/__snapshots__/metadata-combined.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/metadata-individual.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/metadata-shared.stories.storyshot
  examples/angular-cli/src/stories/custom-pipes.stories.ts
  examples/angular-cli/src/stories/custom-providers.stories.ts
  examples/angular-cli/src/stories/custom-styles.stories.ts
  examples/angular-cli/src/stories/index.ts
  examples/angular-cli/src/stories/metadata-combined.stories.ts
  examples/angular-cli/src/stories/metadata-individual.stories.ts
  examples/angular-cli/src/stories/metadata-shared.stories.ts
  examples/angular-cli/src/stories/moduleMetadata/token.component.ts
  integration/__image_snapshots__/angular-cli-snap.png
  scripts/test.js
Labels: app: angular, feature request

#3016 Optimize CI workflow
  .circleci/config.yml
  yarn.lock
Labels: maintenance, ready

#3002 RN: Add error handler on WS to fix crashing on page reload
  app/react-native/src/server/index.js
Labels: app: react-native, bug, patch, ready

#3033 #3029 use @storybook/podda to fix npm engine version in podda
  lib/ui/package.json
  lib/ui/src/index.js
  lib/ui/src/modules/ui/libs/gen_podda_loader.test.js
  yarn.lock
Labels: compatibility with other tools, patch, ready

#3036 Use client api in react native
  app/react-native/src/index.js
  app/react-native/src/preview/index.js
  app/react-native/src/preview/story_kind.js
  lib/core/src/client/preview/client_api.js
Labels: app: react-native, core, maintenance

#2854 CLI: upgrade cross-spawn to 6.0.3
  lib/cli/package.json
  yarn.lock
Labels: cli, dependencies:update, ready

#2855 App-angular: upgrade ts-loader to 3.3.1
  app/angular/package.json
  yarn.lock
Labels: dependencies:update, ready

#2853 Addon-storyshots: upgrade puppeteer to 1.0.0
  addons/storyshots/package.json
  yarn.lock
Labels: addon: storyshots, dependencies:update, ready

#2275 Refactor addon-action to use glamorous
  addons/actions/package.json
  addons/actions/src/components/ActionLogger/index.js
  addons/actions/src/components/ActionLogger/style.js
  lib/components/src/form/__snapshots__/button.stories.storyshot
  lib/components/src/form/button.js
  lib/components/src/form/button.stories.js
  lib/components/src/index.js
  lib/components/src/navigation/__snapshots__/menu_link.stories.storyshot
  lib/components/src/navigation/__snapshots__/routed_link.stories.storyshot
  lib/components/src/navigation/menu_link.stories.js
  lib/components/src/navigation/routed_link.stories.js
  lib/ui/src/modules/ui/components/addon_panel/__snapshots__/index.stories.storyshot
  lib/ui/src/modules/ui/components/addon_panel/style.js
Labels: addon: actions, cleanup, components, feature request, maintenance, ready

#3040 Addon Storysource improvements
  ADDONS_SUPPORT.md
  __mocks__/inject-decorator.ugly-comments-stories.txt
  addons/storysource/README.md
  addons/storysource/demo.gif
  addons/storysource/package.json
  addons/storysource/src/loader/__snapshots__/inject-decorator.test.js.snap
  addons/storysource/src/loader/default-options.js
  addons/storysource/src/loader/generate-helpers.js
  addons/storysource/src/loader/index.js
  addons/storysource/src/loader/inject-decorator.js
  addons/storysource/src/loader/inject-decorator.test.js
  addons/storysource/src/loader/parse-helpers.js
  addons/storysource/src/preview.js
  yarn.lock
Labels: addon: storysource, feature request

#3046 Revisit addon/framework support
  ADDONS_SUPPORT.md
  addons/a11y/README.md
  addons/actions/README.md
  addons/background/README.md
  addons/centered/README.md
  addons/events/README.md
  addons/graphql/README.md
  addons/info/README.md
  addons/jest/README.md
  addons/knobs/README.md
  addons/links/README.md
  addons/notes/README.md
  addons/options/README.md
  addons/storyshots/README.md
  addons/storysource/README.md
  addons/viewport/README.md
Labels: documentation

#3057 Update good first issue link to use correct Github label
  docs/src/pages/basics/community/index.md
Labels: documentation, patch

#3065 add lang attribute for frame
  app/angular/src/server/index.html.ejs
  app/polymer/src/server/index.html.ejs
  app/react-native/src/server/index.html.ejs
  app/react/src/server/index.html.ejs
  app/vue/src/server/index.html.ejs
Labels: accessibility, patch

#3068 Addons: avoid mixing manager and preview code together
  addons/actions/register.js
  addons/actions/src/index.js
  addons/events/README.md
  addons/events/register.js
  addons/events/src/index.js
  addons/links/register.js
  addons/links/src/index.js
  addons/storysource/register.js
  addons/storysource/src/index.js
Labels: addon: actions, addon: events, addon: links, addon: storysource, app: react-native, bug, patch

#3070 Fix links addon examples
  examples/official-storybook/stories/addon-links.stories.js
Labels: documentation, maintenance

#3078 Fix errors on starting example Angular app
  examples/angular-cli/src/index.html
  examples/angular-cli/src/tsconfig.app.json
Labels: app: angular, maintenance

#3081 Removed OSX .DS_Store file
  addons/events/docs/.DS_Store
Labels: maintenance

#3096 Fix links examples
  ADDONS_SUPPORT.md
  app/angular/src/demo/welcome.component.ts
  examples/angular-cli/src/stories/index.ts
  examples/polymer-cli/.storybook/addons.js
  examples/polymer-cli/package.json
  examples/polymer-cli/src/simple-button.html
  examples/polymer-cli/src/stories/addon-actions.stories.js
  examples/polymer-cli/src/stories/addon-links.stories.js
  examples/polymer-cli/src/stories/index.stories.js
  examples/polymer-cli/src/stories/storybook-welcome-to-polymer.html
  examples/vue-kitchen-sink/src/stories/Welcome.vue
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-links.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/index.storyshot
  examples/vue-kitchen-sink/src/stories/addon-links.stories.js
  examples/vue-kitchen-sink/src/stories/index.js
Labels: app: angular, app: polymer, app: vue, documentation

#3073 Don't use exact versions in peerDependencies
  app/react-native/package.json
  app/vue/package.json
Labels: app: react-native, app: vue, dependencies, patch

#3072 Events addon: fix React keys warning
  addons/events/src/components/Panel.js
Labels: addon: events, bug, patch

#3074 RN app: upgrade ws from 3.3.3 to 4.1.0
  app/react-native/package.json
  yarn.lock
Labels: app: react-native, dependencies:update

#3075 Core & UI: upgrade events from 1.1.1 to 2.0.0
  lib/core/package.json
  lib/ui/package.json
  yarn.lock
Labels: core, dependencies:update, ui

#3067 Maintenance: upgrade lint-staged from `6.1.1` to `7.0.0`
  package.json
  yarn.lock
Labels: dependencies:update, maintenance

#3077 Vue example: upgrade vue-loader from 13.7.1 to 14.1.1
  app/vue/package.json
  examples/vue-kitchen-sink/package.json
  yarn.lock
Labels: dependencies:update, maintenance

#3114 Update ADDONS_SUPPORT.md
  ADDONS_SUPPORT.md
Labels: documentation
