Repository storybookjs/storybook, pull requests merged in 2018-04, with the labels that each got.

#3225 feat(notes): add marked options
  addons/notes/src/index.js
Labels: addon: notes, feature request

#3328 Fix HtmlWebpackPlugin error
  app/angular/src/server/config/webpack.config.js
  app/angular/src/server/config/webpack.config.prod.js
  app/mithril/src/server/config/webpack.config.js
  app/mithril/src/server/config/webpack.config.prod.js
  app/polymer/src/server/config/webpack.config.js
  app/polymer/src/server/config/webpack.config.prod.js
  app/react/src/server/config/webpack.config.js
  app/react/src/server/config/webpack.config.prod.js
  app/vue/src/server/config/webpack.config.js
  app/vue/src/server/config/webpack.config.prod.js
Labels: app: angular, app: mithril, app: polymer, app: react, app: react-native, app: vue, babel / webpack, bug

#3340 Tweaks for range labels
  addons/knobs/src/components/types/Number.js
Labels: addon: knobs, cleanup

#3331 Persist background for @addon/background
  addons/background/src/BackgroundPanel.js
  addons/background/src/__tests__/BackgroundPanel.js
Labels: addon: backgrounds, feature request

#3338 Scroll to top of the page when changing story
  examples/official-storybook/stories/__snapshots__/addon-links.stories.storyshot
  examples/official-storybook/stories/addon-links.stories.js
  lib/core/src/client/preview/start.js
Labels: bug, core

#3334 Migrate to ws@5
  app/react-native/package.json
  app/react-native/src/server/index.js
  yarn.lock
Labels: app: react-native, dependencies:update

#3332 Migrate to axe-core@3.0.0
  addons/a11y/package.json
  addons/a11y/src/components/WrapStory.js
  yarn.lock
Labels: addon: a11y, dependencies:update

#3316 Split vendor and runtime chunk in static builds
  app/angular/src/server/config/webpack.config.prod.js
  app/mithril/src/server/config/webpack.config.prod.js
  app/polymer/src/server/config/webpack.config.prod.js
  app/react/src/server/config/webpack.config.prod.js
  app/vue/src/server/config/webpack.config.prod.js
Labels: app: angular, app: mithril, app: polymer, app: react, app: react-native, app: vue, babel / webpack, feature request, ready

#3342 Scroll preview pane for non-percentage heights
  addons/viewport/src/manager/components/Panel.js
  lib/ui/src/modules/ui/components/layout/__snapshots__/index.stories.storyshot
  lib/ui/src/modules/ui/components/layout/index.js
Labels: bug, patch, ui

#3369 FIX relative path
  docs/src/pages/basics/guide-angular/index.md
Labels: app: angular, documentation, patch

#3361 add typescript docs
  docs/gatsby-config.js
  docs/src/components/Homepage/MainLinks/index.js
  docs/src/pages/configurations/custom-webpack-config/index.md
  docs/src/pages/configurations/typescript-config/index.md
Labels: addon: info, app: react, documentation, typescript

#3372 Replacing Report Fragment with div
  addons/a11y/src/components/Report/index.js
Labels: addon: a11y, bug, patch

#3378 Change addon panel keyboard shortcut to shift-meta-z
  lib/ui/src/libs/key_events.js
  lib/ui/src/modules/ui/components/shortcuts_help.js
Labels: BREAKING CHANGE, accessibility, feature request

#3380 Fix gif URL
  addons/jest/README.md
Labels: addon: jest, documentation, patch

#3382 Don't use direct react dependency in core
  lib/core/package.json
Labels: app: react, bug, core, dependencies

#3383 Enforce addons store being a singleton by storing it in global variable
  addons/a11y/package.json
  addons/actions/package.json
  addons/background/package.json
  addons/events/package.json
  addons/jest/package.json
  addons/knobs/package.json
  addons/links/package.json
  addons/notes/package.json
  addons/options/package.json
  addons/storyshots/package.json
  addons/storyshots/src/index.js
  addons/storysource/package.json
  addons/viewport/package.json
  docs/src/pages/basics/faq/index.md
  lib/addons/package.json
  lib/addons/src/index.js
  lib/addons/src/storybook-channel-mock.js
Labels: api: addons, bug

#3391 Upgrade dev dependencies in Angular example
  examples/angular-cli/package.json
  yarn.lock
Labels: app: angular, dependencies:update, maintenance

#3392 Migrate to react-lifecycles-compat@3
  addons/background/package.json
  addons/background/src/index.js
  addons/events/package.json
  addons/events/src/components/Event.js
  addons/info/package.json
  addons/info/src/components/Story.js
  addons/knobs/package.json
  addons/knobs/src/react/WrapStory.js
  examples/cra-kitchen-sink/package.json
  examples/cra-kitchen-sink/src/components/LifecycleLogger.js
  lib/ui/package.json
  lib/ui/src/modules/ui/components/layout/dimensions.js
  lib/ui/src/modules/ui/components/stories_panel/stories_tree/index.js
  lib/ui/src/modules/ui/components/stories_panel/text_filter.js
  yarn.lock
Labels: addon: backgrounds, addon: events, addon: info, addon: knobs, dependencies:update, ui

#3393 Add story2sketch to addons gallery
  docs/src/pages/addons/addon-gallery/index.md
Labels: documentation

#3396 Fixed addon Knobs' `selectV2` example's `defaultValue`
  addons/knobs/README.md
Labels: addon: knobs, documentation

#3397 fix storyshots readme for image snapshotting
  addons/storyshots/README.md
  addons/storyshots/src/test-body-image-snapshot.js
Labels: addon: storyshots, bug, documentation

#3404 Add Lucid UI to examples page
  docs/src/pages/examples/_examples.yml
  docs/src/pages/examples/thumbnails/lucid-ui.png
Labels: documentation, patch

#3402 #3377 remove old keyboard shortcuts
  MIGRATION.md
  lib/ui/src/libs/key_events.js
Labels: BREAKING CHANGE, cleanup

#3401 #3324 fix double quotes in prop table and add additional examples
  addons/info/src/__snapshots__/index.test.js.snap
  addons/info/src/components/PropVal.js
  addons/info/src/components/Props.js
  examples/cra-kitchen-sink/src/stories/__snapshots__/index.stories.storyshot
  examples/official-storybook/components/DocgenButton.js
  examples/official-storybook/stories/__snapshots__/addon-info.stories.storyshot
Labels: bug

#3403 upgrade docgen to 2.0rc
  app/react/package.json
  examples/official-storybook/components/NamedExportButton.js
  examples/official-storybook/stories/__snapshots__/addon-info.stories.storyshot
  examples/official-storybook/stories/addon-info.stories.js
  yarn.lock
Labels: cleanup, dependencies, maintenance

#3373 Use per-story parameters in Notes addon
  addons/notes/README.md
  addons/notes/src/__tests__/index.js
  addons/notes/src/index.js
  app/mithril/src/client/preview/render.js
  examples/angular-cli/src/stories/addon-notes.stories.ts
  examples/cra-kitchen-sink/src/stories/index.stories.js
  examples/mithril-kitchen-sink/src/stories/addon-notes.stories.js
  examples/official-storybook/stories/__snapshots__/addon-notes.stories.storyshot
  examples/official-storybook/stories/addon-notes.stories.js
  examples/polymer-cli/src/stories/addon-notes.stories.js
  examples/vue-kitchen-sink/src/stories/addon-notes.stories.js
Labels: addon: notes, feature request

#3415 Add a link to learnstorybook to get started guide
  docs/src/pages/basics/quick-start-guide/index.md
Labels: documentation

#3414 viewport-addon: configure => configureViewport
  addons/viewport/README.md
  addons/viewport/preview.js
  addons/viewport/src/preview/index.js
  addons/viewport/src/preview/tests/index.test.js
  examples/official-storybook/config.js
Labels: addon: viewport, maintenance

#3418 Storyshots integrity tests options
  addons/storyshots/src/getIntegrityOptions.js
  addons/storyshots/src/index.js
  addons/storyshots/stories/storyshot.test.js
  examples/angular-cli/angularshots.test.js
  examples/cra-kitchen-sink/src/storyshots.test.js
  examples/official-storybook/tests/storyshots.test.js
  examples/vue-kitchen-sink/vueshots.test.js
Labels: addon: storyshots, bug, patch

#3419 Storyshots integrity tests fixes - README
  addons/storyshots/README.md
Labels: addon: storyshots, documentation, patch

#3420 doc(addon-jest): fix option name
  addons/jest/README.md
Labels: documentation, patch

#3432 Serialize boolean type only for non-nullable values
  addons/knobs/src/components/types/Boolean.js
Labels: addon: knobs, bug, patch

#3409 fixed Duplicate declaration h
  lib/cli/generators/VUE/template/stories/index.stories.js
  lib/cli/test/snapshots/vue/stories/index.stories.js
Labels: bug

#3433 Add lit-html support
  addons/knobs/src/polymer/WrapStory.html
  app/polymer/package.json
  app/polymer/src/client/preview/render.js
  examples/polymer-cli/package.json
  examples/polymer-cli/src/stories/addon-knobs.stories.js
  examples/polymer-cli/src/stories/custom-rendering.stories.js
  yarn.lock
Labels: app: polymer, feature request

#3337 Mobile device view: toggling stories panel with ☰ button
  addons/notes/src/index.js
  examples/cra-kitchen-sink/.storybook/config.js
  lib/ui/src/modules/shortcuts/index.js
  lib/ui/src/modules/ui/components/__snapshots__/header.stories.storyshot
  lib/ui/src/modules/ui/components/header.js
  lib/ui/src/modules/ui/components/header.stories.js
  lib/ui/src/modules/ui/components/header.test.js
  lib/ui/src/modules/ui/components/layout/index.js
  lib/ui/src/modules/ui/components/stories_panel/__snapshots__/header.stories.storyshot
  lib/ui/src/modules/ui/components/stories_panel/__snapshots__/index.stories.storyshot
  lib/ui/src/modules/ui/components/stories_panel/header.stories.js
  lib/ui/src/modules/ui/components/stories_panel/index.js
  lib/ui/src/modules/ui/components/stories_panel/index.stories.js
  lib/ui/src/modules/ui/components/stories_panel/index.test.js
  lib/ui/src/modules/ui/components/stories_panel/stories_tree/index.test.js
  lib/ui/src/modules/ui/containers/header.js
  lib/ui/src/modules/ui/containers/header.test.js
  lib/ui/src/modules/ui/containers/layout.js
  lib/ui/src/modules/ui/containers/stories_panel.js
  lib/ui/src/modules/ui/containers/stories_panel.test.js
  lib/ui/src/modules/ui/libs/is_mobile_device.js
  lib/ui/src/modules/ui/libs/is_mobile_device.test.js
  lib/ui/src/modules/ui/routes.js
Labels: feature request, ui

#3445 Bring slack logo back to the Footer
  docs/src/components/Footer/index.js
  docs/src/pages/_users.yml
Labels: documentation

#3422 Refactor templates into core
  app/angular/src/client/preview/angular/helpers.ts
  app/angular/src/server/config/webpack.config.js
  app/angular/src/server/config/webpack.config.prod.js
  app/angular/src/server/index.html.ejs
  app/mithril/src/server/config/webpack.config.js
  app/mithril/src/server/config/webpack.config.prod.js
  app/mithril/src/server/index.html.ejs
  app/polymer/package.json
  app/polymer/src/server/config/polyfills.js
  app/polymer/src/server/config/webpack.config.js
  app/polymer/src/server/config/webpack.config.prod.js
  app/polymer/src/server/iframe.html.ejs
  app/polymer/src/server/index.html.ejs
  app/react-native/src/server/config/webpack.config.js
  app/react-native/src/server/config/webpack.config.prod.js
  app/react-native/src/server/index.html.ejs
  app/react/src/server/config/globals.js
  app/react/src/server/config/webpack.config.js
  app/react/src/server/config/webpack.config.prod.js
  app/react/src/server/iframe.html.ejs
  app/react/src/server/index.html.ejs
  app/vue/src/server/config/globals.js
  app/vue/src/server/config/webpack.config.js
  app/vue/src/server/config/webpack.config.prod.js
  app/vue/src/server/iframe.html.ejs
  app/vue/src/server/index.html.ejs
  examples/polymer-cli/src/stories/index.stories.js
  lib/core/server.js
  lib/core/src/server/iframe.html.ejs
  lib/core/src/server/index.html.ejs
Labels: app: angular, app: mithril, app: polymer, app: react, app: react-native, app: vue, core, maintenance

#3453 Change yarn detection
  lib/cli/lib/has_yarn.js
Labels: bug, cli, patch

#3463 Update webpack-hot-middleware to fix HMR
  app/angular/package.json
  app/mithril/package.json
  app/polymer/package.json
  app/react-native/package.json
  app/react/package.json
  app/vue/package.json
  lib/core/package.json
  yarn.lock
Labels: dependencies:update, patch

#3467 Upgrade sass-loader to 7.0.1 & stop bringing node-sass bin to each user
  app/angular/package.json
  docs/src/pages/basics/guide-angular/index.md
  yarn.lock
Labels: app: angular, dependencies:update

#3473 Knobs: add escapeHTML option; use it by default in Vue, Angular, and Polymer
  addons/knobs/README.md
  addons/knobs/package.json
  addons/knobs/src/KnobManager.js
  addons/knobs/src/angular/index.js
  addons/knobs/src/base.js
  addons/knobs/src/components/types/Button.js
  addons/knobs/src/mithril/index.js
  addons/knobs/src/polymer/index.js
  addons/knobs/src/react/WrapStory.js
  addons/knobs/src/react/index.js
  addons/knobs/src/vue/index.js
  examples/angular-cli/src/stories/__snapshots__/addon-knobs.stories.storyshot
  examples/angular-cli/src/stories/addon-knobs.stories.ts
  examples/mithril-kitchen-sink/src/stories/addon-knobs.stories.js
  examples/official-storybook/stories/__snapshots__/addon-knobs.stories.storyshot
  examples/official-storybook/stories/addon-knobs.stories.js
  examples/polymer-cli/src/stories/addon-knobs.stories.js
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-knobs.stories.storyshot
  examples/vue-kitchen-sink/src/stories/addon-knobs.stories.js
  yarn.lock
Labels: BREAKING CHANGE, addon: knobs, app: angular, app: polymer, app: vue, feature request, security

#3457 Refactor error and "no preview" views into core
  app/angular/package.json
  app/angular/src/client/preview/angular/components/error.component.ts
  app/angular/src/client/preview/angular/components/no-preview.component.ts
  app/angular/src/client/preview/angular/helpers.ts
  app/angular/src/client/preview/angular/types.ts
  app/angular/src/client/preview/render.js
  app/angular/src/server/config/globals.js
  app/mithril/package.json
  app/mithril/src/client/preview/error_display.js
  app/mithril/src/client/preview/render.js
  app/mithril/src/server/config/globals.js
  app/polymer/package.json
  app/polymer/src/client/preview/errorpreview.js
  app/polymer/src/client/preview/nopreview.js
  app/polymer/src/client/preview/render.js
  app/react-native/src/bin/storybook-start.js
  app/react/package.json
  app/react/src/client/preview/error_display.js
  app/react/src/client/preview/render.js
  app/vue/package.json
  app/vue/src/client/preview/ErrorDisplay.vue
  app/vue/src/client/preview/NoPreview.vue
  app/vue/src/client/preview/render.js
  lib/core/package.json
  lib/core/src/client/preview/start.js
  lib/core/src/server/iframe.html.ejs
  yarn.lock
Labels: app: angular, app: mithril, app: polymer, app: react, app: vue, core, maintenance

#3474 Update README for appropriate test watch command
  README.md
Labels: documentation, maintenance

#3470 Upgrade redux to 4.0.0
  lib/core/package.json
  yarn.lock
Labels: core, dependencies:update

#3459 Add option to clear action logger
  addons/actions/README.md
  addons/actions/src/containers/ActionLogger/index.js
  addons/actions/src/manager.js
  addons/actions/src/preview/__tests__/configureActions.test.js
  addons/actions/src/preview/action.js
  addons/actions/src/preview/configureActions.js
  examples/official-storybook/stories/__snapshots__/addon-actions.stories.storyshot
  examples/official-storybook/stories/addon-actions.stories.js
Labels: addon: actions, feature request

#3482 Add IStory interface.
  app/angular/index.d.ts
Labels: app: angular, feature request, typescript

#3485 Don't try to access the devtools hook if we are cross-origin
  app/react/src/server/config/globals.js
  app/vue/src/server/config/globals.js
Labels: app: react, bug, compatibility with other tools, patch

#3488 feat: add Vue support to @addons/background
  addons/background/README.md
  addons/background/package.json
  addons/background/src/__tests__/vue.js
  addons/background/src/vue.js
  addons/background/vue.js
  examples/vue-kitchen-sink/.storybook/addons.js
  examples/vue-kitchen-sink/package.json
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-backgrounds.stories.storyshot
  examples/vue-kitchen-sink/src/stories/addon-backgrounds.stories.js
Labels: addon: backgrounds, app: vue, feature request

#3468 Add excludedPropTypes as an option to info addon
  addons/info/README.md
  addons/info/package.json
  addons/info/src/__snapshots__/index.test.js.snap
  addons/info/src/components/PropTable.js
  addons/info/src/components/PropTable.test.js
  addons/info/src/components/Story.js
  addons/info/src/components/__snapshots__/PropTable.test.js.snap
  addons/info/src/index.js
  examples/official-storybook/stories/__snapshots__/addon-info.stories.storyshot
  examples/official-storybook/stories/addon-info.stories.js
  yarn.lock
Labels: addon: info, feature request

#3352 Added `actions` to addon-actions to create multiple actions
  addons/actions/README.md
  addons/actions/src/index.js
  addons/actions/src/preview/actions.js
  addons/actions/src/preview/decorateAction.js
  addons/actions/src/preview/index.js
  examples/angular-cli/src/app/app.component.spec.ts
  examples/mithril-kitchen-sink/src/stories/addon-actions.stories.js
  examples/official-storybook/stories/__snapshots__/addon-actions.stories.storyshot
  examples/official-storybook/stories/addon-actions.stories.js
  examples/vue-kitchen-sink/src/stories/Button.vue
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-actions.stories.storyshot
  examples/vue-kitchen-sink/src/stories/addon-actions.stories.js
Labels: addon: actions, feature request

#3494 Fix auto focus of searchbox
  lib/ui/src/modules/ui/components/search_box.js
Labels: bug, ui

#3496 Add latest coursera-ui link
  docs/src/pages/examples/_examples.yml
Labels: documentation, patch

#3500 jest-image-snapshot version to ^2.4.1
  addons/storyshots/package.json
Labels: dependencies:update
