Repository storybookjs/storybook, pull requests merged in 2018-03, with the labels that each got.

#3129 Updated testIds in RN StoryListView to use kind
  app/react-native/src/preview/components/StoryListView/index.js
Labels: app: react-native, bug, patch

#3141 Use WatchMissingNodeModulesPlugin from react-dev-utils package
  app/angular/src/server/config/webpack.config.js
  app/polymer/src/server/config/webpack.config.js
  app/react-native/package.json
  app/react-native/src/server/config/utils.js
  app/react-native/src/server/config/webpack.config.js
  app/react/src/server/config/webpack.config.js
  app/vue/src/server/config/webpack.config.js
  lib/core/server.js
  lib/core/src/server/config/WatchMissingNodeModulesPlugin.js
Labels: app: angular, app: polymer, app: react, app: react-native, app: vue, dependencies, maintenance

#3142 Unset background when switching to a non-background story
  addons/background/src/BackgroundPanel.js
Labels: addon: backgrounds, bug, patch

#3154 [STORYSOURCE] Add ability to select stories from inside of the StoryPanel
  addons/storysource/package.json
  addons/storysource/src/StoryPanel.js
  addons/storysource/src/manager.js
  addons/storysource/src/preview.js
Labels: addon: storysource

#3164 fix: removed dead link in doc/website
  docs/src/pages/basics/introduction/index.md
Labels: documentation, patch

#3161 Move polymer loader to peerDependencies
  app/polymer/package.json
  examples/polymer-cli/package.json
  lib/cli/generators/POLYMER/index.js
  lib/cli/test/snapshots/polymer/package.json
  package.json
  yarn.lock
Labels: app: polymer, dependencies

#3169 Move "@types/react" to dev dependencies
  addons/notes/package.json
Labels: addon: notes, dependencies

#3173 Fix broken storybook website link in Addon-gallery
  docs/src/pages/addons/addon-gallery/index.md
Labels: documentation, patch

#3174 Fix broken storybook website link in viewport
  addons/viewport/README.md
Labels: documentation, patch

#3183 use exact versions for cross-dependencies between our own packages
  addons/a11y/package.json
  addons/actions/package.json
  addons/graphql/package.json
  addons/info/package.json
  addons/jest/package.json
  addons/knobs/package.json
  addons/links/package.json
  addons/notes/package.json
  addons/options/package.json
  addons/storyshots/package.json
  addons/storysource/package.json
  addons/viewport/package.json
  app/angular/package.json
  app/polymer/package.json
  app/react-native/package.json
  app/react/package.json
  app/vue/package.json
  examples/angular-cli/package.json
  examples/cra-kitchen-sink/package.json
  examples/official-storybook/package.json
  examples/polymer-cli/package.json
  examples/vue-kitchen-sink/package.json
  lib/channel-postmessage/package.json
  lib/channel-websocket/package.json
  lib/cli/lib/helpers.js
  lib/cli/package.json
  lib/components/package.json
  lib/core/package.json
  lib/ui/package.json
Labels: dependencies

#3180 Delaying update of height and width in Layout
  lib/ui/package.json
  lib/ui/src/modules/ui/components/layout/index.js
  yarn.lock
Labels: performance issue, ui

#3192 Corrected 2 typos in react-ui-testing page
  docs/src/pages/testing/react-ui-testing/index.md
Labels: documentation, patch

#3149 Feature-freeze master
  dangerfile.js
Labels: maintenance, patch

#3156 Add 'waitUntil' option to puppeteer of storyshots
  addons/storyshots/src/test-body-image-snapshot.js
Labels: addon: storyshots

#3213 Fix missing declaration in Angular example
  examples/angular-cli/src/stories/__snapshots__/metadata-individual.stories.storyshot
  examples/angular-cli/src/stories/metadata-individual.stories.ts
Labels: app: angular, documentation, maintenance, patch

#3228 Snyk badge to point at repo HEAD
  README.md
Labels: documentation, patch

#3208 adding fix for angular/cli (documentation)
  docs/src/pages/basics/guide-angular/index.md
Labels: documentation

#3231 (#2516) Add disclaimer that egghead link is paid content
  addons/storyshots/README.md
Labels: documentation

#3233 Add example for @ngrx/store
  examples/angular-cli/package.json
  examples/angular-cli/src/stories/__snapshots__/ngrx-store.stories.storyshot
  examples/angular-cli/src/stories/ngrx-store.stories.ts
  examples/angular-cli/src/stories/ngrx/WithStoreComponent.ts
  yarn.lock
Labels: app: angular, documentation

#3243 Bind window access if `window` is defined; add `addons channel` access too
  .eslintrc.js
  app/angular/src/client/preview/index.js
  app/polymer/src/client/preview/index.js
  app/react/src/client/preview/index.js
  app/vue/src/client/preview/index.js
Labels: api: stories, feature request

#3099 viewport-addon: Make the addon configurable
  addons/viewport/README.md
  addons/viewport/package.json
  addons/viewport/preview.js
  addons/viewport/src/components/Panel.js
  addons/viewport/src/components/tests/viewportInfo.spec.js
  addons/viewport/src/manager/components/Panel.js
  addons/viewport/src/manager/components/RotateViewport.js
  addons/viewport/src/manager/components/SelectViewport.js
  addons/viewport/src/manager/components/styles.js
  addons/viewport/src/manager/components/tests/Panel.test.js
  addons/viewport/src/manager/components/tests/RotateViewport.test.js
  addons/viewport/src/manager/components/tests/SelectViewport.test.js
  addons/viewport/src/manager/components/tests/viewportInfo.spec.js
  addons/viewport/src/manager/components/viewportInfo.js
  addons/viewport/src/manager/index.js
  addons/viewport/src/manager/tests/index.test.js
  addons/viewport/src/preview/index.js
  addons/viewport/src/preview/tests/index.test.js
  addons/viewport/src/shared/index.js
  examples/official-storybook/config.js
  examples/official-storybook/extra-viewports.json
  examples/official-storybook/package.json
  examples/official-storybook/stories/__snapshots__/addon-viewport.stories.storyshot
  examples/official-storybook/stories/addon-viewport.stories.js
Labels: addon: viewport, feature request, ready

#3128 #2445 Add min, value, and max labels to range knob
  addons/knobs/src/components/types/Number.js
Labels: addon: knobs, feature request, ready

#2679 Add parameters to stories in the story store, and render them in app layers
  app/angular/index.d.ts
  app/angular/src/client/index.js
  app/angular/src/client/preview/angular/helpers.ts
  app/angular/src/client/preview/angular/types.ts
  app/angular/src/client/preview/index.js
  app/angular/src/client/preview/render.js
  app/polymer/src/client/index.js
  app/polymer/src/client/preview/index.js
  app/polymer/src/client/preview/render.js
  app/react-native/src/index.js
  app/react-native/src/preview/components/StoryView/index.js
  app/react-native/src/preview/index.js
  app/react/src/client/index.js
  app/react/src/client/preview/index.js
  app/react/src/client/preview/render.js
  app/vue/src/client/index.js
  app/vue/src/client/preview/index.js
  app/vue/src/client/preview/render.js
  examples/angular-cli/src/stories/__snapshots__/core.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/custom-styles.stories.storyshot
  examples/angular-cli/src/stories/core.stories.ts
  examples/crna-kitchen-sink/storybook/stories/index.js
  examples/official-storybook/stories/__snapshots__/core.stories.storyshot
  examples/official-storybook/stories/core.stories.js
  examples/polymer-cli/src/stories/core.stories.js
  examples/vue-kitchen-sink/.babelrc
  examples/vue-kitchen-sink/src/stories/__snapshots__/core.stories.storyshot
  examples/vue-kitchen-sink/src/stories/core.stories.js
  lib/core/src/client/preview/client_api.js
  lib/core/src/client/preview/client_api.test.js
  lib/core/src/client/preview/story_store.js
  lib/core/src/client/preview/story_store.test.js
Labels: app: angular, app: polymer, app: react, app: react-native, app: vue, core, feature request, ready

#3237 addon-options: Make shortcuts in storybook optional
  addons/options/README.md
  examples/cra-kitchen-sink/.storybook/config.js
  lib/ui/src/modules/shortcuts/actions/shortcuts.js
  lib/ui/src/modules/shortcuts/index.js
  lib/ui/src/modules/ui/components/stories_panel/header.js
  lib/ui/src/modules/ui/components/stories_panel/index.js
  lib/ui/src/modules/ui/containers/stories_panel.js
Labels: addon: options, feature request

#3076 Core: upgrade autoprefixer from 7.2.6 to 8.0.0 & allow configuring browser list externally
  app/angular/src/client/preview/angular/helpers.ts
  app/angular/src/client/preview/angular/types.ts
  lib/core/package.json
  lib/core/src/server/config/defaults/webpack.config.js
  yarn.lock
Labels: core, dependencies:update, feature request, ready

#3251 Angular: use resolveLoader from cliCommonConfig
  app/angular/src/server/angular-cli_config.js
Labels: app: angular, babel / webpack, bug, patch

#3247 extend documentation on how to use knob in Angular
  addons/knobs/README.md
Labels: addon: knobs, app: angular, documentation, patch

#3252 Fix storyshots renderer and serializer options
  addons/storyshots/README.md
  addons/storyshots/src/index.js
  addons/storyshots/stories/__snapshots__/storyshot.enzyme.test.js.snap
Labels: addon: storyshots, bug, patch

#3255 Object proptype is shown in addon-info proptable
  addons/info/src/components/types/Object.js
  addons/info/src/components/types/ObjectType.js
  addons/info/src/components/types/PrettyPropType.js
Labels: addon: info, bug, patch

#3221 Using svg-url-loader for webpack configs that accept svgs
  docs/.storybook/webpack.config.js
  examples/vue-kitchen-sink/package.json
  examples/vue-kitchen-sink/webpack.config.js
  lib/core/package.json
  lib/core/src/server/config/defaults/webpack.config.js
  yarn.lock
Labels: babel / webpack, feature request

#3197 Update links of the live examples for the new release
  README.md
  docs/src/pages/basics/live-examples/index.md
Labels: documentation

#3257 Update ISSUE_TEMPLATE to help define work to be done
  .github/ISSUE_TEMPLATE.md
Labels: maintenance

#3259 Refactor all startup code into `@storybook/core` also
  app/angular/package.json
  app/angular/src/client/preview/index.js
  app/polymer/package.json
  app/polymer/src/client/preview/index.js
  app/react/package.json
  app/react/src/client/preview/index.js
  app/vue/package.json
  app/vue/src/client/preview/index.js
  lib/core/package.json
  lib/core/src/client/preview/index.js
  lib/core/src/client/preview/start.js
  yarn.lock
Labels: core, maintenance

#3266 Add uber example to docs site
  docs/src/pages/examples/_examples.yml
  docs/src/pages/examples/thumbnails/uber.png
Labels: documentation

#3273 Close inactive issues in 30 days
  .github/stale.yml
Labels: maintenance

#3275 Refactor CLI to use `npm` and `yarn` instead of third party packages
  lib/cli/lib/helpers.js
  lib/cli/lib/latest_version.js
  lib/cli/package.json
  yarn.lock
Labels: bug, cli, dependencies, patch

#3272 Remove onDeviceUI animation to support Detox screenshots
  app/react-native/src/preview/components/OnDeviceUI/index.js
  app/react-native/src/preview/components/OnDeviceUI/style.js
  app/react-native/src/preview/index.js
Labels: bug

#3284 [Addon Storysource] Add a "parser" option to the README
  addons/storysource/README.md
Labels: addon: storysource, documentation

#3296 Create CODEOWNERS from git history
  .github/CODEOWNERS
Labels: maintenance

#3295 remove confusing drop shadow from info body sections
  addons/info/src/__snapshots__/index.test.js.snap
  addons/info/src/components/Story.js
  examples/cra-kitchen-sink/src/stories/__snapshots__/index.stories.storyshot
  examples/official-storybook/stories/__snapshots__/addon-info.stories.storyshot
Labels: cleanup, ui

#2860 files knob
  addons/knobs/README.md
  addons/knobs/example/stories/index.js
  addons/knobs/src/angular/index.js
  addons/knobs/src/base.js
  addons/knobs/src/components/types/Files.js
  addons/knobs/src/components/types/index.js
  addons/knobs/src/index.js
  addons/knobs/src/polymer/index.js
  addons/knobs/src/react/index.js
  addons/knobs/src/vue/index.js
  examples/official-storybook/stories/__snapshots__/addon-knobs.stories.storyshot
  examples/official-storybook/stories/addon-knobs.stories.js
Labels: addon: knobs, feature request, ready

#3297 CLI: add error handling for latest_version helper
  lib/cli/lib/latest_version.js
  lib/cli/test/run_tests.sh
Labels: bug, cli

#3298 [Addon-storyshots] Remove default options on "goto" call
  addons/storyshots/README.md
  addons/storyshots/src/test-body-image-snapshot.js
Labels: addon: storyshots, bug

#3285 Feature request: adding aXe configuration for a11y addon
  addons/a11y/README.md
  addons/a11y/src/A11yManager.js
  addons/a11y/src/components/WrapStory.js
  addons/a11y/src/index.js
Labels: addon: a11y, feature request

#3304 Major upgrades for devDependencies
  examples/angular-cli/package.json
  lib/cli/package.json
  lib/ui/src/modules/ui/components/search_box.test.js
  lib/ui/src/modules/ui/components/stories_panel/index.test.js
  package.json
  yarn.lock
Labels: dependencies:update, maintenance

#3283 Viewport-addon Allow setting callback to be called whenever viewport changes
  addons/viewport/README.md
  addons/viewport/package.json
  addons/viewport/src/manager/components/Panel.js
  addons/viewport/src/manager/components/tests/Panel.test.js
  addons/viewport/src/preview/components/Viewport.js
  addons/viewport/src/preview/components/tests/Viewport.test.js
  addons/viewport/src/preview/index.js
  addons/viewport/src/preview/tests/index.test.js
  addons/viewport/src/preview/withViewport.js
  addons/viewport/src/shared/index.js
  examples/official-storybook/extra-viewports.json
  examples/official-storybook/stories/Logger.js
  examples/official-storybook/stories/__snapshots__/addon-events.stories.storyshot
  examples/official-storybook/stories/__snapshots__/addon-viewport.stories.storyshot
  examples/official-storybook/stories/addon-events.stories.js
  examples/official-storybook/stories/addon-viewport.stories.js
Labels: addon: viewport, feature request

#3306 Update react-native symlink resolving and add support for flow
  app/react-native/package.json
  app/react-native/src/bin/storybook-start.js
Labels: app: react-native, bug, maintenance

#3309 Update Docs to use new Notes form and use yarn for addon install
  addons/notes/README.md
  docs/src/pages/addons/using-addons/index.md
Labels: documentation, patch

#3312 [Hotfix] Use published webpack 4 compatible fork of react-dev-utils
  app/angular/package.json
  app/angular/src/server/config/webpack.config.js
  app/angular/src/server/config/webpack.config.prod.js
  app/mithril/package.json
  app/mithril/src/server/config/webpack.config.js
  app/mithril/src/server/config/webpack.config.prod.js
  app/polymer/package.json
  app/polymer/src/server/config/webpack.config.js
  app/polymer/src/server/config/webpack.config.prod.js
  app/react-native/package.json
  app/react-native/src/server/config/webpack.config.js
  app/react/package.json
  app/react/src/server/config/webpack.config.js
  app/react/src/server/config/webpack.config.prod.js
  app/vue/package.json
  app/vue/src/server/config/webpack.config.js
  app/vue/src/server/config/webpack.config.prod.js
  yarn.lock
Labels: bug

#3319 Add babel-core dev-deps
  examples/angular-cli/package.json
Labels: dependencies, maintenance
