Repository storybookjs/storybook, pull requests merged in 2018-06, with the labels that each got.

#3660 storysource: Add default parser option. Support prettier v1.13.0
  addons/storysource/package.json
  addons/storysource/src/loader/generate-helpers.js
  addons/storysource/src/loader/index.js
  addons/storysource/src/loader/inject-decorator.js
  addons/storysource/src/loader/inject-decorator.test.js
  addons/storysource/src/loader/parsers/parser-js.js
  addons/storysource/src/loader/parsers/parser-ts.js
  yarn.lock
Labels: addon: storysource, bug, patch

#3560 Add links to stable docs
  addons/notes/README.md
Labels: documentation

#3491 angular-cli 6 (with webpack 4) compatibility
  app/angular/package.json
  app/angular/src/server/angular-cli_config.js
  app/angular/src/server/angular-cli_utils.js
  app/angular/src/server/wrapInitialConfig.js
  app/react-native/readme.md
  examples/angular-cli/.angular-cli.json
  examples/angular-cli/.gitignore
  examples/angular-cli/README.md
  examples/angular-cli/angular.json
  examples/angular-cli/package.json
  examples/angular-cli/src/stories/__snapshots__/addon-actions.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-background.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-centered.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-jest.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-knobs.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-links.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-notes.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/app.component.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/core.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/custom-providers.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/custom-styles.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/index.storyshot
  examples/angular-cli/src/stories/__snapshots__/metadata-combined.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/metadata-individual.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/metadata-shared.stories.storyshot
  examples/angular-cli/src/stories/component-with-di/__snapshots__/di.component.stories.storyshot
  examples/angular-cli/src/stories/component-with-style/__snapshots__/styled.component.stories.storyshot
  examples/angular-cli/src/stories/customControlValueAccessor/__snapshots__/custom-cva-component.stories.storyshot
  examples/angular-cli/src/stories/inheritance/__snapshots__/inheritance.stories.storyshot
  package.json
  yarn.lock
Labels: BREAKING CHANGE, app: angular, compatibility with other tools, ready

#3717 [Storyshots] Remove deprecated props from storyshots
  addons/storyshots/src/index.js
Labels: BREAKING CHANGE, addon: storysource

#3731 Remove linebreaks in notes text when it are html elements
  addons/notes/src/register.js
  examples/official-storybook/stories/__snapshots__/addon-notes.stories.storyshot
  examples/official-storybook/stories/addon-notes.stories.js
Labels: addon: notes, bug, patch

#3727 Add addon-backgrounds to polymer-cli examples
  examples/polymer-cli/.storybook/addons.js
  examples/polymer-cli/package.json
  examples/polymer-cli/src/stories/addon-backgrounds.stories.js
Labels: addon: backgrounds, app: polymer, documentation

#3697 Use parameters for info addon
  addons/info/README.md
  addons/info/package.json
  addons/info/src/__snapshots__/index.test.js.snap
  addons/info/src/index.js
  examples/official-storybook/stories/__snapshots__/addon-info.stories.storyshot
  examples/official-storybook/stories/addon-info.stories.js
  lib/core/src/client/preview/client_api.js
Labels: addon: info, feature request

#3742 Extract imageSnapshots to a separate package
  .circleci/config.yml
  addons/storyshots/README.md
  addons/storyshots/storyshots-core/.eslintrc.js
  addons/storyshots/storyshots-core/.npmignore
  addons/storyshots/storyshots-core/.storybook/config.js
  addons/storyshots/storyshots-core/README.md
  addons/storyshots/storyshots-core/docs/storyshots-fail.png
  addons/storyshots/storyshots-core/docs/storyshots.png
  addons/storyshots/storyshots-core/package.json
  addons/storyshots/storyshots-core/src/angular/app.component.ts
  addons/storyshots/storyshots-core/src/angular/app.token.ts
  addons/storyshots/storyshots-core/src/angular/helpers.ts
  addons/storyshots/storyshots-core/src/angular/loader.js
  addons/storyshots/storyshots-core/src/angular/renderTree.js
  addons/storyshots/storyshots-core/src/angular/types.ts
  addons/storyshots/storyshots-core/src/config-loader.js
  addons/storyshots/storyshots-core/src/frameworkLoader.js
  addons/storyshots/storyshots-core/src/getIntegrityOptions.js
  addons/storyshots/storyshots-core/src/hasDependency.js
  addons/storyshots/storyshots-core/src/html/loader.js
  addons/storyshots/storyshots-core/src/html/renderTree.js
  addons/storyshots/storyshots-core/src/index.js
  addons/storyshots/storyshots-core/src/react/loader.js
  addons/storyshots/storyshots-core/src/react/renderShallowTree.js
  addons/storyshots/storyshots-core/src/react/renderTree.js
  addons/storyshots/storyshots-core/src/require_context.js
  addons/storyshots/storyshots-core/src/rn/loader.js
  addons/storyshots/storyshots-core/src/test-bodies.js
  addons/storyshots/storyshots-core/src/utils.js
  addons/storyshots/storyshots-core/src/utils.test.js
  addons/storyshots/storyshots-core/src/vue/loader.js
  addons/storyshots/storyshots-core/src/vue/renderTree.js
  addons/storyshots/storyshots-core/stories/__snapshots__/storyshot.enzyme.test.js.snap
  addons/storyshots/storyshots-core/stories/__snapshots__/storyshot.shallow.test.js.snap
  addons/storyshots/storyshots-core/stories/__snapshots__/storyshot.shallowWithOptions.test.js.snap
  addons/storyshots/storyshots-core/stories/directly_required/__snapshots__/index.storyshot
  addons/storyshots/storyshots-core/stories/directly_required/index.js
  addons/storyshots/storyshots-core/stories/required_with_context/Button.stories.js
  addons/storyshots/storyshots-core/stories/required_with_context/Welcome.stories.js
  addons/storyshots/storyshots-core/stories/required_with_context/__snapshots__/Button.stories.storyshot
  addons/storyshots/storyshots-core/stories/required_with_context/__snapshots__/Welcome.stories.storyshot
  addons/storyshots/storyshots-core/stories/storyshot.enzyme.test.js
  addons/storyshots/storyshots-core/stories/storyshot.renderOnly.test.js
  addons/storyshots/storyshots-core/stories/storyshot.renderWithOptions.test.js
  addons/storyshots/storyshots-core/stories/storyshot.shallow.test.js
  addons/storyshots/storyshots-core/stories/storyshot.shallowWithOptions.test.js
  addons/storyshots/storyshots-core/stories/storyshot.test.js
  addons/storyshots/storyshots-core/tsconfig.json
  addons/storyshots/storyshots-puppeteer/README.md
  addons/storyshots/storyshots-puppeteer/package.json
  addons/storyshots/storyshots-puppeteer/src/index.js
  examples/official-storybook/image-snapshots/storyshots-image.runner.js
  examples/official-storybook/package.json
  package.json
Labels: BREAKING CHANGE, addon: storyshots, ready

#3741 [documentation] Update and fix addon-info options documentation
  addons/info/README.md
Labels: documentation

#3751 angular-cli 6 assets as a glob-object compatibility fix
  app/angular/src/server/angular-cli_utils.js
Labels: app: angular, bug

#3748 Try to fix linter issues
  .circleci/config.yml
  app/marko/package.json
  examples/marko-cli/package.json
  examples/marko-cli/src/components/marko-widgets/button/index.js
  examples/marko-cli/src/components/marko-widgets/hello/index.js
  package.json
  yarn.lock
Labels: maintenance, ready

#3745 Storyshots addon refactoring
  MIGRATION.md
  addons/storyshots/storyshots-core/README.md
  addons/storyshots/storyshots-core/src/Stories2SnapsConverter.js
  addons/storyshots/storyshots-core/src/Stories2SnapsConverter.test.js
  addons/storyshots/storyshots-core/src/api/getIntegrityOptions.js
  addons/storyshots/storyshots-core/src/api/index.js
  addons/storyshots/storyshots-core/src/api/integrityTestTemplate.js
  addons/storyshots/storyshots-core/src/api/snapshotsTestsTemplate.js
  addons/storyshots/storyshots-core/src/frameworkLoader.js
  addons/storyshots/storyshots-core/src/frameworks/angular/app.component.ts
  addons/storyshots/storyshots-core/src/frameworks/angular/app.token.ts
  addons/storyshots/storyshots-core/src/frameworks/angular/helpers.ts
  addons/storyshots/storyshots-core/src/frameworks/angular/loader.js
  addons/storyshots/storyshots-core/src/frameworks/angular/renderTree.js
  addons/storyshots/storyshots-core/src/frameworks/angular/types.ts
  addons/storyshots/storyshots-core/src/frameworks/config-loader.js
  addons/storyshots/storyshots-core/src/frameworks/frameworkLoader.js
  addons/storyshots/storyshots-core/src/frameworks/hasDependency.js
  addons/storyshots/storyshots-core/src/frameworks/html/loader.js
  addons/storyshots/storyshots-core/src/frameworks/html/renderTree.js
  addons/storyshots/storyshots-core/src/frameworks/react/loader.js
  addons/storyshots/storyshots-core/src/frameworks/react/renderShallowTree.js
  addons/storyshots/storyshots-core/src/frameworks/react/renderTree.js
  addons/storyshots/storyshots-core/src/frameworks/require_context.js
  addons/storyshots/storyshots-core/src/frameworks/rn/loader.js
  addons/storyshots/storyshots-core/src/frameworks/vue/loader.js
  addons/storyshots/storyshots-core/src/frameworks/vue/renderTree.js
  addons/storyshots/storyshots-core/src/index.js
  addons/storyshots/storyshots-core/src/test-bodies.js
  addons/storyshots/storyshots-core/src/utils.js
Labels: BREAKING CHANGE, addon: storyshots, ready

#3747 Storyshots advanced config options
  addons/storyshots/storyshots-core/.storybook/configTest.js
  addons/storyshots/storyshots-core/README.md
  addons/storyshots/storyshots-core/src/frameworks/angular/loader.js
  addons/storyshots/storyshots-core/src/frameworks/config-loader.js
  addons/storyshots/storyshots-core/src/frameworks/configure.js
  addons/storyshots/storyshots-core/src/frameworks/html/loader.js
  addons/storyshots/storyshots-core/src/frameworks/react/loader.js
  addons/storyshots/storyshots-core/src/frameworks/rn/loader.js
  addons/storyshots/storyshots-core/src/frameworks/vue/loader.js
  addons/storyshots/storyshots-core/src/test-bodies.js
  addons/storyshots/storyshots-core/stories/directly_required/__snapshots__/index.foo
  addons/storyshots/storyshots-core/stories/directly_required/__snapshots__/index@Another-_-Button@with-_-some-_-emoji.boo
  addons/storyshots/storyshots-core/stories/directly_required/__snapshots__/index@Another-_-Button@with-_-text.boo
  addons/storyshots/storyshots-core/stories/required_with_context/__snapshots__/Button.stories.foo
  addons/storyshots/storyshots-core/stories/required_with_context/__snapshots__/Welcome.stories.foo
  addons/storyshots/storyshots-core/stories/storyshot.configFunc.test.js
  addons/storyshots/storyshots-core/stories/storyshot.specificConfig.test.js
  addons/storyshots/storyshots-core/stories/storyshot.test.js
  examples/angular-cli/angularshots.test.js
  examples/html-kitchen-sink/tests/htmlshots.test.js
  examples/vue-kitchen-sink/vueshots.test.js
Labels: BREAKING CHANGE, addon: storyshots, ready

#3749 Updated addon docs, removed deprecated Viewport component
  addons/actions/README.md
  addons/info/README.md
  addons/viewport/README.md
Labels: documentation, patch, ready

#3757 Storyshots - Replace require_context.js with babel-plugin-require-context-hook
  .babelrc
  MIGRATION.md
  addons/storyshots/storyshots-core/README.md
  addons/storyshots/storyshots-core/package.json
  addons/storyshots/storyshots-core/src/api/ensureOptionsDefaults.js
  addons/storyshots/storyshots-core/src/api/getIntegrityOptions.js
  addons/storyshots/storyshots-core/src/api/index.js
  addons/storyshots/storyshots-core/src/frameworks/angular/loader.js
  addons/storyshots/storyshots-core/src/frameworks/config-loader.js
  addons/storyshots/storyshots-core/src/frameworks/configure.js
  addons/storyshots/storyshots-core/src/frameworks/html/loader.js
  addons/storyshots/storyshots-core/src/frameworks/react/loader.js
  addons/storyshots/storyshots-core/src/frameworks/require_context.js
  addons/storyshots/storyshots-core/src/frameworks/vue/loader.js
  app/angular/options.js
  app/html/options.js
  app/marko/options.js
  app/mithril/options.js
  app/polymer/options.js
  app/react/options.js
  app/vue/options.js
  examples/vue-kitchen-sink/.babelrc
  lib/core/server.js
  lib/core/src/server/config.js
  package.json
  scripts/jest.init.js
  yarn.lock
Labels: BREAKING CHANGE, addon: storyshots, ready

#3772 Improvements to Info Docgen parsing
  app/react/package.json
  lib/cli/test/snapshots/meteor/package.json
  yarn.lock
Labels: bug

#3774 Add styled-components theme addon
  docs/src/pages/addons/addon-gallery/index.md
Labels: documentation, patch

#3775 [addon-knobs] Allow number knob to be empty
  addons/knobs/src/components/types/Number.js
Labels: bug, patch

#3796 make welcome component work correctly
  examples/marko-cli/src/components/welcome/index.marko
  lib/cli/generators/MARKO/template/stories/components/welcome/index.marko
  lib/cli/test/snapshots/marko/stories/components/welcome/index.marko
Labels: bug

#3795 Fix addon README.md typo mulitple -> multiple
  addons/options/README.md
Labels: documentation, patch
