Repository storybookjs/storybook, pull requests merged in 2018-11, with the labels that each got.

#4671 Report CLI tests to teamcity
  .teamcity/OpenSourceProjects_Storybook/buildTypes/OpenSourceProjects_Storybook_CliTest.kt
  .teamcity/OpenSourceProjects_Storybook/buildTypes/OpenSourceProjects_Storybook_CliTestLatestCra.kt
  lib/cli/test/run_tests.sh
  lib/cli/test/test_latest_cra.sh
  package.json
  scripts/test.js
Labels: maintenance

#4707 Tweaks based on trying to follow this guide
  docs/src/pages/configurations/typescript-config/index.md
Labels: documentation, patch

#4682 Fixes component imports from dist
  app/angular/src/server/angular-cli_config.js
Labels: app: angular, babel / webpack, bug

#4714 feat(react-native): close StoryListView after tap again in the current story
  app/react-native/src/preview/components/OnDeviceUI/index.js
Labels: app: react-native, feature request

#4649 Fix a bug with buildStaticStandalone resolving too early
  lib/core/src/server/build-static.js
Labels: bug, core

#4619 chore(core): update css-loader to latest
  lib/cli/test/fixtures/riot/package.json
  lib/cli/test/fixtures/sfc_vue/package.json
Labels: dependencies:update

#4663 Set zone.js as a peer and dev dependency
  app/angular/package.json
Labels: app: angular, dependencies:update

#4698 Update components/Node.js in info addon
  addons/info/src/__snapshots__/index.test.js.snap
  addons/info/src/components/Node.js
  addons/info/src/components/PropVal.js
  examples/cra-kitchen-sink/src/stories/__snapshots__/index.stories.storyshot
  examples/official-storybook/stories/__snapshots__/addon-info.stories.storyshot
Labels: accessibility, addon: info, other

#4695 Fix css relative asset urls
  app/react/src/server/cra_config.js
  lib/cli/test/fixtures/react_scripts_v2/.gitignore
  lib/cli/test/fixtures/react_scripts_v2/README.md
  lib/cli/test/fixtures/react_scripts_v2/package.json
  lib/cli/test/fixtures/react_scripts_v2/public/favicon.ico
  lib/cli/test/fixtures/react_scripts_v2/public/index.html
  lib/cli/test/fixtures/react_scripts_v2/public/manifest.json
  lib/cli/test/fixtures/react_scripts_v2/src/App.css
  lib/cli/test/fixtures/react_scripts_v2/src/App.js
  lib/cli/test/fixtures/react_scripts_v2/src/App.test.js
  lib/cli/test/fixtures/react_scripts_v2/src/index.css
  lib/cli/test/fixtures/react_scripts_v2/src/index.js
  lib/cli/test/fixtures/react_scripts_v2/src/logo.svg
  lib/cli/test/fixtures/react_scripts_v2/src/serviceWorker.js
Labels: app: react, babel / webpack, bug

#4719 Update release process and `master` becomes the stable branch
  .github/PULL_REQUEST_TEMPLATE.md
  .teamcity/OpenSourceProjects_Storybook/buildTypes/OpenSourceProjects_Storybook_Docs.kt
  README.md
  RELEASES.md
  addons/notes/README.md
  addons/ondevice-notes/README.md
  docs/src/pages/addons/addon-gallery/index.md
  lerna.json
  package.json
Labels: maintenance

#4722 Merge master to next
  .github/PULL_REQUEST_TEMPLATE.md
  .teamcity/OpenSourceProjects_Storybook/buildTypes/OpenSourceProjects_Storybook_Docs.kt
  .teamcity/OpenSourceProjects_Storybook/patches/buildTypes/2b9c73e2-0a6e-47ca-95ae-729cac42be2b.kts
  README.md
  RELEASES.md
  addons/notes/README.md
  addons/ondevice-notes/README.md
  docs/src/pages/addons/addon-gallery/index.md
  lerna.json
  package.json
Labels: maintenance

#4720 Fix tests in node 11 by using `Array#sort` correctly
  addons/info/src/components/Story.js
Labels: addon: info, bug, patch

#4689 Addons Jest - Fix test matching
  addons/jest/src/index.js
Labels: addon: jest, bug, patch

#4683 Addon Viewport - fix "defaultViewport" configuration
  addons/viewport/src/manager/components/Panel.js
  examples/html-kitchen-sink/.storybook/config.js
  examples/html-kitchen-sink/stories/addon-a11y.stories.js
Labels: addon: viewport, bug, patch

#4669 Fix PropTypes in addons/knobs NumberType
  addons/knobs/src/components/types/Number.js
Labels: addon: knobs, bug, patch

#4715 docs(examples): Add Auth0 Cosmos to list of examples
  docs/src/pages/examples/_examples.yml
  docs/src/pages/examples/thumbnails/cosmos.png
Labels: documentation, patch

#4708 Change extensions ordering in webpack config
  lib/core/src/server/config/webpack.config.dev.js
  lib/core/src/server/config/webpack.config.prod.js
Labels: bug, core, patch

#4705 Remove SB deps from cli tests
  addons/ondevice-knobs/package.json
  addons/storyshots/storyshots-puppeteer/package.json
  lib/cli/test/fixtures/react_babel_config_js/package.json
  lib/cli/test/fixtures/react_babel_custom_preset/package.json
  lib/cli/test/fixtures/react_babel_pkg_json/package.json
  lib/cli/test/fixtures/react_babelrc/package.json
  lib/cli/test/fixtures/react_babelrc_js/package.json
  package.json
Labels: dependencies, maintenance, patch

#4721 [storyshots-puppeteer] Allow specifying an existing browser
  addons/storyshots/storyshots-puppeteer/README.md
  addons/storyshots/storyshots-puppeteer/src/index.js
Labels: addon: storyshots, feature request

#4498 fix loader config for cursor images
  lib/core/src/server/config/webpack.config.default.js
Labels: babel / webpack, core, feature request

#4724 Get release/4.0 changes into master
  RELEASES.md
  addons/a11y/package.json
  addons/actions/package.json
  addons/backgrounds/package.json
  addons/centered/package.json
  addons/events/package.json
  addons/google-analytics/package.json
  addons/graphql/package.json
  addons/info/package.json
  addons/jest/package.json
  addons/knobs/package.json
  addons/links/package.json
  addons/notes/package.json
  addons/ondevice-backgrounds/package.json
  addons/ondevice-knobs/package.json
  addons/ondevice-notes/package.json
  addons/options/package.json
  addons/storyshots/storyshots-core/package.json
  addons/storyshots/storyshots-puppeteer/package.json
  addons/storysource/package.json
  addons/viewport/package.json
  app/angular/package.json
  app/ember/package.json
  app/html/package.json
  app/marko/package.json
  app/mithril/package.json
  app/polymer/package.json
  app/react-native/package.json
  app/react/package.json
  app/riot/package.json
  app/svelte/package.json
  app/vue/package.json
  examples/angular-cli/package.json
  examples/cra-kitchen-sink/package.json
  examples/ember-cli/package.json
  examples/html-kitchen-sink/package.json
  examples/marko-cli/package.json
  examples/mithril-kitchen-sink/package.json
  examples/official-storybook/package.json
  examples/polymer-cli/package.json
  examples/riot-kitchen-sink/package.json
  examples/svelte-kitchen-sink/package.json
  examples/vue-kitchen-sink/package.json
  lerna.json
  lib/addons/package.json
  lib/channel-postmessage/package.json
  lib/channel-websocket/package.json
  lib/channels/package.json
  lib/cli/package.json
  lib/client-logger/package.json
  lib/codemod/package.json
  lib/components/package.json
  lib/core-events/package.json
  lib/core/package.json
  lib/node-logger/package.json
  lib/ui/package.json
Labels: maintenance

#4737 Update release steps
  CONTRIBUTING.md
Labels: documentation, patch

#4727 Update next from master
  CHANGELOG.md
  addons/a11y/package.json
  addons/actions/package.json
  addons/backgrounds/package.json
  addons/centered/package.json
  addons/events/package.json
  addons/google-analytics/package.json
  addons/graphql/package.json
  addons/info/package.json
  addons/jest/package.json
  addons/knobs/package.json
  addons/links/package.json
  addons/notes/package.json
  addons/ondevice-backgrounds/package.json
  addons/ondevice-knobs/package.json
  addons/ondevice-notes/package.json
  addons/options/package.json
  addons/storyshots/storyshots-core/package.json
  addons/storyshots/storyshots-puppeteer/package.json
  addons/storysource/package.json
  addons/viewport/package.json
  app/angular/package.json
  app/ember/package.json
  app/html/package.json
  app/marko/package.json
  app/mithril/package.json
  app/polymer/package.json
  app/react-native/package.json
  app/react/package.json
  app/riot/package.json
  app/svelte/package.json
  app/vue/package.json
  examples/angular-cli/package.json
  examples/cra-kitchen-sink/package.json
  examples/ember-cli/package.json
  examples/html-kitchen-sink/package.json
  examples/marko-cli/package.json
  examples/mithril-kitchen-sink/package.json
  examples/official-storybook/package.json
  examples/polymer-cli/package.json
  examples/riot-kitchen-sink/package.json
  examples/svelte-kitchen-sink/package.json
  examples/vue-kitchen-sink/package.json
  lerna.json
  lib/addons/package.json
  lib/channel-postmessage/package.json
  lib/channel-websocket/package.json
  lib/channels/package.json
  lib/cli/package.json
  lib/client-logger/package.json
  lib/codemod/package.json
  lib/components/package.json
  lib/core-events/package.json
  lib/core/package.json
  lib/node-logger/package.json
  lib/ui/package.json
Labels: maintenance

#4713 feat(react-native): persist last displayed story
  app/react-native/readme.md
  app/react-native/src/preview/index.js
Labels: app: react-native, feature request

#4750 Add storysource to addon gallery
  docs/src/pages/addons/addon-gallery/index.md
Labels: addon: storysource, documentation, patch

#4749 Tech/silent smoke tests
  .circleci/config.yml
  .teamcity/OpenSourceProjects_Storybook/buildTypes/OpenSourceProjects_Storybook_SmokeTests.kt
  app/react-native/readme.md
  app/react-native/src/bin/storybook-start.js
  lib/cli/test/run_tests.sh
Labels: cleanup, maintenance

#4702 feat(storiesNav): deep theming for stories nav panel
  docs/src/pages/configurations/standalone-options/index.md
  docs/src/pages/configurations/theming/index.md
  lib/components/src/header/header.js
  lib/components/src/icons/chevronRight.js
  lib/components/src/layout/desktop.js
  lib/components/src/layout/mobile.js
  lib/components/src/navigation/MenuLink.js
  lib/components/src/theme.js
  lib/ui/src/modules/ui/components/stories_panel/__snapshots__/index.stories.storyshot
  lib/ui/src/modules/ui/components/stories_panel/stories_tree/__snapshots__/index.stories.storyshot
  lib/ui/src/modules/ui/components/stories_panel/stories_tree/tree_decorators.js
  lib/ui/src/modules/ui/components/stories_panel/stories_tree/tree_header.js
  lib/ui/src/modules/ui/components/stories_panel/text_filter.js
Labels: feature request, theming, ui

#4754 Fixes broken link in addons gallery
  docs/src/pages/addons/addon-gallery/index.md
Labels: documentation, patch

#4712 Add support for custom `react-scripts` packages
  app/react/src/server/cra_config.js
Labels: app: react, compatibility with other tools, feature request, patch

#4755 FIX deprecation warning from husky
  package.json
Labels: cleanup, maintenance

#4595 Storybook need to be restarted when the addon file is created
  docs/src/pages/addons/using-addons/index.md
Labels: documentation

#4763 Adding documentation on CRA2 Integration
  docs/src/pages/configurations/typescript-config/index.md
Labels: app: react, documentation, typescript

#4706 Fix NODE_PATH is not being loaded from .env
  examples/angular-cli/jest.addon-config.js
  examples/angular-cli/jest.config.js
  examples/angular-cli/package.json
  examples/cra-kitchen-sink/.env
  examples/cra-kitchen-sink/jest.config.js
  examples/cra-kitchen-sink/src/stories/index.stories.js
  examples/html-kitchen-sink/jest.config.js
  examples/riot-kitchen-sink/jest.config.js
  examples/svelte-kitchen-sink/jest.config.js
  examples/vue-kitchen-sink/jest.config.js
  jest.config.js
  lib/core/src/server/config/utils.js
  lib/core/src/server/config/webpack.config.dev.js
  lib/core/src/server/config/webpack.config.prod.js
  scripts/test.js
Labels: bug, core, patch

#4768 Add tests for custom react-scripts packages
  app/react/src/server/__tests__/cra-config.test.js
  app/react/src/server/cra-config.js
  app/react/src/server/framework-preset-cra-styles.js
  lib/cli/lib/detect.js
  lib/cli/test/fixtures/react_scripts_v2_forked/.gitignore
  lib/cli/test/fixtures/react_scripts_v2_forked/README.md
  lib/cli/test/fixtures/react_scripts_v2_forked/package.json
  lib/cli/test/fixtures/react_scripts_v2_forked/public/favicon.ico
  lib/cli/test/fixtures/react_scripts_v2_forked/public/index.html
  lib/cli/test/fixtures/react_scripts_v2_forked/public/manifest.json
  lib/cli/test/fixtures/react_scripts_v2_forked/src/App.css
  lib/cli/test/fixtures/react_scripts_v2_forked/src/App.js
  lib/cli/test/fixtures/react_scripts_v2_forked/src/App.test.js
  lib/cli/test/fixtures/react_scripts_v2_forked/src/index.css
  lib/cli/test/fixtures/react_scripts_v2_forked/src/index.js
  lib/cli/test/fixtures/react_scripts_v2_forked/src/logo.svg
  lib/cli/test/fixtures/react_scripts_v2_forked/src/serviceWorker.js
Labels: app: react, cli, maintenance

#4590 Core separate manager from preview
  .babelrc
  .babelrc.js
  app/angular/src/server/angular-cli_config.js
  app/angular/src/server/framework-preset-angular.js
  app/react-native/src/server/config/webpack.config.prod.js
  app/riot/src/server/framework-preset-riot.js
  examples/angular-cli/package.json
  examples/angular-cli/src/assets/favicon.ico
  examples/cra-kitchen-sink/public/index.html
  examples/svelte-kitchen-sink/public/index.html
  examples/vue-kitchen-sink/public/index.html
  lib/core/package.json
  lib/core/server.js
  lib/core/src/server/build-dev.js
  lib/core/src/server/build-static.js
  lib/core/src/server/common/babel-cache-preset.js
  lib/core/src/server/common/babel.js
  lib/core/src/server/common/custom-presets.js
  lib/core/src/server/common/polyfills.js
  lib/core/src/server/config.js
  lib/core/src/server/config/babel.dev.js
  lib/core/src/server/config/babel.prod.js
  lib/core/src/server/config/entries.js
  lib/core/src/server/config/utils.js
  lib/core/src/server/config/webpack.config.dev.js
  lib/core/src/server/config/webpack.config.prod.js
  lib/core/src/server/core-preset-babel-cache.js
  lib/core/src/server/core-preset-dev.js
  lib/core/src/server/core-preset-prod.js
  lib/core/src/server/dev-server.js
  lib/core/src/server/manager/manager-config.js
  lib/core/src/server/manager/manager-preset.js
  lib/core/src/server/manager/manager-webpack.config.js
  lib/core/src/server/manager/webpack.js
  lib/core/src/server/middleware.js
  lib/core/src/server/presets.js
  lib/core/src/server/preview/base-webpack.config.js
  lib/core/src/server/preview/custom-webpack-preset.js
  lib/core/src/server/preview/entries.js
  lib/core/src/server/preview/globals.js
  lib/core/src/server/preview/iframe-webpack.config.js
  lib/core/src/server/preview/preview-preset.js
  lib/core/src/server/utils/__snapshots__/merge-webpack-config.test.js.snap
  lib/core/src/server/utils/interpret-files.js
  lib/core/src/server/utils/interpret-files.test.js
  lib/core/src/server/utils/load-custom-addons-file.js
  lib/core/src/server/utils/load-custom-babel-config.js
  lib/core/src/server/utils/load-custom-config-file.js
  lib/core/src/server/utils/load-custom-webpack-config.js
  lib/core/src/server/utils/merge-webpack-config.js
  lib/core/src/server/utils/merge-webpack-config.test.js
  lib/core/src/server/utils/middleware.js
  lib/core/src/server/utils/server-require.js
  lib/core/src/server/utils/template.js
  lib/core/src/server/utils/template.test.js
  lib/node-logger/package.json
  lib/node-logger/src/index.js
  package.json
  yarn.lock
Labels: core, maintenance, performance issue, presets

#4704 Better a11y
  addons/a11y/src/index.js
  addons/info/src/components/Story.js
  examples/official-storybook/stories/__snapshots__/addon-info.stories.storyshot
Labels: accessibility, addon: a11y, addon: info, bug

#4771 chore(deps): use alpha minify dependency to upgrade transitive lodash dependencies
  app/react-native/package.json
  lib/core/package.json
  yarn.lock
Labels: dependencies:update

#4785 Fix variable reference in docs: story → getStory
  docs/src/pages/addons/writing-addons/index.md
Labels: documentation, patch

#4789 Separate manager and preview part.2
  lib/core/src/server/build-static.js
  lib/core/src/server/dev-server.js
  lib/core/src/server/manager/webpack.js
Labels: cleanup, maintenance

#4791 REFACTOR dev-serve to output less noise
  lib/core/package.json
  lib/core/src/server/build-dev.js
  lib/core/src/server/dev-server.js
Labels: babel / webpack, cleanup, maintenance

#4792 Fixes #4665: set correct cache directory path
  lib/core/src/server/build-dev.js
Labels: core, maintenance

#4800 Update the Starter Guide for React
  docs/src/pages/basics/guide-react/index.md
Labels: documentation, patch

#4779 Documentation for setting up Ember has a syntax error.
  docs/src/pages/addons/addon-gallery/index.md
  docs/src/pages/basics/guide-ember/index.md
Labels: documentation, patch

#4804 Fix invitation URL discord
  README.md
Labels: bug, documentation

#4808 ADD support for all versions of react
  app/react/package.json
  lib/core/src/server/manager/manager-webpack.config.js
  yarn.lock
Labels: app: react, babel / webpack, compatibility with other tools, core, feature request

#4773 Vue / Knobs - optimize on force render
  app/react/src/client/preview/render.js
  app/vue/src/client/preview/render.js
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-knobs.stories.storyshot
  examples/vue-kitchen-sink/src/stories/addon-knobs.stories.js
Labels: addon: knobs, app: vue, bug, patch, ready

#4811 typo fix in the storybook-addon-a11y
  addons/a11y/README.md
Labels: addon: a11y, documentation

#4810 Update addons options readme
  addons/options/README.md
Labels: addon: options, documentation, typescript

#4823 Update knobs docs
  addons/knobs/README.md
Labels: addon: knobs, documentation

#4825 Update guide for Vue to match current requirements
  docs/src/pages/basics/guide-vue/index.md
Labels: documentation, patch

#4824 Add TypeScript support for react-scripts
  app/react/src/server/cra-config.js
  app/react/src/server/framework-preset-cra-rules.js
  app/react/src/server/options.js
Labels: app: react, feature request, typescript

#4828 addon-storyshots-puppeteer: fix peerDependencies
  addons/storyshots/storyshots-puppeteer/package.json
Labels: addon: storyshots, bug, dependencies

#4806 feat(react-native): Add ability to filter story list from React-Native
  app/react-native/readme.md
  app/react-native/src/preview/components/OnDeviceUI/addons/wrapper.js
  app/react-native/src/preview/components/OnDeviceUI/index.js
  app/react-native/src/preview/components/StoryListView/index.js
  app/react-native/src/preview/components/StoryListView/style.js
  app/react-native/src/preview/index.js
Labels: app: react-native, feature request, ui

#4837 Fix snapshots to use "emotion/snapshot-serializer"
  examples/cra-kitchen-sink/package.json
  examples/cra-kitchen-sink/src/stories/__snapshots__/index.stories.storyshot
  examples/cra-kitchen-sink/src/storyshots.test.js
  examples/official-storybook/package.json
  examples/official-storybook/stories/__snapshots__/addon-events.stories.storyshot
  examples/official-storybook/stories/__snapshots__/addon-info.stories.storyshot
  examples/official-storybook/stories/__snapshots__/addon-viewport.stories.storyshot
  examples/official-storybook/stories/__snapshots__/core.stories.storyshot
  examples/official-storybook/tests/storyshots.test.js
  lib/components/src/addon_panel/__snapshots__/index.stories.storyshot
  lib/components/src/form/__snapshots__/form.stories.storyshot
  lib/components/src/header/__snapshots__/header.stories.storyshot
  lib/components/src/layout/__snapshots__/index.stories.storyshot
  lib/components/src/navigation/__snapshots__/MenuLink.stories.storyshot
  lib/components/src/panel_actionbar/__snapshots__/panel_actionbar.stories.storyshot
  lib/components/src/tabs/__snapshots__/tabs.stories.storyshot
  lib/ui/src/modules/ui/components/stories_panel/__snapshots__/index.stories.storyshot
  lib/ui/src/modules/ui/components/stories_panel/__snapshots__/text_filter.stories.storyshot
  lib/ui/src/modules/ui/components/stories_panel/stories_tree/__snapshots__/index.stories.storyshot
  package.json
  yarn.lock
Labels: maintenance

#4838 Core - do not mangle on production build
  lib/core/package.json
  lib/core/src/server/preview/iframe-webpack.config.js
  yarn.lock
Labels: bug, core, patch

#4836 React - use babel presets/plugins based on CRA.
  .babelrc.js
  app/react/package.json
  app/react/src/server/cra-config.js
  app/react/src/server/cra-config.test.js
  app/react/src/server/framework-preset-cra-rules.js
  app/react/src/server/framework-preset-cra.js
  app/react/src/server/options.js
  examples/cra-kitchen-sink/.storybook/config.js
  examples/cra-kitchen-sink/jest.config.js
  examples/cra-kitchen-sink/src/stories/App.stories.js
  examples/cra-kitchen-sink/src/stories/Lifecycle.stories.js
  examples/cra-kitchen-sink/src/stories/__snapshots__/App.stories.storyshot
  examples/cra-kitchen-sink/src/stories/__snapshots__/Lifecycle.stories.storyshot
  examples/cra-kitchen-sink/src/stories/__snapshots__/cra-dynamic-import.stories.storyshot
  examples/cra-kitchen-sink/src/stories/__snapshots__/index.stories.storyshot
  examples/cra-kitchen-sink/src/stories/__snapshots__/long-description.stories.storyshot
  examples/cra-kitchen-sink/src/stories/cra-dynamic-import.stories.js
  examples/cra-kitchen-sink/src/stories/cra-svgr.stories.js
  examples/cra-kitchen-sink/src/stories/index.js
  examples/cra-kitchen-sink/src/stories/index.stories.js
  examples/cra-kitchen-sink/src/stories/long-description.stories.js
  package.json
  yarn.lock
Labels: app: react, cra, feature request

#4685 GH-4643 fix docgen description displaying for info addon
  addons/info/src/__snapshots__/index.test.js.snap
  addons/info/src/components/Story.js
  addons/info/src/index.test.js
Labels: addon: info, bug, patch

#4723 added `optionsKnob` to addon-knobs
  addons/knobs/README.md
  addons/knobs/package.json
  addons/knobs/src/components/__tests__/Options.js
  addons/knobs/src/components/__tests__/RadioButtons.js
  addons/knobs/src/components/types/Checkboxes.js
  addons/knobs/src/components/types/Options.js
  addons/knobs/src/components/types/Radio.js
  addons/knobs/src/components/types/index.js
  addons/knobs/src/index.js
  examples/official-storybook/stories/__snapshots__/addon-knobs.stories.storyshot
  examples/official-storybook/stories/addon-knobs.stories.js
  lib/components/src/form/input.js
  yarn.lock
Labels: addon: knobs, feature request

#4842 Bump svelte to 2.15.3, addresses !4478
  app/svelte/package.json
  examples/svelte-kitchen-sink/src/stories/__snapshots__/index.storyshot
  examples/svelte-kitchen-sink/src/stories/views/WelcomeView.svelte
  yarn.lock
Labels: dependencies

#4862 feat(react-native): add option to set keyboarVerticalOffset to KeyboardAvoidingView
  app/react-native/readme.md
  app/react-native/src/preview/components/OnDeviceUI/index.js
  app/react-native/src/preview/index.js
Labels: app: react-native, feature request, ui

#4872 Properly sets initial story out of Async Storage.
  app/react-native/src/preview/components/OnDeviceUI/index.js
  app/react-native/src/preview/index.js
Labels: app: react-native, bug

#4856 restore index.html in cra-kitchen-sink
  examples/cra-kitchen-sink/public/index.html
  lib/core/src/server/build-static.js
Labels: bug

#4870 Add try, catch for IE11 as it breaks script execution
  lib/ui/src/modules/ui/configs/handle_routing.js
Labels: bug

#4648 [documentation] Updates theming docs to use withOptions()
  docs/src/pages/configurations/theming/index.md
Labels: documentation, patch

#4883 Reject webpack-related issues
  lib/core/src/server/build-static.js
Labels: babel / webpack, bug, patch

#4884 Clarify Typescript instructions for config.ts
  docs/src/pages/configurations/typescript-config/index.md
Labels: documentation, patch, typescript

#4834 Performance optimizations on separate manager preview split, improved cold start, restart & rebuild
  .babelrc.js
  .eslintignore
  .eslintrc.js
  .gitignore
  .teamcity/OpenSourceProjects_Storybook/buildTypes/OpenSourceProjects_Storybook_Bootstrap.kt
  .teamcity/OpenSourceProjects_Storybook/buildTypes/OpenSourceProjects_Storybook_Examples.kt
  .teamcity/OpenSourceProjects_Storybook/buildTypes/StorybookApp.kt
  addons/backgrounds/package.json
  addons/backgrounds/src/__tests__/BackgroundPanel.js
  addons/options/README.md
  lib/core/package.json
  lib/core/src/client/preview/story_store.js
  lib/core/src/server/build-dev.js
  lib/core/src/server/build-static.js
  lib/core/src/server/dev-server.js
  lib/core/src/server/manager/manager-preset.js
  lib/core/src/server/manager/manager-webpack.config.js
  lib/core/src/server/preview/iframe-webpack.config.js
  lib/core/src/server/templates/index.ejs
  lib/ui/package.json
  lib/ui/scripts/createDlls.js
  lib/ui/scripts/webpackDllsConfig.js
  lib/ui/src/modules/api/configs/init_api.js
  lib/ui/src/modules/ui/components/menu_item.stories.js
  lib/ui/src/modules/ui/components/search_box.stories.js
  lib/ui/src/modules/ui/components/shortcuts_help.stories.js
  lib/ui/src/modules/ui/components/stories_panel/index.stories.js
  lib/ui/src/modules/ui/components/stories_panel/stories_tree/index.stories.js
  lib/ui/src/modules/ui/components/stories_panel/text_filter.stories.js
  package.json
  scripts/bootstrap.js
  scripts/compile-js.js
  yarn.lock
Labels: core, maintenance, performance issue

#4893 Add mockingbot to list of examples
  docs/src/pages/examples/_examples.yml
  docs/src/pages/examples/thumbnails/mockingbot.png
Labels: documentation, patch

#4894 added code example to addon docs
  docs/src/pages/addons/using-addons/index.md
Labels: documentation, patch

#4892 Updated storyshots-puppeteer documentation.
  addons/storyshots/storyshots-puppeteer/README.md
Labels: addon: storyshots, documentation, patch
