Repository storybookjs/storybook, pull requests merged in 2018-10, with the labels that each got.

#4258 issue #4174 : support the tagConstructor option
  app/riot/src/client/preview/__snapshots__/render-riot.test.js.snap
  app/riot/src/client/preview/compileNow.js
  app/riot/src/client/preview/compileStageFunctions.js
  app/riot/src/client/preview/index.js
  app/riot/src/client/preview/render-riot.test.js
  app/riot/src/client/preview/render.js
  app/riot/src/client/preview/rendering/compiledButUnmounted.js
  app/riot/src/client/preview/rendering/index.js
  app/riot/src/client/preview/rendering/raw.js
  app/riot/src/client/preview/rendering/stringified.js
  examples/riot-kitchen-sink/src/stories/__snapshots__/story-code.stories.storyshot
  examples/riot-kitchen-sink/src/stories/story-code.stories.js
Labels: app: riot, feature request

#4260 Fix broken SVGs - issue #4066 / #4180
  lib/core/src/server/config/webpack.config.default.js
Labels: bug, dependencies

#4276 Storyshot doc 4111
  addons/storyshots/storyshots-core/README.md
Labels: addon: storyshots, documentation

#4277 [docs] add doc to highlight active attribute before rendering addon
  docs/src/pages/addons/writing-addons/index.md
Labels: documentation

#4282 Support providing options as a function, for story-specific options.
  addons/storyshots/storyshots-core/README.md
  addons/storyshots/storyshots-core/src/test-bodies.js
  addons/storyshots/storyshots-core/stories/__snapshots__/storyshot.snapshotWithOptionsFunction.test.js.snap
  addons/storyshots/storyshots-core/stories/storyshot.snapshotWithOptionsFunction.test.js
Labels: addon: storyshots, feature request

#4297 Fix Anchor Link to badges section
  README.md
Labels: documentation

#4252 Update `addon-jest` to new propType
  addons/jest/src/register.js
Labels: addon: jest, bug

#4291 Document CRA migration to SB4
  MIGRATION.md
Labels: documentation

#4310 Fix the broken lint
  addons/jest/src/register.js
Labels: maintenance

#4284 chore(deps): #4267 upgrade lodash to latest
  addons/actions/package.json
  addons/actions/src/preview/withActions.js
  app/react/package.json
  app/react/src/client/preview/element_check.js
  docs/yarn.lock
  lib/components/package.json
  lib/components/src/layout/desktop.js
  lib/ui/package.json
  lib/ui/src/modules/api/actions/api.js
  lib/ui/src/modules/shortcuts/actions/shortcuts.js
  lib/ui/src/modules/ui/components/stories_panel/index.js
  lib/ui/src/modules/ui/components/stories_panel/text_filter.js
  lib/ui/src/modules/ui/components/stories_panel/text_filter.test.js
  lib/ui/src/modules/ui/containers/header.js
  lib/ui/src/modules/ui/containers/layout.js
  lib/ui/src/modules/ui/libs/filters.js
  yarn.lock
Labels: maintenance

#4302 Updated installation for Angular
  docs/src/pages/basics/guide-angular/index.md
Labels: app: angular, maintenance

#4285 fix #2384: support string-only component for vue
  app/vue/src/client/preview/index.js
  examples/vue-kitchen-sink/src/stories/__snapshots__/core-template.stories.storyshot
  examples/vue-kitchen-sink/src/stories/core-template.stories.js
Labels: app: vue, feature request

#4261 Removing the packager from storybook.
  MIGRATION.md
  app/react-native/package.json
  app/react-native/readme.md
  app/react-native/src/bin/storybook-start.js
Labels: BREAKING CHANGE, app: react-native, bug

#4323 Added basePath support
  app/angular/package.json
  app/angular/src/server/angular-cli_config.js
  examples/angular-cli/.storybook/tsconfig.json
  examples/angular-cli/angularshots.test.js
  examples/angular-cli/src/stories/index.ts
  lib/cli/generators/ANGULAR/template/.storybook/tsconfig.json
  yarn.lock
Labels: app: angular, feature request

#4162 Add support for "baseUrl" and "paths" from angular-cli
  app/angular/package.json
  app/angular/src/server/angular-cli_config.js
  examples/angular-cli/.storybook/tsconfig.json
  examples/angular-cli/angularshots.test.js
  examples/angular-cli/src/stories/index.ts
  lib/cli/generators/ANGULAR/template/.storybook/tsconfig.json
  yarn.lock
Labels: app: angular, feature request, needs review

#4326 [onDeviceUI] Updated channel to support async option
  lib/channel-websocket/src/index.js
  lib/channels/src/index.js
  lib/channels/src/index.test.js
Labels: api: addons, core, feature request

#4336 Fix Array.js value to string
  addons/knobs/src/components/types/Array.js
Labels: addon: knobs, bug

#4293 Fix #4269 iPhone viewport dimensions
  addons/viewport/src/manager/components/tests/Panel.test.js
  addons/viewport/src/shared/index.js
Labels: addon: viewport, bug

#4346 Remove CRNA fixture
  lib/cli/test/test_latest_cra.sh
Labels: maintenance

#4345 Rename CLI to sb
  MIGRATION.md
  README.md
  docs/src/pages/basics/quick-start-guide/index.md
  lib/cli/bin/generate.js
  lib/cli/lib/initiate.js
  lib/cli/lib/yarn_spawn_sync.js
  lib/cli/package.json
Labels: BREAKING CHANGE, cli

#4347 Tech/upgrades 5
  addons/a11y/package.json
  addons/graphql/package.json
  addons/info/package.json
  addons/info/src/components/__snapshots__/PropTable.test.js.snap
  addons/notes/package.json
  addons/storyshots/storyshots-core/package.json
  addons/storyshots/storyshots-core/stories/__snapshots__/storyshot.enzyme.test.js.snap
  addons/storyshots/storyshots-puppeteer/package.json
  addons/storysource/package.json
  app/angular/package.json
  app/angular/src/server/angular-cli_config.js
  app/ember/package.json
  app/html/package.json
  app/marko/package.json
  app/mithril/package.json
  app/polymer/package.json
  app/react-native/package.json
  app/react/package.json
  app/riot/package.json
  app/svelte/package.json
  app/vue/package.json
  examples/angular-cli/package.json
  examples/cra-kitchen-sink/package.json
  examples/ember-cli/package.json
  examples/html-kitchen-sink/package.json
  examples/marko-cli/package.json
  examples/mithril-kitchen-sink/package.json
  examples/official-storybook/package.json
  examples/polymer-cli/package.json
  examples/riot-kitchen-sink/package.json
  examples/vue-kitchen-sink/package.json
  lib/cli/package.json
  lib/codemod/package.json
  lib/core/package.json
  lib/node-logger/package.json
  lib/ui/package.json
  package.json
  yarn.lock
Labels: dependencies, dependencies:update

#4344 CLI-less api for node
  app/angular/src/server/index.js
  app/angular/standalone.js
  app/ember/src/server/index.js
  app/ember/standalone.js
  app/html/src/server/index.js
  app/html/standalone.js
  app/marko/src/server/index.js
  app/marko/standalone.js
  app/mithril/src/server/index.js
  app/mithril/standalone.js
  app/polymer/src/server/index.js
  app/polymer/standalone.js
  app/react/src/server/index.js
  app/react/standalone.js
  app/riot/src/server/index.js
  app/riot/standalone.js
  app/svelte/src/server/build.js
  app/svelte/src/server/index.js
  app/svelte/standalone.js
  app/vue/src/server/index.js
  app/vue/standalone.js
  lib/core/src/server/build-dev.js
  lib/core/src/server/build-static.js
  lib/core/src/server/cli/dev.js
  lib/core/src/server/cli/index.js
  lib/core/src/server/cli/prod.js
  lib/core/src/server/cli/utils.js
  lib/core/src/server/middleware.js
  lib/core/src/server/standalone.js
  lib/core/src/server/utils.js
  lib/core/standalone.js
Labels: core, feature request

#3903 [onDeviceUI] Add ability to render addons in React Native
  ADDONS_SUPPORT.md
  app/react-native/docs/addons.md
  app/react-native/docs/manual-setup.md
  app/react-native/docs/server.md
  app/react-native/package.json
  app/react-native/readme.md
  app/react-native/src/bin/storybook-start.js
  app/react-native/src/preview/components/OnDeviceUI/absolute-positioned-keyboard-aware-view.js
  app/react-native/src/preview/components/OnDeviceUI/addons/index.js
  app/react-native/src/preview/components/OnDeviceUI/addons/list.js
  app/react-native/src/preview/components/OnDeviceUI/addons/tab.js
  app/react-native/src/preview/components/OnDeviceUI/addons/wrapper.js
  app/react-native/src/preview/components/OnDeviceUI/animation.js
  app/react-native/src/preview/components/OnDeviceUI/index.js
  app/react-native/src/preview/components/OnDeviceUI/menu_close.png
  app/react-native/src/preview/components/OnDeviceUI/menu_open.png
  app/react-native/src/preview/components/OnDeviceUI/navigation/bar.js
  app/react-native/src/preview/components/OnDeviceUI/navigation/button.js
  app/react-native/src/preview/components/OnDeviceUI/navigation/consts.js
  app/react-native/src/preview/components/OnDeviceUI/navigation/index.js
  app/react-native/src/preview/components/OnDeviceUI/navigation/visibility-button.js
  app/react-native/src/preview/components/OnDeviceUI/panel.js
  app/react-native/src/preview/components/OnDeviceUI/style.js
  app/react-native/src/preview/components/StoryListView/index.js
  app/react-native/src/preview/components/StoryView/index.js
  app/react-native/src/preview/index.js
  examples/crna-kitchen-sink/app.json
  examples/crna-kitchen-sink/package.json
  examples/crna-kitchen-sink/storybook/addons.js
  examples/crna-kitchen-sink/storybook/index.js
  examples/crna-kitchen-sink/storybook/rn-addons.js
  examples/crna-kitchen-sink/storybook/stories/CenterView/style.js
  examples/crna-kitchen-sink/storybook/stories/Knobs/index.js
  examples/crna-kitchen-sink/storybook/stories/index.js
Labels: BREAKING CHANGE, app: react-native, feature request, needs review

#4372 added trunx
  docs/src/pages/examples/_examples.yml
  docs/src/pages/examples/thumbnails/trunks.png
Labels: documentation

#4377 marked babel-loader as dependency in docs
  docs/src/pages/basics/guide-angular/index.md
  docs/src/pages/basics/guide-html/index.md
  docs/src/pages/basics/guide-react/index.md
  docs/src/pages/basics/guide-vue/index.md
Labels: documentation

#4328 [onDeviceUI] Unifying React Native template.
  lib/cli/generators/REACT_NATIVE/index.js
  lib/cli/generators/REACT_NATIVE/template/storybook/index.android.js
  lib/cli/generators/REACT_NATIVE/template/storybook/index.ios.js
  lib/cli/generators/REACT_NATIVE/template/storybook/index.js
  lib/cli/generators/REACT_NATIVE/template/storybook/rn-addons.js
  lib/cli/generators/REACT_NATIVE/template/storybook/storybook.js
  lib/cli/generators/REACT_NATIVE_SCRIPTS/index.js
  lib/cli/generators/REACT_NATIVE_SCRIPTS/template/storybook/addons.js
  lib/cli/generators/REACT_NATIVE_SCRIPTS/template/storybook/index.js
  lib/cli/generators/REACT_NATIVE_SCRIPTS/template/storybook/stories/Button/index.android.js
  lib/cli/generators/REACT_NATIVE_SCRIPTS/template/storybook/stories/Button/index.ios.js
  lib/cli/generators/REACT_NATIVE_SCRIPTS/template/storybook/stories/CenterView/index.js
  lib/cli/generators/REACT_NATIVE_SCRIPTS/template/storybook/stories/CenterView/style.js
  lib/cli/generators/REACT_NATIVE_SCRIPTS/template/storybook/stories/Welcome/index.js
  lib/cli/generators/REACT_NATIVE_SCRIPTS/template/storybook/stories/index.js
  lib/cli/lib/detect.js
  lib/cli/lib/initiate.js
  lib/cli/lib/project_types.js
Labels: cleanup, cli

#4348 [logging] better error logging for when opn fails to opn
  lib/core/package.json
  lib/core/src/server/build-dev.js
  yarn.lock
Labels: bug, core

#4327 [onDeviceUI] Adding on device addons.
  addons/ondevice-backgrounds/README.md
  addons/ondevice-backgrounds/docs/demo.png
  addons/ondevice-backgrounds/package.json
  addons/ondevice-backgrounds/register.js
  addons/ondevice-backgrounds/src/BackgroundPanel.js
  addons/ondevice-backgrounds/src/Swatch.js
  addons/ondevice-backgrounds/src/constants.js
  addons/ondevice-backgrounds/src/container.js
  addons/ondevice-backgrounds/src/index.js
  addons/ondevice-backgrounds/src/register.js
  addons/ondevice-knobs/README.md
  addons/ondevice-knobs/package.json
  addons/ondevice-knobs/register.js
  addons/ondevice-knobs/src/GroupTabs.js
  addons/ondevice-knobs/src/PropField.js
  addons/ondevice-knobs/src/PropForm.js
  addons/ondevice-knobs/src/index.js
  addons/ondevice-knobs/src/panel.js
  addons/ondevice-knobs/src/types/Array.js
  addons/ondevice-knobs/src/types/Boolean.js
  addons/ondevice-knobs/src/types/Button.js
  addons/ondevice-knobs/src/types/Color.js
  addons/ondevice-knobs/src/types/Date.js
  addons/ondevice-knobs/src/types/Number.js
  addons/ondevice-knobs/src/types/Object.js
  addons/ondevice-knobs/src/types/Select.js
  addons/ondevice-knobs/src/types/Text.js
  addons/ondevice-knobs/src/types/index.js
  addons/ondevice-notes/README.md
  addons/ondevice-notes/docs/demo.png
  addons/ondevice-notes/package.json
  addons/ondevice-notes/register.js
  addons/ondevice-notes/src/__tests__/index.js
  addons/ondevice-notes/src/index.js
  addons/ondevice-notes/src/register.js
  addons/storyshots/storyshots-core/package.json
Labels: app: react-native, feature request

#4375 CHANGE back to use html-webpack-plugin to keep compatibility with plugins that depend on it
  app/react-native/package.json
  app/react-native/src/server/config/webpack.config.js
  app/react-native/src/server/config/webpack.config.prod.js
  examples/polymer-cli/package.json
  lib/cli/test/fixtures/sfc_vue/package.json
  lib/core/package.json
  lib/core/src/server/config/webpack.config.dev.js
  lib/core/src/server/config/webpack.config.prod.js
  lib/core/src/server/templates/index.ejs
  lib/core/src/server/templates/index.html.ejs
  yarn.lock
Labels: babel / webpack, compatibility with other tools, dependencies

#4280 [docs] add maintainers guide to help define process
  MAINTAINERS.md
Labels: discussion, documentation

#4335 CLEANUP ember docs and refactor
  docs/src/pages/basics/guide-ember/index.md
  examples/ember-cli/package.json
  lib/cli/generators/EMBER/index.js
  lib/cli/test/fixtures/ember-cli/.gitignore
  lib/cli/test/fixtures/ember-cli/dist/.gitkeep
  lib/cli/test/fixtures/ember-cli/testem.js
Labels: app: ember, documentation

#3983 CHANGE jest addon
  addons/jest/package.json
  addons/jest/src/index.js
  addons/jest/src/register.js
  yarn.lock
Labels: addon: jest, feature request

#4403 Run `yarn upgrade-interactive --latest` in root and docs
  docs/package.json
  docs/yarn.lock
  examples/angular-cli/package.json
  examples/ember-cli/package.json
  lib/cli/package.json
  lib/core/package.json
  package.json
  yarn.lock
Labels: dependencies:update

#4404 Re-generate lockfiles
  docs/yarn.lock
  yarn.lock
Labels: dependencies:update

#4184 Cli framework choice
  lib/cli/bin/generate.js
  lib/cli/lib/detect.js
  lib/cli/lib/detect.test.js
  lib/cli/lib/initiate.js
  lib/cli/lib/project_types.js
  lib/cli/lib/project_types.test.js
  lib/cli/package.json
Labels: cli, feature request

#4380 Knobs/replace datepicker
  addons/knobs/package.json
  addons/knobs/src/components/types/Date.js
  addons/knobs/src/components/types/Date/index.js
  addons/knobs/src/components/types/Date/styles.js
  app/riot/package.json
  lib/cli/test/fixtures/riot/package.json
  yarn.lock
Labels: accessibility, addon: knobs, dependencies

#4334 Tech/terminal update check
  docs/gatsby-node.js
  docs/package.json
  docs/yarn.lock
  lib/core/package.json
  lib/core/server.js
  lib/core/src/server/build-dev.js
  yarn.lock
Labels: cli, feature request, maintenance

#4407 Update docs with CLI rename
  MIGRATION.md
  README.md
  app/angular/README.md
  app/ember/README.md
  app/html/README.md
  app/marko/README.md
  app/mithril/README.md
  app/polymer/README.md
  app/react-native/readme.md
  app/react/README.md
  app/riot/README.md
  app/svelte/README.md
  app/vue/README.md
  docs/src/pages/basics/quick-start-guide/index.md
  lib/cli/README.md
  lib/cli/test/fixtures/react_scripts/README.md
  lib/cli/test/fixtures/update_package_organisations/README.md
Labels: documentation

#4308 Remove deprecated attempt to load default addons
  app/react-native/src/server/config.js
Labels: api: addons, app: react-native, cleanup

#4304 add height and overflow fixes to addon panel styles
  addons/a11y/src/components/Panel.js
  addons/actions/src/components/ActionLogger/style.js
  addons/knobs/src/components/Panel.js
  addons/viewport/src/manager/components/Panel.js
Labels: addon: a11y, addon: actions, addon: knobs, addon: viewport, bug

#4138 Addon: Added google analytics
  addons/google-analytics/README.md
  addons/google-analytics/package.json
  addons/google-analytics/src/index.js
  addons/google-analytics/src/register.js
  docs/src/pages/addons/addon-gallery/index.md
  yarn.lock
Labels: feature request

#4406 Fix duplicate manual mocks in jest
  jest.config.js
Labels: cleanup, maintenance

#4409 Change crna-kitchen-sink path and Some CI maintenance
  .circleci/config.yml
  .eslintrc.js
  .github/CODEOWNERS
  .teamcity/OpenSourceProjects_Storybook/Project.kt
  .teamcity/OpenSourceProjects_Storybook/buildTypes/OpenSourceProjects_Storybook_Build_2.kt
  .teamcity/OpenSourceProjects_Storybook/buildTypes/OpenSourceProjects_Storybook_NativeSmokeTests.kt
  .teamcity/OpenSourceProjects_Storybook/buildTypes/OpenSourceProjects_Storybook_SBNext.kt
  dependencies.yml
  examples-native/crna-kitchen-sink/.babelrc
  examples-native/crna-kitchen-sink/.env
  examples-native/crna-kitchen-sink/.flowconfig
  examples-native/crna-kitchen-sink/.gitignore
  examples-native/crna-kitchen-sink/.watchmanconfig
  examples-native/crna-kitchen-sink/App.js
  examples-native/crna-kitchen-sink/App.test.js
  examples-native/crna-kitchen-sink/README.md
  examples-native/crna-kitchen-sink/app.json
  examples-native/crna-kitchen-sink/package.json
  examples-native/crna-kitchen-sink/storybook/addons.js
  examples-native/crna-kitchen-sink/storybook/index.js
  examples-native/crna-kitchen-sink/storybook/rn-addons.js
  examples-native/crna-kitchen-sink/storybook/stories/Button/index.android.js
  examples-native/crna-kitchen-sink/storybook/stories/Button/index.ios.js
  examples-native/crna-kitchen-sink/storybook/stories/CenterView/index.js
  examples-native/crna-kitchen-sink/storybook/stories/CenterView/style.js
  examples-native/crna-kitchen-sink/storybook/stories/Knobs/index.js
  examples-native/crna-kitchen-sink/storybook/stories/Welcome/index.js
  examples-native/crna-kitchen-sink/storybook/stories/index.js
  package.json
  scripts/netlify-build.sh
  scripts/test.js
Labels: maintenance

#4408 Skip preflight check when starting cra kitchen sink
  examples/cra-kitchen-sink/.env
  examples/cra-kitchen-sink/.gitignore
Labels: maintenance

#4257 Tech/overhaul ui: shortcuts
  lib/components/src/treeview/treeview.js
  lib/components/src/treeview/utils.js
  lib/ui/src/components/layout/container.js
  lib/ui/src/components/layout/desktop.js
  lib/ui/src/containers/nav.js
  lib/ui/src/init-key-handler.js
  lib/ui/src/libs/key_events.js
  lib/ui/src/settings/about.js
  lib/ui/src/settings/components.js
  lib/ui/src/settings/index.js
  lib/ui/src/settings/shortcuts.js
  lib/ui/src/settings/shortcuts.test.js
  lib/ui/src/store.js
Labels: core, ui

#4412 Remove npx dependency
  lib/cli/package.json
  lib/cli/test/test_latest_cra.sh
  yarn.lock
Labels: cleanup, maintenance

#4413 Improve Environment loading
  app/react-native/package.json
  app/react-native/src/server/config/utils.js
  app/react-native/src/server/config/webpack.config.js
  app/react-native/src/server/config/webpack.config.prod.js
  examples/official-storybook/.env
  examples/official-storybook/.env.development
  examples/official-storybook/config.js
  examples/official-storybook/head-warning.js
  examples/official-storybook/package.json
  examples/official-storybook/preview-head.html
  lib/core/env.js
  lib/core/package.json
  lib/core/src/server/build-dev.js
  lib/core/src/server/build-static.js
  lib/core/src/server/config/env.js
  lib/core/src/server/config/utils.js
  lib/core/src/server/config/webpack.config.dev.js
  lib/core/src/server/config/webpack.config.prod.js
  yarn.lock
Labels: bug, core

#4431 Expose webpackFinal extension
  app/angular/src/server/framework-preset-angular-cli.js
  lib/core/src/server/config.js
Labels: app: angular, bug, presets

#4449 chore(core): replace tty-table with cli-table3 for displaying cli message
  lib/core/package.json
  lib/core/src/server/build-dev.js
  yarn.lock
Labels: cleanup, cli, maintenance

#4459 Mark ember as "alpha"
  README.md
Labels: app: ember, documentation

#4458 Document React 16.3 dependency
  MIGRATION.md
  lib/core/package.json
Labels: documentation

#4415 ADD grommit to docs
  docs/src/pages/examples/_examples.yml
  docs/src/pages/examples/thumbnails/grommet.png
Labels: documentation

#4465 Knobs/fix ints as values
  addons/knobs/src/components/types/Select.js
  examples/official-storybook/stories/__snapshots__/addon-knobs.stories.storyshot
  examples/official-storybook/stories/addon-knobs.stories.js
Labels: addon: knobs, bug

#4474 Use cross-env in official example
  examples/official-storybook/package.json
Labels: maintenance

#4451 Override babelrc for the node related code
  .babelrc
Labels: maintenance

#4466 Support "mjs" extensions
  lib/core/src/server/config/webpack.config.dev.js
  lib/core/src/server/config/webpack.config.prod.js
Labels: core, maintenance

#4450 Allow presets to be async
  examples/official-storybook/webpack.config.js
  lib/core/src/server/build-dev.js
  lib/core/src/server/build-static.js
  lib/core/src/server/config.js
  lib/core/src/server/config/entries.js
  lib/core/src/server/core-preset-dev.js
  lib/core/src/server/core-preset-prod.js
  lib/core/src/server/loadCustomBabelConfig.js
  lib/core/src/server/middleware.js
  lib/core/src/server/presets.js
  lib/core/src/server/presets.test.js
Labels: core, feature request, presets, ready

#4483 Fix FAQ markdown page in order to get the link to display
  docs/src/pages/basics/faq/index.md
Labels: documentation

#4452 bug-fix-jest-addon-undefined-file-extension
  addons/jest/src/index.js
Labels: addon: jest, bug

#4473 docs: update note about require.context
  addons/storyshots/storyshots-core/README.md
Labels: documentation

#4405 Support css-modules
  app/react/package.json
  app/react/src/server/cra_config.js
  app/react/src/server/framework-preset-cra-styles.js
  app/react/src/server/options.js
  lib/core/src/server/config.js
  lib/core/src/server/core-preset-webpack-custom.js
  yarn.lock
Labels: app: react, compatibility with other tools, feature request

#4504 Document story params migration
  MIGRATION.md
Labels: documentation

#4502 Update index.md
  docs/src/pages/basics/guide-react/index.md
Labels: documentation

#4514 Update Panel.js
  addons/jest/src/components/Panel.js
Labels: addon: jest, maintenance

#4485 Exclude story files from angular app build
  lib/cli/generators/ANGULAR/index.js
  lib/cli/lib/helpers.js
Labels: app: angular, maintenance, typescript

#4522 FIX knobs select to actually support rich values
  addons/knobs/src/components/__tests__/Select.js
  addons/knobs/src/components/types/Select.js
  examples/official-storybook/stories/__snapshots__/addon-knobs.stories.storyshot
  examples/official-storybook/stories/addon-knobs.stories.js
Labels: addon: knobs, bug

#4472 feat(textfilter): turn off spell check in story filter
  lib/ui/src/modules/ui/components/stories_panel/__snapshots__/index.stories.storyshot
  lib/ui/src/modules/ui/components/stories_panel/__snapshots__/text_filter.stories.storyshot
  lib/ui/src/modules/ui/components/stories_panel/text_filter.js
  lib/ui/src/modules/ui/components/stories_panel/text_filter.test.js
Labels: bug, patch, ui

#4530 ADD timeout to update check
  lib/core/src/server/build-dev.js
Labels: cli, maintenance

#4531 REMOVE gh-pages dependency
  docs/package.json
  package.json
Labels: cleanup, maintenance

#4534 Add mini-css-extract-plugin to app/react dependencies
  app/react/package.json
  app/react/src/server/cra_config.js
  yarn.lock
Labels: app: react, bug

#4539 Fix the node-logger version in app/react
  app/react/package.json
  yarn.lock
Labels: app: react, maintenance

#4524 Add angular@7 cli tests
  examples/angular-cli/package.json
  lib/cli/test/fixtures/angular-cli-v7/.editorconfig
  lib/cli/test/fixtures/angular-cli-v7/.gitignore
  lib/cli/test/fixtures/angular-cli-v7/README.md
  lib/cli/test/fixtures/angular-cli-v7/angular.json
  lib/cli/test/fixtures/angular-cli-v7/package.json
  lib/cli/test/fixtures/angular-cli-v7/src/app/app.component.html
  lib/cli/test/fixtures/angular-cli-v7/src/app/app.component.scss
  lib/cli/test/fixtures/angular-cli-v7/src/app/app.component.spec.ts
  lib/cli/test/fixtures/angular-cli-v7/src/app/app.component.ts
  lib/cli/test/fixtures/angular-cli-v7/src/app/app.module.ts
  lib/cli/test/fixtures/angular-cli-v7/src/assets/.gitkeep
  lib/cli/test/fixtures/angular-cli-v7/src/browserslist
  lib/cli/test/fixtures/angular-cli-v7/src/environments/environment.prod.ts
  lib/cli/test/fixtures/angular-cli-v7/src/environments/environment.ts
  lib/cli/test/fixtures/angular-cli-v7/src/favicon.ico
  lib/cli/test/fixtures/angular-cli-v7/src/index.html
  lib/cli/test/fixtures/angular-cli-v7/src/karma.conf.js
  lib/cli/test/fixtures/angular-cli-v7/src/main.ts
  lib/cli/test/fixtures/angular-cli-v7/src/polyfills.ts
  lib/cli/test/fixtures/angular-cli-v7/src/styles.scss
  lib/cli/test/fixtures/angular-cli-v7/src/test.ts
  lib/cli/test/fixtures/angular-cli-v7/src/tsconfig.app.json
  lib/cli/test/fixtures/angular-cli-v7/src/tsconfig.spec.json
  lib/cli/test/fixtures/angular-cli-v7/src/tslint.json
  lib/cli/test/fixtures/angular-cli-v7/tsconfig.json
  lib/cli/test/fixtures/angular-cli-v7/tslint.json
  package.json
  yarn.lock
Labels: app: angular, cli, maintenance

#4544 [ember] update ember ergonomics to not require any manual setup
  docs/src/pages/basics/guide-ember/index.md
  examples/ember-cli/.env
  examples/ember-cli/.gitignore
  examples/ember-cli/.storybook/preview-head.html
  examples/ember-cli/package.json
Labels: app: ember

#4535 Fix issue with `sb init` on the Vue CLI
  lib/cli/generators/VUE/index.js
  lib/cli/lib/helpers.js
Labels: app: vue, maintenance

#4547 Upgrade react-komposer to 2.0.5
  lib/ui/package.json
  yarn.lock
Labels: dependencies:update

#4561 Upgrade webpack to 4.23.1
  app/angular/package.json
  app/polymer/package.json
  app/react-native/package.json
  app/react/package.json
  examples/ember-cli/package.json
  examples/marko-cli/package.json
  examples/mithril-kitchen-sink/package.json
  examples/official-storybook/package.json
  examples/polymer-cli/package.json
  examples/riot-kitchen-sink/package.json
  examples/vue-kitchen-sink/package.json
  lib/core/package.json
  yarn.lock
Labels: bug, dependencies:update

#4563 Clean up alpha/rc for 4.0 release
  .prettierrc
  MIGRATION.md
  README.md
  RELEASES.md
  addons/notes/README.md
  addons/ondevice-notes/README.md
  addons/storyshots/storyshots-core/package.json
  addons/storyshots/storyshots-puppeteer/README.md
  addons/storyshots/storyshots-puppeteer/package.json
  app/angular/README.md
  app/ember/README.md
  app/html/README.md
  app/marko/README.md
  app/mithril/README.md
  app/polymer/README.md
  app/react-native/readme.md
  app/react/README.md
  app/riot/README.md
  app/svelte/README.md
  app/vue/README.md
  docs/src/pages/basics/live-examples/index.md
  docs/src/pages/basics/quick-start-guide/index.md
  lib/cli/README.md
  lib/cli/test/fixtures/react_scripts/README.md
  lib/cli/test/fixtures/update_package_organisations/README.md
Labels: documentation

#4586 (bug) Fix Select array values showing k (fixes #4560)
  addons/knobs/src/components/__tests__/Select.js
  addons/knobs/src/components/types/Select.js
Labels: addon: knobs, bug

#4597 chore: bump up Expo version in crna-kitchen-sink example
  examples-native/crna-kitchen-sink/README.md
  examples-native/crna-kitchen-sink/app.json
  examples-native/crna-kitchen-sink/package.json
Labels: dependencies:update

#4594 [ember] update ember ergonomics to not require any manual setup
  docs/src/pages/basics/guide-ember/index.md
  examples/ember-cli/.env
  examples/ember-cli/.gitignore
  examples/ember-cli/.storybook/preview-head.html
  examples/ember-cli/package.json
  yarn.lock
Labels: app: ember, maintenance

#4652 Allow for angular-devkit/core version aligned with Angular v7
  app/angular/package.json
Labels: app: angular, dependencies:update

#4623 [documentation] Update URL to babel config in default-config
  docs/src/pages/configurations/default-config/index.md
Labels: documentation
