Repository storybookjs/storybook, pull requests merged in 2019-07, with the labels that each got.

#7235 CLI: Add `--preview-url` for custom preview
  examples/standalone-preview/.babelrc.js
  examples/standalone-preview/README.md
  examples/standalone-preview/package.json
  examples/standalone-preview/storybook.html
  examples/standalone-preview/storybook.tsx
  jest.config.js
  lib/core/src/server/build-dev.js
  lib/core/src/server/build-static.js
  lib/core/src/server/cli/dev.js
  lib/core/src/server/cli/prod.js
  lib/core/src/server/manager/manager-webpack.config.js
  lib/ui/src/components/preview/preview.js
  lib/ui/src/containers/preview.js
  yarn.lock
Labels: cli, feature request

#7234 Fixed api.
  app/react-native/src/preview/components/StoryListView/index.tsx
  app/react-native/src/preview/components/StoryView/index.tsx
  app/react-native/src/preview/index.tsx
Labels: app: react-native, app: react-native-server, bug

#7237 Move the free port logic so that loadOptions don't override it
  lib/core/src/server/build-dev.js
  lib/core/src/server/cli/dev.js
Labels: bug

#7222 Addon-docs: Fix non-React support & add Vue example
  examples/official-storybook/stories/addon-docs.stories.mdx
  examples/vue-kitchen-sink/.storybook/config.js
  examples/vue-kitchen-sink/.storybook/presets.js
  examples/vue-kitchen-sink/.storybook/webpack.config.js
  examples/vue-kitchen-sink/__snapshots__/vueshots.test.js.snap
  examples/vue-kitchen-sink/package.json
  examples/vue-kitchen-sink/src/stories/addon-docs.stories.mdx
  examples/vue-kitchen-sink/src/stories/components/button.stories.js
  examples/vue-kitchen-sink/src/stories/components/welcome.stories.js
  jest.config.js
  lib/core/src/client/preview/start.js
  lib/core/src/server/templates/index.ejs
  yarn.lock
Labels: addon: docs, app: vue, bug

#7245 CLI: Fix `--preview-url` for static builds
  lib/core/src/server/build-static.js
Labels: bug, cli

#7243 React-Native: Fix null story check
  app/react-native/src/preview/components/StoryListView/index.tsx
  app/react-native/src/preview/components/StoryView/index.tsx
Labels: app: react-native, bug

#7012 Improve actions type
  addons/actions/src/models/ActionsFunction.ts
  addons/actions/src/models/ActionsMap.ts
  addons/actions/src/models/index.ts
  addons/actions/src/preview/actions.ts
Labels: addon: actions, maintenance, typescript

#7256 FIX addon-actions performance issue
  addons/actions/src/models/ActionOptions.ts
  addons/actions/src/preview/__tests__/action.test.js
  addons/actions/src/preview/action.ts
  examples/official-storybook/stories/addon-actions.stories.js
  lib/channel-postmessage/src/index.ts
Labels: bug, performance issue

#6923 feature request: disable option for addon tab
  addons/a11y/src/register.tsx
  addons/actions/src/constants.ts
  addons/actions/src/manager.tsx
  addons/cssresources/src/register.tsx
  addons/design-assets/src/register.tsx
  addons/events/src/constants.js
  addons/events/src/manager.js
  addons/graphql/src/register.ts
  addons/jest/src/register.tsx
  addons/jest/src/shared.ts
  addons/knobs/src/register.js
  addons/knobs/src/shared.js
  addons/notes/src/register.tsx
  addons/ondevice-actions/src/index.tsx
  addons/ondevice-backgrounds/src/constants.js
  addons/ondevice-backgrounds/src/register.js
  addons/ondevice-knobs/src/index.js
  addons/ondevice-notes/src/register.js
  docs/src/pages/addons/using-addons/index.md
  docs/src/pages/addons/writing-addons/index.md
  lib/addons/src/index.ts
  lib/api/src/modules/addons.ts
  lib/api/src/tests/addons.test.js
  lib/ui/src/containers/__snapshots__/panel.stories.storyshot
  lib/ui/src/containers/panel.js
  lib/ui/src/containers/panel.stories.js
Labels: feature request, ui

#6265 fix(webpack-dev-server) : enable webpack to rebuild changes in node_modules by default
  lib/core/src/server/dev-server.js
Labels: babel / webpack, feature request, performance issue

#7190 Migrate @storybook/addon-events to Typescript
  addons/events/package.json
  addons/events/src/components/Event.tsx
  addons/events/src/components/Panel.tsx
  addons/events/src/constants.ts
  addons/events/src/index.ts
  addons/events/src/manager.tsx
  addons/events/src/typings.d.ts
  addons/events/tsconfig.json
Labels: addon: events, maintenance, typescript

#7310 Add storySort to MIGRATION.md
  MIGRATION.md
Labels: documentation

#7308 Addon-docs: Added inline option to Story block
  addons/docs/src/blocks/Story.tsx
  examples/official-storybook/stories/addon-docs.stories.mdx
Labels: addon: docs, feature request

#7315 Addon-centered/contexts: Move optionalDependencies to peerDependencies
  addons/centered/package.json
  addons/contexts/package.json
  addons/storyshots/storyshots-puppeteer/package.json
  package.json
Labels: addon: centered, addon: contexts, bug, patch, performance issue

#7257 Angular-cli: Add addon-docs example
  addons/docs/angular/index.js
  addons/docs/angular/preset.js
  examples/angular-cli/.storybook/config.ts
  examples/angular-cli/.storybook/presets.js
  examples/angular-cli/package.json
  examples/angular-cli/src/stories/__snapshots__/addon-actions.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-background.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-centered.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-links.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-notes.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/core.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/custom-styles.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/index.stories.storyshot
  examples/angular-cli/src/stories/addon-docs.stories.mdx
  examples/angular-cli/src/stories/index.stories.ts
  examples/vue-kitchen-sink/src/stories/addon-docs.stories.mdx
Labels: addon: docs, app: angular, maintenance

#7319 Addon-docs: Fix renaming stories on module / MDX format
  lib/client-api/src/story_store.js
  lib/client-api/src/story_store.test.js
Labels: addon: docs, bug, patch

#7147 Ts migration/client api
  README.md
  addons/storyshots/storyshots-puppeteer/package.json
  docs/package.json
  lib/addons/src/make-decorator.ts
  lib/addons/src/typings.d.ts
  lib/client-api/package.json
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/client_api.ts
  lib/client-api/src/config_api.ts
  lib/client-api/src/index.ts
  lib/client-api/src/pathToId.ts
  lib/client-api/src/pathToid.test.ts
  lib/client-api/src/queryparams.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/client-api/src/subscriptions_store.js
  lib/client-api/src/subscriptions_store.test.ts
  lib/client-api/src/subscriptions_store.ts
  lib/client-api/src/types.ts
  lib/client-api/src/typings.d.ts
  lib/client-api/tsconfig.json
  package.json
Labels: client-api, maintenance, typescript

#7332 Add marko to nav
  docs/gatsby-config.js
  docs/src/new-components/basics/shared/site.js
Labels: documentation, patch

#7333 Addons: Fix null parameters in disable addons tab logic
  lib/api/src/modules/addons.ts
Labels: bug, ui

#7331 Add Riot to intro paragraph
  docs/src/pages/guides/quick-start-guide/index.md
Labels: documentation, patch

#7197 Prevent rerender when a button callback returns false.
  addons/knobs/README.md
  addons/knobs/src/registerKnobs.js
Labels: bug, patch

#7334 FIX docs-mode by using storyFn instead of getDecorated
  addons/docs/src/blocks/Story.tsx
  lib/client-api/src/story_store.ts
Labels: addon: docs, bug

#7180 Migrate @storybook/addon-knobs to typescript
  addons/knobs/angular.js
  addons/knobs/angular.ts
  addons/knobs/html.js
  addons/knobs/html.ts
  addons/knobs/marko.js
  addons/knobs/marko.ts
  addons/knobs/mithril.js
  addons/knobs/mithril.ts
  addons/knobs/package.json
  addons/knobs/polymer.js
  addons/knobs/polymer.ts
  addons/knobs/react.js
  addons/knobs/react.ts
  addons/knobs/src/KnobManager.ts
  addons/knobs/src/KnobStore.js
  addons/knobs/src/KnobStore.ts
  addons/knobs/src/components/Panel.tsx
  addons/knobs/src/components/PropForm.js
  addons/knobs/src/components/PropForm.tsx
  addons/knobs/src/components/types/Array.js
  addons/knobs/src/components/types/Array.tsx
  addons/knobs/src/components/types/Boolean.js
  addons/knobs/src/components/types/Boolean.tsx
  addons/knobs/src/components/types/Button.js
  addons/knobs/src/components/types/Button.tsx
  addons/knobs/src/components/types/Checkboxes.js
  addons/knobs/src/components/types/Checkboxes.tsx
  addons/knobs/src/components/types/Color.tsx
  addons/knobs/src/components/types/Date.tsx
  addons/knobs/src/components/types/Files.js
  addons/knobs/src/components/types/Files.tsx
  addons/knobs/src/components/types/Number.js
  addons/knobs/src/components/types/Number.tsx
  addons/knobs/src/components/types/Object.tsx
  addons/knobs/src/components/types/Options.js
  addons/knobs/src/components/types/Options.tsx
  addons/knobs/src/components/types/Radio.js
  addons/knobs/src/components/types/Radio.tsx
  addons/knobs/src/components/types/Select.js
  addons/knobs/src/components/types/Select.tsx
  addons/knobs/src/components/types/Text.js
  addons/knobs/src/components/types/Text.tsx
  addons/knobs/src/components/types/index.ts
  addons/knobs/src/converters.ts
  addons/knobs/src/deprecated.ts
  addons/knobs/src/index.ts
  addons/knobs/src/register.tsx
  addons/knobs/src/registerKnobs.ts
  addons/knobs/src/shared.ts
  addons/knobs/src/typings.d.ts
  addons/knobs/tsconfig.json
  addons/knobs/vue.js
  addons/knobs/vue.ts
  docs/yarn.lock
  yarn.lock
Labels: addon: knobs, maintenance, typescript

#7329 Upgrade all dependencies
  addons/a11y/src/components/A11YPanel.tsx
  addons/a11y/src/components/Report/Elements.tsx
  addons/a11y/src/components/Report/HighlightToggle.tsx
  addons/a11y/src/components/Report/Item.tsx
  addons/a11y/src/components/Report/Tags.tsx
  addons/a11y/src/components/Report/__snapshots__/HighlightToggle.test.js.snap
  addons/a11y/src/components/Tabs.tsx
  addons/actions/src/components/ActionLogger/style.tsx
  addons/events/src/components/Event.tsx
  addons/info/src/__snapshots__/index.test.js.snap
  addons/knobs/src/components/Panel.tsx
  addons/knobs/src/components/types/Color.tsx
  addons/notes/src/Panel.tsx
  addons/ondevice-knobs/src/PropField.js
  addons/ondevice-knobs/src/types/Array.js
  addons/ondevice-knobs/src/types/Number.js
  addons/storyshots/storyshots-puppeteer/package.json
  addons/viewport/src/Tool.tsx
  docs/package.json
  docs/src/templates/_docstemplate.jsx
  examples/angular-cli/src/stories/customControlValueAccessor/custom-cva.component.ts
  examples/official-storybook/package.json
  examples/official-storybook/webpack.config.js
  examples/svelte-kitchen-sink/__snapshots__/svelteshots.test.js.snap
  lib/api/src/index.tsx
  lib/cli/lib/initiate.js
  lib/components/src/ActionBar/ActionBar.tsx
  lib/components/src/ScrollArea/ScrollArea.tsx
  lib/components/src/blocks/ColorPalette.tsx
  lib/components/src/blocks/DocsPage.tsx
  lib/components/src/blocks/EmptyBlock.tsx
  lib/components/src/blocks/IconGallery.tsx
  lib/components/src/blocks/Preview.tsx
  lib/components/src/blocks/PropsTable/PropRow.tsx
  lib/components/src/blocks/PropsTable/PropsTable.tsx
  lib/components/src/blocks/Source.tsx
  lib/components/src/blocks/Typeset.tsx
  lib/components/src/form/field/field.tsx
  lib/components/src/tooltip/TooltipLinkList.tsx
  lib/core/src/server/build-dev.js
  lib/ui/src/__tests__/index.js
  lib/ui/src/components/layout/container.js
  lib/ui/src/components/layout/mobile.js
  lib/ui/src/components/panel/panel.js
  lib/ui/src/components/sidebar/treeview/treeview.js
  lib/ui/src/index.js
  lib/ui/src/keyboard/keyCodes.ts
  package.json
  scripts/bootstrap.js
  yarn.lock
Labels: dependencies:update

#7272 Addon-storysource: Replace loader with source-loader ✂
  CHANGELOG.md
  addons/storysource/README.md
  addons/storysource/loader.js
  addons/storysource/package.json
  addons/storysource/src/StoryPanel.js
  addons/storysource/src/events.js
  addons/storysource/src/loader/__snapshots__/inject-decorator.test.js.snap
  addons/storysource/src/loader/default-options.js
  addons/storysource/src/loader/generate-helpers.js
  addons/storysource/src/loader/index.js
  addons/storysource/src/loader/inject-decorator.js
  addons/storysource/src/loader/inject-decorator.test.js
  addons/storysource/src/loader/parse-helpers.js
  addons/storysource/src/loader/parsers/index.js
  addons/storysource/src/loader/parsers/parser-flow.js
  addons/storysource/src/loader/parsers/parser-js.js
  addons/storysource/src/loader/parsers/parser-ts.js
  addons/storysource/src/loader/traverse-helpers.js
  examples/angular-cli/.storybook/webpack.config.ts
  examples/ember-cli/.storybook/webpack.config.js
  examples/html-kitchen-sink/.storybook/webpack.config.js
  examples/marko-cli/.storybook/webpack.config.js
  examples/mithril-kitchen-sink/.storybook/webpack.config.js
  examples/official-storybook/webpack.config.js
  examples/polymer-cli/.storybook/webpack.config.js
  examples/preact-kitchen-sink/.storybook/webpack.config.js
  examples/rax-kitchen-sink/.storybook/webpack.config.js
  examples/riot-kitchen-sink/.storybook/webpack.config.js
  examples/svelte-kitchen-sink/.storybook/webpack.config.js
  examples/vue-kitchen-sink/.storybook/webpack.config.js
  examples/vue-kitchen-sink/webpack.config.js
  lib/source-loader/src/abstract-syntax-tree/__snapshots__/inject-decorator.test.js.snap
  lib/source-loader/src/abstract-syntax-tree/generate-helpers.js
  lib/source-loader/src/abstract-syntax-tree/inject-decorator.js
  lib/source-loader/src/abstract-syntax-tree/traverse-helpers.js
  lib/source-loader/src/build.js
  lib/source-loader/src/preview.js
Labels: addon: storysource, bug

#7358 FIX prepare script to delete tests & snapshots etc from dist
  scripts/compile-babel.js
  scripts/prepare.js
Labels: maintenance, patch

#7356 Addon-knobs: Fix select options types to allow string[] and null
  addons/knobs/src/components/types/Select.tsx
  addons/knobs/src/components/types/index.ts
  addons/knobs/src/index.ts
Labels: addon: knobs, bug, typescript

#7241 Fix settings page route(about, shortcuts)
  lib/api/src/modules/stories.ts
  lib/api/src/tests/stories.test.js
  lib/router/src/utils.ts
  lib/ui/src/app.js
  lib/ui/src/components/layout/container.js
  lib/ui/src/components/layout/desktop.js
  lib/ui/src/components/layout/mobile.js
  lib/ui/src/components/preview/preview.js
  lib/ui/src/components/sidebar/SidebarStories.js
Labels: bug, ui

#6570 Migrate @storybook/angular to typescript
  addons/centered/angular.d.ts
  addons/centered/package.json
  addons/centered/src/angular.ts
  addons/jest/src/index.ts
  app/angular/index.d.ts
  app/angular/package.json
  app/angular/src/client/index.ts
  app/angular/src/client/preview/angular-polyfills.ts
  app/angular/src/client/preview/angular/app.token.ts
  app/angular/src/client/preview/angular/components/app.component.ts
  app/angular/src/client/preview/angular/decorators.ts
  app/angular/src/client/preview/angular/helpers.ts
  app/angular/src/client/preview/angular/types.ts
  app/angular/src/client/preview/globals.ts
  app/angular/src/client/preview/index.d.ts
  app/angular/src/client/preview/index.js
  app/angular/src/client/preview/index.ts
  app/angular/src/client/preview/render.js
  app/angular/src/client/preview/render.ts
  app/angular/src/client/preview/types.ts
  app/angular/src/public_api.ts
  app/angular/src/server/__tests__/angular-cli_config.test.ts
  app/angular/src/server/__tests__/angular.json
  app/angular/src/server/__tests__/create-fork-ts-checker-plugin.test.ts
  app/angular/src/server/__tests__/ts_config.test.ts
  app/angular/src/server/angular-cli_config.ts
  app/angular/src/server/angular-cli_utils.ts
  app/angular/src/server/build.ts
  app/angular/src/server/create-fork-ts-checker-plugin.ts
  app/angular/src/server/framework-preset-angular-cli.ts
  app/angular/src/server/framework-preset-angular.ts
  app/angular/src/server/index.ts
  app/angular/src/server/options.ts
  app/angular/src/server/ts_config.js
  app/angular/src/server/ts_config.ts
  app/angular/src/typings.d.ts
  app/angular/tsconfig.json
  scripts/compile-babel.js
  scripts/compile-tsc.js
  scripts/prepare.js
  tsconfig.json
  yarn.lock
Labels: app: angular, maintenance, typescript

#7252 ADD travis
  .circleci/config.yml
  .travis.yml
  lib/cli/lib/helpers.js
  lib/cli/lib/initiate.js
  lib/client-api/package.json
  yarn.lock
Labels: maintenance

#7072 FIX types in api package
  lib/api/src/modules/versions.ts
  lib/components/package.json
  lib/router/package.json
Labels: bug, typescript

#7368 cleanup: Remove unused import
  addons/actions/README.md
Labels: documentation, patch

#7239 ADD an ignore for an eslint error about a missing dependency (puppeteer)
  addons/storyshots/storyshots-puppeteer/.eslintrc.js
Labels: maintenance

#7369 Addon-knobs: Revert entrypoint deletion
  addons/knobs/angular.js
  addons/knobs/angular.ts
  addons/knobs/html.js
  addons/knobs/html.ts
  addons/knobs/marko.js
  addons/knobs/marko.ts
  addons/knobs/mithril.js
  addons/knobs/mithril.ts
  addons/knobs/polymer.js
  addons/knobs/polymer.ts
  addons/knobs/react.js
  addons/knobs/react.ts
  addons/knobs/src/deprecated.js
  addons/knobs/vue.js
  addons/knobs/vue.ts
Labels: bug, typescript

#6886 feat: support custom webpack option for standalone storybook
  lib/core/src/server/preview/custom-webpack-preset.js
Labels: babel / webpack, feature request

#7341 Fix TypeError on KnobManager channel
  addons/knobs/src/KnobManager.ts
Labels: addon: knobs, bug

#7290 Fix placement of notificationistList on docs page
  lib/ui/src/components/notifications/item.stories.js
  lib/ui/src/components/notifications/notifications.js
  lib/ui/src/components/notifications/notifications.stories.js
Labels: addon: docs, bug, ui

#7383 Addon-docs: Remove primary parameter
  addons/docs/src/blocks/DocsPage.tsx
Labels: BREAKING CHANGE, addon: docs

#7382 Addon-docs: Fix default separator inconsistency
  addons/docs/src/blocks/DocsPage.tsx
  lib/api/src/modules/stories.ts
Labels: addon: docs, bug, core

#7338 Migrate @storybook/html to Typescript
  app/html/package.json
  app/html/src/client/index.ts
  app/html/src/client/preview/globals.ts
  app/html/src/client/preview/index.js
  app/html/src/client/preview/index.ts
  app/html/src/client/preview/render.ts
  app/html/src/client/preview/types.ts
  app/html/src/server/build.ts
  app/html/src/server/framework-preset-html.ts
  app/html/src/server/index.ts
  app/html/src/server/options.ts
  app/html/src/typings.d.ts
  app/html/tsconfig.json
Labels: app: html, maintenance, typescript

#7402 Share how Storybook visual tests
  docs/src/pages/testing/automated-visual-testing/index.md
Labels: documentation, patch

#7408 Fix propType warnings
  lib/ui/src/components/sidebar/treeview/treeview.js
Labels: bug, ui

#7397 Use v4 UUID instead of v1 for action IDs
  addons/actions/src/preview/action.ts
Labels: addon: actions, maintenance

#7391 Addon-knobs: fix knobs function return types
  addons/knobs/src/KnobManager.ts
  addons/knobs/src/KnobStore.ts
  addons/knobs/src/components/Panel.tsx
  addons/knobs/src/components/PropForm.tsx
  addons/knobs/src/components/types/index.ts
  addons/knobs/src/index.ts
  addons/knobs/src/type-defs.ts
Labels: addon: knobs, bug, typescript

#7410 Addon-analytics: Fix API signature
  addons/google-analytics/src/register.ts
Labels: addon: analytics, bug, patch

#7327 Fix content of Panel rendered wrong at Docs-page
  lib/ui/src/components/panel/panel.js
  lib/ui/src/components/panel/panel.stories.js
Labels: addon: docs, bug, ui

#7337 Typescript: Fix types of client-api & storystore
  app/vue/src/client/preview/index.js
  examples/official-storybook/stories/core/parameters.stories.js
  examples/vue-kitchen-sink/__snapshots__/vueshots.test.js.snap
  examples/vue-kitchen-sink/src/stories/custom-decorators.stories.js
  lib/client-api/src/client_api.ts
  lib/client-api/src/story_store.ts
Labels: api: stories, app: vue, decorators, maintenance, typescript

#7414 CLI: Add migrate command
  lib/cli/README.md
  lib/cli/bin/generate.js
  lib/cli/lib/migrate.js
  lib/codemod/README.md
  lib/codemod/package.json
  lib/codemod/src/index.js
  yarn.lock
Labels: cli, feature request

#7418 Codemod: Convert module format to MDX
  .eslintignore
  lib/codemod/README.md
  lib/codemod/package.json
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/basic.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/basic.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/decorators.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/decorators.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/exclude-stories.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/exclude-stories.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/parameters.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/parameters.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/story-parameters.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/story-parameters.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/basic.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/basic.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/decorators.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/decorators.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/default.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/default.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/module.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/module.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/multi.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/multi.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/parameters.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/parameters.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/story-parameters.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/story-parameters.output.js
  lib/codemod/src/transforms/__tests__/convert-module-to-mdx.test.js
  lib/codemod/src/transforms/__tests__/convert-storiesof-to-module.test.js
  lib/codemod/src/transforms/convert-module-to-mdx.js
  lib/codemod/src/transforms/convert-storiesof-to-module.js
Labels: addon: docs, cli, feature request

#7437 use same param key as backgrounds addon
  addons/ondevice-backgrounds/src/BackgroundPanel.js
  addons/ondevice-backgrounds/src/constants.js
Labels: bug

#7433 Add dev flag for install command
  addons/links/README.md
Labels: addon: links, documentation, patch

#7452 typo
  addons/storyshots/storyshots-core/src/frameworks/frameworkLoader.js
Labels: addon: storyshots, cleanup, patch

#7411 Addon-knobs: improve types via generics and readonlyarray
  addons/knobs/src/KnobManager.ts
  addons/knobs/src/__types__/knob-test-cases.ts
  addons/knobs/src/components/types/Array.tsx
  addons/knobs/src/components/types/Boolean.tsx
  addons/knobs/src/components/types/Button.tsx
  addons/knobs/src/components/types/Checkboxes.tsx
  addons/knobs/src/components/types/Color.tsx
  addons/knobs/src/components/types/Date.tsx
  addons/knobs/src/components/types/Files.tsx
  addons/knobs/src/components/types/Number.tsx
  addons/knobs/src/components/types/Object.tsx
  addons/knobs/src/components/types/Options.tsx
  addons/knobs/src/components/types/Radio.tsx
  addons/knobs/src/components/types/Select.tsx
  addons/knobs/src/components/types/Text.tsx
  addons/knobs/src/components/types/index.ts
  addons/knobs/src/components/types/types.ts
  addons/knobs/src/index.ts
  addons/knobs/src/type-defs.ts
Labels: addon: knobs, bug, typescript

#7449 React native: Emit event when story is rendered
  app/react-native/src/preview/components/StoryView/index.tsx
Labels: app: react-native, feature request

#7454 Addon-Docs: HTML support & example
  addons/docs/html/index.js
  addons/docs/html/preset.js
  examples/html-kitchen-sink/.storybook/config.js
  examples/html-kitchen-sink/.storybook/presets.js
  examples/html-kitchen-sink/package.json
  examples/html-kitchen-sink/stories/addon-docs.stories.mdx
Labels: addon: docs, app: html, feature request

#7463 CLI: sb migrate npm & typescript support
  lib/cli/bin/generate.js
  lib/codemod/src/index.js
Labels: cli, feature request

#7470 React-native: On-device knobs fixes
  addons/ondevice-knobs/src/GroupTabs.js
  addons/ondevice-knobs/src/PropField.js
  addons/ondevice-knobs/src/panel.js
Labels: addon: knobs, app: react-native, bug

#7471 Convert-storiesof-to-module: user exports, collisions, reserved keywords
  lib/codemod/src/lib/isReserved.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/collision.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/collision.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/const.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/const.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/exports.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/exports.output.js
  lib/codemod/src/transforms/__tests__/convert-storiesof-to-module.test.js
  lib/codemod/src/transforms/convert-storiesof-to-module.js
Labels: bug, cli

#7473 Add MDX example to cra-kitchen-sink
  examples/cra-kitchen-sink/.storybook/config.js
  examples/cra-kitchen-sink/.storybook/presets.js
  examples/cra-kitchen-sink/src/stories/test.stories.mdx
Labels: documentation

#7476 Addon-docs: Upgrade MDX to 1.1
  addons/docs/package.json
  yarn.lock
Labels: addon: docs, dependencies

#7482 Added storyId as testID
  app/react-native/src/preview/components/StoryView/index.tsx
Labels: app: react-native, feature request

#7465 Adds storybook-addon-themes to addon-gallery page
  docs/src/pages/addons/addon-gallery/index.md
Labels: documentation, patch

#7441 Addon-docs: Module format embedding example
  examples/official-storybook/stories/demo/button.stories.js
  examples/official-storybook/stories/demo/module-stories-embed.test.js
Labels: documentation

#7200 Fix crna-kitchen-sink not working
  examples-native/crna-kitchen-sink/app.json
  examples-native/crna-kitchen-sink/package.json
  yarn.lock
Labels: app: react-native, bug, question / support

#7475 React-native: On-device knobs input fixes
  addons/ondevice-knobs/src/panel.js
  addons/ondevice-knobs/src/types/Array.js
  addons/ondevice-knobs/src/types/Number.js
  addons/ondevice-knobs/src/types/Object.js
  addons/ondevice-knobs/src/types/Select.js
  addons/ondevice-knobs/src/types/Text.js
Labels: addon: knobs, app: react-native, bug

#7490 Core: Module format story decorators
  addons/docs/__snapshots__/mdx-compiler-plugin.test.js.snap
  addons/docs/fixtures/decorators.mdx
  addons/docs/mdx-compiler-plugin.js
  examples/official-storybook/stories/addon-info/options.stories.js
  examples/official-storybook/stories/core/decorators.stories.js
  lib/codemod/src/transforms/__testfixtures__/convert-mdx-to-module/decorators.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-mdx-to-module/decorators.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/decorators.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/decorators.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/story-decorators.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-storiesof-to-module/story-decorators.output.js
  lib/codemod/src/transforms/__tests__/convert-storiesof-to-module.test.js
  lib/codemod/src/transforms/convert-storiesof-to-module.js
  lib/core/src/client/preview/start.js
Labels: BREAKING CHANGE, addon: docs, core

#7491 Update addon-ondevice-actions package.json
  addons/ondevice-actions/package.json
Labels: addon: actions, app: react-native, maintenance

#7460 Marko support rerendering
  app/marko/src/client/preview/render.js
  docs/src/pages/guides/guide-marko/index.md
  examples/marko-cli/src/stories/addon-actions.stories.js
  examples/marko-cli/src/stories/addon-knobs.stories.js
  examples/marko-cli/src/stories/clickcount.stories.js
  examples/marko-cli/src/stories/hello.stories.js
  examples/marko-cli/src/stories/stopwatch.stories.js
  examples/marko-cli/src/stories/welcome.stories.js
  lib/cli/generators/MARKO/template/stories/index.stories.js
Labels: app: marko, feature request

#7459 Marko: Upgrade loader & config
  app/marko/package.json
  app/marko/src/server/framework-preset-marko.js
  yarn.lock
Labels: app: marko, dependencies

#7494 Add 'Start App' process after run storybook
  docs/src/pages/guides/guide-react-native/index.md
Labels: app: react-native, documentation, patch

#7424 Addon-jest: UI Redesign
  addons/jest/package.json
  addons/jest/src/colors.ts
  addons/jest/src/components/Indicator.ts
  addons/jest/src/components/Message.tsx
  addons/jest/src/components/Panel.tsx
  addons/jest/src/components/Result.tsx
  examples/official-storybook/package.json
  examples/official-storybook/tests/addon-jest.config.json
  lib/components/src/bar/bar.tsx
  lib/components/src/bar/button.ts
  lib/components/src/tabs/tabs.stories.tsx
  lib/components/src/tabs/tabs.tsx
  package.json
  scripts/test.js
  yarn.lock
Labels: addon: jest, feature request

#7497 Addon-docs: Fix MDX source string escaping
  addons/docs/__snapshots__/mdx-compiler-plugin.test.js.snap
  addons/docs/mdx-compiler-plugin.js
  addons/docs/package.json
  examples/official-storybook/stories/demo/button.stories.mdx
  yarn.lock
Labels: addon: docs, bug

#7503 CLI: update `sb init` to module format for HTML/Polymer
  lib/cli/generators/EMBER/template/.storybook/config.js
  lib/cli/generators/HTML/template/.storybook/config.js
  lib/cli/generators/HTML/template/stories/index.stories.js
  lib/cli/generators/POLYMER/template/.storybook/config.js
Labels: app: html, app: polymer, cli, feature request

#7510 source-loader: separate server and client code
  .babelrc.js
  lib/source-loader/package.json
  lib/source-loader/preview.js
  lib/source-loader/src/client/events.js
  lib/source-loader/src/client/preview.js
  lib/source-loader/src/index.js
  lib/source-loader/src/server/abstract-syntax-tree/__snapshots__/inject-decorator.test.js.snap
  lib/source-loader/src/server/abstract-syntax-tree/default-options.js
  lib/source-loader/src/server/abstract-syntax-tree/generate-helpers.js
  lib/source-loader/src/server/abstract-syntax-tree/inject-decorator.js
  lib/source-loader/src/server/abstract-syntax-tree/inject-decorator.test.js
  lib/source-loader/src/server/abstract-syntax-tree/parse-helpers.js
  lib/source-loader/src/server/abstract-syntax-tree/parsers/index.js
  lib/source-loader/src/server/abstract-syntax-tree/parsers/parser-flow.js
  lib/source-loader/src/server/abstract-syntax-tree/parsers/parser-js.js
  lib/source-loader/src/server/abstract-syntax-tree/parsers/parser-ts.js
  lib/source-loader/src/server/abstract-syntax-tree/traverse-helpers.js
  lib/source-loader/src/server/build.js
  lib/source-loader/src/server/dependencies-lookup/getRidOfUselessFilePrefixes.js
  lib/source-loader/src/server/dependencies-lookup/readAsObject.js
  lib/source-loader/src/server/index.js
Labels: bug, source-loader

#7501 CLI: update `sb init` to module format for Vue
  lib/cli/generators/.eslintrc.js
  lib/cli/generators/RAX/template/stories/Welcome.js
  lib/cli/generators/RAX/template/stories/index.stories.js
  lib/cli/generators/SFC_VUE/template/.storybook/config.js
  lib/cli/generators/SFC_VUE/template/src/stories/Button.stories.js
  lib/cli/generators/SFC_VUE/template/src/stories/Welcome.stories.js
  lib/cli/generators/SFC_VUE/template/src/stories/index.stories.js
  lib/cli/generators/VUE/template/.storybook/config.js
  lib/cli/generators/VUE/template/stories/Button.stories.js
  lib/cli/generators/VUE/template/stories/Welcome.stories.js
  lib/cli/generators/VUE/template/stories/index.stories.js
Labels: app: vue, cli, feature request

#7518 Core: Module format `load` accept loader function
  examples/angular-cli/.storybook/config.ts
  examples/cra-kitchen-sink/.storybook/config.js
  examples/cra-react15/.storybook/config.js
  examples/cra-react15/src/stories/welcome.stories.js
  examples/html-kitchen-sink/.storybook/config.js
  examples/official-storybook/config.js
  examples/official-storybook/stories/addon-knobs.stories.js
  examples/official-storybook/stories/addon-notes.stories.js
  examples/vue-kitchen-sink/.storybook/config.js
  lib/client-api/src/story_store.ts
  lib/core/src/client/preview/start.js
Labels: core, feature request

#7519 Fix typos across storybook repository
  CONTRIBUTING.md
  addons/a11y/README.md
  addons/actions/README.md
  addons/options/src/index.ts
  addons/storyshots/storyshots-core/README.md
  addons/storysource/src/StoryPanel.js
  addons/viewport/README.md
  app/react-native/docs/addons.md
  app/react-native/readme.md
  app/react/src/server/cra-config.ts
  app/react/src/server/framework-preset-react-docgen.ts
  docs/src/pages/guides/guide-react-native/index.md
  docs/src/versions/latest.json
  examples/official-storybook/stories/addon-backgrounds.stories.js
  examples/official-storybook/stories/addon-info/options.stories.js
  examples/official-storybook/stories/addon-info/parameters.stories.js
  lib/api/src/modules/url.ts
  lib/api/src/tests/store.test.js
  lib/codemod/README.md
  lib/core/src/server/build-dev.js
  lib/ui/src/components/layout/container.js
  scripts/compile-babel.js
Labels: documentation, patch

#7515 Addon-knobs: enable Typescript `strict` flag
  addons/knobs/package.json
  addons/knobs/src/KnobManager.ts
  addons/knobs/src/KnobStore.ts
  addons/knobs/src/__types__/knob-test-cases.ts
  addons/knobs/src/components/Panel.tsx
  addons/knobs/src/components/PropForm.tsx
  addons/knobs/src/components/types/Array.tsx
  addons/knobs/src/components/types/Boolean.tsx
  addons/knobs/src/components/types/Button.tsx
  addons/knobs/src/components/types/Checkboxes.tsx
  addons/knobs/src/components/types/Color.tsx
  addons/knobs/src/components/types/Date.tsx
  addons/knobs/src/components/types/Files.tsx
  addons/knobs/src/components/types/Number.tsx
  addons/knobs/src/components/types/Object.tsx
  addons/knobs/src/components/types/Options.tsx
  addons/knobs/src/components/types/Radio.tsx
  addons/knobs/src/components/types/Select.tsx
  addons/knobs/src/components/types/Text.tsx
  addons/knobs/src/components/types/index.ts
  addons/knobs/src/converters.ts
  addons/knobs/src/index.ts
  addons/knobs/src/registerKnobs.ts
  addons/knobs/tsconfig.json
Labels: addon: knobs, maintenance, typescript

#7498 Document module / storiesof / mdx story formats
  docs/gatsby-config.js
  docs/src/pages/basics/static/basic-stories.png
  docs/src/pages/basics/static/screenshot.png
  docs/src/pages/basics/writing-stories/index.md
  docs/src/pages/formats/mdx-story-format/index.md
  docs/src/pages/formats/module-story-format/index.md
  docs/src/pages/formats/storiesof-story-format/index.md
  docs/src/templates/_docstemplate.jsx
Labels: addon: docs, documentation

#7400 Fix #7167 addon-centered causes component to disappear when zooming
  lib/core/src/server/templates/base-preview-head.html
Labels: addon: centered, bug, patch

#7524 Core: Top-level components in MDX/Module formats
  addons/docs/__snapshots__/mdx-compiler-plugin.test.js.snap
  addons/docs/fixtures/parameters.mdx
  addons/docs/fixtures/previews.mdx
  addons/docs/src/blocks/Meta.tsx
  docs/src/pages/basics/writing-stories/index.md
  docs/src/pages/formats/module-story-format/index.md
  examples/mithril-kitchen-sink/src/stories/welcome.stories.js
  examples/official-storybook/stories/addon-a11y/base-button.stories.js
  examples/official-storybook/stories/addon-a11y/button.stories.js
  examples/official-storybook/stories/addon-a11y/form.stories.js
  examples/official-storybook/stories/addon-docs.stories.js
  examples/official-storybook/stories/addon-docs.stories.mdx
  examples/official-storybook/stories/addon-info/options.stories.js
  examples/official-storybook/stories/addon-knobs/with-knobs.stories.js
  examples/official-storybook/stories/demo/button.stories.js
  examples/official-storybook/stories/demo/button.stories.mdx
  examples/official-storybook/stories/demo/welcome.stories.js
  examples/preact-kitchen-sink/src/stories/addon-centered.stories.js
  examples/preact-kitchen-sink/src/stories/button.stories.js
  examples/svelte-kitchen-sink/src/stories/addon-centered.stories.js
  examples/vue-kitchen-sink/src/stories/addon-centered.stories.js
  examples/vue-kitchen-sink/src/stories/components/app.stories.js
  examples/vue-kitchen-sink/src/stories/components/button.stories.js
  lib/codemod/src/transforms/__testfixtures__/convert-mdx-to-module/parameters.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-mdx-to-module/parameters.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-mdx-to-module/story-refs.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-mdx-to-module/story-refs.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/parameters.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/parameters.output.js
  lib/core/src/client/preview/start.js
Labels: core, feature request

#7529 Addon-docs: MDX function stories
  addons/docs/__snapshots__/mdx-compiler-plugin.test.js.snap
  addons/docs/fixtures/story-function.mdx
  addons/docs/mdx-compiler-plugin.js
  addons/docs/mdx-compiler-plugin.test.js
  examples/html-kitchen-sink/stories/addon-docs.stories.mdx
  examples/official-storybook/stories/addon-docs.stories.mdx
  lib/codemod/src/transforms/__testfixtures__/convert-mdx-to-module/story-function.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-mdx-to-module/story-function.output.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/story-function.input.js
  lib/codemod/src/transforms/__testfixtures__/convert-module-to-mdx/story-function.output.js
  lib/codemod/src/transforms/__tests__/convert-mdx-to-module.test.js
  lib/codemod/src/transforms/__tests__/convert-module-to-mdx.test.js
  lib/codemod/src/transforms/convert-mdx-to-module.js
Labels: addon: docs, feature request

#7500 CLI: update `sb init` to module format for React
  lib/cli/generators/METEOR/template/.storybook/config.js
  lib/cli/generators/METEOR/template/stories/Button.stories.js
  lib/cli/generators/METEOR/template/stories/Welcome.stories.js
  lib/cli/generators/METEOR/template/stories/index.stories.js
  lib/cli/generators/PREACT/template/.storybook/config.js
  lib/cli/generators/PREACT/template/stories/Button.stories.js
  lib/cli/generators/PREACT/template/stories/Welcome.stories.js
  lib/cli/generators/PREACT/template/stories/index.stories.js
  lib/cli/generators/REACT/template/.storybook/config.js
  lib/cli/generators/REACT/template/stories/Button.stories.js
  lib/cli/generators/REACT/template/stories/Welcome.stories.js
  lib/cli/generators/REACT/template/stories/index.stories.js
  lib/cli/generators/REACT_SCRIPTS/template/.storybook/config.js
  lib/cli/generators/REACT_SCRIPTS/template/src/stories/Button.stories.js
  lib/cli/generators/REACT_SCRIPTS/template/src/stories/Welcome.stories.js
  lib/cli/generators/REACT_SCRIPTS/template/src/stories/index.js
  lib/cli/generators/WEBPACK_REACT/template/.storybook/config.js
  lib/cli/generators/WEBPACK_REACT/template/stories/Button.stories.js
  lib/cli/generators/WEBPACK_REACT/template/stories/Welcome.stories.js
  lib/cli/generators/WEBPACK_REACT/template/stories/index.stories.js
Labels: app: preact, app: react, cli, feature request

#7502 CLI: update `sb init` to module format for Angular
  lib/cli/generators/ANGULAR/template/.storybook/config.js
  lib/cli/generators/ANGULAR/template/src/stories/Button.stories.ts
  lib/cli/generators/ANGULAR/template/src/stories/Welcome.stories.ts
  lib/cli/generators/ANGULAR/template/src/stories/index.stories.ts
Labels: app: angular, cli, feature request

#7504 CLI: update `sb init` to module format for Ember/Marko/Mithril/Rax/Riot/Svelte
  lib/cli/generators/EMBER/template/stories/Button.stories.js
  lib/cli/generators/EMBER/template/stories/Welcome.stories.js
  lib/cli/generators/EMBER/template/stories/index.stories.js
  lib/cli/generators/MARKO/template/.storybook/config.js
  lib/cli/generators/MARKO/template/stories/index.stories.js
  lib/cli/generators/MITHRIL/template/.storybook/config.js
  lib/cli/generators/MITHRIL/template/stories/Button.stories.js
  lib/cli/generators/MITHRIL/template/stories/Welcome.stories.js
  lib/cli/generators/MITHRIL/template/stories/index.stories.js
  lib/cli/generators/RAX/template/.storybook/config.js
  lib/cli/generators/RAX/template/stories/Button.stories.js
  lib/cli/generators/RAX/template/stories/Welcome.stories.js
  lib/cli/generators/RAX/template/stories/index.stories.js
  lib/cli/generators/RIOT/template/.storybook/config.js
  lib/cli/generators/RIOT/template/stories/Button.stories.js
  lib/cli/generators/RIOT/template/stories/Welcome.stories.js
  lib/cli/generators/RIOT/template/stories/index.stories.js
  lib/cli/generators/SVELTE/template/.storybook/config.js
  lib/cli/generators/SVELTE/template/stories/index.stories.js
Labels: app: ember, app: marko, app: mithril, app: rax, app: riot, app: svelte, cli, feature request

#7531 attempt to fix travis timeouts
  .travis.yml
Labels: maintenance

#7533 fix(ondevice-knobs): graceful fail on missing default
  addons/ondevice-knobs/src/types/Select.js
Labels: addon: knobs, app: react-native, bug

#7393 Addon-contexts: Ensure nodes is Array
  addons/contexts/src/manager/ContextsManager.tsx
Labels: addon: contexts, bug

#7542 Core: Don't allow duplicate titles
  docs/src/pages/basics/writing-stories/index.md
  docs/src/pages/formats/module-story-format/index.md
  examples/official-storybook/stories/demo/button.stories.js
  examples/official-storybook/stories/demo/button.stories.mdx
  lib/core/src/client/preview/start.js
Labels: BREAKING CHANGE, addon: docs, core

#7225 feat(docs): update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation

#7484 chore: log loading angular cli config error
  app/angular/src/server/angular-cli_utils.ts
Labels: app: angular, maintenance

#7552 Fix package.json description typos
  addons/storyshots/storyshots-puppeteer/package.json
Labels: addon: storyshots, documentation, patch

#7554 Addon-storysource: Add source-loader dep to avoid breaking change
  addons/storysource/loader.js
  addons/storysource/package.json
Labels: addon: storysource, bug

#7547 Addon-docs: Add source loader to preset
  addons/docs/README.md
  addons/docs/common/preset.js
  addons/docs/package.json
  examples/angular-cli/.storybook/presets.js
  examples/angular-cli/.storybook/webpack.config.ts
  examples/cra-kitchen-sink/.storybook/config.js
  examples/cra-kitchen-sink/.storybook/presets.js
  examples/cra-kitchen-sink/package.json
  examples/html-kitchen-sink/.storybook/presets.js
  examples/html-kitchen-sink/.storybook/webpack.config.js
  examples/official-storybook/presets.js
  examples/official-storybook/webpack.config.js
  examples/vue-kitchen-sink/.storybook/presets.js
  examples/vue-kitchen-sink/.storybook/webpack.config.js
Labels: BREAKING CHANGE, addon: docs

#7548 Fix attribute warning on shortcuts button clicked
  lib/components/src/tooltip/ListItem.tsx
Labels: bug, ui

#7561 Removed port to reduce confusion.
  docs/src/pages/guides/guide-react-native/index.md
Labels: app: react-native, app: react-native-server, documentation

#7571 React: Add hooks support to stories
  app/react/src/client/preview/render.tsx
  examples/official-storybook/stories/demo/button.stories.js
  examples/official-storybook/stories/demo/button.stories.mdx
  examples/official-storybook/stories/demo/csf-embedding.test.js
Labels: app: react, feature request

#7573 Core: Remove project root `babel.config.js` loading
  MIGRATION.md
  lib/core/src/server/utils/load-custom-babel-config.js
Labels: BREAKING CHANGE, patch

#7574 Fix(cli): error if angular.json not specify default project
  lib/cli/generators/ANGULAR/angular-helpers.js
  lib/cli/generators/ANGULAR/index.js
Labels: app: angular, maintenance

#6884 Call onChanges() only for changed props
  app/angular/src/client/preview/angular/components/app.component.ts
Labels: app: angular, bug

#7568 Fix select knob default selection with array
  addons/knobs/src/components/__tests__/Select.js
  addons/knobs/src/components/types/Select.tsx
Labels: addon: knobs, bug

#7576 Core: rename `load` to `configure`
  app/angular/src/client/index.ts
  app/angular/src/client/preview/index.ts
  app/ember/src/client/index.js
  app/ember/src/client/preview/index.js
  app/html/src/client/index.ts
  app/html/src/client/preview/index.ts
  app/marko/src/client/index.js
  app/marko/src/client/preview/index.js
  app/mithril/src/client/index.js
  app/mithril/src/client/preview/index.js
  app/polymer/src/client/index.js
  app/polymer/src/client/preview/index.js
  app/preact/src/client/index.js
  app/preact/src/client/preview/index.js
  app/rax/src/client/index.js
  app/rax/src/client/preview/index.js
  app/react/src/client/index.ts
  app/react/src/client/preview/index.ts
  app/riot/src/client/index.js
  app/riot/src/client/preview/index.js
  app/svelte/src/client/index.js
  app/svelte/src/client/preview/index.js
  app/vue/src/client/index.js
  app/vue/src/client/preview/index.js
  docs/src/pages/basics/writing-stories/index.md
  docs/src/pages/formats/storiesof-api/index.md
  examples/angular-cli/.storybook/config.ts
  examples/cra-kitchen-sink/.storybook/config.js
  examples/cra-react15/.storybook/config.js
  examples/ember-cli/.storybook/config.js
  examples/html-kitchen-sink/.storybook/config.js
  examples/marko-cli/.storybook/config.js
  examples/mithril-kitchen-sink/.storybook/config.js
  examples/official-storybook/config.js
  examples/polymer-cli/.storybook/config.js
  examples/preact-kitchen-sink/.storybook/config.js
  examples/rax-kitchen-sink/.storybook/config.js
  examples/riot-kitchen-sink/.storybook/config.js
  examples/svelte-kitchen-sink/.storybook/config.js
  examples/vue-kitchen-sink/.storybook/config.js
  lib/addons/src/types.ts
  lib/cli/generators/ANGULAR/template/.storybook/config.js
  lib/cli/generators/EMBER/template/.storybook/config.js
  lib/cli/generators/HTML/template/.storybook/config.js
  lib/cli/generators/MARKO/template/.storybook/config.js
  lib/cli/generators/METEOR/template/.storybook/config.js
  lib/cli/generators/MITHRIL/template/.storybook/config.js
  lib/cli/generators/POLYMER/template/.storybook/config.js
  lib/cli/generators/PREACT/template/.storybook/config.js
  lib/cli/generators/RAX/template/.storybook/config.js
  lib/cli/generators/REACT/template/.storybook/config.js
  lib/cli/generators/REACT_SCRIPTS/template/.storybook/config.js
  lib/cli/generators/RIOT/template/.storybook/config.js
  lib/cli/generators/SFC_VUE/template/.storybook/config.js
  lib/cli/generators/SVELTE/template/.storybook/config.js
  lib/cli/generators/VUE/template/.storybook/config.js
  lib/cli/generators/WEBPACK_REACT/template/.storybook/config.js
  lib/client-api/src/types.ts
  lib/core/src/client/preview/start.js
Labels: BREAKING CHANGE, core

#7513 Remove React specific wording from Knobs Addon README
  addons/knobs/README.md
Labels: documentation, patch

#7585 fix(@storybook/angular): Fix @angular-devkit/build-angular version
  app/angular/package.json
Labels: app: angular, maintenance

#7584 Grammar/typo fixes in Readme
  addons/contexts/README.md
Labels: addon: contexts, documentation

#7477 Addon-info: only render Components in propTables
  addons/info/src/components/Story.js
Labels: addon: info, bug

#7566 #7563 Support TSX in config folder
  app/react/src/server/__mocks__/mockRules.ts
  app/react/src/server/cra-config.test.ts
  app/react/src/server/cra-config.ts
Labels: compatibility with other tools, cra

#7586 Update telejson dependency to 2.2.2
  lib/api/package.json
  lib/channel-postmessage/package.json
  lib/ui/package.json
  yarn.lock
Labels: dependencies

#7579 Addon-docs: Add DocsPage automagically
  .gitignore
  addons/docs/angular/config.js
  addons/docs/angular/preset.js
  addons/docs/common/makePreset.js
  addons/docs/html/config.js
  addons/docs/html/preset.js
  addons/docs/react/config.js
  addons/docs/react/preset.js
  addons/docs/vue/config.js
  addons/docs/vue/preset.js
  examples/angular-cli/.storybook/config.ts
  examples/angular-cli/.storybook/presets.js
  examples/cra-kitchen-sink/.storybook/config.js
  examples/cra-kitchen-sink/.storybook/presets.js
  examples/html-kitchen-sink/.storybook/config.js
  examples/html-kitchen-sink/.storybook/presets.js
  examples/official-storybook/config.js
  examples/official-storybook/presets.js
  examples/vue-kitchen-sink/.storybook/config.js
  examples/vue-kitchen-sink/.storybook/presets.js
Labels: addon: docs, feature request

#7590 CLI: Fix storiesof-to-csf migration w/punctuation
  addons/docs/__snapshots__/mdx-compiler-plugin.test.js.snap
  addons/docs/fixtures/story-definitions.mdx
  lib/codemod/src/lib/utils.js
  lib/codemod/src/lib/utils.test.js
  lib/codemod/src/transforms/__testfixtures__/mdx-to-csf/basic.input.js
  lib/codemod/src/transforms/__testfixtures__/mdx-to-csf/basic.output.js
  lib/codemod/src/transforms/__testfixtures__/storiesof-to-csf/basic.input.js
  lib/codemod/src/transforms/__testfixtures__/storiesof-to-csf/basic.output.js
  lib/codemod/src/transforms/mdx-to-csf.js
  lib/codemod/src/transforms/storiesof-to-csf.js
Labels: bug, cli

#7592 UPGRADES
  lib/core/package.json
  lib/ui/package.json
  package.json
  yarn.lock
Labels: dependencies:update

#7604 FIX links to versionioned README
  README.md
Labels: documentation, patch

#7605 Output entire config when debugging webpack
  docs/src/pages/configurations/custom-webpack-config/index.md
Labels: documentation, patch

#7598 React/Angular/HTML/Vue: Fix typings for `configure`
  app/angular/src/client/preview/index.ts
  app/html/src/client/preview/index.ts
  app/react/src/client/preview/index.ts
  app/vue/src/client/preview/index.ts
Labels: app: angular, app: html, app: react, bug, typescript

#7597 Addon-docs: Ensure getNotes/getInfo return string
  addons/docs/src/blocks/Description.tsx
Labels: addon: docs, bug

#7527 Migrate @storybook/preact to Typescript
  app/angular/src/server/angular-cli_utils.ts
  app/preact/package.json
  app/preact/src/client/index.ts
  app/preact/src/client/preview/globals.ts
  app/preact/src/client/preview/index.js
  app/preact/src/client/preview/index.ts
  app/preact/src/client/preview/render.tsx
  app/preact/src/client/preview/types.ts
  app/preact/src/server/build.ts
  app/preact/src/server/framework-preset-preact.ts
  app/preact/src/server/index.ts
  app/preact/src/server/options.ts
  app/preact/src/typings.d.ts
  app/preact/tsconfig.json
  docs/src/versions/next.json
Labels: app: preact, maintenance, typescript

#7624 feat(cli): show up additional package information with sb info
  lib/cli/bin/generate.js
Labels: bug, cli

#7627 fix(cli): Fixup usage information
  lib/cli/bin/generate.js
Labels: bug, cli, patch

#7631 Fix docs typo
  docs/src/pages/basics/writing-stories/index.md
Labels: documentation, patch

#7630 Better default storySort function
  MIGRATION.md
  examples/cra-kitchen-sink/.storybook/config.js
  examples/official-storybook/config.js
Labels: documentation, patch

#7623 FIX #7619
  lib/components/src/syntaxhighlighter/syntaxhighlighter.tsx
Labels: bug, patch, ui

#7632 Knobs documentation: document `accept` argument
  addons/knobs/README.md
Labels: documentation, patch

#7622 CHANGE define plugin variables to globals instead
  examples/standalone-preview/package.json
  lib/core/src/server/manager/manager-webpack.config.js
  lib/core/src/server/preview/iframe-webpack.config.js
  lib/core/src/server/templates/index.ejs
  lib/ui/src/containers/preview.js
  lib/ui/src/index.js
  package.json
  yarn.lock
Labels: addon: docs, bug, ui

#7413 #6975 lib/ui TS migration - 1
  lib/cli/bin/generate.js
  lib/components/src/ActionBar/ActionBar.stories.tsx
  lib/components/src/blocks/ColorPalette.stories.tsx
  lib/components/src/blocks/Description.stories.tsx
  lib/components/src/blocks/DocsPage.stories.tsx
  lib/components/src/blocks/EmptyBlock.stories.tsx
  lib/components/src/blocks/IconGallery.stories.tsx
  lib/components/src/blocks/Preview.stories.tsx
  lib/components/src/blocks/PropsTable/PropRow.stories.tsx
  lib/components/src/blocks/PropsTable/PropsTable.stories.tsx
  lib/components/src/blocks/Source.stories.tsx
  lib/components/src/blocks/Story.stories.tsx
  lib/components/src/blocks/Typeset.stories.tsx
  lib/components/src/brand/StorybookLogo.stories.tsx
  lib/components/src/placeholder/placeholder.stories.tsx
  lib/components/src/tooltip/TooltipLinkList.tsx
  lib/components/src/typography/DocumentFormatting.stories.tsx
  lib/ui/package.json
  lib/ui/src/components/preview/iframe.stories.js
  lib/ui/src/components/sidebar/ListItemIcon.stories.tsx
  lib/ui/src/components/sidebar/ListItemIcon.tsx
  lib/ui/src/components/sidebar/Sidebar.stories.tsx
  lib/ui/src/components/sidebar/Sidebar.tsx
  lib/ui/src/components/sidebar/SidebarHeading.stories.tsx
  lib/ui/src/components/sidebar/SidebarHeading.tsx
  lib/ui/src/components/sidebar/SidebarItem.stories.tsx
  lib/ui/src/components/sidebar/SidebarItem.tsx
  lib/ui/src/components/sidebar/SidebarSearch.stories.tsx
  lib/ui/src/components/sidebar/SidebarSearch.tsx
  lib/ui/src/components/sidebar/SidebarStories.js
  lib/ui/src/components/sidebar/SidebarStories.stories.tsx
  lib/ui/src/components/sidebar/SidebarStories.tsx
  lib/ui/src/components/sidebar/SidebarSubheading.stories.js
  lib/ui/src/components/sidebar/SidebarSubheading.stories.tsx
  lib/ui/src/components/sidebar/SidebarSubheading.tsx
  lib/ui/src/settings/SettingsFooter.stories.js
  lib/ui/tsconfig.json
  package.json
Labels: maintenance, typescript, ui
