Repository storybookjs/storybook, pull requests merged in 2019-12, with the labels that each got.

#8998 Addon-docs: Increase Props summary and func length
  addons/docs/src/frameworks/react/propTypes/createType.ts
  addons/docs/src/frameworks/react/propTypes/generateFuncSignature.ts
  addons/docs/src/frameworks/react/propTypes/handleProp.test.tsx
  addons/docs/src/lib/docgen/flow/createPropDef.test.ts
  addons/docs/src/lib/utils.ts
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/types/prop-types.js
Labels: addon: docs, block: props, feature request

#8999 Add svelte-loader to docs for Svelte guide
  docs/src/pages/guides/guide-svelte/index.md
Labels: documentation, patch

#9013 CLI: Fix various storiesof-to-csf cases based on chromatic stories upgrade
  lib/codemod/src/transforms/__testfixtures__/storiesof-to-csf/export-destructuring.input.js
  lib/codemod/src/transforms/__testfixtures__/storiesof-to-csf/export-destructuring.output.snapshot
  lib/codemod/src/transforms/__testfixtures__/storiesof-to-csf/export-function.input.js
  lib/codemod/src/transforms/__testfixtures__/storiesof-to-csf/export-function.output.snapshot
  lib/codemod/src/transforms/__testfixtures__/storiesof-to-csf/export-names.input.js
  lib/codemod/src/transforms/__testfixtures__/storiesof-to-csf/export-names.output.snapshot
  lib/codemod/src/transforms/__testfixtures__/storiesof-to-csf/parameters-as-var.input.js
  lib/codemod/src/transforms/__testfixtures__/storiesof-to-csf/parameters-as-var.output.snapshot
  lib/codemod/src/transforms/__testfixtures__/storiesof-to-csf/storiesof-var.input.js
  lib/codemod/src/transforms/__testfixtures__/storiesof-to-csf/storiesof-var.output.snapshot
  lib/codemod/src/transforms/storiesof-to-csf.js
Labels: bug, cli, csf

#8995 Source-loader: Handle template strings in CSF title
  examples/official-storybook/stories/addon-docs/addon-docs.stories.js
  lib/source-loader/src/server/abstract-syntax-tree/traverse-helpers.js
Labels: bug, source-loader

#9021 Addon-docs: Restore IE11 compat by transpiling acorn-jsx
  addons/docs/src/frameworks/common/preset.ts
Labels: addon: docs, bug

#9040 Update CSF docs to clarify how naming works
  docs/src/pages/formats/component-story-format/index.md
Labels: documentation, patch

#9051 Addon-docs: MDX Linking
  addons/docs/package.json
  addons/docs/src/blocks/Anchor.tsx
  addons/docs/src/blocks/DocsContainer.tsx
  addons/docs/src/blocks/mdx.tsx
  addons/docs/src/blocks/utils.ts
  addons/docs/src/frameworks/common/preset.ts
  addons/docs/src/typings.d.ts
  examples/cra-ts-kitchen-sink/src/stories/anchors/anchors.stories.mdx
  examples/cra-ts-kitchen-sink/src/stories/props-sort.stories.mdx
  examples/official-storybook/stories/addon-docs/docs-only.stories.mdx
  examples/official-storybook/stories/addon-docs/markdown.stories.mdx
  lib/components/src/html.tsx
  yarn.lock
Labels: addon: docs, feature request, mdx

#9065 Fix typo
  lib/codemod/README.md
Labels: addon: docs, cli, patch

#9061 Storyshots: Escape Windows fileNames
  addons/storyshots/storyshots-core/injectFileName.js
Labels: addon: storyshots, bug, patch

#9060 Addon-docs: DocsPage Heading and Subheading anchor links
  addons/docs/src/blocks/Heading.tsx
  addons/docs/src/blocks/Subheading.tsx
  addons/docs/src/blocks/mdx.tsx
Labels: addon: docs, feature request

#9066 Addon-docs: Upgrade vue-docgen-api
  addons/docs/package.json
  addons/docs/src/lib/docgen/extractDocgenProps.ts
  yarn.lock
Labels: addon: docs, app: vue, dependencies

#9054 Core: Fix `api.selectStory` for component permalinks
  examples/official-storybook/stories/demo/welcome.stories.js
  lib/api/src/modules/stories.ts
  lib/api/src/tests/stories.test.js
Labels: bug, core

#9063 Addon-docs: MDX Octicon anchors should not be tabbable
  addons/docs/src/blocks/mdx.tsx
Labels: addon: docs, bug, mdx

#9069 MDX: Handle quotes / template literals in title
  addons/docs/src/mdx/__testfixtures__/meta-quotes-in-title.mdx
  addons/docs/src/mdx/__testfixtures__/meta-quotes-in-title.output.snapshot
  addons/docs/src/mdx/__testfixtures__/title-template-string.mdx
  addons/docs/src/mdx/__testfixtures__/title-template-string.output.snapshot
  addons/docs/src/mdx/mdx-compiler-plugin.js
  addons/docs/src/mdx/title-generators.js
  examples/official-storybook/stories/addon-docs/meta-string-template.stories.mdx
  examples/official-storybook/stories/addon-docs/meta-title-quotes.stories.mdx
Labels: feature request, mdx

#9067 Addon-docs: Add Props for Ember
  addons/docs/ember/README.md
  addons/docs/ember/index.js
  addons/docs/src/frameworks/ember/config.js
  addons/docs/src/frameworks/ember/index.js
  addons/docs/src/frameworks/ember/jsondoc.js
  examples/ember-cli/.storybook/main.js
  examples/ember-cli/.storybook/preset.js
  examples/ember-cli/.storybook/preview.js
  examples/ember-cli/app/components/welcome-banner.js
  examples/ember-cli/ember-cli-build.js
  examples/ember-cli/package.json
  examples/ember-cli/stories/welcome-banner.stories.js
  yarn.lock
Labels: addon: docs, app: ember, feature request

#9082 Addon-docs: Upgrade vue-docgen-loader
  addons/docs/package.json
  yarn.lock
Labels: addon: docs, dependencies

#9019 Addon essentials
  .eslintignore
  addons/essentials/README.md
  addons/essentials/package.json
  addons/essentials/src/index.ts
  addons/essentials/src/typings.d.ts
  addons/essentials/tsconfig.json
  addons/knobs/preset.js
  addons/knobs/src/preset/addDecorator.ts
  addons/knobs/src/preset/index.ts
  examples/cra-ts-essentials/.storybook/main.js
  examples/cra-ts-essentials/README.md
  examples/cra-ts-essentials/package.json
  examples/cra-ts-essentials/public/favicon.ico
  examples/cra-ts-essentials/public/index.html
  examples/cra-ts-essentials/public/logo192.png
  examples/cra-ts-essentials/public/logo512.png
  examples/cra-ts-essentials/public/manifest.json
  examples/cra-ts-essentials/public/robots.txt
  examples/cra-ts-essentials/src/App.css
  examples/cra-ts-essentials/src/App.test.tsx
  examples/cra-ts-essentials/src/App.tsx
  examples/cra-ts-essentials/src/index.css
  examples/cra-ts-essentials/src/index.tsx
  examples/cra-ts-essentials/src/logo.svg
  examples/cra-ts-essentials/src/react-app-env.d.ts
  examples/cra-ts-essentials/src/serviceWorker.ts
  examples/cra-ts-essentials/src/stories/0-Welcome.stories.tsx
  examples/cra-ts-essentials/src/stories/1-Button.stories.tsx
  examples/cra-ts-essentials/tsconfig.json
  yarn.lock
Labels: feature request

#9086 Addon-docs: Fix prop table default value for web-components
  addons/docs/src/frameworks/web-components/config.js
Labels: addon: docs, app: web-components, bug

#9092 Source-loader: Support function declaration story exports
  __mocks__/inject-decorator.ts.csf.txt
  lib/source-loader/src/server/abstract-syntax-tree/__snapshots__/inject-decorator.csf.test.js.snap
  lib/source-loader/src/server/abstract-syntax-tree/generate-helpers.js
  lib/source-loader/src/server/abstract-syntax-tree/traverse-helpers.js
Labels: bug, source-loader

#9093 Addon-essentials: Remove docs from essentials
  addons/essentials/package.json
  addons/essentials/src/index.ts
Labels: addon: essentials, feature request

#9099 CSF: Refactor router utils into CSF library
  addons/docs/package.json
  addons/docs/src/blocks/Title.tsx
  addons/docs/src/mdx/mdx-compiler-plugin.js
  addons/links/package.json
  addons/links/src/preview.ts
  addons/storyshots/storyshots-puppeteer/package.json
  addons/storyshots/storyshots-puppeteer/src/url.ts
  lib/api/package.json
  lib/api/src/modules/stories.ts
  lib/api/src/modules/url.ts
  lib/client-api/package.json
  lib/client-api/src/client_api.ts
  lib/client-api/src/story_store.test.ts
  lib/codemod/package.json
  lib/codemod/src/transforms/csf-to-mdx.js
  lib/codemod/src/transforms/storiesof-to-csf.js
  lib/core/package.json
  lib/core/src/client/preview/index.js
  lib/core/src/client/preview/start.js
  lib/core/src/client/preview/start.test.js
  lib/core/src/client/preview/url.js
  lib/router/package.json
  lib/router/src/utils.test.js
  lib/router/src/utils.ts
  lib/source-loader/package.json
  lib/source-loader/src/server/abstract-syntax-tree/parse-helpers.js
  lib/source-loader/src/server/abstract-syntax-tree/traverse-helpers.js
  yarn.lock
Labels: csf, maintenance

#9100 Source-loader: Handle includeStories/excludeStories in CSF
  __mocks__/inject-decorator.ts.csf.txt
  lib/api/src/modules/stories.ts
  lib/source-loader/src/server/abstract-syntax-tree/__snapshots__/inject-decorator.csf.test.js.snap
  lib/source-loader/src/server/abstract-syntax-tree/traverse-helpers.js
Labels: bug, source-loader

#9003 Ndelangen/remove css usage
  addons/a11y/src/components/A11YPanel.tsx
  addons/a11y/src/components/Report/Elements.tsx
  addons/a11y/src/components/Report/Info.tsx
  addons/a11y/src/components/Report/Item.tsx
  addons/a11y/src/components/Report/Rules.tsx
  addons/a11y/src/components/Report/Tags.tsx
  addons/a11y/src/components/Tabs.tsx
  addons/a11y/src/components/__snapshots__/A11YPanel.test.js.snap
  addons/actions/src/components/ActionLogger/style.tsx
  addons/events/src/components/Panel.tsx
  addons/info/src/__snapshots__/index.test.js.snap
  addons/info/src/components/Story.js
  addons/info/src/components/markdown/pre/copyButton.js
  addons/jest/src/components/Message.tsx
  addons/jest/src/components/Panel.tsx
  addons/jest/src/components/Result.tsx
  addons/jest/src/styles.js
  addons/knobs/src/components/types/Number.tsx
  addons/viewport/src/Tool.tsx
  examples/mithril-kitchen-sink/src/Button.js
  examples/mithril-kitchen-sink/src/Welcome.js
  examples/official-storybook/stories/addon-info/story-source.stories.js
  examples/official-storybook/stories/addon-knobs/with-knobs.stories.js
  lib/cli/generators/MITHRIL/template-csf/stories/Button.js
  lib/cli/generators/MITHRIL/template-csf/stories/Welcome.js
  lib/components/src/Button/Button.tsx
  lib/components/src/blocks/DocsPage.tsx
  lib/components/src/blocks/EmptyBlock.tsx
  lib/components/src/blocks/PropsTable/PropJsDoc.tsx
  lib/components/src/blocks/PropsTable/PropRow.tsx
  lib/components/src/blocks/PropsTable/PropValue.tsx
  lib/components/src/blocks/PropsTable/PropsTable.tsx
  lib/components/src/form/input/input.tsx
  lib/components/src/tooltip/ListItem.tsx
  lib/components/src/tooltip/Tooltip.stories.tsx
  lib/components/src/tooltip/WithTooltip.stories.tsx
  lib/components/src/typography/DocumentFormatting.tsx
  lib/components/src/typography/DocumentWrapper.tsx
  lib/components/src/typography/link/link.tsx
  lib/components/src/typography/shared.tsx
  lib/core/src/client/preview/NoDocs.js
  lib/ui/src/components/layout/container.js
  lib/ui/src/components/sidebar/Sidebar.tsx
  lib/ui/src/components/sidebar/SidebarHeading.tsx
  lib/ui/src/components/sidebar/SidebarSearch.tsx
  lib/ui/src/settings/shortcuts.js
Labels: maintenance

#9106 fix: add web-components to cli init
  lib/cli/generators/WEB-COMPONENTS/index.js
  lib/cli/generators/WEB-COMPONENTS/template/.storybook/preview.js
  lib/cli/lib/detect.js
  lib/cli/lib/initiate.js
  lib/cli/lib/project_types.js
  lib/cli/package.json
Labels: bug, cli

#9117 docs(writing-stories): replace load with configure
  docs/src/pages/basics/writing-stories/index.md
Labels: documentation

#9118 Addon-docs: Update MDX compiler to fix knobs
  addons/docs/src/blocks/mdx.tsx
  addons/docs/src/mdx/__testfixtures__/component-id.output.snapshot
  addons/docs/src/mdx/__testfixtures__/decorators.output.snapshot
  addons/docs/src/mdx/__testfixtures__/docs-only.output.snapshot
  addons/docs/src/mdx/__testfixtures__/meta-quotes-in-title.output.snapshot
  addons/docs/src/mdx/__testfixtures__/non-story-exports.output.snapshot
  addons/docs/src/mdx/__testfixtures__/parameters.output.snapshot
  addons/docs/src/mdx/__testfixtures__/previews.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-current.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-def-text-only.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-definitions.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-function-var.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-function.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-object.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-references.output.snapshot
  addons/docs/src/mdx/__testfixtures__/title-template-string.output.snapshot
  addons/docs/src/mdx/__testfixtures__/vanilla.output.snapshot
  addons/docs/src/mdx/mdx-compiler-plugin.js
  examples/angular-cli/src/stories/addon-docs.stories.mdx
Labels: addon: docs, bug, mdx, patch

#9104 CLI: Add Yarn workspaces support for init command
  lib/cli/README.md
  lib/cli/lib/has_yarn.js
  lib/cli/package.json
Labels: cli, feature request

#9116 ADD migration documentation for triconfig
  MIGRATION.md
Labels: core, documentation

#9122 fix documentation typo: add missing = in react config example
  docs/src/pages/guides/guide-react/index.md
Labels: documentation

#9107 Web-components: Clean up example `custom-elements.json` and expose `defaultValue`
  examples/web-components-kitchen-sink/custom-elements.json
Labels: maintenance

#9114 CHANGE CI to chromatic on all examples
  .circleci/config.yml
  examples/cra-kitchen-sink/src/stories/force-rerender.stories.js
  examples/cra-kitchen-sink/src/stories/perf.stories.js
  examples/rax-kitchen-sink/src/components/App/App.test.js
  examples/rax-kitchen-sink/src/components/App/index.js
  examples/rax-kitchen-sink/src/components/App/index.stylesheet
  examples/rax-kitchen-sink/src/components/Welcome/Welcome.test.js
  examples/rax-kitchen-sink/src/components/Welcome/__snapshots__/Welcome.test.js.snap
  examples/rax-kitchen-sink/src/components/Welcome/index.js
  examples/rax-kitchen-sink/src/index.js
  examples/rax-kitchen-sink/src/stories/addon-centered.stories.js
  examples/rax-kitchen-sink/src/stories/addon-jest.stories.js
  examples/rax-kitchen-sink/src/stories/index.stories.js
  examples/vue-kitchen-sink/src/stories/__snapshots__/core-errors.stories.storyshot
  examples/vue-kitchen-sink/src/stories/core-errors.stories.js
Labels: maintenance

#9130 Documentation: Fix typo in code example
  addons/docs/docs/recipes.md
Labels: documentation, patch

#9140 Move back to original jscodeshift package
  lib/codemod/package.json
  lib/codemod/src/transforms/__tests__/transforms.tests.js
  yarn.lock
Labels: dependencies

#9142 React: Fix CRA preset check
  app/react/src/server/framework-preset-cra.ts
Labels: app: react, bug

#9137 Addon-viewport: Allow viewports config to be optional
  addons/viewport/README.md
  addons/viewport/src/Tool.tsx
  addons/viewport/src/legacy_preview/index.ts
  addons/viewport/src/models/ViewportAddonParameter.ts
  addons/viewport/src/preview.ts
Labels: addon: viewport, bug, patch

#9147 Fix wrong path in readme
  addons/docs/README.md
Labels: documentation

#9151 SB Docs README for react and triconfig
  addons/docs/README.md
  addons/docs/angular/README.md
  addons/docs/ember/README.md
  addons/docs/react/README.md
  addons/docs/vue/README.md
Labels: documentation

#9152 Update index.md
  docs/src/pages/formats/storiesof-api/index.md
Labels: documentation, patch

#7700 Addon-docs: Render components as leaves in `--docs` mode
  addons/docs/src/frameworks/web-components/config.js
  docs/src/new-components/basics/tooltip/TooltipLinkList.js
  lib/api/src/modules/stories.ts
  lib/ui/src/components/sidebar/SidebarItem.tsx
  lib/ui/src/components/sidebar/treeview/utils.js
  lib/ui/src/containers/nav.js
  lib/ui/src/containers/nav.test.js
Labels: addon: docs, feature request, in progress

#9125 Addon-docs: Hide addons on docs-only stories
  lib/ui/src/app.js
  lib/ui/src/components/layout/container.js
  lib/ui/src/components/layout/desktop.js
  lib/ui/src/components/preview/preview.js
  lib/ui/src/containers/preview.js
  lib/ui/src/index.js
Labels: bug, ui

#9155 Upgrade vue-docgen-loader to 1.3.0-beta.0
  addons/docs/package.json
  yarn.lock
Labels: addon: docs, dependencies

#9087 Core: Emit store render event synchronously if we can
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
Labels: bug, patch

#9159 docs(addon-backgrounds): fix usage typos in addon-backgrounds documentation
  addons/backgrounds/README.md
Labels: documentation, patch

#9158 Addon-docs: Add fontFamily prop to Typeset component
  lib/components/src/blocks/Typeset.stories.tsx
  lib/components/src/blocks/Typeset.tsx
Labels: addon: docs, feature request

#9157 React: Add support for CRA without overrides
  app/react/src/server/framework-preset-cra.ts
  lib/core/src/server/preview/base-webpack.config.js
  lib/core/src/server/preview/custom-webpack-preset.js
Labels: cra, feature request

#9165 docs: ✏️ Fix link to `babel.js` src in ES2016+ Support
  docs/src/pages/configurations/default-config/index.md
Labels: documentation, patch

#9179 fix(a11y): fix highlight of selected blindness color filter
  addons/a11y/src/components/ColorBlindness.tsx
Labels: addon: a11y, bug

#9182 Add react-scripts automatic setup to docs
  docs/src/pages/guides/guide-react/index.md
Labels: documentation, patch

#9184 Addon-essentials: Remove actions, links, knobs
  addons/essentials/README.md
  addons/essentials/package.json
  addons/essentials/src/index.ts
  examples/cra-ts-essentials/package.json
  examples/cra-ts-kitchen-sink/package.json
  yarn.lock
Labels: addon: essentials, maintenance

#9181 CSF: Use `__orderedExports` in loader if provided
  lib/core/src/client/preview/start.js
Labels: core, csf, feature request

#9194 Fix localeCompare() examples. Fixes #9193
  MIGRATION.md
  docs/src/pages/configurations/options-parameter/index.md
  examples/cra-kitchen-sink/.storybook/preview.js
  examples/official-storybook/preview.js
  lib/client-api/src/story_store.test.ts
Labels: documentation, patch

#9204 DocsPage: Fix title with new path separator scheme
  addons/docs/src/blocks/DocsPage.test.ts
  addons/docs/src/blocks/Title.tsx
Labels: addon: docs, bug

#9123 Preact: Fix story function typescript type
  app/preact/src/client/preview/types.ts
Labels: app: preact, bug, patch, typescript

#9079 Shared useaddonstate
  examples/dev-kits/main.js
  examples/dev-kits/manager.js
  examples/dev-kits/package.json
  examples/dev-kits/stories/addon-useaddonstate.tsx
  lib/addons/src/hooks.ts
  lib/api/src/index.tsx
  lib/channel-postmessage/src/index.ts
  lib/channels/src/index.ts
  lib/client-api/src/hooks.ts
  lib/core-events/src/index.ts
  lib/core/src/client/preview/start.js
Labels: core, feature request

#8822 IMPROVE storybook's compatibility to work within a monorepo
  lib/core/src/server/common/babel.js
  lib/core/src/server/config/utils.js
  lib/core/src/server/preview/iframe-webpack.config.js
Labels: babel / webpack, core, feature request

#9213 Only use node types where necessary
  addons/docs/src/preset.ts
  lib/addons/tsconfig.json
  lib/channels/tsconfig.json
  lib/client-logger/tsconfig.json
  tsconfig.json
Labels: bug, typescript

#8304 Merge pull request #8304 from hannah-saurusrex/mobile-styles-update
  lib/ui/src/components/sidebar/Sidebar.tsx
Labels: bug, ui

#8784 Move 'others' to the top of the tree
  lib/ui/src/components/sidebar/treeview/treeview.js
Labels: components, other, ui

#9188 Add easy-to-use options to storySort
  docs/src/pages/configurations/options-parameter/index.md
  lib/addons/src/types.ts
  lib/client-api/src/storySort.test.ts
  lib/client-api/src/storySort.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
Labels: core, feature request

#9174 docs: ✏️ Refactor all img src with absolute URL's
  README.md
  addons/docs/docs/docspage.md
  addons/docs/docs/faq.md
  addons/docs/docs/mdx.md
  addons/ondevice-backgrounds/README.md
Labels: documentation, patch

#9207 fix(storybook/angular): add default value to the budgets property
  app/angular/src/server/__tests__/angular-cli_config.test.ts
  app/angular/src/server/angular-cli_config.ts
Labels: app: angular, bug

#9020 Migrate ember to TS
  app/ember/src/client/index.ts
  app/ember/src/client/preview/globals.ts
  app/ember/src/client/preview/index.ts
  app/ember/src/client/preview/render.ts
  app/ember/src/client/preview/types.ts
  app/ember/src/server/build.ts
  app/ember/src/server/framework-preset-babel-ember.ts
  app/ember/src/server/index.ts
  app/ember/src/server/options.ts
  app/ember/src/typings.d.ts
  app/ember/tsconfig.json
Labels: app: ember, feature request

#9224 CLI: Make template `stories` glob more permissive
  lib/cli/generators/ANGULAR/template-csf/.storybook/main.js
  lib/cli/generators/ANGULAR/template-mdx/.storybook/main.js
  lib/cli/generators/POLYMER/template-csf/.storybook/main.js
  lib/cli/generators/REACT_SCRIPTS/template-csf-ts/.storybook/main.js
  lib/cli/generators/REACT_SCRIPTS/template-csf/.storybook/main.js
  lib/cli/generators/REACT_SCRIPTS/template-mdx/.storybook/main.js
  lib/cli/generators/SFC_VUE/template-csf/.storybook/main.js
  lib/cli/generators/SFC_VUE/template-mdx/.storybook/main.js
Labels: cli, maintenance

#9228 REMOVE subscription_store
  lib/client-api/src/client_api.ts
  lib/client-api/src/index.ts
  lib/client-api/src/subscriptions_store.test.ts
  lib/client-api/src/subscriptions_store.ts
Labels: maintenance

#9143 feat(ui, preview): add loader to canvas's preview
  lib/components/src/Loader/Loader.stories.tsx
  lib/components/src/Loader/Loader.tsx
  lib/components/src/index.ts
  lib/ui/src/app.stories.js
  lib/ui/src/components/preview/preview.js
Labels: feature request, ui

#9223 Standalone CSF example
  examples/standalone-preview/stories/Component1.stories.tsx
  examples/standalone-preview/stories/Component2.stories.tsx
  examples/standalone-preview/storybook.html
  examples/standalone-preview/storybook.ts
  examples/standalone-preview/storybook.tsx
Labels: maintenance, standalone

#9227 Update README about @storybook/react typescript part
  app/react/README.md
Labels: documentation, patch

#9230 Addon-docs: Include ember files in addon-docs publish
  addons/docs/package.json
Labels: addon: docs, app: ember, bug

#9234 Addon-info: Upgrade marksy for security
  addons/info/package.json
  yarn.lock
Labels: addon: info, dependencies, security

#9244 Ignore testfixtures directory in storybook publish
  scripts/prepare.js
Labels: maintenance

#9253 Addon-contexts: Fix typo
  addons/contexts/README.md
Labels: addon: contexts, documentation, patch

#9248 Addon-docs: Fix MDX story rendering with dynamic component titles
  addons/docs/src/blocks/DocsContext.ts
  addons/docs/src/blocks/Preview.tsx
  addons/docs/src/blocks/Story.tsx
  addons/docs/src/mdx/__testfixtures__/component-id.output.snapshot
  addons/docs/src/mdx/__testfixtures__/decorators.output.snapshot
  addons/docs/src/mdx/__testfixtures__/docs-only.output.snapshot
  addons/docs/src/mdx/__testfixtures__/meta-quotes-in-title.output.snapshot
  addons/docs/src/mdx/__testfixtures__/non-story-exports.output.snapshot
  addons/docs/src/mdx/__testfixtures__/parameters.output.snapshot
  addons/docs/src/mdx/__testfixtures__/previews.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-current.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-def-text-only.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-definitions.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-function-var.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-function.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-object.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-references.output.snapshot
  addons/docs/src/mdx/__testfixtures__/title-template-string.output.snapshot
  addons/docs/src/mdx/__testfixtures__/vanilla.output.snapshot
  addons/docs/src/mdx/mdx-compiler-plugin.js
  examples/official-storybook/stories/addon-docs/meta-string-template.stories.mdx
Labels: addon: docs, bug, mdx

#9272 Source-loader: Disable no-implicit-any linting
  lib/source-loader/src/server/build.js
Labels: bug, source-loader, typescript

#9271 Addon-docs: Hide stories block when there are no stories
  addons/docs/src/blocks/Stories.tsx
Labels: addon: docs, bug
