Repository storybookjs/storybook, pull requests merged in 2019-11, with the labels that each got.

#8657 Core: Revert webpack rebuild changes in node_modules
  app/react/src/server/build.ts
  app/react/src/server/index.ts
  lib/core/src/server/dev-server.js
Labels: babel / webpack, bug, core, patch, performance issue

#8665 Addon-docs: Check if propTypes exists on component before unwrapping
  addons/docs/src/frameworks/react/extractProps.ts
Labels: addon: docs, bug, patch

#8366 Remove min-height CSS rule from DocsPage wrapper
  lib/components/src/blocks/DocsPage.tsx
Labels: addon: docs, bug, patch

#8660 Addon-docs: Support jsdoc params to describe function signature
  .eslintignore
  addons/docs/package.json
  addons/docs/src/frameworks/react/extractProps.ts
  addons/docs/src/frameworks/vue/extractProps.ts
  addons/docs/src/lib/docgenUtils.ts
  addons/docs/src/lib/jsdoc-parser.ts
  addons/docs/src/lib/type-system-handlers.test.ts
  addons/docs/src/lib/type-system-handlers.ts
  addons/docs/tsconfig.json
  examples/cra-ts-kitchen-sink/.storybook/addons.ts
  examples/cra-ts-kitchen-sink/.storybook/config.js
  examples/cra-ts-kitchen-sink/.storybook/config.ts
  examples/cra-ts-kitchen-sink/.storybook/presets.js
  examples/cra-ts-kitchen-sink/.storybook/webpack.config.js
  examples/cra-ts-kitchen-sink/jest.config.js
  examples/cra-ts-kitchen-sink/package.json
  examples/cra-ts-kitchen-sink/public/favicon.ico
  examples/cra-ts-kitchen-sink/public/index.html
  examples/cra-ts-kitchen-sink/public/logo192.png
  examples/cra-ts-kitchen-sink/public/logo512.png
  examples/cra-ts-kitchen-sink/public/manifest.json
  examples/cra-ts-kitchen-sink/src/App.css
  examples/cra-ts-kitchen-sink/src/App.tsx
  examples/cra-ts-kitchen-sink/src/components/Button.stories.tsx
  examples/cra-ts-kitchen-sink/src/components/Button.test.tsx
  examples/cra-ts-kitchen-sink/src/components/Button.tsx
  examples/cra-ts-kitchen-sink/src/index.css
  examples/cra-ts-kitchen-sink/src/index.tsx
  examples/cra-ts-kitchen-sink/src/logo.svg
  examples/cra-ts-kitchen-sink/src/serviceWorker.ts
  examples/cra-ts-kitchen-sink/src/setupTests.js
  examples/cra-ts-kitchen-sink/src/stories/0-Welcome.stories.tsx
  examples/cra-ts-kitchen-sink/src/stories/1-Button.stories.tsx
  examples/cra-ts-kitchen-sink/src/stories/Button.tsx
  examples/cra-ts-kitchen-sink/src/stories/Test.stories.mdx
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/DocgenJS.js
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/DocgenTS.tsx
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/docgen.stories.mdx
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/prop-types/jsdoc-perfo.js
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/prop-types/jsdoc-perfo.stories.mdx
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/prop-types/jsdoc.js
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/prop-types/jsdoc.stories.mdx
  examples/cra-ts-kitchen-sink/src/types/@storybook/react.d.ts
  examples/cra-ts-kitchen-sink/tsconfig.json
  lib/components/src/blocks/PropsTable/PropRow.tsx
  package.json
  yarn.lock
Labels: addon: docs, feature request

#8594 Addon-docs: Add docgen tests
  examples/cra-ts-kitchen-sink/.storybook/addons.ts
  examples/cra-ts-kitchen-sink/.storybook/config.js
  examples/cra-ts-kitchen-sink/.storybook/config.ts
  examples/cra-ts-kitchen-sink/.storybook/presets.js
  examples/cra-ts-kitchen-sink/.storybook/webpack.config.js
  examples/cra-ts-kitchen-sink/jest.config.js
  examples/cra-ts-kitchen-sink/package.json
  examples/cra-ts-kitchen-sink/public/favicon.ico
  examples/cra-ts-kitchen-sink/public/index.html
  examples/cra-ts-kitchen-sink/public/logo192.png
  examples/cra-ts-kitchen-sink/public/logo512.png
  examples/cra-ts-kitchen-sink/public/manifest.json
  examples/cra-ts-kitchen-sink/src/App.css
  examples/cra-ts-kitchen-sink/src/App.test.tsx
  examples/cra-ts-kitchen-sink/src/App.tsx
  examples/cra-ts-kitchen-sink/src/components/Button.stories.tsx
  examples/cra-ts-kitchen-sink/src/components/Button.test.tsx
  examples/cra-ts-kitchen-sink/src/components/Button.tsx
  examples/cra-ts-kitchen-sink/src/index.css
  examples/cra-ts-kitchen-sink/src/index.tsx
  examples/cra-ts-kitchen-sink/src/logo.svg
  examples/cra-ts-kitchen-sink/src/serviceWorker.ts
  examples/cra-ts-kitchen-sink/src/setupTests.js
  examples/cra-ts-kitchen-sink/src/stories/0-Welcome.stories.tsx
  examples/cra-ts-kitchen-sink/src/stories/1-Button.stories.tsx
  examples/cra-ts-kitchen-sink/src/stories/Button.tsx
  examples/cra-ts-kitchen-sink/src/stories/Test.stories.mdx
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/DocgenJS.js
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/DocgenTS.tsx
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/docgen.stories.mdx
  examples/cra-ts-kitchen-sink/src/types/@storybook/react.d.ts
  examples/cra-ts-kitchen-sink/tsconfig.json
  yarn.lock
Labels: addon: docs, bug

#8649 Document typescript configuration presets
  docs/src/pages/configurations/typescript-config/index.md
Labels: documentation, patch, typescript

#8621 Addon-docs: Angular DocsPage props table
  .eslintignore
  addons/docs/angular/index.js
  addons/docs/src/frameworks/angular/compodoc.ts
  addons/docs/src/frameworks/angular/config.ts
  addons/docs/src/frameworks/angular/index.ts
  addons/docs/src/frameworks/angular/types.ts
  examples/angular-cli/.gitignore
  examples/angular-cli/.storybook/config.ts
  examples/angular-cli/angularshots.test.js
  examples/angular-cli/package.json
  examples/angular-cli/src/app/app.component.ts
  examples/angular-cli/src/stories/app.component.stories.ts
  examples/angular-cli/src/stories/doc-button/__snapshots__/doc-button.stories.storyshot
  examples/angular-cli/src/stories/doc-button/doc-button.component.html
  examples/angular-cli/src/stories/doc-button/doc-button.component.scss
  examples/angular-cli/src/stories/doc-button/doc-button.component.ts
  examples/angular-cli/src/stories/doc-button/doc-button.stories.ts
  lib/components/src/blocks/PropsTable/PropRow.tsx
  yarn.lock
Labels: addon: docs, app: angular, feature request

#8499 Source-loader: Typescript suport
  addons/docs/src/frameworks/common/preset.ts
  examples/cra-ts-kitchen-sink/.storybook/config.ts
  examples/cra-ts-kitchen-sink/.storybook/presets.js
  examples/cra-ts-kitchen-sink/README.md
  examples/cra-ts-kitchen-sink/package.json
  examples/cra-ts-kitchen-sink/public/index.html
  examples/cra-ts-kitchen-sink/public/robots.txt
  examples/cra-ts-kitchen-sink/src/components/Button.stories.tsx
  examples/cra-ts-kitchen-sink/src/components/Button.tsx
  examples/cra-ts-kitchen-sink/src/index.tsx
  examples/cra-ts-kitchen-sink/src/serviceWorker.ts
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/DocgenJS.js
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/DocgenTS.tsx
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/prop-types/jsdoc-perfo.js
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/prop-types/jsdoc.js
  examples/rax-kitchen-sink/src/components/App/__snapshots__/App.test.js.snap
  examples/rax-kitchen-sink/src/components/Welcome/__snapshots__/Welcome.test.js.snap
  lib/source-loader/README.md
  lib/source-loader/src/server/__snapshots__/build.test.js.snap
  lib/source-loader/src/server/abstract-syntax-tree/__snapshots__/inject-decorator.csf.test.js.snap
  lib/source-loader/src/server/abstract-syntax-tree/__snapshots__/inject-decorator.test.js.snap
  lib/source-loader/src/server/abstract-syntax-tree/generate-helpers.js
  lib/source-loader/src/server/abstract-syntax-tree/inject-decorator.js
  lib/source-loader/src/server/abstract-syntax-tree/parsers/index.js
  lib/source-loader/src/server/abstract-syntax-tree/traverse-helpers.js
  lib/source-loader/src/server/build.js
  lib/source-loader/src/server/build.test.js
  yarn.lock
Labels: bug, source-loader, typescript

#8674 Addon-docs: Angular docs readme
  addons/docs/README.md
  addons/docs/angular/README.md
  addons/docs/docs/media/angular-hero.png
  addons/docs/src/frameworks/angular/compodoc.ts
  addons/docs/src/frameworks/angular/types.ts
  examples/angular-cli/src/stories/doc-button/__snapshots__/doc-button.stories.storyshot
  examples/angular-cli/src/stories/doc-button/doc-button.component.html
  examples/angular-cli/src/stories/doc-button/doc-button.component.ts
  examples/angular-cli/src/stories/doc-button/doc-button.stories.ts
Labels: addon: docs, app: angular, documentation

#8688 Touch up vue button demo
  examples/vue-kitchen-sink/src/stories/components/InfoButton.vue
  examples/vue-kitchen-sink/src/stories/components/__snapshots__/info-button.stories.storyshot
Labels: addon: docs, app: vue, maintenance

#8681 React-native: Fix layout in RN61 so addons no longer initially displayed
  app/react-native/src/preview/components/OnDeviceUI/index.tsx
  app/react-native/src/preview/components/OnDeviceUI/navigation/visibility-button.tsx
  app/react-native/src/preview/components/StoryListView/index.tsx
Labels: app: react-native, bug, high priority

#8678 Made react native menu bar have its own position instead of being absolute.
  app/react-native/src/preview/components/OnDeviceUI/navigation/index.tsx
Labels: app: react-native, maintenance

#8680 React-native: Catch touch events when preview is minimized
  app/react-native/src/preview/components/OnDeviceUI/index.tsx
Labels: app: react-native, maintenance

#8683 React-native: Patch rn-host-detect
  app/react-native/package.json
  app/react-native/src/preview/index.tsx
  app/react-native/src/preview/rn-host-detect.js
  yarn.lock
Labels: app: react-native, bug

#8679 React-Native: Add safe area wrapper for iphone x and later
  app/react-native/src/preview/components/OnDeviceUI/index.tsx
Labels: app: react-native, bug

#7801 React-native: Require user-provided async storage
  MIGRATION.md
  app/react-native/src/preview/index.tsx
  examples/cra-ts-kitchen-sink/.storybook/presets.js
Labels: BREAKING CHANGE, app: react-native

#8690 React-native: Fix event listening for story navigation
  addons/ondevice-actions/src/containers/ActionLogger/index.tsx
Labels: app: react-native, bug

#8694 React Native: On Device Knobs Groups Fix
  addons/ondevice-knobs/src/panel.js
Labels: app: react-native, bug

#8692 React Native: Fix on-device-notes
  addons/ondevice-notes/src/components/Notes.tsx
Labels: app: react-native, bug

#8699 FIX incorrect documentation about theming
  MIGRATION.md
  docs/src/pages/configurations/theming/index.md
  examples/cra-kitchen-sink/.storybook/config.js
Labels: documentation, patch

#8705 Addon-docs: Inline rendering for web-components as default
  addons/docs/README.md
  addons/docs/src/frameworks/web-components/config.js
  addons/docs/web-components/README.md
  examples/web-components-kitchen-sink/stories/addon-docs.stories.mdx
Labels: addon: docs, feature request

#8697 Update ADDONS_SUPPORT.md
  ADDONS_SUPPORT.md
Labels: addon: jest, documentation, patch

#8708 Addon-docs: Fix code style inside LI
  lib/components/src/typography/DocumentFormatting.tsx
Labels: addon: docs, bug, patch, theming

#8718 Addon-docs: Fix recipe to use `notes` as component description
  MIGRATION.md
  addons/docs/docs/recipes.md
  addons/docs/src/blocks/Description.tsx
  addons/docs/src/blocks/DocsPage.tsx
Labels: addon: docs, bug

#6828 Presets: Ability to combine presets into another preset
  lib/core/src/server/presets.js
  lib/core/src/server/presets.test.js
Labels: core, feature request, presets

#8597 TriConfig refactor
  app/react-native/src/preview/index.tsx
  docs/src/pages/configurations/custom-webpack-config/index.md
  docs/src/pages/configurations/theming/index.md
  examples/cra-ts-kitchen-sink/src/App.tsx
  examples/cra-ts-kitchen-sink/src/stories/1-Button.stories.tsx
  examples/cra-ts-kitchen-sink/src/stories/Button.tsx
  examples/official-storybook/addons.js
  examples/official-storybook/main.js
  examples/official-storybook/manager.js
  examples/official-storybook/presets.js
  examples/official-storybook/preview.js
  examples/official-storybook/webpack.config.js
  lib/core/src/server/common/custom-presets.js
  lib/core/src/server/utils/load-custom-addons-file.js
  lib/core/src/server/utils/load-custom-config-file.js
Labels: maintenance, presets

#8724 ADD caching to github workflows
  .github/workflows/tests-cli.yml
  .github/workflows/tests-unit.yml
Labels: maintenance

#8659 Fix 8074 invisible hr styles in typography components
  examples/official-storybook/stories/addon-notes.stories.js
  examples/official-storybook/stories/notes/notes.md
  lib/components/src/typography/DocumentFormatting.tsx
  lib/components/src/typography/DocumentFormattingSample.md
  lib/components/src/typography/DocumentWrapper.stories.tsx
  lib/components/src/typography/DocumentWrapper.tsx
Labels: bug, theming

#8727 Angular: Fix loading baseConfig if no angular.json found
  app/angular/src/server/__tests__/angular-cli_config.test.ts
  app/angular/src/server/angular-cli_config.ts
Labels: app: angular, bug

#8625 UI: Fix unmount components on Canvas/Docs tab switch
  lib/core/src/client/preview/start.js
Labels: bug, core, patch

#8731 Addon-docs: Fix "Cannot read property 'props'"
  addons/docs/src/lib/docgenUtils.ts
Labels: addon: docs, bug

#8702 Addon-docs: Render params description in props table, support @ignore
  addons/docs/src/frameworks/react/extractProps.ts
  addons/docs/src/lib/DocgenInfo.ts
  addons/docs/src/lib/docgenUtils.ts
  addons/docs/src/lib/jsdoc-parser.ts
  addons/docs/src/lib/type-system-handlers.test.ts
  addons/docs/src/lib/type-system-handlers.ts
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/jsdoc/jsdoc-perfo.js
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/jsdoc/jsdoc-perfo.stories.mdx
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/jsdoc/jsdoc-ts.tsx
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/jsdoc/jsdoc.js
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/jsdoc/jsdoc.stories.mdx
  lib/components/package.json
  lib/components/src/blocks/PropsTable/PropDef.ts
  lib/components/src/blocks/PropsTable/PropRow.stories.tsx
  lib/components/src/blocks/PropsTable/PropRow.tsx
Labels: addon: docs, feature request

#8737 Move Knobs documentation to CSF
  addons/knobs/README.md
Labels: addon: knobs, documentation, patch

#8698 CHANGE the compilation target for RN - it was compiled for old browsers
  .babelrc.js
Labels: app: react-native, babel / webpack

#7939 Addon API: Preview wrapper devkit example
  dev-kits/addon-preview-wrapper/README.md
  dev-kits/addon-preview-wrapper/package.json
  dev-kits/addon-preview-wrapper/register.js
  dev-kits/addon-preview-wrapper/src/constants.ts
  dev-kits/addon-preview-wrapper/src/register.tsx
  dev-kits/addon-preview-wrapper/tsconfig.json
  examples/dev-kits/addons.js
  examples/dev-kits/package.json
  lib/ui/src/components/preview/preview.js
Labels: api: addons, documentation

#8745 Addon-info: Fix "The prop 'children' is marked as required in 'Td'"
  addons/info/src/components/PropTable/components/Td.js
Labels: addon: info, bug, patch

#8752 Fix import statement in mdx example
  addons/docs/angular/README.md
Labels: documentation

#8747 addon-notes: Fix Giphy docs
  addons/notes/README.md
Labels: addon: notes, documentation, patch

#8755 Update docs to mention TypeScript version recommendation
  docs/src/pages/configurations/typescript-config/index.md
Labels: documentation, patch, typescript

#8764 Addon-info: Remove jsnext:main
  addons/info/package.json
Labels: addon: info, bug, patch

#8771 MDX knobs example
  examples/official-storybook/stories/addon-docs/addon-docs.stories.mdx
Labels: addon: knobs, documentation, mdx, patch

#8774 Add @babel/runtime to workspace
  package.json
  yarn.lock
Labels: maintenance, patch

#8776 Update babel packages in master
  addons/docs/package.json
  app/mithril/package.json
  app/preact/package.json
  app/react/package.json
  app/riot/package.json
  examples-native/crna-kitchen-sink/package.json
  examples/ember-cli/package.json
  examples/preact-kitchen-sink/package.json
  examples/riot-kitchen-sink/package.json
  examples/vue-kitchen-sink/package.json
  lib/cli/package.json
  lib/core/package.json
  package.json
  yarn.lock
Labels: maintenance

#8773 Source-loader: Warn if applied to non-stories file
  lib/source-loader/package.json
  lib/source-loader/src/client/preview.js
Labels: bug, patch, source-loader

#8782 Presets / Addon-docs: Cleanup framework-specific presets
  MIGRATION.md
  addons/docs/angular/config.js
  addons/docs/package.json
  addons/docs/preset.js
  addons/docs/src/frameworks/common/config.ts
  addons/docs/src/frameworks/common/makePreset.ts
  addons/docs/src/frameworks/common/preset.ts
  addons/docs/src/frameworks/vue/preset.ts
  addons/docs/src/preset.ts
  addons/docs/src/typings.d.ts
  addons/docs/vue/preset.js
  app/angular/src/server/options.ts
  app/ember/src/server/options.js
  app/html/src/server/options.ts
  app/marko/src/server/options.js
  app/mithril/src/server/options.ts
  app/polymer/src/server/options.js
  app/preact/src/server/options.ts
  app/rax/src/server/options.js
  app/react-native-server/src/server/options.js
  app/react/src/server/options.ts
  app/riot/src/server/options.js
  app/svelte/src/server/options.js
  app/vue/src/server/options.ts
  app/web-components/src/server/options.ts
  examples/angular-cli/.storybook/presets.js
  examples/html-kitchen-sink/.storybook/presets.js
  examples/official-storybook/main.js
  examples/vue-kitchen-sink/.storybook/presets.js
Labels: addon: docs, maintenance, presets

#8772 Fix CSF in MDX example code
  addons/docs/docs/recipes.md
Labels: documentation, patch

#8791 Framework-specific presets are deprecated
  addons/docs/README.md
Labels: addon: docs, documentation

#8795 Core: Use `stable` package to ensure story sorting is stable
  lib/client-api/package.json
  lib/client-api/src/story_store.ts
Labels: bug, core, patch

#8786 UI: Store layout state in sessionStorage
  lib/api/src/modules/layout.ts
Labels: bug, core, patch, ui

#8468 Fix 'path is required in .pageview()' in GA addon
  addons/google-analytics/src/register.ts
Labels: addon: analytics, bug, patch

#8770 Svelte: Migrate @storybook/svelte to Typescript
  app/svelte/package.json
  app/svelte/src/client/index.ts
  app/svelte/src/client/preview/globals.ts
  app/svelte/src/client/preview/index.ts
  app/svelte/src/client/preview/render.ts
  app/svelte/src/client/preview/types.ts
  app/svelte/src/server/build.ts
  app/svelte/src/server/framework-preset-svelte.ts
  app/svelte/src/server/index.ts
  app/svelte/src/server/options.ts
  app/svelte/src/typings.d.ts
  app/svelte/tsconfig.json
  package.json
Labels: app: svelte, help wanted, maintenance, typescript

#8738 React-native: Add theming to ondevice-addons
  addons/ondevice-knobs/package.json
  addons/ondevice-knobs/src/GroupTabs.js
  addons/ondevice-knobs/src/PropField.js
  addons/ondevice-knobs/src/panel.js
  addons/ondevice-knobs/src/types/Array.js
  addons/ondevice-knobs/src/types/Button.js
  addons/ondevice-knobs/src/types/Color.js
  addons/ondevice-knobs/src/types/Date.js
  addons/ondevice-knobs/src/types/Number.js
  addons/ondevice-knobs/src/types/Object.js
  addons/ondevice-knobs/src/types/Select.js
  addons/ondevice-knobs/src/types/Text.js
  addons/ondevice-notes/package.json
  addons/ondevice-notes/src/components/Notes.tsx
Labels: app: react-native, feature request

#7957 Addon-knobs: Add object[] support for select
  CONTRIBUTING.md
  addons/knobs/README.md
  addons/knobs/src/components/types/Select.tsx
  examples/official-storybook/stories/addon-knobs/with-knobs.stories.js
Labels: addon: knobs, feature request, ready, typescript

#8824 Add the link to the guide for Ember
  docs/src/pages/guides/slow-start-guide/index.md
Labels: documentation, patch

#8779 Addon-A11y: Show errors, reset config properly
  addons/a11y/README.md
  addons/a11y/src/components/A11YPanel.test.js
  addons/a11y/src/components/A11YPanel.tsx
  addons/a11y/src/components/__snapshots__/A11YPanel.test.js.snap
  addons/a11y/src/constants.ts
  addons/a11y/src/index.ts
Labels: addon: a11y, bug, help wanted, patch

#8808 CSF/MDX: Add component id for permalinks
  addons/docs/package.json
  addons/docs/src/mdx/__snapshots__/mdx-compiler-plugin.test.js.snap
  addons/docs/src/mdx/__testfixtures__/component-id.mdx
  addons/docs/src/mdx/__testfixtures__/component-id.output.snapshot
  addons/docs/src/mdx/__testfixtures__/decorators.output.snapshot
  addons/docs/src/mdx/__testfixtures__/docs-only.output.snapshot
  addons/docs/src/mdx/__testfixtures__/non-story-exports.output.snapshot
  addons/docs/src/mdx/__testfixtures__/parameters.output.snapshot
  addons/docs/src/mdx/__testfixtures__/previews.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-current.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-def-text-only.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-definitions.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-function-var.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-function.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-object.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-references.output.snapshot
  addons/docs/src/mdx/__testfixtures__/vanilla.output.snapshot
  addons/docs/src/mdx/mdx-compiler-plugin.js
  addons/docs/src/mdx/mdx-compiler-plugin.test.js
  examples/official-storybook/stories/addon-docs/addon-docs.stories.mdx
  examples/official-storybook/stories/demo/button.stories.js
  lib/codemod/src/transforms/__testfixtures__/csf-to-mdx/component-id.input.js
  lib/codemod/src/transforms/__testfixtures__/csf-to-mdx/component-id.output.snapshot
  lib/codemod/src/transforms/__testfixtures__/mdx-to-csf/component-id.input.js
  lib/codemod/src/transforms/__testfixtures__/mdx-to-csf/component-id.output.snapshot
  lib/core/src/client/preview/start.js
Labels: core, csf, feature request, mdx

#8700 CLI: Addon postinstall hooks
  addons/docs/package.json
  addons/docs/postinstall/presets.js
  lib/addons/src/typings.d.ts
  lib/cli/bin/generate.js
  lib/cli/lib/add.js
  lib/postinstall/README.md
  lib/postinstall/package.json
  lib/postinstall/src/__testfixtures__/presets-add-preset-options/basic.input.js
  lib/postinstall/src/__testfixtures__/presets-add-preset-options/basic.output.snapshot
  lib/postinstall/src/__testfixtures__/presets-add-preset-options/empty.input.js
  lib/postinstall/src/__testfixtures__/presets-add-preset-options/empty.output.snapshot
  lib/postinstall/src/__testfixtures__/presets-add-preset/basic.input.js
  lib/postinstall/src/__testfixtures__/presets-add-preset/basic.output.snapshot
  lib/postinstall/src/__testfixtures__/presets-add-preset/empty.input.js
  lib/postinstall/src/__testfixtures__/presets-add-preset/empty.output.snapshot
  lib/postinstall/src/__testtransforms__/presets-add-preset-options.js
  lib/postinstall/src/__testtransforms__/presets-add-preset.js
  lib/postinstall/src/codemods.test.ts
  lib/postinstall/src/frameworks.test.ts
  lib/postinstall/src/frameworks.ts
  lib/postinstall/src/index.ts
  lib/postinstall/src/presets.ts
  lib/postinstall/tsconfig.json
Labels: addon: docs, api: addons, cli, feature request

#8818 CLI: Upgrade hierarchy separator codemod + examples
  addons/docs/src/blocks/DocsPage.test.ts
  addons/docs/src/blocks/DocsPage.tsx
  lib/api/src/tests/stories.test.js
Labels: cli, feature request

#8826 Addon-docs: Rich prop tables
  addons/docs/package.json
  addons/docs/src/blocks/Description.tsx
  addons/docs/src/blocks/Props.tsx
  addons/docs/src/frameworks/angular/compodoc.ts
  addons/docs/src/frameworks/common/index.ts
  addons/docs/src/frameworks/react/config.ts
  addons/docs/src/frameworks/react/extractProps.ts
  addons/docs/src/frameworks/react/inspection/acornParser.test.ts
  addons/docs/src/frameworks/react/inspection/acornParser.ts
  addons/docs/src/frameworks/react/inspection/inspectValue.ts
  addons/docs/src/frameworks/react/inspection/types.ts
  addons/docs/src/frameworks/react/propTypes/captions.ts
  addons/docs/src/frameworks/react/propTypes/createDefaultValue.ts
  addons/docs/src/frameworks/react/propTypes/createType.ts
  addons/docs/src/frameworks/react/propTypes/generateCode.ts
  addons/docs/src/frameworks/react/propTypes/generateFuncSignature.test.ts
  addons/docs/src/frameworks/react/propTypes/generateFuncSignature.ts
  addons/docs/src/frameworks/react/propTypes/handleProp.test.ts
  addons/docs/src/frameworks/react/propTypes/handleProp.ts
  addons/docs/src/frameworks/react/propTypes/isHtmlTag.ts
  addons/docs/src/frameworks/vue/config.tsx
  addons/docs/src/frameworks/vue/extractProps.ts
  addons/docs/src/frameworks/web-components/config.js
  addons/docs/src/lib/DocgenInfo.ts
  addons/docs/src/lib/docgen/createDefaultValue.ts
  addons/docs/src/lib/docgen/createPropDef.ts
  addons/docs/src/lib/docgen/extractDocgenProps.test.ts
  addons/docs/src/lib/docgen/extractDocgenProps.ts
  addons/docs/src/lib/docgen/index.ts
  addons/docs/src/lib/docgen/types.ts
  addons/docs/src/lib/docgen/utils.ts
  addons/docs/src/lib/docgenUtils.ts
  addons/docs/src/lib/jsdoc-parser.ts
  addons/docs/src/lib/jsdocParser.test.ts
  addons/docs/src/lib/jsdocParser.ts
  addons/docs/src/lib/type-system-handlers.test.ts
  addons/docs/src/lib/type-system-handlers.ts
  azure-pipelines.yml
  azure-pipelines.yml 
  examples/cra-ts-kitchen-sink/.storybook/presets.js
  examples/cra-ts-kitchen-sink/package.json
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/types/prop-types.js
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/types/ts-types.tsx
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/types/types.stories.mdx
  lib/components/src/blocks/PropsTable/PropDef.ts
  lib/components/src/blocks/PropsTable/PropJsDoc.tsx
  lib/components/src/blocks/PropsTable/PropRow.stories.tsx
  lib/components/src/blocks/PropsTable/PropRow.tsx
  lib/components/src/blocks/PropsTable/PropValue.tsx
  lib/components/src/blocks/PropsTable/PropsTable.tsx
  package.json
  yarn.lock
Labels: BREAKING CHANGE, addon: docs, block: props, feature request

#8834 📝 Fix typos on Ember guide
  docs/src/pages/guides/guide-ember/index.md
Labels: app: ember, documentation, patch

#8552 update popover max-height to be calculated based on correct number of items
  docs/src/new-components/basics/tooltip/TooltipLinkList.js
  lib/components/src/tooltip/TooltipLinkList.tsx
Labels: bug, ui

#8132 Added condition to check if it's an anchor link
  addons/notes/src/Panel.tsx
  examples/official-storybook/stories/addon-notes.stories.js
  lib/components/src/typography/DocumentFormatting.tsx
Labels: addon: notes, bug, in progress

#8806 Core: Fix null version check bug
  lib/api/src/modules/versions.ts
Labels: bug, core

#8807 Add CSF upgrade example
  addons/notes/README.md
Labels: documentation, patch

#8516 feat: allow upercase path names in url query param
  lib/router/src/utils.ts
Labels: core, feature request

#8831 Addon-docs: Replace `storybook-addon-vue-info` with `vue-docgen-loader`
  addons/docs/package.json
  addons/docs/src/frameworks/vue/preset.ts
  examples/vue-kitchen-sink/package.json
  yarn.lock
Labels: addon: docs, app: vue, dependencies

#8839 8793 do not use old separators in docs
  addons/docs/README.md
  addons/docs/docs/mdx.md
  docs/src/pages/basics/writing-stories/index.md
  docs/src/pages/formats/component-story-format/index.md
  lib/ui/src/components/sidebar/Sidebar.stories.mdx
Labels: documentation

#8842 Fixes incorrect link
  docs/src/pages/configurations/typescript-config/index.md
Labels: documentation, patch

#8841 Fix wrong information about async storage
  MIGRATION.md
Labels: app: react-native, documentation, patch

#8843 refactor: remove useless variables from eslint config
  .eslintrc.js
Labels: maintenance

#8848 Addon-viewports: Fix missing TypeScript types
  addons/viewport/package.json
  addons/viewport/preview.js
  addons/viewport/src/preview.ts
Labels: addon: viewport, bug, patch, typescript

#8847 upgrades
  addons/a11y/src/components/Report/HighlightToggle.tsx
  addons/a11y/src/components/Report/__snapshots__/HighlightToggle.test.js.snap
  addons/contexts/src/manager/components/ToolBar.test.tsx
  addons/contexts/src/manager/components/ToolBarControl.test.tsx
  addons/contexts/src/preview/libs/getContextNodes.test.ts
  addons/contexts/src/preview/libs/getPropsMap.test.ts
  addons/info/src/__snapshots__/index.test.js.snap
  addons/links/src/preview.test.js
  addons/links/src/react/components/__snapshots__/link.test.js.snap
  addons/links/src/react/components/link.test.js
  addons/storyshots/storyshots-core/src/api/integrityTestTemplate.ts
  addons/storyshots/storyshots-core/src/api/snapshotsTestsTemplate.ts
  addons/storyshots/storyshots-core/src/frameworks/frameworkLoader.ts
  app/angular/src/client/preview/angular/components/app.component.ts
  app/angular/src/server/__tests__/create-fork-ts-checker-plugin.test.ts
  app/angular/src/server/__tests__/ts_config.test.ts
  app/react-native-server/package.json
  app/react/src/server/cra-config.test.ts
  app/react/src/server/cra-config.ts
  cypress/support/commands.js
  docs/src/new-components/basics/tooltip/TooltipMessage.stories.js
  examples-native/crna-kitchen-sink/package.json
  examples/angular-cli/package.json
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/types/ts-types.tsx
  examples/html-kitchen-sink/stories/addon-actions.stories.js
  examples/preact-kitchen-sink/src/stories/__snapshots__/addon-centered.stories.storyshot
  examples/rax-kitchen-sink/src/components/App/__snapshots__/App.test.js.snap
  examples/rax-kitchen-sink/src/components/Welcome/__snapshots__/Welcome.test.js.snap
  examples/svelte-kitchen-sink/src/components/Button.svelte
  examples/svelte-kitchen-sink/src/components/Button.test.js
  examples/svelte-kitchen-sink/src/stories/__snapshots__/addon-links.stories.storyshot
  examples/svelte-kitchen-sink/src/stories/__snapshots__/welcome.stories.storyshot
  examples/web-components-kitchen-sink/stories/addon-actions.stories.js
  examples/web-components-kitchen-sink/stories/card.stories.js
  lib/addons/src/make-decorator.test.ts
  lib/api/src/modules/stories.ts
  lib/cli/bin/generate.js
  lib/cli/package.json
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/hooks.test.js
  lib/codemod/src/transforms/__tests__/transforms.tests.js
  lib/codemod/src/transforms/csf-to-mdx.js
  lib/codemod/src/transforms/move-buildin-addons.js
  lib/components/package.json
  lib/components/src/tooltip/TooltipMessage.stories.tsx
  lib/components/src/tooltip/WithTooltip.tsx
  lib/core/package.json
  lib/node-logger/package.json
  lib/postinstall/src/codemods.test.ts
  lib/ui/src/components/sidebar/SidebarHeading.tsx
  package.json
  scripts/crna-publish.js
  yarn.lock
Labels: dependencies:update

#8852 Changes links to absolute URLs
  addons/docs/README.md
Labels: documentation, patch

#8765 Storyshots: Triconfig support
  addons/storyshots/storyshots-core/src/frameworks/Loader.ts
  addons/storyshots/storyshots-core/src/frameworks/angular/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/configure.ts
  addons/storyshots/storyshots-core/src/frameworks/html/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/preact/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/react/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/riot/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/svelte/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/vue/loader.ts
  examples/html-kitchen-sink/.storybook/addons.js
  examples/html-kitchen-sink/.storybook/main.js
  examples/html-kitchen-sink/.storybook/presets.js
  examples/html-kitchen-sink/.storybook/preview.js
Labels: addon: storyshots, feature request

#8836 add clarification
  docs/src/pages/configurations/add-custom-head-tags/index.md
Labels: documentation, patch

#8748 Core: Declarative story definition in main.js
  addons/storyshots/storyshots-core/src/frameworks/Loader.ts
  addons/storyshots/storyshots-core/src/frameworks/angular/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/configure.ts
  addons/storyshots/storyshots-core/src/frameworks/html/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/preact/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/react/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/riot/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/svelte/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/vue/loader.ts
  examples/html-kitchen-sink/.storybook/addons.js
  examples/html-kitchen-sink/.storybook/main.js
  examples/html-kitchen-sink/.storybook/presets.js
  examples/html-kitchen-sink/.storybook/preview.js
  examples/official-storybook/main.js
  examples/official-storybook/preview.js
  lib/core/package.json
  lib/core/src/server/config.js
  lib/core/src/server/presets.js
  lib/core/src/server/preview/entries.js
  lib/core/src/server/preview/iframe-webpack.config.js
  yarn.lock
Labels: core, feature request

#8628 Addon-docs: Fix layout of Preview container
  examples/official-storybook/stories/addon-docs/addon-docs.stories.js
  examples/official-storybook/stories/core/scroll.stories.js
  lib/components/src/blocks/Preview.stories.tsx
  lib/components/src/blocks/Preview.tsx
  lib/components/src/blocks/Source.stories.tsx
  lib/components/src/spaced/Spaced.tsx
  lib/core/src/client/preview/start.js
Labels: addon: docs, bug, patch

#8859 Addon-google-analytics: Add gaOption config
  addons/google-analytics/README.md
  addons/google-analytics/src/register.ts
Labels: addon: analytics, feature request

#8857 Addon-docs: Fix props table props sorting for PropTypes
  addons/docs/src/frameworks/react/extractProps.ts
  addons/docs/src/frameworks/react/propTypes/handleProp.test.ts
  addons/docs/src/frameworks/react/propTypes/handleProp.ts
  addons/docs/src/frameworks/react/propTypes/sortProps.ts
  examples/cra-ts-kitchen-sink/package.json
  examples/cra-ts-kitchen-sink/src/stories/PropsSort.js
  examples/cra-ts-kitchen-sink/src/stories/props-sort.stories.mdx
  yarn.lock
Labels: addon: docs, block: props, bug

#8867 Addon-docs: Fix regression to @ignore in Props
  addons/docs/src/frameworks/react/propTypes/handleProp.test.ts
  addons/docs/src/frameworks/react/propTypes/sortProps.ts
Labels: addon: docs, block: props, bug

#8872 Addon-docs: Fix MDX component permalinking
  addons/docs/src/mdx/__testfixtures__/component-id.output.snapshot
  addons/docs/src/mdx/mdx-compiler-plugin.js
Labels: bug, mdx

#8855 Addon-docs: Customizable DocPage doc blocks
  addons/docs/src/blocks/Description.tsx
  addons/docs/src/blocks/DocsPage.test.ts
  addons/docs/src/blocks/DocsPage.tsx
  addons/docs/src/blocks/DocsStory.tsx
  addons/docs/src/blocks/Heading.tsx
  addons/docs/src/blocks/Primary.tsx
  addons/docs/src/blocks/Props.tsx
  addons/docs/src/blocks/Stories.tsx
  addons/docs/src/blocks/Subheading.tsx
  addons/docs/src/blocks/Subtitle.tsx
  addons/docs/src/blocks/Title.tsx
  addons/docs/src/blocks/index.ts
  addons/docs/src/blocks/shared.ts
  addons/docs/src/blocks/utils.ts
  examples/official-storybook/components/ButtonGroup.js
  examples/official-storybook/preview.js
  examples/official-storybook/stories/addon-docs/addon-docs-blocks.stories.js
  lib/components/src/blocks/DocsPage.stories.tsx
  lib/components/src/blocks/DocsPage.tsx
Labels: addon: docs, feature request

#8869 Addon-docs: Add tests for prop types default value
  addons/docs/src/frameworks/react/propTypes/createDefaultValue.ts
  addons/docs/src/frameworks/react/propTypes/handleProp.test.ts
  addons/docs/src/frameworks/react/propTypes/sortProps.ts
Labels: addon: docs, block: props, maintenance

#8868 Addon-docs: Add back Props "exclude" support
  addons/docs/src/blocks/Props.tsx
  examples/cra-ts-kitchen-sink/src/stories/props-sort.stories.mdx
Labels: addon: docs, block: props, bug

#6737 Angular: Fix project without `architect.build` option
  app/angular/src/server/__tests__/angular-cli_config.test.ts
  app/angular/src/server/angular-cli_config.ts
Labels: app: angular, bug

#8888 Fix stories glob
  examples/official-storybook/main.js
Labels: maintenance

#8890 Addon-docs: Improve basic support for Flow props
  addons/docs/src/frameworks/react/propTypes/createDefaultValue.ts
  addons/docs/src/frameworks/react/propTypes/createType.ts
  addons/docs/src/lib/docgen/createDefaultValue.ts
  addons/docs/src/lib/docgen/createPropDef.ts
  addons/docs/src/lib/docgen/extractDocgenProps.test.ts
  addons/docs/src/lib/docgen/flow/createDefaultValue.ts
  addons/docs/src/lib/docgen/flow/createPropDef.test.ts
  addons/docs/src/lib/docgen/flow/createPropDef.ts
  addons/docs/src/lib/docgen/flow/createType.ts
  addons/docs/src/lib/docgen/types.ts
  addons/docs/src/lib/index.ts
  addons/docs/src/lib/utils.ts
  examples/cra-ts-kitchen-sink/.storybook/presets.js
Labels: addon: docs, block: props, feature request

#8896 Addon-docs: Docgen lib maintenance
  addons/docs/src/blocks/Description.tsx
  addons/docs/src/frameworks/common/index.ts
  addons/docs/src/frameworks/react/extractProps.ts
  addons/docs/src/frameworks/react/propTypes/handleProp.test.ts
  addons/docs/src/frameworks/vue/config.tsx
  addons/docs/src/frameworks/vue/extractProps.ts
  addons/docs/src/lib/docgen/createDefaultValue.ts
  addons/docs/src/lib/docgen/createPropDef.ts
  addons/docs/src/lib/docgen/extractDocgenProps.test.ts
  addons/docs/src/lib/docgen/extractDocgenProps.ts
  addons/docs/src/lib/docgen/flow/createDefaultValue.ts
  addons/docs/src/lib/docgen/flow/createType.ts
  addons/docs/src/lib/docgen/utils/defaultValue.ts
  addons/docs/src/lib/docgen/utils/docgen.ts
  addons/docs/src/lib/docgen/utils/index.ts
  addons/docs/src/lib/docgen/utils/string.ts
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/types/ext.js
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/types/prop-types.js
Labels: addon: docs, maintenance

#8893 Correct Demo url for react-native-web
  app/react/README.md
  docs/src/pages/basics/exporting-storybook/index.md
  docs/src/pages/basics/introduction/index.md
  docs/src/pages/examples/_examples.yml
  docs/src/stories/data.js
Labels: documentation, patch

#8902 Addon-docs: Fix Description block when no component provided
  addons/docs/src/lib/docgen/extractDocgenProps.ts
Labels: addon: docs, bug

#8887 Addon-docs: Rich props table UI
  lib/components/src/blocks/DocsPage.tsx
  lib/components/src/blocks/EmptyBlock.tsx
  lib/components/src/blocks/PropsTable/PropJsDoc.tsx
  lib/components/src/blocks/PropsTable/PropRow.stories.tsx
  lib/components/src/blocks/PropsTable/PropRow.tsx
  lib/components/src/blocks/PropsTable/PropValue.tsx
  lib/components/src/blocks/PropsTable/PropsTable.tsx
  lib/components/src/blocks/Typeset.tsx
  lib/components/src/typography/DocumentFormatting.tsx
  lib/components/src/typography/shared.tsx
  lib/components/src/typography/withReset.tsx
Labels: addon: docs, block: props, feature request

#8904 Addon-docs: Fix props table for sections props
  addons/docs/src/blocks/Props.tsx
  examples/web-components-kitchen-sink/.storybook/presets.js
Labels: addon: docs, bug

#8912 UPGRADES
  addons/actions/package.json
  app/rax/package.json
  app/react/package.json
  app/vue/package.json
  examples-native/crna-kitchen-sink/package.json
  examples/angular-cli/package.json
  examples/cra-ts-kitchen-sink/package.json
  examples/marko-cli/package.json
  examples/rax-kitchen-sink/package.json
  examples/rax-kitchen-sink/src/components/App/__snapshots__/App.test.js.snap
  examples/rax-kitchen-sink/src/components/Welcome/__snapshots__/Welcome.test.js.snap
  lib/api/package.json
  lib/channel-postmessage/package.json
  lib/cli/package.json
  lib/core/package.json
  lib/ui/package.json
  package.json
  yarn.lock
Labels: dependencies:update

#8905 Addon-docs: base code to improve the props table for TS
  addons/docs/src/frameworks/react/extractProps.ts
  addons/docs/src/frameworks/react/inspection/types.ts
  addons/docs/src/frameworks/react/lib/createDefaultValue.ts
  addons/docs/src/frameworks/react/lib/generateCode.ts
  addons/docs/src/frameworks/react/lib/inspection/acornParser.test.ts
  addons/docs/src/frameworks/react/lib/inspection/acornParser.ts
  addons/docs/src/frameworks/react/lib/inspection/index.ts
  addons/docs/src/frameworks/react/lib/inspection/inspectValue.ts
  addons/docs/src/frameworks/react/lib/inspection/types.ts
  addons/docs/src/frameworks/react/lib/isHtmlTag.ts
  addons/docs/src/frameworks/react/propTypes/createType.ts
  addons/docs/src/frameworks/react/propTypes/handleProp.test.ts
  addons/docs/src/frameworks/react/propTypes/handleProp.ts
  addons/docs/src/frameworks/react/typeScript/handleProp.test.ts
  addons/docs/src/frameworks/react/typeScript/handleProp.ts
  addons/docs/src/lib/docgen/createPropDef.ts
  addons/docs/src/lib/docgen/flow/createPropDef.test.ts
  addons/docs/src/lib/docgen/typeScript/createDefaultValue.ts
  addons/docs/src/lib/docgen/typeScript/createPropDef.test.ts
  addons/docs/src/lib/docgen/typeScript/createPropDef.ts
  addons/docs/src/lib/docgen/typeScript/createType.ts
  addons/docs/src/lib/docgen/types.ts
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/types/types.stories.mdx
Labels: addon: docs, block: props, maintenance

#8923 Addon-docs: Fix the props table detail tooltip to prevent cutting the end of the content.
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/types/prop-types.js
  lib/components/src/blocks/PropsTable/PropValue.tsx
Labels: addon: docs, block: props, bug

#8927 Update index.md
  docs/src/pages/configurations/theming/index.md
Labels: documentation, patch

#8921 Presets: dynamic preset injection
  lib/core/src/server/config.js
  lib/core/src/server/manager/manager-config.js
  lib/core/src/server/presets.js
  lib/core/src/server/presets.test.js
Labels: core, feature request

#8925 Revert "feat: use `puppeteer-core` instead of `puppeteer`"
  addons/storyshots/storyshots-puppeteer/package.json
  addons/storyshots/storyshots-puppeteer/src/ImageSnapshotConfig.ts
  addons/storyshots/storyshots-puppeteer/src/imageSnapshot.ts
  yarn.lock
Labels: addon: storyshots, bug, typescript

#8929 FIX now deploy
  app/react/src/server/cra-config.ts
Labels: maintenance

#8900 Escape hatches
  lib/components/src/blocks/Preview.tsx
  lib/components/src/blocks/PropsTable/PropsTable.tsx
Labels: addon: docs, feature request

#8937 documentation:Improved readability of CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, patch

#8933 Core: Add @babel/core peer dependency to @storybook/core
  lib/core/package.json
Labels: core, dependencies

#8940 UPGRADES
  yarn.lock
Labels: bug

#8932 Fix image snapshots setup in official-storybook
  addons/storyshots/storyshots-core/package.json
  addons/storyshots/storyshots-core/src/api/index.ts
  addons/storyshots/storyshots-core/src/api/snapshotsTestsTemplate.ts
  addons/storyshots/storyshots-core/src/frameworks/configure.ts
  addons/storyshots/storyshots-core/src/typings.d.ts
  addons/storyshots/storyshots-puppeteer/README.md
  addons/storyshots/storyshots-puppeteer/src/ImageSnapshotConfig.ts
  addons/storyshots/storyshots-puppeteer/src/imageSnapshot.ts
  examples/official-storybook/image-snapshots/storyshots-image.runner.js
  examples/official-storybook/package.json
  lib/api/src/version.ts
  lib/core/package.json
  lib/core/server.js
  lib/core/src/client/preview/start.js
  lib/core/src/server/preview/iframe-webpack.config.js
  lib/core/src/server/preview/to-require-context.js
  scripts/babel-jest.js
  yarn.lock
Labels: addon: storyshots, bug, core, ready

#8092 Storyshots-puppeteer: Add afterScreenshot handler
  addons/storyshots/storyshots-puppeteer/README.md
  addons/storyshots/storyshots-puppeteer/src/ImageSnapshotConfig.ts
  addons/storyshots/storyshots-puppeteer/src/imageSnapshot.ts
Labels: addon: storyshots, feature request

#8948 CHANGE cli to not check registry when --no-install
  lib/api/src/version.ts
  lib/cli/generators/ANGULAR/index.js
  lib/cli/generators/EMBER/index.js
  lib/cli/generators/HTML/index.js
  lib/cli/generators/MARKO/index.js
  lib/cli/generators/METEOR/index.js
  lib/cli/generators/MITHRIL/index.js
  lib/cli/generators/POLYMER/index.js
  lib/cli/generators/PREACT/index.js
  lib/cli/generators/RAX/index.js
  lib/cli/generators/REACT/index.js
  lib/cli/generators/REACT_NATIVE/index.js
  lib/cli/generators/REACT_SCRIPTS/index.js
  lib/cli/generators/RIOT/index.js
  lib/cli/generators/SFC_VUE/index.js
  lib/cli/generators/SVELTE/index.js
  lib/cli/generators/UPDATE_PACKAGE_ORGANIZATIONS/index.js
  lib/cli/generators/VUE/index.js
  lib/cli/generators/WEB-COMPONENTS/index.js
  lib/cli/generators/WEBPACK_REACT/index.js
  lib/cli/lib/helpers.js
Labels: feature request

#8889 Storyshots: Remove abandoned storyshots when run with `-u` flag
  addons/storyshots/storyshots-core/src/api/integrityTestTemplate.ts
Labels: addon: storyshots, feature request, ready

#8945 Core: Add missing dependencies
  lib/api/package.json
  lib/core/package.json
Labels: core, dependencies

#8931 Addon-docs: Support subcomponents as a top-level default export
  examples/official-storybook/stories/addon-docs/subcomponents.stories.js
  lib/core/src/client/preview/start.js
Labels: addon: docs, bug, csf

#8950 Addon-docs: Increase width of props table type column
  addons/docs/package.json
  addons/docs/src/frameworks/react/lib/captions.ts
  addons/docs/src/frameworks/react/lib/createDefaultValue.ts
  addons/docs/src/frameworks/react/lib/defaultValues/createDefaultValue.ts
  addons/docs/src/frameworks/react/lib/defaultValues/createFromRawDefaultProp.ts
  addons/docs/src/frameworks/react/lib/defaultValues/generateArray.ts
  addons/docs/src/frameworks/react/lib/defaultValues/generateObject.ts
  addons/docs/src/frameworks/react/lib/defaultValues/index.ts
  addons/docs/src/frameworks/react/lib/defaultValues/prettyIdentifier.ts
  addons/docs/src/frameworks/react/lib/generateCode.ts
  addons/docs/src/frameworks/react/lib/index.ts
  addons/docs/src/frameworks/react/lib/inspection/acornParser.test.ts
  addons/docs/src/frameworks/react/lib/inspection/acornParser.ts
  addons/docs/src/frameworks/react/lib/inspection/types.ts
  addons/docs/src/frameworks/react/propTypes/createType.ts
  addons/docs/src/frameworks/react/propTypes/generateFuncSignature.test.ts
  addons/docs/src/frameworks/react/propTypes/generateFuncSignature.ts
  addons/docs/src/frameworks/react/propTypes/handleProp.test.tsx
  addons/docs/src/frameworks/react/propTypes/handleProp.ts
  addons/docs/src/frameworks/react/propTypes/rawDefaultPropResolvers.ts
  addons/docs/src/frameworks/react/typeScript/handleProp.test.ts
  addons/docs/src/frameworks/react/typeScript/handleProp.test.tsx
  addons/docs/src/frameworks/react/typeScript/handleProp.ts
  addons/docs/src/lib/docgen/createPropDef.ts
  addons/docs/src/lib/docgen/flow/createPropDef.test.ts
  addons/docs/src/lib/docgen/flow/createType.ts
  addons/docs/src/lib/docgen/typeScript/createDefaultValue.ts
  addons/docs/src/lib/docgen/typeScript/createType.ts
  addons/docs/src/lib/docgen/utils/docgenInfo.ts
  addons/docs/src/lib/docgen/utils/index.ts
  addons/docs/src/lib/utils.ts
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/types/ext.js
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/types/prop-types.js
  lib/components/src/blocks/PropsTable/PropRow.tsx
  lib/components/src/blocks/PropsTable/PropValue.tsx
  yarn.lock
Labels: addon: docs, block: props, feature request

#8971 Don't try to require .ts files from dist
  addons/storyshots/storyshots-core/src/frameworks/frameworkLoader.ts
  addons/storyshots/storyshots-core/stories/storyshot.async.test.js
  addons/storyshots/storyshots-core/stories/storyshot.configFunc.test.js
  addons/storyshots/storyshots-core/stories/storyshot.enzyme.test.js
  addons/storyshots/storyshots-core/stories/storyshot.renderOnly.test.js
  addons/storyshots/storyshots-core/stories/storyshot.renderWithOptions.test.js
  addons/storyshots/storyshots-core/stories/storyshot.shallow.test.js
  addons/storyshots/storyshots-core/stories/storyshot.shallowWithOptions.test.js
  addons/storyshots/storyshots-core/stories/storyshot.snapshotWithOptionsFunction.test.js
  addons/storyshots/storyshots-core/stories/storyshot.specificConfig.test.js
  addons/storyshots/storyshots-core/stories/storyshot.test.js
  scripts/prepare.js
Labels: addon: storyshots, bug, high priority

#8967 Build: Upgrade to node 10 on netlify
  netlify.toml
Labels: maintenance

#8966 Core: Use logger in base-webpack.config.js
  lib/core/src/server/preview/base-webpack.config.js
Labels: core, maintenance

#8964 getSnapshotFileName is not a function
  addons/storyshots/storyshots-core/README.md
Labels: addon: storyshots, documentation, patch

#8922 Addon-docs: Prop table support for Angular directives
  addons/docs/docs/multiframework.md
  addons/docs/src/frameworks/angular/compodoc.ts
  addons/docs/src/frameworks/angular/types.ts
  examples/angular-cli/src/stories/doc-directive/__snapshots__/doc-directive.stories.storyshot
  examples/angular-cli/src/stories/doc-directive/doc-directive.directive.ts
  examples/angular-cli/src/stories/doc-directive/doc-directive.stories.ts
Labels: addon: docs, app: angular, feature request

#8969 Addon-docs: Fix `Preview` theming escape hatch
  lib/components/src/blocks/Preview.tsx
Labels: addon: docs, bug, patch, theming

#8973 Examples: Add "debug" script for storybook-official
  examples/official-storybook/package.json
Labels: maintenance

#8970 Addon-docs: Increase docs content wrapper max-width to 1000px
  examples/cra-ts-kitchen-sink/package.json
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/types/prop-types.js
  lib/components/src/blocks/DocsPage.tsx
  yarn.lock
Labels: addon: docs, block: props, feature request

#8968 MDX: Allow user to override `docs.container` parameter
  addons/docs/src/blocks/index.ts
  addons/docs/src/blocks/mdx.tsx
  addons/docs/src/mdx/__testfixtures__/component-id.output.snapshot
  addons/docs/src/mdx/__testfixtures__/decorators.output.snapshot
  addons/docs/src/mdx/__testfixtures__/docs-only.output.snapshot
  addons/docs/src/mdx/__testfixtures__/non-story-exports.output.snapshot
  addons/docs/src/mdx/__testfixtures__/parameters.output.snapshot
  addons/docs/src/mdx/__testfixtures__/previews.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-current.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-def-text-only.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-definitions.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-function-var.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-function.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-object.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-references.output.snapshot
  addons/docs/src/mdx/__testfixtures__/vanilla.output.snapshot
  addons/docs/src/mdx/mdx-compiler-plugin.js
  examples/official-storybook/stories/addon-docs/container-override.stories.mdx
Labels: addon: docs, feature request

#8871 Triconfig - configure ui options overhaul
  addons/options/README.md
  addons/options/src/register.ts
  docs/src/pages/configurations/options-parameter/index.md
  examples/cra-kitchen-sink/.storybook/manager.js
  examples/dev-kits/config.js
  examples/dev-kits/main.js
  examples/dev-kits/manager.js
  examples/rax-kitchen-sink/.storybook/manager.js
  lib/api/src/modules/layout.ts
  lib/cli/generators/RAX/template-csf/.storybook/addons.js
  lib/cli/generators/RAX/template-csf/.storybook/config.js
Labels: addon: options, core, feature request

#8978 📝 add example for Ember on addon-notes
  addons/notes/README.md
Labels: documentation, patch

#8977 📝 Update Knobs addon documentation for Ember
  addons/knobs/README.md
Labels: addon: knobs, documentation

#8975 Addon-links: Fix return type of linkTo and examples
  addons/links/src/preview.ts
  examples/official-storybook/stories/addon-links/button.stories.tsx
Labels: addon: links, bug, typescript

#8732 Addon-docs: Added dark theme option to source component
  addons/docs/src/blocks/Source.tsx
Labels: addon: docs, feature request

#8941 FIX MobileLayout component error on master
  lib/ui/src/components/layout/mobile.js
Labels: bug

#8962 Core/triconfig everywhere documentation
  HISTORY.md
  addons/a11y/README.md
  addons/actions/README.md
  addons/backgrounds/README.md
  addons/contexts/README.md
  addons/cssresources/README.md
  addons/design-assets/README.md
  addons/docs/README.md
  addons/docs/docs/docspage.md
  addons/docs/docs/mdx.md
  addons/docs/docs/multiframework.md
  addons/docs/docs/recipes.md
  addons/docs/docs/theming.md
  addons/docs/vue/README.md
  addons/docs/web-components/README.md
  addons/events/README.md
  addons/google-analytics/README.md
  addons/info/README.md
  addons/jest/README.md
  addons/knobs/README.md
  addons/links/README.md
  addons/notes/README.md
  addons/storyshots/storyshots-core/README.md
  addons/viewport/README.md
  app/vue/README.md
  app/web-components/README.md
  docs/src/pages/addons/api/index.md
  docs/src/pages/addons/introduction/index.md
  docs/src/pages/addons/using-addons/index.md
  docs/src/pages/addons/writing-addons/index.md
  docs/src/pages/basics/exporting-storybook/index.md
  docs/src/pages/basics/faq/index.md
  docs/src/pages/basics/writing-stories/index.md
  docs/src/pages/configurations/custom-webpack-config/index.md
  docs/src/pages/configurations/default-config/index.md
  docs/src/pages/configurations/options-parameter/index.md
  docs/src/pages/configurations/serving-static-files/index.md
  docs/src/pages/configurations/typescript-config/index.md
  docs/src/pages/guides/guide-angular/index.md
  docs/src/pages/guides/guide-ember/index.md
  docs/src/pages/guides/guide-html/index.md
  docs/src/pages/guides/guide-marko/index.md
  docs/src/pages/guides/guide-mithril/index.md
  docs/src/pages/guides/guide-preact/index.md
  docs/src/pages/guides/guide-rax/index.md
  docs/src/pages/guides/guide-react/index.md
  docs/src/pages/guides/guide-riot/index.md
  docs/src/pages/guides/guide-svelte/index.md
  docs/src/pages/guides/guide-vue/index.md
  docs/src/pages/presets/writing-presets/index.md
  lib/cli/generators/RAX/template-csf/.storybook/config.js
  lib/cli/generators/RAX/template-csf/.storybook/main.js
  lib/cli/generators/RAX/template-csf/.storybook/manager.js
  lib/ui/README.md
Labels: documentation

#8953 Fix vertical alignment of props table expandable
  lib/components/src/blocks/PropsTable/PropJsDoc.tsx
  lib/components/src/blocks/PropsTable/PropRow.tsx
  lib/components/src/blocks/PropsTable/PropValue.tsx
  lib/components/src/typography/shared.tsx
Labels: addon: docs, block: props, bug

#8989 UI: Escape hatch CSS on for "active" tablist buttons
  lib/components/src/tabs/tabs.tsx
Labels: feature request, theming, ui

#8992 Added docs to show how to override SB block when using MDX
  addons/docs/docs/theming.md
Labels: addon: docs, documentation, patch

#8985 Addon-docs: Remove deprecated framework-specific docs presets
  addons/docs/README.md
  addons/storyshots/storyshots-core/.storybook/presets.js
  examples/cra-ts-kitchen-sink/.storybook/presets.js
  lib/cli/generators/ANGULAR/template-mdx/.storybook/presets.js
  lib/cli/generators/HTML/template-mdx/.storybook/presets.js
  lib/cli/generators/REACT/template-mdx/.storybook/presets.js
  lib/cli/generators/REACT_SCRIPTS/template-mdx/.storybook/presets.js
  lib/cli/generators/SFC_VUE/template-mdx/.storybook/presets.js
  lib/cli/generators/VUE/template-mdx/.storybook/presets.js
  lib/cli/generators/WEBPACK_REACT/template-mdx/.storybook/presets.js
Labels: addon: docs, cli, maintenance

#8991 Addon-docs: Upgrade MDX dependencies
  addons/docs/package.json
  lib/codemod/package.json
  yarn.lock
Labels: dependencies

#8994 UI: viewMode proptypes changed to any string
  lib/ui/src/app.js
  lib/ui/src/components/layout/container.js
  lib/ui/src/components/layout/desktop.js
  lib/ui/src/components/layout/mobile.js
  lib/ui/src/components/preview/preview.js
Labels: maintenance, ui

#8993 Dev: Add vscode launch.json for debugging
  .gitignore
  .vscode/launch.json
Labels: maintenance

#8934 Feature: use storyshot-puppeteer for things other than image snapshots
  .github/workflows/tests-puppeteer.yml
  addons/a11y/README.md
  addons/a11y/src/components/__snapshots__/A11YPanel.test.js.snap
  addons/info/src/__snapshots__/index.test.js.snap
  addons/storyshots/README.md
  addons/storyshots/storyshots-puppeteer/README.md
  addons/storyshots/storyshots-puppeteer/package.json
  addons/storyshots/storyshots-puppeteer/src/ImageSnapshotConfig.ts
  addons/storyshots/storyshots-puppeteer/src/axeTest.ts
  addons/storyshots/storyshots-puppeteer/src/config.ts
  addons/storyshots/storyshots-puppeteer/src/imageSnapshot.ts
  addons/storyshots/storyshots-puppeteer/src/index.ts
  addons/storyshots/storyshots-puppeteer/src/puppeteerTest.ts
  examples/official-storybook/image-snapshots/storyshots-image.runner.js
  examples/official-storybook/package.json
  examples/official-storybook/stories/addon-storyshots.stories.js
  examples/official-storybook/storyshots-puppeteer/__image_snapshots__/storyshots-image-runner-js-image-snapshots-addons-storyshots-block-1-snap.png
  examples/official-storybook/storyshots-puppeteer/axe-tests.runner.js
  examples/official-storybook/storyshots-puppeteer/getStorybookUrl.js
  examples/official-storybook/storyshots-puppeteer/jest.config.js
  examples/official-storybook/storyshots-puppeteer/puppeteer-tests.runner.js
  examples/official-storybook/storyshots-puppeteer/storyshots-image.runner.js
  lib/components/src/Button/Button.stories.tsx
  lib/components/src/ScrollArea/ScrollArea.tsx
  lib/components/src/form/form.stories.tsx
  lib/components/src/tabs/tabs.stories.tsx
  lib/components/src/tabs/tabs.tsx
  lib/components/src/typography/link/link.stories.tsx
  lib/ui/src/components/sidebar/SidebarHeading.tsx
  lib/ui/src/components/sidebar/SidebarSearch.stories.tsx
  lib/ui/src/settings/about.js
  scripts/test.js
  yarn.lock
Labels: addon: a11y, addon: storyshots, compatibility with other tools, feature request, ready

#9001 Addon-contexts: Fix 'cannot read property h of undefined' in preact
  addons/contexts/src/preview/frameworks/preact.ts
Labels: addon: contexts, app: preact, bug, patch

#9004 CLI: Code cleanup
  lib/cli/lib/helpers.js
Labels: cli, maintenance

#9006 Update README.md
  addons/docs/README.md
Labels: documentation
