Repository storybookjs/storybook, pull requests merged in 2019-08, with the labels that each got.

#7645 Knobs documentation: add missing groupId parameter demos
  addons/knobs/README.md
Labels: addon: knobs, documentation, patch

#7649 CLI: Fix `npx -p @storybook/cli sb migrate` in yarn project
  lib/cli/lib/migrate.js
  lib/codemod/src/index.js
Labels: bug, cli, yarn / npm

#7650 Addon-docs: Error on non-string description
  addons/docs/src/blocks/Description.tsx
Labels: addon: docs, bug

#7653 Addon-docs: Pass everything through babel & partial TS conversion
  addons/docs/angular/index.js
  addons/docs/angular/preset.js
  addons/docs/html/index.js
  addons/docs/html/preset.js
  addons/docs/mdx-compiler-plugin.js
  addons/docs/react/index.js
  addons/docs/react/preset.js
  addons/docs/src/frameworks/common/index.ts
  addons/docs/src/frameworks/common/makePreset.ts
  addons/docs/src/frameworks/common/preset.ts
  addons/docs/src/mdx/__snapshots__/mdx-compiler-plugin.test.js.snap
  addons/docs/src/mdx/fixtures/decorators.mdx
  addons/docs/src/mdx/fixtures/non-story-exports.mdx
  addons/docs/src/mdx/fixtures/parameters.mdx
  addons/docs/src/mdx/fixtures/previews.mdx
  addons/docs/src/mdx/fixtures/story-current.mdx
  addons/docs/src/mdx/fixtures/story-def-text-only.mdx
  addons/docs/src/mdx/fixtures/story-definitions.mdx
  addons/docs/src/mdx/fixtures/story-function.mdx
  addons/docs/src/mdx/fixtures/story-missing-props.mdx
  addons/docs/src/mdx/fixtures/story-object.mdx
  addons/docs/src/mdx/fixtures/story-references.mdx
  addons/docs/src/mdx/fixtures/vanilla.mdx
  addons/docs/src/mdx/mdx-compiler-plugin.js
  addons/docs/src/mdx/mdx-compiler-plugin.test.js
  addons/docs/src/typings.d.ts
  addons/docs/vue/index.js
  addons/docs/vue/preset.js
Labels: addon: docs, bug

#7640 Addon-centered: Fix disappearing when zoomed
  lib/core/src/server/templates/base-preview-head.html
  lib/ui/src/components/preview/iframe.js
Labels: bug, patch, ui

#7660 Addon-jest: Add placeholder info for missing tests
  addons/jest/src/components/Panel.tsx
  addons/jest/src/hoc/provideJestResult.tsx
Labels: addon: jest, feature request

#7629 Fix typo in CLI options
  lib/core/src/server/cli/dev.js
Labels: documentation

#7667 Addon-docs: Pass framework configs through babel
  addons/docs/angular/config.js
  addons/docs/common/makePreset.js
  addons/docs/common/preset.js
  addons/docs/html/config.js
  addons/docs/react/config.js
  addons/docs/src/frameworks/angular/config.js
  addons/docs/src/frameworks/html/config.js
  addons/docs/src/frameworks/react/config.js
  addons/docs/src/frameworks/vue/config.js
  addons/docs/vue/config.js
Labels: addon: docs, babel / webpack, bug

#7669 Core: Fix HMR for CSF files
  lib/core/src/client/preview/start.js
Labels: bug, csf

#7670 React: Cleanup CSF stories in cra-kitchen-sink
  examples/cra-kitchen-sink/src/components/Container.js
  examples/cra-kitchen-sink/src/stories/button.stories.js
  examples/cra-kitchen-sink/src/stories/welcome.stories.js
Labels: app: react, maintenance

#7417 Allow injecting preview-body.html
  docs/gatsby-config.js
  docs/src/components/Homepage/MainLinks/index.js
  docs/src/pages/configurations/add-custom-body/index.md
  lib/core/src/server/preview/iframe-webpack.config.js
  lib/core/src/server/utils/template.js
  lib/core/src/server/utils/template.test.js
Labels: core, feature request

#7663 Adds storybook-addon-responsive-views to addon gallery
  docs/src/pages/addons/addon-gallery/index.md
Labels: documentation, patch

#7658 CLI: suggest possible matches on invalid command
  lib/cli/bin/generate.js
  lib/cli/package.json
  yarn.lock
Labels: cli, feature request

#7695 Michael this is unacceptable.
  examples/official-storybook/stories/addon-graphql.stories.js
Labels: addon: graphql, documentation, patch

#7694 Addon-notes: Upgrade markdown-to-jsx dependency
  addons/notes/package.json
  yarn.lock
Labels: addon: notes, dependencies

#7401 Core: Add polyfill for fetch
  lib/core/package.json
  lib/core/src/client/manager/conditional-polyfills.js
  lib/core/src/client/manager/index.js
  yarn.lock
Labels: bug, core, patch, ui

#7680 Addon-docs: DocsPage slots for fine-grained user control
  addons/docs/src/blocks/Description.tsx
  addons/docs/src/blocks/DocsPage.tsx
  examples/official-storybook/config.js
Labels: addon: docs, feature request

#7707 Remove Object.append(...) from index.ejs
  lib/core/src/server/templates/index.ejs
Labels: bug, core

#7705 Addon-jest: fix console warning
  addons/jest/src/components/Panel.tsx
Labels: addon: jest, bug

#7709 Addon-centered: Ability to disable for specific story
  addons/centered/README.md
  addons/centered/src/angular.ts
  addons/centered/src/ember.ts
  addons/centered/src/html.ts
  addons/centered/src/mithril.tsx
  addons/centered/src/parameters.ts
  addons/centered/src/preact.tsx
  addons/centered/src/rax.js
  addons/centered/src/react.tsx
  addons/centered/src/svelte.ts
  addons/centered/src/vue.ts
  examples/official-storybook/stories/addon-centered.stories.js
Labels: addon: centered, feature request

#7716 UI: Improved component nav UI
  lib/ui/src/components/sidebar/SidebarStories.tsx
  lib/ui/src/components/sidebar/treeview/treeview.js
Labels: feature request, ui

#7719 Addon-docs: Docs only MDX and navigation UI
  addons/docs/src/mdx/__snapshots__/mdx-compiler-plugin.test.js.snap
  addons/docs/src/mdx/__testfixtures__/docs-only.mdx
  addons/docs/src/mdx/mdx-compiler-plugin.js
  addons/docs/src/mdx/mdx-compiler-plugin.test.js
  examples/official-storybook/stories/addon-docs-docs-only.stories.mdx
  lib/client-api/src/story_store.ts
  lib/core/src/client/preview/start.js
  lib/ui/src/components/sidebar/SidebarItem.tsx
  lib/ui/src/components/sidebar/SidebarStories.tsx
  lib/ui/src/components/sidebar/treeview/treeview.js
  lib/ui/src/containers/nav.js
Labels: addon: docs, feature request, ui

#7696 Core: Disable CRA behaviors when preset detected
  app/react/README.md
  app/react/src/server/framework-preset-cra.ts
  lib/core/src/server/preview/custom-webpack-preset.js
Labels: app: react, cra, feature request, presets

#7749 Core: Revert "Addon-centered: Fix disappearing when zoomed"
  lib/core/src/server/templates/base-preview-head.html
  lib/ui/src/components/preview/iframe.js
Labels: bug, core

#7750 Core: Revert "Fix #7167 addon-centered causes component to disappear when zooming"
  lib/core/src/server/templates/base-preview-head.html
Labels: bug, core, patch

#7741 Addon-docs: Packaging for 5.2 release
  addons/docs/README.md
  addons/docs/docs/docspage.md
  addons/docs/docs/mdx.md
  addons/docs/docs/media/docs-tab.png
  addons/docs/docs/media/docspage-hero.png
  addons/docs/docs/media/docspage-slots.png
  addons/docs/docs/media/hero.png
  addons/docs/docs/media/mdx-hero.png
  addons/docs/docs/media/mdx-page.png
  addons/docs/docs/media/mdx-simple.png
  addons/docs/package.json
  addons/docs/src/blocks/DocsPage.tsx
  docs/src/pages/basics/writing-stories/index.md
  lib/ui/src/components/sidebar/Sidebar.stories.mdx
Labels: BREAKING CHANGE, addon: docs, high priority

#7555 Ondevice-knobs: Expose withKnobs from addon-knobs
  addons/ondevice-knobs/src/index.js
Labels: addon: knobs, app: react-native, feature request

#6949 CLI: Don't output startup information on smoke test
  lib/core/src/server/build-dev.js
Labels: cli, feature request, inactive

#7748 Jest add flexibility
  addons/jest/src/components/Panel.tsx
  addons/jest/src/components/Result.tsx
  app/react/src/server/framework-preset-cra.ts
Labels: addon: jest, maintenance

#7778 Addon-docs: Add toolbar support to Preview
  addons/docs/src/blocks/DocsPage.tsx
  examples/official-storybook/stories/addon-docs.stories.mdx
  lib/components/src/blocks/Preview.stories.tsx
  lib/components/src/blocks/Preview.tsx
  lib/components/src/blocks/Story.tsx
  lib/components/src/blocks/Toolbar.tsx
  lib/components/src/blocks/ZoomContext.tsx
Labels: addon: docs, feature request

#7771 Addon-docs: Fix CSS bleed issue in doc blocks
  addons/a11y/src/components/__snapshots__/A11YPanel.test.js.snap
  addons/docs/src/blocks/DocsContainer.tsx
  addons/docs/src/blocks/DocsPage.tsx
  addons/info/src/__snapshots__/index.test.js.snap
  addons/notes/src/Panel.tsx
  examples/official-storybook/stories/addon-docs/addon-docs.stories.js
  examples/official-storybook/stories/addon-docs/addon-docs.stories.mdx
  examples/official-storybook/stories/addon-docs/docs-only.stories.mdx
  examples/official-storybook/stories/addon-docs/markdown.stories.mdx
  examples/official-storybook/stories/addon-docs/mdx.stories.js
  lib/components/html.d.ts
  lib/components/html.js
  lib/components/src/ActionBar/ActionBar.tsx
  lib/components/src/blocks/ColorPalette.stories.tsx
  lib/components/src/blocks/ColorPalette.tsx
  lib/components/src/blocks/Description.tsx
  lib/components/src/blocks/DocsPage.stories.tsx
  lib/components/src/blocks/DocsPage.tsx
  lib/components/src/blocks/EmptyBlock.stories.tsx
  lib/components/src/blocks/EmptyBlock.tsx
  lib/components/src/blocks/IconGallery.tsx
  lib/components/src/blocks/Preview.stories.tsx
  lib/components/src/blocks/Preview.tsx
  lib/components/src/blocks/PropsTable/PropRow.stories.tsx
  lib/components/src/blocks/PropsTable/PropsTable.stories.tsx
  lib/components/src/blocks/PropsTable/PropsTable.tsx
  lib/components/src/blocks/Source.stories.tsx
  lib/components/src/blocks/Source.tsx
  lib/components/src/blocks/Story.stories.tsx
  lib/components/src/blocks/Typeset.stories.tsx
  lib/components/src/blocks/Typeset.tsx
  lib/components/src/html.tsx
  lib/components/src/index.ts
  lib/components/src/typography/DocumentFormatting.tsx
  lib/components/src/typography/DocumentWrapper.stories.tsx
  lib/components/src/typography/DocumentWrapper.tsx
  lib/components/src/typography/withReset.tsx
  lib/ui/src/settings/about.js
Labels: addon: docs, bug, high priority

#7783 fix link to `Intro to Presets page`
  docs/src/pages/presets/introduction/index.md
Labels: documentation, patch, presets

#7788 Addon-docs: Unwrap doc blocks stories
  lib/components/src/blocks/ColorPalette.stories.tsx
  lib/components/src/blocks/Description.stories.tsx
  lib/components/src/blocks/EmptyBlock.stories.tsx
  lib/components/src/blocks/IconGallery.stories.tsx
  lib/components/src/blocks/Preview.stories.tsx
  lib/components/src/blocks/PropsTable/PropRow.stories.tsx
  lib/components/src/blocks/PropsTable/PropsTable.stories.tsx
  lib/components/src/blocks/Source.stories.tsx
  lib/components/src/blocks/Story.stories.tsx
  lib/components/src/blocks/Typeset.stories.tsx
Labels: addon: docs, maintenance

#7787 Addon-docs: Fix docs-only story load
  lib/core/src/client/preview/start.js
Labels: addon: docs, bug

#7793 Feature/jest add pending todo
  addons/jest/src/components/Panel.tsx
  examples/official-storybook/stories/addon-jest.testresults.json
  examples/official-storybook/tests/addon-jest.test.js
Labels: addon: jest, feature request

#7796 Addon-docs: Fix unique key warning
  addons/docs/src/blocks/DocsPage.tsx
Labels: addon: docs, bug

#7800 CHANGE alignment for preview/iframe via grid because flexbox forces width
  addons/viewport/src/Tool.tsx
Labels: addon: viewport, bug

#7651 Add .pdf support to file-loader
  lib/core/src/server/manager/manager-webpack.config.js
  lib/core/src/server/preview/base-webpack.config.js
Labels: babel / webpack, feature request

#7785 Addon-docs: Improved "No docs" message
  examples/official-storybook/stories/addon-docs/addon-docs.stories.js
  lib/core/src/client/preview/NoDocs.js
  lib/core/src/client/preview/start.js
Labels: addon: docs, feature request

#7207 7161 Fix error raw loader module not found in angular 8
  app/angular/src/server/framework-preset-angular.ts
Labels: app: angular, bug

#7508 [documentation] Storybook 5 server not running on React Native
  docs/src/pages/guides/guide-react-native/index.md
Labels: app: react-native, app: react-native-server, documentation

#7791 Preview hooks: trigger effects after story render
  app/angular/src/client/preview/angular/decorators.test.ts
  app/react/src/client/preview/render.tsx
  examples/html-kitchen-sink/stories/button.stories.js
  examples/html-kitchen-sink/tests/__snapshots__/htmlshots.test.js.snap
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/hooks.test.js
  lib/client-api/src/hooks.ts
  lib/core/src/client/preview/start.js
Labels: bug, client-api

#7808 Addon-docs: Fixed some sample code to be more valid
  addons/docs/docs/recipes.md
Labels: addon: docs, documentation

#7812 CSF: Add @next to sb migrate docs
  lib/codemod/README.md
Labels: cli, documentation

#7814 Addon-docs: Add docsContainer parameter
  addons/docs/docs/recipes.md
  addons/docs/src/blocks/DocsContainer.tsx
  addons/docs/src/blocks/DocsPage.tsx
  addons/docs/src/frameworks/angular/config.js
  addons/docs/src/frameworks/html/config.js
  addons/docs/src/frameworks/react/config.js
  addons/docs/src/frameworks/vue/config.js
  addons/docs/src/mdx/__snapshots__/mdx-compiler-plugin.test.js.snap
  addons/docs/src/mdx/mdx-compiler-plugin.js
  examples/official-storybook/stories/addon-docs/mdx.stories.js
  examples/official-storybook/stories/notes/notes.mdx
  lib/core/src/client/preview/start.js
Labels: BREAKING CHANGE, addon: docs

#7822 FIX issue where the block of build info (including url) wouldn't show if passed --ci #7821
  lib/core/src/server/build-dev.js
Labels: bug, cli

#7823 CLI: Remove babel-register in favor of esm
  lib/cli/bin/index.js
  lib/cli/package.json
  lib/cli/test/run_tests.sh
  yarn.lock
Labels: cli, maintenance

#7831 Source-loader: Selectively ignore typescript errors in generated code
  lib/source-loader/src/server/build.js
Labels: bug, source-loader

#7809 React-Native: Fix tabs layout issue on simulator
  app/react-native/src/preview/components/OnDeviceUI/addons/index.tsx
Labels: app: react-native, bug

#7832 updated readme to link to correct initial_viewports location
  addons/viewport/README.md
Labels: addon: viewport, documentation

#7647 Remove temporarily added --no-dll option on examples
  examples/html-kitchen-sink/package.json
Labels: maintenance

#7845 Source-loader: Selectively ignore typescript errors in generated code
  lib/source-loader/src/server/build.js
Labels: bug, source-loader

#7849 Addon-docs: Fix DocsPage primary story switching
  addons/docs/src/blocks/DocsPage.tsx
Labels: addon: docs, bug, high priority

#7409 Addon-info: Add configurable component comparator
  addons/info/src/__snapshots__/index.test.js.snap
  addons/info/src/components/Story.js
  addons/info/src/index.js
Labels: addon: info, compatibility with other tools, feature request

#7865 UI: Fix TooltipLinkList not scrollable
  docs/src/new-components/basics/tooltip/TooltipLinkList.js
  lib/components/src/tooltip/TooltipLinkList.tsx
Labels: bug, ui

#7860 Core: Pass a separate hooks context per story
  addons/docs/src/blocks/DocsPage.tsx
  examples/official-storybook/stories/hooks.stories.js
  examples/vue-kitchen-sink/src/stories/custom-decorators.stories.js
  lib/addons/package.json
  lib/addons/src/hooks.ts
  lib/addons/src/public_api.ts
  lib/addons/src/types.ts
  lib/client-api/src/hooks.test.js
  lib/client-api/src/hooks.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/client-api/src/types.ts
  lib/core/src/client/preview/start.js
Labels: bug, client-api

#7448 Fix/viewport
  MIGRATION.md
  addons/viewport/src/Tool.tsx
  addons/viewport/src/defaults.ts
Labels: addon: viewport, bug

#7874 Addon-docs: Make config API consistent with other addons
  addons/docs/README.md
  addons/docs/docs/docspage.md
  addons/docs/src/blocks/DocsContainer.tsx
  addons/docs/src/blocks/Props.tsx
  addons/docs/src/blocks/Story.tsx
  addons/docs/src/frameworks/angular/config.js
  addons/docs/src/frameworks/html/config.js
  addons/docs/src/frameworks/react/config.js
  addons/docs/src/frameworks/vue/config.js
  addons/docs/src/mdx/__snapshots__/mdx-compiler-plugin.test.js.snap
  addons/docs/src/mdx/mdx-compiler-plugin.js
  examples/angular-cli/.storybook/config.ts
  examples/angular-cli/src/stories/__snapshots__/core.stories.storyshot
  examples/html-kitchen-sink/.storybook/config.js
  examples/official-storybook/config.js
  examples/official-storybook/stories/addon-docs/addon-docs.stories.js
  examples/official-storybook/stories/addon-docs/mdx.stories.js
  examples/riot-kitchen-sink/__snapshots__/riotshots.test.js.snap
  examples/vue-kitchen-sink/.storybook/config.js
  examples/vue-kitchen-sink/__snapshots__/vueshots.test.js.snap
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/client_api.ts
  lib/core/src/client/preview/start.js
Labels: BREAKING PRERELEASE, addon: docs, maintenance

#7878 CSF: Transform CSF named exports w/ `makeDisplayName`
  addons/docs/src/mdx/__snapshots__/mdx-compiler-plugin.test.js.snap
  addons/docs/src/mdx/mdx-compiler-plugin.js
  docs/src/pages/configurations/options-parameter/index.md
  examples/html-kitchen-sink/tests/__snapshots__/htmlshots.test.js.snap
  examples/official-storybook/config.js
  examples/official-storybook/package.json
  examples/preact-kitchen-sink/__snapshots__/preactshots.test.js.snap
  examples/riot-kitchen-sink/__snapshots__/riotshots.test.js.snap
  examples/svelte-kitchen-sink/__snapshots__/svelteshots.test.js.snap
  examples/vue-kitchen-sink/__snapshots__/vueshots.test.js.snap
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/client_api.ts
  lib/components/src/blocks/Source.stories.tsx
  lib/core/src/client/preview/start.js
  lib/ui/src/components/sidebar/SidebarItem.tsx
Labels: BREAKING PRERELEASE, csf

#7894 Addon-docs: Fix MDX Story ID to match new CSF
  addons/docs/src/blocks/DocsContext.ts
  addons/docs/src/blocks/Preview.tsx
  addons/docs/src/blocks/Story.tsx
  addons/docs/src/mdx/__snapshots__/mdx-compiler-plugin.test.js.snap
  addons/docs/src/mdx/mdx-compiler-plugin.js
Labels: addon: docs, bug, high priority

#7889 Update readme for addon centered to alert users of style impacts
  addons/centered/README.md
Labels: addon: centered, documentation

#7887 Addon-viewports: Fix docs with new defaults
  MIGRATION.md
  addons/viewport/README.md
Labels: addon: viewport, documentation

#7904 Addon-docs: Fix recipe for CSF stories with MDX docs
  addons/docs/docs/recipes.md
Labels: addon: docs, documentation

#7888 Addon-a11y: Upgrade axe to 3.3.2 which adds/mods rules
  addons/a11y/package.json
  yarn.lock
Labels: addon: a11y, maintenance

#7901 CSF: Revert `makeDisplayName` & add stable `storyNameFromExport`
  addons/docs/src/mdx/__snapshots__/mdx-compiler-plugin.test.js.snap
  addons/docs/src/mdx/mdx-compiler-plugin.js
  docs/src/pages/configurations/options-parameter/index.md
  examples/html-kitchen-sink/tests/__snapshots__/htmlshots.test.js.snap
  examples/official-storybook/config.js
  examples/preact-kitchen-sink/__snapshots__/preactshots.test.js.snap
  examples/riot-kitchen-sink/__snapshots__/riotshots.test.js.snap
  examples/svelte-kitchen-sink/__snapshots__/svelteshots.test.js.snap
  examples/vue-kitchen-sink/__snapshots__/vueshots.test.js.snap
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/client_api.ts
  lib/core/src/client/preview/start.js
  lib/router/package.json
  lib/router/src/utils.test.js
  lib/router/src/utils.ts
Labels: BREAKING PRERELEASE, csf, maintenance

#7915 Addon-docs: Fix DocsPage to respect displayName
  addons/docs/src/blocks/DocsPage.tsx
Labels: addon: docs, bug

#7910 UI: Optimize treeview render/filter performance
  examples/cra-kitchen-sink/src/stories/perf.stories.js
  lib/ui/src/components/sidebar/treeview/treeview.js
  lib/ui/src/components/sidebar/treeview/utils.js
Labels: bug, high priority, performance issue, ui

#7921 Addon-docs: Fix docs-only story ID suffix
  addons/docs/src/mdx/__snapshots__/mdx-compiler-plugin.test.js.snap
  addons/docs/src/mdx/mdx-compiler-plugin.js
Labels: addon: docs, bug

#7922 Replace favicon with new Storybook icon.
  lib/core/src/server/public/favicon.ico
Labels: core, ui

#7912 Bump react-draggable from 3.1.1 to 3.3.2
  lib/ui/package.json
  yarn.lock
Labels: dependencies

#7934 Fix defaultViewport in @addon-viewport
  addons/viewport/src/Tool.tsx
Labels: addon: viewport, bug

#7892 fix: Add html lang attribute to iframe
  lib/core/src/server/templates/index.ejs
Labels: accessibility, feature request, ui

#7683 Addon-viewport: keep styles on rotation-change
  addons/viewport/src/Tool.tsx
Labels: addon: viewport, bug, patch

#7908 Resolve deprecated methods in react-native
  app/react-native/src/preview/components/OnDeviceUI/absolute-positioned-keyboard-aware-view.tsx
Labels: app: react-native, bug

#7438 Fix/addon links
  addons/links/src/manager.ts
  addons/links/src/preview.ts
Labels: addon: links, bug

#7918 Add z-index on sb-errordisplay
  lib/core/src/server/templates/base-preview-head.html
Labels: bug, ui

#7940 Source-loader: Fix CSF display name handling
  lib/source-loader/src/server/abstract-syntax-tree/traverse-helpers.js
Labels: addon: docs, bug, high priority, source-loader

#7941 Addon-Jest: Fix inconsistent file naming in README
  addons/jest/README.md
Labels: addon: jest, documentation
