Repository storybookjs/storybook, pull requests merged in 2019-05, with the labels that each got.

#6692 Use `http-server` instead of `serve` in the example
  docs/src/pages/basics/exporting-storybook/index.md
Labels: documentation, patch

#6695 Update how we install dev dependencies in cli
  lib/cli/generators/ANGULAR/index.js
  lib/cli/generators/EMBER/index.js
  lib/cli/generators/HTML/index.js
  lib/cli/generators/MARKO/index.js
  lib/cli/generators/METEOR/index.js
  lib/cli/generators/MITHRIL/index.js
  lib/cli/generators/POLYMER/index.js
  lib/cli/generators/PREACT/index.js
  lib/cli/generators/REACT/index.js
  lib/cli/generators/REACT_NATIVE/index.js
  lib/cli/generators/REACT_SCRIPTS/index.js
  lib/cli/generators/RIOT/index.js
  lib/cli/generators/SFC_VUE/index.js
  lib/cli/generators/SVELTE/index.js
  lib/cli/generators/UPDATE_PACKAGE_ORGANIZATIONS/index.js
  lib/cli/generators/VUE/index.js
  lib/cli/generators/WEBPACK_REACT/index.js
  lib/cli/lib/helpers.js
  lib/cli/lib/initiate.js
Labels: cli, maintenance

#6412 Mimic PureComponent behavior for Consumer children
  app/react-native-server/src/client/manager/provider.js
  lib/api/package.json
  lib/api/src/index.tsx
  yarn.lock
Labels: api: stories, app: react-native, bug

#6603 Use emotion to style react-native ui
  app/react-native/package.json
  app/react-native/src/preview/components/OnDeviceUI/absolute-positioned-keyboard-aware-view.tsx
  app/react-native/src/preview/components/OnDeviceUI/addons/index.tsx
  app/react-native/src/preview/components/OnDeviceUI/addons/list.tsx
  app/react-native/src/preview/components/OnDeviceUI/addons/tab.tsx
  app/react-native/src/preview/components/OnDeviceUI/addons/wrapper.tsx
  app/react-native/src/preview/components/OnDeviceUI/animation.ts
  app/react-native/src/preview/components/OnDeviceUI/index.tsx
  app/react-native/src/preview/components/OnDeviceUI/navigation/bar.tsx
  app/react-native/src/preview/components/OnDeviceUI/navigation/button.tsx
  app/react-native/src/preview/components/OnDeviceUI/navigation/visibility-button.tsx
  app/react-native/src/preview/components/OnDeviceUI/panel.tsx
  app/react-native/src/preview/components/OnDeviceUI/style.ts
  app/react-native/src/preview/components/Shared/text.ts
  app/react-native/src/preview/components/Shared/theme.ts
  app/react-native/src/preview/components/StoryListView/index.tsx
  app/react-native/src/preview/components/StoryListView/style.ts
  app/react-native/src/preview/components/StoryView/index.tsx
  app/react-native/src/preview/components/StoryView/style.ts
  app/react-native/src/preview/index.tsx
  app/react-native/src/typings.d.ts
  examples-native/crna-kitchen-sink/storybook/index.js
  yarn.lock
Labels: app: react-native, feature request

#6594 Ondevice actions
  ADDONS_SUPPORT.md
  addons/actions/src/index.ts
  addons/ondevice-actions/README.md
  addons/ondevice-actions/package.json
  addons/ondevice-actions/register.js
  addons/ondevice-actions/src/components/ActionLogger/Inspect.tsx
  addons/ondevice-actions/src/components/ActionLogger/index.tsx
  addons/ondevice-actions/src/containers/ActionLogger/index.tsx
  addons/ondevice-actions/src/index.tsx
  addons/ondevice-actions/tsconfig.json
  examples-native/crna-kitchen-sink/package.json
  examples-native/crna-kitchen-sink/storybook/rn-addons.js
  lib/api/src/index.tsx
Labels: addon: actions, app: react-native, feature request

#6707 Remove teamcity CLI tests
  .teamcity/OpenSourceProjects_Storybook/Project.kt
  .teamcity/OpenSourceProjects_Storybook/buildTypes/OpenSourceProjects_Storybook_Build_2.kt
  .teamcity/OpenSourceProjects_Storybook/buildTypes/OpenSourceProjects_Storybook_CliTest.kt
  .teamcity/OpenSourceProjects_Storybook/patches/buildTypes/b1db1a3a-a4cf-46ea-8f55-98b86611f92e.kts
Labels: maintenance

#6661 Add A11y Examples and Documentation
  ADDONS_SUPPORT.md
  addons/a11y/src/components/A11YPanel.tsx
  addons/a11y/src/components/__snapshots__/A11YPanel.test.js.snap
  examples/angular-cli/.storybook/addons.ts
  examples/angular-cli/.storybook/config.ts
  examples/angular-cli/package.json
  examples/cra-kitchen-sink/.storybook/config.js
  examples/cra-ts-kitchen-sink/.storybook/addons.js
  examples/cra-ts-kitchen-sink/.storybook/config.js
  examples/cra-ts-kitchen-sink/package.json
  examples/ember-cli/.storybook/config.js
  examples/html-kitchen-sink/.storybook/config.js
  examples/marko-cli/.storybook/addons.js
  examples/marko-cli/.storybook/config.js
  examples/marko-cli/package.json
  examples/mithril-kitchen-sink/.storybook/addons.js
  examples/mithril-kitchen-sink/.storybook/config.js
  examples/mithril-kitchen-sink/package.json
  examples/polymer-cli/.storybook/addons.js
  examples/polymer-cli/.storybook/config.js
  examples/polymer-cli/package.json
  examples/preact-kitchen-sink/.storybook/addons.js
  examples/preact-kitchen-sink/.storybook/config.js
  examples/preact-kitchen-sink/package.json
  examples/riot-kitchen-sink/.storybook/addons.js
  examples/riot-kitchen-sink/.storybook/config.js
  examples/riot-kitchen-sink/package.json
  examples/svelte-kitchen-sink/.storybook/addons.js
  examples/svelte-kitchen-sink/.storybook/config.js
  examples/svelte-kitchen-sink/package.json
  examples/vue-kitchen-sink/.storybook/addons.js
  examples/vue-kitchen-sink/.storybook/config.js
  examples/vue-kitchen-sink/package.json
Labels: addon: a11y, documentation

#6720 Allow browsing to a kind and get the first story
  lib/api/src/modules/stories.ts
  lib/api/src/modules/url.ts
Labels: feature request, ui

#6666 Angular - Avoid component redeclaration without additional configuration
  addons/storyshots/storyshots-core/src/frameworks/angular/helpers.ts
  addons/storyshots/storyshots-core/src/frameworks/angular/types.ts
  app/angular/index.d.ts
  app/angular/src/client/preview/angular/helpers.ts
  app/angular/src/client/preview/angular/types.ts
  examples/angular-cli/src/stories/module-context/module-context.stories.ts
Labels: app: angular, feature request

#6718 Replace deprecated `loaders` option with `use`
  docs/src/pages/configurations/custom-webpack-config/index.md
Labels: babel / webpack, documentation, patch

#6696 fix: Preserve dimensions on resizing for panel
  lib/ui/src/components/layout/container.js
Labels: bug, patch, ui

#6215 Angular: Disable prod mode for debugging components
  .eslintrc.js
  app/angular/src/client/preview/angular/helpers.ts
  app/angular/src/typings.d.ts
  lib/core/src/server/manager/manager-webpack.config.js
  lib/core/src/server/preview/iframe-webpack.config.js
Labels: app: angular, feature request

#6475 Add CRA React15 example to test back-compat
  .circleci/config.yml
  .teamcity/OpenSourceProjects_Storybook/buildTypes/StorybookApp.kt
  addons/links/src/preview.ts
  docs/src/pages/configurations/theming/index.md
  examples/cra-react15/.babelrc
  examples/cra-react15/.storybook/addons.js
  examples/cra-react15/.storybook/config.js
  examples/cra-react15/README.md
  examples/cra-react15/package.json
  examples/cra-react15/public/favicon.ico
  examples/cra-react15/public/index.html
  examples/cra-react15/public/manifest.json
  examples/cra-react15/src/App.css
  examples/cra-react15/src/App.js
  examples/cra-react15/src/App.test.js
  examples/cra-react15/src/index.css
  examples/cra-react15/src/index.js
  examples/cra-react15/src/logo.svg
  examples/cra-react15/src/stories/index.js
  examples/official-storybook/README.md
  examples/official-storybook/built-storybooks/cra-react15
  examples/official-storybook/built-storybooks/preact-kitchen-sink
  examples/official-storybook/stories/__snapshots__/app-acceptance.stories.storyshot
  examples/official-storybook/stories/app-acceptance.stories.js
  jest.config.js
  lib/router/package.json
  lib/router/src/visibility.ts
  lib/router/src/visibility.tsx
  lib/router/utils.d.ts
  lib/theming/create.js
  lib/theming/src/base.ts
  lib/theming/src/convert.ts
  lib/theming/src/create.ts
  lib/theming/src/ensure.ts
  lib/theming/src/global.ts
  lib/theming/src/index.ts
  lib/theming/src/tests/convert.test.js
  lib/theming/src/tests/create.test.js
  lib/theming/src/themes/dark.ts
  lib/theming/src/themes/light.ts
  lib/theming/src/types.ts
  now.json
  scripts/build-storybooks.sh
  scripts/netlify-build.sh
  yarn.lock
Labels: app: react, maintenance, patch

#6750 Fix duplicate key in svelte guide
  docs/src/pages/guides/guide-svelte/index.md
Labels: app: svelte, documentation, patch

#6752 Move chromatic to circle ci
  .circleci/config.yml
  .teamcity/OpenSourceProjects_Storybook/buildTypes/OpenSourceProjects_Storybook_Chromatic.kt
  examples-native/crna-kitchen-sink/package.json
  examples/official-storybook/package.json
  yarn.lock
Labels: maintenance

#6755 Add documentation on searching and "notes"
  docs/src/pages/basics/writing-stories/index.md
Labels: documentation, patch

#6784 UPGRADE telejson
  lib/api/package.json
  lib/channel-postmessage/package.json
  lib/ui/package.json
  yarn.lock
Labels: dependencies:update

#6787 Fix/refresh iframe
  lib/channel-postmessage/src/index.ts
  lib/ui/src/components/preview/iframe.js
Labels: bug, core

#6789 Fix typos and add punctuation marks
  docs/src/pages/configurations/theming/index.md
Labels: documentation

#6785 FIX scrolling styling
  addons/a11y/src/components/__snapshots__/A11YPanel.test.js.snap
  examples/official-storybook/stories/__snapshots__/addon-info.stories.storyshot
  examples/official-storybook/tests/__snapshots__/storyshots.test.js.snap
  lib/components/src/ScrollArea/ScrollArea.stories.tsx
  lib/components/src/ScrollArea/ScrollArea.tsx
  lib/components/src/ScrollArea/ScrollAreaStyles.tsx
  lib/components/src/syntaxhighlighter/__snapshots__/syntaxhighlighter.stories.storyshot
  lib/components/src/tabs/__snapshots__/tabs.stories.storyshot
  lib/ui/src/components/panel/__snapshots__/panel.stories.storyshot
  lib/ui/src/components/preview/__snapshots__/preview.stories.storyshot
  lib/ui/src/settings/__snapshots__/about.stories.storyshot
Labels: bug, ui

#6794 Scrollbar supports theming again
  addons/a11y/src/components/__snapshots__/A11YPanel.test.js.snap
  lib/components/src/ScrollArea/ScrollAreaStyles.tsx
Labels: bug, ui

#6795 typo fix in ember setup guide
  docs/src/pages/guides/guide-ember/index.md
Labels: documentation, patch

#6767 issue #6763 : set a better value for process in the manager webpack config
  lib/core/src/server/manager/manager-webpack.config.js
Labels: babel / webpack, bug

#6809 ADD engine field to package.json in apps
  app/angular/package.json
  app/ember/package.json
  app/html/package.json
  app/marko/package.json
  app/mithril/package.json
  app/polymer/package.json
  app/preact/package.json
  app/react-native-server/package.json
  app/react-native/package.json
  app/react/package.json
  app/riot/package.json
  app/svelte/package.json
  app/vue/package.json
Labels: maintenance

#6811 uncorrupt yarn lock
  docs/yarn.lock
Labels: bug, yarn / npm

#6810 fix required engine for app
  app/angular/package.json
  app/ember/package.json
  app/html/package.json
  app/marko/package.json
  app/mithril/package.json
  app/polymer/package.json
  app/preact/package.json
  app/react-native-server/package.json
  app/react-native/package.json
  app/react/package.json
  app/riot/package.json
  app/svelte/package.json
  app/vue/package.json
Labels: bug

#6772 Migrate addon centered to TS
  addons/centered/package.json
  addons/centered/src/angular.ts
  addons/centered/src/ember.ts
  addons/centered/src/helpers/json2CSS.ts
  addons/centered/src/html.ts
  addons/centered/src/index.ts
  addons/centered/src/mithril.tsx
  addons/centered/src/preact.tsx
  addons/centered/src/react.tsx
  addons/centered/src/styles.ts
  addons/centered/src/svelte.ts
  addons/centered/src/typings.d.ts
  addons/centered/src/vue.ts
  addons/centered/tsconfig.json
  examples/preact-kitchen-sink/src/stories/__snapshots__/addon-centered.stories.storyshot
  yarn.lock
Labels: maintenance, typescript

#6783 HTML: support knobs for both cached and uncached nodes
  app/html/src/client/preview/render.js
  examples/html-kitchen-sink/.storybook/config.js
  examples/html-kitchen-sink/stories/__snapshots__/addon-knobs.stories.storyshot
  examples/html-kitchen-sink/stories/addon-knobs.stories.js
Labels: app: html, bug, patch

#6820 UPGRADES
  addons/actions/package.json
  addons/storyshots/storyshots-core/package.json
  addons/storyshots/storyshots-puppeteer/package.json
  app/angular/package.json
  app/react-native/package.json
  app/react/package.json
  app/svelte/package.json
  examples-native/crna-kitchen-sink/package.json
  examples/angular-cli/package.json
  examples/cra-react15/.babelrc
  examples/cra-react15/package.json
  examples/cra-ts-kitchen-sink/package.json
  examples/marko-cli/package.json
  examples/official-storybook/package.json
  examples/polymer-cli/package.json
  examples/preact-kitchen-sink/package.json
  examples/riot-kitchen-sink/package.json
  examples/vue-kitchen-sink/package.json
  lib/client-api/package.json
  lib/components/package.json
  lib/core/package.json
  lib/theming/package.json
  lib/ui/package.json
  package.json
  yarn.lock
Labels: dependencies:update

#6821 Add the plugins coworkers + me created
  docs/src/pages/addons/addon-gallery/index.md
Labels: documentation, patch

#6815 ISS-6802 Fix issue with init in create-react-library projects
  lib/cli/generators/REACT_SCRIPTS/index.js
Labels: bug, compatibility with other tools, patch

#6634 Handle loading `.storybook/babel.config.js` (#6633)
  lib/cli/test/fixtures/react_babel_config_js/babel.config.js
  lib/cli/test/fixtures/react_babel_config_js/package.json
  lib/core/src/server/utils/load-custom-babel-config.js
Labels: babel / webpack, bug, patch

#6818 CHANGE lib/theming so it no longer depends on react-inspector
  lib/theming/package.json
  lib/theming/src/convert.ts
  lib/theming/src/modules/syntax.ts
  yarn.lock
Labels: bug, theming

#6830 BUGFIX v5.1.x change breaks Boolean knob (#6366)
  addons/knobs/src/components/PropForm.js
Labels: addon: knobs, bug

#6832 Upgrade lodash to latest
  .eslintrc.js
  addons/knobs/package.json
  addons/knobs/src/registerKnobs.js
  lib/api/package.json
  lib/api/src/lib/merge.ts
  lib/api/src/modules/layout.ts
  lib/cli/test/test_latest_cra.sh
  lib/client-api/package.json
  lib/client-api/src/client_api.js
  lib/client-api/src/story_store.js
  lib/ui/package.json
  lib/ui/src/components/layout/persist.js
  lib/ui/src/libs/merge.js
  yarn.lock
Labels: maintenance

#6814 Fix/syntaxthighlighter themes
  examples/cra-ts-kitchen-sink/package.json
  examples/cra-ts-kitchen-sink/src/types/@storybook/react.d.ts
  examples/cra-ts-kitchen-sink/tsconfig.json
  examples/official-storybook/stories/__snapshots__/addon-info.stories.storyshot
  lib/components/package.json
  lib/components/src/StoryLinkWrapper.ts
  lib/components/src/syntaxhighlighter/__snapshots__/syntaxhighlighter.stories.storyshot
  lib/components/src/syntaxhighlighter/formatter.test.js
  lib/components/src/syntaxhighlighter/formatter.ts
  lib/components/src/syntaxhighlighter/syntaxhighlighter.stories.tsx
  lib/components/src/syntaxhighlighter/syntaxhighlighter.tsx
  lib/components/src/tooltip/TooltipLinkList.stories.tsx
  lib/theming/src/convert.ts
  lib/ui/src/settings/__snapshots__/about.stories.storyshot
  yarn.lock
Labels: bug, ui

#6829 Fixed Grammar error in Jest addon README.md
  addons/jest/README.md
Labels: documentation

#6822 Fix initial bottom panel size
  lib/ui/src/components/layout/__snapshots__/layout.stories.storyshot
  lib/ui/src/components/layout/container.js
Labels: bug, ui

#6825 (feature): Support loglevel for production/ci builds.
  docs/src/pages/configurations/cli-options/index.md
  lib/core/src/server/cli/prod.js
  lib/node-logger/src/index.ts
Labels: cli, feature request

#6823 Fix withLinks decorator
  addons/links/src/preview.ts
  addons/links/src/react/components/link.tsx
Labels: addon: links, bug

#5333 Presets documentation
  app/react/src/server/framework-preset-cra.js
  docs/gatsby-config.js
  docs/src/pages/presets/introduction/index.md
  docs/src/pages/presets/preset-gallery/index.md
  docs/src/pages/presets/writing-presets/index.md
  docs/src/templates/_docstemplate.jsx
Labels: documentation, presets

#6808 resolve paths locally if possible
  lib/theming/package.json
  lib/theming/paths.js
  lib/ui/package.json
  lib/ui/paths.js
Labels: bug, patch

#6716 Addon-contexts: component tests and readability improvements
  addons/contexts/src/manager/components/ToolBar.test.tsx
  addons/contexts/src/manager/components/ToolBar.tsx
  addons/contexts/src/manager/components/ToolBarControl.test.tsx
  addons/contexts/src/manager/components/ToolBarControl.tsx
  addons/contexts/src/manager/components/ToolBarMenu.test.tsx
  addons/contexts/src/manager/components/ToolBarMenuOptions.test.tsx
  addons/contexts/src/preview/libs/decorators.test.ts
  addons/contexts/src/preview/libs/getContextNodes.test.ts
  addons/contexts/src/preview/libs/getPropsMap.test.ts
  addons/contexts/src/preview/libs/getRendererFrom.test.ts
  addons/contexts/src/shared/serializers.test.ts
  addons/contexts/src/shared/serializers.ts
  addons/contexts/src/shared/types.d.ts
Labels: addon: contexts, maintenance

#6589 Upgrade CRA preset dependencies to match CRA v3
  addons/graphql/package.json
  addons/ondevice-knobs/package.json
  addons/storyshots/storyshots-puppeteer/package.json
  package.json
  yarn.lock
Labels: cra, dependencies, high priority

#6817 FIX issue where the customQueryParams weren't being applied to the eject iframe button
  addons/knobs/src/components/Panel.js
  lib/ui/src/components/preview/preview.js
  lib/ui/src/containers/preview.js
Labels: bug, ui

#6862 Removed overflow: 'auto' from addon centered that causes unnecessary scroll bar
  addons/centered/src/styles.ts
  examples/angular-cli/src/stories/__snapshots__/addon-centered.stories.storyshot
  examples/html-kitchen-sink/stories/__snapshots__/addon-centered.stories.storyshot
  examples/official-storybook/stories/__snapshots__/addon-centered.stories.storyshot
  examples/preact-kitchen-sink/src/stories/__snapshots__/addon-centered.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-centered.stories.storyshot
Labels: addon: centered, bug

#6874 feat: Support the project 🎉
  .github/FUNDING.yml
Labels: maintenance

#6875 UPGRADE dependencies & fix a security vulnerability (low-prio)
  app/angular/package.json
  app/polymer/package.json
  docs/package.json
  docs/yarn.lock
  lib/cli/package.json
  lib/cli/test/fixtures/riot/package.json
  lib/cli/test/fixtures/sfc_vue/package.json
  lib/components/package.json
  lib/core/package.json
  yarn.lock
Labels: dependencies:update, security

#6866 Update index.md
  docs/src/pages/addons/using-addons/index.md
Labels: documentation, patch

#6876 Add color inherit to StyledStoryLink
  addons/storysource/src/StoryPanel.js
Labels: accessibility, addon: storysource, bug, patch, theming, ui

#6858 REMOVE `sortStoriesByKind` from docs & implementation
  MIGRATION.md
  addons/options/README.md
  docs/src/pages/configurations/options-parameter/index.md
  examples/cra-kitchen-sink/.storybook/config.js
  lib/api/src/modules/layout.ts
  lib/api/src/tests/layout.test.js
Labels: addon: options, documentation

#6878 FIX 6864 - improve the loading of babel config
  lib/core/src/server/utils/load-custom-babel-config.js
Labels: babel / webpack, bug, core

#6881 FIX addon-notes rendering
  addons/notes/package.json
  addons/notes/src/Panel.tsx
  addons/notes/src/formatter.ts
Labels: addon: notes, bug

#6859 FIX an issue where forwardRefs make addon-info throw
  addons/info/src/components/Story.js
  examples/official-storybook/stories/__snapshots__/addon-info.stories.storyshot
Labels: addon: info, app: react, bug, cra

#6819 feat: add accessibility on searchbar react-native
  app/react-native/src/preview/components/StoryListView/index.tsx
Labels: app: react-native, feature request

#6907 make it compatible with new version of read-pkg-up
  addons/storyshots/storyshots-core/src/frameworks/hasDependency.js
Labels: addon: storyshots, bug
