Repository storybookjs/storybook, pull requests merged in 2019-04, with the labels that each got.

#6354 fix(a11y): use 'makeDecorator' for init addon
  addons/a11y/src/index.ts
Labels: addon: a11y, bug, patch

#6154 📜[storysource] 📦 [sandpack] The clientApi must be reused when possible
  lib/core/src/client/preview/start.js
  lib/core/src/client/preview/start.test.js
Labels: compatibility with other tools, core, feature request

#6360 Support OnPush change detection for class-specified components (to allow use of knobs)
  app/angular/src/client/preview/angular/components/app.component.ts
  examples/angular-cli/src/stories/on-push/__snapshots__/on-push.stories.storyshot
  examples/angular-cli/src/stories/on-push/on-push-box.component.ts
  examples/angular-cli/src/stories/on-push/on-push.stories.ts
Labels: app: angular, feature request

#6385 fix 'read full changelog' link on about page
  lib/ui/src/settings/about.js
Labels: bug, patch, ui

#6384 Update CLI options usage
  docs/src/pages/configurations/cli-options/index.md
Labels: documentation, patch

#6397 Fix docs links to custom webpack config page
  docs/src/pages/configurations/custom-webpack-config/index.md
  docs/src/pages/configurations/default-config/index.md
Labels: documentation, patch

#6361 fix: horizontal scrolling overflow
  addons/centered/src/styles.js
  examples/angular-cli/src/stories/__snapshots__/addon-centered.stories.storyshot
  examples/cra-kitchen-sink/src/stories/__snapshots__/long-description.stories.storyshot
  examples/html-kitchen-sink/stories/__snapshots__/addon-centered.stories.storyshot
  examples/official-storybook/stories/__snapshots__/addon-centered.stories.storyshot
  examples/preact-kitchen-sink/src/stories/__snapshots__/addon-centered.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-centered.stories.storyshot
Labels: addon: centered, feature request

#6411 documentation: Issue 6109 readme update
  addons/viewport/README.md
  addons/viewport/docs/viewport.png
Labels: addon: viewport, documentation, patch

#6406 Add doc to explain nesting stories under titles
  docs/src/pages/basics/writing-stories/index.md
Labels: documentation, patch

#6428 Migrate addon-options to typescript
  addons/options/package.json
  addons/options/src/constants.ts
  addons/options/src/index.ts
  addons/options/src/public_api.ts
  addons/options/src/register.ts
  addons/options/src/typings.d.ts
  addons/options/tsconfig.json
Labels: addon: options, maintenance, typescript

#6410 fix for issue 6409
  addons/actions/src/preview/action.ts
  examples/cra-kitchen-sink/src/stories/index.stories.js
  lib/channel-postmessage/src/index.ts
  lib/channels/src/index.test.ts
  lib/channels/src/index.ts
Labels: addon: actions, feature request

#6432 CLEANUP / REMOVE storybook from /docs
  .eslintrc.js
  docs/.storybook/addons.js
  docs/.storybook/config.js
  docs/.storybook/preview-head.html
  docs/.storybook/webpack.config.js
  docs/README.md
  docs/package.json
  docs/yarn.lock
Labels: cleanup

#6401 fix: [core] Respect webpack config stats in static build
  lib/core/src/server/build-static.js
Labels: babel / webpack, feature request

#6405 [addon: A11Y] use 'indeterminate' checkbox state for partial selected group
  addons/a11y/src/components/A11YPanel.test.js
  addons/a11y/src/components/A11YPanel.tsx
  addons/a11y/src/components/Report/Elements.tsx
  addons/a11y/src/components/Report/HighlightToggle.tsx
  addons/a11y/src/components/Report/Item.tsx
  addons/a11y/src/components/Report/__snapshots__/HighlightToggle.test.js.snap
  addons/a11y/src/components/Report/index.tsx
  addons/a11y/src/components/Tabs.tsx
  addons/a11y/src/components/__snapshots__/A11YPanel.test.js.snap
  addons/a11y/src/redux-config.tsx
Labels: addon: a11y, feature request

#6444 Add out-of-the-box support for *.md in Angular apps
  lib/cli/generators/ANGULAR/template/.storybook/tsconfig.json
  lib/cli/generators/ANGULAR/template/.storybook/typings.d.ts
Labels: app: angular, cli, maintenance, patch, typescript

#6441 fix(about): clickable footer links
  examples/official-storybook/tests/__snapshots__/storyshots.test.js.snap
  lib/ui/src/settings/SettingsFooter.js
  lib/ui/src/settings/__snapshots__/about.stories.storyshot
Labels: bug, patch, ui

#6447 update migration.md with vue changes introduced in sb5
  MIGRATION.md
Labels: cleanup, documentation

#6449 React -> Svelte
  docs/src/pages/guides/guide-svelte/index.md
Labels: app: svelte, documentation, patch

#6395 fix: Set custom options on first load
  lib/api/src/index.tsx
Labels: bug, core

#6435 [bug] Move '@emotion/*' path-resolutions to the dependent package
  lib/core/package.json
  lib/core/src/server/manager/manager-webpack.config.js
  lib/theming/paths.js
  lib/ui/paths.js
Labels: bug

#6403 Migrate @storybook/addon-jest to TS
  addons/jest/package.json
  addons/jest/src/colors.ts
  addons/jest/src/components/Indicator.ts
  addons/jest/src/components/Message.tsx
  addons/jest/src/components/Panel.tsx
  addons/jest/src/components/PanelTitle.js
  addons/jest/src/components/Result.js
  addons/jest/src/components/Result.tsx
  addons/jest/src/hoc/provideJestResult.js
  addons/jest/src/hoc/provideJestResult.tsx
  addons/jest/src/index.ts
  addons/jest/src/register.tsx
  addons/jest/src/shared.ts
  addons/jest/src/styles.js
  addons/jest/src/typings.d.ts
  addons/jest/styles.js
  addons/jest/tsconfig.json
Labels: addon: jest, maintenance, typescript

#6431 Remove channel dependency from RN notes addon
  addons/notes/src/shared.ts
  addons/ondevice-backgrounds/README.md
  addons/ondevice-knobs/README.md
  addons/ondevice-notes/README.md
  addons/ondevice-notes/package.json
  addons/ondevice-notes/src/__tests__/index.js
  addons/ondevice-notes/src/index.js
  addons/ondevice-notes/src/register.js
  examples-native/crna-kitchen-sink/storybook/stories/index.js
Labels: app: react-native, maintenance

#6454 update typescript docs to reference docgen loader
  docs/src/pages/configurations/typescript-config/index.md
Labels: documentation, patch, typescript

#6464 Update addons-notes README with Vue example
  addons/notes/README.md
Labels: addon: notes, documentation, patch

#6466 Update index.md
  docs/src/pages/guides/guide-vue/index.md
Labels: documentation, patch

#6463 Fix overriding webpack loaders example
  docs/src/pages/configurations/custom-webpack-config/index.md
Labels: babel / webpack, documentation, patch

#6468 Update README.md
  addons/storyshots/storyshots-core/README.md
Labels: addon: storyshots, documentation, patch

#6473 Improve webpack customization docs
  docs/src/pages/configurations/custom-webpack-config/index.md
  docs/src/versions/next.json
  lib/api/src/version.ts
Labels: babel / webpack, documentation

#6477 Fix typo
  docs/src/pages/configurations/typescript-config/index.md
Labels: babel / webpack, documentation, patch, typescript

#6091 addon-notes: register as a panel or tab
  addons/notes/README.md
  addons/notes/register-panel.js
  addons/notes/register.js
  addons/notes/src/register.tsx
Labels: addon: notes, feature request

#6446 Remove deprecated info on Theme's doc
  docs/src/pages/configurations/theming/index.md
Labels: documentation

#6486 Fix/custom parameters on preview url
  addons/knobs/package.json
  addons/knobs/src/KnobManager.js
  addons/knobs/src/KnobManager.test.js
  addons/knobs/src/components/Panel.js
  addons/knobs/src/components/__tests__/Panel.js
  addons/knobs/src/converters.js
  addons/knobs/src/register.js
  lib/api/src/modules/url.ts
  lib/client-api/src/index.js
  lib/client-api/src/queryparams.js
  lib/client-api/src/story_store.js
  lib/ui/src/components/preview/preview.js
  lib/ui/src/components/preview/preview.stories.js
  lib/ui/src/containers/preview.js
Labels: addon: knobs, api: addons, bug, core, high priority

#6383 Improve storyshots loader error message
  addons/storyshots/storyshots-core/src/frameworks/frameworkLoader.js
Labels: addon: storyshots, cleanup

#6347 Add support for memoized components
  addons/info/src/__snapshots__/index.test.js.snap
  addons/info/src/components/Node.js
  addons/info/src/components/Props.js
  addons/info/src/components/Story.js
  addons/info/src/index.test.js
  addons/info/src/react-utils.js
  examples/official-storybook/stories/__snapshots__/addon-info.stories.storyshot
Labels: addon: info, feature request

#6480 Fix sorting of knobs Panels
  addons/knobs/src/components/Panel.js
  addons/knobs/src/components/__tests__/Panel.js
  addons/knobs/src/components/__tests__/__snapshots__/Panel.js.snap
  examples/official-storybook/stories/addon-knobs.stories.js
Labels: addon: knobs, bug, patch

#6502 fix(background): move 'iframe' styles to background wrapper
  lib/ui/src/components/preview/__snapshots__/preview.stories.storyshot
  lib/ui/src/components/preview/background.js
  lib/ui/src/components/preview/preview.js
Labels: addon: viewport, bug, high priority

#6499 Added Happo to list of screenshot testing tools
  docs/src/pages/testing/automated-visual-testing/index.md
Labels: documentation, patch

#6508 feat(jest): use 'off' instead of 'removeListener'
  addons/jest/src/hoc/provideJestResult.tsx
Labels: addon: jest, bug, ui

#6503 feat(a11y): drop a11y filter on dbl click
  addons/a11y/src/components/ColorBlindness.tsx
Labels: addon: a11y, feature request

#6390 Disable webpack performance hints in manager config
  lib/core/src/server/manager/manager-webpack.config.js
Labels: babel / webpack, feature request, performance issue

#6514 Update index.md
  docs/src/pages/addons/writing-addons/index.md
Labels: api: addons, documentation, patch

#6509 Automention for project maintainers
  .github/automention.yml
  .github/main.workflow
Labels: addon: knobs, app: react-native, app: vue, cli, cra, maintenance, theming, typescript

#6517 Pin react-treebeard dependency at 3.1.0
  lib/ui/package.json
  yarn.lock
Labels: bug, ui

#6515 Improve cli for react-native
  CONTRIBUTING.md
  lib/cli/generators/REACT_NATIVE/index.js
  lib/cli/generators/REACT_NATIVE/template/storybook/index.js
Labels: app: react-native, cli, maintenance

#6448 Migrate app/react-native to typescript
  addons/knobs/src/KnobManager.js
  app/react-native/README.md
  app/react-native/package.json
  app/react-native/src/index.js
  app/react-native/src/index.ts
  app/react-native/src/preview/components/OnDeviceUI/absolute-positioned-keyboard-aware-view.tsx
  app/react-native/src/preview/components/OnDeviceUI/addons/index.tsx
  app/react-native/src/preview/components/OnDeviceUI/addons/list.tsx
  app/react-native/src/preview/components/OnDeviceUI/addons/tab.tsx
  app/react-native/src/preview/components/OnDeviceUI/addons/wrapper.js
  app/react-native/src/preview/components/OnDeviceUI/addons/wrapper.tsx
  app/react-native/src/preview/components/OnDeviceUI/animation.ts
  app/react-native/src/preview/components/OnDeviceUI/index.tsx
  app/react-native/src/preview/components/OnDeviceUI/navigation/bar.tsx
  app/react-native/src/preview/components/OnDeviceUI/navigation/button.tsx
  app/react-native/src/preview/components/OnDeviceUI/navigation/constants.ts
  app/react-native/src/preview/components/OnDeviceUI/navigation/index.tsx
  app/react-native/src/preview/components/OnDeviceUI/navigation/visibility-button.tsx
  app/react-native/src/preview/components/OnDeviceUI/panel.tsx
  app/react-native/src/preview/components/OnDeviceUI/style.ts
  app/react-native/src/preview/components/StoryListView/index.tsx
  app/react-native/src/preview/components/StoryListView/style.ts
  app/react-native/src/preview/components/StoryView/index.js
  app/react-native/src/preview/components/StoryView/index.tsx
  app/react-native/src/preview/components/StoryView/style.ts
  app/react-native/src/preview/index.tsx
  app/react-native/src/typings.d.ts
  app/react-native/tsconfig.json
  lib/client-api/src/queryparams.js
  yarn.lock
Labels: app: react-native, maintenance, typescript

#6533 chore: fix ts-lint config to lint `tsx` files
  lib/components/src/ActionBar/ActionBar.stories.tsx
  lib/components/src/bar/separator.tsx
  lib/components/src/tabs/tabs.tsx
  lib/components/src/tooltip/ListItem.tsx
  package.json
Labels: maintenance, patch, typescript

#6534 fix(knobs): add groupId for files knob
  addons/knobs/src/index.js
Labels: addon: knobs, bug, patch

#6525 UI: Fix key behavior in fullscreen
  lib/api/src/modules/layout.ts
  lib/api/src/modules/shortcuts.ts
Labels: bug, patch, ui

#6500 Migrate @storybook/components to TS - Part II
  addons/a11y/src/components/__snapshots__/A11YPanel.test.js.snap
  addons/a11y/src/typings.d.ts
  addons/actions/src/typings.d.ts
  addons/backgrounds/src/typings.d.ts
  addons/cssresources/src/typings.d.ts
  addons/jest/src/typings.d.ts
  addons/notes/src/typings.d.ts
  lib/components/package.json
  lib/components/src/Badge/Badge.stories.tsx
  lib/components/src/Badge/Badge.tsx
  lib/components/src/Button/Button.stories.tsx
  lib/components/src/Button/Button.tsx
  lib/components/src/form/field/field.tsx
  lib/components/src/form/form.stories.tsx
  lib/components/src/form/index.tsx
  lib/components/src/form/input/input.tsx
  lib/components/src/icon/icon.stories.tsx
  lib/components/src/icon/icon.tsx
  lib/components/src/icon/icons.tsx
  lib/components/src/index.ts
  lib/components/src/placeholder/placeholder.stories.tsx
  lib/components/src/syntaxhighlighter/syntaxhighlighter.stories.tsx
  lib/components/src/syntaxhighlighter/syntaxhighlighter.tsx
  lib/components/src/tooltip/ListItem.stories.tsx
  lib/components/src/tooltip/Tooltip.stories.tsx
  lib/components/src/tooltip/Tooltip.tsx
  lib/components/src/tooltip/TooltipLinkList.stories.tsx
  lib/components/src/tooltip/TooltipLinkList.tsx
  lib/components/src/tooltip/TooltipMessage.stories.tsx
  lib/components/src/tooltip/TooltipMessage.tsx
  lib/components/src/tooltip/TooltipNote.stories.tsx
  lib/components/src/tooltip/TooltipNote.tsx
  lib/components/src/tooltip/WithTooltip.stories.tsx
  lib/components/src/tooltip/WithTooltip.tsx
  lib/components/src/typography/DocumentFormatting.stories.tsx
  lib/components/src/typography/DocumentFormatting.tsx
  lib/components/src/typography/link/link.stories.tsx
  lib/components/src/typography/link/link.test.tsx
  lib/components/src/typography/link/link.tsx
  lib/components/tsconfig.json
  tslint.json
Labels: components, maintenance, typescript

#6549 Fix react-native preview only ui
  app/react-native/src/preview/components/StoryView/index.tsx
  app/react-native/src/preview/index.tsx
Labels: app: react-native, app: react-native-server, bug

#6550 MIGRATE addon-storysource from using channel to api
  addons/storysource/src/StoryPanel.js
  addons/storysource/src/manager.js
Labels: addon: storysource, cleanup

#6543 Theming: legacy options don't override set config options
  examples/official-storybook/tests/__snapshots__/storyshots.test.js.snap
  lib/api/src/modules/layout.ts
  lib/api/src/tests/layout.test.js
  lib/ui/src/components/sidebar/SidebarHeading.js
Labels: bug, theming

#6551 FIX viewmode being hard-coded making custom addons of type TAB impossible
  lib/router/src/utils.ts
  lib/ui/src/components/layout/__snapshots__/layout.stories.storyshot
  lib/ui/src/components/layout/desktop.js
  lib/ui/src/components/layout/layout.stories.js
Labels: api: addons, bug, core

#6559 Merge addon-contexts into the monorepo
  addons/contexts/README.md
  addons/contexts/package.json
  addons/contexts/react.js
  addons/contexts/register.js
  addons/contexts/src/@types/_Storybook__component.d.ts
  addons/contexts/src/@types/index.ts
  addons/contexts/src/@types/manager.ts
  addons/contexts/src/@types/preview.ts
  addons/contexts/src/constants.ts
  addons/contexts/src/index.ts
  addons/contexts/src/manager/AddonManager.tsx
  addons/contexts/src/manager/ToolBar.tsx
  addons/contexts/src/manager/ToolBarMenu.tsx
  addons/contexts/src/manager/ToolBarMenuOptions.tsx
  addons/contexts/src/manager/ToolbarControl.tsx
  addons/contexts/src/manager/libs/useChannel.ts
  addons/contexts/src/preview/api.ts
  addons/contexts/src/preview/frameworks/react.ts
  addons/contexts/src/preview/frameworks/vue.ts
  addons/contexts/src/preview/index.ts
  addons/contexts/src/preview/libs/functionals.ts
  addons/contexts/src/preview/libs/getContextNodes.ts
  addons/contexts/src/preview/libs/getPropsMap.ts
  addons/contexts/src/preview/libs/getRendererFrom.ts
  addons/contexts/src/preview/libs/index.ts
  addons/contexts/src/register.ts
  addons/contexts/tsconfig.json
  addons/contexts/vue.js
  examples/official-storybook/addons.js
  examples/official-storybook/package.json
  examples/official-storybook/stories/__snapshots__/addon-contexts.stories.storyshot
  examples/official-storybook/stories/addon-contexts.stories.js
  tslint.json
  yarn.lock
Labels: addon: contexts, core, feature request

#6539 Fix: addon-jest display wrong result
  addons/jest/src/index.ts
Labels: addon: jest, bug

#6561 Emit event on updating background
  addons/backgrounds/README.md
  addons/backgrounds/src/constants.ts
  addons/backgrounds/src/containers/BackgroundSelector.tsx
  addons/backgrounds/src/register.tsx
Labels: addon: backgrounds, feature request

#6535 Fix for issue #6338: Changed default value for sourceMap property of angulars webpack config
  app/angular/src/server/angular-cli_config.js
Labels: app: angular, bug, patch

#6567 CHANGE opn to open
  lib/cli/test/fixtures/sfc_vue/package.json
  lib/core/package.json
  lib/core/src/server/build-dev.js
  yarn.lock
Labels: dependencies:update

#6494 Clean up theming docs
  docs/src/pages/configurations/theming/index.md
Labels: documentation, patch, theming

#6572 Addon-contexts improvements: bug-fixing, testing, typing
  addons/contexts/README.md
  addons/contexts/src/@types/_Storybook__component.d.ts
  addons/contexts/src/@types/index.ts
  addons/contexts/src/@types/manager.ts
  addons/contexts/src/@types/preview.ts
  addons/contexts/src/constants.ts
  addons/contexts/src/manager/AddonManager.tsx
  addons/contexts/src/manager/ToolBar.tsx
  addons/contexts/src/manager/ToolBarMenu.tsx
  addons/contexts/src/manager/ToolBarMenuOptions.tsx
  addons/contexts/src/manager/ToolbarControl.tsx
  addons/contexts/src/manager/libs/useChannel.ts
  addons/contexts/src/preview/api.ts
  addons/contexts/src/preview/frameworks/react.ts
  addons/contexts/src/preview/frameworks/vue.ts
  addons/contexts/src/preview/index.ts
  addons/contexts/src/preview/libs/decorators.test.ts
  addons/contexts/src/preview/libs/decorators.ts
  addons/contexts/src/preview/libs/getContextNodes.test.ts
  addons/contexts/src/preview/libs/getContextNodes.ts
  addons/contexts/src/preview/libs/getPropsMap.test.ts
  addons/contexts/src/preview/libs/getPropsMap.ts
  addons/contexts/src/preview/libs/getRendererFrom.test.ts
  addons/contexts/src/preview/libs/getRendererFrom.ts
  addons/contexts/src/preview/libs/index.ts
  addons/contexts/src/types.d.ts
  addons/contexts/tsconfig.json
Labels: addon: contexts, bug

#6573 UPDATE documentation for addon-contexts
  ADDONS_SUPPORT.md
  README.md
Labels: addon: contexts, documentation

#6560 Add support for create-react-app@3.0.0
  app/react/src/server/__mocks__/mockConfig.js
  app/react/src/server/__snapshots__/cra-config.test.js.snap
  app/react/src/server/cra-config.js
  app/react/src/server/cra-config.test.js
  examples/cra-ts-kitchen-sink/.env
Labels: app: react, cra, feature request

#6571 feat(storiesNav): adding classNames to stories nav elements
  examples/official-storybook/tests/__snapshots__/storyshots.test.js.snap
  lib/ui/src/components/sidebar/Sidebar.js
  lib/ui/src/components/sidebar/SidebarHeading.js
  lib/ui/src/components/sidebar/SidebarItem.js
  lib/ui/src/components/sidebar/SidebarStories.js
Labels: feature request, ui

#6599 Restore title in section header
  app/react-native/src/preview/components/StoryListView/index.tsx
Labels: app: react-native, bug

#6598 Check for color knob value existence before applying uppercase
  addons/knobs/src/components/types/Color.js
Labels: addon: knobs, bug, patch

#6553 Tech/move graphql addon to tab
  addons/graphql/package.json
  addons/graphql/register.js
  addons/graphql/src/index.js
  addons/graphql/src/manager.js
  addons/graphql/src/register.js
  addons/info/src/__snapshots__/index.test.js.snap
  examples/angular-cli/src/stories/__snapshots__/addon-actions.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-background.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-centered.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-links.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-notes.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/core.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/custom-styles.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/index.storyshot
  examples/angular-cli/src/stories/on-push/__snapshots__/on-push.stories.storyshot
  examples/official-storybook/addons.js
  examples/official-storybook/stories/__snapshots__/addon-graphql.stories.storyshot
  examples/official-storybook/stories/addon-graphql.stories.js
  examples/official-storybook/webpack.config.js
  lib/components/src/tooltip/WithTooltip.tsx
  lib/core/src/server/manager/manager-webpack.config.js
  package.json
  yarn.lock
Labels: addon: graphql, maintenance

#6606 Fix: add need comma to sample code
  addons/a11y/README.md
Labels: documentation, patch

#6601 Add URL query param feature
  addons/contexts/README.md
  addons/contexts/package.json
  addons/contexts/src/index.ts
  addons/contexts/src/manager/AddonManager.tsx
  addons/contexts/src/manager/ContextsManager.tsx
  addons/contexts/src/manager/components/ToolBar.tsx
  addons/contexts/src/manager/components/ToolBarMenu.tsx
  addons/contexts/src/manager/components/ToolBarMenuOptions.tsx
  addons/contexts/src/manager/components/ToolbarControl.tsx
  addons/contexts/src/manager/libs/useChannel.ts
  addons/contexts/src/preview/ContextsPreviewAPI.ts
  addons/contexts/src/preview/api.ts
  addons/contexts/src/preview/frameworks/react.ts
  addons/contexts/src/preview/frameworks/vue.ts
  addons/contexts/src/preview/index.ts
  addons/contexts/src/preview/libs/decorators.ts
  addons/contexts/src/preview/libs/getContextNodes.ts
  addons/contexts/src/preview/libs/getPropsMap.test.ts
  addons/contexts/src/preview/libs/getPropsMap.ts
  addons/contexts/src/preview/libs/getRendererFrom.test.ts
  addons/contexts/src/preview/libs/getRendererFrom.ts
  addons/contexts/src/register.ts
  addons/contexts/src/shared/constants.ts
  addons/contexts/src/shared/serializers.test.ts
  addons/contexts/src/shared/serializers.ts
  addons/contexts/src/shared/types.d.ts
Labels: addon: contexts, feature request

#6608 DOCS improve registration in VueJs guide
  docs/src/pages/guides/guide-vue/index.md
Labels: app: vue, documentation, patch

#6578 'Escape' onKeyUp event doesn't work
  lib/api/src/modules/shortcuts.ts
Labels: bug, core

#6563 A11y design enhancements
  addons/a11y/package.json
  addons/a11y/src/components/A11YPanel.tsx
  addons/a11y/src/components/ColorBlindness.tsx
  addons/a11y/src/components/Report/Elements.tsx
  addons/a11y/src/components/Report/Item.tsx
  addons/a11y/src/components/Report/Rules.tsx
  addons/a11y/src/components/Report/__snapshots__/HighlightToggle.test.js.snap
  addons/a11y/src/components/Report/index.tsx
  addons/a11y/src/components/Tabs.tsx
  addons/a11y/src/components/__snapshots__/A11YPanel.test.js.snap
  addons/a11y/src/typings.d.ts
  addons/info/src/components/types/ArrayOf.js
  addons/info/src/components/types/ObjectOf.js
  addons/info/src/components/types/OneOfType.js
  addons/info/src/components/types/PrettyPropType.js
  addons/info/src/components/types/Shape.js
  docs/src/new-components/basics/shared/styles.js
  lib/components/src/Badge/Badge.tsx
  lib/components/src/Badge/__snapshots__/Badge.stories.storyshot
  lib/theming/src/base.ts
  lib/theming/src/create.ts
  yarn.lock
Labels: accessibility, addon: a11y, feature request

#6628 Fix isFullscreen typo
  docs/src/pages/addons/using-addons/index.md
  docs/src/pages/configurations/options-parameter/index.md
Labels: documentation, patch

#6632 Addon-contexts: Improve Vue integration
  addons/contexts/src/preview/frameworks/vue.ts
  examples/vue-kitchen-sink/.storybook/addons.js
  examples/vue-kitchen-sink/package.json
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-contexts.stories.storyshot
  examples/vue-kitchen-sink/src/stories/addon-contexts.stories.js
Labels: addon: contexts, app: vue, feature request

#6607 Fix infinite loop with special characters in kind names
  lib/api/src/modules/stories.ts
  lib/client-api/src/index.js
  lib/client-api/src/story_store.js
  lib/router/src/router.tsx
  lib/router/src/utils.ts
Labels: bug, core, patch

#6484 Angular: Support default `storybook` project configuration
  app/angular/src/server/angular-cli_config.js
  app/angular/src/server/angular-cli_config.test.js
Labels: app: angular, feature request

#6513 Update index.md
  docs/src/pages/addons/writing-addons/index.md
Labels: documentation, patch

#6353 Add missing props in stories
  lib/ui/src/components/preview/iframe.stories.js
Labels: bug, patch, ui

#6398 feat(addon-notes): use @storybook/router <Link> to render links in notes
  addons/notes/package.json
  addons/notes/src/Panel.test.js
  addons/notes/src/Panel.tsx
  examples/svelte-kitchen-sink/src/stories/addon-notes.stories.js
Labels: addon: notes, feature request

#6650 Fix css import when sideEffects is false
  lib/core/src/server/preview/base-webpack.config.js
Labels: babel / webpack, bug, core

#6654 Fix bad markdown instructions
  addons/notes/README.md
Labels: addon: notes, documentation, patch

#6241 `active` PropTypes on MobileLayout
  lib/ui/src/components/layout/__snapshots__/layout.stories.storyshot
  lib/ui/src/components/layout/mobile.js
Labels: bug, patch, ui

#6346 Allow optional component declaration
  addons/storyshots/storyshots-core/src/frameworks/angular/helpers.ts
  addons/storyshots/storyshots-core/src/frameworks/angular/types.ts
  app/angular/index.d.ts
  app/angular/src/client/preview/angular/helpers.ts
  app/angular/src/client/preview/angular/types.ts
  examples/angular-cli/src/stories/module-context/__snapshots__/module-context.stories.storyshot
  examples/angular-cli/src/stories/module-context/chip-color.token.ts
  examples/angular-cli/src/stories/module-context/chip-text.pipe.ts
  examples/angular-cli/src/stories/module-context/chip.component.ts
  examples/angular-cli/src/stories/module-context/chips-group.component.ts
  examples/angular-cli/src/stories/module-context/chips.module.ts
  examples/angular-cli/src/stories/module-context/module-context.stories.ts
  examples/angular-cli/src/stories/on-push/__snapshots__/on-push.stories.storyshot
Labels: app: angular, feature request

#6629 Fix issue with sb init for projects with frozen lock files
  lib/cli/generators/ANGULAR/index.js
  lib/cli/generators/EMBER/index.js
  lib/cli/generators/HTML/index.js
  lib/cli/generators/MARKO/index.js
  lib/cli/generators/METEOR/index.js
  lib/cli/generators/MITHRIL/index.js
  lib/cli/generators/POLYMER/index.js
  lib/cli/generators/PREACT/index.js
  lib/cli/generators/REACT/index.js
  lib/cli/generators/REACT_NATIVE/index.js
  lib/cli/generators/REACT_SCRIPTS/index.js
  lib/cli/generators/RIOT/index.js
  lib/cli/generators/SFC_VUE/index.js
  lib/cli/generators/SVELTE/index.js
  lib/cli/generators/UPDATE_PACKAGE_ORGANIZATIONS/index.js
  lib/cli/generators/VUE/index.js
  lib/cli/generators/WEBPACK_REACT/index.js
  lib/cli/lib/helpers.js
  lib/cli/lib/initiate.js
  lib/cli/test/fixtures/webpack_react_frozen_lock/.babelrc
  lib/cli/test/fixtures/webpack_react_frozen_lock/.yarnrc
  lib/cli/test/fixtures/webpack_react_frozen_lock/index.html
  lib/cli/test/fixtures/webpack_react_frozen_lock/index.js
  lib/cli/test/fixtures/webpack_react_frozen_lock/package.json
  lib/cli/test/fixtures/webpack_react_frozen_lock/webpack.config.js
Labels: bug, cli

#6660 ADD addon-contexts: Preact support
  ADDONS_SUPPORT.md
  addons/contexts/README.md
  addons/contexts/package.json
  addons/contexts/preact.js
  addons/contexts/src/preview/frameworks/preact.ts
  addons/contexts/src/shared/@mock-types/_global.d.ts
  addons/contexts/src/shared/@mock-types/_preact.d.ts
  addons/contexts/tsconfig.json
  examples/preact-kitchen-sink/.storybook/addons.js
  examples/preact-kitchen-sink/package.json
  examples/preact-kitchen-sink/src/stories/__snapshots__/addon-contexts.stories.storyshot
  examples/preact-kitchen-sink/src/stories/addon-contexts.stories.js
  yarn.lock
Labels: addon: contexts, app: preact, feature request

#6658 Fix "Storybook for HTML" Edit link
  docs/gatsby-config.js
Labels: documentation, patch

#6667 docs: clarify sb init usage
  docs/src/pages/guides/guide-react/index.md
Labels: cli, documentation, patch

#6669 Bugfix: Have no cancel option in UI if the context have no param
  addons/contexts/src/manager/ContextsManager.tsx
  addons/contexts/src/manager/components/ToolBar.tsx
  addons/contexts/src/manager/components/ToolBarMenu.tsx
  addons/contexts/src/manager/components/ToolbarControl.tsx
  addons/contexts/src/preview/ContextsPreviewAPI.ts
  addons/contexts/src/preview/libs/getContextNodes.ts
  addons/contexts/src/shared/serializers.ts
  addons/contexts/tsconfig.json
  lib/api/src/modules/url.ts
Labels: addon: contexts, bug

#6672 updated npm broken link issue documentation #6556
  addons/actions/README.md
  addons/storyshots/storyshots-core/README.md
Labels: documentation, patch

#6673 updated broken link images for npm in readme file
  addons/a11y/README.md
  addons/graphql/README.md
  addons/info/README.md
  addons/options/README.md
Labels: documentation, patch

#6688 Fix regression with deep linking
  lib/ui/src/components/preview/iframe.js
Labels: bug, patch, ui
