Repository storybookjs/storybook, pull requests merged in 2020-04, with the labels that each got.

#10276 Misleading information on upgrade: react-docgen
  MIGRATION.md
Labels: documentation

#10101 Addon-knobs: Allow `text` and `number` to take undefined values
  addons/knobs/src/components/types/Number.tsx
  addons/knobs/src/components/types/Text.tsx
Labels: addon: knobs, bug, typescript

#10279 Repro for #10278
  addons/docs/src/frameworks/react/__testfixtures__/10278-ts-multiple-components/docgen.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/10278-ts-multiple-components/input.tsx
  addons/docs/src/frameworks/react/__testfixtures__/10278-ts-multiple-components/properties.snapshot
Labels: block: props, maintenance

#10283 Document addon-viewport disable paramter #10282
  addons/viewport/README.md
Labels: addon: viewport, documentation, patch

#10290 Core: Fix source-map strategy for production
  lib/core/src/server/preview/iframe-webpack.config.js
Labels: babel / webpack, bug

#10298 ADD virtual module template for manager refs
  lib/core/src/server/manager/manager-webpack.config.js
  lib/core/src/server/manager/virtualModuleRef.template.js
Labels: cleanup

#10317 Remove unused react-focus-lock
  lib/components/package.json
  yarn.lock
Labels: cleanup

#10288 ADD .cjs & .mjs to interpret-files
  lib/core/src/server/utils/interpret-files.js
Labels: bug

#10321 Explanation for template and addDecorators
  addons/docs/angular/README.md
Labels: addon: docs, app: angular, documentation, patch

#10305 Yarn 2: rework imports in webpack preview virtual module to fix compatibility
  lib/core/src/server/preview/iframe-webpack.config.js
Labels: compatibility with other tools, maintenance, yarn / npm

#10097 Core: Warn about deprecated config files
  examples/svelte-kitchen-sink/.storybook/preview.js
  lib/core/package.json
  lib/core/src/server/common/custom-presets.js
  lib/core/src/server/utils/interpret-files.js
  lib/core/src/server/utils/validate-configuration-files.js
Labels: core, maintenance

#10345 Marko: Always destroy old component when switching stories
  app/marko/src/client/preview/render.js
Labels: app: marko, bug

#10357 CSF: Warn when there are no exported stories
  lib/core/src/client/preview/loadCsf.test.ts
  lib/core/src/client/preview/loadCsf.ts
Labels: core, csf, feature request

#10359 Vue: update boilerplate link on readme
  app/vue/README.md
Labels: app: vue, documentation, patch

#10343 Dev: Build script for package development
  package.json
  scripts/bootstrap.js
  scripts/build-package.js
  scripts/cli-utils.js
  yarn.lock
Labels: maintenance

#10387 Add build script steps to CONTRIBUTING
  CONTRIBUTING.md
Labels: documentation

#10398 Args: Rename ParameterEnhancer to ArgsEnhancer
  addons/actions/src/preset/addArgs.test.ts
  addons/actions/src/preset/addArgs.ts
  addons/docs/src/blocks/enhanceSource.ts
  lib/client-api/README.md
  lib/client-api/src/client_api.ts
  lib/client-api/src/index.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/client-api/src/types.ts
  lib/core/src/server/preview/virtualModuleEntry.template.js
Labels: BREAKING PRERELEASE, core, maintenance

#10383 Addon-docs: Format Source at render time
  addons/actions/src/preset/addArgs.test.ts
  addons/actions/src/preset/addArgs.ts
  addons/docs/src/blocks/Source.tsx
  addons/docs/src/blocks/enhanceSource.test.ts
  addons/docs/src/blocks/enhanceSource.ts
  addons/docs/src/frameworks/common/config.ts
  lib/client-api/README.md
  lib/client-api/src/client_api.ts
  lib/client-api/src/index.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/client-api/src/types.ts
  lib/core/src/server/preview/virtualModuleEntry.template.js
Labels: addon: docs, block: source, maintenance

#10404 FIX legacy redirect
  lib/cli/test/fixtures/react_babel_config_js/.storybook/config.js
  lib/cli/test/fixtures/react_babel_config_js/.storybook/main.js
  lib/cli/test/fixtures/react_babel_custom_preset/.storybook/config.js
  lib/cli/test/fixtures/react_babel_custom_preset/.storybook/main.js
  lib/cli/test/fixtures/react_babel_pkg_json/.storybook/config.js
  lib/cli/test/fixtures/react_babel_pkg_json/.storybook/main.js
  lib/cli/test/fixtures/react_babelrc/.storybook/config.js
  lib/cli/test/fixtures/react_babelrc/.storybook/main.js
  lib/cli/test/fixtures/react_babelrc_js/.storybook/config.js
  lib/cli/test/fixtures/react_babelrc_js/.storybook/main.js
  lib/cli/test/fixtures/update_package_organisations/.storybook/config.js
  lib/cli/test/fixtures/update_package_organisations/.storybook/main.js
  lib/core/src/client/preview/start.test.ts
  lib/core/src/client/preview/start.ts
Labels: bug, client-api

#10401 Update index.md
  docs/src/pages/basics/introduction/index.md
Labels: documentation

#10393 Update index.md
  docs/src/pages/configurations/custom-webpack-config/index.md
Labels: documentation

#10402 Fixed `webpackFinal` being called twice
  lib/core/src/server/preview/custom-webpack-preset.js
Labels: babel / webpack, bug, core

#10408 Build: Update bootstrap to install optional deps on CI
  package.json
  scripts/bootstrap.js
  yarn.lock
Labels: maintenance

#10396 CLI: Update fixtures used for CLI tests
  lib/cli/test/fixtures/react_babel_config_js/stories/index.stories.js
  lib/cli/test/fixtures/react_babel_custom_preset/stories/index.stories.js
  lib/cli/test/fixtures/react_babel_pkg_json/stories/index.stories.js
  lib/cli/test/fixtures/react_babelrc/stories/index.stories.js
  lib/cli/test/fixtures/react_babelrc_js/stories/index.stories.js
  lib/cli/test/run_tests.sh
  lib/cli/test/run_tests_yarn_2.sh
Labels: cli, maintenance

#10413 Adding `storybook-addon-performance` to addon gallery
  docs/src/pages/addons/addon-gallery/index.md
Labels: documentation, patch

#10418 Fix outdated theming docs
  docs/src/pages/configurations/theming/index.md
Labels: documentation, patch

#10329 CLI: Reuse existing chromium tab if possible
  lib/core/package.json
  lib/core/src/server/build-dev.js
  yarn.lock
Labels: core, feature request

#10358 FIX .cjs files for config as main
  lib/core/src/server/common/custom-presets.js
  lib/core/src/server/manager/manager-webpack.config.js
  lib/core/src/server/preview/iframe-webpack.config.js
  lib/core/src/server/utils/interpret-files.js
  lib/core/src/server/utils/load-custom-webpack-config.js
  lib/core/src/server/utils/server-require.js
Labels: bug, core

#10411 DOC: Add note to install the required packages for theming
  docs/src/pages/configurations/theming/index.md
Labels: documentation, patch

#10375 Bump axe version to 3.5.3
  addons/a11y/package.json
  yarn.lock
Labels: dependencies:update

#10421 FIX ref getSourceType for paths with */index.html
  lib/api/src/modules/refs.ts
  lib/api/src/tests/refs.test.js
  lib/ui/src/index.tsx
  yarn.lock
Labels: bug, core

#10381 Addon-A11y: Remove decorator in favor of configuration
  MIGRATION.md
  addons/a11y/README.md
  addons/a11y/src/a11yRunner.ts
  addons/a11y/src/components/A11YPanel.test.js
  addons/a11y/src/components/A11YPanel.tsx
  addons/a11y/src/index.ts
  addons/a11y/src/preset.ts
  addons/a11y/src/preset/addDecorator.ts
  addons/a11y/src/preset/index.ts
  docs/src/pages/configurations/overview/index.md
  docs/src/pages/formats/storiesof-api/index.md
  examples/ember-cli/stories/addon-a11y.stories.js
Labels: BREAKING CHANGE, addon: a11y, maintenance

#10400 fix(to-require-context): fixed regex to glob conversion
  addons/storyshots/storyshots-core/src/frameworks/configure.ts
  lib/core/package.json
  lib/core/src/server/preview/to-require-context.js
  lib/core/src/server/preview/to-require-context.test.js
  yarn.lock
Labels: bug, core

#10251 Adding children prop to button Button.tsx
  lib/components/src/Button/Button.tsx
Labels: typescript, ui

#10432 Official-storybook: Fix passArgsFirst problems
  addons/docs/src/frameworks/react/react-argtypes.stories.tsx
  examples/official-storybook/stories/addon-toolbars.stories.js
  examples/official-storybook/stories/core/parameters.stories.js
  lib/ui/src/components/layout/desktop.stories.tsx
  lib/ui/src/components/layout/mobile.stories.tsx
Labels: maintenance

#10342 Yarn 2: Fix compatibility with `.storybook/preview.js` file
  lib/core/src/server/preview/iframe-webpack.config.js
  lib/core/src/server/preview/virtualModuleEntry.template.js
Labels: maintenance, yarn / npm

#10436 Addon-Docs: Fix Args table generation for story with no component
  addons/docs/src/frameworks/common/enhanceArgTypes.ts
  examples/ember-cli/.storybook/preset.js
  lib/components/src/controls/Date.stories.tsx
Labels: addon: docs, bug

#10377 Core: Fix static build with DLL
  lib/core/src/server/build-static.js
Labels: bug, build-storybook

#10439 bug: default a11y parameters
  addons/a11y/src/a11yRunner.ts
Labels: addon: a11y, bug

#10416 IMPROVE event source handling
  lib/channel-postmessage/src/index.ts
Labels: maintenance

#10440 Add missing colon in object in Svelte example
  docs/src/pages/guides/guide-svelte/index.md
Labels: app: svelte, documentation

#10390 Serve correctly hashed static files with the Cache-Control header
  lib/core/src/server/dev-server.js
Labels: bug, core

#10441 Addon-docs: Add blocks typings
  addons/docs/blocks.d.ts
Labels: addon: docs, maintenance, typescript

#10391 Server: Fix serialization of knobs params back to server
  app/server/src/lib/compiler/__testfixtures__/knobs.json
  app/server/src/lib/compiler/__testfixtures__/knobs.snapshot
  app/server/src/lib/compiler/decorators/knobs.ts
Labels: addon: knobs, app: server, bug

#10435 Examples: Format stringified parameters
  examples/angular-cli/src/stories/__snapshots__/core.stories.storyshot
  examples/angular-cli/src/stories/core.stories.ts
  examples/official-storybook/stories/core/parameters.stories.js
  examples/riot-kitchen-sink/src/stories/__snapshots__/core.stories.storyshot
  examples/riot-kitchen-sink/src/stories/core.stories.js
  examples/vue-kitchen-sink/src/stories/__snapshots__/core.stories.storyshot
  examples/vue-kitchen-sink/src/stories/core.stories.js
Labels: maintenance

#10225 Clarify warning message
  app/react/src/server/framework-preset-cra.ts
Labels: cra, documentation, presets

#10451 Addon-actions: Make arg auto-generation more aggressive
  addons/actions/package.json
  addons/actions/src/preset/addArgs.test.ts
  addons/actions/src/preset/addArgs.ts
Labels: addon: actions, feature request

#10445 FIX bad shortcutpage layout
  lib/ui/src/settings/index.tsx
Labels: bug

#10444 IMPROVE the loading of the storybook UI
  lib/ui/src/app.tsx
  lib/ui/src/components/preview/FramesRenderer.tsx
Labels: feature request, ui

#10448 Fixed number documentation
  addons/knobs/README.md
Labels: addon: knobs, documentation, patch

#10463 Addon-docs: Inline stories in Vue by default
  addons/docs/src/frameworks/vue/config.tsx
  addons/docs/vue/README.md
  examples/vue-kitchen-sink/.storybook/preview.js
  examples/vue-kitchen-sink/src/stories/__snapshots__/core.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/custom-decorators.stories.storyshot
Labels: BREAKING CHANGE, addon: docs, app: vue

#10459 Fix invalid syntax in documentation for addons-info
  addons/info/README.md
Labels: addon: info, documentation

#10464 Addon-docs: Provide better props include/exclude features
  addons/docs/src/blocks/Props.tsx
  examples/official-storybook/stories/addon-docs/props-include-exclude.stories.mdx
Labels: addon: docs, block: props, feature request

#10457 docs: update addon-queryparams docs to use CSF
  addons/queryparams/README.md
Labels: addon: queryparams, documentation, patch

#10473 Addon-docs: Fix controls column display logic
  addons/docs/src/blocks/Props.tsx
  examples/official-storybook/stories/addon-docs/props.stories.mdx
  lib/components/src/blocks/ArgsTable/ArgsTable.tsx
  lib/components/src/blocks/ArgsTable/SectionRow.tsx
Labels: addon: docs, bug

#10460 UPGRADES
  lib/cli/test/fixtures/react_native/.babelrc
  lib/cli/test/fixtures/react_native/.buckconfig
  lib/cli/test/fixtures/react_native/.flowconfig
  lib/cli/test/fixtures/react_native/.gitattributes
  lib/cli/test/fixtures/react_native/.gitignore
  lib/cli/test/fixtures/react_native/.watchmanconfig
  lib/cli/test/fixtures/react_native/__tests__/index.android.js
  lib/cli/test/fixtures/react_native/__tests__/index.ios.js
  lib/cli/test/fixtures/react_native/android/app/BUCK
  lib/cli/test/fixtures/react_native/android/app/build.gradle
  lib/cli/test/fixtures/react_native/android/app/proguard-rules.pro
  lib/cli/test/fixtures/react_native/android/app/src/main/AndroidManifest.xml
  lib/cli/test/fixtures/react_native/android/app/src/main/java/com/react_native/MainActivity.java
  lib/cli/test/fixtures/react_native/android/app/src/main/java/com/react_native/MainApplication.java
  lib/cli/test/fixtures/react_native/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  lib/cli/test/fixtures/react_native/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  lib/cli/test/fixtures/react_native/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  lib/cli/test/fixtures/react_native/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  lib/cli/test/fixtures/react_native/android/app/src/main/res/values/strings.xml
  lib/cli/test/fixtures/react_native/android/app/src/main/res/values/styles.xml
  lib/cli/test/fixtures/react_native/android/build.gradle
  lib/cli/test/fixtures/react_native/android/gradle.properties
  lib/cli/test/fixtures/react_native/android/gradle/wrapper/gradle-wrapper.jar
  lib/cli/test/fixtures/react_native/android/gradle/wrapper/gradle-wrapper.properties
  lib/cli/test/fixtures/react_native/android/gradlew
  lib/cli/test/fixtures/react_native/android/gradlew.bat
  lib/cli/test/fixtures/react_native/android/keystores/BUCK
  lib/cli/test/fixtures/react_native/android/keystores/debug.keystore.properties
  lib/cli/test/fixtures/react_native/android/settings.gradle
  lib/cli/test/fixtures/react_native/app.json
  lib/cli/test/fixtures/react_native/index.android.js
  lib/cli/test/fixtures/react_native/index.ios.js
  lib/cli/test/fixtures/react_native/ios/react_native-tvOS/Info.plist
  lib/cli/test/fixtures/react_native/ios/react_native-tvOSTests/Info.plist
  lib/cli/test/fixtures/react_native/ios/react_native.xcodeproj/project.pbxproj
  lib/cli/test/fixtures/react_native/ios/react_native.xcodeproj/xcshareddata/xcschemes/react_native-tvOS.xcscheme
  lib/cli/test/fixtures/react_native/ios/react_native.xcodeproj/xcshareddata/xcschemes/react_native.xcscheme
  lib/cli/test/fixtures/react_native/ios/react_native/AppDelegate.h
  lib/cli/test/fixtures/react_native/ios/react_native/AppDelegate.m
  lib/cli/test/fixtures/react_native/ios/react_native/Base.lproj/LaunchScreen.xib
  lib/cli/test/fixtures/react_native/ios/react_native/Images.xcassets/AppIcon.appiconset/Contents.json
  lib/cli/test/fixtures/react_native/ios/react_native/Info.plist
  lib/cli/test/fixtures/react_native/ios/react_native/main.m
  lib/cli/test/fixtures/react_native/ios/react_nativeTests/Info.plist
  lib/cli/test/fixtures/react_native/ios/react_nativeTests/react_nativeTests.m
  lib/cli/test/fixtures/react_native/package.json
  lib/cli/test/fixtures/react_native_scripts/App.js
  lib/cli/test/fixtures/react_native_scripts/app.json
  lib/cli/test/fixtures/react_native_scripts/assets/icon.png
  lib/cli/test/fixtures/react_native_scripts/assets/splash.png
  lib/cli/test/fixtures/react_native_scripts/babel.config.js
  lib/cli/test/fixtures/react_native_scripts/package.json
  lib/core/src/server/preview/to-require-context.test.js
  package.json
  yarn.lock
Labels: dependencies:update

#10480 DocsPage: Fix controls to point to primary story
  addons/docs/src/blocks/DocsPage.tsx
  addons/docs/src/blocks/Props.tsx
  addons/docs/src/blocks/types.ts
  examples/official-storybook/stories/addon-docs/subcomponents.stories.js
Labels: addon: docs, block: props, bug

#10485 Fix typo in select example
  addons/knobs/README.md
Labels: addon: knobs, documentation, patch

#10274 Addon-docs: Reset styles in Preview component
  addons/docs/src/blocks/Preview.tsx
  addons/docs/src/blocks/Story.tsx
  examples/official-storybook/stories/addon-docs/docs-only.stories.mdx
  lib/components/src/html.tsx
Labels: addon: docs, feature request

#10482 Addon-docs: Port Vue to ArgsTable
  addons/docs/src/frameworks/react/extractArgTypes.ts
  addons/docs/src/frameworks/vue/config.tsx
  addons/docs/src/frameworks/vue/extractArgTypes.ts
  addons/docs/src/frameworks/vue/extractProps.ts
  addons/docs/src/lib/sbtypes/proptypes/convert.ts
  addons/docs/src/lib/sbtypes/utils.ts
  lib/components/src/blocks/ArgsTable/ArgRow.stories.tsx
  lib/components/src/blocks/ArgsTable/ArgRow.tsx
Labels: addon: docs, app: vue, block: props, bug

#10489 Remove cam-stitt from svelte automention.
  .github/automention.yml
Labels: cleanup

#10503 Addon-docs: Rename `formatSource` to `transformSource`
  addons/docs/docs/recipes.md
  addons/docs/src/blocks/enhanceSource.test.ts
  addons/docs/src/blocks/enhanceSource.ts
  examples/html-kitchen-sink/.storybook/preview.js
Labels: BREAKING PRERELEASE, addon: docs, block: source, maintenance

#10506 [FIX] switch zeit now to Vercel Now for prisma docs
  docs/src/pages/basics/exporting-storybook/index.md
Labels: documentation, patch

#10508 Update to include react-test-renderer package
  docs/src/pages/testing/structural-testing/index.md
Labels: addon: storyshots, documentation, patch

#10513 Update index.md
  docs/src/pages/guides/guide-html/index.md
Labels: documentation, patch

#10504 Composition: Update UI for refs
  examples/dev-kits/main.js
  lib/api/src/modules/refs.ts
  lib/api/src/modules/stories.ts
  lib/api/src/tests/refs.test.js
  lib/channel-postmessage/src/index.ts
  lib/core/src/server/manager/manager-webpack.config.js
  lib/ui/src/components/sidebar/Loader.tsx
  lib/ui/src/components/sidebar/RefBlocks.tsx
  lib/ui/src/components/sidebar/RefIndicator.tsx
  lib/ui/src/components/sidebar/Refs.tsx
  lib/ui/src/components/sidebar/Tree/ListItem.tsx
  lib/ui/tsconfig.json
Labels: bug, composition, ui

#10520 Typo on addon-events documentation
  addons/events/README.md
Labels: documentation, patch

#10521 Build: Fix misc warnings that trip up Chromatic
  addons/docs/package.json
  addons/docs/src/typings.d.ts
  examples/official-storybook/stories/addon-docs/forward-ref.stories.js
  examples/official-storybook/stories/addon-docs/react-memo.stories.js
  lib/components/src/blocks/ArgsTable/ArgsTable.tsx
  lib/components/src/blocks/ArgsTable/SectionRow.stories.tsx
  lib/components/src/blocks/PropsTable/PropsTable.tsx
  lib/components/src/blocks/PropsTable/SectionRow.stories.tsx
  lib/components/src/spaced/Spaced.tsx
  lib/theming/src/index.ts
  yarn.lock
Labels: bug

#10518 Fix typo on "Configuration overview" docs page.
  docs/src/pages/configurations/overview/index.md
Labels: documentation, patch

#10471 transform for of in dlls
  addons/docs/scripts/webpackDllsConfig.js
  addons/docs/src/frameworks/common/preset.ts
  app/react/package.json
  lib/api/package.json
  lib/cli/package.json
  lib/cli/test/fixtures/sfc_vue/package.json
  lib/core/package.json
  lib/core/src/server/preview/iframe-webpack.config.js
  lib/ui/package.json
  lib/ui/scripts/webpackDllsConfig.js
Labels: bug, ie11

#10529 Pr/brandon leapyear/10484
  addons/storyshots/storyshots-core/src/frameworks/react/renderTree.ts
  addons/storyshots/storyshots-core/src/test-bodies.ts
Labels: addon: storyshots, app: react, feature request

#10456 Addon-a11y: use channel to highlight elements in preview
  addons/a11y/package.json
  addons/a11y/src/a11yHighlight.ts
  addons/a11y/src/a11yRunner.test.ts
  addons/a11y/src/a11yRunner.ts
  addons/a11y/src/components/A11YPanel.test.js
  addons/a11y/src/components/A11YPanel.test.tsx
  addons/a11y/src/components/A11YPanel.tsx
  addons/a11y/src/components/A11yContext.test.tsx
  addons/a11y/src/components/A11yContext.tsx
  addons/a11y/src/components/Report/Elements.tsx
  addons/a11y/src/components/Report/HighlightToggle.test.js
  addons/a11y/src/components/Report/HighlightToggle.test.tsx
  addons/a11y/src/components/Report/HighlightToggle.tsx
  addons/a11y/src/components/Report/Item.tsx
  addons/a11y/src/components/Report/__snapshots__/HighlightToggle.test.js.snap
  addons/a11y/src/components/Tabs.tsx
  addons/a11y/src/constants.ts
  addons/a11y/src/highlight.ts
  addons/a11y/src/index.ts
  addons/a11y/src/params.ts
  addons/a11y/src/preset.ts
  addons/a11y/src/redux-config.tsx
  addons/a11y/src/register.tsx
  addons/a11y/tsconfig.json
  examples/official-storybook/stories/addon-a11y/highlight.stories.js
  yarn.lock
Labels: accessibility, addon: a11y, feature request, performance issue

#10479 Addon-contexts: Move to deprecated-addons repo
  ADDONS_SUPPORT.md
  README.md
  addons/contexts/README.md
  addons/contexts/package.json
  addons/contexts/preact.js
  addons/contexts/rax.js
  addons/contexts/react.js
  addons/contexts/register.js
  addons/contexts/src/index.ts
  addons/contexts/src/manager/ContextsManager.tsx
  addons/contexts/src/manager/components/ToolBar.test.tsx
  addons/contexts/src/manager/components/ToolBar.tsx
  addons/contexts/src/manager/components/ToolBarControl.test.tsx
  addons/contexts/src/manager/components/ToolBarControl.tsx
  addons/contexts/src/manager/components/ToolBarMenu.test.tsx
  addons/contexts/src/manager/components/ToolBarMenu.tsx
  addons/contexts/src/manager/components/ToolBarMenuOptions.test.tsx
  addons/contexts/src/manager/components/ToolBarMenuOptions.tsx
  addons/contexts/src/preview/ContextsPreviewAPI.ts
  addons/contexts/src/preview/frameworks/preact.ts
  addons/contexts/src/preview/frameworks/rax.ts
  addons/contexts/src/preview/frameworks/react.ts
  addons/contexts/src/preview/frameworks/vue.ts
  addons/contexts/src/preview/libs/decorators.test.ts
  addons/contexts/src/preview/libs/decorators.ts
  addons/contexts/src/preview/libs/getContextNodes.test.ts
  addons/contexts/src/preview/libs/getContextNodes.ts
  addons/contexts/src/preview/libs/getPropsMap.test.ts
  addons/contexts/src/preview/libs/getPropsMap.ts
  addons/contexts/src/preview/libs/getRendererFrom.test.ts
  addons/contexts/src/preview/libs/getRendererFrom.ts
  addons/contexts/src/preview/libs/index.ts
  addons/contexts/src/register.ts
  addons/contexts/src/shared/@mock-types/_global.d.ts
  addons/contexts/src/shared/@mock-types/_preact.d.ts
  addons/contexts/src/shared/constants.ts
  addons/contexts/src/shared/serializers.test.ts
  addons/contexts/src/shared/serializers.ts
  addons/contexts/src/shared/types.d.ts
  addons/contexts/tsconfig.json
  addons/contexts/vue.js
  cypress/integration/navigation.spec.ts
  cypress/support/commands.js
  examples/official-storybook/main.js
  examples/official-storybook/package.json
  examples/official-storybook/stories/addon-contexts.stories.js
  examples/preact-kitchen-sink/.storybook/main.js
  examples/preact-kitchen-sink/package.json
  examples/preact-kitchen-sink/src/stories/__snapshots__/addon-contexts.stories.storyshot
  examples/preact-kitchen-sink/src/stories/addon-contexts.stories.js
  examples/rax-kitchen-sink/src/stories/addon-contexts.stories.js
  examples/vue-kitchen-sink/.storybook/main.js
  examples/vue-kitchen-sink/package.json
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-contexts.stories.storyshot
  examples/vue-kitchen-sink/src/stories/addon-contexts.stories.js
  lib/components/src/blocks/DocsPageExampleCaption.md
  lib/components/src/blocks/DocsPageExampleCaption.mdx
Labels: addon: contexts, maintenance

#10535 Patch 3
  docs/src/pages/configurations/overview/index.md
Labels: documentation, patch

#10534 Addon-a11y: Code cleanup
  addons/a11y/package.json
  addons/a11y/src/components/ColorBlindness.tsx
  addons/a11y/src/components/ColorFilters.tsx
  addons/a11y/src/constants.ts
  addons/a11y/src/register.tsx
Labels: addon: a11y, cleanup

#10292 UI: Fix `viewMode` parameter handling
  lib/api/src/lib/stories.ts
  lib/api/src/modules/layout.ts
  lib/api/src/modules/stories.ts
Labels: api: addons, bug

#10220 REMOVE peer only listeners API
  .eslintignore
  lib/addons/src/hooks.ts
  lib/channels/package.json
  lib/channels/src/index.test.ts
  lib/channels/src/index.ts
Labels: BREAKING CHANGE, core

#10547 CLI: Automatically detect typescript in `sb init`
  lib/cli/src/detect.js
  lib/cli/src/detect.test.js
  lib/cli/src/generators/ANGULAR/index.js
  lib/cli/src/generators/EMBER/index.js
  lib/cli/src/generators/HTML/index.js
  lib/cli/src/generators/MARKO/index.js
  lib/cli/src/generators/METEOR/index.js
  lib/cli/src/generators/MITHRIL/index.js
  lib/cli/src/generators/PREACT/index.js
  lib/cli/src/generators/RAX/index.js
  lib/cli/src/generators/REACT/index.js
  lib/cli/src/generators/REACT_NATIVE/index.js
  lib/cli/src/generators/REACT_SCRIPTS/index.js
  lib/cli/src/generators/RIOT/index.js
  lib/cli/src/generators/SFC_VUE/index.js
  lib/cli/src/generators/SVELTE/index.js
  lib/cli/src/generators/VUE/index.js
  lib/cli/src/generators/WEB-COMPONENTS/index.js
  lib/cli/src/generators/WEBPACK_REACT/index.js
  lib/cli/src/helpers.js
  lib/cli/src/helpers.test.js
  lib/cli/src/initiate.js
  lib/cli/src/project_types.js
  lib/cli/src/project_types.test.js
  lib/cli/test/run_tests.sh
Labels: cli, csf, feature request

#10562 Typo for the word "Angular" in docs setting Storybook up for Riot.js
  docs/src/pages/guides/guide-riot/index.md
Labels: app: riot, documentation, patch

#10561 CLI: Clarify error when `sb init` fails on angular
  lib/cli/src/generators/ANGULAR/index.js
Labels: cli, maintenance

#10452 Core: Pass args first to stories by default
  MIGRATION.md
  addons/docs/docs/props-tables.md
  examples/angular-cli/src/stories/core.stories.ts
  examples/official-storybook/preview.js
  examples/official-storybook/stories/addon-actions.stories.js
  examples/official-storybook/stories/addon-docs/csf-with-mdx-docs.stories.js
  examples/official-storybook/stories/addon-docs/props.stories.mdx
  examples/official-storybook/stories/core/args.stories.js
  examples/official-storybook/stories/core/globalArgs.stories.js
  examples/riot-kitchen-sink/src/stories/core.stories.js
  examples/vue-kitchen-sink/src/stories/core.stories.js
  examples/vue-kitchen-sink/src/stories/custom-decorators.stories.js
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
Labels: BREAKING CHANGE, core

#10571 React: Remove deprecated CRA preset
  MIGRATION.md
  app/react/package.json
  app/react/src/server/__mocks__/mockConfig.ts
  app/react/src/server/__mocks__/mockRules.ts
  app/react/src/server/__mocks__/react-scripts-2-0-0/config/webpack.config.dev.js
  app/react/src/server/__mocks__/react-scripts-2-0-0/package.json
  app/react/src/server/__mocks__/react-scripts-2-1-0/config/webpack.config.dev.js
  app/react/src/server/__mocks__/react-scripts-2-1-0/package.json
  app/react/src/server/__snapshots__/cra-config.test.ts.snap
  app/react/src/server/cra-config.test.ts
  app/react/src/server/cra-config.ts
  app/react/src/server/framework-preset-cra.ts
  app/vue/package.json
  yarn.lock
Labels: BREAKING CHANGE, maintenance

#10573 Addon-docs: Add subcomponents prop to Meta block
  addons/docs/src/blocks/Meta.tsx
Labels: addon: docs, bug, typescript

#10559 Addon-docs: Props controls for Vue
  addons/docs/src/frameworks/common/inferControls.ts
  addons/docs/src/frameworks/vue/extractArgTypes.ts
  addons/docs/src/lib/sbtypes/proptypes/convert.ts
  examples/vue-kitchen-sink/.storybook/preview.js
  examples/vue-kitchen-sink/src/stories/__snapshots__/core.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/custom-decorators.stories.storyshot
  examples/vue-kitchen-sink/src/stories/components/__snapshots__/button.stories.storyshot
  examples/vue-kitchen-sink/src/stories/components/button.stories.js
Labels: addon: docs, app: vue, feature request

#10373 Core: Normalize parameters in store/channel
  MIGRATION.md
  docs/src/pages/configurations/options-parameter/index.md
  examples/angular-cli/src/stories/__snapshots__/core.stories.storyshot
  examples/riot-kitchen-sink/src/stories/__snapshots__/core.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/core.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/custom-decorators.stories.storyshot
  lib/api/src/index.tsx
  lib/api/src/lib/stories.ts
  lib/api/src/modules/stories.ts
  lib/api/src/tests/stories.test.js
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/core/src/client/preview/StoryRenderer.test.ts
Labels: BREAKING CHANGE, core

#10550 CLI: Fix cli when working with Yarn 2 and Node 10
  lib/cli/src/latest_version.js
Labels: maintenance, yarn / npm

#10589 Fix formatting in Storybook for React Native markdown
  docs/src/pages/guides/guide-react-native/index.md
Labels: documentation, patch

#10588 feat(components): add ids to panels tab and content
  lib/components/package.json
  lib/components/src/tabs/tabs.tsx
Labels: maintenance
