Repository storybookjs/storybook, pull requests merged in 2020-06, with the labels that each got.

#10991 Misc: fix links related to glob validity section in MIGRATION.md
  MIGRATION.md
  lib/core/src/server/preview/entries.js
  lib/core/src/server/preview/to-require-context.ts
Labels: core, documentation

#10988 Addon-controls/a11y: Fix PARAM_KEY export for consistency
  addons/a11y/src/index.ts
  addons/controls/src/components/ControlsPanel.tsx
  addons/controls/src/index.ts
  lib/ui/src/libs/merge.ts
Labels: addon: a11y, addon: controls, maintenance

#10997 Addon-docs: Fix function argType inference in react-docgen-typescript
  addons/docs/src/lib/sbtypes/proptypes/convert.ts
Labels: addon: docs, bug

#10995 fix: update image link of addon-jest readme
  addons/jest/README.md
Labels: addon: jest, documentation, patch

#11002 Addon-docs: Update props table customization docs
  addons/docs/docs/props-tables.md
Labels: addon: docs, documentation

#11001 Controls: Fix no-control handling
  lib/components/src/blocks/ArgsTable/ArgControl.tsx
Labels: addon: controls, bug

#11003 Controls: Fix `options` control types
  addons/controls/README.md
  addons/docs/src/frameworks/common/inferControls.ts
  lib/components/src/blocks/ArgsTable/ArgControl.tsx
  lib/components/src/controls/options/Options.tsx
  lib/components/src/controls/types.ts
Labels: addon: controls, bug

#10985 CLI: Fix `sb init` in Yarn workspace environment
  lib/cli/src/helpers.ts
  scripts/run-e2e-config.ts
  scripts/run-e2e.ts
Labels: bug, cli, compatibility with other tools, yarn / npm

#10370 Core: Add logLevel preset property to filter logging
  addons/links/src/preview.test.js
  addons/links/src/react/components/link.test.js
  app/react/src/client/preview/index.test.ts
  docs/src/pages/configurations/overview/index.md
  lib/client-logger/package.json
  lib/client-logger/src/index.test.ts
  lib/client-logger/src/index.ts
  lib/client-logger/src/typings.d.ts
  lib/core/src/server/cli/dev.js
  lib/core/src/server/common/common-preset.js
  lib/core/src/server/manager/manager-webpack.config.js
  lib/core/src/server/preview/iframe-webpack.config.js
  yarn.lock
Labels: core, feature request

#10998 Add warning for TypeScript set up issues and fix Babel config
  lib/cli/package.json
  lib/cli/src/initiate.ts
  lib/cli/src/warn.test.ts
  lib/cli/src/warn.ts
  lib/core/package.json
  lib/core/src/server/common/babel.js
  yarn.lock
Labels: babel / webpack, cli, core, feature request, typescript

#10978 Preact: Update Preact version
  app/preact/package.json
  app/preact/src/client/preview/render.tsx
  yarn.lock
Labels: BREAKING CHANGE, app: preact, feature request

#11024 Addon-controls: Fix initialization logic; remove react-select
  addons/docs/src/frameworks/react/react-argtypes.stories.tsx
  examples/official-storybook/stories/addon-docs/props.stories.mdx
  lib/components/package.json
  lib/components/src/controls/options/Checkbox.tsx
  lib/components/src/controls/options/Options.stories.tsx
  lib/components/src/controls/options/Options.tsx
  lib/components/src/controls/options/Radio.tsx
  lib/components/src/controls/options/Select.tsx
  lib/components/src/controls/options/helpers.ts
Labels: addon: controls, bug

#11016 Addon-docs: Angular ArgTypes for pipes, injectables, classes
  addons/docs/src/frameworks/angular/compodoc.ts
  addons/docs/src/frameworks/angular/types.ts
  examples/angular-cli/src/stories/doc-injectable/__snapshots__/doc-injectable.stories.storyshot
  examples/angular-cli/src/stories/doc-injectable/doc-injectable.service.ts
  examples/angular-cli/src/stories/doc-injectable/doc-injectable.stories.ts
  examples/angular-cli/src/stories/doc-pipe/__snapshots__/doc-pipe.stories.storyshot
  examples/angular-cli/src/stories/doc-pipe/doc-pipe.pipe.ts
  examples/angular-cli/src/stories/doc-pipe/doc-pipe.stories.ts
Labels: addon: docs, app: angular, args, block: props, feature request

#11034 Documentation: Add deprecation doc for contexts
  README.md
Labels: documentation

#11015 Addon-controls: Remove residual options-type controls
  addons/docs/src/frameworks/common/enhanceArgTypes.test.ts
  examples/official-storybook/stories/addon-docs/props.stories.mdx
  examples/vue-cli/src/button/Button.stories.ts
Labels: addon: controls, maintenance

#11036 React: Remove argsStory helper function
  addons/actions/src/preview/decorateAction.ts
  addons/actions/src/preview/withActions.ts
  app/react/src/client/index.ts
  app/react/src/client/preview/argsStory.tsx
  app/react/src/client/preview/index.ts
  examples/official-storybook/stories/addon-docs/args-story.stories.ts
  examples/react-ts/src/button.stories.tsx
  examples/react-ts/src/emoji-button.stories.js
  lib/core/src/client/preview/loadCsf.ts
Labels: BREAKING PRERELEASE, app: react, args, maintenance

#11037 Update README.md with Angular Fully custom args
  addons/controls/README.md
Labels: addon: controls, documentation

#11008 Core: Fix Yarn 2 compatibility and reactivate Yarn 2 E2E test
  .circleci/config.yml
  app/react/package.json
  app/react/src/server/cra-config.ts
  app/react/src/typings.d.ts
  lib/api/package.json
  lib/api/src/modules/versions.ts
  lib/api/src/typings.d.ts
  lib/cli/package.json
  lib/cli/src/has_yarn.ts
  lib/cli/src/helpers.test.ts
  lib/cli/src/helpers.ts
  lib/cli/src/latest_version.ts
  lib/cli/src/typings.d.ts
  lib/cli/test/fixtures/sfc_vue/package.json
  lib/components/src/typings.d.ts
  lib/core/package.json
  lib/core/src/server/build-dev.js
  lib/core/src/server/manager/manager-webpack.config.js
  lib/core/src/server/preview/iframe-webpack.config.js
  lib/core/src/typings.d.ts
  lib/ui/package.json
  lib/ui/scripts/webpackDllsConfig.js
  lib/ui/src/settings/about.tsx
  lib/ui/src/typings.ts
  package.json
  scripts/run-e2e-config.ts
  scripts/verdaccio.yaml
  yarn.lock
Labels: bug, core, ie11, yarn / npm

#10925 UPGRADE cypress && FIX lodash dependency
  .circleci/config.yml
  addons/docs/scripts/webpackDllsConfig.js
  lib/api/src/index.tsx
  lib/api/src/lib/stories.ts
  lib/cli/src/generators/ANGULAR/template-csf/src/stories/1-Button.stories.ts
  lib/cli/src/generators/ANGULAR/template-mdx/src/stories/1-Button.stories.mdx
  lib/cli/src/generators/AURELIA/template-csf/src/stories/1-Button.stories.ts
  lib/cli/src/generators/AURELIA/template-mdx/src/stories/1-Button.stories.mdx
  lib/cli/src/generators/EMBER/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/HTML/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/MITHRIL/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/PREACT/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/RAX/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/REACT/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/REACT_SCRIPTS/template-csf/src/stories/1-Button.stories.js
  lib/cli/src/generators/RIOT/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/SFC_VUE/template-csf/src/stories/1-Button.stories.js
  lib/cli/src/generators/SVELTE/template-csf/stories/1-button.stories.js
  lib/cli/src/generators/VUE/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/WEB-COMPONENTS/template/stories/1-Button.stories.js
  lib/cli/src/generators/WEBPACK_REACT/template-csf/stories/1-Button.stories.js
  lib/client-api/src/story_store.ts
  lib/ui/scripts/webpackDllsConfig.js
  package.json
  yarn.lock
Labels: maintenance, yarn / npm

#11023 try/catch package.json resolve - fixes #10955
  lib/core/src/server/manager/manager-config.js
Labels: bug, composition

#11040 Update react-textarea-autosize & Remove @types/react-textarea-autosize
  addons/events/package.json
  lib/components/package.json
  yarn.lock
Labels: dependencies:update

#10944 fix the focus not showing up on the button
  lib/theming/src/global.ts
Labels: bug, theming, ui

#10971 fix ember double render
  app/ember/src/client/preview/render.ts
Labels: app: ember, bug

#10853 Fix issue with auto generated knobs for elements
  app/aurelia/src/client/preview/render.ts
  examples/aurelia-kitchen-sink/package.json
  examples/aurelia-kitchen-sink/src/cool-button/cool-button.html
  examples/aurelia-kitchen-sink/src/cool-button/cool-button.ts
  examples/aurelia-kitchen-sink/src/main.ts
  yarn.lock
Labels: app: aurelia, maintenance

#10957 fix port BUG in docs-addon docs
  addons/docs/angular/README.md
Labels: addon: docs, documentation

#10490 return early when there's no JSDoc for a component
  addons/docs/src/frameworks/ember/jsondoc.js
Labels: addon: docs, app: ember, bug

#11049 Docs: Percy Storybook
  docs/src/pages/testing/automated-visual-testing/index.md
Labels: documentation, patch

#11048 Controls: Fix null entry in options array handling
  lib/components/src/controls/options/Options.tsx
Labels: addon: controls, bug

#10972 Tech/colocate more stories
  app/aurelia/src/demo/index.ts
  lib/cli/src/.eslintrc.js
  lib/cli/src/frameworks/angular/0-Welcome.stories.ts
  lib/cli/src/frameworks/angular/1-Button.stories.ts
  lib/cli/src/frameworks/angular/button.component.ts
  lib/cli/src/frameworks/angular/welcome.component.ts
  lib/cli/src/frameworks/aurelia/0-Welcome.stories.ts
  lib/cli/src/frameworks/aurelia/1-Button.stories.ts
  lib/cli/src/frameworks/aurelia/button.ts
  lib/cli/src/frameworks/aurelia/welcome.ts
  lib/cli/src/frameworks/web-components/0-Welcome.stories.js
  lib/cli/src/frameworks/web-components/1-Button.stories.js
  lib/cli/src/generators/ANGULAR/index.ts
  lib/cli/src/generators/ANGULAR/template-csf/.storybook/main.js
  lib/cli/src/generators/ANGULAR/template-mdx/.storybook/main.js
  lib/cli/src/generators/ANGULAR/template-mdx/src/stories/0-Welcome.stories.mdx
  lib/cli/src/generators/ANGULAR/template-mdx/src/stories/1-Button.stories.mdx
  lib/cli/src/generators/AURELIA/index.ts
  lib/cli/src/generators/AURELIA/template-csf/.storybook/main.js
  lib/cli/src/generators/AURELIA/template-mdx/.storybook/main.js
  lib/cli/src/generators/AURELIA/template-mdx/src/stories/0-Welcome.stories.mdx
  lib/cli/src/generators/AURELIA/template-mdx/src/stories/1-Button.stories.mdx
  lib/cli/src/generators/REACT_NATIVE/index.ts
  lib/cli/src/generators/WEB-COMPONENTS/index.ts
  lib/cli/src/generators/WEB-COMPONENTS/template-csf/.storybook/preview.js
  lib/cli/src/generators/WEB-COMPONENTS/template/.storybook/main.js
  lib/cli/src/generators/generator.ts
Labels: cli, maintenance

#11070 Controls: Fix enum extraction (partial) for react-docgen-typescript
  addons/docs/src/lib/sbtypes/proptypes/convert.ts
  docs/src/pages/configurations/typescript-config/index.md
  lib/core/src/server/config/defaults.js
Labels: addon: controls, args, bug

#10843 Core: Zero-config Typescript e2e test
  lib/cli/src/generators/REACT/template-csf-ts/.storybook/main.js
  lib/cli/src/generators/REACT/template-csf-ts/src/stories/0-Welcome.stories.tsx
  lib/cli/src/generators/REACT/template-csf-ts/src/stories/1-Button.stories.tsx
  lib/cli/src/generators/WEBPACK_REACT/template-csf-ts/.storybook/main.js
  lib/cli/src/generators/WEBPACK_REACT/template-csf-ts/src/stories/0-Welcome.stories.tsx
  lib/cli/src/generators/WEBPACK_REACT/template-csf-ts/src/stories/1-Button.stories.tsx
  scripts/run-e2e-config.ts
  scripts/run-e2e.ts
Labels: core, maintenance

#11069 Addon-docs: Add `docs.forceExtractedArgTypes` parameter
  addons/controls/README.md
  addons/docs/src/frameworks/common/enhanceArgTypes.ts
Labels: addon: controls, addon: docs, args, feature request

#11076 Vue: Fix force rendering
  app/vue/src/client/preview/render.ts
  examples/vue-kitchen-sink/.storybook/main.js
  examples/vue-kitchen-sink/package.json
Labels: addon: controls, app: vue, bug

#11075 Expose addon title as a function in the interface + add number of knobs
  addons/controls/src/register.tsx
  addons/controls/src/title.ts
  addons/knobs/src/register.tsx
  addons/knobs/src/title.ts
  examples/react-ts/main.ts
  examples/react-ts/package.json
  lib/addons/src/index.ts
  lib/ui/src/components/panel/panel.tsx
  yarn.lock
Labels: addon: controls, addon: knobs, api: addons, feature request, ready

#10917 UI: Fix search in production mode
  lib/core/src/client/preview/loadCsf.ts
Labels: bug

#11095 docs: mention env vars on custom head/body pages
  docs/src/pages/configurations/add-custom-body/index.md
  docs/src/pages/configurations/add-custom-head-tags/index.md
Labels: documentation, patch

#11086 removed @babel/plugin-transform-react-constant-elements fixes #11060
  .babelrc.js
  app/react/package.json
  app/react/src/server/framework-preset-react.ts
  docs/src/pages/configurations/custom-webpack-config/index.md
  docs/src/pages/configurations/default-config/index.md
  examples/official-storybook/main.ts
  lib/core/package.json
  package.json
  yarn.lock
Labels: bug

#11087 CLI: Pass --quiet to disable HMR logging in browser console
  lib/core/src/server/preview/preview-preset.js
Labels: cli, feature request

#11063 Core: Add babel plugin for typescript decorators
  lib/core/package.json
  lib/core/src/server/common/babel.js
Labels: babel / webpack, feature request, typescript

#11121 Update index.md
  docs/src/pages/guides/guide-vue/index.md
Labels: documentation, patch

#11096 Core: Fix loglevel filtering
  addons/links/src/preview.test.js
  examples/angular-cli/.storybook/main.js
  examples/aurelia-kitchen-sink/.storybook/main.js
  examples/cra-kitchen-sink/.storybook/main.js
  examples/cra-react15/.storybook/main.js
  examples/cra-ts-essentials/.storybook/main.js
  examples/cra-ts-kitchen-sink/.storybook/main.ts
  examples/dev-kits/main.js
  examples/ember-cli/.storybook/main.js
  examples/html-kitchen-sink/.storybook/main.js
  examples/marko-cli/.storybook/main.js
  examples/mithril-kitchen-sink/.storybook/main.js
  examples/official-storybook/main.ts
  examples/preact-kitchen-sink/.storybook/main.js
  examples/rax-kitchen-sink/.storybook/main.js
  examples/react-ts/main.ts
  examples/riot-kitchen-sink/.storybook/main.js
  examples/server-kitchen-sink/.storybook/main.js
  examples/svelte-kitchen-sink/.storybook/main.js
  examples/vue-cli/.storybook/main.js
  examples/vue-kitchen-sink/.storybook/main.js
  examples/web-components-kitchen-sink/.storybook/main.js
  lib/client-logger/package.json
  lib/client-logger/src/index.test.ts
  lib/client-logger/src/index.ts
Labels: bug, core

#10599 CHANGE isToolshown logic so it hides toolbar if there's only (hidden) canvas
  lib/ui/src/components/preview/preview.tsx
Labels: bug, ui

#11111 Add deprecation message for selectedName/Kind urls
  lib/core/src/client/preview/url.ts
Labels: maintenance

#11112 Check window parent isn't window (i.e not really a parent)
  lib/channel-postmessage/src/index.ts
Labels: bug

#11092 Core: Fix package duplication issues by aliasing all storybook packages
  examples/cra-kitchen-sink/.storybook/main.js
  examples/cra-react15/.storybook/main.js
  examples/cra-ts-essentials/.storybook/main.js
  examples/cra-ts-kitchen-sink/.storybook/main.ts
  lib/core/package.json
  lib/core/src/server/manager/manager-webpack.config.js
  lib/core/src/server/preview/iframe-webpack.config.js
Labels: bug, core

#11115 Vue: Add first-class args support
  addons/storyshots/storyshots-core/src/frameworks/vue/renderTree.ts
  app/vue/src/client/preview/render.ts
  app/vue/src/client/preview/types.ts
  examples/vue-kitchen-sink/src/stories/components/button.stories.js
Labels: app: vue, feature request

#11106 React: Switch react-docgen-typescript-loader to react-docgen-typescript-plugin
  addons/docs/react/README.md
  addons/docs/src/lib/sbtypes/proptypes/convert.ts
  app/react/package.json
  app/react/src/server/framework-preset-react-docgen.ts
  docs/src/pages/configurations/typescript-config/index.md
  examples/cra-ts-kitchen-sink/package.json
  lib/core/types/index.ts
  yarn.lock
Labels: app: react, babel / webpack, typescript

#11057 FIX auto refs when there are no specified refs
  lib/core/src/server/manager/manager-config.js
Labels: bug

#11133 docs: update grammar
  README.md
Labels: documentation, patch

#11140 Typescript: Update react-docgen-typescript-plugin
  addons/docs/src/lib/sbtypes/proptypes/convert.ts
  app/react/package.json
  examples/cra-ts-kitchen-sink/package.json
  yarn.lock
Labels: dependencies, typescript

#11138 Addon-docs: Fix Vue args rendering in Docs mode
  addons/docs/docs/docspage.md
  addons/docs/docs/multiframework.md
  addons/docs/src/blocks/Story.tsx
  addons/docs/src/frameworks/vue/config.tsx
  examples/vue-kitchen-sink/src/stories/components/__snapshots__/button.stories.storyshot
  examples/vue-kitchen-sink/src/stories/components/button.stories.js
Labels: addon: docs, app: vue, args, bug

#11143 REMOVE unused dependencies && FIX versions
  lib/addons/package.json
  lib/api/src/version.ts
  lib/cli/package.json
  lib/cli/versions.json
  lib/client-api/package.json
  lib/components/package.json
  lib/core/package.json
  lib/router/package.json
  lib/ui/package.json
  yarn.lock
Labels: maintenance

#11160 [documentation] Add Visual Regression Tracker
  docs/src/pages/testing/automated-visual-testing/index.md
Labels: documentation

#11155 UI: Remove unused & duplicated code
  lib/api/shortcut.d.ts
  lib/api/shortcut.js
  lib/api/src/lib/shortcut.ts
  lib/ui/src/containers/menu.tsx
  lib/ui/src/libs/merge.ts
  lib/ui/src/libs/shortcut.ts
  lib/ui/src/libs/withLifecycleDecorator.tsx
  lib/ui/src/settings/shortcuts.tsx
Labels: maintenance, performance issue, ui

#11159 UI: Remove unused modules
  lib/ui/src/keyboard/keyCodes.ts
  lib/ui/src/keyboard/keyModel.ts
  lib/ui/src/keyboard/platform.ts
  lib/ui/src/keyboard/scanCode.ts
Labels: maintenance, performance issue, ui

#11162 Client-API: Add @types/qs typings
  lib/client-api/package.json
Labels: bug, typescript

#11169 Remove @next to ensure same version is installed
  addons/docs/vue/README.md
Labels: documentation

#11164 Build: Exclude stories from collecting coverage
  jest.config.js
Labels: maintenance

#11154 Addon-docs: Fix forwardRef & invalid hook call
  addons/docs/src/frameworks/react/extractProps.ts
Labels: addon: docs, app: react, args, bug

#11174 Addon-docs: Add argTypes type/control shorthand
  addons/controls/README.md
  addons/controls/src/components/ControlsPanel.tsx
  addons/controls/src/title.ts
  addons/docs/docs/props-tables.md
  addons/docs/src/frameworks/common/enhanceArgTypes.ts
  addons/docs/src/frameworks/common/normalizeArgTypes.ts
  examples/vue-kitchen-sink/src/stories/components/button.stories.js
Labels: addon: controls, addon: docs, args, feature request

#11175 Core: Remove boxSizing to fix weird CSS layouts
  lib/core/src/client/preview/StoryRenderer.tsx
Labels: bug, ui

#11156 Core: Extend router/utils test set
  lib/router/src/utils.test.ts
  lib/router/src/utils.ts
Labels: core, maintenance

#10959 Addon-docs: Fix 'show source' for stories with dynamic title
  addons/docs/src/blocks/enhanceSource.test.ts
  addons/docs/src/blocks/enhanceSource.ts
  examples/official-storybook/stories/addon-docs/dynamic-title.stories.js
  lib/source-loader/src/abstract-syntax-tree/__snapshots__/inject-decorator.csf.test.js.snap
  lib/source-loader/src/abstract-syntax-tree/__snapshots__/inject-decorator.test.js.snap
  lib/source-loader/src/abstract-syntax-tree/parse-helpers.js
  lib/source-loader/src/abstract-syntax-tree/traverse-helpers.js
Labels: addon: docs, block: source, bug

#11185 MDX: Don't use root babelrc by default
  addons/docs/src/frameworks/common/preset.ts
Labels: addon: docs, babel / webpack, bug, mdx

#11183 Addon-docs: Add syntax highlighting to Code and Description blocks
  examples/official-storybook/components/DocgenButton.js
  lib/components/src/typography/DocumentFormatting.tsx
Labels: addon: docs, block: other, feature request

#11055 Core: Add global box-sizing setting. Fixes #10207
  lib/core/src/server/templates/base-manager-head.html
Labels: bug, ui

#11178 Core: Fix addon load order
  lib/api/src/version.ts
  lib/core/src/server/presets.js
  lib/core/src/server/presets.test.js
Labels: api: addons, bug, core, ui

#11195 Addon-docs: Remove render for react components missing docgen
  addons/docs/src/frameworks/react/extractProps.ts
Labels: addon: docs, bug

#11198 MDX: Support function.bind({}) syntax
  addons/docs/src/mdx/__testfixtures__/story-args.mdx
  addons/docs/src/mdx/__testfixtures__/story-args.output.snapshot
  addons/docs/src/mdx/mdx-compiler-plugin.js
Labels: addon: docs, args, feature request, mdx

#11209 Update Readme
  README.md
Labels: documentation, patch

#11196 REMOVE the manual redirects
  lib/api/src/modules/refs.ts
Labels: bug, composition

#11184 React: Load root tsconfig.json into docgen-typescript if none provided
  app/react/package.json
  examples/cra-ts-kitchen-sink/package.json
  yarn.lock
Labels: app: react, bug, typescript

#11217 React: Fix react-docgen for JS files
  app/react/src/server/framework-preset-react-docgen.ts
Labels: app: react, block: props, bug

#11202 Addon-knobs: Update select types for undefined, null and boolean
  addons/knobs/src/__types__/knob-test-cases.ts
  addons/knobs/src/components/types/Select.tsx
Labels: addon: knobs, typescript

#11081 ADD design-system to official example
  examples/official-storybook/package.json
  lib/api/src/version.ts
  lib/cli/versions.json
  scripts/verdaccio.yaml
  yarn.lock
Labels: maintenance

#11215 Fix/refs rename auth url & add tests for modules/refs
  docs/src/pages/configurations/composition/index.md
  lib/api/src/modules/refs.ts
  lib/api/src/tests/ref-mockdata.login-required.json
  lib/api/src/tests/refs.test.js
  lib/api/src/version.ts
  lib/ui/src/components/sidebar/RefBlocks.tsx
  lib/ui/src/components/sidebar/Refs.tsx
  lib/ui/src/components/sidebar/Sidebar.stories.tsx
Labels: composition, maintenance

#11242 Update typescript-config docs
  docs/src/pages/configurations/typescript-config/index.md
Labels: documentation

#11225 Preact: Fix Preact 8 compatibility
  app/preact/package.json
  app/preact/src/client/preview/render.tsx
Labels: app: preact, bug

#11249 Updates React Guide with Gatsby config link
  docs/src/pages/guides/guide-react/index.md
Labels: documentation, patch

#11080 Core: Improve startup events
  MIGRATION.md
  addons/queryparams/src/index.ts
  lib/addons/src/hooks.ts
  lib/api/src/modules/stories.ts
  lib/api/src/tests/stories.test.js
  lib/channel-postmessage/src/index.ts
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/client-api/src/types.ts
  lib/core-events/src/index.ts
  lib/core/README.md
  lib/core/src/client/preview/StoryRenderer.test.ts
  lib/core/src/client/preview/StoryRenderer.tsx
  lib/core/src/client/preview/start.test.ts
  lib/core/src/client/preview/start.ts
  lib/core/src/client/preview/url.test.ts
  lib/core/src/client/preview/url.ts
Labels: api: stories, core, feature request

#11216 ArgsTable: Add subsections and design cleanup
  addons/controls/src/components/ControlsPanel.tsx
  lib/components/src/Button/Button.tsx
  lib/components/src/blocks/ArgsTable/ArgRow.stories.tsx
  lib/components/src/blocks/ArgsTable/ArgRow.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.stories.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.tsx
  lib/components/src/blocks/ArgsTable/SectionRow.stories.tsx
  lib/components/src/blocks/ArgsTable/SectionRow.tsx
  lib/components/src/blocks/ArgsTable/TabbedArgsTable.stories.tsx
  lib/components/src/blocks/ArgsTable/TabbedArgsTable.tsx
  lib/components/src/blocks/ArgsTable/types.ts
  lib/components/src/blocks/EmptyBlock.tsx
  lib/components/src/controls/Array.tsx
  lib/components/src/controls/Color.tsx
  lib/components/src/controls/Date.tsx
  lib/components/src/controls/Number.tsx
  lib/components/src/controls/Object.tsx
  lib/components/src/controls/Range.tsx
  lib/components/src/controls/Text.tsx
  lib/components/src/controls/options/Checkbox.tsx
  lib/components/src/controls/options/Radio.tsx
  lib/components/src/controls/options/Select.tsx
  lib/components/src/controls/options/helpers.ts
  lib/components/src/form/input/input.tsx
  lib/components/src/tabs/tabs.tsx
Labels: addon: docs, block: props, feature request

#11150 Preserve watch output when running dev mode
  examples/cra-ts-kitchen-sink/.storybook/main.ts
  scripts/utils/compile-tsc.js
Labels: maintenance

#11263 ArgsTable: Updated Boolean control
  addons/controls/src/components/ControlsPanel.tsx
  addons/controls/src/components/NoControlsWarning.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.stories.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.tsx
  lib/components/src/blocks/ArgsTable/NoControlsWarning.tsx
  lib/components/src/blocks/ArgsTable/SectionRow.stories.tsx
  lib/components/src/blocks/ArgsTable/index.ts
  lib/components/src/blocks/Description.stories.tsx
  lib/components/src/controls/Boolean.tsx
Labels: maintenance, ui

#11251 Replace document.execCommand with navigator.clipboard
  lib/components/src/syntaxhighlighter/syntaxhighlighter.tsx
Labels: maintenance, ui

#11265 Addon-backgrounds: Allow gradients in story preview
  addons/backgrounds/src/containers/BackgroundSelector.tsx
Labels: addon: backgrounds, feature request

#11262 Client-logger: Replace magic numbers with constants
  lib/client-logger/src/index.ts
Labels: cleanup, core

#11284 Addon-docs: Simplify argType inference
  addons/controls/README.md
  addons/docs/src/frameworks/common/enhanceArgTypes.test.ts
  addons/docs/src/frameworks/common/enhanceArgTypes.ts
Labels: BREAKING PRERELEASE, addon: docs, args, maintenance

#11285 Essentials: Add addon-controls
  addons/essentials/README.md
  addons/essentials/package.json
  addons/essentials/src/index.ts
  examples/cra-ts-essentials/src/stories/1-Button.stories.tsx
Labels: addon: controls, addon: essentials, feature request

#11280 fix(addon-docs): markdown tables right align support
  lib/components/src/typography/DocumentFormatting.tsx
Labels: addon: docs, bug, theming

#11293 Composition: Fix undefined/undefined in url on init
  lib/api/src/modules/stories.ts
  lib/api/src/version.ts
  lib/cli/versions.json
  lib/client-api/src/story_store.ts
  lib/ui/src/components/preview/FramesRenderer.tsx
Labels: bug, client-api, ui

#11259 Composition: Fix list of versions missing current version
  lib/ui/src/components/sidebar/RefIndicator.tsx
  lib/ui/src/components/sidebar/Sidebar.stories.tsx
Labels: bug, composition

#11303 CLI: Fix docs & essentials version on `sb@next init`
  lib/cli/package.json
Labels: bug, cli

#11305 Essentials example: Fix typescript error
  examples/cra-ts-essentials/src/stories/1-Button.stories.tsx
Labels: addon: essentials, maintenance

#11300 Controls: Style refinements
  lib/components/src/Button/Button.tsx
  lib/components/src/controls/Boolean.tsx
  lib/components/src/controls/Date.tsx
  lib/components/src/form/input/input.tsx
Labels: cleanup, ui

#11298 Tech/recreate stories for sidebaritem
  lib/ui/src/components/sidebar/Tree/ListItem.stories.tsx
Labels: maintenance, ui

#11317 Set viewMode to story when calling selectStory from non story pages
  lib/api/src/modules/stories.ts
  lib/api/src/tests/stories.test.js
Labels: bug

#11313 Update documentation, bug in angular section of readme file
  addons/jest/README.md
Labels: app: angular, documentation

#11319 Bump react-textarea-autosize to 8.1.1
  addons/events/package.json
  lib/components/package.json
  yarn.lock
Labels: dependencies

#11320 Revert "Core: Fix source-map strategy for production"
  lib/core/src/server/preview/iframe-webpack.config.js
Labels: bug, core, performance issue

#11322 Core: Deprecate `setAddon` from `storiesOf` API
  MIGRATION.md
  examples/cra-react15/src/stories/welcome.stories.js
  lib/client-api/package.json
  lib/client-api/src/client_api.ts
Labels: BREAKING CHANGE, client-api, core

#11347 docs: remove deprecated addon
  ADDONS_SUPPORT.md
  README.md
  addons/docs/docs/docspage.md
  docs/src/new-components/basics/shared/site.js
  docs/src/pages/addons/addon-gallery/index.md
  docs/src/pages/addons/using-addons/index.md
  docs/src/pages/addons/writing-addons/index.md
  docs/src/pages/basics/writing-stories/index.md
Labels: documentation

#11337 Preview-body: Fix misleading docs
  docs/src/pages/configurations/add-custom-body/index.md
Labels: documentation, patch

#11333 Core: Fix preset options handling
  addons/docs/src/frameworks/common/preset.ts
  addons/docs/src/preset.ts
  lib/core/src/server/presets.js
Labels: addon: docs, bug, core

#11334 Addon-docs: Add opt-in Markdown transclusion in MDX
  addons/docs/src/frameworks/common/preset.ts
  examples/official-storybook/main.ts
  examples/official-storybook/stories/addon-docs/addon-docs.stories.mdx
  lib/components/src/blocks/Description.stories.tsx
  lib/components/src/typography/DocumentWrapper.stories.tsx
Labels: addon: docs, feature request, mdx

#11344 Configuration: Remove hierarchy separators
  MIGRATION.md
  addons/docs/src/blocks/DocsPage.test.ts
  addons/docs/src/blocks/Title.tsx
  docs/src/pages/configurations/options-parameter/index.md
  examples/angular-cli/.storybook/manager.js
  examples/aurelia-kitchen-sink/.storybook/manager.js
  examples/aurelia-kitchen-sink/.storybook/preview.ts
  examples/cra-ts-kitchen-sink/.storybook/preview.ts
  examples/ember-cli/.storybook/preview.js
  examples/html-kitchen-sink/.storybook/preview.js
  examples/marko-cli/.storybook/manager.js
  examples/mithril-kitchen-sink/.storybook/manager.js
  examples/official-storybook/manager.js
  examples/preact-kitchen-sink/.storybook/manager.js
  examples/rax-kitchen-sink/.storybook/manager.js
  examples/riot-kitchen-sink/.storybook/manager.js
  examples/server-kitchen-sink/.storybook/preview.js
  examples/svelte-kitchen-sink/.storybook/manager.js
  examples/vue-kitchen-sink/.storybook/manager.js
  lib/addons/src/types.ts
  lib/api/src/lib/stories.ts
  lib/api/src/tests/stories.test.js
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/client_api.ts
Labels: BREAKING CHANGE, configuration

#11295 ADD dual theme rendering
  examples/official-storybook/package.json
  examples/official-storybook/preview.js
  lib/api/src/version.ts
  lib/cli/versions.json
  lib/components/src/Button/Button.tsx
  lib/components/src/blocks/ArgsTable/SectionRow.stories.tsx
  lib/components/src/blocks/ArgsTable/SectionRow.tsx
  lib/components/src/blocks/EmptyBlock.tsx
  lib/components/src/blocks/IconGallery.tsx
  lib/components/src/controls/Boolean.tsx
  lib/components/src/controls/Date.tsx
  lib/components/src/controls/options/Select.tsx
  lib/components/src/form/input/input.tsx
  lib/theming/src/convert.ts
  lib/ui/package.json
  lib/ui/src/components/sidebar/Brand.tsx
  lib/ui/src/components/sidebar/Heading.stories.tsx
  lib/ui/src/components/sidebar/Heading.tsx
  lib/ui/src/components/sidebar/Sidebar.stories.tsx
  lib/ui/src/components/sidebar/Sidebar.tsx
  lib/ui/src/components/sidebar/Tree/ListItem.stories.tsx
  package.json
  yarn.lock
Labels: maintenance, theming

#11345 Args: Store global args in session storage
  lib/client-api/package.json
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
Labels: args, feature request

#11224 Composition QA
  lib/components/src/Button/Button.tsx
  lib/ui/src/components/sidebar/RefBlocks.tsx
  lib/ui/src/components/sidebar/RefIndicator.tsx
  lib/ui/src/components/sidebar/Refs.stories.tsx
  lib/ui/src/components/sidebar/Refs.tsx
  lib/ui/src/components/sidebar/Sidebar.stories.tsx
  lib/ui/src/components/sidebar/Sidebar.tsx
  lib/ui/src/components/sidebar/Tree/ListItem.tsx
Labels: cleanup, ui

#11332 Addon-docs: Dynamic Source rendering for React
  addons/docs/package.json
  addons/docs/src/blocks/DocsContainer.tsx
  addons/docs/src/blocks/Preview.tsx
  addons/docs/src/blocks/Source.tsx
  addons/docs/src/blocks/SourceContainer.tsx
  addons/docs/src/frameworks/common/preset.ts
  addons/docs/src/frameworks/react/config.ts
  addons/docs/src/frameworks/react/jsxDecorator.test.tsx
  addons/docs/src/frameworks/react/jsxDecorator.tsx
  addons/docs/src/frameworks/react/lib/defaultValues/createFromRawDefaultProp.ts
  addons/docs/src/shared.ts
  addons/docs/src/typings.d.ts
  examples/official-storybook/stories/addon-controls.stories.tsx
  lib/components/src/blocks/Source.tsx
  lib/ui/src/components/layout/mobile.stories.tsx
  yarn.lock
Labels: addon: docs, app: react, block: source, feature request
