Repository storybookjs/storybook, pull requests merged in 2020-07, with the labels that each got.

#11369 CSF: Forbid duplicate kinds
  MIGRATION.md
  addons/docs/docs/recipes.md
  examples/official-storybook/stories/addon-docs/csf-with-mdx-docs.stories.js
  lib/core/src/client/preview/loadCsf.ts
Labels: BREAKING CHANGE, core, csf

#11365 Build: Add artifacts for e2e CI task
  .circleci/config.yml
Labels: maintenance

#11370 Build-storybook: Document static directory workaround
  docs/src/pages/configurations/serving-static-files/index.md
  examples/cra-ts-kitchen-sink/public/public
Labels: build-storybook, documentation, patch

#11385 Args: Rename `globalArgs` to `globals`
  addons/docs/src/blocks/enhanceSource.test.ts
  addons/docs/src/frameworks/common/enhanceArgTypes.test.ts
  addons/toolbars/README.md
  addons/toolbars/src/components/MenuToolbar.tsx
  addons/toolbars/src/components/ToolbarManager.tsx
  app/vue/src/client/preview/index.ts
  examples/dev-kits/manager.js
  examples/dev-kits/stories/addon-useglobalargs.js
  examples/official-storybook/preview.js
  examples/official-storybook/stories/addon-toolbars.stories.js
  examples/official-storybook/stories/core/globals.stories.js
  examples/vue-kitchen-sink/src/stories/__snapshots__/custom-decorators.stories.storyshot
  lib/addons/src/hooks.ts
  lib/addons/src/types.ts
  lib/api/src/index.tsx
  lib/api/src/lib/stories.ts
  lib/api/src/modules/globals.ts
  lib/api/src/tests/globals.test.ts
  lib/api/src/version.ts
  lib/cli/src/extract.ts
  lib/cli/versions.json
  lib/client-api/README.md
  lib/client-api/src/decorators.ts
  lib/client-api/src/hooks.test.js
  lib/client-api/src/hooks.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/client-api/src/types.ts
  lib/core-events/src/index.ts
  lib/core/src/client/preview/StoryRenderer.tsx
  lib/core/src/server/preview/virtualModuleEntry.template.js
Labels: BREAKING PRERELEASE, args, maintenance

#11364 Add/composition auto disable
  lib/core/src/server/manager/manager-config.js
Labels: composition, feature request

#11388 Args: Disable rows and controls in argTypes
  addons/controls/README.md
  examples/official-storybook/stories/addon-controls.stories.tsx
  lib/components/package.json
  lib/components/src/blocks/ArgsTable/ArgControl.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.tsx
Labels: args, feature request

#11389 Create SECURITY.md security policy
  SECURITY.md
Labels: documentation, patch, security

#11396 CLI: Add upgrade utility with version consistency check
  lib/cli/src/generate.ts
  lib/cli/src/upgrade.test.ts
  lib/cli/src/upgrade.ts
Labels: cli, feature request

#11387 Core: Deprecate immutable options as parameters
  MIGRATION.md
  lib/api/src/modules/layout.ts
  lib/api/src/modules/stories.ts
Labels: core, maintenance

#11410 Build: Fix CI breaks
  cypress/integration/knobs.spec.ts
  examples/cra-ts-kitchen-sink/public/public
  examples/official-storybook/package.json
  lib/core/src/server/build-dev.js
  lib/core/src/server/dev-server.js
  lib/core/src/server/manager/manager-webpack.config.js
Labels: maintenance

#11414 Addon-docs: Fix Source rendering corner case
  addons/docs/src/blocks/Source.tsx
  addons/docs/src/blocks/SourceContainer.tsx
Labels: addon: docs, block: source, bug

#11415 Addon-docs: Fix subcomponents display logic
  addons/docs/src/blocks/Props.tsx
  examples/official-storybook/stories/addon-docs/props.stories.mdx
Labels: BREAKING PRERELEASE, addon: docs, args, block: props, bug

#11417 Deprecate `addParameters` and `addDecorator`
  MIGRATION.md
  examples/official-storybook/preview.js
  lib/client-api/src/client_api.ts
  lib/core/src/server/preview/virtualModuleEntry.template.js
Labels: maintenance

#11420 Addon-docs: Fix Props subcomponents regression
  addons/docs/src/blocks/Props.tsx
Labels: addon: docs, args, block: props, bug

#11390 Core: Remove manager redirects on boot
  lib/api/src/modules/url.ts
  lib/api/src/tests/url.test.js
  lib/router/src/router.tsx
  lib/ui/src/app.stories.tsx
  lib/ui/src/components/preview/preview.mockdata.tsx
  lib/ui/src/components/preview/preview.stories.tsx
  lib/ui/src/index.tsx
Labels: core, maintenance

#11407 Ignore globals from non-local refs
  lib/addons/src/hooks.ts
  lib/api/src/modules/globals.ts
  lib/api/src/tests/globals.test.ts
  lib/client-api/src/hooks.test.js
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
Labels: feature request

#11430 Controls: Fix interaction lag & CJK input
  lib/components/src/blocks/ArgsTable/ArgControl.tsx
  lib/components/src/controls/Array.tsx
  lib/components/src/controls/Boolean.tsx
  lib/components/src/controls/Color.tsx
  lib/components/src/controls/Date.tsx
  lib/components/src/controls/Number.tsx
  lib/components/src/controls/Object.tsx
  lib/components/src/controls/Range.tsx
  lib/components/src/controls/Text.tsx
  lib/components/src/controls/types.ts
Labels: addon: controls, bug

#11432 Controls: Fix object control for story switching
  examples/official-storybook/stories/addon-controls.stories.tsx
  lib/components/src/controls/Object.tsx
Labels: addon: controls, bug

#11368 Core: Consistent file paths for locally-defined addons
  MIGRATION.md
  examples/cra-ts-kitchen-sink/.storybook/localAddon/preset.ts
  examples/cra-ts-kitchen-sink/.storybook/localAddon/register.tsx
  examples/cra-ts-kitchen-sink/.storybook/main.ts
  lib/core/src/server/presets.js
  lib/core/src/server/presets.test.js
Labels: BREAKING CHANGE, configuration

#11431 Core: Deprecate configure and clearDecorators
  MIGRATION.md
  app/angular/src/client/preview/index.ts
  app/aurelia/src/client/preview/index.ts
  app/ember/src/client/preview/index.ts
  app/html/src/client/preview/index.ts
  app/marko/src/client/preview/index.js
  app/mithril/src/client/preview/index.ts
  app/preact/src/client/preview/index.ts
  app/rax/src/client/preview/index.js
  app/react/src/client/preview/index.ts
  app/riot/src/client/preview/index.js
  app/svelte/src/client/preview/index.ts
  app/vue/src/client/preview/index.ts
  app/web-components/src/client/preview/index.ts
  lib/client-api/src/client_api.ts
  lib/client-api/src/config_api.ts
  lib/core/src/client/preview/loadCsf.test.ts
  lib/core/src/client/preview/loadCsf.ts
  lib/core/src/server/preview/virtualModuleStory.template.js
Labels: feature request

#11401 Composition: Ensure args get sent to the right ref
  lib/addons/src/hooks.ts
  lib/api/src/index.tsx
  lib/api/src/modules/refs.ts
  lib/api/src/modules/stories.ts
  lib/api/src/tests/stories.test.js
  lib/client-api/src/hooks.test.js
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/core/src/server/manager/manager-config.js
Labels: args, composition, feature request

#11438 Knobs is not the accessibility addon
  MIGRATION.md
Labels: cleanup, documentation

#11445 docs(storybook-server): update examples url
  app/server/README.md
Labels: app: server, documentation

#11448 Addon-docs: Fix babel jsx handling for MDX
  MIGRATION.md
  addons/docs/src/frameworks/common/preset.ts
Labels: BREAKING CHANGE, addon: docs, patch

#11444 Fix Yarn 2 compatibility in CLI and Essentials
  addons/essentials/src/index.ts
  lib/cli/src/generators/REACT_SCRIPTS/index.ts
Labels: addon: essentials, cli, maintenance, yarn / npm

#11454 Update README.md
  README.md
Labels: documentation, patch

#11392 Composition: Change event source to ref
  lib/api/src/lib/events.ts
  lib/api/src/lib/stories.ts
  lib/api/src/modules/globals.ts
  lib/api/src/modules/refs.ts
  lib/api/src/modules/stories.ts
  lib/api/src/tests/events.test.ts
  lib/api/src/tests/globals.test.ts
  lib/api/src/tests/stories.test.js
  lib/channel-postmessage/package.json
  lib/channel-postmessage/src/index.ts
  lib/core/src/client/preview/start.test.ts
  lib/ui/src/components/preview/FramesRenderer.tsx
Labels: BREAKING PRERELEASE, composition

#11455 Addon-docs: Remove deprecated addParameters calls
  addons/docs/src/frameworks/angular/config.ts
  addons/docs/src/frameworks/ember/config.js
  addons/docs/src/frameworks/vue/config.tsx
  addons/docs/src/frameworks/web-components/config.js
Labels: addon: docs, maintenance

#11458 Addon-controls: Add addon-docs check on startup
  addons/controls/package.json
  addons/controls/src/preset/ensureDocsBeforeControls.test.ts
  addons/controls/src/preset/ensureDocsBeforeControls.ts
  addons/controls/src/preset/index.ts
  addons/controls/tsconfig.json
Labels: addon: controls, maintenance

#11460 Addon-backgrounds: Zero config defaults
  MIGRATION.md
  addons/backgrounds/README.md
  addons/backgrounds/preset.js
  addons/backgrounds/src/preset/defaultParameters.tsx
  addons/backgrounds/src/preset/index.ts
  examples/cra-ts-essentials/.storybook/main.js
Labels: BREAKING CHANGE, addon: backgrounds

#11456 Args: Rename Story/XStory to Template
  addons/controls/README.md
  addons/docs/src/mdx/__testfixtures__/story-args.mdx
  addons/docs/src/mdx/__testfixtures__/story-args.output.snapshot
  examples/angular-cli/src/stories/addon-controls.stories.ts
  examples/cra-ts-essentials/src/stories/1-Button.stories.tsx
  examples/ember-cli/stories/addon-controls.stories.js
  examples/html-kitchen-sink/stories/addon-controls.stories.js
  examples/official-storybook/stories/addon-controls.stories.tsx
  examples/official-storybook/stories/addon-docs/props.stories.mdx
  examples/svelte-kitchen-sink/src/stories/addon-controls.stories.js
  examples/vue-kitchen-sink/src/stories/addon-controls.stories.js
  examples/vue-kitchen-sink/src/stories/addon-controls.stories.mdx
  examples/vue-kitchen-sink/src/stories/components/button.stories.js
  examples/web-components-kitchen-sink/stories/addon-controls.stories.js
  lib/cli/src/frameworks/angular/1-Button.stories.ts
  lib/cli/src/frameworks/aurelia/1-Button.stories.ts
  lib/cli/src/frameworks/ember/1-Button.stories.js
  lib/cli/src/frameworks/html/1-Button.stories.js
  lib/cli/src/frameworks/mithril/1-Button.stories.js
  lib/cli/src/frameworks/preact/1-Button.stories.js
  lib/cli/src/frameworks/rax/1-Button.stories.js
  lib/cli/src/frameworks/react/js/1-Button.stories.js
  lib/cli/src/frameworks/react/ts/1-Button.stories.tsx
  lib/cli/src/frameworks/riot/1-Button.stories.js
  lib/cli/src/frameworks/svelte/1-button.stories.js
  lib/cli/src/frameworks/vue/1-Button.stories.js
  lib/cli/src/frameworks/web-components/1-Button.stories.js
  lib/components/src/blocks/ArgsTable/ArgRow.stories.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.stories.tsx
  lib/components/src/blocks/ArgsTable/SectionRow.stories.tsx
  lib/components/src/blocks/ArgsTable/TabbedArgsTable.stories.tsx
  lib/components/src/blocks/Description.stories.tsx
Labels: args, documentation

#11360 UI: Add version release notes
  lib/api/src/index.tsx
  lib/api/src/modules/release-notes.ts
  lib/api/src/modules/settings.ts
  lib/api/src/modules/stories.ts
  lib/api/src/modules/url.ts
  lib/api/src/tests/stories.test.js
  lib/core/src/server/build-dev.js
  lib/core/src/server/build-dev.test.js
  lib/core/src/server/cli/dev.js
  lib/core/src/server/manager/manager-webpack.config.js
  lib/ui/src/containers/menu.tsx
  lib/ui/src/settings/about.stories.js
  lib/ui/src/settings/about.tsx
  lib/ui/src/settings/about_page.tsx
  lib/ui/src/settings/index.tsx
  lib/ui/src/settings/release_notes.stories.tsx
  lib/ui/src/settings/release_notes.tsx
  lib/ui/src/settings/release_notes_page.tsx
  lib/ui/src/settings/shortcuts.stories.tsx
  lib/ui/src/settings/shortcuts.test.js
  lib/ui/src/settings/shortcuts.tsx
  lib/ui/src/settings/shortcuts_page.tsx
Labels: feature request, ui

#11447 Composition: Add version query to composed ref
  lib/api/src/modules/refs.ts
  lib/api/src/tests/refs.test.js
  lib/core/src/server/manager/manager-config.js
  lib/ui/src/components/preview/FramesRenderer.tsx
Labels: composition, feature request

#11473 (SB tests) Fix iframe test flake
  lib/ui/src/components/preview/iframe.stories.tsx
Labels: maintenance

#11475 Addon-toolbars: Show name if there is no icon
  addons/toolbars/src/components/MenuToolbar.tsx
Labels: addon: toolbars, bug

#11476 CSF: Deprecate duplicate titles rather than forbid them
  MIGRATION.md
  examples/official-storybook/stories/addon-docs/csf-with-mdx-docs.stories.js
  examples/official-storybook/stories/addon-docs/csf-with-mdx-docs.stories.mdx
  lib/core/src/client/preview/loadCsf.ts
Labels: csf, maintenance

#11471 UI: Increase max-height of menu tooltip so scrollbars don't appear
  docs/src/new-components/basics/tooltip/TooltipLinkList.js
  lib/components/src/tooltip/TooltipLinkList.tsx
Labels: bug, ui

#11490 Deprecate addon-options in README
  README.md
Labels: documentation

#11495 Addon-docs: Fix MDX handling to ignore babel.config.js
  addons/docs/src/frameworks/common/preset.ts
Labels: addon: docs, bug, mdx

#11491 Composition: Fix syntax on `no-cors`
  lib/api/src/modules/refs.ts
  lib/api/src/tests/refs.test.js
Labels: bug, composition

#11469 UI: Fix menu alignment regression
  lib/ui/src/components/sidebar/Menu.tsx
Labels: bug, ui

#11503 Addon-docs: Remove undefined for optional values in Typescript Props
  app/react/package.json
  app/server/package.json
  examples/cra-ts-essentials/package.json
  examples/cra-ts-kitchen-sink/.storybook/main.ts
  examples/cra-ts-kitchen-sink/package.json
  examples/official-storybook/components/OptionalButton.tsx
  examples/official-storybook/stories/addon-docs/props.stories.mdx
  lib/core/src/server/config/defaults.js
  yarn.lock
Labels: addon: docs, app: react, block: props, bug, typescript

#11497 Composition: Don't show versions dropdown if there are no versions
  lib/ui/src/components/sidebar/RefIndicator.tsx
Labels: bug, composition

#11528 Update link to presets/introduction
  docs/src/pages/configurations/overview/index.md
Labels: documentation, patch

#11519 Core: Add args reset API
  examples/official-storybook/stories/core/args.stories.js
  lib/addons/src/hooks.ts
  lib/api/src/index.tsx
  lib/api/src/modules/stories.ts
  lib/api/src/tests/stories.test.js
  lib/client-api/src/hooks.test.js
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/client-api/src/types.ts
  lib/core-events/src/index.ts
Labels: args, feature request

#11549 Update webpack config example to include module sass files
  docs/src/pages/configurations/custom-webpack-config/index.md
Labels: documentation, patch

#11552 Addon-Docs: Fix ArgsTable controls on Docs tab
  addons/docs/src/blocks/Props.tsx
  examples/official-storybook/stories/core/args.stories.js
Labels: addon: controls, addon: docs, bug

#11537 Composition: Fix docs-only story handling for composed storybooks
  lib/ui/src/components/sidebar/Tree/State.test.ts
  lib/ui/src/components/sidebar/Tree/State.tsx
  lib/ui/src/containers/sidebar.tsx
Labels: bug, composition

#11342 CLI: Improve Storybook packages version management
  addons/docs/src/frameworks/common/preset.ts
  cypress/generated/addon-viewport.spec.ts
  lib/cli/package.json
  lib/cli/scripts/generate-app-versions.js
  lib/cli/scripts/generate-sb-packages-versions.js
  lib/cli/src/generate.ts
  lib/cli/src/generators/baseGenerator.ts
  lib/cli/src/initiate.ts
  lib/cli/src/js-package-manager/JsPackageManager.ts
  lib/cli/src/js-package-manager/NPMProxy.test.ts
  lib/cli/src/js-package-manager/NPMProxy.ts
  lib/cli/src/js-package-manager/Yarn1Proxy.test.ts
  lib/cli/src/js-package-manager/Yarn1Proxy.ts
  lib/cli/src/js-package-manager/Yarn2Proxy.test.ts
  lib/cli/src/js-package-manager/Yarn2Proxy.ts
  lib/cli/versions.json
  yarn.lock
Labels: cli, maintenance

#11502 remove z-index on ActionBar
  lib/components/src/ActionBar/ActionBar.tsx
Labels: bug, ui

#11557 docs(MIGRATION): update hierarchy separator section
  MIGRATION.md
Labels: documentation

#11556 Addon-docs: Make Meta block subcomponents optional
  addons/docs/src/blocks/Meta.tsx
Labels: addon: docs, block: other, bug, typescript

#11558 Core: Add `argTypes` to `StoryContext`
  addons/docs/src/blocks/enhanceSource.test.ts
  addons/docs/src/frameworks/common/enhanceArgTypes.test.ts
  app/vue/src/client/preview/index.ts
  lib/addons/src/types.ts
  lib/client-api/src/decorators.ts
  lib/client-api/src/story_store.ts
  lib/client-api/src/types.ts
Labels: core, maintenance

#11560 remove the usage of `|` in dev-example
  examples/dev-kits/stories/addon-decorator.js
  examples/dev-kits/stories/addon-roundtrip.js
  examples/dev-kits/stories/addon-useaddonstate.tsx
Labels: cleanup

#11550 Addon-controls: Add reset UI to ArgsTable
  addons/controls/src/components/ControlsPanel.tsx
  addons/docs/src/blocks/Props.tsx
  examples/vue-kitchen-sink/src/stories/__snapshots__/custom-decorators.stories.storyshot
  lib/components/src/blocks/ArgsTable/ArgsTable.stories.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.tsx
  lib/components/src/blocks/ArgsTable/TabbedArgsTable.tsx
Labels: addon: controls, args, feature request

#11534 Addon-docs: Fix Vue argTypes default values
  addons/docs/src/frameworks/vue/extractArgTypes.ts
  examples/vue-kitchen-sink/src/stories/Button.vue
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-actions.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-controls.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-links.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/core-template.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/custom-decorators.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/custom-rendering.stories.storyshot
  examples/vue-kitchen-sink/src/stories/addon-controls.stories.mdx
  examples/vue-kitchen-sink/src/stories/components/__snapshots__/button.stories.storyshot
Labels: addon: controls, addon: docs, app: vue, args, bug

#11567 chore: correct spelling at storyshots/puppeteer ReadMe
  addons/storyshots/storyshots-puppeteer/README.md
Labels: documentation, patch

#11579 FIX scrollbars in flexbar
  lib/components/src/ScrollArea/ScrollArea.tsx
  lib/components/src/bar/bar.tsx
Labels: bug, ui

#11596 fix(html-examples): use correct parameters syntax
  examples/html-kitchen-sink/stories/addon-jest.stories.js
Labels: addon: jest, app: html, maintenance

#11541 FIX missing refId on getData calls
  addons/graphql/src/manager.tsx
  examples/dev-kits/main.js
  lib/api/src/modules/refs.ts
  lib/core/src/server/manager/manager-config.js
  lib/ui/src/index.tsx
Labels: bug, composition

#11594 Addon-docs: Fix Vue inline rendering with Args and decorators
  addons/docs/package.json
  addons/docs/src/frameworks/vue/config.ts
  addons/docs/src/frameworks/vue/config.tsx
  addons/docs/src/frameworks/vue/prepareForInline.ts
  examples/vue-kitchen-sink/src/stories/__snapshots__/addon-controls.stories.storyshot
  examples/vue-kitchen-sink/src/stories/addon-controls.stories.js
  yarn.lock
Labels: addon: controls, addon: docs, app: vue, args, bug

#11572 Core: Pass denormalized stories to the sort function
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
Labels: bug, core

#11598 Addon-controls: Fix no-args warning if argTypes are used
  addons/controls/src/components/ControlsPanel.tsx
  addons/docs/src/frameworks/common/enhanceArgTypes.test.ts
  addons/docs/src/frameworks/common/enhanceArgTypes.ts
  examples/angular-cli/src/stories/__snapshots__/core.stories.storyshot
  examples/official-storybook/stories/addon-controls.stories.tsx
  examples/riot-kitchen-sink/src/stories/__snapshots__/core.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/core.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/custom-decorators.stories.storyshot
  lib/api/src/modules/stories.ts
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/core/src/client/preview/StoryRenderer.test.ts
Labels: addon: controls, args, bug, core

#11601 Addon-docs: Automatic source selection based on story type
  addons/docs/src/blocks/Source.tsx
  examples/official-storybook/stories/addon-docs/source.stories.tsx
Labels: addon: docs, block: source, feature request

#11606 Addon-controls: Expose `presetColors` for the color control
  addons/controls/README.md
  lib/components/src/controls/Color.stories.tsx
  lib/components/src/controls/Color.tsx
  lib/components/src/controls/types.ts
Labels: addon: controls, feature request

#11603 Addon-docs: Fix Vue defaultValue in props table
  addons/docs/src/frameworks/vue/extractArgTypes.ts
Labels: addon: docs, app: vue, block: props, bug

#11612 Addon-docs: Fix Props `components` input
  addons/docs/src/blocks/Props.tsx
  examples/vue-kitchen-sink/src/stories/addon-controls.stories.mdx
Labels: addon: docs, block: props, bug

#11611 Don't show deprecation warning in storyshots
  addons/storyshots/storyshots-core/src/frameworks/Loader.ts
  addons/storyshots/storyshots-core/src/frameworks/configure.ts
Labels: addon: storyshots, bug

#11617 Hoist CSF `.story` annotations
  lib/core/src/client/preview/loadCsf.ts
  lib/ui/src/components/preview/iframe.stories.tsx
Labels: maintenance

#11615 Examples: Remove deprecated hierarchy separators
  examples/official-storybook/stories/addon-docs/forward-ref.stories.js
  examples/official-storybook/stories/addon-docs/react-memo.stories.js
  examples/official-storybook/stories/addon-links/href.stories.js
  examples/official-storybook/stories/addon-links/select.stories.js
  examples/official-storybook/stories/core/decorators.stories.js
  examples/vue-kitchen-sink/src/stories/__snapshots__/core-errors.stories.storyshot
  examples/vue-kitchen-sink/src/stories/core-errors.stories.js
Labels: maintenance

#11564 FIX the color of the menu separator
  lib/ui/src/components/sidebar/Menu.stories.tsx
  lib/ui/src/components/sidebar/Menu.tsx
  lib/ui/src/containers/menu.tsx
Labels: bug, ui

#11619 Addon-controls: Fix undefined args handling
  examples/official-storybook/stories/core/args.stories.js
  lib/components/src/controls/Array.stories.tsx
  lib/components/src/controls/Array.tsx
  lib/components/src/controls/Boolean.stories.tsx
  lib/components/src/controls/Color.stories.tsx
  lib/components/src/controls/Date.stories.tsx
  lib/components/src/controls/Number.stories.tsx
  lib/components/src/controls/Object.stories.tsx
  lib/components/src/controls/Range.stories.tsx
  lib/components/src/controls/Range.tsx
  lib/components/src/controls/Text.stories.tsx
  lib/components/src/controls/Text.tsx
  lib/components/src/controls/types.ts
Labels: addon: controls, bug

#11622 CLI: Generate `docs:json` command dynamically for Angular project
  cypress/generated/addon-viewport.spec.ts
  lib/cli/src/generators/ANGULAR/angular-helpers.ts
  lib/cli/src/generators/ANGULAR/index.ts
Labels: app: angular, bug, cli

#11584 CHANGE to use getDataForManager over extract api on storyStore
  lib/cli/package.json
  lib/cli/src/extract.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
Labels: bug, cli, composition

#11624 Core: Optimize `storiesHash` by removing unused parameters
  lib/api/src/lib/stories.ts
  lib/api/src/modules/addons.ts
  lib/api/src/modules/stories.ts
  lib/api/src/tests/addons.test.js
  lib/ui/src/components/preview/preview.tsx
  lib/ui/src/components/sidebar/Tree/ListItem.stories.tsx
  lib/ui/src/components/sidebar/Tree/ListItem.tsx
Labels: bug, core

#11531 Core: Improve translation of globs for main.js stories
  lib/core/src/server/preview/to-require-context.test.js
  lib/core/src/server/preview/to-require-context.ts
Labels: bug, core

#11637 Core: Fix prefix redirect
  examples/official-storybook/stories/core/prefix.stories.js
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/ui/src/components/preview/preview.tsx
Labels: bug, core

#11640 Addon-docs: Skip dynamic source rendering when not needed
  addons/docs/src/blocks/Source.tsx
  addons/docs/src/frameworks/react/jsxDecorator.test.tsx
  addons/docs/src/frameworks/react/jsxDecorator.tsx
  addons/docs/src/shared.ts
Labels: addon: docs, block: source, bug, performance issue

#11518 Storyshots: Fix metadata (parameters/decorators) handling
  addons/storyshots/storyshots-core/README.md
  addons/storyshots/storyshots-core/src/frameworks/Loader.ts
  addons/storyshots/storyshots-core/src/frameworks/configure.ts
  addons/storyshots/storyshots-core/stories/__snapshots__/storyshot.metadata.test.js.snap
  addons/storyshots/storyshots-core/stories/exported_metadata/Text.stories.js
  addons/storyshots/storyshots-core/stories/exported_metadata/main.js
  addons/storyshots/storyshots-core/stories/exported_metadata/preview.js
  addons/storyshots/storyshots-core/stories/storyshot.metadata.test.js
  examples/vue-kitchen-sink/src/stories/__snapshots__/core.stories.storyshot
  examples/vue-kitchen-sink/src/stories/__snapshots__/custom-decorators.stories.storyshot
Labels: addon: storyshots, bug

#11643 Core: Remove duplicate decorators and warn
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/story_store.ts
Labels: bug, client-api, core

#11646 Core: Log message length on channel message
  lib/channel-postmessage/src/index.ts
Labels: core, maintenance

#11650 Addon-docs: Re-enable source-loader by default
  addons/docs/src/frameworks/common/preset.ts
Labels: addon: docs, block: source, bug

#11647 Core: Fix webpack recursion in mainjs glob processing logic
  lib/core/src/server/preview/to-require-context.test.js
  lib/core/src/server/preview/to-require-context.ts
Labels: bug, configuration, core

#11660 Core: Fix existing behavior with story prefixes
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
Labels: bug, core

#11658 Bump react-docgen-typescript-plugin to 0.5.2
  app/react/package.json
  yarn.lock
Labels: app: react, dependencies, typescript

#11667 Typo: add missing comma in addons example
  MIGRATION.md
Labels: documentation

#11673 Composition: Fix composition of older storybooks
  lib/api/package.json
  lib/channel-postmessage/package.json
  lib/channel-websocket/package.json
  yarn.lock
Labels: bug, composition

#11472 Angular: Use system path when checking if asset is a directory
  app/angular/src/server/angular-cli_utils.ts
Labels: app: angular, bug

#11690 Addon-knobs: Move `@types/react-color` to devDeps
  addons/knobs/package.json
  addons/knobs/src/components/types/Checkboxes.tsx
  addons/knobs/src/components/types/Color.tsx
  addons/knobs/src/components/types/Date.tsx
  addons/knobs/src/components/types/Number.tsx
  addons/knobs/src/components/types/Radio.tsx
  addons/knobs/src/components/types/Text.tsx
Labels: addon: knobs, maintenance

#11679 Addon-storysource: Fix broken source when there's no story
  addons/storysource/src/StoryPanel.tsx
Labels: addon: storysource, bug

#11680 Server: Update to 6.0 APIs and support Controls
  app/server/README.md
  app/server/package.json
  app/server/src/client/preview/index.ts
  app/server/src/client/preview/render.ts
  app/server/src/lib/compiler/__testfixtures__/a11y.snapshot
  app/server/src/lib/compiler/__testfixtures__/actions.snapshot
  app/server/src/lib/compiler/__testfixtures__/backgrounds.snapshot
  app/server/src/lib/compiler/__testfixtures__/controls.json
  app/server/src/lib/compiler/__testfixtures__/controls.snapshot
  app/server/src/lib/compiler/__testfixtures__/kitchen_sink.json
  app/server/src/lib/compiler/__testfixtures__/kitchen_sink.snapshot
  app/server/src/lib/compiler/__testfixtures__/knobs.json
  app/server/src/lib/compiler/__testfixtures__/knobs.snapshot
  app/server/src/lib/compiler/__testfixtures__/links.snapshot
  app/server/src/lib/compiler/__testfixtures__/multiple_stories.snapshot
  app/server/src/lib/compiler/__testfixtures__/notes.json
  app/server/src/lib/compiler/__testfixtures__/notes.snapshot
  app/server/src/lib/compiler/__testfixtures__/params.snapshot
  app/server/src/lib/compiler/__testfixtures__/params_override.snapshot
  app/server/src/lib/compiler/decorators/index.ts
  app/server/src/lib/compiler/decorators/knobs.ts
  app/server/src/lib/compiler/decorators/utils.ts
  app/server/src/lib/compiler/index.ts
  app/server/src/lib/compiler/stringifier.ts
  examples/server-kitchen-sink/.storybook/main.js
  examples/server-kitchen-sink/.storybook/preview.js
  examples/server-kitchen-sink/package.json
  examples/server-kitchen-sink/stories/addon-backgrounds.stories.json
  examples/server-kitchen-sink/stories/addon-controls.stories.json
  examples/server-kitchen-sink/stories/addon-knobs.stories.json
  examples/server-kitchen-sink/stories/addon-notes.stories.json
  examples/server-kitchen-sink/stories/kitchen_sink.stories.json
  examples/server-kitchen-sink/stories/welcome.stories.json
  examples/server-kitchen-sink/views/addons/controls/all.pug
  examples/server-kitchen-sink/views/addons/controls/css.pug
  examples/server-kitchen-sink/views/addons/controls/simple.pug
  examples/server-kitchen-sink/views/addons/controls/xss_safety.pug
  examples/server-kitchen-sink/views/addons/notes/story1.pug
Labels: app: server, feature request

#11281 Addon-docs: Apply list styles over reset
  lib/components/src/blocks/DocsPage.stories.tsx
  lib/components/src/typography/DocumentFormatting.tsx
Labels: addon: docs, bug

#11064 Addon-Storyshots: Adding web-component support
  ADDONS_SUPPORT.md
  addons/storyshots/storyshots-core/README.md
  addons/storyshots/storyshots-core/src/frameworks/SupportedFramework.ts
  addons/storyshots/storyshots-core/src/frameworks/web-components/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/web-components/renderTree.ts
  examples/web-components-kitchen-sink/web-components-storyshots.test.js
Labels: addon: storyshots, app: web-components, feature request

#11354 CLI: Update mithril/rax/web-components templates, rework Yarn2 e2e
  .circleci/config.yml
  .eslintrc.js
  lib/cli/src/frameworks/mithril/1-Button.stories.js
  lib/cli/src/frameworks/mithril/Button.js
  lib/cli/src/frameworks/mithril/Button.stories.js
  lib/cli/src/frameworks/mithril/Header.js
  lib/cli/src/frameworks/mithril/Header.stories.js
  lib/cli/src/frameworks/mithril/Page.js
  lib/cli/src/frameworks/mithril/Page.stories.js
  lib/cli/src/frameworks/rax/1-Button.stories.js
  lib/cli/src/frameworks/rax/Button.js
  lib/cli/src/frameworks/rax/Button.stories.js
  lib/cli/src/frameworks/rax/Header.js
  lib/cli/src/frameworks/rax/Header.stories.js
  lib/cli/src/frameworks/rax/Page.js
  lib/cli/src/frameworks/rax/Page.stories.js
  lib/cli/src/frameworks/web-components/1-Button.stories.js
  lib/cli/src/frameworks/web-components/Button.js
  lib/cli/src/frameworks/web-components/Button.stories.js
  lib/cli/src/frameworks/web-components/Header.js
  lib/cli/src/frameworks/web-components/Header.stories.js
  lib/cli/src/frameworks/web-components/Page.js
  lib/cli/src/frameworks/web-components/Page.stories.js
  scripts/run-e2e-config.ts
  scripts/run-e2e.ts
Labels: cli, maintenance

#11700 Cherry pick #11576, fix bug for non-dev builds of SB for release notes
  lib/api/src/index.tsx
  lib/api/src/modules/release-notes.ts
  lib/api/src/modules/settings.ts
  lib/ui/src/components/sidebar/Menu.stories.tsx
  lib/ui/src/containers/menu.tsx
  lib/ui/src/settings/about.stories.js
  lib/ui/src/settings/about.tsx
  lib/ui/src/settings/about_page.tsx
  lib/ui/src/settings/index.tsx
  lib/ui/src/settings/release_notes.tsx
  lib/ui/src/settings/release_notes_page.tsx
  lib/ui/src/settings/shortcuts.tsx
  lib/ui/src/settings/shortcuts_page.tsx
Labels: bug, ui

#11699 Addon-docs: Fix docs render layout to always be 'fullscreen'
  lib/core/src/client/preview/StoryRenderer.tsx
Labels: bug, ui

#11066 feat: add skip to content on panel and story iframe
  lib/ui/src/components/preview/FramesRenderer.tsx
  lib/ui/src/components/sidebar/Heading.tsx
  lib/ui/src/components/sidebar/Tree/ListItem.tsx
Labels: accessibility, feature request

#11710 Source-loader: Handle bind expression stories
  __mocks__/inject-parameters.ts.csf.txt
  lib/source-loader/src/abstract-syntax-tree/__snapshots__/inject-decorator.csf.test.js.snap
  lib/source-loader/src/abstract-syntax-tree/parse-helpers.js
  lib/source-loader/src/abstract-syntax-tree/traverse-helpers.js
Labels: block: source, feature request, source-loader

#11707 Source-loader: Inject source snippets as story parameters
  __mocks__/inject-parameters.ts.csf.txt
  addons/docs/src/frameworks/common/preset.ts
  lib/source-loader/package.json
  lib/source-loader/src/abstract-syntax-tree/__snapshots__/inject-decorator.csf.test.js.snap
  lib/source-loader/src/abstract-syntax-tree/generate-helpers.js
  lib/source-loader/src/abstract-syntax-tree/inject-decorator.csf.test.js
  lib/source-loader/src/abstract-syntax-tree/inject-decorator.js
  lib/source-loader/src/abstract-syntax-tree/parse-helpers.js
  lib/source-loader/src/abstract-syntax-tree/traverse-helpers.js
  lib/source-loader/src/build.js
  lib/source-loader/src/dependencies-lookup/readAsObject.js
Labels: addon: docs, feature request, performance issue, source-loader

#11708 Revert #11502: Remove z-index on ActionBar
  lib/components/src/ActionBar/ActionBar.tsx
Labels: addon: docs, bug, ui

#11703 Server: Serialize Object controls as JSON over the wire
  app/server/src/client/preview/index.ts
  app/server/src/client/preview/render.ts
  app/server/src/client/preview/types.ts
  app/server/src/lib/compiler/types.ts
  examples/server-kitchen-sink/stories/addon-controls.stories.json
  examples/server-kitchen-sink/views/addons/controls/all.pug
Labels: app: server, bug

#11709 FIX HMR
  lib/core/src/client/preview/loadCsf.test.ts
  lib/core/src/client/preview/loadCsf.ts
Labels: babel / webpack, bug, core, high priority

#11717 Misc cleanup
  lib/client-api/src/storySort.test.ts
  lib/client-api/src/storySort.ts
  lib/client-api/src/story_store.ts
Labels: cleanup

#11704 Addon-controls: Fix update logic for argTypes with custom names
  examples/official-storybook/stories/addon-controls.stories.tsx
  lib/components/src/blocks/ArgsTable/ArgControl.tsx
  lib/components/src/blocks/ArgsTable/ArgRow.stories.tsx
  lib/components/src/controls/Array.stories.tsx
  lib/components/src/controls/Array.tsx
  lib/components/src/controls/Boolean.stories.tsx
  lib/components/src/controls/Boolean.tsx
  lib/components/src/controls/Color.stories.tsx
  lib/components/src/controls/Color.tsx
  lib/components/src/controls/Date.stories.tsx
  lib/components/src/controls/Date.tsx
  lib/components/src/controls/Number.stories.tsx
  lib/components/src/controls/Number.tsx
  lib/components/src/controls/Object.stories.tsx
  lib/components/src/controls/Object.tsx
  lib/components/src/controls/Range.stories.tsx
  lib/components/src/controls/Range.tsx
  lib/components/src/controls/Text.stories.tsx
  lib/components/src/controls/Text.tsx
  lib/components/src/controls/options/Checkbox.tsx
  lib/components/src/controls/options/Options.stories.tsx
  lib/components/src/controls/options/Radio.tsx
  lib/components/src/controls/options/Select.tsx
  lib/components/src/controls/types.ts
Labels: addon: controls, bug, tracked

#11724 docs(controls): Fix example story of Controls + MDX section
  addons/controls/README.md
Labels: documentation

#11725 UI: Improve treestate performance
  lib/ui/package.json
  lib/ui/src/components/sidebar/Tree/State.tsx
  yarn.lock
Labels: maintenance, performance issue, ui

#11701 Migrate Workflows section to 6 0
  docs/toc.js
  docs/workflows/argstable-subcomponents.png
  docs/workflows/build-pages-with-storybook.md
  docs/workflows/combine-storybooks.png
  docs/workflows/component-unit-testing.gif
  docs/workflows/component-visual-testing.gif
  docs/workflows/composition-versioning.png
  docs/workflows/interaction-testing.md
  docs/workflows/package-composition.md
  docs/workflows/package-composition.png
  docs/workflows/publish-storybook.md
  docs/workflows/reference-external-storybooks-composition.jpg
  docs/workflows/snapshot-test.png
  docs/workflows/snapshot-testing.md
  docs/workflows/stories-for-multiple-components.md
  docs/workflows/storybook-composition.md
  docs/workflows/storybook-publish-review-optimized.mp4
  docs/workflows/storybook-switch-stories.gif
  docs/workflows/storyshots-fail.png
  docs/workflows/storyshots-pass.png
  docs/workflows/testing-with-storybook.md
  docs/workflows/unit-testing.md
  docs/workflows/visual-testing.md
  docs/workflows/workflow-publish.png
Labels: documentation

#11403 Addon-docs: Support absolute anchors when deployed at non-root
  lib/components/src/typography/DocumentFormatting.tsx
Labels: addon: docs, bug

#11149 Args: Add optional scalar test cases for typescript
  addons/docs/src/frameworks/react/react-argtypes.stories.tsx
  addons/docs/src/lib/convert/__testfixtures__/typescript/optionals.tsx
Labels: addon: controls, args

#11632 migrate get started for 6-0
  docs/get-started/addons-walkthrough-optimized.mp4
  docs/get-started/addons.png
  docs/get-started/browse-stories.md
  docs/get-started/conclusion.md
  docs/get-started/example-browse-all-stories-optimized.mp4
  docs/get-started/example-button-args.png
  docs/get-started/example-button-browse-stories-optimized.mp4
  docs/get-started/example-button-hot-module-reload-optimized.mp4
  docs/get-started/example-button-noargs.png
  docs/get-started/example-welcome.png
  docs/get-started/install.md
  docs/get-started/introduction.md
  docs/get-started/optimize.gif
  docs/get-started/setup.md
  docs/get-started/storybook-hero-video-optimized.mp4
  docs/get-started/storybook-relationship.png
  docs/get-started/test-image.png
  docs/get-started/toolbar-docs-tab-optimized.mp4
  docs/get-started/toolbar-walkthrough-optimized.mp4
  docs/get-started/toolbar.png
  docs/get-started/whats-a-story.md
Labels: documentation

#11635 Writing stories section migration for 6 0
  docs/writing-stories/addon-actions-demo-optimized.mp4
  docs/writing-stories/addon-controls-demo-optimized.mp4
  docs/writing-stories/args.md
  docs/writing-stories/decorators-no-padding.png
  docs/writing-stories/decorators-padding.png
  docs/writing-stories/decorators.md
  docs/writing-stories/introduction.md
  docs/writing-stories/naming-components-and-hierarchy.md
  docs/writing-stories/naming-hierarchy-no-path.png
  docs/writing-stories/naming-hierarchy-with-path.png
  docs/writing-stories/parameters-background-colors.png
  docs/writing-stories/parameters.md
Labels: documentation

#11654 Writing docs section migration for 6 0
  docs/writing-docs/addon-controls-docs-optimized.mp4
  docs/writing-docs/addon-docs-optimized.mp4
  docs/writing-docs/doc-blocks.md
  docs/writing-docs/docblock-description.png
  docs/writing-docs/docblock-preview-multi-mdx.png
  docs/writing-docs/docblock-preview-toolbar.png
  docs/writing-docs/docblock-preview.png
  docs/writing-docs/docblock-source.png
  docs/writing-docs/docblock-story.png
  docs/writing-docs/docs-page.md
  docs/writing-docs/docspage-subcomponents.png
  docs/writing-docs/introduction.md
  docs/writing-docs/mdx-documentation-only.png
  docs/writing-docs/mdx-hero.png
  docs/writing-docs/mdx-page.png
  docs/writing-docs/mdx-simple.png
  docs/writing-docs/mdx.md
Labels: documentation

#11682 Migrate essentials section docs for 6.0
  docs/essentials/actions.md
  docs/essentials/addon-actions-optimized.mp4
  docs/essentials/addon-actions-screenshot.png
  docs/essentials/addon-backgrounds-optimized.mp4
  docs/essentials/addon-controls-args-background-color.png
  docs/essentials/addon-controls-args-background-string.png
  docs/essentials/addon-controls-args-no-annotation.png
  docs/essentials/addon-controls-expanded.png
  docs/essentials/addon-controls-optimized.mp4
  docs/essentials/addon-viewports-optimized.mp4
  docs/essentials/backgrounds.md
  docs/essentials/controls.md
  docs/essentials/introduction.md
  docs/essentials/toolbars-and-globals.md
  docs/essentials/viewports.md
  docs/toc.js
Labels: documentation

#11685 Migrate configure section to 6 0
  docs/configure/addon-locations.jpg
  docs/configure/integration.md
  docs/configure/overview.md
  docs/configure/sidebar-anatomy.jpg
  docs/configure/sidebar-roots.jpg
  docs/configure/story-rendering.md
  docs/configure/user-interface.md
  docs/toc.js
Labels: documentation

#11687 Migrate api section to 6 0
  docs/api/addons.md
  docs/api/argstable.png
  docs/api/cli-options.md
  docs/api/frameworks-feature-support.md
  docs/api/manager-preview.jpg
  docs/api/new-frameworks.md
  docs/api/stories.md
  docs/toc.js
Labels: documentation

#11736 Core: Speed up combineParameters
  lib/client-api/src/parameters.test.ts
  lib/client-api/src/parameters.ts
  lib/client-api/src/story_store.ts
Labels: bug, core, performance issue

#11740 Core: Dedupe argTypes serialization
  lib/client-api/src/story_store.ts
Labels: bug, core, performance issue

#11743 Core: Pass normalized parameters to the story sort function
  MIGRATION.md
  lib/addons/src/types.ts
  lib/client-api/src/storySort.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
Labels: BREAKING CHANGE, core

#11744 Addon-docs: Rename Preview/Props to Canvas/ArgsTable
  MIGRATION.md
  addons/docs/README.md
  addons/docs/angular/README.md
  addons/docs/common/README.md
  addons/docs/docs/docspage.md
  addons/docs/docs/mdx.md
  addons/docs/docs/props-tables.md
  addons/docs/ember/README.md
  addons/docs/react/README.md
  addons/docs/src/blocks/ArgsTable.tsx
  addons/docs/src/blocks/Canvas.tsx
  addons/docs/src/blocks/DocsPage.tsx
  addons/docs/src/blocks/DocsStory.tsx
  addons/docs/src/blocks/Preview.tsx
  addons/docs/src/blocks/Props.tsx
  addons/docs/src/blocks/index.ts
  addons/docs/src/mdx/__testfixtures__/previews.mdx
  addons/docs/src/mdx/__testfixtures__/previews.output.snapshot
  addons/docs/src/mdx/mdx-compiler-plugin.js
  addons/docs/vue/README.md
  docs/src/pages/formats/mdx-syntax/index.md
  examples/angular-cli/src/stories/addon-docs.stories.mdx
  examples/aurelia-kitchen-sink/src/stories/mdx.stories.mdx
  examples/cra-ts-kitchen-sink/src/stories/Test.stories.mdx
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/docgen.stories.mdx
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/jsdoc/jsdoc-perfo.stories.mdx
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/jsdoc/jsdoc.stories.mdx
  examples/cra-ts-kitchen-sink/src/stories/docgen-tests/types/types.stories.mdx
  examples/cra-ts-kitchen-sink/src/stories/props-sort.stories.mdx
  examples/html-kitchen-sink/stories/addon-docs.stories.mdx
  examples/official-storybook/stories/addon-docs/addon-docs-blocks.stories.js
  examples/official-storybook/stories/addon-docs/addon-docs.stories.mdx
  examples/official-storybook/stories/addon-docs/docs-only.stories.mdx
  examples/official-storybook/stories/addon-docs/props-include-exclude.stories.mdx
  examples/official-storybook/stories/addon-docs/props.stories.mdx
  examples/official-storybook/stories/core/layout.stories.mdx
  examples/official-storybook/stories/demo/button.stories.mdx
  examples/official-storybook/stories/notes/notes.mdx
  examples/vue-kitchen-sink/src/stories/addon-controls.stories.mdx
  examples/vue-kitchen-sink/src/stories/addon-docs.stories.mdx
  examples/web-components-kitchen-sink/stories/addon-docs.stories.mdx
  lib/cli/src/generators/HTML/template-mdx/stories/index.stories.mdx
Labels: addon: docs, maintenance
