Repository storybookjs/storybook, pull requests merged in 2020-05, with the labels that each got.

#10606 FIX deepscan issues hopefully
  .prettierrc
  prettier.config.js
Labels: maintenance

#10605 doc: update readme of addon viewport about configure section more accurately
  addons/viewport/README.md
Labels: addon: viewport, documentation, patch

#10608 Props: Fix subcomponents
  addons/docs/src/blocks/Props.tsx
  examples/official-storybook/stories/addon-docs/subcomponents.stories.js
Labels: addon: docs, block: props, bug

#10614 CHANGE the maxDepth default to 25
  lib/channel-postmessage/src/index.ts
Labels: bug, core

#10612 FIX background color of the panel
  lib/components/src/tabs/tabs.tsx
Labels: bug, ui

#10622 FIX mock for provider
  lib/ui/src/FakeProvider.tsx
Labels: maintenance

#10613 Yarn 2: Fix dependencies issues for compatibility
  addons/a11y/package.json
  addons/docs/package.json
  addons/docs/src/frameworks/common/preset.ts
  addons/docs/src/frameworks/react/lib/inspection/acornParser.ts
  addons/docs/src/typings.d.ts
  addons/essentials/package.json
  addons/essentials/src/index.ts
  addons/essentials/tsconfig.json
  addons/graphql/package.json
  addons/toolbars/package.json
  app/angular/package.json
  app/ember/package.json
  app/html/package.json
  app/marionette/package.json
  app/marko/package.json
  app/mithril/package.json
  app/preact/package.json
  app/rax/package.json
  app/react/package.json
  app/riot/package.json
  app/server/package.json
  app/svelte/package.json
  lib/core/package.json
  yarn.lock
Labels: maintenance

#10623 CLI: Add automatic detection for svelte
  lib/cli/src/detect.test.js
  lib/cli/src/project_types.js
Labels: cli, feature request

#10619 Addon-docs: Fix no-props logic in Source block
  addons/docs/src/blocks/Source.tsx
Labels: block: source, bug

#10628 docs(addons-toolbar): improve globalArgs usage guide
  addons/toolbars/README.md
Labels: addon: toolbars, documentation

#10625 Actions: Fix import of `uuid`
  addons/actions/src/preview/action.ts
Labels: addon: actions, bug

#10621 Addon-docs: Fix object array in Props
  addons/docs/src/frameworks/common/inferArgTypes.ts
  addons/docs/src/frameworks/common/inferControls.ts
  addons/docs/src/lib/sbtypes/types.ts
  examples/official-storybook/stories/addon-docs/props.stories.mdx
  lib/components/src/blocks/ArgsTable/ArgControl.tsx
  lib/components/src/controls/Object.stories.tsx
  lib/components/src/controls/Object.tsx
  lib/components/src/controls/types.ts
Labels: addon: docs, block: props, bug

#10607 Core: Fix Args test to not use different code path
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
Labels: maintenance

#9531 Addon-docs: Fix MDX stories with multiple children
  addons/docs/src/blocks/Props.tsx
  addons/docs/src/mdx/__testfixtures__/story-multiple-children.mdx
  addons/docs/src/mdx/__testfixtures__/story-multiple-children.output.snapshot
  addons/docs/src/mdx/mdx-compiler-plugin.js
  examples/official-storybook/stories/addon-docs/addon-docs.stories.mdx
  package.json
Labels: addon: docs, bug, in progress, mdx

#10632 Addon-docs: Fix custom source manual override
  addons/docs/src/blocks/Source.tsx
  examples/html-kitchen-sink/stories/__snapshots__/addon-docs.stories.storyshot
  examples/html-kitchen-sink/stories/addon-docs.stories.mdx
Labels: addon: docs, block: source, bug

#10633 Addon-docs: Fix broken props logic for no-args stories
  addons/docs/src/blocks/Props.tsx
Labels: addon: docs, block: props, bug

#10630 Web-Components: install lit-html dependency for web-components
  lib/cli/src/generators/WEB-COMPONENTS/index.js
Labels: app: web-components, bug, cli

#10653 docs: fix broken link in README
  addons/links/README.md
Labels: documentation, patch

#10644 Core: fix dll context
  addons/docs/src/frameworks/common/preset.ts
  lib/core/src/server/manager/manager-webpack.config.js
Labels: bug, core, ie11

#10634 Addon-backgrounds: simplified parameters API
  MIGRATION.md
  addons/backgrounds/README.md
  addons/backgrounds/src/containers/BackgroundSelector.tsx
  examples/angular-cli/src/stories/addon-background.stories.ts
  examples/ember-cli/stories/addon-backgrounds.stories.js
  examples/html-kitchen-sink/stories/addon-backgrounds.stories.js
  examples/mithril-kitchen-sink/src/stories/addon-backgrounds.stories.js
  examples/official-storybook/preview.js
  examples/official-storybook/stories/addon-backgrounds.stories.js
  examples/preact-kitchen-sink/src/stories/addon-backgrounds.stories.js
  examples/riot-kitchen-sink/src/stories/addon-backgrounds.stories.js
  examples/svelte-kitchen-sink/src/stories/addon-backgrounds.stories.js
  examples/vue-kitchen-sink/src/stories/addon-backgrounds.stories.js
  examples/web-components-kitchen-sink/stories/addon-backgrounds.stories.js
  lib/ui/src/components/sidebar/Sidebar.stories.tsx
Labels: BREAKING CHANGE, addon: backgrounds

#10645 Update readme with small ThemeProvider example
  addons/docs/docs/recipes.md
Labels: addon: docs, documentation, patch

#10642 Build: Upgrade to jest 26
  addons/docs/package.json
  addons/storyshots/storyshots-core/package.json
  addons/storyshots/storyshots-core/src/frameworks/angular/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/configure.ts
  addons/storyshots/storyshots-core/src/frameworks/html/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/preact/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/rax/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/react-native/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/react/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/riot/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/riot/renderTree.ts
  addons/storyshots/storyshots-core/src/frameworks/svelte/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/vue/loader.ts
  lib/core/src/server/presets.test.js
  package.json
  yarn.lock
Labels: addon: storyshots, compatibility with other tools, dependencies, patch

#10663 Update Vercel Instructions
  docs/src/pages/basics/exporting-storybook/index.md
Labels: documentation, patch

#10676 MDX docs: Fix installation link
  docs/src/pages/formats/mdx-syntax/index.md
Labels: documentation, patch

#10671 docs: Add link to creevey amazing automated visual testing tool
  docs/src/pages/testing/automated-visual-testing/index.md
Labels: documentation, patch

#10669 Build: Upgrade jest to 26
  addons/docs/package.json
  examples/angular-cli/package.json
  lib/codemod/package.json
  lib/components/package.json
  lib/postinstall/package.json
  package.json
  yarn.lock
Labels: dependencies, patch

#10679 fix: remove corejs-upgrade-webpack-plugin dependency
  MIGRATION.md
  addons/docs/package.json
  addons/docs/scripts/webpackDllsConfig.js
  lib/core/package.json
  lib/core/src/server/manager/manager-webpack.config.js
  lib/core/src/server/preview/iframe-webpack.config.js
  lib/ui/package.json
  lib/ui/scripts/webpackDllsConfig.js
  package.json
  yarn.lock
Labels: BREAKING CHANGE, babel / webpack, bug

#10685 React: Add `argsStory` convenience function
  app/react/src/client/index.ts
  app/react/src/client/preview/argsStory.tsx
  app/react/src/client/preview/index.ts
  examples/official-storybook/stories/addon-docs/args-story.stories.ts
  lib/components/src/controls/Array.tsx
Labels: app: react, args, feature request

#10688 Fix: set private package on Aurelia example
  examples/aurelia-kitchen-sink/package.json
Labels: app: aurelia, maintenance, other

#10719 fix syntax error in csf non-story example
  docs/src/pages/formats/component-story-format/index.md
Labels: documentation

#10720 CLI: Remove CRA fixtures from Yarn 2 tests run
  lib/cli/test/fixtures/react_scripts_ts/package.json
  lib/cli/test/run_tests_yarn_2.sh
Labels: cli, maintenance

#10659 Fix/error handling
  examples/dev-kits/main.js
  lib/api/src/lib/stories.ts
  lib/api/src/modules/refs.ts
  lib/api/src/modules/stories.ts
  lib/api/src/tests/stories.test.js
  lib/client-api/src/config_api.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/core-events/src/index.ts
  lib/core/package.json
  lib/core/src/client/preview/StoryRenderer.test.ts
  lib/core/src/server/preview/entries.js
  lib/ui/src/components/layout/app.mockdata.tsx
  lib/ui/src/components/preview/FramesRenderer.tsx
  lib/ui/src/components/preview/preview.tsx
  lib/ui/src/components/preview/utils/components.ts
  lib/ui/src/components/sidebar/RefBlocks.tsx
  lib/ui/src/components/sidebar/RefHelpers.tsx
  lib/ui/src/components/sidebar/Refs.tsx
  lib/ui/src/components/sidebar/Sidebar.stories.tsx
  lib/ui/src/components/sidebar/Sidebar.tsx
  lib/ui/src/containers/sidebar.tsx
  yarn.lock
Labels: bug, ui

#10699 Change reference for jest-preset-angular/build/setupJest as per migration guide
  addons/storyshots/storyshots-core/src/frameworks/angular/loader.ts
Labels: addon: storyshots, documentation, patch

#10714 cli: sfc_vue stories homogenization
  lib/cli/src/generators/SFC_VUE/template-csf/src/stories/1-Button.stories.js
  lib/cli/src/generators/SFC_VUE/template-csf/src/stories/Welcome.vue
  lib/cli/src/generators/SFC_VUE/template-mdx/src/stories/Welcome.vue
Labels: app: vue, cli, maintenance

#10712 cli: preact stories homogenization
  lib/cli/src/generators/PREACT/template-csf/stories/1-Button.stories.js
Labels: app: preact, cli, maintenance

#10713 cli: ember stories homogenization
  lib/cli/src/generators/EMBER/template-csf/stories/0-Welcome.stories.js
  lib/cli/src/generators/EMBER/template-csf/stories/1-Button.stories.js
Labels: app: ember, cli, maintenance

#10715 cli: riot stories homogenization
  lib/cli/src/generators/RIOT/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/RIOT/template-csf/stories/MyButton.tag
Labels: app: riot, cli, maintenance

#10706 cli: rax stories homogenization
  lib/cli/src/generators/RAX/template-csf/.storybook/main.js
  lib/cli/src/generators/RAX/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/RAX/template-csf/stories/1-View.stories.js
Labels: app: rax, cli, maintenance

#10707 cli: mithril stories homogenization
  lib/cli/src/generators/MITHRIL/template-csf/stories/1-Button.stories.js
Labels: app: mithril, cli, maintenance

#10710 cli: react-scripts stories homogenization
  lib/cli/src/generators/REACT_SCRIPTS/template-csf/src/stories/1-Button.stories.js
Labels: app: react, cli, cra, maintenance

#10704 cli: svelte stories homogenization
  lib/cli/src/generators/SVELTE/template-csf/stories/0-welcome.stories.js
  lib/cli/src/generators/SVELTE/template-csf/stories/1-button.stories.js
  lib/cli/src/generators/SVELTE/template-csf/stories/index.stories.js
  lib/cli/src/generators/SVELTE/template-csf/stories/welcome.svelte
Labels: app: svelte, cli, maintenance

#10709 cli: webpack react stories homogenization
  lib/cli/src/generators/WEBPACK_REACT/template-csf/stories/1-Button.stories.js
Labels: app: react, cli, maintenance

#10708 cli: vue stories homogenization
  lib/cli/src/generators/VUE/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/VUE/template-csf/stories/Welcome.js
  lib/cli/src/generators/VUE/template-mdx/stories/Welcome.js
Labels: app: vue, cli, maintenance

#10711 cli: react stories homogenization
  lib/cli/src/generators/REACT/template-csf/stories/1-Button.stories.js
Labels: app: preact, cli, maintenance

#10727 Revert "Change reference for jest-preset-angular/build/setupJest as per migration guide"
  addons/storyshots/storyshots-core/src/frameworks/angular/loader.ts
Labels: addon: storyshots, dependencies

#10643 UI: Reset layout properties when switching stories
  examples/official-storybook/stories/core/layout.stories.js
  lib/core/src/client/preview/StoryRenderer.tsx
Labels: bug, ui

#10737 Essentials: Update auto disable heuristics based on main.js
  MIGRATION.md
  addons/essentials/README.md
  addons/essentials/src/index.ts
  addons/essentials/tsconfig.json
Labels: BREAKING CHANGE, addon: essentials

#10729 Essentials: Add addon-docs
  MIGRATION.md
  addons/essentials/README.md
  addons/essentials/package.json
  addons/essentials/src/index.ts
  addons/essentials/tsconfig.json
Labels: addon: essentials, feature request

#10748 Essentials: Add addon-actions
  addons/essentials/README.md
  addons/essentials/package.json
  addons/essentials/src/index.ts
Labels: addon: actions, addon: essentials, feature request

#10751 Update README.md
  addons/backgrounds/README.md
Labels: addon: backgrounds, documentation, patch

#10746 Add PX Blue to examples page
  docs/src/pages/examples/_examples.yml
  docs/src/pages/examples/thumbnails/pxblue.png
Labels: documentation, patch

#10736 Docs: add web components guide
  docs/gatsby-config.js
  docs/src/new-components/basics/shared/site.js
  docs/src/pages/guides/guide-web-components/index.md
  docs/src/pages/guides/quick-start-guide/index.md
Labels: documentation

#10753 Composition: Zero-config composition from dependencies
  lib/core/src/server/manager/manager-config.js
Labels: composition, feature request

#10764 docs: Fix code example MDX-Flavored CSF
  docs/src/pages/formats/mdx-syntax/index.md
Labels: documentation, patch

#10703 cli: web-components stories homogenization
  lib/cli/src/generators/WEB-COMPONENTS/index.js
  lib/cli/src/generators/WEB-COMPONENTS/template/.storybook/main.js
  lib/cli/src/generators/WEB-COMPONENTS/template/stories/0-Welcome.stories.js
  lib/cli/src/generators/WEB-COMPONENTS/template/stories/1-Button.stories.js
  lib/cli/src/generators/WEB-COMPONENTS/template/stories/index.stories.js
Labels: app: web-components, cli, maintenance

#10705 cli: html stories homogenization
  lib/cli/src/generators/HTML/index.js
  lib/cli/src/generators/HTML/template-csf/.storybook/main.js
  lib/cli/src/generators/HTML/template-csf/stories/0-Welcome.stories.js
  lib/cli/src/generators/HTML/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/HTML/template-csf/stories/index.stories.js
Labels: app: html, cli, maintenance

#10775 [docs] Add common Vue.js devtools workarounds
  docs/src/pages/guides/guide-vue/index.md
Labels: documentation, patch

#10689 Update README.md
  addons/docs/README.md
Labels: addon: docs, documentation

#10787 Documentation: Update props-table.md to fix the broken links
  addons/docs/docs/props-tables.md
Labels: documentation, patch

#10786 [fix] - Detect local addons for windows machines
  lib/core/src/server/presets.js
Labels: bug, patch

#10788 [bug] [documentation] Fixed broken vue example
  docs/src/pages/basics/writing-stories/index.md
Labels: documentation, patch

#10778 Update jest-preset-angular to 8.2.0
  addons/storyshots/storyshots-core/src/frameworks/angular/loader.ts
  addons/storyshots/storyshots-core/src/frameworks/angular/renderTree.ts
  examples/angular-cli/jest.config.js
  examples/angular-cli/package.json
  examples/angular-cli/src/stories/__snapshots__/addon-actions.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-docs.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/addon-links.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/core.stories.storyshot
  examples/angular-cli/src/stories/__snapshots__/custom-styles.stories.storyshot
  examples/angular-cli/src/stories/module-context/__snapshots__/module-context-forRoot.stories.storyshot
  examples/angular-cli/src/stories/module-context/__snapshots__/module-context.stories.storyshot
  examples/angular-cli/src/stories/on-push/__snapshots__/on-push.stories.storyshot
  package.json
  yarn.lock
Labels: dependencies:update

#10781 Cleanup: Remove support for babel-loader < 8
  lib/cli/test/fixtures/react_static/.babelrc
  lib/cli/test/fixtures/react_static/.gitignore
  lib/cli/test/fixtures/react_static/README.md
  lib/cli/test/fixtures/react_static/package.json
  lib/cli/test/fixtures/react_static/public/robots.txt
  lib/cli/test/fixtures/react_static/src/App.js
  lib/cli/test/fixtures/react_static/src/app.css
  lib/cli/test/fixtures/react_static/src/index.js
  lib/cli/test/fixtures/react_static/src/logo.png
  lib/cli/test/fixtures/react_static/static.config.js
  lib/core/src/server/common/babel.js
  lib/core/src/server/common/common-preset.js
  lib/core/src/server/utils/load-custom-babel-config.js
Labels: BREAKING CHANGE, babel / webpack, maintenance

#10780 Composition: Rename `mapper` to `storyMapper` and fix loading bugs
  lib/api/src/lib/stories.ts
  lib/api/src/modules/provider.ts
  lib/api/src/modules/refs.ts
  lib/ui/src/components/sidebar/Refs.tsx
  lib/ui/src/components/sidebar/Sidebar.stories.tsx
  lib/ui/src/components/sidebar/Sidebar.tsx
Labels: bug, composition

#10516 fix: handle .json and .js extensions for babel config files
  lib/core/src/server/utils/load-custom-babel-config.js
Labels: babel / webpack, bug

#10747 docs(storyshots-puppeteer): fix examples in README
  addons/storyshots/storyshots-puppeteer/README.md
Labels: addon: storyshots, documentation, patch

#10691 ADD docs for composition feature
  docs/gatsby-config.js
  docs/src/pages/configurations/composition/index.md
Labels: composition, documentation

#10808 Scripts: parallel execution on build package scripts
  scripts/build-package.js
Labels: maintenance

#10810 Addon-toolbars: Show tool icons for all viewModes
  addons/toolbars/src/register.tsx
Labels: addon: toolbars, feature request

#10812 Addon-docs: Eval argTypes default value
  addons/docs/src/frameworks/react/extractArgTypes.ts
  examples/official-storybook/main.js
Labels: addon: docs, args, bug

#10818 UI: Change default view to Canvas on mobile
  lib/api/src/modules/layout.ts
Labels: bug, core, ui

#10816 Fix react-docgen handling in zero-config typescript preset
  app/react/src/server/framework-preset-react-docgen.ts
  examples/react-ts/main.js
  examples/react-ts/package.json
  examples/react-ts/src/button.stories.tsx
  examples/react-ts/src/button.tsx
  examples/vue-kitchen-sink/src/stories/components/__snapshots__/button-ts.stories.storyshot
  lib/core/package.json
  lib/core/src/server/config.js
  lib/core/types/index.ts
Labels: bug, core

#10725 core: transpile minimum node_modules
  lib/components/src/ScrollArea/OverlayScrollbarsComponent.tsx
  lib/components/src/ScrollArea/ScrollArea.tsx
  lib/core/src/server/common/babel.js
  lib/core/src/server/config/utils.js
  lib/core/src/server/manager/babel-loader-manager.js
  lib/core/src/server/preview/babel-loader-preview.js
  lib/core/src/server/preview/iframe-webpack.config.js
Labels: bug, core, ie11

#10801 FIX zoom in docs
  addons/docs/src/blocks/Story.tsx
  examples/official-storybook/stories/addon-docs/container-override.stories.mdx
  examples/official-storybook/stories/addon-docs/mdx.stories.js
  examples/official-storybook/stories/core/layout.stories.mdx
  examples/official-storybook/stories/hooks.stories.js
  lib/components/src/blocks/DocsPage.stories.tsx
  lib/components/src/blocks/Preview.stories.tsx
  lib/components/src/blocks/Preview.tsx
  lib/components/src/blocks/Story.tsx
  lib/components/src/typography/DocumentWrapper.stories.tsx
Labels: addon: docs, maintenance

#10814 Addon-a11y: Add deprecated withA11y
  addons/a11y/package.json
  addons/a11y/src/index.ts
  addons/a11y/src/preset.ts
  addons/a11y/src/preset/addDecorator.ts
  addons/a11y/src/preset/index.ts
  yarn.lock
Labels: addon: a11y, bug

#10825 Fix: upgrade and add some missing dependencies in core, router, api
  lib/api/package.json
  lib/core/package.json
  lib/router/package.json
  yarn.lock
Labels: bug

#10833 Core: Fix global args initial state for addon-toolbars
  lib/client-api/src/story_store.ts
Labels: addon: toolbars, bug, core

#10539 Fix: Search stories
  addons/docs/jest-transform-mdx.js
  lib/core/src/client/preview/start.js
Labels: bug, search

#10819 FIX refs not authenticating
  lib/api/src/modules/refs.ts
Labels: bug, composition

#10821 Vue: Add vue-cli example and remove babel-preset-vue
  app/vue/package.json
  app/vue/src/server/framework-preset-vue.ts
  examples/vue-cli/.storybook/main.js
  examples/vue-cli/.storybook/preview.js
  examples/vue-cli/README.md
  examples/vue-cli/babel.config.js
  examples/vue-cli/package.json
  examples/vue-cli/src/App.vue
  examples/vue-cli/src/button/Button.stories.ts
  examples/vue-cli/src/button/Button.vue
  examples/vue-cli/src/button/types.ts
  examples/vue-cli/src/main.ts
  examples/vue-cli/src/shims-vue.d.ts
  examples/vue-cli/tsconfig.json
  examples/vue-kitchen-sink/babel.config.json
  examples/vue-kitchen-sink/package.json
  examples/vue-kitchen-sink/webpack.config.js
  yarn.lock
Labels: app: vue, maintenance

#10838 UI: Don't emit storyChange event when viewmode not renderable by preview
  lib/ui/src/components/preview/preview.tsx
Labels: bug, ui

#10813 Core: Zero-config TypeScript loading
  .circleci/config.yml
  MIGRATION.md
  app/angular/src/server/framework-preset-angular.ts
  app/react/package.json
  app/react/src/server/framework-preset-react-docgen.test.ts
  app/react/src/server/framework-preset-react-docgen.ts
  app/vue/package.json
  app/vue/src/server/framework-preset-vue.ts
  cypress/helper.ts
  docs/src/pages/configurations/typescript-config/index.md
  examples/official-storybook/main.ts
  examples/react-ts/README.md
  examples/react-ts/main.ts
  examples/react-ts/package.json
  examples/react-ts/src/button.stories.tsx
  examples/react-ts/src/button.tsx
  examples/react-ts/src/emoji-button.js
  examples/react-ts/src/emoji-button.stories.js
  examples/react-ts/tsconfig.json
  examples/vue-cli/.storybook/main.js
  examples/vue-cli/.storybook/preview.js
  examples/vue-cli/README.md
  examples/vue-cli/babel.config.js
  examples/vue-cli/package.json
  examples/vue-cli/src/App.vue
  examples/vue-cli/src/button/Button.stories.ts
  examples/vue-cli/src/button/Button.vue
  examples/vue-cli/src/button/types.ts
  examples/vue-cli/src/main.ts
  examples/vue-cli/src/shims-vue.d.ts
  examples/vue-cli/tsconfig.json
  examples/vue-kitchen-sink/src/stories/components/ButtonTs.vue
  examples/vue-kitchen-sink/src/stories/components/__snapshots__/button-ts.stories.storyshot
  examples/vue-kitchen-sink/src/stories/components/button-ts.stories.js
  examples/vue-kitchen-sink/webpack.config.js
  lib/cli/test/fixtures/sfc_vue/.babelrc
  lib/core/package.json
  lib/core/src/server/common/babel.js
  lib/core/src/server/config.js
  lib/core/src/server/config.test.js
  lib/core/src/server/config/defaults.js
  lib/core/src/server/config/useBaseTsSupport.js
  lib/core/src/server/manager/babel-loader-manager.js
  lib/core/src/server/manager/manager-config.js
  lib/core/src/server/preview/babel-loader-preview.js
  lib/core/src/server/preview/iframe-webpack.config.js
  lib/core/types/index.ts
  scripts/build-storybooks.js
  yarn.lock
Labels: BREAKING CHANGE, app: angular, app: react, app: vue, babel / webpack, core, typescript

#10866 Use `@storybook/client-api`
  addons/viewport/README.md
Labels: documentation, patch

#10864 Addon-docs: Fix react forwardRefs with destructured props
  addons/docs/src/frameworks/react/extractProps.ts
  examples/official-storybook/stories/addon-docs/forward-ref.stories.js
Labels: addon: docs, bug

#10868 Core: Close server when e2e test failed
  scripts/run-e2e.ts
Labels: core, maintenance

#10861 Core: Fix CRA filter for built-in webpack settings
  examples/cra-ts-essentials/package.json
  examples/cra-ts-kitchen-sink/package.json
  lib/core/src/server/preview/base-webpack.config.js
  yarn.lock
Labels: babel / webpack, bug, core, cra

#10873 Upgrade markdown-to-jsx to 6.11.4
  lib/components/package.json
  lib/ui/package.json
  yarn.lock
Labels: dependencies, security

#10875 Addon-docs: Fix story inline rendering
  addons/docs/src/blocks/Story.tsx
  addons/docs/src/frameworks/common/config.ts
  addons/docs/src/frameworks/react/config.ts
Labels: addon: docs, block: other, bug

#10848 Core: Fix typo in projectRoot node_modules detection
  lib/core/src/server/config/utils.js
Labels: bug, core

#10886 Core: Support ts/tsx resolution in the manager
  lib/core/src/server/common/babel.js
  lib/core/src/server/manager/babel-loader-manager.js
  lib/core/src/server/manager/manager-webpack.config.js
Labels: bug, core, typescript

#10839 Document local addon in ts/tsx
  docs/src/pages/addons/writing-addons/index.md
  yarn.lock
Labels: api: addons, documentation, typescript

#10892 Core: Fix double rendering on startup
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
Labels: bug, core

#10889 Docs: fix example of story-level decorators with "storiesOf" API
  docs/src/pages/formats/storiesof-api/index.md
Labels: documentation, patch

#10881 Angular: Support `workspace.json` in nx workspace
  app/angular/src/server/angular-cli_config.ts
Labels: app: angular, feature request

#10897 UI: Center toolbar icon buttons
  lib/components/src/bar/button.tsx
Labels: bug, ui

#10902 Fix screenshot path
  addons/viewport/README.md
Labels: documentation, patch

#10904 Core: fix yarn test command on windows
  scripts/test.js
Labels: core, maintenance

#10877 Addon-docs: Fix single item width in Preview block
  examples/angular-cli/src/stories/app.component.stories.ts
  examples/cra-kitchen-sink/src/stories/App.stories.js
  examples/vue-kitchen-sink/src/stories/components/app.stories.js
  lib/components/src/blocks/Preview.tsx
  lib/ui/src/app.stories.tsx
Labels: addon: docs, bug

#10783 core: use dedicated loader for es6 modules
  lib/core/src/server/common/es6Transpiler.js
  lib/core/src/server/config/utils.js
  lib/core/src/server/manager/babel-loader-manager.js
  lib/core/src/server/manager/manager-webpack.config.js
  lib/core/src/server/preview/babel-loader-preview.js
  lib/core/src/server/preview/iframe-webpack.config.js
Labels: core, ie11, maintenance

#10909 Remove babel-preset-vue
  .babelrc.js
  MIGRATION.md
  app/vue/package.json
  app/vue/src/server/framework-preset-vue.ts
  docs/src/pages/guides/guide-vue/index.md
  docs/src/pages/presets/writing-presets/index.md
  examples/vue-kitchen-sink/.babelrc
  examples/vue-kitchen-sink/package.json
  lib/cli/src/generators/SFC_VUE/template-csf/src/stories/1-Button.stories.js
  lib/cli/src/generators/VUE/index.ts
  lib/cli/src/generators/VUE/template-csf/stories/1-Button.stories.js
  package.json
  scripts/run-e2e-config.ts
  yarn.lock
Labels: BREAKING CHANGE, app: vue

#10916 Revert "Fix: Search stories"
  lib/core/src/client/preview/start.js
Labels: maintenance, patch

#10845 Fix/ref auth
  lib/api/src/modules/refs.ts
  lib/ui/src/components/preview/FramesRenderer.tsx
  lib/ui/src/components/sidebar/RefBlocks.tsx
  lib/ui/src/components/sidebar/RefHelpers.tsx
  lib/ui/src/components/sidebar/RefIndicator.tsx
  lib/ui/src/components/sidebar/Refs.tsx
  lib/ui/src/components/sidebar/Sidebar.stories.tsx
Labels: bug, composition

#10908 Core: Avoid re-render on HMR of other stories
  examples/official-storybook/stories/core/rendering.stories.js
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/client_api.ts
  lib/client-api/src/story_store.ts
  lib/core/src/client/preview/StoryRenderer.test.ts
  lib/core/src/client/preview/StoryRenderer.tsx
  lib/core/src/client/preview/loadCsf.test.ts
  lib/core/src/client/preview/loadCsf.ts
Labels: bug, performance issue

#10834 Addon-Controls: Next-generation knobs
  addons/controls/README.md
  addons/controls/docs/media/addon-controls-args-annotated.png
  addons/controls/docs/media/addon-controls-args-background-color.png
  addons/controls/docs/media/addon-controls-args-background-string.png
  addons/controls/docs/media/addon-controls-args-docs.png
  addons/controls/docs/media/addon-controls-args-logging.png
  addons/controls/docs/media/addon-controls-args-no-annotation.png
  addons/controls/docs/media/addon-controls-args-reflow-slider.png
  addons/controls/docs/media/addon-controls-args-reflow.png
  addons/controls/docs/media/addon-controls-args-template.png
  addons/controls/docs/media/addon-controls-expanded.png
  addons/controls/docs/media/addon-controls-hero.gif
  addons/controls/docs/media/addon-controls-install.png
  addons/controls/package.json
  addons/controls/preset.js
  addons/controls/register.js
  addons/controls/src/components/ControlsPanel.tsx
  addons/controls/src/constants.ts
  addons/controls/src/preset/index.ts
  addons/controls/src/register.tsx
  addons/controls/tsconfig.json
  app/angular/src/server/angular-cli_config.ts
  examples/official-storybook/components/ButtonGroup.js
  examples/official-storybook/main.ts
  examples/official-storybook/package.json
  examples/official-storybook/stories/addon-docs/args-story.stories.ts
  examples/official-storybook/stories/addon-docs/props.stories.mdx
  examples/vue-cli/package.json
  lib/api/src/index.tsx
  lib/api/src/modules/channel.ts
  lib/components/src/blocks/ArgsTable/ArgRow.stories.tsx
  lib/components/src/blocks/ArgsTable/ArgRow.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.stories.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.tsx
  yarn.lock
Labels: addon: controls, addon: docs, args, feature request

#10888 CI: Stabilize E2E tests
  cypress/generated/addon-action.spec.ts
  cypress/generated/addon-link.spec.ts
  cypress/support/commands.js
  lib/cli/src/generators/ANGULAR/template-csf/src/stories/1-Button.stories.ts
  lib/cli/src/generators/ANGULAR/template-mdx/src/stories/1-Button.stories.mdx
  lib/cli/src/generators/AURELIA/template-csf/src/stories/1-Button.stories.ts
  lib/cli/src/generators/AURELIA/template-mdx/src/stories/1-Button.stories.mdx
  lib/cli/src/generators/EMBER/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/HTML/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/MITHRIL/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/PREACT/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/RAX/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/REACT/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/REACT_SCRIPTS/template-csf/src/stories/1-Button.stories.js
  lib/cli/src/generators/RIOT/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/SFC_VUE/template-csf/src/stories/1-Button.stories.js
  lib/cli/src/generators/SVELTE/template-csf/stories/1-button.stories.js
  lib/cli/src/generators/VUE/template-csf/stories/1-Button.stories.js
  lib/cli/src/generators/WEB-COMPONENTS/template/stories/1-Button.stories.js
  lib/cli/src/generators/WEBPACK_REACT/template-csf/stories/1-Button.stories.js
  scripts/run-e2e-config.ts
Labels: core, maintenance

#10941 Core: Add missing babel plugin
  lib/core/package.json
  lib/core/src/server/common/babel.js
  yarn.lock
Labels: babel / webpack, bug, core

#10953 Addon-controls: Web-components support
  addons/docs/src/frameworks/web-components/__testfixtures__/lit-element-demo-card/properties.snapshot
  addons/docs/src/frameworks/web-components/__testfixtures__/lit-html-welcome/properties.snapshot
  addons/docs/src/frameworks/web-components/config.js
  addons/docs/src/frameworks/web-components/custom-elements.ts
  addons/docs/src/frameworks/web-components/web-components-properties.test.ts
  examples/web-components-kitchen-sink/.storybook/main.js
  examples/web-components-kitchen-sink/package.json
  examples/web-components-kitchen-sink/stories/card.stories.js
Labels: addon: controls, app: web-components, args, feature request

#10946 Addon-controls: Angular support
  addons/controls/src/register.tsx
  addons/docs/package.json
  addons/docs/src/frameworks/angular/__testfixtures__/doc-button/argtypes.snapshot
  addons/docs/src/frameworks/angular/compodoc.test.ts
  addons/docs/src/frameworks/angular/compodoc.ts
  examples/angular-cli/.storybook/main.js
  examples/angular-cli/package.json
  examples/angular-cli/src/stories/doc-button/__snapshots__/doc-button.stories.storyshot
  examples/angular-cli/src/stories/doc-button/doc-button.component.html
  examples/angular-cli/src/stories/doc-button/doc-button.stories.ts
  examples/vue-cli/.storybook/preview.js
  examples/vue-kitchen-sink/.storybook/preview.js
Labels: addon: controls, app: angular, args, feature request

#10926 Core: Support valid globs
  .babelrc.js
  MIGRATION.md
  addons/docs/README.md
  addons/docs/angular/README.md
  addons/docs/common/README.md
  addons/docs/docs/docspage.md
  addons/docs/ember/README.md
  addons/docs/react/README.md
  addons/docs/vue/README.md
  addons/storyshots/storyshots-core/src/frameworks/configure.ts
  docs/src/pages/guides/guide-angular/index.md
  docs/src/pages/guides/guide-ember/index.md
  docs/src/pages/guides/guide-html/index.md
  docs/src/pages/guides/guide-marko/index.md
  docs/src/pages/guides/guide-mithril/index.md
  docs/src/pages/guides/guide-preact/index.md
  docs/src/pages/guides/guide-rax/index.md
  docs/src/pages/guides/guide-react/index.md
  docs/src/pages/guides/guide-riot/index.md
  docs/src/pages/guides/guide-svelte/index.md
  docs/src/pages/guides/guide-vue/index.md
  docs/src/pages/guides/guide-web-components/index.md
  examples/angular-cli/.storybook/main.js
  examples/aurelia-kitchen-sink/.storybook/main.js
  examples/cra-kitchen-sink/.storybook/main.js
  examples/cra-ts-kitchen-sink/.storybook/main.ts
  examples/official-storybook/main.ts
  examples/vue-cli/.storybook/main.js
  examples/vue-kitchen-sink/.storybook/main.js
  lib/cli/src/generators/ANGULAR/template-mdx/.storybook/main.js
  lib/cli/src/generators/AURELIA/template-mdx/.storybook/main.js
  lib/cli/src/generators/HTML/template-mdx/.storybook/main.js
  lib/cli/src/generators/REACT/template-csf/.storybook/main.js
  lib/cli/src/generators/REACT/template-mdx/.storybook/main.js
  lib/cli/src/generators/REACT_SCRIPTS/template-csf-ts/.storybook/main.js
  lib/cli/src/generators/REACT_SCRIPTS/template-mdx/.storybook/main.js
  lib/cli/src/generators/SFC_VUE/template-mdx/.storybook/main.js
  lib/cli/src/generators/WEBPACK_REACT/template-mdx/.storybook/main.js
  lib/core/package.json
  lib/core/src/server/preview/entries.js
  lib/core/src/server/preview/to-require-context.js
  lib/core/src/server/preview/to-require-context.test.js
  lib/core/src/server/preview/to-require-context.ts
  lib/core/types/index.ts
  package.json
  yarn.lock
Labels: bug, core

#10974 Core: Log swallowed errors when requiring stories
  lib/core/src/client/preview/loadCsf.ts
Labels: bug, core

#10910 Core: Send global args with set stories
  lib/api/src/lib/stories.ts
  lib/api/src/modules/globalArgs.ts
  lib/api/src/tests/globalArgs.test.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
Labels: bug, core

#10980 Core: Fix `register.tsx` as manager code in preset heuristic
  lib/core/src/server/presets.js
  lib/core/src/server/presets.test.js
Labels: bug, core, typescript

#10981 Core: Fix HMR for navigation sidebar in UI
  lib/api/src/lib/stories.ts
Labels: bug, ui

#10984 Addon-docs: Handle JSON.parse exception for Angular union types
  addons/docs/src/frameworks/angular/compodoc.ts
Labels: addon: controls, addon: docs, app: angular, bug

#10986 Addon-controls: Add warning to controls tab on no-args story
  addons/controls/package.json
  addons/controls/src/components/ControlsPanel.tsx
Labels: addon: controls, feature request
