Repository storybookjs/storybook, pull requests merged in 2021-06, with the labels that each got.

#15108 Chore: (Docs) Minor polish to the bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: maintenance

#15112 Revert "Loosen puppeteer dependencies to allow last major version"
  addons/storyshots/storyshots-puppeteer/package.json
  examples/official-storybook/package.json
  package.json
  yarn.lock
Labels: dependencies

#15114 CLI: Disable `react_in_yarn_workspace` template for users, keep in e2e
  lib/cli/src/repro.ts
Labels: bug, cli

#15104 documentation fixes for addons/controls
  addons/controls/README.md
Labels: documentation, patch

#15117 Docs: Add note about yarn2 linking
  docs/contribute/code.md
Labels: documentation, patch

#15061 Angular: Add angular builder to start + build storybook
  app/angular/package.json
  app/angular/src/builders/build-storybook/index.spec.ts
  app/angular/src/builders/build-storybook/index.ts
  app/angular/src/builders/build-storybook/schema.json
  app/angular/src/builders/builders.json
  app/angular/src/builders/start-storybook/index.spec.ts
  app/angular/src/builders/start-storybook/index.ts
  app/angular/src/builders/start-storybook/schema.json
  app/angular/standalone.d.ts
  app/angular/tsconfig.json
  examples/angular-cli/angular.json
Labels: app: angular, feature request

#15118 CLI: Fix react repro template deps
  lib/cli/src/repro-generators/configs.ts
Labels: bug, cli

#15121 Core: Fix prebuilt manager usage on first run
  lib/manager-webpack4/src/index.ts
  lib/manager-webpack4/src/utils/prebuilt-manager.ts
  lib/manager-webpack5/src/index.ts
  lib/manager-webpack5/src/utils/prebuilt-manager.ts
Labels: bug, core, performance issue

#15062 Core: Add `core.disableWebpackDefaults` preset
  lib/builder-webpack4/src/presets/custom-webpack-preset.ts
  lib/builder-webpack5/src/presets/custom-webpack-preset.ts
  lib/core-common/src/types.ts
Labels: core, feature request

#15107 Essentials: Add measue and outline addons
  addons/essentials/package.json
  addons/essentials/src/index.ts
  lib/components/src/Zoom/Zoom.stories.tsx
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-prod
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-prod
  lib/core-server/src/__snapshots__/vue-3-cli_manager-dev
  lib/core-server/src/__snapshots__/vue-3-cli_manager-prod
  lib/core-server/src/__snapshots__/vue-3-cli_preview-dev
  lib/core-server/src/__snapshots__/vue-3-cli_preview-prod
  scripts/verdaccio.yaml
  yarn.lock
Labels: addon: essentials, feature request

#15049 Server: Add support for stories written in YAML
  app/server/README.md
  app/server/package.json
  app/server/src/lib/compiler/__testfixtures__/yaml.snapshot
  app/server/src/lib/compiler/__testfixtures__/yaml.yaml
  app/server/src/lib/compiler/__testfixtures__/yml.snapshot
  app/server/src/lib/compiler/__testfixtures__/yml.yml
  app/server/src/lib/compiler/json-to-csf-compiler.test.ts
  app/server/src/server/framework-preset-server.ts
  examples/server-kitchen-sink/.storybook/main.js
  examples/server-kitchen-sink/stories/addon-a11y.stories.json
  examples/server-kitchen-sink/stories/yaml.stories.yaml
  examples/server-kitchen-sink/stories/yml.stories.yml
  examples/server-kitchen-sink/views/yaml/button.pug
  examples/server-kitchen-sink/views/yaml/heading.pug
  examples/server-kitchen-sink/views/yaml/headings.pug
  yarn.lock
Labels: app: server, feature request

#15126 Angular: Ivy rendering for Canvas and Docs
  addons/docs/package.json
  addons/docs/src/frameworks/angular/prepareForInline.ts
  addons/docs/src/frameworks/angular/preset.ts
  addons/storyshots/storyshots-core/src/frameworks/angular/renderTree.ts
  app/angular/package.json
  app/angular/src/builders/build-storybook/index.spec.ts
  app/angular/src/builders/start-storybook/index.spec.ts
  app/angular/src/client/preview/angular-beta/AbstractRenderer.ts
  app/angular/src/client/preview/angular-beta/CanvasRenderer.ts
  app/angular/src/client/preview/angular-beta/DocsRenderer.ts
  app/angular/src/client/preview/angular-beta/ElementRendererService.ts
  app/angular/src/client/preview/angular-beta/RendererFactory.test.ts
  app/angular/src/client/preview/angular-beta/RendererFactory.ts
  app/angular/src/client/preview/angular-beta/RendererService.ts
  app/angular/src/client/preview/angular-beta/StorybookModule.test.ts
  app/angular/src/client/preview/angular-beta/StorybookModule.ts
  app/angular/src/client/preview/angular-beta/StorybookWrapperComponent.ts
  app/angular/src/client/preview/render.ts
  app/angular/src/renderer.ts
  examples/angular-cli/package.json
  yarn.lock
Labels: app: angular, feature request

#14653 CLI: Add storybook-addon-angular-ivy to angular install
  app/angular/src/client/preview/angular-beta/RendererService.ts
  docs/toc.js
  lib/cli/src/generators/ANGULAR/index.ts
Labels: app: angular, cli, feature request, run e2e extended test suite

#15139 Angular: Fix Ivy rendering to use at most one render promise at a time
  addons/docs/src/frameworks/angular/prepareForInline.ts
Labels: addon: docs, app: angular, bug

#15142 CSF tools: Refactor test cases
  lib/csf-tools/package.json
  lib/csf-tools/src/CsfFile.test.ts
  lib/csf-tools/src/CsfFile.ts
  lib/csf-tools/src/__testfixtures__/basic.snapshot
  lib/csf-tools/src/__testfixtures__/basic.stories.js
  lib/csf-tools/src/__testfixtures__/exclude.snapshot
  lib/csf-tools/src/__testfixtures__/exclude.stories.js
  lib/csf-tools/src/__testfixtures__/include.snapshot
  lib/csf-tools/src/__testfixtures__/include.stories.js
  lib/csf-tools/src/__testfixtures__/nometa.snapshot
  lib/csf-tools/src/__testfixtures__/nometa.stories.js
  lib/csf-tools/src/__testfixtures__/typescript.snapshot
  lib/csf-tools/src/__testfixtures__/typescript.stories.tsx
  yarn.lock
Labels: bug, csf

#15144 Essentials: Update measure/outline addons to support ESM and vite builder
  addons/essentials/package.json
  app/server/src/lib/compiler/__testfixtures__/yaml.snapshot
  app/server/src/lib/compiler/__testfixtures__/yml.snapshot
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-prod
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-prod
  lib/core-server/src/__snapshots__/vue-3-cli_manager-dev
  lib/core-server/src/__snapshots__/vue-3-cli_manager-prod
  lib/core-server/src/__snapshots__/vue-3-cli_preview-dev
  lib/core-server/src/__snapshots__/vue-3-cli_preview-prod
  yarn.lock
Labels: addon: essentials, feature request

#12777 Chore: update documentation to address issue #10856
  docs/workflows/stories-for-multiple-components.md
  docs/writing-stories/args.md
Labels: documentation, patch

#15146 Build: Fix WC example and e2e tests
  examples/web-components-kitchen-sink/.yarnrc.yml
  examples/web-components-kitchen-sink/yarn.lock
  lib/cli/src/repro.ts
Labels: maintenance, run e2e extended test suite

#15149 CLI: Update project template for web-components
  lib/cli/src/generators/WEB-COMPONENTS/index.ts
  lib/cli/src/generators/WEB-COMPONENTS/template-csf/.storybook/preview.js
Labels: app: web-components, cli, maintenance

#15152 CsfFile: Index Meta/Story annotations
  lib/csf-tools/src/CsfFile.test.ts
  lib/csf-tools/src/CsfFile.ts
Labels: core, maintenance

#14973 Controls: Style `undefined` range slider different to filled one
  lib/components/src/controls/Number.tsx
  lib/components/src/controls/Object.tsx
  lib/components/src/controls/Range.tsx
Labels: addon: controls, feature request

#15154 Upgrade to react-docgen-typescript-plugin 1.0.0
  app/react/package.json
  app/react/src/server/framework-preset-react-docgen.test.ts
  app/react/src/server/framework-preset-react-docgen.ts
  lib/core-common/package.json
  lib/core-common/src/types.ts
  yarn.lock
Labels: dependencies, run e2e extended test suite

#15160 Angular: Clear root / docs-root when navigating from one tab to the other
  app/angular/src/client/preview/angular-beta/RendererFactory.test.ts
  app/angular/src/client/preview/angular-beta/RendererFactory.ts
Labels: addon: docs, app: angular, bug

#15165 Angular: Add compodoc to ng builder
  app/angular/src/builders/build-storybook/index.spec.ts
  app/angular/src/builders/build-storybook/index.ts
  app/angular/src/builders/build-storybook/schema.json
  app/angular/src/builders/start-storybook/index.spec.ts
  app/angular/src/builders/start-storybook/index.ts
  app/angular/src/builders/start-storybook/schema.json
  app/angular/src/builders/utils/run-compodoc.ts
Labels: app: angular, feature request

#15167 update addon measure to fix hooks related issue
  addons/essentials/package.json
  yarn.lock
Labels: addon: essentials, bug

#15169 Toolbars: Add customizable keyboard navigation shortcuts
  addons/toolbars/package.json
  addons/toolbars/src/components/MenuToolbar.tsx
  addons/toolbars/src/components/ToolbarManager.tsx
  addons/toolbars/src/components/ToolbarMenuButton.tsx
  addons/toolbars/src/components/ToolbarMenuList.tsx
  addons/toolbars/src/components/ToolbarMenuListItem.tsx
  addons/toolbars/src/constants.ts
  addons/toolbars/src/hoc/withKeyboardCycle.tsx
  addons/toolbars/src/register.tsx
  addons/toolbars/src/types.ts
  addons/toolbars/src/utils/create-cycle-value-array.ts
  addons/toolbars/src/utils/get-selected-icon.ts
  addons/toolbars/src/utils/normalize-toolbar-arg-type.ts
  addons/toolbars/src/utils/register-shortcuts.ts
  examples/official-storybook/preview.js
  examples/official-storybook/stories/addon-toolbars.stories.js
  yarn.lock
Labels: PN, addon: toolbars, feature request

#15187 Core: Use named import for @storybook/addons, fixes vite builder
  MIGRATION.md
  addons/a11y/src/a11yHighlight.ts
  addons/a11y/src/a11yRunner.test.ts
  addons/a11y/src/a11yRunner.ts
  addons/actions/src/preview/__tests__/action.test.js
  addons/actions/src/preview/__tests__/actions.test.js
  addons/controls/src/register.tsx
  addons/docs/src/blocks/mdx.tsx
  addons/docs/src/frameworks/react/jsxDecorator.test.tsx
  addons/docs/src/register.ts
  addons/jest/src/index.ts
  addons/jest/src/register.tsx
  addons/links/src/preview.test.ts
  addons/links/src/preview.ts
  addons/links/src/react/components/link.test.tsx
  addons/links/src/register.ts
  addons/storyshots/storyshots-core/src/api/index.ts
  addons/storysource/src/register.tsx
  addons/toolbars/src/register.tsx
  addons/viewport/src/register.tsx
  app/angular/src/client/preview/angular-beta/DocsRenderer.ts
  app/angular/src/client/preview/decorators.test.ts
  docs/snippets/common/storybook-addon-tab-example.js.mdx
  docs/snippets/common/storybook-addon-toolbar-example.js.mdx
  docs/workflows/faq.md
  examples/cra-ts-kitchen-sink/.storybook/localAddon/register.tsx
  examples/official-storybook/stories/core/events.stories.js
  lib/channels/README.md
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/hooks.test.js
  lib/client-api/src/story_store.test.ts
  lib/core-client/src/manager/provider.ts
  lib/core-client/src/preview/StoryRenderer.test.ts
  lib/core-client/src/preview/start.ts
  lib/ui/src/components/preview/preview.tsx
  lib/ui/src/components/preview/toolbar.tsx
Labels: maintenance

#15192 Core: Add `shortcuts` URL param to disable keyboard shortcuts
  MIGRATION.md
  docs/configure/features-and-behavior.md
  lib/api/src/modules/url.ts
  lib/api/src/tests/url.test.js
Labels: core, feature request, ui

#15189 Angular: Fix builder runaway process
  app/angular/src/builders/start-storybook/index.ts
Labels: app: angular, bug

#15194 Angular: Use docsMode to set docs options
  app/angular/src/builders/build-storybook/index.spec.ts
  app/angular/src/builders/build-storybook/schema.json
  app/angular/src/builders/start-storybook/index.spec.ts
  app/angular/src/builders/start-storybook/schema.json
Labels: app: angular, bug

#15200 Addon docs
  docs/addons/writing-addons.md
  docs/essentials/introduction.md
Labels: documentation, patch

#15205 Addon-docs: Split out MDX compiler into standalone package
  addons/docs/jest-transform-mdx.js
  addons/docs/mdx-compiler-plugin.js
  addons/docs/package.json
  addons/docs/src/frameworks/common/preset.ts
  addons/docs/src/mdx/__testfixtures__/component-args.mdx
  addons/docs/src/mdx/__testfixtures__/component-id.mdx
  addons/docs/src/mdx/__testfixtures__/csf-imports.mdx
  addons/docs/src/mdx/__testfixtures__/decorators.mdx
  addons/docs/src/mdx/__testfixtures__/docs-only.mdx
  addons/docs/src/mdx/__testfixtures__/loaders.mdx
  addons/docs/src/mdx/__testfixtures__/meta-quotes-in-title.mdx
  addons/docs/src/mdx/__testfixtures__/non-story-exports.mdx
  addons/docs/src/mdx/__testfixtures__/parameters.mdx
  addons/docs/src/mdx/__testfixtures__/previews.mdx
  addons/docs/src/mdx/__testfixtures__/story-args.mdx
  addons/docs/src/mdx/__testfixtures__/story-current.mdx
  addons/docs/src/mdx/__testfixtures__/story-def-text-only.mdx
  addons/docs/src/mdx/__testfixtures__/story-definitions.mdx
  addons/docs/src/mdx/__testfixtures__/story-function-var.mdx
  addons/docs/src/mdx/__testfixtures__/story-function.mdx
  addons/docs/src/mdx/__testfixtures__/story-missing-props.mdx
  addons/docs/src/mdx/__testfixtures__/story-multiple-children.mdx
  addons/docs/src/mdx/__testfixtures__/story-object.mdx
  addons/docs/src/mdx/__testfixtures__/story-references.mdx
  addons/docs/src/mdx/__testfixtures__/title-template-string.mdx
  addons/docs/src/mdx/__testfixtures__/vanilla.mdx
  addons/docs/src/mdx/mdx-compiler-plugin.test.js
  lib/csf-tools/README.md
  lib/csf-tools/__testfixtures__/mdx/component-args.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/component-id.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/csf-imports.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/decorators.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/docs-only.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/loaders.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/meta-quotes-in-title.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/non-story-exports.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/parameters.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/previews.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-args.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-current.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-def-text-only.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-definitions.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-function-var.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-function.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-multiple-children.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-object.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-references.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/title-template-string.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/vanilla.output.snapshot
  lib/csf-tools/mdx.d.ts
  lib/csf-tools/mdx.js
  lib/csf-tools/package.json
  lib/csf-tools/src/mdx/index.ts
  lib/csf-tools/src/mdx/sb-mdx-plugin.test.ts
  lib/csf-tools/src/mdx/sb-mdx-plugin.ts
  lib/csf-tools/src/mdx/typings.d.ts
  package.json
  yarn.lock
Labels: addon: docs, maintenance

#15191 Update examples.md
  docs/get-started/examples.md
Labels: documentation, patch

#15207 Vue3: Add vue-loader as a dependency
  app/vue3/package.json
  yarn.lock
Labels: app: vue3, dependencies

#15197 Core: Fix autoRefs check in manager-webpack
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-prod
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-dev
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-prod
  lib/core-server/src/__snapshots__/vue-3-cli_manager-dev
  lib/core-server/src/__snapshots__/vue-3-cli_manager-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-prod
  lib/manager-webpack4/src/manager-config.ts
  lib/manager-webpack5/src/manager-config.ts
Labels: bug, composition

#15222 Codemod: Fix dist/node_modules ignore heuristic
  lib/codemod/src/index.js
Labels: bug, cli

#15145 UI: Fix range slider value label size changes causing jittering
  lib/components/src/controls/Range.stories.tsx
  lib/components/src/controls/Range.tsx
Labels: addon: controls, bug, ui

#15217 Core: CSF v3 preview
  MIGRATION.md
  app/react/src/client/preview/index.tsx
  examples/react-ts/main.ts
  examples/react-ts/package.json
  examples/react-ts/preview.js
  examples/react-ts/src/AccountForm.stories.tsx
  examples/react-ts/src/AccountForm.tsx
  examples/react-ts/src/button.stories.tsx
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack4/src/preview/virtualModuleEntry.template.js
  lib/builder-webpack5/src/preview/virtualModuleEntry.template.js
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/client_api.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/client-api/src/types.ts
  lib/codemod/package.json
  lib/codemod/src/index.js
  lib/codemod/src/lib/utils.ts
  lib/codemod/src/transforms/__tests__/csf-2-to-3.test.ts
  lib/codemod/src/transforms/csf-2-to-3.ts
  lib/codemod/tsconfig.json
  lib/core-client/src/preview/StoryRenderer.test.ts
  lib/core-client/src/preview/StoryRenderer.tsx
  lib/core-client/src/preview/csf3.ts
  lib/core-client/src/preview/loadCsf.ts
  lib/core-client/src/preview/normalizeStory.test.ts
  lib/core-client/src/preview/normalizeStory.ts
  lib/core-common/src/types.ts
  lib/core-server/src/build-dev.ts
  lib/core-server/src/build-static.ts
  lib/csf-tools/src/CsfFile.ts
  yarn.lock
Labels: core, csf, maintenance

#15213 Core: Preserve other query params when changing args/globals
  lib/api/src/modules/url.ts
  lib/api/src/tests/url.test.js
Labels: P0, bug, core

#15230 CSF3: Fix v1-style annotations in codemod
  lib/codemod/src/transforms/__tests__/csf-2-to-3.test.ts
  lib/csf-tools/src/CsfFile.test.ts
  lib/csf-tools/src/CsfFile.ts
Labels: maintenance

#15232 Other: Fix fonts and spinner animation in demo story
  examples/react-ts/src/AccountForm.stories.tsx
  examples/react-ts/src/AccountForm.tsx
Labels: maintenance

#15168 Vue3: Update args without re-mounting component
  app/vue3/src/client/preview/index.ts
  app/vue3/src/client/preview/render.ts
Labels: app: vue3, args, bug

#15237 fix: tooltip added for errors
  examples/react-ts/src/AccountForm.stories.tsx
  examples/react-ts/src/AccountForm.tsx
Labels: maintenance

#15243 Use @storybook/react-docgen-typescript-plugin canary with PR#45
  app/react/package.json
  app/react/src/server/framework-preset-react-docgen.test.ts
  app/react/src/server/framework-preset-react-docgen.ts
  lib/core-common/src/types.ts
  yarn.lock
Labels: dependencies

#15244 Core: Only call setup function on story navigation
  lib/core-client/src/preview/StoryRenderer.tsx
Labels: bug, core

#15245 Official-storybook: Add CSF3 setup function demo
  examples/official-storybook/main.ts
  examples/official-storybook/package.json
  examples/official-storybook/stories/demo/setup.stories.tsx
  yarn.lock
Labels: maintenance

#15247 Upgrade react-docgen-typescript-plugin to RDT 2.0
  app/react/package.json
  lib/core-common/package.json
  yarn.lock
Labels: app: react, dependencies, typescript

#15240 Chore: (Docs) updates addons in the README
  README.md
Labels: documentation, patch

#15212 Chore: (Docs) DocsPage changes
  docs/snippets/common/button-story-disable-docspage.js.mdx
  docs/snippets/common/button-story-docspage-with-custom-component.js.mdx
  docs/snippets/common/button-story-docspage-with-mdx.js.mdx
  docs/snippets/common/custom-docs-page.js-component.js.mdx
  docs/snippets/common/custom-docs-page.mdx.mdx
  docs/snippets/common/custom-docs-page.ts-component.ts.mdx
  docs/snippets/common/storybook-preview-disable-docspage.js.mdx
  docs/writing-docs/docs-page.md
Labels: documentation, patch

#15128 viewport addon CSS fix for scale reset on firefox
  examples/angular-cli/.storybook/main.js
  lib/core-common/src/templates/base-preview-head.html
Labels: bug, ui

#15266 Addon-docs: Fix MDX compiler export to match new location
  addons/docs/mdx-compiler-plugin.js
Labels: addon: docs, bug

#15229 Angular: Add built-in Ivy support instead of relying on addon
  app/angular/src/server/framework-preset-angular-ivy.ts
  app/angular/src/server/options.ts
  app/angular/src/types/index.ts
  docs/workflows/faq.md
  examples/angular-cli/.storybook/main.js
  lib/cli/src/generators/ANGULAR/index.ts
Labels: app: angular, babel / webpack, feature request, in progress

#15277 Fix monorepo peer deps
  addons/docs/package.json
  addons/essentials/package.json
  addons/storyshots/storyshots-puppeteer/package.json
  lib/core-server/package.json
  lib/core/package.json
  yarn.lock
Labels: dependencies

#15276 Bump postcss to 7.0.36 with security fix
  app/angular/package.json
  lib/builder-webpack4/package.json
  yarn.lock
Labels: dependencies, security

#15279 Angular: Fix some Ivy rendering glitches
  app/angular/src/client/preview/angular-beta/AbstractRenderer.ts
  app/angular/src/client/preview/angular-beta/CanvasRenderer.ts
  app/angular/src/client/preview/angular-beta/DocsRenderer.ts
Labels: app: angular, bug

#15267 Angular: Fix nx project with workspace.json
  app/angular/src/server/__mocks-ng-workspace__/with-nx-workspace/nx.json
  app/angular/src/server/__mocks-ng-workspace__/with-nx-workspace/src/main.ts
  app/angular/src/server/__mocks-ng-workspace__/with-nx-workspace/src/styles.css
  app/angular/src/server/__mocks-ng-workspace__/with-nx-workspace/src/styles.scss
  app/angular/src/server/__mocks-ng-workspace__/with-nx-workspace/src/tsconfig.app.json
  app/angular/src/server/__mocks-ng-workspace__/with-nx-workspace/tsconfig.json
  app/angular/src/server/__mocks-ng-workspace__/with-nx-workspace/workspace.json
  app/angular/src/server/angular-read-workspace.ts
  app/angular/src/server/framework-preset-angular-cli.test.ts
Labels: app: angular, bug, nx

#15288 Fix peer deps
  addons/docs/package.json
  addons/essentials/package.json
  addons/storyshots/storyshots-puppeteer/package.json
  lib/core-server/package.json
  lib/core/package.json
  yarn.lock
Labels: dependencies

#15287 Upgrade react-docgen-typescript-plugin per PR#46
  app/react/package.json
  lib/core-common/package.json
  yarn.lock
Labels: app: react, dependencies, typescript

#15291 Chore: (Snippets) Minor adjustments to the snippets
  docs/snippets/angular/button-story-with-args.ts.mdx
  docs/snippets/react/button-story-with-args.js.mdx
  docs/snippets/react/button-story-with-args.ts.mdx
  docs/snippets/react/button-story.js.mdx
  docs/snippets/react/button-story.ts.mdx
  docs/snippets/svelte/button-story-with-args.js.mdx
  docs/snippets/svelte/button-story.js.mdx
  docs/snippets/web-components/button-story-with-args.js.mdx
  docs/snippets/web-components/button-story.js.mdx
Labels: documentation, patch

#14233 docs: fix css-loader options for v3 api schema
  docs/snippets/common/storybook-preset-configuration.js.mdx
Labels: documentation

#15166 Updating preview head/body section to mention presets
  docs/configure/story-rendering.md
Labels: documentation, patch

#15312 Toolbars: Add missing `regenerator-runtime` dependency
  addons/toolbars/package.json
  yarn.lock
Labels: addon: toolbars, maintenance

#15299 Yarn: Disable unnecessary builds
  package.json
  yarn.lock
Labels: maintenance

#15292 CLI: Update types in React typescript templates
  lib/cli/src/frameworks/react/ts/Button.stories.tsx
  lib/cli/src/frameworks/react/ts/Button.tsx
  lib/cli/src/frameworks/react/ts/Header.stories.tsx
  lib/cli/src/frameworks/react/ts/Header.tsx
  lib/cli/src/frameworks/react/ts/Page.stories.tsx
  lib/cli/src/frameworks/react/ts/Page.tsx
  scripts/run-e2e.ts
Labels: cli, feature request

#15329 Update docs to point to main branch
  .circleci/config.yml
  .teamcity/patches/buildTypes/TestWorkflow.kts
  .teamcity/settings.kts
  CONTRIBUTING.old.md
  MAINTAINERS.md
  README.md
  RELEASES.md
  addons/a11y/README.md
  addons/backgrounds/README.md
  addons/controls/README.md
  addons/docs/README.md
  addons/essentials/README.md
  addons/jest/README.md
  addons/links/README.md
  addons/storyshots/storyshots-core/README.md
  addons/storyshots/storyshots-puppeteer/README.md
  addons/storysource/README.md
  addons/toolbars/README.md
  addons/viewport/README.md
  app/angular/README.md
  app/ember/README.md
  app/html/README.md
  app/preact/README.md
  app/react/README.md
  app/server/README.md
  app/svelte/README.md
  app/vue/README.md
  app/vue3/README.md
  app/web-components/README.md
  lib/postinstall/README.md
  lib/ui/README.md
Labels: maintenance

#15332 Svelte: Fix argType.type.name extraction
  addons/docs/src/frameworks/svelte/extractArgTypes.test.ts
  addons/docs/src/frameworks/svelte/extractArgTypes.ts
Labels: app: svelte, args, block: argstable, bug

#15343 Upgrade dotenv-webpack to 7.0.x
  lib/builder-webpack5/package.json
  lib/manager-webpack5/package.json
  lib/manager-webpack5/src/manager-webpack.config.ts
  yarn.lock
Labels: dependencies, patch, webpack5

#15349 UI: Fix navigation after no story error
  lib/csf-tools/__testfixtures__/mdx/component-args.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/component-id.output.snapshot
  lib/ui/src/components/preview/preview.tsx
  lib/ui/src/components/preview/utils/types.tsx
  lib/ui/src/containers/preview.tsx
Labels: bug, patch, ui

#15354 Essentials: Update addon measure and outline
  addons/essentials/package.json
  yarn.lock
Labels: addon: essentials, bug, patch

#15358 CSF3: Rename setup to play
  examples/official-storybook/stories/demo/setup.stories.tsx
  examples/react-ts/src/AccountForm.stories.tsx
  examples/react-ts/src/button.stories.tsx
  lib/client-api/src/story_store.ts
  lib/client-api/src/types.ts
  lib/codemod/src/transforms/__tests__/csf-2-to-3.test.ts
  lib/core-client/src/preview/StoryRenderer.test.ts
  lib/core-client/src/preview/StoryRenderer.tsx
  lib/core-client/src/preview/normalizeStory.test.ts
  lib/core-client/src/preview/normalizeStory.ts
Labels: BREAKING PRERELEASE, csf, maintenance, patch

#15365 Core: Only use dotenv-webpack when a user has a dotenv file
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/core-common/src/index.ts
  lib/core-common/src/utils/has-dotenv.ts
  lib/manager-webpack5/src/manager-webpack.config.ts
Labels: bug, core, webpack5

#15374 Webpack5: Fix warnings typo
  lib/builder-webpack5/src/index.ts
Labels: bug, patch, webpack5

#15375 CSF3: Genericize feature flagging and fix webpack5
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/core-client/src/preview/StoryRenderer.test.ts
  lib/core-client/src/preview/StoryRenderer.tsx
  lib/core-client/src/preview/csf3.ts
  lib/core-client/src/preview/normalizeStory.ts
  lib/core-common/src/types.ts
  lib/core-server/src/build-dev.ts
  lib/core-server/src/build-static.ts
Labels: bug, csf, patch, webpack5

#15383 Vue3: Add MDX example
  examples/vue-3-cli/src/stories/Button.stories.mdx
Labels: app: vue3, documentation, patch

#15394 Actions: Don't override existing action args
  addons/actions/src/preset/addArgsHelpers.test.ts
  addons/actions/src/preset/addArgsHelpers.ts
Labels: addon: actions, bug, patch

#15393 docs: remove unnecessary character
  MIGRATION.md
Labels: addon: docs, patch

#15395 CSF: Add stories.json generation for CSF3 stories
  lib/csf-tools/package.json
  lib/csf-tools/src/CsfFile.test.ts
  lib/csf-tools/src/CsfFile.ts
  lib/csf-tools/src/typings.d.ts
  yarn.lock
Labels: composition, csf, feature request

#15396 Documentation: change table to list
  docs/workflows/snapshot-testing.md
Labels: documentation, patch

#15377 Documentation: Change isToolshown type from String to Boolean
  docs/configure/features-and-behavior.md
Labels: documentation, patch

#15402 Essentials: Update measure and outline. Fix alt+tab issues on windows.
  addons/essentials/package.json
  yarn.lock
Labels: addon: essentials, bug, dependencies

#15409 Revert "Vue3: Update args without re-mounting component"
  app/vue3/src/client/preview/index.ts
  app/vue3/src/client/preview/render.ts
Labels: app: vue3, bug, patch

#15408 Core: Fix decorator context update
  examples/official-storybook/stories/core/decorators.stories.js
  lib/client-api/src/decorators.test.ts
  lib/client-api/src/decorators.ts
Labels: bug, core, patch

#15376 CSF3: Generate default titles based on file path
  examples/react-ts/main.ts
  examples/react-ts/src/AccountForm.stories.tsx
  lib/builder-webpack4/src/index.ts
  lib/builder-webpack4/src/preview/entries.ts
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/index.ts
  lib/builder-webpack5/src/preview/entries.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/core-client/src/preview/autoTitle.test.ts
  lib/core-client/src/preview/autoTitle.ts
  lib/core-client/src/preview/loadCsf.ts
  lib/core-common/src/index.ts
  lib/core-common/src/types.ts
  lib/core-common/src/utils/__tests__/normalize-stories.test.ts
  lib/core-common/src/utils/normalize-stories.ts
  lib/core-server/src/build-static.ts
  lib/core-server/src/utils/stories-json.ts
Labels: csf, feature request

#15138 Web-components: Custom Elements Manifest v1 support
  addons/docs/src/frameworks/web-components/custom-elements.ts
  addons/docs/web-components/README.md
  app/web-components/src/client/customElements.ts
  app/web-components/src/client/index.ts
  docs/essentials/auto-generated-controls/web-components.mdx
  examples/web-components-kitchen-sink/.storybook/preview.js
  examples/web-components-kitchen-sink/custom-elements-experimental.json
  examples/web-components-kitchen-sink/custom-elements.json
  examples/web-components-kitchen-sink/custom-elements.md
  examples/web-components-kitchen-sink/package.json
  examples/web-components-kitchen-sink/src/components/sb-button.stories.ts
  examples/web-components-kitchen-sink/src/components/sb-button.ts
  examples/web-components-kitchen-sink/src/components/sb-header.stories.ts
  examples/web-components-kitchen-sink/src/components/sb-header.ts
  examples/web-components-kitchen-sink/src/components/sb-page.stories.ts
  examples/web-components-kitchen-sink/src/components/sb-page.ts
  examples/web-components-kitchen-sink/yarn.lock
Labels: app: web-components, feature request

#15430 CSF: Fix auto-title generation for standard config dir
  examples/cra-ts-kitchen-sink/.storybook/main.ts
  examples/cra-ts-kitchen-sink/src/stories/1-Button.stories.tsx
  lib/builder-webpack4/src/index.ts
  lib/builder-webpack4/src/preview/entries.ts
  lib/builder-webpack5/src/index.ts
  lib/builder-webpack5/src/preview/entries.ts
  lib/core-common/src/utils/__tests__/normalize-stories.test.ts
  lib/core-common/src/utils/normalize-stories.ts
  lib/core-server/src/build-static.ts
  lib/core-server/src/utils/stories-json.ts
Labels: bug, csf

#15417 Document how to add individual story description, see #8527 #10823
  addons/docs/docs/recipes.md
Labels: documentation

#15361 docs: fix a minor typo
  docs/addons/addon-types.md
  docs/essentials/toolbars-and-globals.md
Labels: documentation, patch

#15431 Upgrade `react-docgen-typescript-plugin` for refresh perf regression
  app/react/package.json
  lib/core-common/package.json
  yarn.lock
Labels: dependencies

#15432 Upgrade bad release of `react-docgen-typescript-plugin`
  app/react/package.json
  lib/core-common/package.json
  yarn.lock
Labels: dependencies

#15369 UI: Display menu icon on the toolbar when the sidebar is collapsed
  lib/ui/src/components/preview/toolbar.tsx
  lib/ui/src/components/preview/tools/menu.tsx
  lib/ui/src/components/sidebar/Menu.stories.tsx
  lib/ui/src/components/sidebar/Menu.tsx
Labels: feature request, ui
