Repository storybookjs/storybook, pull requests merged in 2021-09, with the labels that each got.

#15881 Addon-docs/Angular: Fix default values in ArgsTable
  addons/docs/src/frameworks/angular/__testfixtures__/doc-button/argtypes.snapshot
  addons/docs/src/frameworks/angular/compodoc.ts
  addons/docs/src/frameworks/angular/types.ts
  examples/angular-cli/src/stories/addons/docs/doc-button/doc-button.component.ts
  examples/angular-cli/src/stories/addons/docs/doc-button/doc-button.stories.mdx
  examples/angular-cli/src/stories/addons/docs/doc-button/doc-button.stories.ts
Labels: bug, app: angular, addon: docs

#15960 Chore: (Docs)Fixes the addon snippet for the toolbars
  docs/snippets/common/addon-consume-globaltype.js.mdx
Labels: documentation, patch

#15864 Core: Pass proper stack of an error
  lib/core-client/src/preview/loadCsf.ts
Labels: bug, core

#15798 CSF: Infer defaultValue of argtype based on arg
  lib/addons/src/types.ts
Labels: maintenance, typescript, csf, args

#15966 CLI: Show framework name in startup banner
  lib/core-server/src/build-dev.ts
  lib/core-server/src/utils/output-startup-information.ts
Labels: feature request, cli

#15744 Angular: Support storybook configuration for projects with only angular Library
  app/angular/src/builders/build-storybook/index.spec.ts
  app/angular/src/builders/build-storybook/index.ts
  app/angular/src/builders/build-storybook/schema.json
  app/angular/src/builders/start-storybook/index.spec.ts
  app/angular/src/builders/start-storybook/index.ts
  app/angular/src/builders/start-storybook/schema.json
  app/angular/src/server/__mocks-ng-workspace__/with-lib/angular.json
  app/angular/src/server/__mocks-ng-workspace__/with-lib/projects/pattern-lib/src/main.ts
  app/angular/src/server/__mocks-ng-workspace__/with-lib/projects/pattern-lib/tsconfig.lib.json
  app/angular/src/server/__mocks-ng-workspace__/with-lib/tsconfig.json
  app/angular/src/server/__mocks-ng-workspace__/without-projects-entry/projects/pattern-lib/src/main.ts
  app/angular/src/server/__mocks-ng-workspace__/without-projects-entry/projects/pattern-lib/tsconfig.lib.json
  app/angular/src/server/__mocks-ng-workspace__/without-projects-entry/tsconfig.json
  app/angular/src/server/__mocks-ng-workspace__/without-tsConfig/angular.json
  app/angular/src/server/__mocks-ng-workspace__/without-tsConfig/src/main.ts
  app/angular/src/server/__mocks-ng-workspace__/without-tsConfig/src/tsconfig.app.json
  app/angular/src/server/__mocks-ng-workspace__/without-tsConfig/tsconfig.json
  app/angular/src/server/angular-devkit-build-webpack.ts
  app/angular/src/server/framework-preset-angular-cli.test.ts
  app/angular/src/server/framework-preset-angular-cli.ts
  app/angular/standalone.d.ts
  examples/angular-cli/angular.json
Labels: feature request, cli, app: angular

#15989 CLI: Fix sb link to yarn3 repos
  lib/cli/src/link.ts
Labels: bug, cli

#15925 Core: Replaced `process.env` override in `DefinePlugin` config
  examples/vue-kitchen-sink/webpack.config.js
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/core-common/src/utils/envs.ts
  lib/manager-webpack4/src/presets/manager-preset.ts
  lib/manager-webpack5/src/presets/manager-preset.ts
Labels: babel / webpack, maintenance, core

#15981 UI: Fix ActionButton out of position in Safari
  lib/components/src/ActionBar/ActionBar.tsx
Labels: bug, ui

#16008 Story index: Uncache `stories.json` generation
  lib/core-common/src/utils/to-importFn.ts
  lib/core-common/src/utils/to-require-context.ts
  lib/core-server/src/utils/stories-json.ts
Labels: bug

#15996 Fix typos
  docs/get-started/install.md
Labels: documentation, patch

#16037 Fix `useEffect` in docs and `SourceContainer`
  addons/docs/src/blocks/ArgsTable.tsx
  addons/docs/src/blocks/SourceContainer.tsx
  addons/docs/src/blocks/Story.tsx
  addons/docs/src/frameworks/angular/sourceDecorator.ts
  addons/docs/src/frameworks/html/sourceDecorator.test.ts
  addons/docs/src/frameworks/html/sourceDecorator.ts
  addons/docs/src/frameworks/react/jsxDecorator.test.tsx
  addons/docs/src/frameworks/react/jsxDecorator.tsx
  addons/docs/src/frameworks/svelte/sourceDecorator.ts
  addons/docs/src/frameworks/web-components/sourceDecorator.test.ts
  addons/docs/src/frameworks/web-components/sourceDecorator.ts
  lib/preview-web/src/PreviewWeb.test.ts
  lib/preview-web/src/PreviewWeb.tsx
  lib/preview-web/src/types.ts
Labels: bug

#16034 Addon-docs: Bugfixes for new on-demand architecture
  addons/docs/src/blocks/ArgsTable.tsx
  addons/docs/src/blocks/Source.tsx
  addons/docs/src/blocks/Story.tsx
  addons/docs/src/blocks/useStory.ts
  addons/docs/src/frameworks/web-components/custom-elements.ts
  cypress/generated/addon-docs.spec.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
  examples/official-storybook/main.ts
  examples/official-storybook/stories/addon-docs/addon-docs-mdx.stories.mdx
  examples/official-storybook/stories/addon-docs/addon-docs.stories.js
  examples/official-storybook/stories/addon-docs/dynamic-title.stories.js
  examples/official-storybook/stories/addon-docs/mdx.stories.js
  examples/official-storybook/stories/addon-docs/meta-string-template.stories.mdx
  examples/web-components-kitchen-sink/src/stories/addons/docs/addon-docs.stories.ts
  lib/cli/src/repro-generators/scripts.ts
  lib/csf-tools/__testfixtures__/mdx/component-args.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/component-id.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/csf-imports.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/decorators.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/docs-only.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/loaders.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/meta-quotes-in-title.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/non-story-exports.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/parameters.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/previews.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-args.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-current.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-def-text-only.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-definitions.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-function-var.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-function.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-multiple-children.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-object.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-references.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/title-template-string.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/vanilla.output.snapshot
  lib/csf-tools/src/CsfFile.test.ts
  lib/csf-tools/src/CsfFile.ts
  lib/csf-tools/src/mdx/sb-mdx-plugin.ts
  yarn.lock
Labels: bug, addon: docs

#16044 Core: Be careful in `FEATURES` check
  addons/docs/src/blocks/Story.tsx
Labels: bug, compatibility with other tools

#16041 Core: Restore deprecation warning for configure
  lib/core-client/src/preview/start.ts
Labels: bug, core

#16039 Addon-docs: Ensure we don't clobber multiple source container state updates
  addons/docs/src/blocks/SourceContainer.tsx
Labels: bug, addon: docs

#16032 Chore:(Docs) Polish get started section 6 4
  docs/get-started/browse-stories.md
  docs/get-started/example-button-browse-stories-optimized.mp4
  docs/get-started/example-button-hot-module-reload-optimized.mp4
  docs/get-started/install.md
  docs/get-started/installation-problems/angular.mdx
  docs/get-started/setup.md
  docs/get-started/whats-a-story.md
Labels: documentation

#16042 feat: add rewind button to interactions subnav
  addons/interactions/src/Panel.tsx
  addons/interactions/src/Tool.tsx
  addons/interactions/src/components/Subnav/Subnav.stories.tsx
  addons/interactions/src/components/Subnav/Subnav.tsx
  lib/components/src/icon/icons.tsx
Labels: feature request, addon: interactions

#16046 Addon-docs: Fix `useStories` to correctly respond to change in `storyId`
  addons/docs/src/blocks/Source.tsx
  addons/docs/src/blocks/useStory.ts
Labels: bug, addon: docs

#15978 Angular: Fix error handling for angular builder standalone builds
  app/angular/src/builders/build-storybook/index.spec.ts
  app/angular/src/builders/build-storybook/index.ts
  app/angular/src/builders/start-storybook/index.spec.ts
  app/angular/src/builders/start-storybook/index.ts
  app/angular/src/builders/utils/build-standalone-errors-handler.ts
Labels: bug, app: angular

#16078 Core: Fix issue with more complex `stories` paths.
  lib/core-common/src/utils/to-importFn.ts
  lib/core-server/src/utils/stories-json.ts
Labels: bug, core, webpack5

#16013 Main.js config: Fix Builder type
  lib/cli/src/project_types.ts
Labels: maintenance

#15976 Angular: Fix ng selector issue and dynamically show templates in stories
  app/angular/src/client/preview/angular-beta/ComputesTemplateFromComponent.test.ts
  app/angular/src/client/preview/angular-beta/ComputesTemplateFromComponent.ts
  examples/angular-cli/src/stories/basics/component-with-complex-selectors/__snapshots__/multiple-selector.component.stories.storyshot
  examples/angular-cli/src/stories/basics/component-with-complex-selectors/attribute-selector.component.ts
  examples/angular-cli/src/stories/basics/component-with-complex-selectors/class-selector.component.ts
  examples/angular-cli/src/stories/basics/component-with-complex-selectors/multiple-selector.component.stories.ts
  examples/angular-cli/src/stories/basics/component-with-complex-selectors/multiple-selector.component.ts
  examples/angular-cli/src/stories/core/styles/__snapshots__/story-styles.stories.storyshot
Labels: bug, app: angular

#16073 Chore: (Docs) Polish the Essentials section
  docs/essentials/actions.md
  docs/essentials/addon-controls-disable-specific-prop.mp4
  docs/essentials/backgrounds.md
  docs/essentials/controls.md
  docs/essentials/introduction.md
  docs/essentials/measure-and-outline.md
  docs/essentials/toolbars-and-globals.md
  docs/essentials/viewport.md
Labels: documentation

#16098 CSF3: Add auto-title support to on-demand V7/V6 refactor
  MIGRATION.md
  examples/angular-cli/.storybook/main.js
  examples/cra-ts-kitchen-sink/.storybook/main.ts
  examples/official-storybook/main.ts
  examples/react-ts/main.ts
  examples/react-ts/src/AccountForm.stories.tsx
  examples/server-kitchen-sink/.storybook/main.js
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/client-api/src/StoryStoreFacade.ts
  lib/codemod/src/transforms/csf-2-to-3.ts
  lib/core-client/package.json
  lib/core-client/src/preview/start.test.ts
  lib/core-common/src/types.ts
  lib/core-common/src/utils/normalize-stories.ts
  lib/core-common/src/utils/to-importFn.ts
  lib/core-server/package.json
  lib/core-server/src/build-static.ts
  lib/core-server/src/core-presets.test.ts
  lib/core-server/src/utils/stories-json.ts
  lib/csf-tools/src/CsfFile.test.ts
  lib/csf-tools/src/CsfFile.ts
  lib/csf-tools/src/index.ts
  lib/store/package.json
  lib/store/src/autoTitle.test.ts
  lib/store/src/autoTitle.ts
  lib/store/src/index.ts
  lib/store/src/types.ts
  yarn.lock
Labels: feature request, core, csf3

#16107 CSF3: Fix story type back-compat
  addons/a11y/package.json
  addons/actions/package.json
  addons/backgrounds/package.json
  addons/controls/package.json
  addons/docs/package.json
  addons/links/package.json
  addons/measure/package.json
  addons/outline/package.json
  addons/storyshots/storyshots-core/package.json
  addons/storyshots/storyshots-puppeteer/package.json
  app/angular/package.json
  app/angular/src/client/preview/types-6-0.ts
  app/angular/src/client/preview/types-7-0.ts
  app/html/package.json
  app/html/src/client/preview/types-6-0.ts
  app/html/src/client/preview/types-7-0.ts
  app/preact/package.json
  app/preact/src/client/preview/types-6-0.ts
  app/preact/src/client/preview/types-7-0.ts
  app/react/package.json
  app/react/src/client/preview/types-6-0.ts
  app/react/src/client/preview/types-6-3.ts
  app/react/src/client/preview/types-7-0.ts
  app/server/package.json
  app/svelte/package.json
  app/vue/package.json
  app/vue/src/client/preview/types-6-0.ts
  app/vue/src/client/preview/types-7-0.ts
  app/vue3/package.json
  app/vue3/src/client/preview/types-6-0.ts
  app/vue3/src/client/preview/types-7-0.ts
  app/web-components/package.json
  app/web-components/src/client/preview/types-6-0.ts
  app/web-components/src/client/preview/types-7-0.ts
  examples/react-ts/src/AccountForm.stories.tsx
  lib/addons/package.json
  lib/api/package.json
  lib/client-api/package.json
  lib/codemod/package.json
  lib/components/package.json
  lib/core-client/package.json
  lib/csf-tools/package.json
  lib/preview-web/package.json
  lib/source-loader/package.json
  lib/store/package.json
  yarn.lock
Labels: bug, typescript

#16106 Refactor `stories-json` to use a caching class
  lib/core-server/src/core-presets.test.ts
  lib/core-server/src/utils/StoryIndexGenerator.ts
  lib/core-server/src/utils/stories-json.ts
  lib/store/src/autoTitle.test.ts
  lib/store/src/autoTitle.ts
Labels: maintenance

#16101 Core: Infer docs only stories
  lib/api/src/lib/stories.ts
  lib/api/src/tests/stories.test.js
  lib/preview-web/src/PreviewWeb.test.ts
  lib/preview-web/src/PreviewWeb.tsx
Labels: bug, addon: docs

#16074 Webpack5: Fix output paths
  lib/builder-webpack5/src/preview/base-webpack.config.ts
  lib/manager-webpack5/package.json
  lib/manager-webpack5/src/presets/manager-preset.ts
  yarn.lock
Labels: bug, webpack5

#16111 MIgration docs for Angular component parameter
  MIGRATION.md
Labels: documentation

#16105 Core: Fix dotenv handling
  lib/builder-webpack4/package.json
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/package.json
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/core-common/src/index.ts
  lib/core-common/src/utils/envs.ts
  lib/core-common/src/utils/has-dotenv.ts
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-prod
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-dev
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-prod
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-prod
  lib/core-server/src/__snapshots__/vue-3-cli_manager-dev
  lib/core-server/src/__snapshots__/vue-3-cli_manager-prod
  lib/core-server/src/__snapshots__/vue-3-cli_preview-dev
  lib/core-server/src/__snapshots__/vue-3-cli_preview-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-prod
  lib/manager-webpack4/package.json
  lib/manager-webpack4/src/presets/manager-preset.ts
  lib/manager-webpack5/package.json
  lib/manager-webpack5/src/presets/manager-preset.ts
  yarn.lock
Labels: bug, babel / webpack, core

#16102 Story index server: Add story sorting
  MIGRATION.md
  examples/official-storybook/main.ts
  examples/react-ts/preview.js
  lib/addons/src/types.ts
  lib/api/src/lib/stories.ts
  lib/client-api/package.json
  lib/client-api/src/ClientApi.test.ts
  lib/client-api/src/ClientApi.ts
  lib/client-api/src/StoryStoreFacade.ts
  lib/core-server/src/core-presets.test.ts
  lib/core-server/src/utils/StoryIndexGenerator.ts
  lib/core-server/src/utils/stories-json.ts
  lib/csf-tools/package.json
  lib/csf-tools/src/CsfFile.ts
  lib/csf-tools/src/babelParse.ts
  lib/csf-tools/src/getStorySortParameter.test.ts
  lib/csf-tools/src/getStorySortParameter.ts
  lib/csf-tools/src/index.ts
  lib/store/package.json
  lib/store/src/autoTitle.test.ts
  lib/store/src/autoTitle.ts
  lib/store/src/index.ts
  lib/store/src/sortStories.ts
  lib/store/src/storySort.test.ts
  lib/store/src/storySort.ts
  lib/store/src/types.ts
  yarn.lock
Labels: maintenance, core

#16127 Removed word "using"
  MIGRATION.md
Labels: documentation, patch

#16123 Added index.d.ts for addon-docs/angular
  addons/docs/angular/index.d.ts
Labels: bug, app: angular, typescript, addon: docs

#16128 Addon-a11y: Export parameter types
  addons/a11y/src/index.ts
Labels: feature request, addon: a11y, typescript

#16134 Fix typo
  docs/addons/writing-presets.md
Labels: patch

#15992 Examples: used https, and added Codecademy Gamut
  docs/get-started/examples.md
Labels: documentation, patch

#16158 Fix faq.md at section how to setup Next.js
  docs/workflows/faq.md
Labels: documentation, patch

#16161 Addon-docs: Fix loading behavior for Canvas doc block
  addons/docs/src/blocks/Canvas.tsx
Labels: bug, addon: docs, block: source

#16137 Angular: Remove dead code in client
  app/angular/element-renderer.d.ts
  app/angular/element-renderer.js
  app/angular/src/client/preview/angular-beta/ElementRendererService.ts
  app/angular/src/client/preview/angular-beta/RendererFactory.test.ts
  app/angular/src/client/preview/angular-beta/RendererService.test.ts
  app/angular/src/client/preview/angular-beta/RendererService.ts
  app/angular/src/element-renderer.ts
  app/angular/src/renderer.ts
Labels: maintenance, app: angular

#16159 MDX: Support CSF3 play/render functions
  addons/docs/src/blocks/Story.tsx
  examples/official-storybook/stories/addon-docs/csf3.stories.mdx
  lib/csf-tools/__testfixtures__/mdx/auto-title-docs-only.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/auto-title.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/component-render.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/default-render.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-play.output.snapshot
  lib/csf-tools/__testfixtures__/mdx/story-render.output.snapshot
  lib/csf-tools/src/mdx/sb-mdx-plugin.test.ts
  lib/csf-tools/src/mdx/sb-mdx-plugin.ts
Labels: feature request, mdx, csf3

#16155 Dependencies: Fix ansi-html vulnerability
  app/react/package.json
  lib/builder-webpack4/package.json
  lib/builder-webpack5/package.json
  yarn.lock
Labels: dependencies, security

#16157 Fix typo in Angular Example NgRx Story
  examples/angular-cli/src/stories/others/ngrx/__snapshots__/ngrx-store.stories.storyshot
  examples/angular-cli/src/stories/others/ngrx/ngrx-store.stories.ts
Labels: cleanup, app: angular

#16182 Update install docs
  app/react/README.md
  docs/get-started/example-welcome.png
  docs/get-started/install.md
  docs/get-started/installation-command-section/angular.mdx
  docs/get-started/installation-command-section/ember.mdx
  docs/get-started/installation-command-section/html.mdx
  docs/get-started/installation-command-section/marko.mdx
  docs/get-started/installation-command-section/mithril.mdx
  docs/get-started/installation-command-section/preact.mdx
  docs/get-started/installation-command-section/rax.mdx
  docs/get-started/installation-command-section/react.mdx
  docs/get-started/installation-command-section/riot.mdx
  docs/get-started/installation-command-section/svelte.mdx
  docs/get-started/installation-command-section/vue.mdx
  docs/get-started/installation-command-section/web-components.mdx
Labels: documentation, patch

#16196 Upgrade react-dev-utils to 11.0.4
  app/react/package.json
  lib/builder-webpack4/package.json
  lib/builder-webpack5/package.json
  yarn.lock
Labels: dependencies, security

#16190 Upgrade boxen to 5.x
  lib/cli/package.json
  lib/core-server/package.json
  yarn.lock
Labels: dependencies, security

#16186 Controls: Hide color control format toggle when no value
  lib/components/src/controls/Color.tsx
Labels: bug, addon: controls

#16183 Add comments to sb init stories template
  lib/cli/src/frameworks/angular/Button.stories.ts
  lib/cli/src/frameworks/angular/Page.stories.ts
  lib/cli/src/frameworks/ember/1-Button.stories.js
  lib/cli/src/frameworks/html/js/Button.stories.js
  lib/cli/src/frameworks/html/js/Page.stories.js
  lib/cli/src/frameworks/html/ts/Button.stories.ts
  lib/cli/src/frameworks/html/ts/Page.stories.ts
  lib/cli/src/frameworks/marko/1-Button.stories.js
  lib/cli/src/frameworks/mithril/Button.stories.js
  lib/cli/src/frameworks/mithril/Page.stories.js
  lib/cli/src/frameworks/preact/Button.stories.jsx
  lib/cli/src/frameworks/preact/Page.stories.jsx
  lib/cli/src/frameworks/rax/Button.stories.js
  lib/cli/src/frameworks/rax/Page.stories.js
  lib/cli/src/frameworks/react/js/Button.stories.jsx
  lib/cli/src/frameworks/react/js/Page.stories.jsx
  lib/cli/src/frameworks/react/ts/Button.stories.tsx
  lib/cli/src/frameworks/react/ts/Page.stories.tsx
  lib/cli/src/frameworks/riot/1-Button.stories.js
  lib/cli/src/frameworks/svelte/Button.stories.svelte
  lib/cli/src/frameworks/vue/Button.stories.js
  lib/cli/src/frameworks/vue/Page.stories.js
  lib/cli/src/frameworks/vue3/Button.stories.js
  lib/cli/src/frameworks/vue3/Page.stories.js
  lib/cli/src/frameworks/web-components/js/Button.stories.js
  lib/cli/src/frameworks/web-components/js/Page.stories.js
  lib/cli/src/frameworks/web-components/ts/Button.stories.ts
  lib/cli/src/frameworks/web-components/ts/Page.stories.ts
Labels: documentation, cli, patch

#16197 docs: add Talend design system example
  docs/get-started/examples.md
Labels: documentation, patch

#16185 Better scope sample page component styles
  lib/cli/src/frameworks/common/page.css
Labels: cli, other

#16184 Default sb init in ESM projects to use cjs
  lib/cli/src/initiate.ts
  lib/cli/src/js-package-manager/PackageJson.ts
Labels: bug, cli, app: web-components
