Repository storybookjs/storybook, pull requests merged in 2021-12, with the labels that each got.

#16815 UI: Ensure all classes+animations for our loaders are prefixed
  lib/core-common/src/templates/base-preview-body.html
Labels: bug, ui, core

#16832 Angular: Add back-compat method to find options (styles) in angular.json
  app/angular/src/server/framework-preset-angular-cli.ts
Labels: bug, app: angular, patch

#16850 Preview: Don't hide the story while preparing
  lib/core-common/src/templates/base-preview-body.html
  lib/core-common/src/templates/base-preview-head.html
Labels: bug, patch, core

#16853 Don't render with `modernInline` if `inlineStories` is `false`
  addons/docs/src/blocks/Story.tsx
Labels: bug, patch, addon: docs

#16854 CLI: Improve `sb repro` directory prompt
  lib/cli/src/repro.ts
Labels: maintenance, cli

#16427 Interactions: Fix Subnav positioning and overflow states
  addons/interactions/src/components/Interaction/Interaction.tsx
  addons/interactions/src/components/Subnav/Subnav.tsx
Labels: bug, addon: interactions, linear

#16866 CLI: Fix mainjsFramework automigrate
  lib/cli/src/automigrate/fixes/mainjsFramework.ts
Labels: bug, cli, patch

#16762 docs: fix incorrect Vue v-slot usage
  docs/snippets/vue/page-story-slots.2.js.mdx
  docs/snippets/vue/page-story-slots.mdx-2.mdx.mdx
Labels: documentation, app: vue

#16873 Addon-docs: Fix transclusion crash on webpack rules without test field
  addons/docs/src/frameworks/common/preset.ts
Labels: bug, patch, addon: docs

#16882 Angular: Fix tsConfig paths not resolving for Angular >=12.2
  app/angular/src/server/__mocks-ng-workspace__/minimal-config/angular.json
  app/angular/src/server/__mocks-ng-workspace__/some-config/angular.json
  app/angular/src/server/__mocks-ng-workspace__/with-angularBrowserTarget/angular.json
  app/angular/src/server/__mocks-ng-workspace__/with-nx-workspace/workspace.json
  app/angular/src/server/__mocks-ng-workspace__/with-nx/angular.json
  app/angular/src/server/__mocks-ng-workspace__/with-options-styles/angular.json
  app/angular/src/server/angular-cli-webpack-12.2.x.js
  app/angular/src/server/angular-cli-webpack-13.x.x.js
  app/angular/src/server/angular-devkit-build-webpack.ts
  app/angular/src/server/framework-preset-angular-cli.test.ts
Labels: bug, app: angular, patch

#16878 Fix typo.
  docs/writing-stories/introduction.md
Labels: documentation, patch

#16883 Bump lodash to 4.17.21
  addons/a11y/package.json
  addons/actions/package.json
  addons/controls/package.json
  addons/docs/package.json
  app/react/package.json
  examples/official-storybook/package.json
  lib/api/package.json
  lib/client-api/package.json
  lib/codemod/package.json
  lib/components/package.json
  lib/core-client/package.json
  lib/core-server/package.json
  lib/csf-tools/package.json
  lib/preview-web/package.json
  lib/router/package.json
  lib/source-loader/package.json
  lib/store/package.json
  lib/ui/package.json
  package.json
  yarn.lock
Labels: dependencies, patch, security

#16885 Angular: Fix incorrect log
  app/angular/src/server/framework-preset-angular-cli.ts
Labels: bug, app: angular, patch

#16901 Remove extra line breaks in MDX multi-story examples
  docs/snippets/angular/mdx-canvas-multiple-stories.mdx.mdx
  docs/snippets/react/mdx-canvas-multiple-stories.mdx.mdx
  docs/snippets/svelte/mdx-canvas-multiple-stories.mdx.mdx
  docs/snippets/vue/mdx-canvas-multiple-stories.mdx-2.mdx.mdx
  docs/snippets/vue/mdx-canvas-multiple-stories.mdx-3.mdx.mdx
Labels: documentation, patch

#16913 Core: Fix auto-title in webpack5
  lib/builder-webpack5/package.json
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  yarn.lock
Labels: bug, patch, core, webpack5

#16897 CLI: Fix `sb repro` clobbering .vuerc
  lib/cli/src/repro-generators/configs.ts
Labels: bug, cli, patch

#16915 Core: Add feature flag to disable legacy hierarchy separator warning
  examples/react-ts/.storybook/main.ts
  lib/api/src/lib/stories.ts
  lib/core-common/src/types.ts
  lib/core-server/src/presets/common-preset.ts
Labels: maintenance, patch

#16917 Core: Remove unused and occluded types
  lib/client-api/src/index.ts
  lib/client-api/src/types.ts
Labels: bug, core, typescript

#16919 Core: Be explicit about `viewMode` to fix Vue issue
  addons/docs/src/blocks/Story.tsx
  lib/preview-web/src/PreviewWeb.tsx
Labels: bug, app: vue, core

#16931 Angular: Fix support for non-roman alphabets in story titles
  app/angular/src/client/preview/angular-beta/AbstractRenderer.ts
  app/angular/src/client/preview/angular-beta/RendererFactory.test.ts
Labels: bug, app: angular, linear

#16904 Move @types/node to dependencies and accept v16 types
  app/angular/package.json
  app/html/package.json
  app/preact/package.json
  app/react/package.json
  app/server/package.json
  app/vue/package.json
  app/vue3/package.json
  app/web-components/package.json
  examples/angular-cli/package.json
  examples/cra-ts-essentials/package.json
  examples/cra-ts-kitchen-sink/package.json
  lib/builder-webpack4/package.json
  lib/builder-webpack5/package.json
  lib/core-common/package.json
  lib/core-server/package.json
  lib/manager-webpack4/package.json
  lib/manager-webpack5/package.json
  package.json
  yarn.lock
Labels: dependencies, linear

#16943 UI: Only push the view back to Story if the viewMode is settings
  lib/api/src/modules/stories.ts
Labels: bug, ui

#16773 Core: Support custom PREVIEW URL for block story iframe
  .gitignore
  addons/actions/package.json
  app/angular/package.json
  examples/angular-cli/package.json
  examples/standalone-preview/README.md
  examples/standalone-preview/addPreview.ts
  examples/standalone-preview/package.json
  examples/standalone-preview/storybook.html
  examples/standalone-preview/storybook.ts
  lib/api/package.json
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/channel-postmessage/package.json
  lib/channel-websocket/package.json
  lib/components/src/blocks/Story.tsx
  lib/core-common/package.json
  lib/manager-webpack4/package.json
  lib/manager-webpack5/package.json
  yarn.lock
Labels: bug, addon: docs, block: other, linear

#16972 Fix whitespace bugs in MDX examples
  docs/snippets/angular/badge-story-starter-example.mdx.mdx
  docs/snippets/angular/badge-story.mdx.mdx
  docs/snippets/react/badge-story-starter-example.mdx.mdx
  docs/snippets/react/badge-story.mdx.mdx
  docs/snippets/svelte/badge-story.mdx.mdx
  docs/snippets/vue/badge-story-starter-example.mdx.mdx
  docs/snippets/vue/badge-story.mdx-2.mdx.mdx
Labels: documentation, patch

#16905 Avoid referencing internal Emotion packages in built types
  addons/docs/package.json
  lib/theming/package.json
  lib/theming/src/animation.ts
  lib/ui/package.json
  yarn.lock
Labels: dependencies, theming

#16980 Added MIGRATION instructions for Angular 13 / SB6.4 for Angular
  MIGRATION.md
Labels: documentation, patch

#16983 Fix a11y readme
  addons/a11y/README.md
Labels: documentation, addon: a11y, patch

#16988 Core: Fix debug output on webpack failures
  lib/core-server/src/build-dev.ts
Labels: bug, patch, core

#16744 Build: Run unit tests on more node versions, mac, and windows
  .eslintrc.js
  .github/workflows/tests-unit.yml
  addons/a11y/src/components/A11YPanel.test.tsx
  addons/docs/src/frameworks/angular/__testfixtures__/doc-button/compodoc-posix.snapshot
  addons/docs/src/frameworks/angular/__testfixtures__/doc-button/compodoc-windows.snapshot
  addons/docs/src/frameworks/angular/angular-properties.test.ts
  addons/storyshots/storyshots-core/src/frameworks/configure.test.ts
  app/angular/src/server/framework-preset-angular-cli.test.ts
  app/react/src/server/cra-config.test.ts
  jest.config.js
  lib/cli/src/automigrate/fixes/angular12.test.ts
  lib/cli/src/automigrate/fixes/cra5.test.ts
  lib/cli/src/automigrate/fixes/eslint-plugin.test.ts
  lib/cli/src/automigrate/fixes/webpack5.test.ts
  lib/core-common/src/presets.ts
  lib/core-common/src/utils/__tests__/paths.test.ts
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-dev-posix
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-dev-windows
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-prod-posix
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-prod-windows
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-dev-posix
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-dev-windows
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-prod-posix
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-prod-windows
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-dev-posix
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-dev-windows
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-prod-posix
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-prod-windows
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-dev-posix
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-dev-windows
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-prod-posix
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-prod-windows
  lib/core-server/src/__snapshots__/vue-3-cli_manager-dev-posix
  lib/core-server/src/__snapshots__/vue-3-cli_manager-dev-windows
  lib/core-server/src/__snapshots__/vue-3-cli_manager-prod-posix
  lib/core-server/src/__snapshots__/vue-3-cli_manager-prod-windows
  lib/core-server/src/__snapshots__/vue-3-cli_preview-dev-posix
  lib/core-server/src/__snapshots__/vue-3-cli_preview-dev-windows
  lib/core-server/src/__snapshots__/vue-3-cli_preview-prod-posix
  lib/core-server/src/__snapshots__/vue-3-cli_preview-prod-windows
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-dev-posix
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-dev-windows
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-prod-posix
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-prod-windows
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-dev-posix
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-dev-windows
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-prod-posix
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-prod-windows
  lib/core-server/src/core-presets.test.ts
  lib/core-server/src/utils/StoryIndexGenerator.ts
  lib/core-server/src/utils/__tests__/server-statics.test.ts
  lib/core-server/src/utils/watch-story-specifiers.ts
  lib/source-loader/src/abstract-syntax-tree/__snapshots__/inject-decorator.csf.test.js.injectStoryParameters-posix.snapshot
  lib/source-loader/src/abstract-syntax-tree/__snapshots__/inject-decorator.csf.test.js.injectStoryParameters-windows.snapshot
  lib/source-loader/src/abstract-syntax-tree/__snapshots__/inject-decorator.csf.test.js.posix.snapshot
  lib/source-loader/src/abstract-syntax-tree/__snapshots__/inject-decorator.csf.test.js.windows.snapshot
  lib/source-loader/src/abstract-syntax-tree/inject-decorator.csf.test.js
  package.json
  yarn.lock
Labels: maintenance, windows, ci:matrix

#16989 Button story snippets for html framework
  docs/get-started/whats-a-story.md
  docs/snippets/html/button-story.js.mdx
  docs/snippets/html/button-story.ts.mdx
Labels: documentation, patch

#17027 Source-loader: Fix node.declaration edge case
  lib/source-loader/src/abstract-syntax-tree/parse-helpers.js
Labels: bug, patch, source-loader

#17036 Build: Tighten github action unit test triggers
  .github/workflows/tests-unit.yml
Labels: maintenance

#17032 Angular: Fix for renamed method in angular 13.1
  app/angular/src/server/angular-cli-webpack-13.x.x.js
Labels: bug, app: angular

#17009 Set `string` to `string[]` when is not necessary in jest addon documentation
  addons/jest/README.md
Labels: documentation, addon: jest, patch

#17061 fix typo in MIGRATION.md
  MIGRATION.md
Labels: documentation, patch

#17056 update react-refresh@0.11.0 & react-refresh-webpack-plugin@0.5.3 same as cra5
  app/react/package.json
  yarn.lock
Labels: dependencies, app: react, cra

#17074 Re-arrange docs for the new /sharing section
  docs/addons/addon-types.md
  docs/configure/environment-variables.md
  docs/configure/sidebar-and-urls.md
  docs/contribute/how-to-reproduce.md
  docs/essentials/controls.md
  docs/essentials/toolbars-and-globals.md
  docs/faq.md
  docs/sharing/build-publish-only.png
  docs/sharing/combine-storybooks.png
  docs/sharing/composition-versioning.png
  docs/sharing/embed-ghost.png
  docs/sharing/embed-medium-optimized.mp4
  docs/sharing/embed-notion.png
  docs/sharing/embed.md
  docs/sharing/package-composition.md
  docs/sharing/package-composition.png
  docs/sharing/prbadge-publish.png
  docs/sharing/publish-storybook.md
  docs/sharing/reference-external-storybooks-composition.jpg
  docs/sharing/storybook-composition.md
  docs/sharing/storybook-publish-review-optimized.mp4
  docs/sharing/template-component-with-controls-optimized.mp4
  docs/sharing/workflow-publish.png
  docs/sharing/workflow-uireview.png
  docs/snippets/common/chromatic-github-action.js.mdx
  docs/toc.js
  docs/workflows/faq.md
  docs/workflows/package-composition.md
  docs/workflows/publish-storybook.md
  docs/workflows/storybook-composition.md
  docs/writing-docs/build-documentation.md
  docs/writing-stories/args.md
  docs/writing-stories/argstable-subcomponents.png
  docs/writing-stories/build-pages-with-storybook.md
  docs/writing-stories/decorators.md
  docs/writing-stories/introduction.md
  docs/writing-stories/stories-for-multiple-components.md
  docs/writing-tests/interaction-testing.md
  docs/writing-tests/introduction.md
Labels: documentation, patch

#17084 Minor docs bugs
  docs/sharing/embed.md
  docs/sharing/publish-storybook.md
  docs/sharing/storybook-composition.md
Labels: documentation, patch
