Repository storybookjs/storybook, pull requests merged in 2021-04, with the labels that each got.

#14419 Chore: (Docs) Essentials and addons api (snippets and content) updated
  docs/addons/addons-api.md
  docs/essentials/toolbars-and-globals.md
  docs/snippets/common/addon-consume-and-update-globaltype.js.mdx
  docs/snippets/common/storybook-addons-api-disablequeryparams.js.mdx
  docs/snippets/common/storybook-addons-api-getqueryparam.js.mdx
  docs/snippets/common/storybook-addons-api-geturlstate.js.mdx
  docs/snippets/common/storybook-addons-api-on.js.mdx
  docs/snippets/common/storybook-addons-api-selectincurrentkind.js.mdx
  docs/snippets/common/storybook-addons-api-selectstory.js.mdx
  docs/snippets/common/storybook-addons-api-setqueryparams.js.mdx
  docs/snippets/common/storybook-addons-api-useaddonstate.js.mdx
  docs/snippets/common/storybook-addons-api-useapi.js.mdx
  docs/snippets/common/storybook-addons-api-usechannel.js.mdx
  docs/snippets/common/storybook-addons-api-useglobal.js.mdx
  docs/snippets/common/storybook-addons-api-useparameter.js.mdx
  docs/snippets/common/storybook-addons-api-usestorybookstate.js.mdx
Labels: documentation, patch

#14418 Update cli-options.md
  docs/api/cli-options.md
Labels: documentation, patch

#14447 Addon-docs/Angular: Keep inlineStories to false by default
  addons/docs/src/frameworks/angular/config.ts
Labels: addon: docs, app: angular, bug

#14444 Revert "Svelte - Fix async loaders and docs" Fix #14443
  addons/docs/src/frameworks/svelte/HOC.svelte
  addons/docs/src/frameworks/svelte/prepareForInline.ts
  examples/svelte-kitchen-sink/src/stories/__snapshots__/loaders.stories.storyshot
  examples/svelte-kitchen-sink/src/stories/loaders.stories.js
Labels: addon: docs, app: svelte, block: source, bug

#14422 Addon-docs/ArgsTable: Use storySort parameter
  addons/docs/src/blocks/ArgsTable.tsx
  lib/components/src/blocks/ArgsTable/TabbedArgsTable.tsx
Labels: addon: docs, block: argstable, bug

#14448 Core: Fix symlinks in static dir when building static Storybook
  lib/core-server/src/utils/copy-all-static-files.ts
Labels: P0, bug, build-storybook

#14450 Document support for stories as function
  docs/configure/overview.md
Labels: documentation

#14479 Core: Fix config.js-based configuration
  lib/core-server/src/utils/get-preview-builder.ts
Labels: bug, core

#14478 Core: Disable postcss warning, add main.js `features` setting
  MIGRATION.md
  examples/react-ts/main.ts
  lib/builder-webpack4/src/preview/base-webpack.config.ts
  lib/builder-webpack5/src/preview/base-webpack.config.ts
  lib/core-server/src/__snapshots__/vue-3-cli_preview-dev
  lib/core-server/src/__snapshots__/vue-3-cli_preview-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-prod
  lib/core-server/src/presets/common-preset.ts
Labels: core, maintenance

#14480 Core: Fix file-loader options for ESM compat
  lib/builder-webpack4/src/preview/base-webpack.config.ts
  lib/builder-webpack5/src/preview/base-webpack.config.ts
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-prod
  lib/core-server/src/__snapshots__/vue-3-cli_preview-dev
  lib/core-server/src/__snapshots__/vue-3-cli_preview-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-prod
Labels: babel / webpack, bug, core

#14492 Upgrade `dotenv-webpack` to v6
  lib/builder-webpack4/package.json
  lib/core-server/package.json
  yarn.lock
Labels: babel / webpack, dependencies

#14493 Controls: Reset ArgsTable state when switching stories
  addons/controls/src/ControlsPanel.tsx
  lib/components/src/controls/Color.tsx
Labels: addon: controls, bug

#14500 Core: Restore previewHead/Body presets
  docs/addons/writing-presets.md
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/core-server/src/presets/common-preset.ts
Labels: bug, core, presets

#14494 Core: Don't include args param in docs mode URL
  lib/api/src/modules/url.ts
Labels: addon: docs, args, bug

#14501 Revert "Upgrade `dotenv-webpack` to v6"
  lib/builder-webpack4/package.json
  lib/core-server/package.json
  yarn.lock
Labels: dependencies, webpack5

#14502 UI: Skip duplicate storyId breaking sidebar
  lib/ui/src/components/sidebar/utils.ts
Labels: bug, ui

#14511 Core: Allow string in object arg and support fractional numbers in URL args
  lib/client-api/src/args.test.ts
  lib/client-api/src/args.ts
  lib/core-client/src/preview/parseArgsParam.test.ts
  lib/core-client/src/preview/parseArgsParam.ts
  lib/router/src/utils.ts
Labels: args, bug

#13907 Build: Move monorepo to Yarn 2
  .circleci/config.yml
  .github/workflows/tests-unit.yml
  .gitignore
  .yarn/releases/yarn-sources.cjs
  .yarnrc.yml
  addons/docs/src/frameworks/angular/angular-properties.test.ts
  addons/docs/src/frameworks/web-components/web-components-properties.test.ts
  examples/angular-cli/package.json
  examples/cra-kitchen-sink/package.json
  examples/cra-react15/package.json
  examples/cra-ts-essentials/package.json
  examples/cra-ts-kitchen-sink/package.json
  examples/ember-cli/package.json
  lib/builder-webpack4/package.json
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/cli-sb/package.json
  lib/core-server/package.json
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-prod
  netlify.toml
  package.json
  scripts/bootstrap.js
  scripts/run-e2e-config.ts
  scripts/run-e2e.ts
  scripts/run-registry.ts
  yarn.lock
Labels: maintenance, run e2e extended test suite

#14313 Angular: Fix handling of line breaks with multiple selectors
  app/angular/src/client/preview/angular-beta/ComputesTemplateFromComponent.test.ts
  app/angular/src/client/preview/angular-beta/ComputesTemplateFromComponent.ts
Labels: app: angular, bug

#14473 Preact: Fix hooks when used in stories, preact-kitchen-sink
  addons/storyshots/storyshots-core/README.md
  addons/storyshots/storyshots-core/package.json
  addons/storyshots/storyshots-core/src/frameworks/preact/renderTree.ts
  addons/storyshots/storyshots-core/src/typings.d.ts
  app/preact/package.json
  app/preact/src/client/preview/render.tsx
  examples/preact-kitchen-sink/.storybook/main.js
  examples/preact-kitchen-sink/package.json
  examples/preact-kitchen-sink/src/stories/__snapshots__/addon-actions.stories.storyshot
  examples/preact-kitchen-sink/src/stories/__snapshots__/addon-backgrounds.stories.storyshot
  examples/preact-kitchen-sink/src/stories/__snapshots__/addon-knobs.stories.storyshot
  examples/preact-kitchen-sink/src/stories/__snapshots__/addon-links.stories.storyshot
  examples/preact-kitchen-sink/src/stories/__snapshots__/button.stories.storyshot
  examples/preact-kitchen-sink/src/stories/__snapshots__/welcome.stories.storyshot
  examples/preact-kitchen-sink/src/stories/addon-actions.stories.js
  yarn.lock
Labels: app: preact, bug

#14459 Core: Enable gzip compression on the development server
  lib/core-server/package.json
  lib/core-server/src/dev-server.ts
  yarn.lock
Labels: babel / webpack, feature request

#14527 docs: fix typo
  app/server/README.md
Labels: app: server, documentation, patch

#14461 Pass watchOptions from webpack config to webpackDevMiddleware (v3 only)
  lib/builder-webpack4/src/index.ts
  lib/core-server/src/manager/builder.ts
Labels: babel / webpack, core, feature request

#14445 Web-components: Add full reload listening to server-side-events
  app/web-components/README.md
  app/web-components/src/client/index.ts
  examples/web-components-kitchen-sink/.storybook/main.js
  examples/web-components-kitchen-sink/.storybook/preview.js
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-prod
Labels: app: web-components, feature request

#14529 CLI: Fix prerelease upgrade
  lib/cli/src/upgrade.ts
Labels: bug, cli, patch

#14437 UI: Add show toolbar T in menu
  lib/ui/src/containers/menu.tsx
  lib/ui/src/containers/sidebar.tsx
Labels: bug, ui

#14534 Maintenance: Add TypeScript plugin for Yarn
  .gitattributes
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarnrc.yml
Labels: maintenance

#14531 UI: Support `*` wildcard option in storySort order array
  docs/snippets/common/storybook-preview-with-ordered-pages-and-wildcard.js.mdx
  docs/writing-stories/naming-components-and-hierarchy.md
  lib/client-api/src/storySort.test.ts
  lib/client-api/src/storySort.ts
  lib/client-api/src/story_store.test.ts
Labels: feature request, ui

#14323 Refactor: Replace `lodash/range` with `Array.from`
  addons/controls/README.md
  addons/docs/src/frameworks/react/jsxDecorator.test.tsx
  examples/official-storybook/stories/addon-docs/props.stories.mdx
Labels: maintenance

#14468 Core: Expose Server instance through the pluggable Builder API
  lib/core-common/src/types.ts
  lib/core-server/src/dev-server.ts
Labels: core, feature request

#14472 Core: Don't shadow the window global variable
  addons/a11y/src/a11yRunner.ts
  addons/docs/src/blocks/DocsContainer.tsx
  addons/google-analytics/src/register.ts
  app/angular/src/client/preview/globals.ts
  app/aurelia/src/client/preview/globals.ts
  app/ember/src/client/preview/globals.ts
  app/ember/src/client/preview/render.ts
  app/html/src/client/preview/globals.ts
  app/marionette/src/client/preview/globals.ts
  app/marko/src/client/preview/globals.ts
  app/mithril/src/client/preview/globals.ts
  app/preact/src/client/preview/globals.ts
  app/rax/src/client/preview/globals.ts
  app/react/src/client/preview/globals.ts
  app/riot/src/client/preview/globals.ts
  app/server/src/client/preview/globals.ts
  app/svelte/src/client/preview/globals.ts
  app/vue/src/client/preview/globals.ts
  app/vue3/src/client/preview/globals.ts
  app/web-components/src/client/preview/globals.ts
  docs/snippets/common/storybook-client-globals-example-file.ts.mdx
  examples/official-storybook/stories/addon-actions.stories.js
  lib/addons/src/hooks.ts
  lib/api/src/modules/url.ts
  lib/channel-postmessage/src/index.ts
  lib/components/src/Zoom/Zoom.tsx
  lib/components/src/Zoom/browserSupportsCssZoom.ts
  lib/components/src/blocks/IFrame.tsx
  lib/components/src/blocks/Preview.stories.tsx
  lib/components/src/controls/Object.tsx
  lib/components/src/syntaxhighlighter/syntaxhighlighter.tsx
  lib/core-client/src/manager/conditional-polyfills.ts
  lib/core-client/src/preview/start.test.ts
  lib/core-client/src/preview/start.ts
  lib/core-server/src/globals/globals.ts
  lib/theming/src/tests/util.test.js
  lib/theming/src/utils.ts
  lib/ui/src/components/sidebar/RefBlocks.tsx
  lib/ui/src/components/sidebar/RefIndicator.tsx
  lib/ui/src/components/sidebar/useHighlighted.ts
  lib/ui/src/components/sidebar/utils.ts
Labels: core, maintenance

#14545 Core: Enable community builders
  lib/core-server/src/utils/get-preview-builder.ts
Labels: core, feature request

#14552 CLI: properly detect vuetify3
  lib/cli/src/project_types.ts
Labels: app: vue, cli, patch

#14553 Upgrade react-colorful to latest (fixing webpack 5 issue)
  addons/knobs/package.json
  lib/components/package.json
  yarn.lock
Labels: addon: controls, dependencies

#14560 Build: Fix `dev:babel` and `dev:tsc` NPM scripts
  package.json
Labels: maintenance

#14554 Update introduction docs
  docs/get-started/introduction.md
Labels: documentation

#14570 Fix link to Shopify Polaris's Storybook
  docs/get-started/examples.md
Labels: documentation

#14568 Build: Disable yarn immutable install by default during E2E tests
  scripts/run-e2e.ts
Labels: maintenance

#14573 globalTypes with toolbar requires addon-toolbars
  docs/essentials/toolbars-and-globals.md
Labels: documentation, patch

#14532 docs: add angular code snippet for using args
  docs/snippets/angular/page-story-slots.ts.mdx
  docs/writing-stories/args.md
Labels: app: angular, documentation, patch

#14566 fix(core-server): build config inconsistency
  lib/core-server/src/build-static.ts
Labels: bug, patch

#14567 Bump vue-docgen-api to 4.38.0
  CHANGELOG.md
  app/vue/package.json
  app/vue3/package.json
  yarn.lock
Labels: addon: docs, app: vue, dependencies

#14576 Core: Resolve builders relatively to config file
  lib/core-server/src/utils/get-preview-builder.ts
Labels: core, maintenance

#14572 docs: update code snippets for writing an addon
  docs/addons/writing-addons.md
  docs/snippets/common/my-addon-preset-implementation.js.mdx
Labels: documentation, patch

#14522 CI: Remove Travis, fix TeamCity, rework E2E on CircleCI
  .circleci/config.yml
  .github/workflows/danger-js.yml
  .github/workflows/pull_request-dangerfile-js-pull.yml
  .teamcity/settings.kts
  .travis.yml
  addons/docs/package.json
  addons/docs/src/frameworks/web-components/config.js
  addons/docs/src/frameworks/web-components/custom-elements.ts
  addons/essentials/package.json
  netlify.toml
  package.json
  scripts/run-e2e.ts
  yarn.lock
Labels: maintenance

#14586 Angular: set the @ViewChild with a non-empty value in StorybookWrapperComponent
  app/angular/src/client/preview/angular-beta/StorybookWrapperComponent.ts
Labels: app: angular, bug

#14226 Angular: Improve story rendering mode
  app/angular/src/client/preview/angular-beta/RendererService.test.ts
  app/angular/src/client/preview/angular-beta/RendererService.ts
  examples/angular-cli/.storybook/preview.ts
  examples/angular-cli/src/stories/addons/toolbars/locales/__snapshots__/locales.stories.storyshot
  examples/angular-cli/src/stories/addons/toolbars/locales/locales.stories.ts
  examples/angular-cli/src/stories/addons/toolbars/locales/translate.pipe.ts
  examples/angular-cli/src/stories/addons/toolbars/locales/translate.service.ts
  examples/angular-cli/src/stories/core/parameters/__snapshots__/all-parameters.stories.storyshot
  examples/angular-cli/src/stories/others/ngx-translate/README.stories.mdx
Labels: app: angular, feature request

#14582 Storyshots: Preserve authentication information in Storybook URL
  addons/storyshots/storyshots-puppeteer/src/__tests__/url.test.ts
  addons/storyshots/storyshots-puppeteer/src/url.ts
Labels: addon: storyshots, bug

#14590 Remove unused inquirer dependency
  lib/cli/package.json
  yarn.lock
Labels: dependencies, patch, run e2e extended test suite

#14609 Addon-docs: Restore deleted web-components documentation
  addons/docs/web-components/README.md
  addons/docs/web-components/index.js
Labels: documentation, patch

#14604 Chore: (Docs) Tweaks to the README and MAINTAINERS
  MAINTAINERS.md
  README.md
Labels: documentation, patch

#14606 Chore: (Docs) Adjusts the styled-component get theme snippet
  docs/snippets/common/storybook-preview-use-global-type.js.mdx
Labels: documentation, patch

#14597 Angular: Add template MDX example
  examples/angular-cli/src/stories/addons/docs/__snapshots__/template.stories.storyshot
  examples/angular-cli/src/stories/addons/docs/template.stories.mdx
Labels: maintenance

#14299 Angular: Create actions for Outputs by default
  addons/docs/src/frameworks/angular/__testfixtures__/doc-button/argtypes.snapshot
  addons/docs/src/frameworks/angular/compodoc.ts
  examples/angular-cli/src/stories/addons/docs/doc-button/doc-button.component.ts
Labels: addon: actions, app: angular, feature request, run e2e extended test suite

#14592 Addon-a11y: Fix crypto in webpack5
  addons/a11y/preset.js
Labels: addon: a11y, bug, webpack5

#14614 Fix link to babel.ts source
  docs/configure/babel.md
Labels: documentation, patch

#14615 Server: Fix string escaping in CSF compiler
  app/server/src/lib/compiler/__testfixtures__/a11y.snapshot
  app/server/src/lib/compiler/__testfixtures__/actions.snapshot
  app/server/src/lib/compiler/__testfixtures__/backgrounds.snapshot
  app/server/src/lib/compiler/__testfixtures__/controls.snapshot
  app/server/src/lib/compiler/__testfixtures__/kitchen_sink.snapshot
  app/server/src/lib/compiler/__testfixtures__/links.snapshot
  app/server/src/lib/compiler/__testfixtures__/multiple_stories.snapshot
  app/server/src/lib/compiler/__testfixtures__/params.snapshot
  app/server/src/lib/compiler/__testfixtures__/params_override.snapshot
  app/server/src/lib/compiler/stringifier.ts
Labels: app: server, bug, patch

#14495 Addon-docs: Fix MD code snippet format inside Description
  lib/components/src/blocks/Description.stories.tsx
  lib/components/src/blocks/Source.tsx
  lib/components/src/typography/DocumentFormatting.tsx
Labels: addon: docs, block: description, bug

#14543 Maintenance: Improve issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: maintenance

#14555 Preact: Add react compat by default
  app/preact/package.json
  app/preact/src/server/framework-preset-preact.ts
  examples/preact-kitchen-sink/jest.config.js
  examples/preact-kitchen-sink/package.json
  examples/preact-kitchen-sink/preact-enzyme-mapping.js
  examples/preact-kitchen-sink/src/React.js
  examples/preact-kitchen-sink/src/stories/__snapshots__/react-compat.stories.storyshot
  examples/preact-kitchen-sink/src/stories/react-compat.stories.js
  yarn.lock
Labels: app: preact, feature request

#14636 Modified Swatches keys to avoid duplicates
  lib/components/src/blocks/ColorPalette.tsx
Labels: addon: docs, block: other, bug

#14637 Examples: Move from placehold.it to place-hold.it for mock images
  docs/snippets/angular/component-story-static-asset-cdn.ts.mdx
  docs/snippets/common/storybook-theme-example-variables.ts.mdx
  docs/snippets/common/your-theme.js.mdx
  docs/snippets/react/component-story-static-asset-cdn.js.mdx
  docs/snippets/vue/component-story-static-asset-cdn.js.mdx
  examples/official-storybook/stories/addon-a11y/image.stories.js
  examples/official-storybook/stories/addon-controls.stories.tsx
  lib/codemod/src/transforms/__testfixtures__/update-addon-info/update-addon-info.input.js
  lib/codemod/src/transforms/__testfixtures__/update-addon-info/update-addon-info.output.snapshot
  lib/components/src/blocks/Description.stories.tsx
  lib/components/src/blocks/DocsPageExampleCaption.md
  lib/components/src/blocks/DocsPageExampleCaption.mdx
  lib/components/src/blocks/IconGallery.stories.tsx
  lib/theming/src/tests/create.test.js
Labels: maintenance, patch

#14639 Fixed link to ShareGate Orbit DS
  docs/get-started/examples.md
Labels: documentation, patch

#14640 docs: correct typo and formatting
  docs/snippets/common/badge-story-custom-argtypes.js.mdx
  docs/snippets/common/badge-story-custom-argtypes.mdx.mdx
  docs/snippets/common/component-story-csf-argstable-customization.js.mdx
  docs/snippets/common/component-story-mdx-argtypes.mdx.mdx
  docs/snippets/common/storybook-customize-argtypes.js.mdx
  docs/snippets/common/storybook-merged-argtypes.js.mdx
  docs/snippets/react/component-story-custom-args-complex.mdx.mdx
  docs/snippets/react/component-story-custom-args-complex.ts.mdx
  docs/writing-stories/args.md
Labels: documentation, patch

#14641 ESM tweaks for vite builder
  addons/cssresources/src/css-resource-panel.test.tsx
  addons/docs/src/blocks/enhanceSource.ts
  lib/components/src/syntaxhighlighter/syntaxhighlighter.tsx
  lib/source-loader/extract-source.d.ts
  lib/source-loader/extract-source.js
  lib/source-loader/src/abstract-syntax-tree/traverse-helpers.js
Labels: maintenance, run e2e extended test suite

#14649 Angular: Support Ivy addon
  app/angular/src/client/preview/angular-beta/RendererService.ts
Labels: app: angular, feature request

#14651 CLI: Support community builders in `sb init`
  lib/cli/src/generate.ts
  lib/cli/src/generators/baseGenerator.ts
  lib/cli/src/initiate.ts
  lib/cli/src/project_types.ts
Labels: cli, feature request

#14650 CLI: Rename react template files to jsx
  lib/cli/src/frameworks/react/js/Button.jsx
  lib/cli/src/frameworks/react/js/Button.stories.jsx
  lib/cli/src/frameworks/react/js/Header.jsx
  lib/cli/src/frameworks/react/js/Header.stories.jsx
  lib/cli/src/frameworks/react/js/Page.jsx
  lib/cli/src/frameworks/react/js/Page.stories.jsx
Labels: cli, maintenance

#14670 CLI: Rename preact template files to JSX
  lib/cli/src/frameworks/preact/Button.jsx
  lib/cli/src/frameworks/preact/Button.stories.jsx
  lib/cli/src/frameworks/preact/Header.jsx
  lib/cli/src/frameworks/preact/Header.stories.jsx
  lib/cli/src/frameworks/preact/Page.jsx
  lib/cli/src/frameworks/preact/Page.stories.jsx
Labels: cli, compatibility with other tools, maintenance

#14669 Addon-docs: Fix ArgsTable sorting when using of={Component}
  addons/docs/src/blocks/ArgsTable.tsx
  examples/cra-ts-kitchen-sink/src/stories/PropsSort.js
  examples/cra-ts-kitchen-sink/src/stories/props-sort.stories.mdx
Labels: addon: docs, bug, patch

#14681 Use Storybook's built-in accessibility icon for VisionDeficiency tab.
  addons/a11y/src/components/VisionDeficiency.tsx
Labels: maintenance, ui

#14689 Docs: Remove `babel-loader` and `@babel/core` peer deps
  addons/docs/README.md
  addons/docs/angular/README.md
  addons/docs/common/README.md
  addons/docs/ember/README.md
  addons/docs/package.json
  addons/docs/react/README.md
  addons/docs/vue/README.md
  addons/docs/vue3/README.md
  yarn.lock
Labels: maintenance

#14690 Build: Create webpack stats target directory if needed and accept boolean flag
  lib/core-common/src/types.ts
  lib/core-server/src/build-dev.ts
  lib/core-server/src/build-static.ts
  lib/core-server/src/cli/dev.ts
  lib/core-server/src/cli/prod.ts
  lib/core-server/src/utils/output-stats.ts
Labels: bug, build-storybook

#14695 clarify that padded is the default Component layout setting
  docs/configure/story-layout.md
Labels: documentation

#14556 Core: Fix URL handling in Firefox
  lib/channel-postmessage/src/index.ts
Labels: bug, compatibility with other tools, core

#14705 (Documentation) add unsupported addon Icon format
  docs/addons/addon-catalog.md
Labels: documentation, patch

#14692 Core: Don't recreate a bound story function each time we call a decorated story
  examples/official-storybook/stories/core/rendering.stories.js
  lib/addons/src/types.ts
  lib/client-api/src/decorators.test.ts
  lib/client-api/src/decorators.ts
  lib/client-api/src/story_store.ts
Labels: bug, core

#14658 API: Add addon keyboard shortcuts & create shortcuts for addon-viewport
  addons/viewport/src/Tool.tsx
  addons/viewport/src/shortcuts.ts
  docs/essentials/viewport.md
  lib/api/src/modules/shortcuts.ts
  lib/api/src/tests/shortcuts.test.js
  lib/ui/src/components/sidebar/Menu.stories.tsx
  lib/ui/src/containers/menu.tsx
  lib/ui/src/settings/shortcuts.tsx
  lib/ui/src/settings/shortcuts_page.tsx
Labels: addon: viewport, api: addons, feature request

#14535 Build: Add NX bootstrap optimization
  app/angular/package.json
  app/angular/src/server/angular-read-workspace.ts
  lib/core-server/src/core-presets.test.ts
  nx.json
  package.json
  scripts/bootstrap.js
  workspace.json
  yarn.lock
Labels: maintenance

#14736 Addon-a11y: Document best practices for handling failing rules
  addons/a11y/README.md
Labels: addon: a11y, documentation, patch

#13849 Storyshots/Preact: Add pragma @jsxRuntime classic
  addons/storyshots/storyshots-core/src/frameworks/preact/loader.ts
Labels: addon: storyshots, app: preact, bug

#14563 Storyshots: Add `beforeAxeTest` hook
  addons/storyshots/storyshots-puppeteer/README.md
  addons/storyshots/storyshots-puppeteer/src/axeTest.ts
  addons/storyshots/storyshots-puppeteer/src/config.ts
Labels: addon: storyshots, feature request

#14707 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#14744 Build: Change nx cloud access token to read-only token
  nx.json
Labels: maintenance

#14749 Addon-a11y/Storyshots: Upgrade axe-core to 4.2.0 and related dependencies
  addons/a11y/package.json
  addons/storyshots/storyshots-puppeteer/package.json
  yarn.lock
Labels: addon: a11y, addon: storyshots, dependencies

#14748 Fix tiny typos and syntax in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, patch

#14747 Angular: Fix windows path for tsconfig
  app/angular/src/server/angular-devkit-build-webpack.ts
Labels: app: angular, bug

#14745 Core: Fix `features`, `core`, `logLevel` in main.js config types
  examples/official-storybook/main.ts
  examples/react-ts-webpack4/main.ts
  examples/react-ts/main.ts
  lib/core-common/src/types.ts
Labels: bug, core, typescript

#14308 UI: Fix toolbar text using theme color
  lib/components/src/bar/button.tsx
Labels: bug, theming

#14685 Addon-docs: Add classnames for Preview block
  lib/components/src/ActionBar/ActionBar.stories.tsx
  lib/components/src/ActionBar/ActionBar.tsx
  lib/components/src/blocks/Preview.tsx
Labels: addon: docs, block: source, bug, theming

#14729 Addon-docs: Add parameter to show code by default
  addons/docs/docs/docspage.md
  addons/docs/src/blocks/Canvas.tsx
  examples/official-storybook/stories/addon-controls.stories.tsx
Labels: addon: docs, block: source, feature request, tiny

#12547 Documentation: add `transcludeMarkdown` option in addon-docs
  addons/docs/README.md
Labels: PN, documentation, inactive, patch

#14765 Chore: (Docs): Minor tweaks for Vue 3 and FAQ updates
  app/vue/README.md
  app/vue3/README.md
  docs/get-started/installation-command-section/vue.mdx
  docs/get-started/installation-problems/vue.mdx
  docs/workflows/faq.md
Labels: documentation, patch

#14728 Addon-actions: Add 'New Action' indicator
  addons/actions/src/register.tsx
Labels: addon: actions, feature request

#14754 [addon-a11y] Fix best practices added in #14736
  addons/a11y/README.md
Labels: documentation, patch

#14768 Addon-a11y: Reorder color blindness types by most common
  addons/a11y/src/components/VisionSimulator.tsx
  addons/a11y/src/register.tsx
Labels: addon: a11y, ui

#12520 Core: Add option to include story names when sorting
  docs/writing-stories/naming-components-and-hierarchy.md
  lib/addons/src/types.ts
  lib/client-api/src/storySort.test.ts
  lib/client-api/src/storySort.ts
  lib/client-api/src/story_store.test.ts
  lib/components/src/Zoom/Zoom.tsx
  lib/components/src/Zoom/browserSupportsCssZoom.ts
  lib/ui/src/components/layout/draggers.tsx
Labels: P3, core, feature request
