Repository storybookjs/storybook, pull requests merged in 2021-03, with the labels that each got.

#14076 Chore: (Docs/examples) Adjust references from LearnStorybook to Storybook tutorials
  docs/addons/writing-addons.md
  docs/get-started/conclusion.md
  docs/get-started/examples.md
  docs/get-started/introduction.md
  docs/workflows/build-pages-with-storybook.md
  docs/workflows/publish-storybook.md
  examples/html-kitchen-sink/stories/from-essentials/Page.ts
  examples/html-kitchen-sink/stories/from-essentials/__snapshots__/Page.stories.storyshot
  examples/vue-3-cli/src/stories/Introduction.stories.mdx
  examples/vue-3-cli/src/stories/Page.vue
  examples/vue-3-cli/src/stories/__snapshots__/Page.stories.storyshot
  lib/cli/src/frameworks/angular/page.component.ts
  lib/cli/src/frameworks/common/Introduction.stories.mdx
  lib/cli/src/frameworks/html/js/Page.js
  lib/cli/src/frameworks/html/ts/Page.ts
  lib/cli/src/frameworks/mithril/Page.js
  lib/cli/src/frameworks/preact/Page.js
  lib/cli/src/frameworks/rax/Page.js
  lib/cli/src/frameworks/react/js/Page.js
  lib/cli/src/frameworks/react/ts/Page.tsx
  lib/cli/src/frameworks/svelte/Page.svelte
  lib/cli/src/frameworks/vue/Page.vue
  lib/cli/src/frameworks/vue3/Page.vue
  lib/cli/src/frameworks/web-components/js/Page.js
  lib/cli/src/frameworks/web-components/ts/Page.ts
Labels: documentation, patch

#12801 Chore: Absolute links for addon-docs README
  addons/docs/README.md
Labels: documentation, patch

#13121 Core: Add `prefix` customization for navigation items
  docs/configure/features-and-behavior.md
  examples/official-storybook/manager.js
  lib/api/src/lib/stories.ts
  lib/api/src/modules/provider.ts
  lib/ui/src/components/sidebar/Tree.stories.tsx
  lib/ui/src/components/sidebar/Tree.tsx
Labels: core, feature request, in progress, ui

#14080 Svelte: Fix async loaders in docs panel
  addons/docs/src/frameworks/svelte/HOC.svelte
  addons/docs/src/frameworks/svelte/prepareForInline.ts
  examples/svelte-kitchen-sink/src/stories/__snapshots__/loaders.stories.storyshot
  examples/svelte-kitchen-sink/src/stories/loaders.stories.js
Labels: addon: docs, app: svelte, feature request

#12779 Update argtypes.md
  docs/api/argtypes.md
Labels: documentation, patch

#14098 Add Grafana UI to design systems list
  docs/get-started/examples.md
Labels: documentation, patch

#13978 documentation: Clarify description of args - Add example of args controlling more than props
  docs/snippets/react/page-story-slots.js.mdx
  docs/snippets/react/page-story-slots.ts.mdx
  docs/snippets/vue/button-story-with-args.2.js.mdx
  docs/snippets/vue/page-story-slots.2.js.mdx
  docs/snippets/vue/page-story-slots.3.js.mdx
  docs/writing-stories/args.md
Labels: app: vue, documentation, patch

#14097 Chore: (Docs) Small adjustments to the documentation
  docs/api/cli-options.md
  docs/configure/images-and-assets.md
  docs/configure/theming.md
  docs/workflows/publish-storybook.md
Labels: documentation, patch

#14106 CLI: Add `--legacy-peer-deps` for NPM7 install
  lib/cli/src/js-package-manager/NPMProxy.test.ts
  lib/cli/src/js-package-manager/NPMProxy.ts
Labels: bug, patch, yarn / npm

#14100 Core: Add 'mapping' to support complex arg values
  addons/controls/package.json
  addons/controls/src/ControlsPanel.tsx
  docs/writing-stories/args.md
  examples/official-storybook/stories/addon-controls.stories.tsx
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/core-client/src/preview/parseArgsParam.ts
  lib/router/package.json
  lib/router/src/utils.ts
Labels: addon: controls, args, feature request

#14101 Chore: (Docs) Adjustments to controls and writing stories docs.
  docs/essentials/controls.md
  docs/snippets/common/component-story-custom-args-complex-object.js.mdx
  docs/snippets/react/button-story.with-hooks.js.mdx
  docs/writing-stories/introduction.md
Labels: documentation, patch

#14117 Chore: (Docs) Adjusts composition docs
  docs/snippets/common/storybook-main-ref-per-environment.js.mdx
  docs/workflows/storybook-composition.md
Labels: documentation, patch

#14125 Add docs-only MDX to cra-ts-essentials
  examples/cra-ts-essentials/.storybook/main.js
  examples/cra-ts-essentials/src/stories/Test.stories.mdx
Labels: maintenance

#14123 Core: Fix main.ts/preview.ts handling
  lib/core-server/package.json
  yarn.lock
Labels: bug, core, typescript

#14122 Core: Fix standalone API
  lib/core-server/standalone.js
  lib/core/standalone.js
Labels: bug, core

#14128 Chore: (Docs) Adjusts instructions for yarn/npm.
  docs/essentials/introduction.md
  docs/get-started/install.md
  docs/snippets/common/storybook-run-dev.npm.js.mdx
  docs/snippets/common/storybook-run-dev.yarn.js.mdx
  docs/workflows/faq.md
  docs/workflows/publish-storybook.md
  docs/workflows/snapshot-testing.md
Labels: documentation, patch

#14135 Chore: (Docs) address issue with MDX based stories
  docs/workflows/faq.md
  docs/writing-docs/build-documentation.md
  docs/writing-docs/doc-blocks.md
  docs/writing-docs/docs-page.md
  docs/writing-docs/introduction.md
  docs/writing-docs/mdx.md
Labels: documentation, patch

#14137 Chore: (Docs) Removes references to --no-dll flag
  docs/api/cli-options.md
  docs/workflows/publish-storybook.md
Labels: documentation, patch

#14140 Core: Fix standalone API (again)
  lib/core-server/standalone.js
Labels: bug, core

#14113 Angular: Keep story templates with an empty value
  app/angular/src/client/preview/angular-beta/StorybookModule.test.ts
  app/angular/src/client/preview/angular-beta/StorybookModule.ts
  app/angular/src/client/preview/decorateStory.test.ts
  app/angular/src/client/preview/decorateStory.ts
  examples/angular-cli/src/stories/basics/component-with-ng-content/__snapshots__/custom-ng-content.stories.storyshot
  examples/angular-cli/src/stories/basics/component-with-ng-content/__snapshots__/ng-content-about-parent.stories.storyshot
  examples/angular-cli/src/stories/basics/component-with-ng-content/__snapshots__/ng-content-simple.stories.storyshot
  examples/angular-cli/src/stories/basics/component-with-ng-content/ng-content-about-parent.stories.ts
  examples/angular-cli/src/stories/basics/component-with-ng-content/ng-content-simple.stories.ts
Labels: app: angular, bug

#14115 Chore: (Docs) Adjusts the snapshots docs for specific framework usage.
  addons/storyshots/storyshots-core/README.md
  docs/snippets/common/storybook-storyshots-custom-directory.js.mdx
  docs/snippets/common/storybook-storyshots-custom-framework.js.mdx
  docs/workflows/faq.md
  docs/workflows/snapshot-testing.md
Labels: documentation, patch

#14164 Update sveltedoc-parser to 4.1.0
  addons/docs/package.json
  addons/docs/src/frameworks/svelte/extractArgTypes.ts
  app/svelte/package.json
  yarn.lock
Labels: addon: docs, app: svelte, dependencies

#14165 React: Fix fast refresh socket connection error
  app/react/src/server/framework-preset-react.ts
  lib/core-server/src/core-presets.test.ts
Labels: app: react, babel / webpack, bug

#14183 Chore: (Docs) Adjusts the docs to address #14148
  docs/writing-docs/build-documentation.md
Labels: documentation, patch

#14163 Docs: Add code snippets for Web Component
  docs/get-started/setup.md
  docs/get-started/whats-a-story.md
  docs/snippets/web-components/button-story-component-args-primary.js.mdx
  docs/snippets/web-components/button-story-component-decorator.js.mdx
  docs/snippets/web-components/button-story-decorator.js.mdx
  docs/snippets/web-components/button-story-default-export-with-component.js.mdx
  docs/snippets/web-components/button-story-rename-story.js.mdx
  docs/snippets/web-components/button-story-using-args.js.mdx
  docs/snippets/web-components/button-story-with-args.js.mdx
  docs/snippets/web-components/button-story-with-blue-args.js.mdx
  docs/snippets/web-components/button-story-with-emojis.js.mdx
  docs/snippets/web-components/button-story.js.mdx
  docs/snippets/web-components/storybook-preview-global-decorator.js.mdx
  docs/snippets/web-components/your-component-with-decorator.js.mdx
  docs/snippets/web-components/your-component.js.mdx
  docs/writing-stories/args.md
  docs/writing-stories/decorators.md
  docs/writing-stories/introduction.md
Labels: app: web-components, documentation, patch

#14181 Chore: (Docs) Adjusts links to the addons gallery
  docs/writing-docs/docs-page.md
  docs/writing-docs/introduction.md
Labels: documentation, patch

#14169 Core: Hoist 'control.options', validate them in core and introduce 'control.labels'
  MIGRATION.md
  addons/controls/package.json
  addons/controls/src/ControlsPanel.tsx
  docs/essentials/controls.md
  docs/snippets/angular/component-story-custom-args-complex.ts.mdx
  docs/snippets/common/component-story-custom-args-complex-object.js.mdx
  docs/snippets/common/component-story-custom-args-mapping.js.mdx
  docs/snippets/common/widget-story-controls-enum.js.mdx
  docs/snippets/common/widget-story-controls-enum.mdx.mdx
  docs/snippets/react/component-story-custom-args-complex.js.mdx
  docs/snippets/react/component-story-custom-args-complex.mdx.mdx
  docs/snippets/react/component-story-custom-args-complex.ts.mdx
  docs/snippets/react/component-story-custom-args-icons.js.mdx
  docs/snippets/react/component-story-custom-args-icons.mdx.mdx
  docs/snippets/react/component-story-custom-args-icons.ts.mdx
  docs/snippets/vue/component-story-custom-args-complex.2.js.mdx
  docs/snippets/vue/component-story-custom-args-complex.3.js.mdx
  examples/official-storybook/stories/addon-controls.stories.tsx
  lib/client-api/src/args.test.ts
  lib/client-api/src/args.ts
  lib/client-api/src/inferControls.ts
  lib/client-api/src/story_store.ts
  lib/components/src/controls/options/Options.tsx
  lib/components/src/controls/types.ts
Labels: addon: controls, args, core, feature request

#14182 Controls: Remove auto inference and add to CLI template
  addons/controls/preset.js
  addons/controls/src/preset/addParameter.ts
  lib/cli/src/generators/configure.ts
  lib/cli/src/versions.json
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-prod
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-prod
  lib/core-server/src/__snapshots__/vue-3-cli_preview-dev
  lib/core-server/src/__snapshots__/vue-3-cli_preview-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-prod
Labels: addon: controls, maintenance

#14184 Core: Fix main.ts/preview.ts
  lib/core-common/package.json
  lib/core-server/package.json
Labels: bug, core

#14186 CLI: Add a `--webpack-stats-json` flag
  docs/api/cli-options.md
  examples/official-storybook/package.json
  lib/builder-webpack4/src/index.ts
  lib/builder-webpack5/src/index.ts
  lib/core-common/src/types.ts
  lib/core-server/src/build-dev.ts
  lib/core-server/src/build-static.ts
  lib/core-server/src/cli/dev.ts
  lib/core-server/src/cli/prod.ts
  lib/core-server/src/core-presets.test.ts
  lib/core-server/src/utils/output-stats.ts
Labels: cli, core, feature request

#14191 Core: Fix dotenv file loading and add `env` to main.js
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/cli/src/versions.json
  lib/core-common/src/presets.test.ts
  lib/core-common/src/presets.ts
  lib/core-common/src/utils/envs.ts
  lib/core-server/src/manager/manager-webpack.config.ts
  lib/core-server/src/presets/common-preset.ts
Labels: P0, bug, core

#14196 Core: Fix standalone and add tests
  app/angular/standalone.js
  app/aurelia/standalone.js
  app/ember/standalone.js
  app/html/standalone.js
  app/marionette/standalone.js
  app/marko/standalone.js
  app/mithril/standalone.js
  app/preact/standalone.js
  app/rax/standalone.js
  app/react/standalone.js
  app/riot/standalone.js
  app/server/standalone.js
  app/standalone.test.ts
  app/svelte/standalone.js
  app/vue/standalone.js
  app/vue3/standalone.js
  app/web-components/standalone.js
Labels: bug, core

#14198 Core: Fix webpack stats
  docs/api/cli-options.md
  examples/official-storybook/package.json
  lib/builder-webpack4/src/index.ts
  lib/core-server/src/cli/dev.ts
  lib/core-server/src/cli/prod.ts
  lib/core-server/src/core-presets.test.ts
  lib/core-server/src/manager/builder.ts
Labels: bug, core

#14199 Source-loader: Revert sourcemaps
  lib/source-loader/package.json
  lib/source-loader/src/build.js
Labels: bug, source-loader

#14154 Controls: Fix width of Select control
  lib/components/src/controls/options/Select.tsx
Labels: addon: controls, bug

#14151 Chore: (Docs) Adjusts layout parameter documentation
  docs/configure/story-layout.md
  docs/snippets/common/storybook-component-layout-param.js.mdx
  docs/snippets/common/storybook-story-layout-param.js.mdx
Labels: documentation, patch

#14200 Addon-docs/Vue: Fix string docgen
  addons/docs/src/lib/docgen/createPropDef.ts
  addons/docs/src/lib/docgen/extractDocgenProps.test.ts
  addons/docs/src/lib/docgen/types.ts
  examples/vue-3-cli/src/stories/Button.vue
Labels: addon: docs, app: vue, block: argstable, bug

#14217 Addon-docs: Fix source block error on dynamically-generated stories
  addons/docs/src/blocks/enhanceSource.ts
Labels: addon: docs, block: source, bug, patch

#14179 Chore: (Docs): Updates Angular snippets for 6.2
  docs/snippets/angular/app-story-with-mock.ts.mdx
  docs/snippets/angular/button-group-story.ts.mdx
  docs/snippets/angular/button-story-default-docs-code.ts.mdx
  docs/snippets/angular/button-story-using-args.ts.mdx
  docs/snippets/angular/button-story-with-addon-example.ts.mdx
  docs/snippets/angular/button-story-with-args.ts.mdx
  docs/snippets/angular/button-story-with-blue-args.ts.mdx
  docs/snippets/angular/button-test.ts.mdx
  docs/snippets/angular/list-story-reuse-data.ts.mdx
  docs/snippets/angular/list-story-template.ts.mdx
  docs/snippets/angular/list-story-unchecked.ts.mdx
  docs/snippets/angular/list-story-with-subcomponents.ts.mdx
  docs/snippets/angular/my-component-story-configure-viewports.ts.mdx
  docs/snippets/angular/my-component-with-env-variables.ts.mdx
  docs/snippets/angular/page-story-with-args-composition.ts.mdx
  docs/snippets/angular/page-story.ts.mdx
  docs/snippets/angular/table-story-fully-customize-controls.ts.mdx
  docs/snippets/angular/your-component.ts.mdx
Labels: documentation

#13411 Provide more precise usage of `npx sb extract`
  docs/workflows/storybook-composition.md
Labels: documentation, patch

#13125 Controls: Add ArgsTable sorting
  addons/controls/src/ControlsPanel.tsx
  addons/docs/src/blocks/ArgsTable.tsx
  docs/essentials/controls.md
  docs/snippets/common/component-story-sort-controls.js.mdx
  docs/snippets/common/component-story-sort-controls.mdx.mdx
  examples/official-storybook/stories/controls-sort.stories.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.tsx
Labels: addon: docs, block: argstable, feature request

#14232 Docs: Add code snippets for Web Component
  docs/configure/environment-variables.md
  docs/essentials/viewport.md
  docs/snippets/web-components/button-group-story.js.mdx
  docs/snippets/web-components/list-story-expanded.js.mdx
  docs/snippets/web-components/list-story-reuse-data.js.mdx
  docs/snippets/web-components/list-story-starter.js.mdx
  docs/snippets/web-components/my-component-story-configure-viewports.js.mdx
  docs/snippets/web-components/my-component-with-env-variables.js.mdx
  docs/writing-stories/introduction.md
Labels: app: web-components, documentation, patch

#14235 Svelte: Improve default webpack config
  app/svelte/src/server/framework-preset-svelte.ts
Labels: app: svelte, feature request

#14243 README: Remove slack links and fix blog link
  README.md
Labels: documentation, patch

#14246 Updated refs function signature to include StorybookOptions object
  docs/snippets/common/storybook-main-ref-per-environment.js.mdx
Labels: composition, documentation, patch

#14161 CLI: Improve init for svelte
  lib/cli/src/generators/SVELTE/index.ts
  lib/cli/src/generators/baseGenerator.ts
  lib/cli/src/generators/configure.ts
Labels: app: svelte, cli, feature request

#14250 Docs: Add spaces for snippet
  docs/snippets/react/button-story-rename-story.ts.mdx
Labels: documentation, patch

#14256 Core: Check webpack version
  lib/builder-webpack4/src/index.ts
  lib/builder-webpack5/src/index.ts
  lib/core-common/package.json
  lib/core-common/src/index.ts
  lib/core-common/src/utils/check-webpack-version.ts
  lib/core-common/typings.d.ts
  lib/core-server/src/manager/builder.ts
Labels: core, maintenance

#14255 Webpack5: Fix hash => fullhash
  lib/builder-webpack5/src/preview/base-webpack.config.ts
Labels: babel / webpack, bug, webpack5

#14227 Addon-docs/Vue,Vue3: Fix preset options for vue-docgen-api
  addons/docs/src/frameworks/vue/preset.ts
  addons/docs/src/frameworks/vue3/preset.ts
Labels: addon: docs, app: vue, args, bug

#14258 WebComponents: Fix types and improve CLI detection
  app/web-components/src/client/preview/types.ts
  lib/cli/src/detect.test.ts
  lib/cli/src/project_types.ts
  scripts/run-e2e-config.ts
  scripts/verdaccio.yaml
Labels: app: web-components, maintenance, run e2e extended test suite

#14261 Webpack5: Replace fullhash with contenthash
  lib/builder-webpack5/src/preview/base-webpack.config.ts
Labels: babel / webpack, bug, webpack5

#14251 Addon-docs: Fix table dark mode
  examples/official-storybook/stories/addon-docs/markdown.stories.mdx
  examples/official-storybook/stories/addon-docs/mdx.stories.js
  lib/components/src/typography/DocumentFormatting.tsx
  lib/theming/src/themes/dark.ts
Labels: addon: docs, bug, theming, ui

#14068 CLI: Don't allow root directory as static dir
  lib/core-server/src/build-static.ts
  lib/core-server/src/core-presets.test.ts
Labels: cli, maintenance

#14267 Update docs for argType.options
  docs/writing-stories/args.md
  lib/client-api/src/inferArgTypes.ts
Labels: documentation

#14270 Addon-docs/Angular: Fix inline rendering setup
  addons/docs/angular/inline.js
  addons/docs/src/frameworks/angular/config.ts
  examples/angular-cli/.storybook/preview.ts
Labels: BREAKING PRERELEASE, addon: docs, app: angular, bug

#14271 Webpack: Fix missing `module` mainField
  app/preact/src/client/preview/types-6-0.ts
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/cli/src/versions.json
  lib/core-server/src/build-dev.ts
  lib/core-server/src/manager/manager-webpack.config.ts
Labels: babel / webpack, bug, core

#14230 Angular: Allow usage of all component valid selectors
  app/angular/src/client/preview/angular-beta/ComputesTemplateFromComponent.test.ts
  app/angular/src/client/preview/angular-beta/ComputesTemplateFromComponent.ts
  examples/angular-cli/src/stories/basics/component-with-complex-selectors/__snapshots__/multiple-selector.component.stories.storyshot
  examples/angular-cli/src/stories/basics/component-with-complex-selectors/attribute-selector.component.ts
  examples/angular-cli/src/stories/basics/component-with-complex-selectors/class-selector.component.ts
  examples/angular-cli/src/stories/basics/component-with-complex-selectors/multiple-selector.component.stories.ts
  examples/angular-cli/src/stories/basics/component-with-complex-selectors/multiple-selector.component.ts
Labels: app: angular, bug

#14264 Webpack: Hash files only in production mode
  lib/builder-webpack4/src/preview/base-webpack.config.ts
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/preview/base-webpack.config.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-prod
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-dev
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-prod
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-prod
  lib/core-server/src/__snapshots__/vue-3-cli_manager-dev
  lib/core-server/src/__snapshots__/vue-3-cli_manager-prod
  lib/core-server/src/__snapshots__/vue-3-cli_preview-dev
  lib/core-server/src/__snapshots__/vue-3-cli_preview-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-prod
  lib/core-server/src/manager/manager-webpack.config.ts
Labels: babel / webpack, bug, performance issue

#14249 Addon-controls: Improve color picker UI and migrate to react-colorful
  MIGRATION.md
  addons/knobs/package.json
  addons/knobs/src/components/types/Color.tsx
  examples/official-storybook/stories/addon-controls.stories.tsx
  lib/components/package.json
  lib/components/src/controls/Color.stories.tsx
  lib/components/src/controls/Color.tsx
  lib/components/src/controls/types.ts
  lib/components/src/tooltip/WithTooltip.tsx
  yarn.lock
Labels: addon: controls, dependencies, run e2e extended test suite, ui

#14283 Revert "Webpack: Hash files only in production mode"
  lib/builder-webpack4/src/preview/base-webpack.config.ts
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/preview/base-webpack.config.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-prod
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-dev
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-prod
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-prod
  lib/core-server/src/__snapshots__/vue-3-cli_manager-dev
  lib/core-server/src/__snapshots__/vue-3-cli_manager-prod
  lib/core-server/src/__snapshots__/vue-3-cli_preview-dev
  lib/core-server/src/__snapshots__/vue-3-cli_preview-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-prod
  lib/core-server/src/manager/manager-webpack.config.ts
Labels: babel / webpack, bug, core

#14288 Update decorators.md
  docs/writing-stories/decorators.md
Labels: documentation, patch

#14290 UI: Element em should not make text content bold
  lib/components/src/typography/DocumentFormattingSample.md
  lib/components/src/typography/DocumentWrapper.stories.tsx
  lib/theming/src/global.ts
Labels: bug, theming, ui

#14284 Webpack: Hash files only in dev mode
  lib/builder-webpack4/src/preview/base-webpack.config.ts
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/preview/base-webpack.config.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-prod
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-dev
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-prod
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-prod
  lib/core-server/src/__snapshots__/vue-3-cli_manager-dev
  lib/core-server/src/__snapshots__/vue-3-cli_manager-prod
  lib/core-server/src/__snapshots__/vue-3-cli_preview-dev
  lib/core-server/src/__snapshots__/vue-3-cli_preview-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-prod
  lib/core-server/src/manager/manager-webpack.config.ts
Labels: babel / webpack, bug, performance issue

#14302 Core: Restore webpack4 watchOptions
  examples/angular-cli/src/stories/basics/component-with-complex-selectors/__snapshots__/multiple-selector.component.stories.storyshot
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-prod
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-prod
  lib/core-server/src/__snapshots__/vue-3-cli_preview-dev
  lib/core-server/src/__snapshots__/vue-3-cli_preview-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-prod
Labels: babel / webpack, bug

#14303 Webpack5: Remove deprecated webpack-filter-warnings-plugin
  lib/builder-webpack5/package.json
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
Labels: dependencies, webpack5

#14306 Addon-Links: Fix react.d.ts paths
  addons/links/react.d.ts
Labels: addon: links, bug, typescript

#14307 Core: Import `isPlainObject` directly from lodash
  lib/client-api/src/args.ts
Labels: bug, core, performance issue

#14310 Revert "Addon-docs/Angular: Fix inline rendering setup"
  addons/docs/angular/inline.js
  addons/docs/src/frameworks/angular/config.ts
  examples/angular-cli/.storybook/preview.ts
Labels: BREAKING PRERELEASE, addon: docs, app: angular, bug

#14305 Components: Handle `null` when parsing input in color picker
  lib/components/src/controls/Color.tsx
Labels: addon: controls, bug, components, run e2e extended test suite

#14318 Docs configure addons
  docs/addons/configure-addons.md
  docs/addons/writing-addons.md
  docs/toc.js
Labels: addon: docs, documentation

#14326 Update theming.md
  docs/configure/theming.md
Labels: documentation, patch

#14325 Update note on cli-options.md
  docs/api/cli-options.md
Labels: documentation, patch

#14316 Controls: Tweaks and fixes for color control
  addons/controls/src/ControlsPanel.tsx
  docs/essentials/controls.md
  examples/official-storybook/preview.js
  examples/official-storybook/stories/addon-controls.stories.tsx
  lib/components/src/controls/Color.tsx
  lib/components/src/controls/types.ts
  lib/components/src/tooltip/WithTooltip.tsx
Labels: addon: controls, bug

#14314 Core: Fix `enum` args parsing from URL
  lib/client-api/src/args.test.ts
  lib/client-api/src/args.ts
Labels: addon: controls, args, bug

#14293 Core: Support some special values in URL args
  addons/knobs/package.json
  addons/links/package.json
  addons/queryparams/package.json
  docs/writing-stories/args.md
  lib/api/package.json
  lib/api/src/index.tsx
  lib/channel-postmessage/package.json
  lib/client-api/package.json
  lib/client-api/src/args.test.ts
  lib/client-api/src/args.ts
  lib/core-client/package.json
  lib/core-client/src/preview/parseArgsParam.test.ts
  lib/core-client/src/preview/parseArgsParam.ts
  lib/router/package.json
  lib/router/src/utils.test.ts
  lib/router/src/utils.ts
  lib/ui/package.json
  yarn.lock
Labels: args, core, feature request

#14328 Minor docs updates: hero video, new example
  docs/get-started/examples.md
  docs/get-started/introduction.md
  docs/get-started/storybook-hero-video-optimized-lg.mp4
  docs/get-started/storybook-hero-video-optimized.mp4
Labels: documentation, patch

#14338 UI: Add aria-labels to buttons without discernible text
  lib/ui/src/components/sidebar/RefIndicator.tsx
  lib/ui/src/components/sidebar/Tree.tsx
Labels: addon: a11y, bug, ui

#14334 Addon-docs: Fix un-prefixed path links
  addons/docs/src/blocks/mdx.tsx
  examples/official-storybook/stories/addon-docs/markdown.stories.mdx
  lib/components/src/typography/DocumentFormatting.tsx
Labels: P0, addon: docs, bug

#14333 Angular: Improve docs inline rendering setup
  addons/docs/angular/README.md
  addons/docs/angular/inline.js
  addons/docs/src/frameworks/angular/config.ts
  addons/docs/src/frameworks/angular/prepareForInline.ts
  addons/docs/src/frameworks/angular/preset.ts
  examples/angular-cli/.storybook/preview.ts
Labels: addon: docs, app: angular, maintenance, run e2e extended test suite

#14349 Fix video bug in documentation
  docs/get-started/storybook-hero-video-optimized-lg.mp4
Labels: documentation

#14351 Fix doc links
  docs/addons/addon-catalog.md
  docs/api/new-frameworks.md
Labels: documentation

#14359 Chore: (Docs) fixes broken link in GH for new framework docs
  docs/api/new-frameworks.md
Labels: documentation, patch

#14363 CLI: Use Svelte-native CSF during initialization
  lib/cli/src/frameworks/svelte/Button.stories.js
  lib/cli/src/frameworks/svelte/Button.stories.svelte
  lib/cli/src/frameworks/svelte/Header.stories.js
  lib/cli/src/frameworks/svelte/Header.stories.svelte
  lib/cli/src/frameworks/svelte/Page.stories.js
  lib/cli/src/frameworks/svelte/Page.stories.svelte
Labels: cli, feature request

#14369 Components: Deprecate html components entry point
  MIGRATION.md
  lib/components/html.d.ts
  lib/components/html.js
  lib/components/package.json
  lib/components/src/html.tsx
Labels: bug, components

#14370 Fix issue with string unions/enums
  addons/docs/src/frameworks/react/__testfixtures__/ts-function-component-inline-defaults/docgen.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/ts-function-component-inline-defaults/input.tsx
  addons/docs/src/frameworks/react/__testfixtures__/ts-function-component-inline-defaults/properties.snapshot
  addons/docs/src/lib/docgen/createPropDef.ts
  addons/docs/src/lib/docgen/extractDocgenProps.test.ts
  addons/docs/src/lib/docgen/types.ts
Labels: addon: docs, bug

#14373 Webpack: Fix HMR by removing concatenateModules optimization
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
Labels: babel / webpack, bug

#14372 Addon-actions: Fix addArgs warnings by refactor
  addons/actions/src/preset/addArgs.ts
  addons/actions/src/preset/addArgsHelpers.test.ts
  addons/actions/src/preset/addArgsHelpers.ts
Labels: addon: actions, bug

#14367 (Documentation) Found and fixed another video bug in the demo video
  docs/get-started/storybook-hero-video-optimized-lg.mp4
Labels: documentation, patch

#14383 Svelte: Fix Cannot read property '__docgen' of undefined
  addons/docs/src/frameworks/svelte/sourceDecorator.test.ts
  addons/docs/src/frameworks/svelte/sourceDecorator.ts
Labels: app: svelte, bug

#14382 Controls: Color picker QA fixes
  lib/components/src/controls/Color.tsx
  lib/components/src/tooltip/TooltipNote.tsx
Labels: addon: controls, bug

#14384 CLI: Compatibility with sveltekit
  lib/cli/src/generators/SVELTE/index.ts
  lib/cli/src/generators/baseGenerator.ts
  lib/cli/src/generators/configure.ts
Labels: app: svelte, bug, cli

#14387 Controls: Fix defaultValue without PropType
  addons/docs/src/frameworks/react/__testfixtures__/js-class-component/docgen.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/js-class-component/input.js
  addons/docs/src/lib/docgen/createPropDef.ts
Labels: addon: controls, bug

#14380 Core: Make Storybook esbuild-compatible
  addons/backgrounds/src/index.ts
  addons/docs/src/lib/docgen/types.ts
  addons/docs/src/public_api.ts
  addons/knobs/src/type-defs.ts
  app/angular/src/client/index.ts
  app/angular/src/client/preview/types-6-0.ts
  app/angular/src/server/__tests__/create-fork-ts-checker-plugin.test.ts
  app/aurelia/src/client/preview/index.ts
  app/aurelia/src/server/__tests__/create-fork-ts-checker-plugin.test.ts
  app/react/src/client/preview/types.ts
  app/web-components/src/client/preview/types.ts
  lib/api/shortcut.js
  lib/api/src/modules/stories.ts
  lib/ui/src/components/layout/draggers.tsx
  lib/ui/src/components/sidebar/SearchResults.stories.tsx
  lib/ui/src/components/sidebar/Sidebar.tsx
  lib/ui/src/components/sidebar/Tree.stories.tsx
  lib/ui/src/components/sidebar/Tree.tsx
  lib/ui/src/components/sidebar/data.test.ts
  lib/ui/src/components/sidebar/data.ts
  lib/ui/src/components/sidebar/mockdata.ts
  lib/ui/src/components/sidebar/types.ts
  lib/ui/src/components/sidebar/useExpanded.ts
  lib/ui/src/components/sidebar/utils.ts
  lib/ui/src/containers/preview.tsx
  lib/ui/src/containers/sidebar.tsx
  lib/ui/src/typings.d.ts
  tsconfig.json
Labels: core, maintenance, typescript

#14391 [Documentation]: Update my-component-story-use-globaltype.js.mdx
  docs/snippets/common/my-component-story-use-globaltype.js.mdx
Labels: documentation, patch

#14392 Controls: QA fixes for Object and Color controls
  lib/components/src/controls/Color.tsx
  lib/components/src/controls/Object.tsx
  lib/components/src/controls/react-editable-json-tree/index.js
Labels: addon: controls, bug

#14390 [Documentation]: Update my-component-story-use-globaltype.mdx.mdx
  docs/snippets/common/my-component-story-use-globaltype.mdx.mdx
Labels: documentation, patch

#14348 Controls: Fix edge case in datetime control
  addons/knobs/src/components/types/Date.tsx
  lib/components/src/controls/Date.tsx
Labels: addon: controls, bug

#14421 CLI: Fix link to `sb init` docs
  lib/cli/src/initiate.ts
Labels: cli, maintenance
