Repository storybookjs/storybook, pull requests merged in 2021-01, with the labels that each got.

#13519 HTML: Add CSF types
  app/html/src/client/index.ts
  app/html/src/client/preview/types-6-0.ts
  examples/html-kitchen-sink/.storybook/main.js
  examples/html-kitchen-sink/stories/from-essentials/Button.stories.ts
  examples/html-kitchen-sink/stories/from-essentials/Button.ts
  examples/html-kitchen-sink/stories/from-essentials/Header.stories.ts
  examples/html-kitchen-sink/stories/from-essentials/Header.ts
  examples/html-kitchen-sink/stories/from-essentials/Page.stories.ts
  examples/html-kitchen-sink/stories/from-essentials/Page.ts
  examples/html-kitchen-sink/stories/from-essentials/__snapshots__/Button.stories.storyshot
  examples/html-kitchen-sink/stories/from-essentials/__snapshots__/Header.stories.storyshot
  examples/html-kitchen-sink/stories/from-essentials/__snapshots__/Page.stories.storyshot
  examples/html-kitchen-sink/stories/from-essentials/assets/code-brackets.svg
  examples/html-kitchen-sink/stories/from-essentials/assets/colors.svg
  examples/html-kitchen-sink/stories/from-essentials/assets/comments.svg
  examples/html-kitchen-sink/stories/from-essentials/assets/direction.svg
  examples/html-kitchen-sink/stories/from-essentials/assets/flow.svg
  examples/html-kitchen-sink/stories/from-essentials/assets/plugin.svg
  examples/html-kitchen-sink/stories/from-essentials/assets/repo.svg
  examples/html-kitchen-sink/stories/from-essentials/assets/stackalt.svg
  examples/html-kitchen-sink/stories/from-essentials/button.css
  examples/html-kitchen-sink/stories/from-essentials/header.css
  examples/html-kitchen-sink/stories/from-essentials/page.css
  examples/html-kitchen-sink/typings.d.ts
  lib/cli/src/frameworks/html/js/Button.js
  lib/cli/src/frameworks/html/js/Button.stories.js
  lib/cli/src/frameworks/html/js/Header.js
  lib/cli/src/frameworks/html/js/Header.stories.js
  lib/cli/src/frameworks/html/js/Page.js
  lib/cli/src/frameworks/html/js/Page.stories.js
  lib/cli/src/frameworks/html/ts/Button.stories.ts
  lib/cli/src/frameworks/html/ts/Button.ts
  lib/cli/src/frameworks/html/ts/Header.stories.ts
  lib/cli/src/frameworks/html/ts/Header.ts
  lib/cli/src/frameworks/html/ts/Page.stories.ts
  lib/cli/src/frameworks/html/ts/Page.ts
Labels: app: html, feature request, typescript

#13542 docs: how to use the addons in an Angular component
  docs/addons/writing-addons.md
  docs/snippets/angular/button-story-with-addon-example.ts.mdx
Labels: app: angular, documentation, patch

#13581 Adds missing character in prop
  docs/snippets/react/component-story-custom-args-complex.js.mdx
Labels: documentation, patch

#13022 Addon-docs: Fix link not working cross origin
  examples/official-storybook/stories/addon-docs/markdown.stories.mdx
  lib/components/src/typography/DocumentFormatting.tsx
Labels: addon: docs, bug, patch

#13607 Addon-docs: Resolve babel-loader from storybook/core
  addons/docs/src/frameworks/common/preset.ts
Labels: addon: docs, babel / webpack, bug, cra, patch, yarn / npm

#13549 Addon-docs: Add missing types for Story doc block
  addons/docs/src/blocks/Meta.tsx
  addons/docs/src/blocks/Story.tsx
  lib/addons/src/types.ts
Labels: addon: docs, block: other, other, typescript

#13582 Build: Move Preact E2E tests on a Node 12 executor
  .circleci/config.yml
  lib/cli/src/versions.json
  scripts/prepare.js
  scripts/run-e2e.ts
Labels: maintenance, run e2e extended test suite

#13558 Angular: Use Nx function to read non-angularCli configs
  app/angular/package.json
  app/angular/src/server/angular-cli_config.ts
  yarn.lock
Labels: app: angular, maintenance

#13609 Angular: Fix flaky tests based on timezone
  examples/angular-cli/src/stories/all-knobs.component.ts
Labels: app: angular, maintenance

#13507 Angular: Improve decorators
  addons/storyshots/storyshots-core/src/frameworks/angular/renderTree.ts
  app/angular/src/client/index.ts
  app/angular/src/client/preview/angular-beta/ComponentClassFromStoryComponent.ts
  app/angular/src/client/preview/angular-beta/ComponentClassFromStoryTemplate.ts
  app/angular/src/client/preview/angular-beta/ComputesTemplateFromComponent.ts
  app/angular/src/client/preview/angular-beta/RenderNgAppService.ts
  app/angular/src/client/preview/angular-beta/RendererService.test.ts
  app/angular/src/client/preview/angular-beta/RendererService.ts
  app/angular/src/client/preview/angular-beta/StorybookModule.test.ts
  app/angular/src/client/preview/angular-beta/StorybookModule.ts
  app/angular/src/client/preview/angular-beta/StorybookProvider.ts
  app/angular/src/client/preview/angular-beta/StorybookWrapperComponent.ts
  app/angular/src/client/preview/angular-beta/utils/NgComponentAnalyzer.test.ts
  app/angular/src/client/preview/angular-beta/utils/NgComponentAnalyzer.ts
  app/angular/src/client/preview/angular-beta/utils/NgModulesAnalyzer.test.ts
  app/angular/src/client/preview/angular-beta/utils/NgModulesAnalyzer.ts
  app/angular/src/client/preview/angular/decorators.test.ts
  app/angular/src/client/preview/angular/decorators.ts
  app/angular/src/client/preview/angular/helpers.ts
  app/angular/src/client/preview/decorateStory.test.ts
  app/angular/src/client/preview/decorateStory.ts
  app/angular/src/client/preview/index.ts
  app/angular/src/client/preview/render.ts
  app/angular/src/renderer.ts
  docs/get-started/setup.md
  docs/snippets/angular/button-story-component-decorator.ts.mdx
  docs/snippets/angular/button-story-decorator.ts.mdx
  docs/snippets/angular/storybook-preview-global-decorator.ts.mdx
  docs/snippets/angular/storybook-preview-with-styled-components-decorator.ts.mdx
  docs/snippets/angular/your-component-with-decorator.ts.mdx
  examples/angular-cli/addon-jest.testresults.json
  examples/angular-cli/src/stories/decorators/__snapshots__/decorators.stories.storyshot
  examples/angular-cli/src/stories/decorators/child.component.ts
  examples/angular-cli/src/stories/decorators/decorators.stories.ts
  examples/angular-cli/src/stories/decorators/parent.component.ts
Labels: app: angular, decorators, feature request

#13449 Marko: migrate to TS
  app/marko/src/client/index.ts
  app/marko/src/client/preview/globals.ts
  app/marko/src/client/preview/index.ts
  app/marko/src/client/preview/render.ts
  app/marko/src/server/build.ts
  app/marko/src/server/framework-preset-marko.ts
  app/marko/src/server/index.ts
  app/marko/src/server/options.ts
  app/marko/src/typings.d.ts
  app/marko/tsconfig.json
Labels: app: marko, maintenance

#13448 Marionette: migrate to TS
  app/marionette/package.json
  app/marionette/src/client/index.ts
  app/marionette/src/client/preview/element_check.ts
  app/marionette/src/client/preview/globals.ts
  app/marionette/src/client/preview/index.ts
  app/marionette/src/client/preview/render.ts
  app/marionette/src/server/build.ts
  app/marionette/src/server/framework-preset-marionette.js
  app/marionette/src/server/framework-preset-marionette.ts
  app/marionette/src/server/index.ts
  app/marionette/src/server/options.ts
  app/marionette/src/typings.d.ts
  app/marionette/tsconfig.json
  yarn.lock
Labels: app: marionette, maintenance

#13447 Riot: migrate to TS
  app/riot/package.json
  app/riot/src/client/index.ts
  app/riot/src/client/preview/__snapshots__/render-riot.test.ts.snap
  app/riot/src/client/preview/compileStageFunctions.ts
  app/riot/src/client/preview/globals.ts
  app/riot/src/client/preview/index.ts
  app/riot/src/client/preview/render-riot.test.js
  app/riot/src/client/preview/render-riot.test.ts
  app/riot/src/client/preview/render.ts
  app/riot/src/client/preview/rendering/compiledButUnmounted.ts
  app/riot/src/client/preview/rendering/index.ts
  app/riot/src/client/preview/rendering/raw.ts
  app/riot/src/client/preview/rendering/stringified.ts
  app/riot/src/server/build.ts
  app/riot/src/server/framework-preset-riot.ts
  app/riot/src/server/index.ts
  app/riot/src/server/options.ts
  app/riot/src/typings.d.ts
  app/riot/tsconfig.json
  yarn.lock
Labels: app: riot, maintenance

#13450 Rax: Migrate to TS
  .circleci/config.yml
  app/rax/package.json
  app/rax/src/client/index.ts
  app/rax/src/client/preview/globals.ts
  app/rax/src/client/preview/index.ts
  app/rax/src/client/preview/render.ts
  app/rax/src/server/build.ts
  app/rax/src/server/framework-preset-rax.ts
  app/rax/src/server/index.ts
  app/rax/src/server/options.ts
  app/rax/src/typings.d.ts
  app/rax/tsconfig.json
  yarn.lock
Labels: app: rax, maintenance, run e2e extended test suite

#13520 CLI: fix sb init prompt when framework type is undetected
  lib/cli/src/initiate.ts
  lib/cli/src/versions.json
  scripts/run-e2e.ts
Labels: bug, cli

#13176 Addon-viewport: Add viewports of the latest iPhones
  addons/viewport/src/defaults.ts
Labels: addon: viewport, feature request

#13624 Addon-actions: Normalize args
  addons/actions/src/preview/__tests__/action.test.js
  addons/actions/src/preview/__tests__/actions.test.js
  addons/actions/src/preview/action.ts
Labels: addon: actions, feature request

#13640 Dependencies: Update postcss-loader to ^4.1.0
  app/angular/package.json
  app/angular/src/server/framework-preset-angular.ts
  lib/core/package.json
  lib/core/src/server/preview/base-webpack.config.ts
  yarn.lock
Labels: dependencies, dependencies:update

#13641 Maintenance: Configure Renovate
  .github/renovate.json5
Labels: maintenance

#13643 Cleanup: Remove some references to dependency:update label
  .github/stale.yml
  MAINTAINERS.md
  package.json
Labels: cleanup, documentation

#13655 Dependencies: Swap postcss-loader for fork version
  app/angular/package.json
  lib/core/package.json
  yarn.lock
Labels: dependencies

#13651 Dependencies: Remove inquirer types
  lib/cli/package.json
  yarn.lock
Labels: dependencies

#13642 Chore: Addons docs missing info for supported and unsupported metadata property
  docs/addons/addon-catalog.md
Labels: documentation, patch

#13415 Chore: Documentation updates for UI and environment variables
  docs/addons/addon-types.md
  docs/configure/environment-variables.md
  docs/essentials/toolbars-and-globals.md
  docs/get-started/browse-stories.md
  docs/get-started/storybook-keyboard-shortcuts-optimized.mp4
  docs/snippets/angular/my-component-with-env-variables.ts.mdx
  docs/snippets/react/my-component-with-env-variables.js.mdx
  docs/snippets/react/my-component-with-env-variables.mdx.mdx
  docs/snippets/react/my-component-with-env-variables.ts.mdx
  docs/snippets/react/storybook-preview-global-decorator.ts.mdx
  docs/snippets/vue/my-component-with-env-variables.js.mdx
  docs/workflows/faq.md
  docs/writing-stories/decorators.md
Labels: documentation, patch

#13676 Build: Ensure consistency of Chromatic snapshots of Zoom stories
  lib/components/src/Zoom/Zoom.stories.tsx
Labels: maintenance

#13596 Angular: Properly handle empty tsconfig compilerOptions
  app/angular/src/server/angular-cli_config.ts
Labels: app: angular, patch

#13698 Dependencies: Swap back to upstream postcss-loader
  app/angular/package.json
  lib/core/package.json
  yarn.lock
Labels: dependencies

#13516 add missing quotes in code example
  addons/google-analytics/README.md
Labels: addon: analytics, documentation, patch

#13669 Core: Deprecate default postcss config, recommend addon-postcss
  MIGRATION.md
  examples/html-kitchen-sink/.postcssrc.yml
  examples/html-kitchen-sink/.storybook/main.js
  examples/html-kitchen-sink/package.json
  examples/html-kitchen-sink/postcss.config.js
  lib/core/src/server/preview/base-webpack.config.ts
  yarn.lock
Labels: core, feature request, run e2e extended test suite

#13638 Angular: force re-render if template change
  addons/storyshots/storyshots-core/src/frameworks/angular/types.ts
  app/angular/src/client/index.ts
  app/angular/src/client/preview/angular-beta/RendererService.test.ts
  app/angular/src/client/preview/angular-beta/RendererService.ts
  app/angular/src/client/preview/decorateStory.test.ts
  app/angular/src/client/preview/decorators.test.ts
  app/angular/src/client/preview/decorators.ts
  app/angular/src/client/preview/types.ts
Labels: app: angular, bug

#13664 Svelte examples in the documentation
  docs/get-started/setup.md
  docs/get-started/whats-a-story.md
  docs/snippets/svelte/button-component-with-proptypes.js.mdx
  docs/snippets/svelte/button-group-story.js.mdx
  docs/snippets/svelte/button-story-component-args-primary.js.mdx
  docs/snippets/svelte/button-story-component-decorator.js.mdx
  docs/snippets/svelte/button-story-decorator.js.mdx
  docs/snippets/svelte/button-story-default-export-with-component.js.mdx
  docs/snippets/svelte/button-story-rename-story.js.mdx
  docs/snippets/svelte/button-story-using-args.js.mdx
  docs/snippets/svelte/button-story-with-args.js.mdx
  docs/snippets/svelte/button-story-with-blue-args.js.mdx
  docs/snippets/svelte/button-story-with-emojis.js.mdx
  docs/snippets/svelte/button-story.js.mdx
  docs/snippets/svelte/button-story.mdx.mdx
  docs/snippets/svelte/loader-story.js.mdx
  docs/snippets/svelte/page-story.js.mdx
  docs/snippets/svelte/storybook-preview-global-decorator.js.mdx
  docs/snippets/svelte/storybook-preview-global-loader.js.mdx
  docs/snippets/svelte/your-component-with-decorator.js.mdx
  docs/snippets/svelte/your-component.js.mdx
  docs/writing-docs/doc-blocks.md
  docs/writing-stories/args.md
  docs/writing-stories/decorators.md
  docs/writing-stories/introduction.md
  docs/writing-stories/loaders.md
Labels: documentation, patch

#13660 Svelte: Add Slots and Events to the generated ArgsTable
  addons/docs/src/frameworks/svelte/extractArgTypes.test.ts
  addons/docs/src/frameworks/svelte/extractArgTypes.ts
  addons/docs/src/frameworks/svelte/sample/MockButton.svelte
  examples/svelte-kitchen-sink/jest.config.js
  examples/svelte-kitchen-sink/src/stories/__snapshots__/argstable.stories.storyshot
  examples/svelte-kitchen-sink/src/stories/argstable.stories.js
  examples/svelte-kitchen-sink/src/stories/views/ArgsTableView.svelte
Labels: addon: docs, app: svelte, block: argstable, feature request

#13566 How to set a default story
  docs/configure/overview.md
Labels: documentation, patch

#13679 docs: fix args definition in How to write stories
  docs/writing-stories/introduction.md
Labels: documentation, patch

#13673 Core: Throw an error for invalid story format
  lib/client-api/src/client_api.test.ts
  lib/client-api/src/client_api.ts
Labels: client-api, maintenance

#13653 Addon-docs: Add dynamic snippet support for Svelte
  addons/docs/src/frameworks/svelte/config.ts
  addons/docs/src/frameworks/svelte/sourceDecorator.test.ts
  addons/docs/src/frameworks/svelte/sourceDecorator.ts
  examples/svelte-kitchen-sink/src/stories/__snapshots__/button.stories.storyshot
  examples/svelte-kitchen-sink/src/stories/button.stories.js
  examples/svelte-kitchen-sink/src/stories/views/ButtonView.svelte
Labels: addon: docs, app: svelte, block: source, feature request

#13663 Svelte: Fix duplicate story preview
  addons/docs/src/frameworks/svelte/HOC.svelte
Labels: app: svelte, bug, patch

#13703 Bump @types/reach__router version
  lib/api/package.json
  lib/router/package.json
  yarn.lock
Labels: app: react, dependencies, patch, typescript

#13704 Angular: Add Angular 11.1 support
  app/angular/package.json
  app/angular/src/server/angular-cli_config.ts
  examples/angular-cli/package.json
  yarn.lock
Labels: app: angular, maintenance, run e2e extended test suite

#13705 Fixes smoke-test on svelte-kitchen-sink
  examples/svelte-kitchen-sink/src/stories/__snapshots__/argstable.stories.storyshot
  examples/svelte-kitchen-sink/src/stories/views/ArgsTableView.svelte
Labels: app: svelte, maintenance

#13726 docs: import from theming module to support esm
  docs/snippets/common/storybook-theme-example-variables.ts.mdx
  docs/snippets/common/your-theme.js.mdx
  examples/cra-kitchen-sink/.storybook/manager.js
  examples/cra-react15/.storybook/manager.js
  examples/rax-kitchen-sink/.storybook/manager.js
Labels: documentation, patch

#13236 Added an alternative solution to disable a prop control in docs
  docs/essentials/controls.md
  docs/snippets/common/component-story-disable-controls-alt.js.mdx
  docs/snippets/common/component-story-disable-controls-alt.mdx.mdx
Labels: documentation, patch

#13498 Docs / Vue - Getting Started - Examples
  docs/get-started/setup.md
  docs/get-started/whats-a-story.md
  docs/snippets/vue/button-story-with-args.js.mdx
  docs/snippets/vue/storybook-preview-global-decorator.js.mdx
  docs/snippets/vue/storybook-preview-with-styled-components-decorator.js.mdx
  docs/snippets/vue/your-component.js.mdx
Labels: documentation, patch

#13734 Chore: Vue snippets adjustments
  docs/get-started/setup.md
  docs/get-started/whats-a-story.md
Labels: documentation, patch

#13710 Fixed typo in typescript documentation snippet
  docs/snippets/react/list-story-with-subcomponents.ts.mdx
Labels: documentation, patch

#13511 Docs: Fix grammar nit in writing-stories/introduction
  docs/writing-stories/introduction.md
Labels: documentation, patch

#13738 CLI: Add version matcher functions for framework detection
  lib/cli/src/detect.test.ts
  lib/cli/src/detect.ts
  lib/cli/src/initiate.ts
  lib/cli/src/project_types.ts
Labels: cli, feature request

#13725 Chore: Increase node version minimums to 10.13
  app/angular/package.json
  app/ember/package.json
  app/html/package.json
  app/marionette/package.json
  app/marko/package.json
  app/mithril/package.json
  app/preact/package.json
  app/react/package.json
  app/riot/package.json
  app/server/package.json
  app/svelte/package.json
  app/vue/package.json
  app/web-components/package.json
  lib/cli/.babelrc.json
  package.json
Labels: maintenance

#13716 Build: Enable deepscan in workspace
  .vscode/settings.json
Labels: maintenance

#13753 Chore: Docs (snippets) code adjustments
  docs/snippets/common/badge-story-custom-argtypes.js.mdx
  docs/snippets/common/button-group-story-subcomponents.ts.mdx
  docs/snippets/common/button-story-action-event-handle.js.mdx
  docs/snippets/common/button-story-argtypes-with-categories.js.mdx
  docs/snippets/common/button-story-argtypes-with-subcategories.js.mdx
  docs/snippets/common/button-story-default-export.js.mdx
  docs/snippets/common/button-story-disable-docspage-component.js.mdx
  docs/snippets/common/button-story-disable-docspage.js.mdx
  docs/snippets/common/button-story-docs-code-type.js.mdx
  docs/snippets/common/button-story-grouped.js.mdx
  docs/snippets/common/button-story-hide-nocontrols-warning.js.mdx
  docs/snippets/common/button-story-hoisted.js.mdx
  docs/snippets/common/button-story-matching-argtypes.js.mdx
  docs/snippets/common/button-story-onclick-action-argtype.js.mdx
  docs/snippets/common/button-story-primary-composition.js.mdx
  docs/snippets/common/button-story-primary-long-name.js.mdx
  docs/snippets/common/checkbox-story-grouped.js.mdx
  docs/snippets/common/component-story-csf-argstable-customization.js.mdx
  docs/snippets/common/component-story-csf-description.js.mdx
  docs/snippets/common/component-story-custom-source.js.mdx
  docs/snippets/common/component-story-disable-controls-alt.js.mdx
  docs/snippets/common/component-story-disable-controls.js.mdx
  docs/snippets/common/component-story-dynamic-title.js.mdx
  docs/snippets/common/foo-bar-baz-story.js.mdx
  docs/snippets/common/gizmo-story-controls-customization.js.mdx
  docs/snippets/common/my-component-story-import-json.js.mdx
  docs/snippets/common/my-component-story-import-static-asset.js.mdx
  docs/snippets/common/my-component-story.js.mdx
  docs/snippets/common/other-foo-bar-story.js.mdx
  docs/snippets/common/storybook-addon-backgrounds-configure-backgrounds.js.mdx
  docs/snippets/common/storybook-addon-backgrounds-configure-grid.js.mdx
  docs/snippets/common/storybook-addon-backgrounds-disable-backgrounds.js.mdx
  docs/snippets/common/storybook-addon-backgrounds-disable-grid.js.mdx
  docs/snippets/common/storybook-addon-backgrounds-override-background-color.js.mdx
  docs/snippets/common/widget-story-controls-enum.js.mdx
  docs/snippets/react/button-group-story.js.mdx
  docs/snippets/react/button-group-story.ts.mdx
  docs/snippets/react/my-component-story-configure-viewports.js.mdx
  docs/snippets/react/page-story-with-args-composition.js.mdx
  docs/snippets/react/page-story-with-args-composition.ts.mdx
  docs/snippets/vue/page-story-with-args-composition.js.mdx
  docs/writing-stories/parameters.md
Labels: documentation, patch

#13727 Added sass package in installation command
  docs/addons/install-addons.md
Labels: documentation, patch

#13755 documentation: improve readme with example of rendering with React Testling Library
  addons/storyshots/storyshots-core/README.md
Labels: addon: storyshots, documentation

#13759 CLI: Fix handling of version ranges in dependency checks
  lib/cli/src/project_types.ts
Labels: bug, run e2e extended test suite

#13774 CLI: Handle package versions in package strings for generators
  lib/cli/src/js-package-manager/JsPackageManager.ts
Labels: cli, feature request, run e2e extended test suite
