Repository storybookjs/storybook, pull requests merged in 2021-05, with the labels that each got.

#14779 Angular: Filter out args whose argType are missing a control or action
  app/angular/src/client/preview/decorateStory.test.ts
  app/angular/src/client/preview/decorateStory.ts
  examples/angular-cli/src/stories/basics/angular-forms/customControlValueAccessor/custom-cva-component.stories.ts
Labels: app: angular, feature request

#14777 fix: mdx compiler switch to new path
  addons/docs/src/mdx/mdx-compiler-plugin.js
Labels: bug, mdx

#14769 Addon-docs: Allow doc blocks to CJS imported
  addons/docs/package.json
  addons/docs/src/index.ts
  addons/docs/src/mdx/__testfixtures__/component-args.output.snapshot
  addons/docs/src/mdx/__testfixtures__/component-id.output.snapshot
  addons/docs/src/mdx/__testfixtures__/csf-imports.output.snapshot
  addons/docs/src/mdx/__testfixtures__/decorators.output.snapshot
  addons/docs/src/mdx/__testfixtures__/docs-only.output.snapshot
  addons/docs/src/mdx/__testfixtures__/loaders.output.snapshot
  addons/docs/src/mdx/__testfixtures__/meta-quotes-in-title.output.snapshot
  addons/docs/src/mdx/__testfixtures__/non-story-exports.output.snapshot
  addons/docs/src/mdx/__testfixtures__/parameters.output.snapshot
  addons/docs/src/mdx/__testfixtures__/previews.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-args.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-current.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-def-text-only.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-definitions.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-function-var.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-function.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-multiple-children.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-object.output.snapshot
  addons/docs/src/mdx/__testfixtures__/story-references.output.snapshot
  addons/docs/src/mdx/__testfixtures__/title-template-string.output.snapshot
  addons/docs/src/mdx/__testfixtures__/vanilla.output.snapshot
  addons/docs/src/mdx/mdx-compiler-plugin.js
  addons/docs/src/public_api.ts
Labels: addon: docs, maintenance

#14784 add typo fix for running snapshot tests
  docs/workflows/snapshot-testing.md
Labels: addon: docs, patch

#14785 Core: Remove spurious package.json warning
  lib/core-server/src/manager/manager-config.ts
Labels: core, maintenance

#14776 Addon-toolbars: Add optional label for toolbar items
  addons/toolbars/src/components/MenuToolbar.tsx
  addons/toolbars/src/types.ts
  docs/snippets/common/storybook-preview-configure-globaltypes.js.mdx
  examples/official-storybook/preview.js
Labels: addon: toolbars, feature request

#14794 Prefer `npx sb init` installation
  .bettercodehub.yml
  app/angular/README.md
  app/aurelia/README.md
  app/ember/README.md
  app/html/README.md
  app/marionette/README.md
  app/marko/README.md
  app/mithril/README.md
  app/preact/README.md
  app/rax/README.md
  app/react/README.md
  app/riot/README.md
  app/server/README.md
  app/svelte/README.md
  app/vue/README.md
  app/vue3/README.md
  app/web-components/README.md
  docs/addons/writing-addons.md
  docs/get-started/installation-command-section/ember.mdx
  lib/cli/README.md
Labels: documentation, patch

#14808 Accessibility: Adds title to close button on settings page
  lib/ui/src/settings/index.tsx
Labels: accessibility, bug, ui

#14806 Update MIGRATION.md with ESM jest transform tip
  MIGRATION.md
Labels: documentation, patch

#14783 Add documentation section about linking to other stories and pages from MDX
  docs/writing-docs/mdx-anchor.webp
  docs/writing-docs/mdx.md
Labels: documentation, patch

#14820 UI: Styling updates
  addons/a11y/src/components/Report/Elements.tsx
  addons/a11y/src/components/Report/Item.tsx
  addons/a11y/src/components/Tabs.tsx
  lib/components/src/bar/button.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.tsx
  lib/components/src/controls/Boolean.tsx
  lib/components/src/icon/icons.tsx
  lib/ui/src/components/preview/tools/copy.tsx
  lib/ui/src/components/preview/tools/eject.tsx
  lib/ui/src/components/sidebar/Tree.tsx
Labels: maintenance, ui

#14804 Refactor mithril into its own repo
  .circleci/config.yml
  .teamcity/settings.kts
  app/mithril/README.md
  app/mithril/bin/build.js
  app/mithril/bin/index.js
  app/mithril/package.json
  app/mithril/src/client/index.ts
  app/mithril/src/client/preview/globals.ts
  app/mithril/src/client/preview/index.ts
  app/mithril/src/client/preview/render.ts
  app/mithril/src/client/preview/types.ts
  app/mithril/src/server/build.ts
  app/mithril/src/server/framework-preset-mithril.ts
  app/mithril/src/server/index.ts
  app/mithril/src/server/options.ts
  app/mithril/src/typings.d.ts
  app/mithril/standalone.js
  app/mithril/tsconfig.json
  app/standalone.test.ts
  examples/mithril-kitchen-sink/.env
  examples/mithril-kitchen-sink/.gitignore
  examples/mithril-kitchen-sink/.storybook/main.js
  examples/mithril-kitchen-sink/README.md
  examples/mithril-kitchen-sink/package.json
  examples/mithril-kitchen-sink/src/BaseButton.js
  examples/mithril-kitchen-sink/src/Button.js
  examples/mithril-kitchen-sink/src/Welcome.js
  examples/mithril-kitchen-sink/src/stories/addon-actions.stories.js
  examples/mithril-kitchen-sink/src/stories/addon-backgrounds.stories.js
  examples/mithril-kitchen-sink/src/stories/addon-knobs.stories.js
  examples/mithril-kitchen-sink/src/stories/addon-links.stories.js
  examples/mithril-kitchen-sink/src/stories/button.stories.js
  examples/mithril-kitchen-sink/src/stories/welcome.stories.js
  nx.json
  package.json
  scripts/run-e2e-config.ts
  workspace.json
  yarn.lock
Labels: app: mithril, maintenance

#14803 Refactor marko into its own repo
  .circleci/config.yml
  .teamcity/settings.kts
  app/marko/README.md
  app/marko/bin/build.js
  app/marko/bin/index.js
  app/marko/package.json
  app/marko/src/client/index.ts
  app/marko/src/client/preview/globals.ts
  app/marko/src/client/preview/index.ts
  app/marko/src/client/preview/render.ts
  app/marko/src/demo/Button.marko
  app/marko/src/demo/Welcome.marko
  app/marko/src/server/build.ts
  app/marko/src/server/framework-preset-marko.ts
  app/marko/src/server/index.ts
  app/marko/src/server/options.ts
  app/marko/src/typings.d.ts
  app/marko/standalone.js
  app/marko/tsconfig.json
  app/standalone.test.ts
  examples/marko-cli/.editorconfig
  examples/marko-cli/.storybook/main.js
  examples/marko-cli/README.md
  examples/marko-cli/package.json
  examples/marko-cli/src/components/action-button/index.marko
  examples/marko-cli/src/components/click-count/index.marko
  examples/marko-cli/src/components/hello/index.marko
  examples/marko-cli/src/components/stop-watch/index.marko
  examples/marko-cli/src/components/welcome/index.marko
  examples/marko-cli/src/components/welcome/logo.png
  examples/marko-cli/src/stories/addon-actions.stories.js
  examples/marko-cli/src/stories/addon-knobs.stories.js
  examples/marko-cli/src/stories/clickcount.stories.js
  examples/marko-cli/src/stories/hello.stories.js
  examples/marko-cli/src/stories/stopwatch.stories.js
  examples/marko-cli/src/stories/welcome.stories.js
  nx.json
  package.json
  scripts/run-e2e-config.ts
  workspace.json
  yarn.lock
Labels: app: marko, maintenance

#14799 Refactor rax to its own repo
  .eslintignore
  app/rax/README.md
  app/rax/bin/build.js
  app/rax/bin/index.js
  app/rax/package.json
  app/rax/src/client/index.ts
  app/rax/src/client/preview/globals.ts
  app/rax/src/client/preview/index.ts
  app/rax/src/client/preview/render.ts
  app/rax/src/server/build.ts
  app/rax/src/server/framework-preset-rax.ts
  app/rax/src/server/index.ts
  app/rax/src/server/options.ts
  app/rax/src/typings.d.ts
  app/rax/standalone.js
  app/rax/tsconfig.json
  app/standalone.test.ts
  examples/rax-kitchen-sink/.env
  examples/rax-kitchen-sink/.eslintrc.js
  examples/rax-kitchen-sink/.gitignore
  examples/rax-kitchen-sink/.storybook/main.js
  examples/rax-kitchen-sink/.storybook/manager.js
  examples/rax-kitchen-sink/README.md
  examples/rax-kitchen-sink/babel.config.js
  examples/rax-kitchen-sink/build.json
  examples/rax-kitchen-sink/package.json
  examples/rax-kitchen-sink/src/app.js
  examples/rax-kitchen-sink/src/components/App/index.js
  examples/rax-kitchen-sink/src/document/index.jsx
  examples/rax-kitchen-sink/src/stories/addon-a11y.stories.js
  examples/rax-kitchen-sink/src/stories/addon-actions.stories.js
  examples/rax-kitchen-sink/src/stories/addon-knobs.stories.js
  examples/rax-kitchen-sink/src/stories/index.stories.js
  jest.config.js
  nx.json
  package.json
  scripts/run-e2e-config.ts
  workspace.json
  yarn.lock
Labels: app: rax, maintenance

#14802 Refactor marionette into its own repo
  app/marionette/README.md
  app/marionette/bin/build.js
  app/marionette/bin/index.js
  app/marionette/package.json
  app/marionette/src/client/index.ts
  app/marionette/src/client/preview/element_check.ts
  app/marionette/src/client/preview/globals.ts
  app/marionette/src/client/preview/index.ts
  app/marionette/src/client/preview/render.ts
  app/marionette/src/server/build.ts
  app/marionette/src/server/framework-preset-marionette.ts
  app/marionette/src/server/index.ts
  app/marionette/src/server/options.ts
  app/marionette/src/typings.d.ts
  app/marionette/standalone.js
  app/marionette/tsconfig.json
  app/standalone.test.ts
  nx.json
  package.json
  scripts/run-e2e-config.ts
  workspace.json
  yarn.lock
Labels: app: marionette, maintenance

#14832 Delete unmaintained dev-kits
  .circleci/config.yml
  dev-kits/addon-decorator/README.md
  dev-kits/addon-decorator/package.json
  dev-kits/addon-decorator/src/constants.ts
  dev-kits/addon-decorator/src/index.ts
  dev-kits/addon-decorator/src/typings.d.ts
  dev-kits/addon-decorator/tsconfig.json
  dev-kits/addon-parameter/README.md
  dev-kits/addon-parameter/package.json
  dev-kits/addon-parameter/register.js
  dev-kits/addon-parameter/src/constants.ts
  dev-kits/addon-parameter/src/register.tsx
  dev-kits/addon-parameter/tsconfig.json
  dev-kits/addon-preview-wrapper/README.md
  dev-kits/addon-preview-wrapper/package.json
  dev-kits/addon-preview-wrapper/register.js
  dev-kits/addon-preview-wrapper/src/constants.ts
  dev-kits/addon-preview-wrapper/src/register.tsx
  dev-kits/addon-preview-wrapper/tsconfig.json
  dev-kits/addon-roundtrip/README.md
  dev-kits/addon-roundtrip/package.json
  dev-kits/addon-roundtrip/register.js
  dev-kits/addon-roundtrip/src/constants.ts
  dev-kits/addon-roundtrip/src/index.ts
  dev-kits/addon-roundtrip/src/panel.tsx
  dev-kits/addon-roundtrip/src/register.tsx
  dev-kits/addon-roundtrip/tsconfig.json
  examples/dev-kits/README.md
  examples/dev-kits/logo.svg
  examples/dev-kits/main.js
  examples/dev-kits/manager.js
  examples/dev-kits/package.json
  examples/dev-kits/stories/addon-decorator.js
  examples/dev-kits/stories/addon-roundtrip.js
  examples/dev-kits/stories/addon-useaddonstate.tsx
  examples/dev-kits/stories/addon-useglobalargs.js
  nx.json
  package.json
  workspace.json
  yarn.lock
Labels: maintenance

#14801 Refactor aurelia into its own repo
  app/aurelia/README.md
  app/aurelia/bin/build.js
  app/aurelia/bin/index.js
  app/aurelia/package.json
  app/aurelia/src/client/index.ts
  app/aurelia/src/client/preview/decorators.ts
  app/aurelia/src/client/preview/globals.ts
  app/aurelia/src/client/preview/index.ts
  app/aurelia/src/client/preview/render.ts
  app/aurelia/src/client/preview/types.ts
  app/aurelia/src/server/__tests__/create-fork-ts-checker-plugin.test.ts
  app/aurelia/src/server/__tests__/ts_config.test.ts
  app/aurelia/src/server/build.ts
  app/aurelia/src/server/create-fork-ts-checker-plugin.ts
  app/aurelia/src/server/framework-preset-aurelia.ts
  app/aurelia/src/server/index.ts
  app/aurelia/src/server/options.ts
  app/aurelia/src/server/ts_config.ts
  app/aurelia/standalone.js
  app/aurelia/tsconfig.json
  app/aurelia/typings.d.ts
  app/standalone.test.ts
  examples/aurelia-kitchen-sink/.gitignore
  examples/aurelia-kitchen-sink/.htmlhintrc
  examples/aurelia-kitchen-sink/.storybook/main.js
  examples/aurelia-kitchen-sink/.storybook/manager.js
  examples/aurelia-kitchen-sink/.storybook/tsconfig.json
  examples/aurelia-kitchen-sink/README.md
  examples/aurelia-kitchen-sink/favicon.ico
  examples/aurelia-kitchen-sink/index.ejs
  examples/aurelia-kitchen-sink/package.json
  examples/aurelia-kitchen-sink/src/app.html
  examples/aurelia-kitchen-sink/src/app.ts
  examples/aurelia-kitchen-sink/src/cool-button/cool-button.html
  examples/aurelia-kitchen-sink/src/cool-button/cool-button.ts
  examples/aurelia-kitchen-sink/src/css.d.ts
  examples/aurelia-kitchen-sink/src/html.d.ts
  examples/aurelia-kitchen-sink/src/main.ts
  examples/aurelia-kitchen-sink/src/stories/button.ts
  examples/aurelia-kitchen-sink/src/stories/custom-element.stories.ts
  examples/aurelia-kitchen-sink/src/stories/link.stories.ts
  examples/aurelia-kitchen-sink/src/stories/mdx.stories.mdx
  examples/aurelia-kitchen-sink/tsconfig.json
  examples/aurelia-kitchen-sink/webpack.config.js
  nx.json
  package.json
  workspace.json
  yarn.lock
Labels: app: aurelia, maintenance

#14840 Remove unused import from snippet
  docs/snippets/common/storybook-main-using-existing-config.js.mdx
Labels: documentation, patch

#14837 Chore:(Docs) Adds minor tweaks to the theming and Addons API
  docs/addons/addons-api.md
  docs/configure/theming.md
Labels: documentation, patch

#14835 Storyshots: Make `vue-jest` and `svelte` optional peer dependencies
  addons/storyshots/storyshots-core/package.json
  yarn.lock
Labels: addon: storyshots, dependencies

#14408 UI: Boolean control change for UI Fix toggle button
  addons/actions/src/register.tsx
  lib/components/src/controls/Boolean.tsx
Labels: bug, theming, ui

#14863 Build: Remove MDX to make chromatic/IE pass in CI
  examples/cra-ts-essentials/src/stories/Test.stories.mdx
Labels: maintenance

#14849 Chore: (Docs): Community frameworks location updated
  docs/get-started/installation-problems/marko.mdx
  docs/get-started/installation-problems/mithril.mdx
  docs/get-started/installation-problems/rax.mdx
  docs/get-started/installation-problems/riot.mdx
  docs/snippets/common/storybook-babel-configuration-example.ts.mdx
Labels: documentation, patch

#14845 Update react/button-story-rename-story.ts.mdx
  docs/snippets/react/button-story-rename-story.ts.mdx
Labels: documentation, patch

#14865 Revert "UI: Boolean control change for UI Fix toggle button"
  addons/actions/src/register.tsx
  lib/components/src/controls/Boolean.tsx
Labels: bug, ui

#14861 Extract addon-queryparams from monorepo
  addons/queryparams/README.md
  addons/queryparams/package.json
  addons/queryparams/preset.js
  addons/queryparams/src/constants.ts
  addons/queryparams/src/index.ts
  addons/queryparams/src/preset/addDecorator.ts
  addons/queryparams/src/typings.d.ts
  addons/queryparams/tsconfig.json
  examples/official-storybook/main.ts
  examples/official-storybook/package.json
  lib/cli/src/versions.json
  nx.json
  package.json
  workspace.json
  yarn.lock
Labels: maintenance

#14871 Fix formatting on the workflow faq page
  docs/workflows/faq.md
Labels: documentation, patch

#14600 Lit: Initial lit2 support
  .gitignore
  addons/actions/src/register.tsx
  addons/docs/README.md
  addons/docs/common/README.md
  addons/docs/docs/docspage.md
  addons/docs/docs/faq.md
  addons/docs/docs/mdx.md
  addons/docs/docs/multiframework.md
  addons/docs/docs/props-tables.md
  addons/docs/docs/recipes.md
  addons/docs/docs/theming.md
  addons/docs/lit/README.md
  addons/docs/lit/index.js
  addons/docs/package.json
  addons/docs/src/frameworks/lit/config.ts
  addons/docs/src/frameworks/lit/prepareForInline.ts
  app/lit/.eslintrc.js
  app/lit/README.md
  app/lit/bin/build.js
  app/lit/bin/index.js
  app/lit/package.json
  app/lit/src/client/index.ts
  app/lit/src/client/preview/globals.ts
  app/lit/src/client/preview/index.ts
  app/lit/src/client/preview/render.ts
  app/lit/src/client/preview/types.ts
  app/lit/src/server/build.ts
  app/lit/src/server/framework-preset-lit.ts
  app/lit/src/server/index.ts
  app/lit/src/server/options.ts
  app/lit/src/typings.d.ts
  app/lit/standalone.js
  app/lit/tsconfig.json
  app/lit/types-6-0.d.ts
  examples/lit-kitchen-sink/.eslintrc.js
  examples/lit-kitchen-sink/.storybook/main.js
  examples/lit-kitchen-sink/.storybook/preview.ts
  examples/lit-kitchen-sink/.yarnrc.yml
  examples/lit-kitchen-sink/README.md
  examples/lit-kitchen-sink/package.json
  examples/lit-kitchen-sink/src/components/SbButton.stories.ts
  examples/lit-kitchen-sink/src/components/SbButton.ts
  examples/lit-kitchen-sink/src/stories/addons/actions/addon-actions.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/background/addon-background.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/controls/addon-controls.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/docs/addon-docs.stories.mdx
  examples/lit-kitchen-sink/src/stories/addons/docs/addon-docs.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/docs/notes/notes.mdx
  examples/lit-kitchen-sink/src/stories/addons/toolbars/addon-toolbars.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/viewport/addon-viewport.stories.ts
  examples/lit-kitchen-sink/src/typings.d.ts
  examples/lit-kitchen-sink/tsconfig.json
  examples/lit-kitchen-sink/yarn.lock
  package.json
  scripts/build-storybooks.js
  yarn.lock
Labels: app: lit, feature request, run e2e extended test suite

#14780 React: Add ComponentStory convenience type
  app/react/src/client/index.ts
  app/react/src/client/preview/types-6-3.ts
  examples/official-storybook/stories/demo/typed-button.stories.tsx
Labels: app: react, feature request, typescript

#14879 Addon-actions: Display DOM Event/CustomEvent data
  examples/lit-kitchen-sink/yarn.lock
  lib/api/package.json
  lib/channel-postmessage/package.json
  lib/channel-websocket/package.json
  lib/core-server/package.json
  yarn.lock
Labels: addon: actions, bug

#14790 UI: Fix tab display when there is only one tab
  lib/ui/src/components/preview/preview.stories.tsx
  lib/ui/src/components/preview/preview.tsx
  lib/ui/src/components/preview/toolbar.tsx
Labels: bug, ui

#14888 CLI: Repro refinements per feedback
  lib/cli/package.json
  lib/cli/src/repro-generators/scripts.ts
  lib/cli/src/repro.ts
  yarn.lock
Labels: cli, maintenance

#14907 Chore: (Docs) Minor polish to the decorators docs
  docs/writing-stories/decorators.md
Labels: documentation, patch

#14281 Builder-Webpack5: Use native features instead of plugins
  lib/builder-webpack5/package.json
  lib/builder-webpack5/src/preview/base-webpack.config.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  yarn.lock
Labels: maintenance, webpack5

#14228 Mention selectors requirement in Angular stories
  MIGRATION.md
Labels: app: angular, documentation, patch

#14891 Addon-storyshots: Make @storybook/react dependency optional
  addons/storyshots/storyshots-core/package.json
  yarn.lock
Labels: addon: storyshots, dependencies

#14917 Build: Put E2E tests back on track
  .circleci/config.yml
  lib/cli/src/repro-generators/configs.ts
Labels: maintenance

#14919 Build: Add missing dependencies
  package.json
  scripts/utils/compile-babel.js
  scripts/utils/compile-tsc.js
  yarn.lock
Labels: maintenance, yarn / npm

#14914 Webpack5: Always set `resolve.fallback.crypto` to `false`
  addons/a11y/preset.js
  lib/builder-webpack5/src/preview/base-webpack.config.ts
Labels: addon: a11y, maintenance, webpack5

#14924 CLI: Add preamble instructions to `sb repro`
  lib/cli/src/repro.ts
Labels: cli, maintenance

#14925 Addon-controls: Fix duplicate color swatch id's in Color control
  lib/components/src/controls/Color.tsx
Labels: addon: controls, bug, tiny

#14928 CLI: Add Angular 12 + docs inline rendering support
  MIGRATION.md
  addons/docs/src/frameworks/angular/preset.ts
  lib/cli/src/generators/ANGULAR/index.ts
  lib/cli/src/generators/configure.ts
Labels: app: angular, cli, feature request

#14937 docs: update framework support
  docs/frameworks.js
Labels: documentation, patch

#14936 missing letter
  MIGRATION.md
Labels: documentation

#14906 Chore: (Docs) Fixes for issue 14218
  addons/docs/docs/docspage.md
  addons/docs/docs/media/mdx-page.png
  docs/snippets/common/badge-story.mdx.mdx
  docs/writing-docs/mdx-page.png
Labels: documentation, patch

#14942 CLI: Keep Webpack 4 builder for Angular lower than 12
  .circleci/config.yml
  lib/cli/src/generators/ANGULAR/index.ts
  lib/cli/src/js-package-manager/JsPackageManager.ts
Labels: bug, cli, run e2e extended test suite

#14684 Controls: Tighten color control inference heuristic and test
  cypress/generated/addon-controls.spec.ts
  lib/cli/src/frameworks/web-components/js/Button.js
  lib/cli/src/frameworks/web-components/ts/Button.ts
  lib/client-api/src/inferControls.test.ts
  lib/client-api/src/inferControls.ts
Labels: addon: controls, client-api, maintenance, run e2e extended test suite

#14949 Core: Remove updateGlobals warning message
  lib/api/src/modules/globals.ts
Labels: core, maintenance

#14903 ["bug", "documentation"] fix bug in example storybook-preview-body-font-size.html.mdx
  docs/snippets/common/storybook-preview-body-font-size.html.mdx
Labels: documentation, patch

#14954 Core: Support modern browser target
  .babelrc.js
  .circleci/config.yml
  addons/a11y/package.json
  addons/actions/package.json
  addons/backgrounds/package.json
  addons/docs/package.json
  addons/essentials/package.json
  addons/jest/package.json
  addons/links/package.json
  addons/storysource/package.json
  lib/api/package.json
  lib/builder-webpack4/package.json
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/package.json
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/channel-postmessage/package.json
  lib/channel-websocket/package.json
  lib/channels/package.json
  lib/client-api/package.json
  lib/client-logger/package.json
  lib/codemod/package.json
  lib/components/package.json
  lib/core-client/package.json
  lib/core-common/package.json
  lib/core-common/src/types.ts
  lib/core-events/package.json
  lib/core-server/package.json
  lib/core-server/src/cli/dev.ts
  lib/core-server/src/cli/prod.ts
  lib/core-server/src/manager/manager-webpack.config.ts
  lib/core-server/src/presets/common-preset.ts
  lib/core-server/src/presets/manager-preset.ts
  lib/core/package.json
  lib/node-logger/package.json
  lib/postinstall/package.json
  lib/router/package.json
  lib/source-loader/package.json
  lib/theming/package.json
  lib/ui/package.json
  scripts/utils/compile-babel.js
Labels: core, feature request

#14897 UI: Provide option to hide default toolbar tools
  docs/configure/features-and-behavior.md
  docs/snippets/common/storybook-config-layout.js.mdx
  examples/official-storybook/manager.js
  lib/addons/src/index.ts
  lib/ui/src/components/preview/preview.stories.tsx
  lib/ui/src/components/preview/toolbar.tsx
  lib/ui/src/components/preview/tools/copy.tsx
  lib/ui/src/components/preview/tools/eject.tsx
  lib/ui/src/components/preview/tools/zoom.tsx
Labels: feature request, ui

#14961 Chore: (Docs) Minor polish to the write an addon documentation
  docs/addons/writing-addons.md
Labels: documentation, patch

#14963 Chore: (Docs) Small adjustments to the args snippet used in the documentation
  docs/snippets/angular/button-story-with-args.ts.mdx
  docs/snippets/react/button-story-with-args.js.mdx
  docs/snippets/react/button-story-with-args.ts.mdx
  docs/snippets/svelte/button-story-with-args.js.mdx
  docs/snippets/vue/button-story-with-args.2.js.mdx
  docs/snippets/vue/button-story-with-args.3.js.mdx
  docs/snippets/web-components/button-story-with-args.js.mdx
Labels: documentation, patch

#14970 Build: Increase CI `build` step to XL
  .circleci/config.yml
Labels: maintenance

#14900 Addon-docs: Remove all defaultValue eval-ing
  addons/docs/src/frameworks/react/__testfixtures__/10017-ts-union/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/10278-ts-multiple-components/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/8140-js-prop-types-oneof/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/8143-ts-imported-types/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/8143-ts-react-fc-generics/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/8279-js-styled-docgen/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/8428-js-static-prop-types/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/8663-js-styled-components/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/8740-ts-multi-props/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/8894-9511-ts-forward-ref/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9023-js-hoc/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9399-js-proptypes-shape/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9465-ts-type-props/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9493-ts-display-name/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9556-ts-react-default-exports/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9575-ts-camel-case/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9586-js-react-memo/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9591-ts-import-types/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9592-ts-styled-props/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9626-js-default-values/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9668-js-proptypes-no-jsdoc/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9721-ts-deprecated-jsdoc/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9764-ts-extend-props/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9827-ts-default-values/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9832-ts-enum-export/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/9922-ts-component-props/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/js-class-component/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/js-function-component-inline-defaults-no-propTypes/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/js-function-component-inline-defaults/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/js-function-component/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/ts-function-component-inline-defaults/argTypes.snapshot
  addons/docs/src/frameworks/react/__testfixtures__/ts-function-component/argTypes.snapshot
  addons/docs/src/frameworks/react/extractArgTypes.ts
  addons/docs/src/frameworks/react/react-argtypes.stories.tsx
  addons/docs/src/frameworks/react/react-properties.test.ts
  addons/docs/src/frameworks/svelte/extractArgTypes.test.ts
  addons/docs/src/frameworks/svelte/extractArgTypes.ts
  addons/docs/src/frameworks/vue/extractArgTypes.ts
  addons/docs/src/frameworks/vue3/extractArgTypes.ts
Labels: args, feature request

#14901 Core: Add args enhancers + use in addon-actions
  MIGRATION.md
  addons/actions/src/preset/addArgs.ts
  addons/actions/src/preset/addArgsHelpers.test.ts
  addons/actions/src/preset/addArgsHelpers.ts
  addons/storyshots/storyshots-core/src/frameworks/Loader.ts
  addons/storyshots/storyshots-core/src/frameworks/configure.ts
  lib/builder-webpack4/src/preview/virtualModuleEntry.template.js
  lib/builder-webpack5/src/preview/virtualModuleEntry.template.js
  lib/client-api/src/client_api.ts
  lib/client-api/src/index.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/client-api/src/types.ts
Labels: addon: actions, core, feature request

#14852 Angular: Pass bootstrapOptions to angular
  app/angular/src/client/preview/angular-beta/ElementRendererService.ts
  app/angular/src/client/preview/angular-beta/RendererService.test.ts
  app/angular/src/client/preview/angular-beta/RendererService.ts
  app/angular/src/client/preview/types-6-0.ts
  examples/angular-cli/src/stories/core/parameters/__snapshots__/bootstrap-options.stories.storyshot
  examples/angular-cli/src/stories/core/parameters/bootstrap-options.stories.ts
Labels: app: angular, feature request

#14976 Controls: Fix controls without options and add warning
  examples/official-storybook/stories/addon-controls.stories.tsx
  lib/components/src/controls/options/Checkbox.tsx
  lib/components/src/controls/options/Radio.tsx
  lib/components/src/controls/options/Select.tsx
  lib/components/src/controls/options/helpers.ts
Labels: addon: controls, bug

#14977 Core: Add remaining sbmodern exports
  addons/controls/package.json
  addons/toolbars/package.json
  addons/viewport/package.json
  lib/addons/package.json
Labels: maintenance

#14962 Lit: Add typings for @storybook/lit
  app/lit/src/client/index.ts
  app/lit/src/client/preview/types-6-0.ts
  examples/lit-kitchen-sink/src/components/SbButton.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/actions/addon-actions.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/background/addon-background.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/controls/addon-controls.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/docs/addon-docs.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/toolbars/addon-toolbars.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/viewport/addon-viewport.stories.ts
Labels: app: lit, feature request, typescript

#14979 CSF: Add undeclared dependency `regenerator-runtime`
  lib/csf-tools/package.json
  yarn.lock
Labels: dependencies

#14875 Core: Single story option in iframe view
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/client-api/src/types.ts
  lib/core-client/src/preview/url.test.ts
  lib/core-client/src/preview/url.ts
Labels: core, feature request, performance issue

#14983 Bump telejson to 5.3.2 to use the ESM version
  lib/api/package.json
  lib/channel-postmessage/package.json
  lib/channel-websocket/package.json
  lib/core-server/package.json
  yarn.lock
Labels: dependencies

#14992 Core: Feature flag for builtin stories.json support
  lib/core-common/src/types.ts
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-dev
  lib/core-server/src/build-static.ts
  lib/core-server/src/core-presets.test.ts
  lib/core-server/src/dev-server.ts
Labels: core, maintenance

#14296 Controls: Add automatic ids to all controls
  lib/components/src/controls/Array.tsx
  lib/components/src/controls/Boolean.tsx
  lib/components/src/controls/Color.tsx
  lib/components/src/controls/Date.tsx
  lib/components/src/controls/Files.tsx
  lib/components/src/controls/Number.tsx
  lib/components/src/controls/Object.tsx
  lib/components/src/controls/Range.tsx
  lib/components/src/controls/Text.tsx
  lib/components/src/controls/helpers.test.ts
  lib/components/src/controls/helpers.ts
  lib/components/src/controls/options/Checkbox.tsx
  lib/components/src/controls/options/Radio.tsx
  lib/components/src/controls/options/Select.tsx
Labels: addon: controls, feature request

#14980 Build: Improve e2e script
  package.json
  scripts/run-e2e.ts
  scripts/tsconfig.json
  scripts/typings.d.ts
  yarn.lock
Labels: maintenance

#14950 CLI: Add sb link --local option
  lib/cli/src/generate.ts
  lib/cli/src/link.ts
Labels: cli, feature request

#14999 Update code snippets to use `argTypes[key].options` instead of `control.options`
  docs/snippets/angular/component-story-custom-args-icons.ts.mdx
  docs/snippets/common/badge-story-custom-argtypes.js.mdx
  docs/snippets/common/badge-story-custom-argtypes.mdx.mdx
  docs/snippets/common/button-story-controls-radio-group.js.mdx
  docs/snippets/common/button-story-controls-radio-group.mdx.mdx
  docs/snippets/svelte/table-story-fully-customize-controls.native-format.mdx
  docs/snippets/vue/component-story-custom-args-icons.2.js.mdx
  docs/snippets/vue/component-story-custom-args-icons.3.js.mdx
Labels: documentation, patch

#15006 Storyshots-puppeteer: Remove the usage of GPL-licensed `@wordpress/jest-puppeteer-axe` package
  addons/storyshots/storyshots-puppeteer/package.json
  addons/storyshots/storyshots-puppeteer/src/axeTest.ts
  examples/official-storybook/components/ForwardRefButton.js
  examples/official-storybook/stories/addon-controls.stories.tsx
  examples/official-storybook/stories/addon-docs/addon-docs-mdx.stories.mdx
  examples/official-storybook/storyshots-puppeteer/__image_snapshots__/storyshots-image-runner-js-image-snapshots-addons-storyshots-block-story-1-snap.png
  yarn.lock
Labels: addon: storyshots, dependencies

#15015 Maintenance: Build ESM in watch mode, not modern for now
  scripts/utils/compile-babel.js
Labels: maintenance

#14652 Addon-docs: Exclude decorators in dynamic source snippets
  addons/docs/src/frameworks/react/jsxDecorator.test.tsx
  addons/docs/src/frameworks/react/jsxDecorator.tsx
  examples/cra-kitchen-sink/.storybook/preview.js
  examples/cra-kitchen-sink/src/stories/decorators.stories.js
  examples/official-storybook/stories/hooks.stories.js
  lib/addons/src/types.ts
  lib/client-api/src/story_store.ts
Labels: addon: docs, app: react, block: source, feature request

#15019 Core: Fix manager builder dependencies for PnP
  lib/builder-webpack5/typings.d.ts
  lib/core-server/package.json
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-prod
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-prod
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-dev
  lib/core-server/src/__snapshots__/html-kitchen-sink_manager-prod
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/html-kitchen-sink_preview-prod
  lib/core-server/src/__snapshots__/vue-3-cli_manager-dev
  lib/core-server/src/__snapshots__/vue-3-cli_manager-prod
  lib/core-server/src/__snapshots__/vue-3-cli_preview-dev
  lib/core-server/src/__snapshots__/vue-3-cli_preview-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_manager-prod
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-dev
  lib/core-server/src/__snapshots__/web-components-kitchen-sink_preview-prod
  lib/core-server/src/presets/common-preset.ts
  lib/core-server/src/utils/get-manager-builder.ts
  lib/manager-webpack4/package.json
  lib/manager-webpack4/src/presets/manager-preset.ts
  lib/manager-webpack5/package.json
  lib/manager-webpack5/src/manager-webpack.config.ts
  lib/manager-webpack5/src/presets/manager-preset.ts
  lib/manager-webpack5/typings.d.ts
  yarn.lock
Labels: core, dependencies, webpack5

#15021 Build: Fix selectors used in Cypress tests and E2E exit code
  .circleci/config.yml
  cypress/generated/addon-controls.spec.ts
  scripts/run-e2e.ts
  scripts/verdaccio.yaml
Labels: maintenance, run e2e extended test suite

#14898 Web-components: Support lit 2 with back-compat
  .circleci/config.yml
  addons/docs/package.json
  addons/docs/src/frameworks/web-components/web-components-properties.test.ts
  addons/essentials/package.json
  app/web-components/package.json
  app/web-components/src/client/preview/render.ts
  examples/web-components-kitchen-sink/package.json
  lib/cli/src/detect.test.ts
  lib/cli/src/generators/WEB-COMPONENTS/index.ts
  lib/cli/src/project_types.ts
  lib/cli/src/repro-generators/configs.ts
  yarn.lock
Labels: app: web-components, feature request

#15024 Bump react-docgen-typescript-plugin to 0.7.2-canary.375d65e.0
  app/react/package.json
  lib/core-common/package.json
  yarn.lock
Labels: dependencies

#15022 Angular: Use NormalizeOptimization from angular-cli
  app/angular/src/server/__mocks-ng-workspace__/some-config/angular.json
  app/angular/src/server/__mocks-ng-workspace__/some-config/src/main.ts
  app/angular/src/server/__mocks-ng-workspace__/some-config/src/tsconfig.app.json
  app/angular/src/server/__mocks-ng-workspace__/some-config/tsconfig.json
  app/angular/src/server/angular-devkit-build-webpack.ts
  app/angular/src/server/framework-preset-angular-cli.test.ts
  app/angular/src/server/utils/normalize-optimization.ts
Labels: app: angular, bug, patch

#14931 Document dev setup
  docs/contribute/code.md
  docs/contribute/documentation-updates.md
  docs/contribute/github-docs-edit-optimized.png
  docs/contribute/how-to-contribute.md
  docs/contribute/local-storybook-website-dropdown-optimized.png
  docs/contribute/new-snippets.md
  docs/contribute/storybook-build-packages-selection-optimized.png
  docs/contribute/storybook-cra-examples-optimized.png
  docs/contribute/storybook-docs-submit-changes-optimized.png
  docs/contribute/storybook-docs-submit-pr-optimized.png
  docs/contribute/storybook-edit-docs-optimized.png
  docs/contribute/storybook-manager-preview.jpg
  docs/toc.js
Labels: documentation, patch

#15029 Add info about Lit in migration guide
  MIGRATION.md
Labels: app: web-components, documentation

#14955 Angular: Add `angularBrowserTarget` option in server
  app/angular/package.json
  app/angular/src/server/__mocks-ng-workspace__/with-angularBrowserTarget/angular.json
  app/angular/src/server/__mocks-ng-workspace__/with-angularBrowserTarget/src/main.ts
  app/angular/src/server/__mocks-ng-workspace__/with-angularBrowserTarget/src/tsconfig.app.json
  app/angular/src/server/__mocks-ng-workspace__/with-angularBrowserTarget/tsconfig.json
  app/angular/src/server/angular-devkit-build-webpack.ts
  app/angular/src/server/angular-read-workspace.ts
  app/angular/src/server/framework-preset-angular-cli.test.ts
  app/angular/src/server/framework-preset-angular-cli.ts
  yarn.lock
Labels: app: angular, feature request

#15016 Presets: Expand `webpackInstance` to include entire namespace
  lib/builder-webpack4/src/index.ts
  lib/builder-webpack4/src/presets/custom-webpack-preset.ts
  lib/builder-webpack5/src/index.ts
  lib/builder-webpack5/src/presets/custom-webpack-preset.ts
  lib/core-server/src/core-presets.test.ts
  lib/core-server/src/utils/get-manager-builder.ts
  lib/manager-webpack4/src/index.ts
  lib/manager-webpack5/src/index.ts
Labels: BREAKING PRERELEASE, core, webpack5

#14993 Core: Ignore manager cache on config file changes and Storybook upgrade
  addons/docs/src/frameworks/react/jsxDecorator.tsx
  docs/toc.js
  lib/components/src/controls/Text.tsx
  lib/core-server/src/core-presets.test.ts
  lib/manager-webpack4/src/index.ts
  lib/manager-webpack4/src/utils/manager-cache.ts
  lib/manager-webpack5/src/index.ts
  lib/manager-webpack5/src/utils/manager-cache.ts
Labels: bug, cli, core

#14935 Addon-a11y: Highlight all elements correctly
  addons/a11y/src/a11yHighlight.ts
  addons/a11y/src/highlight.ts
Labels: addon: a11y, bug

#15035 Addon-docs: Fix source block tree shaking
  addons/docs/src/blocks/enhanceSource.ts
Labels: addon: docs, block: source, bug, performance issue

#15030 CLI: Add option to force-build iframe despite custom preview URL
  lib/core-common/src/types.ts
  lib/core-server/src/build-dev.ts
  lib/core-server/src/build-static.ts
  lib/core-server/src/cli/dev.ts
  lib/core-server/src/cli/prod.ts
Labels: cli, feature request

#15039 Components: Add ruler icon
  lib/components/src/icon/icons.tsx
Labels: components, maintenance, patch

#15047 Fix sb-link typo
  docs/contribute/code.md
Labels: documentation, patch

#15038 Core: Fix storySort `order` with whitespace in story paths
  addons/docs/src/blocks/Title.tsx
  lib/api/src/lib/stories.ts
  lib/client-api/src/storySort.test.ts
  lib/client-api/src/storySort.ts
Labels: bug, core

#15048 Remove storybook/lit from monorepo
  examples/lit-kitchen-sink/.eslintrc.js
  examples/lit-kitchen-sink/.storybook/main.js
  examples/lit-kitchen-sink/.storybook/preview.ts
  examples/lit-kitchen-sink/.yarnrc.yml
  examples/lit-kitchen-sink/README.md
  examples/lit-kitchen-sink/package.json
  examples/lit-kitchen-sink/src/components/SbButton.stories.ts
  examples/lit-kitchen-sink/src/components/SbButton.ts
  examples/lit-kitchen-sink/src/stories/addons/actions/addon-actions.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/background/addon-background.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/controls/addon-controls.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/docs/addon-docs.stories.mdx
  examples/lit-kitchen-sink/src/stories/addons/docs/addon-docs.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/docs/notes/notes.mdx
  examples/lit-kitchen-sink/src/stories/addons/toolbars/addon-toolbars.stories.ts
  examples/lit-kitchen-sink/src/stories/addons/viewport/addon-viewport.stories.ts
  examples/lit-kitchen-sink/src/typings.d.ts
  examples/lit-kitchen-sink/tsconfig.json
  examples/lit-kitchen-sink/yarn.lock
  package.json
  scripts/build-storybooks.js
Labels: app: lit, app: web-components, maintenance

#15050 Core: Fix prebuilt manager
  .eslintignore
  .gitignore
  examples/cra-ts-essentials/.storybook/main.js
  lib/core-server/package.json
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-prod
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-prod
  lib/core-server/src/build-static.ts
  lib/manager-webpack4/package.json
  lib/manager-webpack5/package.json
  scripts/build-manager.js
Labels: bug, core

#15056 Core: Add `globals` URL param and remove from sessionStorage
  lib/api/src/modules/url.ts
  lib/client-api/src/story_store.test.ts
  lib/client-api/src/story_store.ts
  lib/client-api/src/types.ts
  lib/core-client/src/preview/url.ts
  lib/core-common/src/utils/es6Transpiler.ts
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_manager-prod
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-dev
  lib/core-server/src/__snapshots__/cra-ts-essentials_preview-prod
Labels: args, compatibility with other tools, core, feature request

#15070 Addon-docs: Fix per-story `docs.source` parameter
  addons/docs/src/blocks/Canvas.tsx
  addons/docs/src/blocks/Source.tsx
  examples/official-storybook/preview.js
  examples/official-storybook/stories/addon-controls.stories.tsx
Labels: addon: docs, block: source, bug

#15073 CLI: Add new packages to versions.json
  lib/cli/src/versions.json
Labels: bug, cli

#15071 Addon-docs: Fix MDX source rendering
  addons/docs/src/frameworks/react/jsxDecorator.test.tsx
  addons/docs/src/frameworks/react/jsxDecorator.tsx
Labels: block: source, bug, mdx

#15058 Update contributor docs
  docs/contribute/code.md
  docs/contribute/documentation-updates.md
  docs/contribute/how-to-contribute.md
  docs/contribute/new-snippets.md
  docs/toc.js
Labels: documentation

#15074 Angular: Disable chromatic for story with dynamic time display
  examples/angular-cli/src/stories/basics/component-with-ng-on-destroy/component-with-on-destroy.stories.ts
Labels: app: angular, maintenance

#15082 docs: fix typo
  docs/addons/writing-presets.md
Labels: documentation, patch

#15083 Update markdown-to-jsx version to fix url links in comments
  lib/components/package.json
  yarn.lock
Labels: addon: docs, block: description, bug

#15089 Vue2: Check types when `typescript.check` is true
  app/vue/src/server/framework-preset-vue.ts
Labels: app: vue, bug, typescript

#15092 CLI: Add `SKIP_PREFLIGHT_CHECK` in CRA repro
  lib/cli/src/repro-generators/configs.ts
Labels: cli, maintenance

#15091 Loosen puppeteer dependencies to allow last major version
  addons/storyshots/storyshots-puppeteer/package.json
  examples/official-storybook/package.json
  package.json
  yarn.lock
Labels: addon: storyshots, dependencies

#13979 CLI: Add Server template generator
  lib/cli/src/frameworks/server/button.stories.json
  lib/cli/src/frameworks/server/header.stories.json
  lib/cli/src/frameworks/server/page.stories.json
  lib/cli/src/generators/SERVER/index.ts
  lib/cli/src/generators/SERVER/template-csf/.storybook/preview.js
  lib/cli/src/generators/configure.ts
  lib/cli/src/helpers.ts
  lib/cli/src/initiate.ts
  lib/cli/src/project_types.ts
Labels: app: server, cli, feature request

#15087 Chore: (Docs) Adds the how to create a reproduction docs
  docs/contribute/github-new-repository-reproduction-optimized.png
  docs/contribute/github-repository-steps-optimized.png
  docs/contribute/how-to-reproduce.md
  docs/contribute/storybook-reproduction-generator-location-optimized.png
  docs/contribute/storybook-reproduction-generator-template-optimized.png
  docs/contribute/storybook-reproductions-framework-selector-optimized.png
  docs/toc.js
Labels: documentation, patch

#15103 Docs: Explain build without watch mode
  docs/contribute/code.md
Labels: documentation, patch
