Repository storybookjs/storybook, pull requests merged in 2021-10, with the labels that each got.

#16194 CLI: Add webpack5 builder to CRA5 `sb init`
  lib/cli/src/generators/REACT_SCRIPTS/index.ts
  lib/cli/src/generators/baseGenerator.ts
Labels: maintenance, cli, patch

#16156 Correct minor grammar error
  docs/writing-stories/naming-components-and-hierarchy.md
Labels: documentation, patch

#16178 Web-components: Autogenerate action argTypes for events.
  addons/docs/src/frameworks/web-components/__testfixtures__/custom-elements.json
  addons/docs/src/frameworks/web-components/__testfixtures__/lit-element-demo-card/properties.snapshot
  addons/docs/src/frameworks/web-components/custom-elements.test.ts
  addons/docs/src/frameworks/web-components/custom-elements.ts
  examples/web-components-kitchen-sink/src/components/sb-header.stories.ts
  examples/web-components-kitchen-sink/src/components/sb-header.ts
Labels: feature request, app: web-components, block: argstable

#15492 Components: Fix Code component to render children as array
  examples/official-storybook/stories/addon-docs/markdown.stories.mdx
  lib/components/src/typography/DocumentFormatting.tsx
Labels: bug, addon: docs, block: other

#16149 Addon-docs/Angular: Fix inline story rendering
  addons/docs/src/blocks/useStory.ts
  addons/docs/src/frameworks/angular/prepareForInline.ts
  app/angular/src/client/preview/angular-beta/RendererFactory.ts
  cypress/generated/addon-docs.spec.ts
  lib/preview-web/src/PreviewWeb.tsx
Labels: bug, app: angular, addon: docs

#16225 Fix redundant import in docs snippet
  docs/snippets/react/button-story-default-export-with-component.ts.mdx
Labels: documentation, patch

#16224 Core: Support composing stories in both v6 and v7 modes
  lib/api/src/modules/refs.ts
  lib/api/src/modules/stories.ts
  lib/api/src/tests/refs.test.js
  lib/api/src/tests/stories.test.js
Labels: feature request, core, composition

#16226 Core: Support v2 compatibility mode in story index
  lib/core-server/package.json
  lib/core-server/src/build-static.ts
  lib/core-server/src/utils/StoryIndexGenerator.ts
  lib/core-server/src/utils/stories-json.ts
  yarn.lock
Labels: feature request, core, composition

#16169 [addon-a11y] Fix name of configuration key in README
  addons/a11y/README.md
Labels: documentation, addon: a11y

#16129 Addon-a11y: Fix type of context passed to `axe.run`
  addons/a11y/src/a11yRunner.ts
Labels: bug, addon: a11y, P2

#16165 CLI: Remove watch mode from the build-storybook documentation
  docs/api/cli-options.md
  lib/core-server/src/cli/prod.ts
Labels: maintenance, cli

#16019 Vue: support @values in args table
  addons/docs/src/frameworks/vue/extractArgTypes.ts
  examples/vue-cli/src/button/Button.stories.ts
  examples/vue-cli/src/button/Button.vue
Labels: feature request, app: vue, addon: docs, block: argstable

#16217 Angular: Fix getComponentInputsOutputs for multiple decorators
  app/angular/src/client/preview/angular-beta/utils/NgComponentAnalyzer.test.ts
  app/angular/src/client/preview/angular-beta/utils/NgComponentAnalyzer.ts
Labels: bug, app: angular

#16233 CLI: Remove story format parameter
  lib/cli/src/generate.ts
  lib/cli/src/generators/ANGULAR/index.ts
  lib/cli/src/generators/AURELIA/index.ts
  lib/cli/src/generators/REACT_NATIVE/index.ts
  lib/cli/src/generators/SERVER/index.ts
  lib/cli/src/generators/baseGenerator.ts
  lib/cli/src/helpers.test.ts
  lib/cli/src/helpers.ts
  lib/cli/src/initiate.ts
  lib/cli/src/project_types.ts
Labels: maintenance, cli

#16255 CLI: Don't upgrade preset-create-react-app if react-scripts < 5
  lib/cli/src/upgrade.test.ts
  lib/cli/src/upgrade.ts
Labels: bug, cli, patch

#16259 Official-storybook: Fix show source in no-args stories
  examples/official-storybook/main.ts
Labels: maintenance

#16241 CSF: Add error handling for CSF story index generation
  MIGRATION.md
  lib/codemod/src/transforms/csf-2-to-3.ts
  lib/core-server/src/utils/StoryIndexGenerator.ts
  lib/csf-tools/src/CsfFile.test.ts
  lib/csf-tools/src/CsfFile.ts
  lib/csf-tools/src/index.ts
Labels: maintenance, csf3

#16170 fixed broken links in readme
  README.md
Labels: documentation, patch

#16525 Add qs as a dev dependency of the api package
  lib/api/package.json
  yarn.lock
Labels: dependencies, core
