Repository storybookjs/storybook, pull requests merged in 2021-11, with the labels that each got.

#16522 Migrate from micromatch to picomatch
  docs/configure/overview.md
  lib/core-common/package.json
  lib/core-common/src/utils/glob-to-regexp.ts
  lib/core-common/src/utils/normalize-stories.ts
  lib/core-common/src/utils/to-importFn.ts
  yarn.lock
Labels: dependencies

#15755 UI: Do not display menu toggle when `singleStory=true`
  lib/ui/src/components/preview/toolbar.tsx
  lib/ui/src/components/preview/tools/menu.tsx
Labels: bug, ui

#16466 Fix v7.0 type exports and update MIGRATION.md
  MIGRATION.md
  app/angular/types-7-0.d.ts
  app/html/types-7-0.d.ts
  app/preact/types-7-0.d.ts
  app/react/types-7-0.d.ts
  app/vue/types-7-0.d.ts
  app/vue3/types-7-0.d.ts
  app/web-components/types-7-0.d.ts
Labels: bug, typescript

#16529 Core: Fix `decorateStory` exports from frameworks that have it
  app/angular/src/client/preview/config.ts
  app/angular/src/client/preview/decorateStory.ts
  app/svelte/src/client/preview/config.ts
  app/vue/src/client/preview/config.ts
  app/vue/src/client/preview/decorateStory.ts
  app/vue/src/client/preview/index.ts
  app/vue3/src/client/preview/config.ts
  app/vue3/src/client/preview/decorateStory.ts
  app/vue3/src/client/preview/index.ts
  lib/builder-webpack4/src/preview/virtualModuleEntry.template.js
  lib/builder-webpack5/src/preview/virtualModuleEntry.template.js
Labels: bug, core

#16513 Core: Improve webpack chunk names
  lib/core-common/src/utils/to-importFn.ts
Labels: feature request, core, webpack5

#16553 Addon-docs/HTML: Fix source snippetization for DOM elements
  addons/docs/src/frameworks/html/sourceDecorator.ts
Labels: bug, app: html, addon: docs

#16554 UI: Upgrade react-router
  lib/router/package.json
  yarn.lock
Labels: bug, ui

#16504 Core: Replace SSE with websockets
  lib/addons/src/index.ts
  lib/api/src/lib/StoryIndexClient.ts
  lib/api/src/modules/provider.ts
  lib/api/src/modules/stories.ts
  lib/api/src/tests/stories.test.js
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack4/src/preview/virtualModuleModernEntry.js.handlebars
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/preview/virtualModuleModernEntry.js.handlebars
  lib/channel-websocket/package.json
  lib/channel-websocket/src/index.ts
  lib/core-client/package.json
  lib/core-client/src/manager/provider.ts
  lib/core-common/src/types.ts
  lib/core-events/src/index.ts
  lib/core-server/package.json
  lib/core-server/src/build-dev.ts
  lib/core-server/src/core-presets.test.ts
  lib/core-server/src/dev-server.ts
  lib/core-server/src/utils/get-server-channel.ts
  lib/core-server/src/utils/server-address.ts
  lib/core-server/src/utils/stories-json.test.ts
  lib/core-server/src/utils/stories-json.ts
  lib/core-server/src/utils/use-events-as-sse.test.ts
  lib/core-server/src/utils/use-events-as-sse.ts
  lib/manager-webpack4/src/presets/manager-preset.ts
  lib/manager-webpack5/src/presets/manager-preset.ts
  lib/preview-web/src/PreviewWeb.integration.test.ts
  lib/preview-web/src/PreviewWeb.test.ts
  lib/preview-web/src/PreviewWeb.tsx
  lib/preview-web/src/StoryIndexClient.ts
  yarn.lock
Labels: bug, core, on-demand store

#16571 Fix preact install instructions
  docs/get-started/installation-problems/preact.mdx
Labels: documentation, patch

#16578 Interactions: Fix panel tab icon/count
  addons/interactions/src/Panel.tsx
  addons/interactions/src/components/StatusIcon/StatusIcon.tsx
Labels: bug, addon: interactions

#16537 Ensure we always initialize the story store, even when the index errors.
  lib/preview-web/src/PreviewWeb.test.ts
  lib/preview-web/src/PreviewWeb.tsx
  lib/preview-web/src/UrlStore.ts
  lib/store/src/StoryIndexStore.ts
  lib/store/src/StoryStore.ts
Labels: bug, core, on-demand store

#16560 Pin the version of `history` for `react-router-dom` compat
  lib/router/package.json
  yarn.lock
Labels: dependencies, ui

#16574 Core: Continue running `play` function on rerender (e.g. on args/globals change)
  addons/interactions/src/components/AccountForm/addon-interactions.stories.tsx
  lib/api/src/modules/globals.ts
  lib/instrumenter/src/instrumenter.test.ts
  lib/instrumenter/src/instrumenter.ts
  lib/preview-web/src/PreviewWeb.test.ts
  lib/preview-web/src/PreviewWeb.tsx
  package.json
  yarn.lock
Labels: bug, core, addon: interactions

#16581 UI: Fix links that have no onClick handler
  lib/components/src/typography/link/link.tsx
Labels: bug, ui, components

#16505 CLI: Add a check for source-dir in `sb extract`
  docs/workflows/storybook-composition.md
  examples/react-ts/package.json
  lib/cli/src/extract.ts
  yarn.lock
Labels: bug, documentation, cli, composition

#16582 TS: Fix type for Refs so they can be disabled
  lib/core-common/src/types.ts
Labels: bug, typescript

#15969 Core: Add 'staticDirs' config option
  MIGRATION.md
  docs/api/cli-options.md
  docs/configure/images-and-assets.md
  examples/angular-cli/.storybook/main.js
  examples/angular-cli/package.json
  examples/cra-kitchen-sink/.storybook/main.js
  examples/cra-kitchen-sink/package.json
  examples/cra-react15/.storybook/main.js
  examples/cra-react15/package.json
  examples/cra-ts-essentials/.storybook/main.js
  examples/cra-ts-essentials/package.json
  examples/cra-ts-kitchen-sink/.storybook/main.ts
  examples/cra-ts-kitchen-sink/package.json
  examples/ember-cli/.storybook/main.js
  examples/ember-cli/package.json
  examples/official-storybook/main.ts
  examples/official-storybook/statics/examples/example1/example1.txt
  examples/official-storybook/statics/examples/example2/example2.txt
  examples/official-storybook/statics/public/public.txt
  examples/preact-kitchen-sink/.storybook/main.js
  examples/preact-kitchen-sink/package.json
  examples/svelte-kitchen-sink/.storybook/main.js
  examples/svelte-kitchen-sink/package.json
  examples/vue-kitchen-sink/.storybook/main.js
  examples/vue-kitchen-sink/package.json
  lib/core-common/src/types.ts
  lib/core-common/src/utils/normalize-stories.ts
  lib/core-server/src/__snapshots__/vue-3-cli_manager-prod
  lib/core-server/src/build-static.ts
  lib/core-server/src/cli/prod.ts
  lib/core-server/src/cli/utils.ts
  lib/core-server/src/utils/copy-all-static-files.ts
  lib/core-server/src/utils/server-statics.ts
  yarn.lock
Labels: feature request, core, configuration

#16577 Docs: Add first Interactions docs
  docs/essentials/addon-interactions-installed-registered.png
  docs/essentials/interactions.md
  docs/snippets/common/storybook-interactions-addon-registration.js.mdx
  docs/snippets/common/storybook-interactions-play-function.js.mdx
Labels: documentation, patch, addon: interactions

#16596 Interactions: Fix README link
  addons/interactions/README.md
  addons/interactions/src/Panel.tsx
Labels: bug, addon: interactions

#16597 Chore: (Docs) Writing docs section updates
  docs/snippets/angular/badge-story.mdx.mdx
  docs/snippets/angular/button-story-default-docs-code.mdx.mdx
  docs/snippets/angular/button-story-default-docs-code.ts.mdx
  docs/snippets/angular/checkbox-story.mdx.mdx
  docs/snippets/angular/component-story-mdx-story-by-name.mdx.mdx
  docs/snippets/angular/mdx-canvas-multiple-stories.mdx.mdx
  docs/snippets/common/badge-story-custom-argtypes.js.mdx
  docs/snippets/common/badge-story-custom-argtypes.mdx.mdx
  docs/snippets/common/button-group-story-subcomponents.js.mdx
  docs/snippets/common/button-group-story-subcomponents.ts.mdx
  docs/snippets/common/button-story-argtypes-with-categories.js.mdx
  docs/snippets/common/button-story-argtypes-with-subcategories.js.mdx
  docs/snippets/common/button-story-disable-docspage-component.js.mdx
  docs/snippets/common/button-story-docs-code-type.js.mdx
  docs/snippets/common/button-story-docspage-with-custom-component.js.mdx
  docs/snippets/common/button-story-docspage-with-mdx.js.mdx
  docs/snippets/common/button-story-remix-docspage.js.mdx
  docs/snippets/common/button-story-remix-docspage.ts.mdx
  docs/snippets/common/checkbox-story-csf.js.mdx
  docs/snippets/common/component-story-csf-argstable-customization.js.mdx
  docs/snippets/common/component-story-csf-description.js.mdx
  docs/snippets/common/component-story-custom-source.js.mdx
  docs/snippets/common/component-story-mdx-argstable-block-for-component.mdx.mdx
  docs/snippets/common/component-story-mdx-argstable-block-for-story.mdx.mdx
  docs/snippets/common/component-story-mdx-dedent.mdx.mdx
  docs/snippets/common/component-story-mdx-description.mdx.mdx
  docs/snippets/common/custom-docs-page.js-component.js.mdx
  docs/snippets/common/custom-docs-page.ts-component.ts.mdx
  docs/snippets/common/my-component-story.js.mdx
  docs/snippets/common/storybook-preview-optout-inline.js.mdx
  docs/snippets/react/badge-story.mdx.mdx
  docs/snippets/react/button-story-default-docs-code.js.mdx
  docs/snippets/react/button-story-default-docs-code.mdx.mdx
  docs/snippets/react/button-story-default-docs-code.ts.mdx
  docs/snippets/react/checkbox-story.mdx.mdx
  docs/snippets/react/component-story-mdx-story-by-name.mdx.mdx
  docs/snippets/react/mdx-canvas-multiple-stories.mdx.mdx
  docs/snippets/svelte/badge-story.mdx.mdx
  docs/snippets/svelte/button-story-default-docs-code.js.mdx
  docs/snippets/svelte/button-story-default-docs-code.mdx.mdx
  docs/snippets/svelte/component-story-mdx-story-by-name.mdx.mdx
  docs/snippets/svelte/mdx-canvas-multiple-stories.mdx.mdx
  docs/snippets/vue/badge-story.mdx-2.mdx.mdx
  docs/snippets/vue/badge-story.mdx-3.mdx.mdx
  docs/snippets/vue/button-story-default-docs-code.3.js.mdx
  docs/snippets/vue/button-story-default-docs-code.mdx-3.mdx.mdx
  docs/snippets/vue/checkbox-story.mdx-2.mdx.mdx
  docs/snippets/vue/checkbox-story.mdx-3.mdx.mdx
  docs/snippets/vue/component-story-mdx-story-by-name.mdx-2.mdx.mdx
  docs/snippets/vue/component-story-mdx-story-by-name.mdx-3.mdx.mdx
  docs/snippets/vue/mdx-canvas-multiple-stories.mdx-2.mdx.mdx
  docs/snippets/vue/mdx-canvas-multiple-stories.mdx-3.mdx.mdx
  docs/writing-docs/docs-page.md
Labels: documentation

#16595 Chore: (Docs) Minor tweaks to the get started section for 6.4
  docs/get-started/example-button-hot-module-reload-optimized.mp4
  docs/get-started/setup.md
  docs/snippets/angular/button-story.mdx.mdx
  docs/snippets/angular/your-component.mdx.mdx
  docs/snippets/angular/your-component.ts.mdx
  docs/snippets/react/button-story.mdx.mdx
  docs/snippets/react/your-component.js.mdx
  docs/snippets/react/your-component.mdx.mdx
  docs/snippets/react/your-component.ts.mdx
  docs/snippets/svelte/button-story.mdx.mdx
  docs/snippets/svelte/your-component.js.mdx
  docs/snippets/svelte/your-component.mdx.mdx
  docs/snippets/vue/button-story.mdx.mdx
  docs/snippets/vue/your-component.2.js.mdx
  docs/snippets/vue/your-component.3.js.mdx
  docs/snippets/vue/your-component.mdx-2.mdx.mdx
  docs/snippets/vue/your-component.mdx-3.mdx.mdx
Labels: documentation

#16607 CSFFile: Handle re-exported stories
  lib/csf-tools/src/CsfFile.test.ts
  lib/csf-tools/src/CsfFile.ts
Labels: feature request, core, csf

#16608 Update behaviour around missing stories to be more clear
  lib/preview-web/src/PreviewWeb.test.ts
  lib/preview-web/src/PreviewWeb.tsx
Labels: bug, core

#16566 Core: Ensure we set `parameters.filePath` in v7 mode
  lib/client-api/src/StoryStoreFacade.ts
  lib/preview-web/src/PreviewWeb.test.ts
  lib/store/src/StoryStore.test.ts
  lib/store/src/StoryStore.ts
  lib/store/src/processCSFFile.test.ts
  lib/store/src/processCSFFile.ts
Labels: bug, core

#16590 Core: Handle missing websocket in production build
  lib/addons/src/index.ts
  lib/api/src/modules/stories.ts
  lib/builder-webpack4/src/preview/virtualModuleModernEntry.js.handlebars
  lib/builder-webpack5/src/preview/virtualModuleModernEntry.js.handlebars
  lib/core-client/src/manager/provider.ts
  lib/preview-web/src/PreviewWeb.tsx
Labels: bug, core, build-storybook

#16615 Addon-docs/Source: Fix disabling show code with null
  addons/docs/src/blocks/Source.tsx
  examples/official-storybook/stories/addon-docs/source.stories.tsx
Labels: bug, addon: docs, block: source

#16606 StoryIndex: Skip files with no default export
  lib/client-api/src/StoryStoreFacade.ts
  lib/core-server/src/utils/StoryIndexGenerator.test.ts
  lib/core-server/src/utils/StoryIndexGenerator.ts
  lib/core-server/src/utils/__mockdata__/src/NoMeta.stories.ts
  lib/csf-tools/src/CsfFile.ts
Labels: bug, core, csf

#16622 CLI: Fix upgrade error state
  lib/cli/src/upgrade.ts
Labels: bug, cli

#16618 Fix rename of "sb fix" into "sb automigrate"
  MIGRATION.md
  lib/cli/src/automigrate/index.ts
Labels: documentation

#16508 Core: Fix args values updated from url to control
  lib/preview-web/src/PreviewWeb.test.ts
  lib/preview-web/src/PreviewWeb.tsx
Labels: bug, core, args, addon: controls

#16632 Core: Change CSF loading problems from warning to error
  lib/core-client/src/preview/executeLoadable.ts
Labels: bug, core

#16610 Docs: Fix Webpack configs in the @storybook/source-loader usages
  lib/source-loader/README.md
Labels: babel / webpack, documentation, source-loader

#16626 Core: Fix sorting by `__namedExportsOrder`
  examples/react-ts/src/button.stories.tsx
  lib/client-api/src/StoryStoreFacade.ts
  lib/csf-tools/src/CsfFile.test.ts
  lib/csf-tools/src/CsfFile.ts
  lib/store/src/processCSFFile.test.ts
  lib/store/src/processCSFFile.ts
Labels: bug, core, on-demand store

#16333 Args: Add ability to specific argType "targets"
  app/react/src/client/preview/render.tsx
  examples/official-storybook/stories/core/sideloaded.stories.tsx
  lib/core-common/src/types.ts
  lib/store/src/args.test.ts
  lib/store/src/args.ts
  lib/store/src/prepareStory.test.ts
  lib/store/src/prepareStory.ts
Labels: feature request, core, args

#16613 Core: Add feature flag to stop storybook from aliasing emotion
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/core-common/src/types.ts
  lib/core-server/src/presets/common-preset.ts
Labels: feature request, theming

#16645 Build: Add node-gyp for M1 macs
  package.json
  yarn.lock
Labels: maintenance

#16636 Fixes a small typo in storybook/server README
  app/server/README.md
Labels: documentation

#16649 Core: Fix `staticDirs` and `-s` conflict check
  lib/core-server/src/utils/server-statics.ts
Labels: bug, core

#16568 Storyshots: Fix autotitle
  .babelrc.js
  MIGRATION.md
  addons/storyshots/storyshots-core/package.json
  addons/storyshots/storyshots-core/src/frameworks/configure.ts
  addons/storyshots/storyshots-core/src/typings.d.ts
  examples/angular-cli/jest-config/setup.ts
  examples/angular-cli/package.json
  examples/react-ts/.storybook/main.ts
  examples/react-ts/src/__snapshots__/storyshots.test.ts.snap
  examples/react-ts/src/storyshots.test.ts
  jest.config.js
  lib/client-api/src/ClientApi.ts
  lib/client-api/src/StoryStoreFacade.ts
  lib/preview-web/src/PreviewWeb.tsx
  lib/store/src/StoryStore.ts
  package.json
  scripts/jest.init.ts
  yarn.lock
Labels: bug, addon: storyshots, csf3

#16665 Core: Move the websocket channel to a specific path
  lib/core-server/src/core-presets.test.ts
  lib/core-server/src/utils/get-server-channel.ts
  lib/core-server/src/utils/server-address.ts
Labels: bug, compatibility with other tools, core

#16550 CLI: Add eslint-plugin-storybook to automigrate
  lib/cli/src/automigrate/fixes/eslint-plugin.test.ts
  lib/cli/src/automigrate/fixes/eslint-plugin.ts
  lib/cli/src/automigrate/fixes/index.ts
  lib/cli/src/automigrate/helpers/getEslintInfo.ts
Labels: feature request, cli

#16434 Addon-interactions: add waitForElementToBeRemoved example
  addons/interactions/src/components/AccountForm/addon-interactions.stories.tsx
Labels: maintenance, addon: interactions

#16580 Add handle-release-branches-workflow
  .circleci/config.yml
  .github/workflows/handle-release-branches.yml
  .teamcity/settings.kts
  scripts/build-frontpage.js
Labels: maintenance

#16601 Interactions: Use Icon button and add disabled state to IconButton
  addons/interactions/src/components/Subnav/Subnav.tsx
  lib/components/src/bar/button.stories.tsx
  lib/components/src/bar/button.tsx
Labels: maintenance, components, addon: interactions

#16653 Core: Ensure manager caching respects globals
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/core-common/src/templates/index.ejs
  lib/manager-webpack4/src/presets/manager-preset.ts
  lib/manager-webpack5/src/presets/manager-preset.ts
Labels: bug, core

#16662 Build: Add eslint-plugin-storybook to the repo
  .eslintrc.js
  addons/storyshots/storyshots-core/stories/__snapshots__/storyshot.enzyme.test.js.snap
  addons/storyshots/storyshots-core/stories/__snapshots__/storyshot.shallow.test.js.snap
  addons/storyshots/storyshots-core/stories/__snapshots__/storyshot.shallowWithOptions.test.js.snap
  addons/storyshots/storyshots-core/stories/__snapshots__/storyshot.snapshotWithOptionsFunction.test.js.snap
  addons/storyshots/storyshots-core/stories/required_with_context/Async.stories.js
  addons/storyshots/storyshots-core/stories/required_with_context/Button.stories.js
  addons/storyshots/storyshots-core/stories/required_with_context/Welcome.stories.js
  examples/angular-cli/src/stories/addons/interactions/addon-interactions.stories.ts
  examples/angular-cli/src/stories/basics/component-with-pipe/custom-pipes.stories.ts
  examples/angular-cli/src/stories/core/parameters/bootstrap-options.stories.ts
  examples/angular-cli/src/stories/preview/csf3/input-with-play.stories.ts
  examples/angular-cli/src/stories/welcome-angular.stories.ts
  examples/angular-cli/src/stories/welcome-storybook.stories.ts
  examples/cra-kitchen-sink/src/stories/cra-svgr.stories.js
  examples/cra-ts-essentials/src/stories/0-Welcome.stories.tsx
  examples/ember-cli/stories/polyfill-example.stories.js
  examples/official-storybook/stories/addon-a11y/base-button.stories.js
  examples/official-storybook/stories/addon-a11y/form.stories.js
  examples/official-storybook/stories/addon-actions.stories.js
  examples/official-storybook/stories/addon-docs/addon-docs-blocks.stories.js
  examples/official-storybook/stories/addon-docs/csf-with-mdx-docs.stories.js
  examples/official-storybook/stories/addon-docs/dynamic-title.stories.js
  examples/official-storybook/stories/addon-docs/memo.stories.js
  examples/official-storybook/stories/addon-docs/transform-source.stories.js
  examples/official-storybook/stories/addon-storyshots.stories.js
  examples/official-storybook/stories/core/errors.stories.js
  examples/official-storybook/stories/core/prefix.stories.js
  examples/official-storybook/stories/demo/setup.stories.tsx
  examples/official-storybook/stories/other-dirname.stories.js
  examples/react-ts/src/AccountForm.stories.tsx
  examples/react-ts/src/button.stories.tsx
  examples/vue-kitchen-sink/src/stories/components/app.stories.js
  examples/vue-kitchen-sink/src/stories/components/welcome.stories.js
  examples/vue-kitchen-sink/src/stories/core-errors.stories.js
  examples/web-components-kitchen-sink/src/stories/misc/script/script.stories.ts
  lib/components/src/ActionBar/ActionBar.stories.tsx
  lib/components/src/ScrollArea/ScrollArea.stories.tsx
  lib/components/src/Zoom/Zoom.stories.tsx
  lib/components/src/bar/button.stories.tsx
  lib/components/src/blocks/ColorPalette.stories.tsx
  lib/components/src/blocks/EmptyBlock.stories.tsx
  lib/components/src/blocks/IconGallery.stories.tsx
  lib/components/src/blocks/Typeset.stories.tsx
  lib/components/src/brand/StorybookLogo.stories.tsx
  lib/components/src/placeholder/placeholder.stories.tsx
  lib/components/src/typography/DocumentWrapper.stories.tsx
  lib/core-server/src/__snapshots__/vue-3-cli_manager-prod
  lib/core-server/src/utils/__mockdata__/src/NoMeta.stories.ts
  lib/ui/src/components/layout/mobile.stories.tsx
  lib/ui/src/components/notifications/NotificationItem.stories.js
  lib/ui/src/components/notifications/NotificationList.stories.js
  lib/ui/src/components/preview/iframe.stories.tsx
  lib/ui/src/components/preview/preview.stories.tsx
  lib/ui/src/components/sidebar/Heading.stories.tsx
  lib/ui/src/components/sidebar/Tree.stories.tsx
  lib/ui/src/settings/SettingsFooter.stories.tsx
  lib/ui/src/settings/shortcuts.stories.tsx
  package.json
  yarn.lock
Labels: maintenance

#16535 Build: Fix CI checks
  .circleci/config.yml
  app/preact/preset.js
  cypress/generated/addon-docs.spec.ts
  lib/cli/src/repro-generators/configs.ts
Labels: maintenance, run e2e extended test suite

#16514 Addon-actions: Omit sending window object thru the channel
  addons/actions/src/preview/action.ts
Labels: bug, addon: actions

#16666 UI: Docs loading state (WIP)
  addons/docs/src/blocks/ArgsTable.tsx
  addons/docs/src/blocks/Canvas.tsx
  addons/docs/src/blocks/Story.tsx
  addons/docs/src/blocks/useStory.ts
  lib/components/src/bar/button.stories.tsx
  lib/components/src/bar/button.tsx
  lib/components/src/blocks/ArgsTable/ArgRow.stories.tsx
  lib/components/src/blocks/ArgsTable/ArgRow.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.stories.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.tsx
  lib/components/src/blocks/DocsPage.stories.tsx
  lib/components/src/blocks/Preview.stories.tsx
  lib/components/src/blocks/Preview.tsx
  lib/components/src/blocks/Source.stories.tsx
  lib/components/src/blocks/Source.tsx
  lib/components/src/blocks/Story.stories.tsx
  lib/components/src/blocks/Story.tsx
  lib/core-common/src/templates/base-preview-body.html
  lib/core-common/src/templates/base-preview-head.html
  lib/preview-web/src/PreviewWeb.test.ts
  lib/preview-web/src/PreviewWeb.tsx
  lib/preview-web/src/WebView.ts
  lib/ui/src/components/preview/iframe.stories.tsx
Labels: feature request, ui, addon: docs

#16671 CLI: Run automigrate at the end of `sb init`
  lib/cli/src/automigrate/fixes/eslint-plugin.ts
  lib/cli/src/automigrate/index.ts
  lib/cli/src/initiate.ts
Labels: feature request, cli

#16669 UI: Remove `nopreview` and show redbox for any story error
  lib/preview-web/src/PreviewWeb.tsx
  lib/preview-web/src/WebView.ts
  lib/store/src/StoryIndexStore.test.ts
  lib/store/src/StoryIndexStore.ts
Labels: feature request, core

#16644 Angular: Add getWebpackConfig for angular 12.2.x & 13.x.x
  app/angular/package.json
  app/angular/src/builders/build-storybook/index.spec.ts
  app/angular/src/builders/build-storybook/index.ts
  app/angular/src/builders/build-storybook/schema.json
  app/angular/src/builders/start-storybook/index.spec.ts
  app/angular/src/builders/start-storybook/index.ts
  app/angular/src/builders/start-storybook/schema.json
  app/angular/src/server/angular-cli-webpack-12.2.x.d.ts
  app/angular/src/server/angular-cli-webpack-12.2.x.js
  app/angular/src/server/angular-cli-webpack-13.x.x.d.ts
  app/angular/src/server/angular-cli-webpack-13.x.x.js
  app/angular/src/server/angular-cli-webpack-older.ts
  app/angular/src/server/framework-preset-angular-cli.test.ts
  app/angular/src/server/framework-preset-angular-cli.ts
  app/angular/src/server/framework-preset-angular-ivy.ts
  app/angular/src/server/options.ts
  app/angular/src/typings.d.ts
  app/angular/standalone.d.ts
  app/angular/tsconfig.json
  yarn.lock
Labels: feature request, app: angular

#16683 Build: GH Action for exporting to linear by GH label
  .github/workflows/linear-export.yml
  package.json
  scripts/linear-export.ts
  scripts/utils/githubClient.ts
  yarn.lock
Labels: maintenance

#16684 Core: Bust the prebuilt manager cache if user has set `features`
  lib/manager-webpack4/src/utils/prebuilt-manager.ts
  lib/manager-webpack5/src/utils/prebuilt-manager.ts
Labels: bug, core

#16687 CLI: Fix automigrate command for eslint with extends as string
  lib/cli/src/automigrate/fixes/eslint-plugin.ts
Labels: bug, cli, linear

#16219 Core: Add option to use webpack filesystem cache
  lib/builder-webpack5/src/preview/base-webpack.config.ts
  lib/core-common/src/types.ts
  lib/core-server/src/build-static.ts
  lib/core-server/src/utils/get-manager-builder.ts
  lib/core-server/src/utils/get-preview-builder.ts
Labels: feature request, performance issue, webpack5

#16696 Angular: Fix detection of @angular/cli package version
  app/angular/package.json
  app/angular/src/server/framework-preset-angular-cli.ts
  yarn.lock
Labels: bug, app: angular

#16698 Angular: update addon interactions example
  examples/angular-cli/src/stories/addons/interactions/addon-interactions.stories.ts
  examples/angular-cli/src/stories/addons/interactions/counter/counter.component.ts
  examples/angular-cli/src/stories/addons/interactions/hero-form/hero-form.component.css
  examples/angular-cli/src/stories/addons/interactions/hero-form/hero-form.component.html
  examples/angular-cli/src/stories/addons/interactions/hero-form/hero-form.component.ts
Labels: maintenance, app: angular

#16524 Addon-docs/Angular: fix extractEnumValues undefined error
  addons/docs/src/frameworks/angular/compodoc.ts
Labels: bug, app: angular, addon: docs

#16719 documentation: Add Button import
  addons/docs/docs/recipes.md
Labels: documentation, patch

#16663 Upgrade from node-sass to sass in examples/angular-cli
  examples/angular-cli/package.json
  yarn.lock
Labels: dependencies, app: angular

#16724 Core: Fix build-storybook sort bug in v6-mode
  lib/core-server/src/build-static.ts
  lib/core-server/src/utils/StoryIndexGenerator.test.ts
  lib/core-server/src/utils/StoryIndexGenerator.ts
  lib/core-server/src/utils/stories-json.ts
  lib/store/src/sortStories.ts
Labels: bug, core, on-demand store

#16725 Core: Fix `process.env` stringification
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  lib/core-common/src/utils/envs.ts
Labels: bug, babel / webpack, core

#16731 Core: Restore `stringifyEnvs` utility used by Vite builder
  lib/core-common/src/utils/envs.ts
Labels: bug, core

#16738 Chore: (Docs) Minor grammar fix to the import stories page
  docs/writing-tests/importing-stories-in-tests.md
Labels: documentation

#16742 Upgrade react-router to 6.0.0
  lib/router/package.json
  yarn.lock
Labels: dependencies, ui

#16709 Addon-docs: Improved loading state
  addons/docs/src/blocks/ArgsTable.tsx
  lib/cli/src/automigrate/fixes/eslint-plugin.ts
  lib/components/src/bar/button.tsx
  lib/components/src/blocks/ArgsTable/ArgRow.stories.tsx
  lib/components/src/blocks/ArgsTable/ArgRow.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.stories.tsx
  lib/components/src/blocks/ArgsTable/ArgsTable.tsx
  lib/components/src/blocks/DocsPage.stories.tsx
  lib/components/src/blocks/Preview.tsx
  lib/components/src/blocks/Toolbar.tsx
  lib/core-common/src/templates/base-preview-body.html
  lib/ui/src/components/preview/iframe.stories.tsx
Labels: bug, ui, addon: docs

#16746 CSF: Fix component id handling
  lib/csf-tools/src/CsfFile.test.ts
  lib/csf-tools/src/CsfFile.ts
Labels: bug, core, csf

#16670 WebComponents: Update Lit peerDep to use Lit 2 stable version
  addons/docs/package.json
  addons/docs/src/frameworks/web-components/sourceDecorator.ts
  app/web-components/package.json
  examples/web-components-kitchen-sink/custom-elements.json
  examples/web-components-kitchen-sink/package.json
  examples/web-components-kitchen-sink/src/stories/addons/docs/addon-docs.stories.ts
  examples/web-components-kitchen-sink/src/stories/addons/docs/notes/notes.mdx
  examples/web-components-kitchen-sink/yarn.lock
  yarn.lock
Labels: maintenance, app: web-components

#16723 Core: Add `./` to start of hidden file & folder paths
  lib/core-common/src/utils/__tests__/normalize-stories.test.ts
  lib/core-common/src/utils/__tests__/paths.test.ts
  lib/core-common/src/utils/__tests__/to-importFn.test.ts
  lib/core-common/src/utils/normalize-stories.ts
  lib/core-common/src/utils/paths.ts
  lib/core-server/src/utils/StoryIndexGenerator.ts
  lib/store/src/autoTitle.test.ts
Labels: bug, core

#16758 Update peer dependencies for angular 13 support
  app/angular/package.json
  yarn.lock
Labels: dependencies, app: angular

#16765 CLI: Use correct link for static dir migration docs
  lib/core-server/src/cli/utils.ts
Labels: documentation

#16551 Add missing peer dependencies
  lib/store/package.json
  yarn.lock
Labels: dependencies, linear

#16764 Core: Fix channel options so that they are merged in correct order
  lib/channel-postmessage/src/index.ts
Labels: bug, linear

#16465 Interactions: Fix duplicate rows in waitFor
  addons/interactions/package.json
  addons/interactions/src/Panel.stories.tsx
  addons/interactions/src/Panel.tsx
  addons/interactions/src/components/AccountForm/addon-interactions.stories.tsx
  addons/interactions/src/components/Interaction/Interaction.stories.tsx
  addons/interactions/src/components/Interaction/Interaction.tsx
  addons/interactions/src/components/StatusBadge/StatusBadge.tsx
  addons/interactions/src/components/StatusIcon/StatusIcon.tsx
  addons/interactions/src/components/Subnav/Subnav.stories.tsx
  addons/interactions/src/components/Subnav/Subnav.tsx
  addons/interactions/src/mocks/index.ts
  addons/interactions/tsconfig.json
  examples/angular-cli/package.json
  examples/angular-cli/src/stories/__snapshots__/welcome-storybook.stories.storyshot
  examples/angular-cli/src/stories/addons/actions/__snapshots__/addon-actions.stories.storyshot
  examples/angular-cli/src/stories/addons/backgrounds/__snapshots__/addon-background.stories.storyshot
  examples/angular-cli/src/stories/addons/docs/__snapshots__/addon-docs.stories.storyshot
  examples/angular-cli/src/stories/addons/docs/__snapshots__/simple.stories.storyshot
  examples/angular-cli/src/stories/addons/docs/iframe/__snapshots__/iframe.stories.storyshot
  examples/angular-cli/src/stories/addons/interactions/__snapshots__/addon-interactions.stories.storyshot
  examples/angular-cli/src/stories/addons/links/__snapshots__/addon-links.stories.storyshot
  examples/angular-cli/src/stories/core/parameters/__snapshots__/all-parameters.stories.storyshot
  examples/angular-cli/src/stories/core/parameters/__snapshots__/layout.parameters.stories.storyshot
  examples/angular-cli/src/stories/core/styles/__snapshots__/story-styles.stories.storyshot
  examples/angular-cli/src/stories/legacy/__snapshots__/component-in-story.stories.storyshot
  examples/angular-cli/src/stories/legacy/__snapshots__/storiesOf.stories.storyshot
  examples/angular-cli/src/stories/others/issues/__snapshots__/12009-unknown-component.stories.storyshot
  examples/official-storybook/package.json
  examples/svelte-kitchen-sink/package.json
  examples/svelte-kitchen-sink/src/stories/addon-interactions.stories_.js
  examples/vue-3-cli/package.json
  examples/vue-kitchen-sink/package.json
  examples/vue-kitchen-sink/src/stories/addon-interactions.stories_.js
  examples/web-components-kitchen-sink/package.json
  lib/instrumenter/src/instrumenter.test.ts
  lib/instrumenter/src/instrumenter.ts
  lib/instrumenter/src/types.ts
  package.json
  yarn.lock
Labels: bug, addon: interactions

#16780 Misc: Cleanup typescript webpack types
  app/angular/src/server/utils/filter-out-styling-rules.ts
  app/react/src/typings.d.ts
  app/vue/src/typings.d.ts
  app/vue3/src/typings.d.ts
  lib/builder-webpack4/src/preview/iframe-webpack.config.ts
  lib/core-common/src/utils/es6Transpiler.ts
  lib/manager-webpack4/src/presets/babel-loader-manager.ts
  lib/manager-webpack5/src/presets/babel-loader-manager.ts
Labels: maintenance, typescript

#16784 Interactions: Unlock controls when play function is finished
  lib/instrumenter/src/instrumenter.ts
Labels: bug, addon: interactions

#16675 Angular: Add styles and stylePreprocessorOptions to angular builder
  app/angular/src/builders/build-storybook/index.spec.ts
  app/angular/src/builders/build-storybook/index.ts
  app/angular/src/builders/build-storybook/schema.json
  app/angular/src/builders/start-storybook/index.spec.ts
  app/angular/src/builders/start-storybook/index.ts
  app/angular/src/builders/start-storybook/schema.json
  app/angular/src/server/framework-preset-angular-cli.ts
  app/angular/src/server/options.ts
  app/angular/standalone.d.ts
Labels: feature request, app: angular, linear

#16790 Core: Ensure that `context.args` is always set
  lib/store/src/prepareStory.test.ts
  lib/store/src/prepareStory.ts
Labels: bug, core

#16792 Addon-docs: Wait for the story component to render before emitting
  addons/docs/src/blocks/Story.tsx
Labels: bug, app: react, addon: docs

#16783 Core: Don't log a console error when the story is missing
  lib/preview-web/src/PreviewWeb.tsx
Labels: bug, addon: storyshots

#16788 Core: Sort the results of `globby` when constructing Story Index
  lib/core-server/src/utils/StoryIndexGenerator.test.ts
  lib/core-server/src/utils/StoryIndexGenerator.ts
  lib/core-server/src/utils/__mockdata__/src/first-nested/deeply/F.stories.js
  lib/core-server/src/utils/__mockdata__/src/second-nested/G.stories.ts
  lib/core-server/src/utils/stories-json.test.ts
Labels: bug, core

#16791 Core: Allow args/argTypes/component to be set via parameters for storiesOf back-compat
  lib/client-api/src/ClientApi.ts
  lib/core-client/src/preview/start.test.ts
Labels: bug, core

#16795 Core: Fix breaking change in process/browser
  lib/builder-webpack5/src/preview/iframe-webpack.config.ts
Labels: bug, babel / webpack, core

#16801 Fix `handle-release-branches` workflow
  .github/workflows/handle-release-branches.yml
Labels: maintenance

#16800 fix: correct story name override hint
  docs/writing-stories/naming-components-and-hierarchy.md
Labels: documentation, patch

#16804 Chore: (Docs) Polishes and links the Interactions documentation
  docs/essentials/interactions.md
  docs/toc.js
Labels: documentation, patch

#16809 Fix code snippet missing a chevron.
  docs/snippets/react/checkbox-story-starter-example.mdx.mdx
Labels: documentation, patch

#16810 Update CHANGELOG.md typo
  CHANGELOG.md
Labels: documentation, patch

#16770 Add require line for TsconfigPathsPlugin
  docs/snippets/common/storybook-main-ts-module-resolution.js.mdx
Labels: documentation, patch

#16823 Core: Fix packageName check in build-dev
  lib/core-server/src/build-dev.ts
Labels: bug, cli, core

#16829 CSFFile: Fix function exports
  lib/codemod/src/transforms/csf-2-to-3.ts
  lib/csf-tools/src/CsfFile.test.ts
  lib/csf-tools/src/CsfFile.ts
Labels: bug, patch, on-demand store

#16831 Bump react-docgen-typescript-plugin
  app/react/package.json
  lib/core-common/package.json
  yarn.lock
Labels: dependencies, app: react
