Repository storybookjs/storybook, pull requests merged in 2022-12, with the labels that each got.

#20027 Improve framework version specific story handling
  scripts/tasks/sandbox-parts.ts
Labels: maintenance

#20042 Svelte: Use JSDocs in JS CLI templates and put manual enum arg type back as it is not inferred
  code/renderers/svelte/template/cli/js/Button.stories.js
  code/renderers/svelte/template/cli/js/Button.svelte
  code/renderers/svelte/template/cli/ts-legacy/Button.stories.ts
  code/renderers/svelte/template/cli/ts/Button.stories.ts
Labels: bug, app: svelte

#20047 Build: Update jest pretty-format to 29
  code/addons/storyshots/storyshots-core/package.json
  code/yarn.lock
Labels: dependencies

#20043 Fix "__webpack_require__.nmd is not a function issue" in Angular 15
  app/angular/src/server/angular-cli-webpack.d.ts
  app/angular/src/server/angular-cli-webpack.js
  app/angular/src/server/framework-preset-angular-cli.ts
  app/angular/src/server/plugins/storybook-normalize-angular-entry-plugin.js
  lib/channels/src/index.ts
  lib/router/src/utils.ts
Labels: bug

#19935 Don't set `argType.defaultValue` in angular/compodoc
  code/frameworks/angular/src/client/docs/compodoc.ts
Labels: bug, app: angular, addon: docs

#20038 Core: added .entries property to error thrown when duplicate stories are present
  code/lib/core-server/src/utils/StoryIndexGenerator.test.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
Labels: maintenance, core

#19959 Return to filtering toolbars in docs mode, but don't filter menu
  code/ui/blocks/src/components/Toolbar.tsx
  code/ui/manager/src/components/preview/toolbar.tsx
  code/ui/manager/src/components/preview/tools/menu.tsx
Labels: bug, ui, addon: docs

#19803 Chore: (Addon Interactions) Updates link to the correct location
  addons/interactions/src/Panel.tsx
Labels: documentation, addon: interactions

#19958 Docs: using targetted styles, not components to style MDX
  .vscode/settings.json
  MIGRATION.md
  code/.prettierignore
  code/addons/docs/src/DocsRenderer.tsx
  code/ui/.storybook/main.ts
  code/ui/.storybook/preview.tsx
  code/ui/blocks/src/blocks/Anchor.tsx
  code/ui/blocks/src/blocks/Story.tsx
  code/ui/blocks/src/blocks/Unstyled.mdx
  code/ui/blocks/src/blocks/Unstyled.tsx
  code/ui/blocks/src/components/Description.stories.tsx
  code/ui/blocks/src/components/Description.tsx
  code/ui/blocks/src/components/DocsPage.stories.tsx
  code/ui/blocks/src/components/DocsPage.tsx
  code/ui/components/src/typography/elements/Code.tsx
  prettier.config.js
Labels: bug, addon: docs

#20067 Build: improve inDevelopment mode for yarn task
  code/lib/cli/src/generate.ts
  code/lib/cli/src/repro-templates.ts
  docs/contribute/code.md
  scripts/get-template.ts
  scripts/next-repro-generators/generate-repros.ts
  scripts/task.ts
  scripts/tasks/sandbox-parts.ts
  scripts/tasks/sandbox.ts
  scripts/utils/cli-step.ts
Labels: build

#20069 Build: replace image placeholder url in example stories for nextjs
  code/frameworks/nextjs/template/stories/Image.stories.jsx
  code/frameworks/nextjs/template/stories_12-js/ImageFuture.stories.jsx
  code/frameworks/nextjs/template/stories_default-js/ImageLegacy.stories.jsx
Labels: build

#20072 Adds test coverage to the docs
  docs/snippets/common/storybook-coverage-addon-config-options.js.mdx
  docs/snippets/common/storybook-coverage-addon-config-options.ts.mdx
  docs/snippets/common/storybook-coverage-addon-install.npm.js.mdx
  docs/snippets/common/storybook-coverage-addon-install.yarn.js.mdx
  docs/snippets/common/storybook-coverage-addon-registration.js.mdx
  docs/snippets/common/storybook-coverage-addon-registration.ts.mdx
  docs/snippets/common/storybook-coverage-report-lcov.js.mdx
  docs/snippets/common/storybook-coverage-report-vue.js.mdx
  docs/snippets/common/storybook-coverage-report-vue.json.mdx
  docs/snippets/common/storybook-test-runner-coverage.npm.js.mdx
  docs/snippets/common/storybook-test-runner-coverage.yarn.js.mdx
  docs/toc.js
  docs/writing-tests/accessibility-testing.md
  docs/writing-tests/importing-stories-in-tests.md
  docs/writing-tests/interaction-testing.md
  docs/writing-tests/introduction.md
  docs/writing-tests/snapshot-testing.md
  docs/writing-tests/test-coverage-storybook.gif
  docs/writing-tests/test-coverage.md
  docs/writing-tests/test-runner-coverage-result.png
  docs/writing-tests/test-runner.md
  docs/writing-tests/visual-testing.md
Labels: documentation

#20071 Add coverage video to docs
  docs/writing-tests/test-coverage.md
Labels: documentation, patch

#20057 Vite: Reinstate (deprecated) `StorybookViteConfig`
  code/lib/builder-vite/src/index.ts
Labels: bug, vite

#20063 Fix repro templates script
  scripts/next-repro-generators/generate-repros.ts
Labels: maintenance

#20064 CLI: Add upgrade telemetry details
  code/lib/cli/src/automigrate/index.ts
  code/lib/cli/src/generate.ts
  code/lib/cli/src/upgrade.ts
  code/lib/telemetry/src/index.ts
  code/lib/telemetry/src/package-json.ts
Labels: maintenance, cli

#20074 Add a new `version-update` check telemetry event
  code/lib/core-server/src/build-dev.ts
  code/lib/telemetry/src/types.ts
Labels: maintenance, telemetry

#20039 SvelteKit: Create framework
  .circleci/config.yml
  MIGRATION.md
  code/frameworks/svelte-vite/src/preset.ts
  code/frameworks/svelte-vite/src/utils.ts
  code/frameworks/sveltekit/README.md
  code/frameworks/sveltekit/jest.config.js
  code/frameworks/sveltekit/package.json
  code/frameworks/sveltekit/preset.js
  code/frameworks/sveltekit/src/index.ts
  code/frameworks/sveltekit/src/preset.ts
  code/frameworks/sveltekit/template/cli/Button.stories.js
  code/frameworks/sveltekit/template/cli/Button.svelte
  code/frameworks/sveltekit/tsconfig.json
  code/lib/cli/src/generators/SVELTEKIT/index.ts
  code/lib/cli/src/generators/baseGenerator.ts
  code/lib/cli/src/initiate.ts
  code/lib/cli/src/project_types.ts
  code/lib/cli/src/repro-generators/configs.ts
  code/lib/cli/src/repro-templates.ts
  code/lib/cli/src/versions.ts
  code/lib/telemetry/src/storybook-metadata.ts
  code/workspace.json
  code/yarn.lock
  scripts/tasks/generate.ts
Labels: feature request, cli, app: svelte

#20070 make managerEntries be loaded as ESM, for improved tree-shaking
  code/lib/builder-manager/src/index.ts
  code/lib/core-common/src/presets.test.ts
  code/lib/core-common/src/presets.ts
Labels: maintenance

#20085 Chore: (Docs) Asset conversion to the new UI
  docs/essentials/addon-actions-optimized.mp4
  docs/essentials/addon-backgrounds-optimized.mp4
  docs/essentials/addon-controls-args-variant-optimized.png
  docs/essentials/addon-controls-args-variant-string.png
  docs/essentials/addon-controls-disable-specific-prop.mp4
  docs/essentials/addon-controls-expanded.png
  docs/essentials/addon-controls-optimized.mp4
  docs/essentials/addon-interactions-installed-registered.png
  docs/essentials/addon-measure-optimized.mp4
  docs/essentials/addon-outline-optimized.mp4
  docs/essentials/addon-viewports-optimized.mp4
  docs/get-started/addons-walkthrough-optimized.mp4
  docs/get-started/addons.png
  docs/get-started/browse-stories.md
  docs/get-started/docspage-optimized.mp4
  docs/get-started/example-browse-all-stories-optimized.mp4
  docs/get-started/example-button-args.png
  docs/get-started/example-button-hot-module-reload-optimized.mp4
  docs/get-started/example-button-noargs.png
  docs/get-started/example-welcome.png
  docs/get-started/storybook-keyboard-shortcuts-optimized.mp4
  docs/get-started/toolbar-docs-tab-optimized.mp4
  docs/get-started/toolbar-walkthrough-optimized.mp4
  docs/get-started/toolbar.png
  docs/writing-stories/addon-actions-demo-optimized.mp4
  docs/writing-stories/addon-controls-demo-optimized.mp4
  docs/writing-stories/decorators-no-padding.png
  docs/writing-stories/decorators-padding.png
  docs/writing-stories/introduction.md
  docs/writing-stories/parameters-background-colors.png
  docs/writing-stories/stories-for-multiple-components.md
  docs/writing-stories/storybook-story-parameters-demo-optimized.mp4
  docs/writing-tests/test-coverage.md
Labels: documentation

#19698 HTML: Add `html-vite` framework
  code/frameworks/html-vite/README.md
  code/frameworks/html-vite/package.json
  code/frameworks/html-vite/preset.js
  code/frameworks/html-vite/src/index.ts
  code/frameworks/html-vite/src/preset.ts
  code/frameworks/html-vite/tsconfig.json
  code/lib/cli/scripts/generate-sb-packages-versions.js
  code/lib/cli/src/automigrate/fixes/new-frameworks.ts
  code/lib/cli/src/repro-templates.ts
  code/lib/cli/src/versions.ts
  code/package.json
  code/workspace.json
  code/yarn.lock
Labels: feature request, app: html, vite, linear

#20075 Add `--tag` option to `upgrade` script
  code/lib/cli/src/generate.ts
  code/lib/cli/src/upgrade.ts
Labels: feature request, cli

#20003 Core: Remove postcss feature flag
  MIGRATION.md
  code/lib/core-server/src/dev-server.ts
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/types/src/modules/core-common.ts
  docs/snippets/common/storybook-main-default-setup.ts.mdx
  test-storybooks/external-docs/.storybook/main.cjs
Labels: maintenance

#20035 CLI: Improve sb-scripts automigration logic
  code/lib/cli/src/automigrate/fixes/sb-scripts.test.ts
  code/lib/cli/src/automigrate/fixes/sb-scripts.ts
Labels: bug, cli, linear

#20083 Fix SSR in external docs via `node` exports
  .gitignore
  code/addons/docs/package.json
  code/addons/docs/preview.js
  code/addons/docs/src/DocsRenderer.tsx
  code/addons/essentials/src/docs/preview.ts
  code/lib/theming/package.json
  code/ui/blocks/package.json
  code/ui/components/src/Zoom/ZoomElement.tsx
  test-storybooks/external-docs/package.json
  test-storybooks/external-docs/yarn.lock
Labels: bug, addon: docs

#20088 CSF: Add satisfies support to csf-tools
  code/lib/csf-tools/src/CsfFile.test.ts
  code/lib/csf-tools/src/CsfFile.ts
Labels: feature request, typescript, csf

#19899 Bump store2 to 2.14.2 license clarification
  code/lib/manager-api/package.json
  code/ui/manager/package.json
  code/yarn.lock
Labels: dependencies

#20055 Core: Batch the loading of CSF files for `extract()` etc
  code/lib/preview-api/src/modules/store/StoryStore.test.ts
  code/lib/preview-api/src/modules/store/StoryStore.ts
Labels: bug, core

#20098 Next.js: only set next/future/image mocks from version 12.2
  code/frameworks/nextjs/src/images/next-image-stub.tsx
  code/lib/cli/src/repro-templates.ts
Labels: bug, nextjs

#20105 Revert "Telemetry: Add precedingUpgrade data to dev/build events"
  code/lib/core-server/src/build-static.ts
  code/lib/core-server/src/dev-server.ts
  code/lib/telemetry/src/event-cache.test.ts
  code/lib/telemetry/src/event-cache.ts
  code/lib/telemetry/src/index.ts
  code/lib/telemetry/src/telemetry.ts
Labels: maintenance, telemetry

#20100 Build: Run sb init locally in sandbox creation
  scripts/tasks/sandbox-parts.ts
  scripts/utils/cli-step.ts
Labels: build

#20106 Fix next
  scripts/tasks/sandbox-parts.ts
  scripts/utils/cli-step.ts
Labels: build, ci:merged

#20109 Remove peer deps from core-common
  code/lib/core-common/package.json
  code/yarn.lock
Labels: maintenance

#20110 Fix peer dependencies for npm8/pnpm/yarn pnp - retry
  MIGRATION.md
  code/addons/docs/package.json
  code/addons/docs/src/preset.ts
  code/addons/docs/src/shims/mdx-react-shim.ts
  code/addons/essentials/package.json
  code/addons/essentials/src/docs/mdx-react-shim.ts
  code/addons/essentials/src/docs/preset.ts
  code/addons/interactions/package.json
  code/addons/interactions/src/components/MethodCall.tsx
  code/frameworks/angular/package.json
  code/frameworks/ember/package.json
  code/frameworks/html-webpack5/package.json
  code/frameworks/preact-webpack5/package.json
  code/frameworks/server-webpack5/package.json
  code/frameworks/svelte-vite/package.json
  code/frameworks/svelte-webpack5/package.json
  code/frameworks/vue-vite/package.json
  code/frameworks/vue-webpack5/package.json
  code/frameworks/vue3-vite/package.json
  code/frameworks/vue3-webpack5/package.json
  code/frameworks/web-components-vite/package.json
  code/frameworks/web-components-webpack5/package.json
  code/lib/builder-vite/package.json
  code/lib/cli/src/automigrate/fixes/add-react.test.ts
  code/lib/cli/src/automigrate/fixes/add-react.ts
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/npm7.test.ts
  code/lib/cli/src/automigrate/fixes/npm7.ts
  code/lib/cli/src/generators/baseGenerator.ts
  code/presets/html-webpack/package.json
  code/presets/preact-webpack/package.json
  code/presets/server-webpack/package.json
  code/presets/svelte-webpack/package.json
  code/presets/vue-webpack/package.json
  code/presets/vue3-webpack/package.json
  code/presets/web-components-webpack/package.json
  code/renderers/html/package.json
  code/renderers/preact/package.json
  code/renderers/preact/template/stories/React.js
  code/renderers/server/package.json
  code/renderers/svelte/package.json
  code/renderers/vue/package.json
  code/renderers/vue3/package.json
  code/renderers/web-components/package.json
  code/yarn.lock
Labels: maintenance, ci:merged

#20111 Add whitespace.
  docs/configure/images-and-assets.md
Labels: documentation

#20101 add more linting config to vs-code settings.json
  .vscode/extensions.json
  .vscode/settings.json
Labels: build

#20117 Clean up babelModeV7 migration and code
  MIGRATION.md
  code/lib/core-server/src/dev-server.ts
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/types/src/modules/core-common.ts
  test-storybooks/external-docs/.storybook/main.cjs
Labels: babel / webpack, maintenance

#20115 Deal with a lot of different edge cases for git URLs
  code/lib/telemetry/src/anonymous-id.test.ts
  code/lib/telemetry/src/anonymous-id.ts
Labels: bug, telemetry

#20065 NextJS: Support next/navigation in Next.js v13
  code/e2e-tests/framework-nextjs.spec.ts
  code/frameworks/nextjs/README.md
  code/frameworks/nextjs/src/config/webpack.ts
  code/frameworks/nextjs/src/nextImport/webpack.ts
  code/frameworks/nextjs/src/routing/app-router-provider.tsx
  code/frameworks/nextjs/src/routing/decorator.tsx
  code/frameworks/nextjs/src/routing/page-router-provider.tsx
  code/frameworks/nextjs/src/routing/types.tsx
  code/frameworks/nextjs/template/stories/DynamicImport.stories.jsx
  code/frameworks/nextjs/template/stories/dynamic-component.js
  code/frameworks/nextjs/template/stories_12-js/Link.stories.jsx
  code/frameworks/nextjs/template/stories_default-js/Link.stories.jsx
  code/frameworks/nextjs/template/stories_default-js/Link.stories.module.css
  code/frameworks/nextjs/template/stories_default-js/Navigation.stories.jsx
  code/frameworks/nextjs/template/stories_default-js/Router.stories.jsx
  code/frameworks/nextjs/template/stories_default-ts/Link.stories.module.css
  code/frameworks/nextjs/template/stories_default-ts/Link.stories.tsx
  code/frameworks/nextjs/template/stories_default-ts/Navigation.stories.tsx
Labels: feature request, nextjs

#20120 Fix more peerDependencies issues
  code/presets/react-webpack/package.json
  code/yarn.lock
Labels: maintenance

#20126 CLI: Fix upgrade --prerelease to upgrade to the next tag
  code/lib/cli/src/upgrade.ts
Labels: maintenance, cli

#20123 Fix iframe.html not available upon early browser opening
  code/lib/core-server/src/dev-server.ts
  code/lib/core-server/src/utils/constants.ts
  code/lib/core-server/src/utils/doTelemetry.ts
  code/lib/core-server/src/utils/getAccessControlMiddleware.ts
  code/lib/core-server/src/utils/getStoryIndexGenerator.ts
  code/lib/core-server/src/utils/router.ts
  code/lib/core-server/src/utils/versionStatus.ts
Labels: bug, core

#20129 Fix Next.js lower than 12.2.0
  code/frameworks/nextjs/src/nextImport/webpack.ts
Labels: bug

#20128 Fix new-frameworks automigration failing to read frameworkOptions field.
  code/lib/cli/src/automigrate/fixes/new-frameworks.ts
Labels: bug, cli

#20136 Telemetry: Add precedingUpgrade data to dev/build/error events
  code/lib/core-server/src/build-static.ts
  code/lib/core-server/src/utils/doTelemetry.ts
  code/lib/core-server/src/withTelemetry.test.ts
  code/lib/core-server/src/withTelemetry.ts
  code/lib/telemetry/src/event-cache.test.ts
  code/lib/telemetry/src/event-cache.ts
  code/lib/telemetry/src/index.ts
  code/lib/telemetry/src/telemetry.ts
Labels: maintenance, telemetry

#19954 Controls: Arrow keys don't work on number controls
  code/ui/manager/src/components/sidebar/useHighlighted.ts
Labels: bug, ui, addon: controls

#20147 Vite: Fix static source handling for addon-docs
  code/lib/builder-vite/package.json
  code/lib/builder-vite/src/plugins/csf-plugin.ts
  code/lib/builder-vite/src/plugins/index.ts
  code/lib/builder-vite/src/plugins/source-loader-plugin.ts
  code/lib/builder-vite/src/vite-config.ts
  code/ui/.storybook/main.ts
  code/yarn.lock
Labels: bug, addon: docs, vite

#20107 Extend Angular Zone.js peer dependency range
  code/frameworks/angular/package.json
  code/yarn.lock
Labels: bug, app: angular, patch

#20152 Upgrade express to fix security warning
  code/lib/builder-manager/package.json
  code/lib/builder-vite/package.json
  code/lib/builder-webpack5/package.json
  code/lib/cli/package.json
  code/lib/core-common/package.json
  code/lib/core-server/package.json
  code/lib/manager-api/package.json
  code/lib/types/package.json
  code/package.json
  code/yarn.lock
  scripts/package.json
  scripts/yarn.lock
  test-storybooks/server-kitchen-sink/package.json
Labels: dependencies, security

#19998 Controls: Fix file controls not resetting
  code/ui/blocks/src/controls/Files.tsx
Labels: bug, addon: controls

#20168 Revert "Telemetry: Add precedingUpgrade data to dev/build/error events"
  code/lib/core-server/src/build-static.ts
  code/lib/core-server/src/utils/doTelemetry.ts
  code/lib/core-server/src/withTelemetry.test.ts
  code/lib/core-server/src/withTelemetry.ts
  code/lib/telemetry/src/event-cache.test.ts
  code/lib/telemetry/src/event-cache.ts
  code/lib/telemetry/src/index.ts
  code/lib/telemetry/src/telemetry.ts
Labels: bug, telemetry

#20174 Update `@storybook/nextjs` README
  code/frameworks/nextjs/README.md
Labels: documentation, nextjs

#20173 Update logic around `next/future/image`
  code/frameworks/nextjs/src/nextImport/webpack.ts
Labels: bug, nextjs

#20166 Fix: typescript.checkOptions not a valid interface
  code/lib/builder-webpack5/src/types.ts
  code/lib/cli/src/link.ts
  code/lib/types/src/modules/core-common.ts
  scripts/tasks/sandbox-parts.ts
Labels: bug, typescript, webpack5

#20049 Controls: Fix color control not resetting when initial value is defined
  code/ui/blocks/src/controls/Color.tsx
Labels: bug, addon: controls

#20139 Vite: Support vite 4
  code/frameworks/html-vite/package.json
  code/frameworks/react-vite/package.json
  code/frameworks/svelte-vite/package.json
  code/frameworks/sveltekit/package.json
  code/frameworks/vue-vite/package.json
  code/frameworks/vue3-vite/package.json
  code/frameworks/web-components-vite/package.json
  code/lib/builder-vite/package.json
  code/package.json
  code/yarn.lock
Labels: vite, build

#20176 Revert "Revert "Telemetry: Add precedingUpgrade data to dev/build/error events""
  code/lib/core-server/src/build-static.ts
  code/lib/core-server/src/utils/doTelemetry.ts
  code/lib/core-server/src/withTelemetry.test.ts
  code/lib/core-server/src/withTelemetry.ts
  code/lib/telemetry/src/event-cache.test.ts
  code/lib/telemetry/src/event-cache.ts
  code/lib/telemetry/src/index.ts
  code/lib/telemetry/src/telemetry.ts
Labels: bug, telemetry

#20143 Telemetry: Add `chromatic` to addons list
  code/lib/telemetry/src/get-chromatic-version.test.ts
  code/lib/telemetry/src/get-chromatic-version.ts
  code/lib/telemetry/src/storybook-metadata.ts
  code/lib/telemetry/src/types.ts
Labels: maintenance, telemetry

#20177 Core: Catch and do nothing to avoid triggering unhandled exception problems
  code/lib/core-server/src/dev-server.ts
Labels: bug, core

#20170 Tech: change `package.json` engines fields, set to minimal node16 and up
  code/frameworks/angular/package.json
  code/frameworks/ember/package.json
  code/frameworks/html-webpack5/package.json
  code/frameworks/nextjs/package.json
  code/frameworks/preact-webpack5/package.json
  code/frameworks/react-webpack5/package.json
  code/frameworks/server-webpack5/package.json
  code/frameworks/svelte-webpack5/package.json
  code/frameworks/vue-vite/package.json
  code/frameworks/vue-webpack5/package.json
  code/frameworks/vue3-webpack5/package.json
  code/frameworks/web-components-webpack5/package.json
  code/package.json
  code/presets/html-webpack/package.json
  code/presets/preact-webpack/package.json
  code/presets/react-webpack/package.json
  code/presets/server-webpack/package.json
  code/presets/svelte-webpack/package.json
  code/presets/vue-webpack/package.json
  code/presets/vue3-webpack/package.json
  code/presets/web-components-webpack/package.json
  code/renderers/html/package.json
  code/renderers/preact/package.json
  code/renderers/react/package.json
  code/renderers/server/package.json
  code/renderers/svelte/package.json
  code/renderers/vue/package.json
  code/renderers/vue3/package.json
  code/renderers/web-components/package.json
  scripts/package.json
Labels: maintenance

#20182 Chore: (Docs - snippets) Testing react example
  docs/snippets/react/storybook-testing-addon-optional-config.js.mdx
Labels: documentation, patch

#20180 Update MIGRATION.md
  MIGRATION.md
Labels: documentation

#20185 Chore: (Docs) Adjusts the installation issues docs for the new framework matrix
  docs/get-started/installation-problems/angular.mdx
  docs/get-started/installation-problems/ember.mdx
  docs/get-started/installation-problems/html.mdx
  docs/get-started/installation-problems/preact.mdx
  docs/get-started/installation-problems/react.mdx
  docs/get-started/installation-problems/svelte.mdx
  docs/get-started/installation-problems/vue.mdx
  docs/get-started/installation-problems/web-components.mdx
Labels: documentation, patch

#20186 Fix URL for `docs/addons/integration-catalog`
  docs/addons/integration-catalog.md
  docs/addons/writing-addons.md
  docs/toc.js
Labels: documentation, patch

#20187 Fixes path for snapshot testing
  docs/frameworks.js
Labels: documentation, patch

#20192 Update addon-catalog to integration-catalog
  docs/addons/integration-catalog.md
  docs/addons/writing-addons.md
  docs/toc.js
Labels: documentation

#19977 Add first MDX example for storybook/html
  docs/snippets/html/checkbox-story.mdx.mdx
Labels: documentation

#20181 SvelteKit: Support `v1.0.0-next.574` and above
  code/frameworks/svelte-vite/package.json
  code/frameworks/svelte-vite/src/preset.ts
  code/frameworks/svelte-vite/src/utils.ts
  code/frameworks/sveltekit/src/preset.ts
  code/lib/cli/src/repro-templates.ts
  code/yarn.lock
Labels: bug, app: svelte

#20165 Typescript: Fix bug with meta not working well as generic parameter for StoryObj
  code/renderers/react/src/public-types.test.tsx
  code/ui/blocks/src/blocks/Canvas.stories.tsx
  code/yarn.lock
Labels: bug

#20159 Re-enable TS 4.9 CLI templates
  code/lib/cli/src/detect.test.ts
  code/lib/cli/src/detect.ts
Labels: feature request

#20201 Fix storyId access in instrumenter
  code/lib/instrumenter/src/instrumenter.ts
Labels: bug

#20208 CLI: execute automigrations when pressing enter in the prompts
  code/lib/cli/src/automigrate/index.ts
Labels: bug, cli, patch

#20212 Svelte: Fix argTypes inference in Button component
  code/renderers/svelte/template/cli/ts/Button.svelte
  code/yarn.lock
Labels: app: svelte, build

#20199 upgrade vitejs and esbuild
  CONTRIBUTING.md
  code/lib/builder-manager/package.json
  code/lib/core-common/package.json
  code/package.json
  code/yarn.lock
  node_modules/.yarn-integrity
  scripts/package.json
  scripts/yarn.lock
Labels: dependencies, vite

#20144 Telemetry: Don't send boot event when cliOptions.disableTelemetry is passed
  code/lib/cli/src/build.ts
  code/lib/cli/src/dev.ts
  code/lib/core-server/src/withTelemetry.test.ts
  code/lib/core-server/src/withTelemetry.ts
  docs/configure/telemetry.md
Labels: bug, telemetry

#20206 CLI: Add React peer dep runtime check
  code/lib/cli/src/build.ts
  code/lib/cli/src/dev.ts
  code/lib/cli/src/ensure-react-peer-deps.ts
Labels: maintenance, cli

#20194 Vite: Support async Vite plugins
  .circleci/config.yml
  code/frameworks/react-vite/src/preset.ts
  code/frameworks/react-vite/src/utils.ts
  code/frameworks/svelte-vite/src/preset.ts
  code/frameworks/svelte-vite/src/utils.ts
  code/frameworks/sveltekit/src/preset.ts
  code/frameworks/sveltekit/template/cli/Button.stories.js
  code/frameworks/sveltekit/template/cli/Button.svelte
  code/frameworks/vue3-vite/src/preset.ts
  code/frameworks/vue3-vite/src/utils.ts
  code/lib/builder-vite/src/index.ts
  code/lib/builder-vite/src/utils/has-vite-plugins.test.ts
  code/lib/builder-vite/src/utils/has-vite-plugins.ts
  code/lib/builder-vite/src/utils/without-vite-plugins.test.ts
  code/lib/builder-vite/src/utils/without-vite-plugins.ts
  code/lib/cli/src/automigrate/fixes/sveltekit-framework.ts
  code/lib/cli/src/generators/baseGenerator.ts
  code/lib/cli/src/repro-templates.ts
Labels: bug, app: react, app: svelte, app: vue3, vite

#20229 SvelteKit: README
  code/frameworks/nextjs/README.md
  code/frameworks/sveltekit/README.md
Labels: documentation

#20223 CLI: Split sb-scripts into two different migrations
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/sb-binary.test.ts
  code/lib/cli/src/automigrate/fixes/sb-binary.ts
  code/lib/cli/src/automigrate/fixes/sb-scripts.test.ts
  code/lib/cli/src/automigrate/fixes/sb-scripts.ts
Labels: feature request, cli

#20216 Vite: Use Vite 3 (temporarily)
  code/frameworks/react-vite/package.json
  code/frameworks/svelte-vite/package.json
  code/frameworks/vue-vite/package.json
  code/frameworks/vue3-vite/package.json
  code/lib/builder-vite/package.json
  code/lib/builder-vite/src/plugins/mdx-plugin.ts
  code/lib/builder-vite/src/vite-config.ts
  code/package.json
  code/renderers/react/template/stories/react-mdx.stories.mdx
  code/yarn.lock
Labels: dependencies, mdx, vite

#20207 Fix: vite devmode with storyStoreV6 by ensuring singleton via global
  code/lib/builder-vite/src/codegen-iframe-script.ts
  code/lib/preview-api/src/modules/client-api/ClientApi.ts
Labels: bug, core, on-demand store

#20238 SvelteKit: Document `svelteOptions` in README
  MIGRATION.md
  code/frameworks/sveltekit/README.md
Labels: documentation, app: svelte

#19574 CLI: Add Next.js framework automigration
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/nextjs-framework.test.ts
  code/lib/cli/src/automigrate/fixes/nextjs-framework.ts
Labels: feature request, cli, nextjs

#20244 Add optional TypeScript peer dependency
  code/lib/builder-vite/package.json
  code/yarn.lock
Labels: dependencies, typescript, vite

#20232 Core: Fix config.base relative paths
  code/lib/builder-vite/input/iframe.html
  code/lib/builder-vite/src/build.ts
Labels: bug, core

#20253 Fix issues with running SSv6
  code/lib/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/lib/builder-webpack5/templates/virtualModuleEntry.template.js
  code/ui/manager/src/components/preview/preview.tsx
Labels: bug, core

#20231 Core: Remove unnecessary peer deps
  code/lib/core-common/package.json
  code/lib/core-server/package.json
  code/yarn.lock
Labels: bug

#20256 Csf-plugin: Fix spurious storiesOf warnings
  code/lib/csf-plugin/src/index.ts
Labels: bug, csf

#20255 Csf-tools: Fix local vars handling in MDX-generated CSF
  code/lib/csf-tools/src/CsfFile.test.ts
  code/lib/csf-tools/src/CsfFile.ts
Labels: bug, csf, story index

#20243 Vite: Make the bail function work if the server fails to start
  code/lib/builder-vite/src/index.ts
  docs/snippets/common/storybook-builder-api-shutdown-server.ts.mdx
Labels: bug, vite

#20258 Upgrade sb dep as well in sb upgrade
  code/lib/cli/src/upgrade.ts
Labels: bug, cli

#20092 Add Next 12 sandbox
  .circleci/config.yml
  code/frameworks/nextjs/src/utils.ts
  code/lib/cli/src/repro-templates.ts
Labels: build

#20259 Don't export renderer from framework
  code/frameworks/nextjs/src/index.ts
Labels: bug, nextjs

#20241 Vite: Use mdx2 babel pre-processing
  code/lib/builder-vite/package.json
  code/lib/builder-vite/src/plugins/mdx-plugin.ts
  code/yarn.lock
Labels: maintenance, vite

#20261 Addon-docs: Upgrade mdx2-csf and use its JSX handling
  code/addons/docs/src/preset.ts
  code/lib/builder-vite/package.json
  code/lib/builder-webpack5/src/presets/preview-preset.ts
  code/yarn.lock
Labels: maintenance, addon: docs

#20269 Upgrade mdx2-csf to fix babelrc parsing
  code/yarn.lock
Labels: ci:merged

#20271 Addon-docs: Use jsxOptions instead of mdxBabelOptions
  MIGRATION.md
  code/addons/docs/README.md
  code/addons/docs/postinstall/presets.js
  code/addons/docs/src/preset.ts
  code/lib/builder-vite/src/plugins/mdx-plugin.ts
  code/yarn.lock
Labels: feature request, addon: docs, BREAKING PRERELEASE

#20270 Svelte-vite: remove `svelteOptions` in automigration
  code/frameworks/sveltekit/README.md
  code/lib/cli/src/automigrate/fixes/new-frameworks.ts
  code/lib/cli/src/automigrate/fixes/sveltekit-framework.test.ts
  code/lib/cli/src/automigrate/fixes/sveltekit-framework.ts
Labels: maintenance, cli, app: svelte

#20268 Fix handling of inverted yes flag in `task` steps
  docs/snippets/common/storybook-builder-api-shutdown-server.ts.mdx
  scripts/utils/cli-step.ts
  scripts/utils/options.ts
Labels: build

#20278 Build: regen lockfiles
  code/frameworks/angular/src/server/framework-preset-angular-cli.ts
  code/yarn.lock
  scripts/yarn.lock
Labels: build

#20277 Build: bundle script a bit less repetitive, add a completion indicator
  scripts/package.json
  scripts/prepare/bundle.ts
  scripts/yarn.lock
Labels: build

#20284 Build: ui/.storybook should not import from dist
  code/ui/.storybook/main.ts
Labels: build

#20276 CLI: add automigration summary
  code/lib/cli/src/automigrate/fixes/mainjsFramework.ts
  code/lib/cli/src/automigrate/fixes/new-frameworks.ts
  code/lib/cli/src/automigrate/fixes/nextjs-framework.ts
  code/lib/cli/src/automigrate/fixes/sb-binary.ts
  code/lib/cli/src/automigrate/fixes/sb-scripts.ts
  code/lib/cli/src/automigrate/fixes/sveltekit-framework.ts
  code/lib/cli/src/automigrate/fixes/webpack5.ts
  code/lib/cli/src/automigrate/index.ts
Labels: feature request, cli

#20287 Support Angular 15.0.4
  code/frameworks/angular/src/server/plugins/storybook-normalize-angular-entry-plugin.js
Labels: bug

#20289 Make the viewport addon compatible with composition.
  code/addons/viewport/src/Tool.tsx
Labels: bug, addon: viewport

#20286 Fix: ensure manager entries load even if preceding ones failed
  code/lib/builder-manager/src/index.ts
  code/lib/builder-manager/templates/template.ejs
Labels: bug, core

#20234 CLI: Add interactive babel config file generation
  code/lib/cli/src/babel-config.ts
Labels: feature request, cli

#20264 UI: Fix `enableShortcuts` support in `manager.ts`
  code/lib/manager-api/src/modules/layout.ts
  code/ui/manager/src/components/sidebar/SearchResults.tsx
  code/ui/manager/src/settings/index.tsx
Labels: bug, ui

#20297 Build: compile detection was using a non-conforming package, causing cache to miss always.
  code/lib/router/package.json
  code/package.json
  code/yarn.lock
  scripts/package.json
  scripts/prepare/bundle.ts
  scripts/prepare/facade.ts
  scripts/tasks/compile.ts
  scripts/yarn.lock
Labels: build

#20233 Chore: (Docs)Adds Docs 2 documentation
  docs/faq.md
  docs/snippets/angular/button-story-auto-docs.ts.mdx
  docs/snippets/common/storybook-auto-docs-baseline-example.mdx.mdx
  docs/snippets/common/storybook-auto-docs-full-config.js.mdx
  docs/snippets/common/storybook-auto-docs-full-config.ts.mdx
  docs/snippets/common/storybook-auto-docs-main-mdx-config.js.mdx
  docs/snippets/common/storybook-auto-docs-main-mdx-config.ts.mdx
  docs/snippets/common/storybook-auto-docs-mdx-file.mdx.mdx
  docs/snippets/common/storybook-auto-docs-starter-example.mdx.mdx
  docs/snippets/common/storybook-preview-auto-docs-custom-docs-container.js.mdx
  docs/snippets/common/storybook-preview-auto-docs-custom-template.js.mdx
  docs/snippets/common/storybook-preview-auto-docs-override-mdx-container.js.mdx
  docs/snippets/common/storybook-preview-auto-docs-override-theme.js.mdx
  docs/snippets/common/storybook-preview-auto-docs-template.mdx.mdx
  docs/snippets/react/button-story-auto-docs.js.mdx
  docs/snippets/react/button-story-auto-docs.ts.mdx
  docs/snippets/svelte/button-story-auto-docs.js.mdx
  docs/snippets/vue/button-story-auto-docs.js.mdx
  docs/snippets/vue/button-story-auto-docs.ts.mdx
  docs/toc.js
  docs/writing-docs/addon-docs-optimized.mp4
  docs/writing-docs/build-documentation.md
  docs/writing-docs/doc-block-argstable.md
  docs/writing-docs/doc-block-canvas.md
  docs/writing-docs/doc-block-description.md
  docs/writing-docs/doc-block-source.md
  docs/writing-docs/doc-block-story.md
  docs/writing-docs/docs-page.md
  docs/writing-docs/introduction.md
  docs/writing-docs/storybook-button-auto-docs-optimized.mp4
  docs/writing-docs/storybook-docs-ui-optimized.png
Labels: documentation

#20300 React-vite: Pin react-docgen version
  code/frameworks/react-vite/package.json
  code/yarn.lock
Labels: dependencies, app: react, vite

#20292 CLI: Improve automigration to show prompt-only migrations
  code/lib/cli/src/automigrate/fixes/remove-global-client-apis.ts
  code/lib/cli/src/automigrate/index.ts
  code/lib/cli/src/automigrate/types.ts
Labels: feature request, cli

#20304 Fix: addon-storysource has no managerEntry, but defines a register and preset
  code/addons/storysource/manager.js
  code/addons/storysource/package.json
  code/addons/storysource/src/preset.ts
Labels: bug, addon: storysource

#20281 Vite: Make vite a peer dependency, update plugins
  code/frameworks/react-vite/package.json
  code/frameworks/svelte-vite/package.json
  code/frameworks/svelte-vite/src/preset.ts
  code/frameworks/sveltekit/package.json
  code/frameworks/vue-vite/package.json
  code/frameworks/vue3-vite/package.json
  code/lib/builder-vite/package.json
  code/package.json
  code/yarn.lock
Labels: dependencies, vite

#20306 Core: improve manager-entries failure message
  code/lib/builder-manager/src/index.ts
Labels: maintenance, core

#20296 Angular: Fix webpackStatsJson types in angular-builder
  code/frameworks/angular/src/builders/build-storybook/schema.json
Labels: bug, app: angular

#20308 Core: Wrap manager entries to handle exports
  code/lib/builder-manager/src/index.ts
  code/lib/builder-manager/src/utils/managerEntries.ts
Labels: maintenance, core

#20318 Build: Update Playwright to 1.29
  .circleci/config.yml
  code/package.json
  code/yarn.lock
Labels: build

#20319 Build: Fix pretty-docs CI job
  .circleci/config.yml
Labels: build

#20313 Vite: Include user config `optimizeDeps` in final `optimizeDeps`
  code/lib/builder-vite/src/optimizeDeps.ts
Labels: bug, vite

#20266 feat: replace `update-notifier` with `simple-update-notifier`
  code/lib/cli/package.json
  code/lib/cli/src/initiate.ts
  code/yarn.lock
Labels: maintenance, cli, performance issue

#20290 CLI: sb migrate csf-2-to-3 doesn't work glob that uses multiple file extension
  code/lib/codemod/package.json
  code/lib/codemod/src/index.js
  code/lib/codemod/src/transforms/__tests__/csf-2-to-3.test.ts
  code/lib/codemod/src/transforms/csf-2-to-3.ts
  code/yarn.lock
Labels: maintenance

#20325 Preview Api: export userOrAutoTitle function
  code/lib/preview-api/src/index.ts
Labels: feature request, core

#20305 Build: remove borders in task error message
  scripts/task.ts
Labels: build

#20329 CLI: fix automigrate filtering
  code/lib/cli/src/automigrate/index.ts
  code/lib/cli/src/generate.ts
Labels: bug, cli

#20328 Fix: peer dependency warning for `vite-react`
  code/frameworks/react-vite/package.json
  code/lib/builder-vite/package.json
  code/yarn.lock
  scripts/yarn.lock
Labels: bug, vite

#20330 Support useSelectedLayoutSegment and useSelectedLayoutSegments in Next.js
  code/frameworks/nextjs/README.md
  code/frameworks/nextjs/src/routing/app-router-provider.tsx
  code/frameworks/nextjs/template/stories_default-js/Navigation.stories.jsx
Labels: feature request, nextjs

#20324 Update addon-actions peerdependency in nextjs package.json
  code/frameworks/nextjs/package.json
  code/yarn.lock
Labels: bug, nextjs

#20336 NextJS: Move addon-actions to regular dep
  code/frameworks/nextjs/package.json
  code/yarn.lock
Labels: maintenance, nextjs

#20335 Vite: Detect React SWC plugin
  code/frameworks/react-vite/src/preset.ts
Labels: bug, app: react, vite

#20291 NextJS: Support @next/font
  code/frameworks/nextjs/README.md
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/font/babel/helpers.ts
  code/frameworks/nextjs/src/font/babel/index.test.ts
  code/frameworks/nextjs/src/font/babel/index.ts
  code/frameworks/nextjs/src/font/webpack/configureNextFont.ts
  code/frameworks/nextjs/src/font/webpack/loader/google/get-font-face-declarations.ts
  code/frameworks/nextjs/src/font/webpack/loader/local/get-font-face-declarations.ts
  code/frameworks/nextjs/src/font/webpack/loader/storybook-nextjs-font-loader.ts
  code/frameworks/nextjs/src/font/webpack/loader/types.ts
  code/frameworks/nextjs/src/font/webpack/loader/utils/get-css-meta.ts
  code/frameworks/nextjs/src/font/webpack/loader/utils/set-font-declarations-in-head.ts
  code/frameworks/nextjs/src/preset.ts
  code/frameworks/nextjs/template/stories_default-js/Font.jsx
  code/frameworks/nextjs/template/stories_default-js/Font.stories.jsx
  code/frameworks/nextjs/template/stories_default-js/fonts/OFL.txt
  code/frameworks/nextjs/template/stories_default-js/fonts/RubikStorm-Regular.ttf
  code/yarn.lock
Labels: feature request, nextjs

#20333 UI: swap `react-sizeme` for `react-resize-detector`
  code/addons/a11y/package.json
  code/addons/a11y/src/components/A11YPanel.test.tsx
  code/addons/a11y/src/components/Report/Rules.tsx
  code/addons/a11y/src/components/Tabs.tsx
  code/addons/jest/package.json
  code/addons/jest/src/components/Panel.tsx
  code/addons/jest/src/components/Result.tsx
  code/addons/jest/src/hoc/provideJestResult.tsx
  code/ui/manager/package.json
  code/ui/manager/src/app.tsx
  code/yarn.lock
Labels: bug, ui

#20338 Output-compodoc-args
  code/frameworks/angular/src/builders/utils/run-compodoc.spec.ts
  code/frameworks/angular/src/builders/utils/run-compodoc.ts
Labels: feature request, app: angular

#20310 CLI: write into a log file if automigrations fail
  code/lib/cli/package.json
  code/lib/cli/src/automigrate/helpers/cleanLog.ts
  code/lib/cli/src/automigrate/index.ts
  code/yarn.lock
Labels: feature request, cli

#20346 Add migration note for 7.0 global client API removal
  MIGRATION.md
Labels: documentation

#20118 Angular: Switch to default to inlineStories=true
  code/addons/docs/angular/README.md
  code/addons/docs/ember/README.md
  code/addons/docs/react/README.md
  code/addons/docs/vue/README.md
  code/addons/docs/vue3/README.md
  code/addons/docs/web-components/README.md
  code/frameworks/angular/src/client/docs/config.ts
  code/lib/cli/src/generators/configure.ts
Labels: maintenance, app: angular, addon: docs

#20354 Build: sync issues of `next` packages
  code/addons/interactions/package.json
  code/package.json
  code/yarn.lock
  scripts/package.json
  scripts/yarn.lock
Labels: build

#20360 Build: Remove the non-cross-platform dash-S option
  scripts/prepare/facade.ts
Labels: build

#20359 Fix vite peerDep warning by updating `@joshwooding/vite-plugin-react-docgen-typescript`
  code/frameworks/react-vite/package.json
  code/yarn.lock
Labels: bug, vite, ci:merged

#20365 Build: store extra metadata for each sandbox test
  code/lib/cli/src/repro-templates.ts
  scripts/task.ts
Labels: build

#20370 Adds a11y video callout
  docs/writing-tests/accessibility-testing.md
Labels: documentation, patch

#20372 Build: Update Playwright to 1.29.1
  .circleci/config.yml
  code/package.json
  code/yarn.lock
Labels: build

#20363 Rename `docsOptions.enabled` to `docsOptions.disable`
  code/addons/docs/src/preset.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.test.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/core-server/src/utils/stories-json.test.ts
  code/lib/preview-api/src/modules/client-api/StoryStoreFacade.ts
  code/lib/preview-api/src/modules/core-client/start.test.ts
  code/lib/types/src/modules/core-common.ts
  docs/writing-docs/docs-page.md
Labels: maintenance, addon: docs, BREAKING PRERELEASE

#20373 Don't allow setting `Meta of={X}` if `X` is tagged with `'autodocs'`
  code/lib/core-server/src/utils/StoryIndexGenerator.test.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/core-server/src/utils/__mockdata__/errors/MetaOfAutodocs.mdx
  code/lib/core-server/src/utils/__mockdata__/src/A.stories.js
Labels: maintenance, addon: docs

#20345 UI: Disable React.strictmode to avoid findNode deprecation warnings
  code/ui/manager/src/index.tsx
Labels: bug, ui

#20384 Types: Add Addon_OptionsParameterV7 type
  code/lib/types/src/modules/addons.ts
Labels: typescript, other

#20385 Build: fix prettydocs CI flakyness
  .circleci/config.yml
Labels: build

#20386 Build: regen lockfiles
  code/yarn.lock
  scripts/yarn.lock
Labels: build

#20368 UI: fix deprecated ReactDOM.findDOMNode calls
  code/addons/a11y/src/components/Report/Rules.tsx
  code/addons/a11y/src/components/Tabs.tsx
  code/addons/jest/src/components/Panel.tsx
  code/ui/manager/src/app.tsx
  code/ui/manager/src/components/layout/container.tsx
Labels: bug, ui

#20371 Fix trim vulnerability
  code/package.json
  code/yarn.lock
Labels: build
