Repository storybookjs/storybook, pull requests merged in 2023-12, with the labels that each got.

#25061 Next.js: Update validateData function for next/font compatibility
  code/frameworks/nextjs/src/font/webpack/loader/utils/local-font-utils.ts
Labels: maintenance, nextjs, ci:daily

#25084 Docs: Fix ArgTypes links
  docs/builders/vite.md
  docs/essentials/actions.md
  docs/essentials/controls.md
  docs/writing-docs/autodocs.md
  docs/writing-docs/doc-blocks.md
  docs/writing-stories/decorators.md
Labels: documentation, patch:yes, ci:docs

#24983 Next.js: Add next/font/local declarations support
  code/frameworks/nextjs/README.md
  code/frameworks/nextjs/src/font/webpack/loader/local/get-font-face-declarations.ts
Labels: bug, patch:yes, nextjs, ci:normal

#23896 Build: Fix Angular sandbox
  code/lib/instrumenter/src/instrumenter.ts
  code/ui/manager/src/globals/exports.ts
  code/yarn.lock
  scripts/tasks/sandbox-parts.ts
  scripts/tasks/sandbox.ts
Labels: bug, angular, build, ci:normal

#25098 Angular: Fix CSF Plugin
  code/addons/storysource/package.json
  code/lib/csf-plugin/src/index.ts
  code/lib/csf-tools/src/enrichCsf.test.ts
  code/lib/csf-tools/src/enrichCsf.ts
Labels: bug, angular, patch:yes, ci:daily

#25101 Angular: Drop v14.x support
  MIGRATION.md
  code/frameworks/angular/package.json
  code/lib/cli/src/automigrate/fixes/__snapshots__/angular-builders.test.ts.snap
  code/lib/cli/src/automigrate/fixes/angular-builders.test.ts
  code/lib/cli/src/automigrate/fixes/angular-builders.ts
  code/yarn.lock
Labels: maintenance, angular, ci:daily

#25104 Next.js: Drop Next.js < v13.5 support
  .circleci/config.yml
  MIGRATION.md
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/config/webpack.ts
  code/frameworks/nextjs/src/dependency-map.ts
  code/frameworks/nextjs/src/font/webpack/loader/google/get-font-face-declarations.ts
  code/frameworks/nextjs/src/font/webpack/loader/local/get-font-face-declarations.ts
  code/frameworks/nextjs/src/font/webpack/loader/utils/google-font-utils.ts
  code/frameworks/nextjs/src/font/webpack/loader/utils/local-font-utils.ts
  code/frameworks/nextjs/src/images/next-future-image.tsx
  code/frameworks/nextjs/src/images/webpack.ts
  code/frameworks/nextjs/src/nextImport/webpack.ts
  code/frameworks/nextjs/src/preset.ts
  code/frameworks/nextjs/src/routing/app-router-provider-mock.tsx
  code/frameworks/nextjs/src/routing/decorator.tsx
  code/frameworks/nextjs/src/styledJsx/decorator.tsx
  code/frameworks/nextjs/src/styledJsx/webpack.ts
  code/frameworks/nextjs/template/stories_nextjs-12-js/ImageFuture.stories.jsx
  code/frameworks/nextjs/template/stories_nextjs-12-js/Link.stories.jsx
  code/lib/cli/src/sandbox-templates.ts
  code/yarn.lock
Labels: maintenance, ci:daily

#25122 Docs: Fix Typo in A11y snippet
  docs/snippets/common/storybook-addon-a11y-component-config.ts-4-9.mdx
Labels: documentation, patch:yes, ci:docs

#25091 NextJS: Add experimental RSC support
  code/frameworks/nextjs/README.md
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/preset.ts
  code/frameworks/nextjs/src/previewRSC.tsx
  code/frameworks/nextjs/src/rsc/decorator.tsx
  code/frameworks/nextjs/template/stories/RSC.jsx
  code/frameworks/nextjs/template/stories/RSC.stories.jsx
  code/lib/cli/src/sandbox-templates.ts
  code/lib/types/src/modules/core-common.ts
  scripts/tasks/test-runner-build.ts
Labels: feature request, react, nextjs, ci:merged

#25051 Docs: Add missing `barHoverColor` in theme common snippet
  docs/snippets/common/your-theme.js.mdx
Labels: documentation, ci:docs

#25063 Docs: Readme move Storyshots to deprecated status
  Issue.md
  README.md
Labels: documentation, ci:docs

#25136 Docs: SWC compiler cross link to API docs
  docs/configure/compilers.md
Labels: documentation, patch:yes, ci:docs

#25062 Docs: Use encodeURIComponent to encode story name
  code/ui/blocks/src/blocks/Subheading.tsx
Labels: bug, addon: docs, ci:normal

#25151 Vue: Remove unused preset-vue-webpack
  code/package.json
  code/presets/vue-webpack/README.md
  code/presets/vue-webpack/package.json
  code/presets/vue-webpack/preset.js
  code/presets/vue-webpack/project.json
  code/presets/vue-webpack/src/framework-preset-vue-docs.ts
  code/presets/vue-webpack/src/framework-preset-vue.ts
  code/presets/vue-webpack/src/index.ts
  code/presets/vue-webpack/src/types.ts
  code/presets/vue-webpack/src/typings.d.ts
  code/presets/vue-webpack/tsconfig.json
  code/yarn.lock
  docs/get-started/installation-problems/vue.mdx
  test-storybooks/ember-cli/package.json
  test-storybooks/external-docs/package.json
  test-storybooks/server-kitchen-sink/package.json
  test-storybooks/standalone-preview/package.json
Labels: maintenance, vue, ci:normal

#25086 Core: Maintenance changes for NextJS embedding
  code/builders/builder-manager/src/utils/template.ts
  code/builders/builder-manager/templates/template.ejs
  code/lib/cli/src/generate.ts
  code/lib/core-server/src/build-dev.ts
  code/lib/core-server/src/utils/server-address.ts
  code/lib/preview-api/src/index.ts
  code/lib/preview-api/src/modules/preview-web/index.ts
  code/lib/preview-api/src/modules/store/csf/testing-utils/index.ts
  code/lib/types/src/modules/composedStory.ts
  code/lib/types/src/modules/core-common.ts
  code/renderers/react/src/entry-preview.ts
  code/renderers/react/src/render.tsx
  code/renderers/react/src/renderToCanvas.tsx
Labels: maintenance, core, ci:normal

#25152 Angular: Update Angular cli templates
  code/e2e-tests/json-files.spec.ts
  code/frameworks/angular/template/cli/User.ts
  code/frameworks/angular/template/cli/button.component.ts
  code/frameworks/angular/template/cli/button.stories.ts
  code/frameworks/angular/template/cli/header.component.ts
  code/frameworks/angular/template/cli/header.stories.ts
  code/frameworks/angular/template/cli/page.component.ts
  code/frameworks/angular/template/cli/page.stories.ts
  code/frameworks/angular/template/cli/user.ts
Labels: bug, angular, ci:daily

#23435 Ember: Fix @storybook/ember
  code/addons/docs/ember/README.md
  code/frameworks/ember/package.json
  code/frameworks/ember/src/client/docs/index.js
  code/frameworks/ember/src/client/preview/config.ts
  code/frameworks/ember/src/client/preview/docs/config.js
  code/frameworks/ember/src/client/preview/docs/config.ts
  code/frameworks/ember/src/client/preview/docs/index.js
  code/frameworks/ember/src/client/preview/docs/jsondoc.js
  code/frameworks/ember/src/client/preview/docs/jsondoc.ts
  code/frameworks/ember/src/client/preview/render.ts
  code/frameworks/ember/src/index.ts
  code/frameworks/ember/src/server/framework-preset-babel-ember.ts
  code/frameworks/ember/src/server/framework-preset-ember-docs.ts
  code/frameworks/ember/src/types.ts
  code/frameworks/ember/src/util.ts
  code/frameworks/ember/template/cli/Button.stories.js
  code/frameworks/ember/template/components/index.js
  code/frameworks/ember/template/stories/.gitkeep
  code/lib/cli/src/detect.ts
  code/lib/cli/src/generators/EMBER/index.ts
  code/lib/cli/src/project_types.ts
  code/lib/cli/src/sandbox-templates.ts
  code/lib/core-common/src/index.ts
  code/yarn.lock
  scripts/verdaccio.yaml
Labels: bug, ember, ci:normal

#25150 Addons: Remove unused postinstall package
  MIGRATION.md
  code/addons/docs/package.json
  code/addons/docs/postinstall/presets.js
  code/lib/cli/src/versions.ts
  code/lib/postinstall/README.md
  code/lib/postinstall/jest.config.js
  code/lib/postinstall/package.json
  code/lib/postinstall/project.json
  code/lib/postinstall/src/__testfixtures__/presets-add-preset-options/basic.input.js
  code/lib/postinstall/src/__testfixtures__/presets-add-preset-options/basic.output.snapshot
  code/lib/postinstall/src/__testfixtures__/presets-add-preset-options/empty.input.js
  code/lib/postinstall/src/__testfixtures__/presets-add-preset-options/empty.output.snapshot
  code/lib/postinstall/src/__testfixtures__/presets-add-preset/basic.input.js
  code/lib/postinstall/src/__testfixtures__/presets-add-preset/basic.output.snapshot
  code/lib/postinstall/src/__testfixtures__/presets-add-preset/empty.input.js
  code/lib/postinstall/src/__testfixtures__/presets-add-preset/empty.output.snapshot
  code/lib/postinstall/src/__testtransforms__/presets-add-preset-options.js
  code/lib/postinstall/src/__testtransforms__/presets-add-preset.js
  code/lib/postinstall/src/codemods.test.ts
  code/lib/postinstall/src/frameworks.test.ts
  code/lib/postinstall/src/frameworks.ts
  code/lib/postinstall/src/index.ts
  code/lib/postinstall/src/presets.ts
  code/lib/postinstall/tsconfig.json
  code/package.json
  code/yarn.lock
  test-storybooks/ember-cli/package.json
  test-storybooks/external-docs/package.json
  test-storybooks/server-kitchen-sink/package.json
  test-storybooks/standalone-preview/package.json
Labels: api: addons, maintenance, ci:normal

#25171 Sandboxes: Use yarn1 for sandbox generation
  scripts/sandbox/generate.ts
Labels: build, ci:normal

#25105 Maintenance: Set engines field to Node.js >= 18 for packages
  MIGRATION.md
  code/frameworks/angular/package.json
  code/frameworks/ember/package.json
  code/frameworks/html-webpack5/package.json
  code/frameworks/preact-webpack5/package.json
  code/frameworks/react-webpack5/package.json
  code/frameworks/server-webpack5/package.json
  code/frameworks/svelte-webpack5/package.json
  code/frameworks/vue3-webpack5/package.json
  code/frameworks/web-components-webpack5/package.json
  code/presets/html-webpack/package.json
  code/presets/preact-webpack/package.json
  code/presets/react-webpack/package.json
  code/presets/server-webpack/package.json
  code/presets/svelte-webpack/package.json
  code/presets/vue3-webpack/package.json
  code/presets/web-components-webpack/package.json
  code/renderers/html/package.json
  code/renderers/preact/package.json
  code/renderers/react/package.json
  code/renderers/server/package.json
  code/renderers/svelte/package.json
  code/renderers/vue3/package.json
  code/renderers/web-components/package.json
Labels: maintenance, ci:daily

#25157 Blocks: Fix Subtitle block for unattached docs pages
  code/addons/docs/template/stories/docs2/Title.mdx
  code/ui/blocks/src/blocks/Subtitle.tsx
Labels: bug, mdx, block: other, ci:normal

#24696 Addon-docs: Fix storybook MDX check
  code/addons/docs/src/plugins/mdx-plugin.ts
  code/lib/cli/src/automigrate/fixes/missing-babelrc.test.ts
Labels: bug, addon: docs, ci:normal

#24972 Angular: Add random attribute to bootstrapped selector
  code/frameworks/angular/src/client/angular-beta/AbstractRenderer.ts
  code/frameworks/angular/src/client/angular-beta/DocsRenderer.ts
  code/frameworks/angular/src/client/angular-beta/RendererFactory.test.ts
  code/frameworks/angular/src/client/angular-beta/utils/StoryUID.ts
Labels: bug, angular, ci:normal

#24531 Angular: Reduce the warnings from `ts-loader` via stricter list of `includes`
  code/lib/cli/templates/angular/application/template-csf/.storybook/tsconfig.json
  code/lib/cli/templates/angular/library/template-csf/.storybook/tsconfig.json
  code/lib/preview-api/template/stories/component-play.stories.ts
  scripts/tasks/sandbox-parts.ts
Labels: bug, angular, ci:merged

#24630 Docs: Explain how to clean local files for contributers
  CONTRIBUTING.md
Labels: documentation, ci:docs

#25001 Blocks: Render colors in the same order as provided
  code/ui/blocks/src/components/ColorPalette.tsx
Labels: bug, block: other, ci:normal

#25217 Build: Remove preact-webpack5 sandboxes
  .circleci/config.yml
  code/lib/cli/src/sandbox-templates.ts
Labels: build, ci:merged

#25132 SvelteKit: Fix missing `$app` modules
  code/frameworks/sveltekit/src/plugins/mock-sveltekit-stores.ts
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/Environment.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/Paths.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/environment.stories.js
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/paths.stories.js
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/Environment.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/Paths.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/environment.stories.js
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/paths.stories.js
Labels: bug, patch:yes, ci:daily, sveltekit

#19785 Docs: Improve inherited 'react-element-to-jsx-string'
  code/renderers/react/src/docs/jsxDecorator.test.tsx
  code/renderers/react/src/docs/jsxDecorator.tsx
Labels: bug, addon: docs, block: source, ci:normal

#25229 Docs: Remove documentation only components and MDX files
  docs/configure/frameworks-feature-support.md
  docs/essentials/auto-generated-controls/angular.mdx
  docs/essentials/auto-generated-controls/ember.mdx
  docs/essentials/auto-generated-controls/fallback.mdx
  docs/essentials/auto-generated-controls/react.mdx
  docs/essentials/auto-generated-controls/vue.mdx
  docs/essentials/auto-generated-controls/web-components.mdx
  docs/essentials/controls.md
  docs/get-started/install.md
  docs/get-started/installation-command-section/solid.mdx
  docs/get-started/installation-problems/angular.mdx
  docs/get-started/installation-problems/ember.mdx
  docs/get-started/installation-problems/html.mdx
  docs/get-started/installation-problems/preact.mdx
  docs/get-started/installation-problems/qwik.mdx
  docs/get-started/installation-problems/react.mdx
  docs/get-started/installation-problems/solid.mdx
  docs/get-started/installation-problems/svelte.mdx
  docs/get-started/installation-problems/vue.mdx
  docs/get-started/installation-problems/web-components.mdx
  docs/snippets/angular/angular-project-compodoc-config.json.mdx
  docs/snippets/angular/compodoc-install.npm.js.mdx
  docs/snippets/angular/compodoc-install.pnpm.js.mdx
  docs/snippets/angular/compodoc-install.yarn.js.mdx
  docs/snippets/angular/storybook-preview-compodoc-config.ts.mdx
  docs/snippets/common/init-command-custom-package-manager.npx.js.mdx
  docs/snippets/common/init-command-custom-package-manager.pnpm.js.mdx
  docs/snippets/common/init-command-custom-package-manager.yarn.js.mdx
  docs/snippets/common/init-command-manual-framework.npx.js.mdx
  docs/snippets/common/init-command-manual-framework.pnpm.js.mdx
  docs/snippets/common/init-command-manual-framework.yarn.js.mdx
  docs/snippets/ember/button-story-default-export-with-component.js.mdx
  docs/snippets/ember/storybook-ember-cli-build.js.mdx
  docs/snippets/ember/storybook-preview-custom-metadata.js.mdx
  docs/snippets/preact/button-story-default-export-with-component.js.mdx
  docs/snippets/svelte/main-config-csf-addon-register.js.mdx
  docs/snippets/svelte/main-config-csf-addon-register.ts.mdx
  docs/snippets/svelte/svelte-csf-addon-install.npm.js.mdx
  docs/snippets/svelte/svelte-csf-addon-install.pnpm.js.mdx
  docs/snippets/svelte/svelte-csf-addon-install.yarn.js.mdx
  docs/snippets/web-components/button-story-default-export-with-component.ts.mdx
  docs/snippets/web-components/component-story-custom-args-complex.js.mdx
  docs/snippets/web-components/component-story-custom-args-complex.ts.mdx
  docs/snippets/web-components/storybook-preview-custom-elements-config.js.mdx
  docs/snippets/web-components/storybook-preview-custom-elements-config.ts.mdx
  docs/writing-stories/index.md
Labels: documentation, patch:yes, ci:docs

#25221 Docs: Fixed Typo in documentation template
  docs/snippets/common/storybook-mdx-template-with-prop.mdx.mdx
Labels: documentation, patch:yes, ci:docs

#25230 Docs: Fix Install troubleshooting heading
  docs/get-started/install.md
Labels: documentation, patch:yes, ci:docs

#25235 UI: Embed `react-textarea-autosize` types
  code/ui/components/package.json
  code/ui/components/src/components/form/input/input.tsx
Labels: bug, ui, ci:normal

#25241 Build: Ignore changing `version` in SvelteKit story
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/Environment.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/Environment.svelte
Labels: patch:yes, build, sveltekit, ci:normal

#25236 API: Remove stories.json support
  MIGRATION.md
  code/lib/core-server/src/build-static.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.deprecated.test.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.test.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/core-server/src/utils/__tests__/index-extraction.test.ts
  code/lib/core-server/src/utils/getStoryIndexGenerator.ts
  code/lib/core-server/src/utils/stories-json.test.ts
  code/lib/core-server/src/utils/stories-json.ts
Labels: api: stories, BREAKING CHANGE, ci:normal

#25239 Core: Bundle for node18 in SB8
  scripts/prepare/addon-bundle.ts
  scripts/prepare/bundle.ts
  scripts/prepare/esm-bundle.ts
  scripts/prepare/facade.ts
Labels: maintenance, core, ci:normal

#24881 Addon Docs: Remove `react` peer dependency
  code/addons/docs/package.json
  code/addons/docs/src/ensure-react-peer-deps.ts
  code/addons/docs/src/preset.ts
  code/addons/docs/template/stories/docs2/ResolvedReact.mdx
  code/addons/docs/template/stories/docs2/ResolvedReactVersion.jsx
  code/addons/essentials/package.json
  code/e2e-tests/addon-docs.spec.ts
  code/e2e-tests/util.ts
  code/frameworks/nextjs/template/stories_nextjs-default-ts/Navigation.stories.tsx
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/react-dom-shim/src/preset.ts
  code/lib/theming/package.json
  code/lib/theming/src/index.ts
  code/package.json
  code/renderers/react/src/preset.ts
  code/ui/blocks/src/components/ArgsTable/ArgJsDoc.tsx
  code/ui/blocks/src/components/ArgsTable/ArgRow.tsx
  code/ui/blocks/src/components/Title.tsx
  code/ui/blocks/src/controls/options/Select.tsx
  code/ui/components/src/components/form/input/input.tsx
  code/ui/components/src/components/typography/elements/DL.tsx
  code/ui/components/src/components/typography/elements/LI.tsx
  code/ui/components/src/components/typography/elements/OL.tsx
  code/ui/components/src/components/typography/elements/P.tsx
  code/ui/components/src/components/typography/elements/UL.tsx
  code/ui/components/src/components/typography/lib/common.tsx
  code/yarn.lock
  scripts/yarn.lock
Labels: react, BREAKING CHANGE, addon: docs, ci:daily

#25196 CLI: No longer add react in init
  code/lib/cli/src/automigrate/fixes/add-react.test.ts
  code/lib/cli/src/automigrate/fixes/add-react.ts
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/generators/baseGenerator.ts
Labels: maintenance, cli, react, addon: docs, ci:normal

#25215 CLI: Add prompt-only automigrate asking for react-removal
  code/lib/cli/src/automigrate/fixes/prompt-remove-react.test.ts
  code/lib/cli/src/automigrate/fixes/prompt-remove-react.ts
Labels: feature request, cli, automigrations, ci:normal

#25199 Build: Add sandbox for react-16
  .circleci/config.yml
  code/lib/cli/src/sandbox-templates.ts
  scripts/get-template.ts
Labels: build, ci:daily

#25253 Docs: Adds list of available viewports
  docs/essentials/viewport.md
  docs/snippets/common/storybook-preview-granular-viewports.js.mdx
  docs/snippets/common/storybook-preview-granular-viewports.ts.mdx
Labels: documentation, patch:yes, ci:docs

#25244 SvelteKit: Support 2.0 modules with mocks
  code/e2e-tests/framework-svelte.spec.ts
  code/frameworks/sveltekit/README.md
  code/frameworks/sveltekit/package.json
  code/frameworks/sveltekit/src/mocks/app/navigation.ts
  code/frameworks/sveltekit/src/preview.ts
  code/frameworks/sveltekit/template/stories_svelte-kit-prerelease-ts/Navigation.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-prerelease-ts/navigation.stories.js
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/Navigation.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/navigation.stories.js
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/Navigation.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/navigation.stories.js
  code/yarn.lock
Labels: feature request, ci:daily, sveltekit

#25263 NextJS: Mock out `server-only` package for RSC
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/preset.ts
  code/frameworks/nextjs/src/rsc/preview.tsx
  code/frameworks/nextjs/src/rsc/server-only.ts
  code/frameworks/nextjs/src/rsc/webpack.ts
  code/frameworks/nextjs/template/stories/RSC.jsx
  code/lib/cli/src/sandbox-templates.ts
  scripts/tasks/sandbox-parts.ts
  scripts/tasks/sandbox.ts
Labels: feature request, react, nextjs, ci:normal

#25278 Docs: Test Coverage troubleshoot optimized builds
  docs/snippets/common/storybook-coverage-addon-optimized-config.js.mdx
  docs/snippets/common/storybook-coverage-addon-optimized-config.ts.mdx
  docs/writing-tests/test-coverage.md
Labels: documentation, patch:yes, ci:docs

#25286 Core: Skip no-framework error when ignorePreview=true
  code/lib/core-server/src/build-dev.ts
  code/lib/core-server/src/build-static.ts
Labels: bug, react-native, react-native-server, ci:normal

#25266 Core: Remove the `-s` flag from build & dev
  code/lib/cli/src/generate.ts
  code/lib/core-server/src/build-static.ts
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/core-server/src/utils/server-statics.ts
Labels: maintenance, core, ci:normal

#25291 Docs: Remove static dir flag from documentation
  docs/api/cli-options.md
  docs/configure/images-and-assets.md
  docs/get-started/setup.md
Labels: documentation, ci:docs

#25264 Core: Unique outputDir/cacheDir for each configDir
  code/builders/builder-manager/package.json
  code/builders/builder-manager/src/index.ts
  code/builders/builder-manager/src/utils/managerEntries.ts
  code/builders/builder-vite/src/vite-config.ts
  code/lib/core-common/src/utils/resolve-path-in-sb-cache.ts
  code/lib/core-server/src/build-dev.ts
  code/lib/core-server/src/build-static.ts
  code/lib/core-server/src/utils/copy-all-static-files.ts
  code/lib/types/src/modules/core-common.ts
  code/yarn.lock
Labels: bug, core, composition, monorepos, ci:normal

#25248 Docs: Doc Blocks updates for known limitations
  docs/api/doc-block-controls.md
  docs/api/doc-block-source.md
  docs/api/doc-block-story.md
  docs/writing-docs/autodocs.md
  docs/writing-docs/mdx.md
Labels: documentation, patch:yes, ci:docs

#25302 Docs: fix typo in `MIGRATION.md`
  MIGRATION.md
Labels: documentation, ci:docs

#25272 Docs: Addon-A11y - Documentation link to the docs for the test runner
  code/addons/a11y/README.md
Labels: documentation, addon: a11y, ci:docs

#25329 Vite: Fix pre-transform error in Vite 5
  code/builders/builder-vite/src/vite-server.ts
Labels: bug, patch:yes, builder-vite, ci:merged

#25311 Vue3: Fix pnp by making compiler-core a dependency
  code/renderers/vue3/package.json
  code/yarn.lock
Labels: bug, patch:yes, vue3, ci:normal

#25279 NextJS: Autoconfigure public directory for new projects
  code/lib/cli/src/generators/NEXTJS/index.ts
Labels: feature request, nextjs, ci:normal

#25382 CsfFile: Fix snapshot tests
  code/lib/csf-tools/src/CsfFile.test.ts
Labels: build, ci:normal

#25381 Docs: Build feature option fixes
  docs/api/main-config-build.md
  docs/snippets/common/main-config-test-disable-autodocs.js.mdx
  docs/snippets/common/main-config-test-disable-autodocs.ts.mdx
  docs/snippets/common/main-config-test-disable-blocks.js.mdx
  docs/snippets/common/main-config-test-disable-blocks.ts.mdx
  docs/snippets/common/main-config-test-disable-docgen.js.mdx
  docs/snippets/common/main-config-test-disable-docgen.ts.mdx
  docs/snippets/common/main-config-test-disable-mdx.js.mdx
  docs/snippets/common/main-config-test-disable-mdx.ts.mdx
  docs/snippets/common/main-config-test-disable-sourcemaps.js.mdx
  docs/snippets/common/main-config-test-disable-sourcemaps.ts.mdx
  docs/snippets/common/main-config-test-disable-treeshaking.js.mdx
  docs/snippets/common/main-config-test-disable-treeshaking.ts.mdx
Labels: documentation, patch:yes, ci:docs

#25395 Fix a small typo snapshot-testing.md
  docs/writing-tests/snapshot-testing.md
Labels: documentation, ci:docs
