Repository storybookjs/storybook, pull requests merged in 2023-11, with the labels that each got.

#24646 Docs: Fix formatting
  docs/snippets/react/document-screen-fetch-ts.mdx
Labels: documentation, ci:docs

#24611 Next.js: Add avif support
  code/frameworks/nextjs/README.md
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/next-image-loader-stub.ts
  code/frameworks/nextjs/template/stories/Image.stories.jsx
  code/lib/cli/rendererAssets/common/assets/avif-test-image.avif
  code/yarn.lock
Labels: bug, nextjs, ci:daily

#24647 Build: Less logging noise in CI
  scripts/prepare/bundle.ts
  scripts/prepare/check-scripts.ts
  scripts/prepare/check.ts
  scripts/prepare/esm-bundle.ts
  scripts/prepare/tsc.ts
  scripts/upload-bench.ts
Labels: build, ci:normal

#24393 CLI: Use @storybook/test in template stories
  code/e2e-tests/addon-interactions.spec.ts
  code/frameworks/angular/template/cli/Page.stories.ts
  code/frameworks/nextjs/template/cli/js/Page.stories.js
  code/frameworks/nextjs/template/cli/ts-3-8/Page.stories.ts
  code/frameworks/nextjs/template/cli/ts-4-9/Page.stories.ts
  code/lib/cli/src/generators/baseGenerator.ts
  code/lib/test/src/expect.ts
  code/package.json
  code/renderers/html/template/cli/js/Page.stories.js
  code/renderers/html/template/cli/ts-3-8/Page.stories.ts
  code/renderers/html/template/cli/ts-4-9/Page.stories.ts
  code/renderers/preact/template/cli/Page.stories.jsx
  code/renderers/react/template/cli/js/Page.stories.js
  code/renderers/react/template/cli/ts-3-8/Page.stories.ts
  code/renderers/react/template/cli/ts-4-9/Page.stories.ts
  code/renderers/svelte/template/cli/js/Page.stories.js
  code/renderers/svelte/template/cli/ts-3-8/Page.stories.ts
  code/renderers/svelte/template/cli/ts-4-9/Page.stories.ts
  code/renderers/vue/template/cli/Page.stories.js
  code/renderers/vue3/template/cli/js/Page.stories.js
  code/renderers/vue3/template/cli/ts-3-8/Page.stories.ts
  code/renderers/vue3/template/cli/ts-4-9/Page.stories.ts
  code/yarn.lock
Labels: feature request, cli, ci:merged

#24649 Docs: Fix links to indexers API
  docs/configure/sidebar-and-urls.md
Labels: documentation, patch:yes, ci:docs

#24648 Next.js: Fix forwarding ref for Image component
  code/frameworks/nextjs/src/images/next-image.tsx
  code/frameworks/nextjs/template/stories/Image.stories.jsx
Labels: bug, nextjs, ci:daily

#24670 Dependencies: Update @babel/traverse and @babel/core to fix vulnerability
  RESOLUTIONS.md
  code/package.json
  code/yarn.lock
Labels: dependencies, ci:normal

#24671 Dependencies: Update nx dependencies to v17
  code/.gitignore
  code/.prettierignore
  code/migrations.json
  code/nx.json
  code/package.json
  code/yarn.lock
  scripts/.gitignore
  scripts/package.json
  scripts/yarn.lock
Labels: dependencies, ci:normal

#24674 Dependencies: Update browserify-sign transitive dependency
  code/yarn.lock
Labels: dependencies, ci:normal

#24602 UI: Update zIndex on NotificationList to fix the notification not being clickable in certain cases
  code/ui/manager/src/components/notifications/NotificationList.tsx
Labels: bug, ui, ci:normal

#24525 UI: Fix button contrast-ratio
  code/lib/theming/src/themes/light.ts
Labels: bug, ui, patch:yes, ci:normal

#24668 CLI: Ensure errors with opening the browser are caught
  code/lib/core-server/src/utils/open-in-browser.ts
Labels: bug, cli, ci:normal

#24527 GitHub Pages publish guide
  docs/sharing/publish-storybook.md
  docs/snippets/common/ghp-github-action.yml.mdx
Labels: documentation, patch:yes, ci:docs

#24678 Storybook Test: Add readme
  code/lib/test/README.md
Labels: documentation, ci:docs

#24650 TestBuild: Globalize `@storybook/blocks` if `build.test.emptyBlocks` is `true`
  .circleci/config.yml
  code/.eslintrc.js
  code/builders/builder-vite/input/iframe.html
  code/builders/builder-vite/src/transform-iframe-html.ts
  code/builders/builder-vite/src/vite-config.ts
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/frameworks/nextjs/src/preset.ts
  code/lib/cli/src/sandbox-templates.ts
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/preview/src/globals/types.ts
  code/lib/types/src/modules/core-common.ts
Labels: feature request, ci:normal

#24720 Docs: Addon Designs removes non-existing import
  docs/snippets/angular/component-story-figma-integration.ts.mdx
  docs/snippets/react/component-story-figma-integration.js.mdx
  docs/snippets/react/component-story-figma-integration.ts-4-9.mdx
  docs/snippets/react/component-story-figma-integration.ts.mdx
  docs/snippets/solid/component-story-figma-integration.js.mdx
  docs/snippets/solid/component-story-figma-integration.ts-4-9.mdx
  docs/snippets/solid/component-story-figma-integration.ts.mdx
  docs/snippets/svelte/component-story-figma-integration.js.mdx
  docs/snippets/svelte/component-story-figma-integration.mdx.mdx
  docs/snippets/vue/component-story-figma-integration.js.mdx
  docs/snippets/vue/component-story-figma-integration.ts-4-9.mdx
  docs/snippets/vue/component-story-figma-integration.ts.mdx
  docs/snippets/web-components/component-story-figma-integration.js.mdx
  docs/snippets/web-components/component-story-figma-integration.ts.mdx
Labels: documentation, patch:yes, ci:docs

#24717 Angular: Support v17
  code/frameworks/angular/package.json
  code/yarn.lock
Labels: feature request, angular, patch:yes, ci:daily

#24732 ReactNative: Fix missing assert dep in docs-tools
  code/lib/docs-tools/package.json
  code/yarn.lock
Labels: bug, addon: docs, ci:normal

#24726 UI: Logo fixed value
  code/ui/manager/src/components/sidebar/Brand.tsx
Labels: bug, ui, ci:normal

#24408 UI: Fix horizontal scroll bar in Canvas hidden by styling
  code/ui/blocks/src/components/Preview.tsx
Labels: maintenance, ci:normal

#24673 Build: Remove `lerna`
  MAINTAINERS.md
  README.md
  code/lerna.json
  code/lib/cli/scripts/generate-sb-packages-versions.js
  code/package.json
  code/yarn.lock
  scripts/build-package.ts
  scripts/publish.sh
  scripts/run-registry.ts
  scripts/utils/list-packages.ts
  scripts/utils/workspace.ts
Labels: build, ci:normal

#24724 Update button-story-auto-docs.ts.mdx
  docs/snippets/web-components/button-story-auto-docs.ts.mdx
Labels: documentation, patch:yes, ci:docs

#24749 Webpack5: Add export-order-loader and remove babel-plugin-named-exports-order
  code/builders/builder-webpack5/package.json
  code/builders/builder-webpack5/src/loaders/export-order-loader.ts
  code/builders/builder-webpack5/src/presets/preview-preset.ts
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/lib/cli/src/generators/REACT_SCRIPTS/index.ts
  code/yarn.lock
Labels: feature request, builder-webpack5, ci:daily

#24784 Webpack5: Hide critical dependency warning
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
Labels: bug, ci:normal

#24768 Angular: Include object configured styles
  code/frameworks/angular/src/server/angular-cli-webpack.js
Labels: bug, angular, ci:daily

#24762 Webpack5: Add react-docgen loader and remove babel-plugin-react-docgen
  code/addons/docs/src/typings.d.ts
  code/jest.config.js
  code/lib/docs-tools/package.json
  code/presets/create-react-app/package.json
  code/presets/react-webpack/jest.config.js
  code/presets/react-webpack/package.json
  code/presets/react-webpack/src/framework-preset-react-docs.test.ts
  code/presets/react-webpack/src/framework-preset-react-docs.ts
  code/presets/react-webpack/src/loaders/react-docgen-loader.ts
  code/presets/react-webpack/src/requirer.ts
  code/presets/server-webpack/jest.config.js
  code/yarn.lock
Labels: feature request, react, builder-webpack5, ci:daily

#24691 TestBuild: Disable docs related stuff for test builds
  .circleci/config.yml
  code/lib/core-common/src/presets.ts
  code/lib/core-server/src/build-static.ts
  code/lib/core-server/src/presets/common-override-preset.ts
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/types/src/modules/core-common.ts
  scripts/event-log-checker.ts
  scripts/task.ts
  scripts/tasks/build.ts
Labels: feature request, core, ci:normal

#24706 TestBuild: Disable telemetry for test builds
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/core-server/src/withTelemetry.ts
Labels: maintenance, core, ci:normal

#24797 TestBuild: Disable warnOnIncompatibleAddons
  code/lib/core-server/src/build-static.ts
Labels: feature request, ci:normal

#24799 TestBuild: Disable composition when `--test` is `true`
  code/lib/core-common/src/utils/get-storybook-refs.ts
Labels: feature request, ci:normal

#24798 Angular: Handle nested module metadata
  code/frameworks/angular/src/client/angular-beta/utils/NgModulesAnalyzer.ts
Labels: bug, angular, ci:normal

#24804 TestBuild: No sourcemaps for test builds
  code/builders/builder-vite/src/build.ts
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
Labels: feature request, ci:normal

#24817 Webpack5: Fix race condition for export-order loader
  code/builders/builder-webpack5/package.json
  code/builders/builder-webpack5/src/loaders/export-order-loader.ts
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/yarn.lock
Labels: bug, builder-webpack5, ci:daily

#24805 SWC: Add settings for react and preact
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/builders/builder-webpack5/src/preview/loaders.ts
  code/lib/types/src/modules/core-common.ts
  code/presets/preact-webpack/src/index.ts
  code/presets/react-webpack/package.json
  code/presets/react-webpack/src/framework-preset-react.ts
  code/yarn.lock
Labels: feature request, react, preact, ci:normal

#24776 Docs: Document new addon bundling strategy
  MIGRATION.md
  docs/addons/writing-addons.md
  docs/snippets/common/storybook-addon-toolkit-tsup-config.ts.mdx
Labels: documentation, ci:docs

#24825 Build: Log benchmark task error
  scripts/tasks/bench.ts
Labels: build, ci:normal

#24800 Svelte: Fix source with decorators always showing the `SlotDecorator` component
  code/e2e-tests/framework-svelte.spec.ts
  code/frameworks/svelte-vite/src/plugins/svelte-docgen.ts
  code/renderers/svelte/src/docs/sourceDecorator.ts
  code/renderers/svelte/template/stories/slot-decorators.stories.js
Labels: bug, svelte, ci:daily

#24826 TestBuild: Implement builder options for test build
  code/builders/builder-vite/src/build.ts
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/lib/core-server/src/build-static.ts
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/types/src/modules/core-common.ts
Labels: feature request, core, ci:normal

#24836 Build: Add @storybook/addon-coverage to proxy list in verdaccio config
  scripts/verdaccio.yaml
Labels: build, ci:normal

#24833 Issue 24747: Prevent non-deterministic build output
  code/builders/builder-vite/src/list-stories.ts
Labels: bug, builder-vite, ci:normal

#24837 FastBuild: Improve config loading & naming
  code/builders/builder-vite/src/transform-iframe-html.ts
  code/builders/builder-vite/src/vite-config.ts
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/lib/core-common/src/presets.ts
  code/lib/core-server/src/presets/common-override-preset.ts
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/types/src/modules/core-common.ts
  docs/versions/next.json
Labels: feature request, core, presets, builder-webpack5, builder-vite, builder-manager, ci:normal

#24771 Addon: Move Visual Test addon to the code directory
  code/package.json
  code/ui/components/package.json
  code/yarn.lock
Labels: dependencies, ci:normal

#24777 Viewport: Add newer device viewports
  code/addons/viewport/src/defaults.ts
Labels: feature request, addon: viewport, ci:normal

#24843 TestBuild: Revert defaulting to SWC in test build, but keep using esbuild for minification
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/lib/core-server/src/presets/common-override-preset.ts
  code/lib/types/src/modules/core-common.ts
Labels: feature request, builder-webpack5, ci:normal

#24841 Next.js: Use ESM instead of CJS
  code/addons/actions/package.json
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/nextImport/webpack.ts
  code/frameworks/nextjs/src/preset.ts
  code/frameworks/nextjs/src/routing/app-router-provider.tsx
  code/frameworks/nextjs/src/routing/decorator.tsx
  code/frameworks/nextjs/src/routing/page-router-provider.tsx
  code/yarn.lock
Labels: maintenance, addon: actions, nextjs, ci:daily

#24850 Build: Fix benchmark command
  .github/workflows/generate-sandboxes-main.yml
  .github/workflows/generate-sandboxes-next.yml
  scripts/check-dependencies.cjs
  scripts/check-dependencies.ts
  scripts/tasks/bench.ts
Labels: build, ci:daily

#24704 Build: Create `help.yml`
  .github/DISCUSSION_TEMPLATE/help.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: build, ci:docs

#24847 Typescript: Add 'skipCompiler' option to TypeScript presets
  MIGRATION.md
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/frameworks/angular/src/preset.ts
  code/frameworks/vue-vite/src/preset.ts
  code/frameworks/vue-webpack5/src/preset.ts
  code/frameworks/vue3-webpack5/src/preset.ts
  code/lib/types/src/modules/core-common.ts
  docs/api/main-config-typescript.md
  docs/snippets/common/main-config-typescript-skip-compiler.ts.mdx
Labels: feature request, ci:normal

#24866 ManagerAPI: Fix setting status without index, crashes storybook
  code/lib/manager-api/src/modules/stories.ts
  code/lib/manager-api/src/tests/stories.test.ts
Labels: bug, patch:yes, ci:normal

#24858 Core: Gracefully handle error when parsing preview.js file
  code/lib/csf-tools/src/ConfigFile.ts
  code/lib/telemetry/src/storybook-metadata.ts
Labels: bug, patch:yes, telemetry, ci:normal

#24856 Actions: Warn on implicit actions
  MIGRATION.md
  code/addons/actions/src/addArgsHelpers.ts
  code/addons/actions/src/models/ActionOptions.ts
  code/addons/actions/src/runtime/action.ts
  code/addons/actions/src/typings.d.ts
  code/lib/core-events/src/errors/preview-errors.ts
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/types/src/modules/core-common.ts
Labels: feature request, addon: actions, ci:normal

#24862 TestBuild: Add env-variable support to `--test` CLI-flag
  code/lib/cli/src/generate.ts
Labels: feature request, cli, ci:normal

#24882 chore: remove warnings by updating to jscodeshift@0.15.1
  code/lib/cli/package.json
  code/yarn.lock
Labels: dependencies, ci:normal

#24890 TestBuild: Fix indexer bug
  code/lib/core-common/src/utils/normalize-stories.ts
  code/lib/core-server/src/presets/common-override-preset.ts
  code/ui/.storybook/main.ts
  code/ui/components/src/components/typography/DocumentFormattingSample.mdx
  code/ui/components/src/components/typography/DocumentWrapper.stories.tsx
Labels: bug, ci:normal

#24911 TestBuild: Add tests and rename to camelCase
  code/lib/core-common/src/utils/normalize-stories.ts
  code/lib/core-server/src/presets/common-override-preset.ts
  code/lib/core-server/src/utils/__tests__/remove-mdx-stories.test.ts
  code/lib/core-server/src/utils/remove-mdx-entries.ts
Labels: feature request, core, ci:normal

#24916 Docs: Minor changes for code contribution docs
  docs/contribute/code.md
Labels: documentation, ci:docs

#24907 Docs: Update design integration docs
  docs/sharing/design-integrations.md
Labels: documentation, patch:yes, ci:docs

#24645 Docs: Test runner minor fixes
  docs/snippets/common/my-component-exclude-tags.story.js.mdx
  docs/snippets/common/my-component-exclude-tags.story.ts.mdx
  docs/snippets/common/my-component-include-tags.story.js.mdx
  docs/snippets/common/my-component-include-tags.story.ts.mdx
  docs/snippets/common/my-component-skip-tags.story.js.mdx
  docs/snippets/common/my-component-skip-tags.story.ts.mdx
  docs/snippets/common/test-runner-a11y-config.js.mdx
  docs/snippets/common/test-runner-a11y-config.ts.mdx
  docs/snippets/common/test-runner-a11y-configure.js.mdx
  docs/snippets/common/test-runner-a11y-configure.ts.mdx
  docs/snippets/common/test-runner-a11y-disable.js.mdx
  docs/snippets/common/test-runner-a11y-disable.ts.mdx
  docs/snippets/common/test-runner-auth.js.mdx
  docs/snippets/common/test-runner-auth.ts.mdx
  docs/snippets/common/test-runner-custom-page-viewport.js.mdx
  docs/snippets/common/test-runner-custom-page-viewport.ts.mdx
  docs/snippets/common/test-runner-helper-function.js.mdx
  docs/snippets/common/test-runner-helper-function.ts.mdx
  docs/snippets/common/test-runner-hooks-example.js.mdx
  docs/snippets/common/test-runner-hooks-example.ts.mdx
  docs/snippets/common/test-runner-tags-config.js.mdx
  docs/snippets/common/test-runner-tags-config.ts.mdx
  docs/snippets/common/test-runner-tags-exclude.config.js.mdx
  docs/snippets/common/test-runner-tags-exclude.config.ts.mdx
  docs/snippets/common/test-runner-tags-include.config.js.mdx
  docs/snippets/common/test-runner-tags-include.config.ts.mdx
  docs/snippets/common/test-runner-tags-skip.config.js.mdx
  docs/snippets/common/test-runner-tags-skip.config.ts.mdx
  docs/snippets/common/test-runner-waitpageready.js.mdx
  docs/snippets/common/test-runner-waitpageready.ts.mdx
  docs/writing-tests/accessibility-testing.md
  docs/writing-tests/test-runner.md
Labels: documentation, ci:docs

#24904 Docs: Adds test flag feature
  docs/api/cli-options.md
  docs/api/main-config-build.md
  docs/api/main-config.md
  docs/configure/overview.md
  docs/faq.md
  docs/sharing/publish-storybook.md
  docs/snippets/common/main-config-test-disable-autodocs.js.mdx
  docs/snippets/common/main-config-test-disable-autodocs.ts.mdx
  docs/snippets/common/main-config-test-disable-blocks.js.mdx
  docs/snippets/common/main-config-test-disable-blocks.ts.mdx
  docs/snippets/common/main-config-test-disable-disableaddons.js.mdx
  docs/snippets/common/main-config-test-disable-disableaddons.ts.mdx
  docs/snippets/common/main-config-test-disable-docgen.js.mdx
  docs/snippets/common/main-config-test-disable-docgen.ts.mdx
  docs/snippets/common/main-config-test-disable-mdx.js.mdx
  docs/snippets/common/main-config-test-disable-mdx.ts.mdx
  docs/snippets/common/main-config-test-disable-sourcemaps.js.mdx
  docs/snippets/common/main-config-test-disable-sourcemaps.ts.mdx
  docs/snippets/common/main-config-test-disable-treeshaking.js.mdx
  docs/snippets/common/main-config-test-disable-treeshaking.ts.mdx
  docs/snippets/common/storybook-build-test-flag.npm.js.mdx
  docs/snippets/common/storybook-build-test-flag.pnpm.js.mdx
  docs/snippets/common/storybook-build-test-flag.yarn.js.mdx
  docs/toc.js
Labels: documentation, ci:docs

#24922 Next.js: Fix import path in swc loader
  code/frameworks/nextjs/src/swc/loader.ts
Labels: bug, ci:normal

#24868 GitHub: Update help.yml
  .github/DISCUSSION_TEMPLATE/help.yml
Labels: build, ci:docs

#24909 Scripts: Change check-dependencies script to js
  .github/workflows/generate-sandboxes-main.yml
  .github/workflows/generate-sandboxes-next.yml
  code/lib/cli/src/sandbox-templates.ts
  scripts/check-dependencies.js
  scripts/check-dependencies.ts
  scripts/sandbox/generate.ts
Labels: build, ci:normal

#24945 Build: Use Vite plugin resolution workaround in CI
  code/lib/cli/src/js-package-manager/NPMProxy.ts
  code/lib/cli/src/js-package-manager/PNPMProxy.ts
  code/lib/cli/src/js-package-manager/Yarn1Proxy.ts
  code/lib/cli/src/js-package-manager/Yarn2Proxy.ts
  code/package.json
  code/yarn.lock
  scripts/tasks/sandbox-parts.ts
  scripts/utils/yarn.ts
Labels: build, ci:daily

#24924 FastBuild: Fix disabledAddons filter
  code/lib/core-common/src/presets.test.ts
  code/lib/core-common/src/presets.ts
Labels: bug, ci:normal

#24877 Core: Detect no matching export error in storybook start and build
  code/lib/core-events/src/errors/server-errors.ts
  code/lib/core-server/src/build-dev.ts
  code/lib/core-server/src/build-static.ts
  code/lib/core-server/src/utils/build-or-throw.ts
Labels: bug, patch:yes, core, ci:normal

#24880 Core: Make warnOnIncompatibleAddons fault-tolerant
  code/lib/core-server/src/build-dev.ts
Labels: feature request, ci:normal

#23950 Core: Add deprecation notice for Vite + CommonJS
  MIGRATION.md
  code/lib/core-server/src/build-dev.ts
Labels: maintenance, core, ci:normal

#24921 Svelte: Fix decorators always running twice
  code/e2e-tests/framework-svelte.spec.ts
  code/renderers/svelte/template/stories/decorators-runs-once.stories.js
  code/renderers/svelte/templates/PreviewRender.svelte
Labels: bug, svelte, ci:daily

#24939 Docs: Minor clarifications
  code/presets/create-react-app/README.md
  docs/snippets/common/storybook-preview-sort-function.ts.mdx
  docs/writing-tests/test-runner.md
Labels: documentation, ci:docs

#24795 SvelteKit: Add experimental page and navigation mocking
  code/e2e-tests/framework-svelte.spec.ts
  code/frameworks/sveltekit/README.md
  code/frameworks/sveltekit/package.json
  code/frameworks/sveltekit/src/mocks/app/forms.ts
  code/frameworks/sveltekit/src/mocks/app/navigation.ts
  code/frameworks/sveltekit/src/mocks/app/stores.ts
  code/frameworks/sveltekit/src/plugins/config-overrides.ts
  code/frameworks/sveltekit/src/plugins/mock-sveltekit-stores.ts
  code/frameworks/sveltekit/src/preset.ts
  code/frameworks/sveltekit/src/preview.ts
  code/frameworks/sveltekit/src/types.ts
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/Forms.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/Hrefs.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/Navigation.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/Stores.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/forms.stories.js
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/hrefs.stories.js
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/navigation.stories.js
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/stores.stories.js
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/Forms.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/Hrefs.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/Navigation.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/Stores.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/forms.stories.js
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/hrefs.stories.js
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/navigation.stories.js
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/stores.stories.js
  code/renderers/svelte/template/stories/decorators-runs-once.stories.js
  code/yarn.lock
Labels: feature request, ci:daily, sveltekit

#22631 Core: Fix `useStoryPrepared` hook failing with `undefined` data
  code/lib/manager-api/src/modules/stories.ts
Labels: bug, core, ci:normal

#24950 Next.js: Fix E2E tests failing to navigate to story
  code/e2e-tests/framework-nextjs.spec.ts
Labels: nextjs, build, ci:daily

#22236 CLI: Add "doctor" command
  code/lib/cli/src/automigrate/fixes/incompatible-addons.test.ts
  code/lib/cli/src/automigrate/fixes/incompatible-addons.ts
  code/lib/cli/src/automigrate/helpers/getMigrationSummary.test.ts
  code/lib/cli/src/automigrate/helpers/getMigrationSummary.ts
  code/lib/cli/src/doctor/getDuplicatedDepsWarnings.ts
  code/lib/cli/src/doctor/getIncompatibleAddons.ts
  code/lib/cli/src/doctor/getMismatchingVersionsWarning.ts
  code/lib/cli/src/doctor/hasMultipleVersions.ts
  code/lib/cli/src/doctor/index.ts
  code/lib/cli/src/generate.ts
  code/lib/core-events/src/errors/server-errors.ts
  code/lib/core-server/src/utils/warnOnIncompatibleAddons.ts
Labels: feature request, cli, ci:normal

#24948 Test: Model loaders as before each and restore mocks properly
  code/addons/actions/src/addArgs.ts
  code/addons/actions/src/addArgsHelpers.ts
  code/addons/actions/src/loaders.ts
  code/addons/actions/src/preview.ts
  code/addons/links/package.json
  code/addons/storyshots-puppeteer/package.json
  code/lib/codemod/package.json
  code/lib/core-server/package.json
  code/lib/csf-tools/package.json
  code/lib/manager-api/package.json
  code/lib/preview-api/package.json
  code/lib/preview-api/src/modules/client-api/ClientApi.ts
  code/lib/preview-api/src/modules/preview-web/docs-context/DocsContext.ts
  code/lib/preview-api/src/modules/preview-web/render/CsfDocsRender.ts
  code/lib/preview-api/src/modules/preview-web/render/MdxDocsRender.ts
  code/lib/preview-api/src/modules/store/csf/normalizeArrays.ts
  code/lib/preview-api/src/modules/store/csf/normalizeProjectAnnotations.ts
  code/lib/preview-api/src/modules/store/csf/normalizeStory.ts
  code/lib/preview-api/src/modules/store/csf/prepareStory.test.ts
  code/lib/preview-api/src/modules/store/csf/prepareStory.ts
  code/lib/preview-api/src/modules/store/csf/testing-utils/index.ts
  code/lib/preview-api/src/modules/store/sortStories.ts
  code/lib/source-loader/package.json
  code/lib/test/package.json
  code/lib/test/src/index.ts
  code/lib/test/src/spy.ts
  code/lib/types/package.json
  code/lib/types/src/modules/story.ts
  code/package.json
  code/renderers/server/package.json
  code/ui/blocks/package.json
  code/ui/components/package.json
  code/yarn.lock
Labels: feature request, ci:normal

#24963 Next.js: Remove duplicate Fast Refresh plugin init
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/swc/loader.ts
  code/yarn.lock
Labels: bug, nextjs, ci:daily

#24966 Test: Don't attach action to function mock if action was added already
  code/addons/actions/src/loaders.ts
Labels: bug, addon: actions, ci:normal

#24955 SvelteKit: Default to log an action for `goto`, `invalidate` and `invalidateAll`
  code/e2e-tests/framework-svelte.spec.ts
  code/frameworks/sveltekit/README.md
  code/frameworks/sveltekit/src/preview.ts
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/Navigation.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-js/navigation.stories.js
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/Navigation.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/navigation.stories.js
Labels: feature request, ci:daily, sveltekit

#24655 Core: Remove `storiesOf`-API
  code/frameworks/angular/src/client/public-api.ts
  code/frameworks/ember/src/client/preview/index.ts
  code/frameworks/ember/src/index.ts
  code/lib/preview-api/src/modules/client-api/ClientApi.test.ts
  code/lib/preview-api/src/modules/client-api/ClientApi.ts
  code/lib/preview-api/src/modules/core-client/start.test.ts
  code/lib/preview-api/src/modules/core-client/start.ts
  code/lib/types/src/modules/addons.ts
  code/renderers/html/src/index.ts
  code/renderers/html/src/public-api.ts
  code/renderers/preact/src/index.ts
  code/renderers/preact/src/public-api.ts
  code/renderers/react/src/index.ts
  code/renderers/react/src/public-api.test.ts
  code/renderers/react/src/public-api.tsx
  code/renderers/server/src/index.ts
  code/renderers/server/src/public-api.ts
  code/renderers/svelte/src/index.ts
  code/renderers/svelte/src/public-api.ts
  code/renderers/vue/src/index.ts
  code/renderers/vue/src/public-api.ts
  code/renderers/vue3/src/public-api.ts
  code/renderers/web-components/src/index.ts
  code/renderers/web-components/src/public-api.ts
  code/ui/components/src/components/syntaxhighlighter/syntaxhighlighter.stories.tsx
Labels: api: stories, maintenance, story index, ci:daily

#24974 Webpack5: Resolve circular dependency and fix HMR
  code/builders/builder-webpack5/package.json
  code/builders/builder-webpack5/src/index.ts
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/builders/builder-webpack5/src/preview/virtual-module-mapping.ts
  code/builders/builder-webpack5/templates/virtualModuleEntry.template.js
  code/builders/builder-webpack5/templates/virtualModuleStory.template.js
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/swc/loader.ts
  code/lib/core-webpack/package.json
  code/lib/core-webpack/src/index.ts
  code/yarn.lock
Labels: bug, builder-webpack5, ci:daily

#24211 Manager: Enable refs filtered via `experimental_setFilter`
  code/lib/manager-api/src/lib/stories.ts
  code/lib/manager-api/src/modules/refs.ts
  code/lib/manager-api/src/modules/stories.ts
  code/lib/manager-api/src/tests/refs.test.ts
  code/lib/manager-api/src/tests/stories.test.ts
  code/lib/types/src/modules/api.ts
  code/ui/manager/src/components/sidebar/RefBlocks.tsx
  code/ui/manager/src/components/sidebar/Sidebar.stories.tsx
Labels: bug, ci:normal

#24976 Core: Prebundling globalize the core-event sub paths
  code/lib/preview/src/globals/globals.ts
  code/lib/preview/src/globals/runtime.ts
  code/lib/preview/src/typings.d.ts
  code/ui/manager/src/globals/exports.ts
  code/ui/manager/src/globals/globals.ts
  code/ui/manager/src/globals/runtime.ts
  code/ui/manager/src/typings.d.ts
Labels: bug, core, ci:normal

#24954 Docs: Visual snaphot test changes
  code/addons/storyshots-core/README.md
  code/addons/storyshots-puppeteer/README.md
  docs/snippets/common/portable-stories-import-annotations.js.mdx
  docs/snippets/common/portable-stories-jest-multi-snapshot-test.js.mdx
  docs/snippets/common/portable-stories-jest-snapshot-test.js.mdx
  docs/snippets/common/portable-stories-jest-snapshot-test.ts.mdx
  docs/snippets/common/portable-stories-vitest-multi-snapshot-test.js.mdx
  docs/snippets/common/portable-stories-vitest-snapshot-test.js.mdx
  docs/snippets/common/portable-stories-vitest-snapshot-test.ts.mdx
  docs/snippets/common/test-runner-config-serializer.js.mdx
  docs/snippets/common/test-runner-config-snapshot-resolver.js.mdx
  docs/snippets/common/test-runner-custom-snapshot-resolver.js.mdx
  docs/snippets/common/test-runner-custom-snapshot-serializer.js.mdx
  docs/snippets/common/test-runner-dom-snapshot-testing.js.mdx
  docs/snippets/common/test-runner-dom-snapshot-testing.ts.mdx
  docs/snippets/common/test-runner-eject-config.npm.js.mdx
  docs/snippets/common/test-runner-eject-config.pnpm.js.mdx
  docs/snippets/common/test-runner-eject-config.yarn.js.mdx
  docs/snippets/common/test-runner-image-snapshot-testing.js.mdx
  docs/snippets/common/test-runner-image-snapshot-testing.ts.mdx
  docs/toc.js
  docs/writing-tests/snapshot-testing.md
  docs/writing-tests/storyshots-migration-guide.md
Labels: documentation, ci:docs

#23485 Update controls.md
  docs/essentials/controls.md
Labels: documentation, ci:docs

#20791 Core: Improve project root detection logic
  code/lib/core-common/src/utils/paths.ts
Labels: feature request, ci:normal

#23110 Mdx : Theme `fontCode` not applied consistently when writing MDX
  code/ui/blocks/src/components/Source.tsx
  code/ui/components/src/components/syntaxhighlighter/syntaxhighlighter.tsx
Labels: bug, mdx, ci:normal

#24896 Addon Viewport: Expose types for user parameter validation
  code/addons/viewport/src/index.ts
Labels: feature request, addon: viewport, typescript, ci:normal

#24984 UI: Screen reader announcing changes for expand/collapse button
  code/ui/manager/src/components/sidebar/Tree.tsx
Labels: bug, ui, accessibility, ci:normal

#22395 Maintenance: Migrate `@storybook/preset-create-react-app` to strict TS
  code/presets/create-react-app/src/helpers/checkPresets.ts
  code/presets/create-react-app/src/helpers/mergePlugins.ts
  code/presets/create-react-app/src/helpers/processCraConfig.ts
  code/presets/create-react-app/src/index.ts
  code/presets/create-react-app/tsconfig.json
Labels: maintenance, ci:normal

#24991 Next.js: Fix Fast Refresh config for SWC mode
  code/frameworks/nextjs/src/swc/loader.ts
Labels: bug, nextjs, ci:normal

#24990 Sandbox: Add required flags to `create-svelte-with-args` CLI for SvelteKit
  code/lib/cli/src/repro-generators/configs.ts
  code/lib/cli/src/sandbox-templates.ts
Labels: patch:yes, build, sveltekit, ci:normal

#24993 Next.js: Fix react-docgen usage with preset-env settings
  code/presets/react-webpack/src/framework-preset-react-docs.test.ts
  code/presets/react-webpack/src/framework-preset-react-docs.ts
  code/presets/react-webpack/src/loaders/react-docgen-loader.ts
Labels: bug, nextjs, ci:daily

#25004 Test: Downgrade @testing-library/user-event to 14.3.0
  code/lib/test/package.json
  code/yarn.lock
Labels: bug, ci:normal

#21195 Essentials: Export interface `PresetOptions`
  code/addons/essentials/src/index.ts
Labels: typescript, addon: essentials, ci:normal

#21517 Documentation: Updated TS documentation for re-using play functions
  docs/snippets/common/my-component-play-function-composition.js.mdx
  docs/snippets/common/my-component-play-function-composition.ts.mdx
  docs/snippets/web-components/my-component-play-function-composition.js.mdx
  docs/snippets/web-components/my-component-play-function-composition.ts.mdx
Labels: documentation, typescript, ci:docs

#21840 CSF: Autotitle fix multiple dots and handle stories.js
  MIGRATION.md
  code/lib/preview-api/src/modules/store/autoTitle.test.ts
  code/lib/preview-api/src/modules/store/autoTitle.ts
Labels: feature request, core, csf3, ci:daily

#22254 CLI: Typescript strict mode
  code/lib/cli/package.json
  code/lib/cli/src/HandledError.ts
  code/lib/cli/src/add.ts
  code/lib/cli/src/automigrate/fixes/angular-builders-multiproject.test.ts
  code/lib/cli/src/automigrate/fixes/autodocs-true.ts
  code/lib/cli/src/automigrate/fixes/bare-mdx-stories-glob.ts
  code/lib/cli/src/automigrate/fixes/builder-vite.ts
  code/lib/cli/src/automigrate/fixes/cra5.test.ts
  code/lib/cli/src/automigrate/fixes/eslint-plugin.test.ts
  code/lib/cli/src/automigrate/fixes/eslint-plugin.ts
  code/lib/cli/src/automigrate/fixes/mdx-1-to-2.ts
  code/lib/cli/src/automigrate/fixes/mdx-gfm.ts
  code/lib/cli/src/automigrate/fixes/missing-babelrc.test.ts
  code/lib/cli/src/automigrate/fixes/missing-babelrc.ts
  code/lib/cli/src/automigrate/fixes/new-frameworks.test.ts
  code/lib/cli/src/automigrate/fixes/new-frameworks.ts
  code/lib/cli/src/automigrate/fixes/sb-scripts.ts
  code/lib/cli/src/automigrate/fixes/vue3.test.ts
  code/lib/cli/src/automigrate/fixes/webpack5.test.ts
  code/lib/cli/src/automigrate/fixes/webpack5.ts
  code/lib/cli/src/automigrate/fixes/wrap-require-utils.ts
  code/lib/cli/src/automigrate/fixes/wrap-require.ts
  code/lib/cli/src/automigrate/helpers/checkWebpack5Builder.test.ts
  code/lib/cli/src/automigrate/helpers/eslintPlugin.ts
  code/lib/cli/src/automigrate/helpers/getMigrationSummary.ts
  code/lib/cli/src/automigrate/helpers/mainConfigFile.test.ts
  code/lib/cli/src/automigrate/helpers/mainConfigFile.ts
  code/lib/cli/src/automigrate/helpers/new-frameworks-utils.ts
  code/lib/cli/src/automigrate/index.ts
  code/lib/cli/src/automigrate/types.ts
  code/lib/cli/src/build.ts
  code/lib/cli/src/detect.ts
  code/lib/cli/src/dev.ts
  code/lib/cli/src/dirs.ts
  code/lib/cli/src/doctor/getIncompatibleAddons.ts
  code/lib/cli/src/doctor/getMismatchingVersionsWarning.ts
  code/lib/cli/src/doctor/index.ts
  code/lib/cli/src/generate.ts
  code/lib/cli/src/generators/ANGULAR/index.ts
  code/lib/cli/src/generators/REACT_NATIVE/index.ts
  code/lib/cli/src/generators/baseGenerator.ts
  code/lib/cli/src/helpers.test.ts
  code/lib/cli/src/helpers.ts
  code/lib/cli/src/initiate.ts
  code/lib/cli/src/js-package-manager/JsPackageManager.ts
  code/lib/cli/src/js-package-manager/PNPMProxy.ts
  code/lib/cli/src/js-package-manager/Yarn2Proxy.ts
  code/lib/cli/src/link.ts
  code/lib/cli/src/project_types.ts
  code/lib/cli/src/repro-generators/scripts.ts
  code/lib/cli/src/sandbox.ts
  code/lib/cli/src/upgrade.ts
  code/lib/cli/tsconfig.json
  code/presets/create-react-app/src/helpers/processCraConfig.ts
  code/yarn.lock
  scripts/yarn.lock
Labels: maintenance, cli, typescript, ci:normal

#22790 UI: Add stricter types to the language property of the SyntaxHighlighter
  code/lib/codemod/src/transforms/__testfixtures__/mdx-to-csf/plaintext.input.mdx
  code/lib/codemod/src/transforms/__testfixtures__/mdx-to-csf/plaintext.output.snapshot
  code/ui/blocks/src/blocks/mdx.tsx
  code/ui/blocks/src/components/Source.tsx
  code/ui/components/src/components/syntaxhighlighter/syntaxhighlighter-types.ts
  code/ui/components/src/components/syntaxhighlighter/syntaxhighlighter.tsx
  code/ui/components/src/components/typography/elements/Code.tsx
  code/ui/components/src/index.ts
  code/yarn.lock
Labels: ui, maintenance, ci:normal

#22567 Maintenence: Migrate `@storybook/docs-tools` to strict TS
  code/lib/docs-tools/src/argTypes/convert/convert.test.ts
  code/lib/docs-tools/src/argTypes/convert/flow/convert.ts
  code/lib/docs-tools/src/argTypes/docgen/PropDef.ts
  code/lib/docs-tools/src/argTypes/docgen/createPropDef.ts
  code/lib/docs-tools/src/argTypes/docgen/extractDocgenProps.test.ts
  code/lib/docs-tools/src/argTypes/docgen/extractDocgenProps.ts
  code/lib/docs-tools/src/argTypes/docgen/flow/createDefaultValue.ts
  code/lib/docs-tools/src/argTypes/docgen/flow/createPropDef.test.ts
  code/lib/docs-tools/src/argTypes/docgen/flow/createPropDef.ts
  code/lib/docs-tools/src/argTypes/docgen/flow/createType.ts
  code/lib/docs-tools/src/argTypes/docgen/typeScript/createDefaultValue.ts
  code/lib/docs-tools/src/argTypes/docgen/typeScript/createPropDef.test.ts
  code/lib/docs-tools/src/argTypes/docgen/typeScript/createType.ts
  code/lib/docs-tools/src/argTypes/docgen/types.ts
  code/lib/docs-tools/src/argTypes/docgen/utils/docgenInfo.ts
  code/lib/docs-tools/src/argTypes/jsdocParser.test.ts
  code/lib/docs-tools/src/argTypes/jsdocParser.ts
  code/lib/docs-tools/src/argTypes/utils.ts
  code/lib/docs-tools/tsconfig.json
  code/renderers/react/src/docs/propTypes/handleProp.test.tsx
  code/renderers/react/src/docs/propTypes/rawDefaultPropResolvers.ts
  code/renderers/react/src/docs/typeScript/handleProp.test.tsx
  code/renderers/vue/package.json
  code/renderers/vue/src/docs/extractArgTypes.ts
  code/yarn.lock
Labels: maintenance, ci:normal

#25030 Webpack: Fix exclude regex in react-docgen-loader
  code/presets/react-webpack/src/framework-preset-react-docs.test.ts
  code/presets/react-webpack/src/framework-preset-react-docs.ts
Labels: bug, react, patch:yes, addon: docs, windows, ci:normal

#25031 SvelteKit: Fix HMR not working
  code/frameworks/sveltekit/src/plugins/mock-sveltekit-stores.ts
Labels: bug, patch:yes, sveltekit, ci:normal

#25032 Next.js: Fix AppRouterProvider usage
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/dependency-map.ts
  code/frameworks/nextjs/src/routing/app-router-provider-mock.tsx
  code/frameworks/nextjs/src/routing/decorator.tsx
Labels: bug, patch:yes, nextjs, ci:daily, upgrade:7.6

#23373 Typescript: Strict compile option for `codemods` package
  code/lib/codemod/package.json
  code/lib/codemod/src/transforms/csf-2-to-3.ts
  code/lib/codemod/src/transforms/mdx-to-csf.ts
  code/lib/codemod/tsconfig.json
  code/lib/react-dom-shim/src/react-16.tsx
  code/yarn.lock
Labels: typescript, codemods, ci:normal

#23204 React: Change `StoryFnReactReturnType` to `JSX.Element`
  code/renderers/react/src/types.ts
Labels: maintenance, react, accessibility, typescript, ci:normal

#19911 Point the update notice to the changelog in the suggested version
  code/lib/core-server/src/utils/update-check.ts
Labels: feature request, cli, ci:docs

#25037 CLI: Improve dependency metadata detection in storybook doctor
  code/lib/cli/src/doctor/getDuplicatedDepsWarnings.ts
  code/lib/cli/src/doctor/getMismatchingVersionsWarning.ts
  code/lib/cli/src/js-package-manager/NPMProxy.ts
  code/lib/cli/src/js-package-manager/util.ts
Labels: bug, cli, patch:yes, ci:normal

#24952 Docs: Point people to GH Discussions from repo readme
  README.md
Labels: documentation, patch:yes, ci:docs

#24069 Build: Migrate `@storybook/manager-api` to strict TS
  code/lib/manager-api/src/index.tsx
  code/lib/manager-api/src/lib/addons.ts
  code/lib/manager-api/src/lib/events.ts
  code/lib/manager-api/src/lib/shortcut.ts
  code/lib/manager-api/src/lib/store-setup.ts
  code/lib/manager-api/src/lib/stories.ts
  code/lib/manager-api/src/modules/addons.ts
  code/lib/manager-api/src/modules/channel.ts
  code/lib/manager-api/src/modules/globals.ts
  code/lib/manager-api/src/modules/layout.ts
  code/lib/manager-api/src/modules/refs.ts
  code/lib/manager-api/src/modules/settings.ts
  code/lib/manager-api/src/modules/shortcuts.ts
  code/lib/manager-api/src/modules/stories.ts
  code/lib/manager-api/src/modules/url.ts
  code/lib/manager-api/src/modules/versions.ts
  code/lib/manager-api/src/modules/whatsnew.ts
  code/lib/manager-api/src/tests/refs.test.ts
  code/lib/manager-api/src/tests/stories.test.ts
  code/lib/manager-api/tsconfig.json
  node_modules/.yarn-state.yml
Labels: maintenance, core, ci:normal

#25041 Docs: Add `control: false`, `table.disable` to argTypes API reference
  docs/api/arg-types.md
Labels: documentation, patch:yes, ci:docs

#25048 Docs: Minor Fixes and cleanup
  code/addons/controls/README.md
  docs/addons/addon-migration-guide.md
  docs/addons/integration-catalog.md
  docs/builders/builder-api.md
  docs/configure/frameworks.md
  docs/configure/typescript.md
  docs/contribute/framework.md
  docs/contribute/index.md
  docs/migration-guide.md
  docs/snippets/common/main-config-swc-jsx-transform.ts.mdx
  docs/snippets/common/test-runner-snapshot.js.mdx
  docs/snippets/common/test-runner-snapshot.ts.mdx
  docs/writing-docs/autodocs.md
  docs/writing-docs/mdx.md
Labels: documentation, patch:yes, ci:docs

#25045 Next.js: Fix next/font/local usage in babel mode
  code/frameworks/nextjs/src/font/webpack/loader/local/get-font-face-declarations.ts
  code/frameworks/nextjs/src/font/webpack/loader/storybook-nextjs-font-loader.ts
Labels: bug, patch:yes, nextjs, ci:normal, upgrade:7.6

#25055 React-Docgen: Make error-handling more gentle
  code/presets/react-webpack/src/framework-preset-react-docs.test.ts
  code/presets/react-webpack/src/framework-preset-react-docs.ts
  code/presets/react-webpack/src/loaders/react-docgen-loader.ts
Labels: bug, addon: docs, builder-webpack5, ci:daily, upgrade:7.6

#25058 Docs: Re-introduce missing snapshot testing docs
  docs/toc.js
  docs/writing-tests/snapshot-test.png
  docs/writing-tests/snapshot-testing.md
  docs/writing-tests/storyshots-fail.png
  docs/writing-tests/storyshots-pass.png
Labels: documentation, ci:docs

#25065 Docs: Test coverage add callout for configuration
  docs/writing-tests/test-coverage.md
Labels: documentation, ci:docs
