Repository storybookjs/storybook, pull requests merged in 2023-10, with the labels that each got.

#24335 Docs: Adds theming video
  docs/configure/theming.md
Labels: documentation, ci:docs

#23695 Fix: Added more portable path handling code to better support win32-style paths.
  code/frameworks/nextjs/src/font/webpack/loader/local/get-font-face-declarations.ts
Labels: bug, windows, ci:normal

#24338 docs: fix import path
  docs/snippets/common/storybook-addon-panel-initial.js.mdx
Labels: documentation, ci:docs

#24145 Docs: Adds conditional render to the Styling and CSS docs
  docs/configure/styling-and-css.md
Labels: documentation, ci:docs

#22590 docs: add information about @storybook/preview-api useArgs hook
  docs/snippets/react/page-story-args-within-story.js.mdx
  docs/snippets/react/page-story-args-within-story.ts-4-9.mdx
  docs/snippets/react/page-story-args-within-story.ts.mdx
  docs/writing-stories/args.md
Labels: documentation, ci:docs

#24346 CLI: Fix Nextjs project detection
  .github/workflows/generate-sandboxes-next.yml
  code/lib/cli/src/project_types.ts
  scripts/sandbox/generate.ts
Labels: bug, cli, patch:yes, ci:normal

#24290 NextJS: Change babel plugins from `proposal-...` to `transform-...`
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/babel/preset.ts
  code/lib/docs-tools/src/argTypes/convert/convert.test.ts
  code/renderers/react/src/docs/extractArgTypes.test.ts
  code/yarn.lock
  scripts/package.json
  scripts/yarn.lock
Labels: configuration babel / webpack, maintenance, react, nextjs, ci:daily

#24358 CI: Disable Angular 15 sandbox
  .circleci/config.yml
  code/lib/cli/src/sandbox-templates.ts
Labels: angular, build, ci:daily

#23938 Core: Deprecate `storyStoreV6` (including `storiesOf`) and `storyIndexers`
  MIGRATION.md
  code/lib/core-server/src/build-static.ts
  code/lib/core-server/src/dev-server.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/types/src/modules/core-common.ts
  code/lib/types/src/modules/indexer.ts
Labels: maintenance, core, ci:normal

#24356 Core: Fix missing favicon during dev
  code/lib/core-server/package.json
  code/lib/core-server/src/utils/server-statics.ts
  code/yarn.lock
Labels: bug, patch:yes, core, ci:normal

#23825 React: Upgrade `react-docgen` to 6.0.x and improve argTypes
  code/frameworks/react-vite/package.json
  code/frameworks/react-vite/src/plugins/docgen-handlers/actualNameHandler.ts
  code/frameworks/react-vite/src/plugins/react-docgen.ts
  code/lib/docs-tools/src/argTypes/convert/convert.test.ts
  code/lib/docs-tools/src/argTypes/convert/proptypes/convert.ts
  code/lib/docs-tools/src/argTypes/convert/typescript/convert.ts
  code/lib/docs-tools/src/argTypes/convert/typescript/types.ts
  code/lib/docs-tools/src/argTypes/convert/utils.ts
  code/lib/docs-tools/src/argTypes/docgen/typeScript/createType.ts
  code/lib/docs-tools/src/argTypes/docgen/types.ts
  code/renderers/react/template/stories/docgen-components/9493-ts-display-name/argTypes.snapshot
  code/renderers/react/template/stories/docgen-components/9493-ts-display-name/properties.snapshot
  code/renderers/react/template/stories/docgen-components/9721-ts-deprecated-jsdoc/argTypes.snapshot
  code/renderers/react/template/stories/docgen-components/9721-ts-deprecated-jsdoc/properties.snapshot
  code/renderers/react/template/stories/docgen-components/9827-ts-default-values/argTypes.snapshot
  code/renderers/react/template/stories/docgen-components/9827-ts-default-values/properties.snapshot
  code/yarn.lock
Labels: dependencies, react, performance issue, builder-vite, ci:normal

#24348 Docs: Point to styling-webpack addon in styling docs
  code/addons/themes/docs/api.md
  docs/configure/styling-and-css.md
  docs/snippets/common/main-config-addons.js.mdx
  docs/snippets/common/main-config-addons.ts.mdx
Labels: documentation, patch:yes, ci:docs

#24373 Build: Always set `--no-link` when creating angular sandboxes
  scripts/tasks/sandbox.ts
Labels: build, ci:normal

#24367 Angular: Fix Angular 15 support and add zone.js v0.14.x support
  .circleci/config.yml
  RESOLUTIONS.md
  code/addons/docs/src/DocsRenderer.tsx
  code/frameworks/angular/package.json
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/frameworks/angular/src/builders/build-storybook/schema.json
  code/frameworks/angular/src/builders/start-storybook/index.ts
  code/frameworks/angular/src/builders/start-storybook/schema.json
  code/frameworks/angular/src/builders/utils/error-handler.ts
  code/frameworks/angular/src/client/globals.ts
  code/frameworks/nextjs/package.json
  code/lib/cli/src/sandbox-templates.ts
  code/lib/core-common/package.json
  code/lib/types/package.json
  code/renderers/svelte/package.json
  code/ui/components/package.json
  code/ui/components/src/components/Zoom/ZoomIFrame.tsx
  code/yarn.lock
  scripts/yarn.lock
Labels: bug, ci:daily

#24187 NextJS: Fix default next image loader when src has params
  code/frameworks/nextjs/src/images/next-image-default-loader.tsx
Labels: bug, nextjs, ci:normal

#24106 Release tooling: Release stable releases from `latest-release`
  .github/workflows/prepare-non-patch-release.yml
  .github/workflows/prepare-patch-release.yml
  .github/workflows/publish.yml
  CONTRIBUTING/RELEASING.md
  scripts/package.json
  scripts/release/__tests__/cancel-preparation-runs.test.ts
  scripts/release/__tests__/ensure-next-ahead.test.ts
  scripts/release/__tests__/generate-pr-description.test.ts
  scripts/release/__tests__/is-pr-frozen.test.ts
  scripts/release/__tests__/label-patches.test.ts
  scripts/release/cancel-preparation-runs.ts
  scripts/release/ensure-next-ahead.ts
  scripts/release/generate-pr-description.ts
  scripts/release/is-pr-frozen.ts
  scripts/release/pick-patches.ts
  scripts/release/utils/get-changes.ts
  scripts/release/utils/get-github-info.ts
  scripts/release/utils/github-client.ts
  scripts/yarn.lock
Labels: patch:yes, build, ci:normal

#23123 Builder-Vite: use user's build.target
  code/builders/builder-vite/src/vite-config.ts
Labels: bug, builder-vite

#24146 NextJS: Fix Image Context re-use via singleton
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/template/stories/Image.stories.jsx
Labels: bug, nextjs, ci:daily

#24379 Release tooling: Revert "Release stable releases from `latest-release`"
  .github/workflows/prepare-patch-release.yml
  .github/workflows/prepare-prerelease.yml
  .github/workflows/publish.yml
  CONTRIBUTING/RELEASING.md
  scripts/package.json
  scripts/release/__tests__/cancel-preparation-runs.test.ts
  scripts/release/__tests__/ensure-next-ahead.test.ts
  scripts/release/__tests__/generate-pr-description.test.ts
  scripts/release/__tests__/is-pr-frozen.test.ts
  scripts/release/__tests__/label-patches.test.ts
  scripts/release/cancel-preparation-runs.ts
  scripts/release/ensure-next-ahead.ts
  scripts/release/generate-pr-description.ts
  scripts/release/is-pr-frozen.ts
  scripts/release/pick-patches.ts
  scripts/release/utils/get-changes.ts
  scripts/release/utils/get-github-info.ts
  scripts/release/utils/github-client.ts
  scripts/yarn.lock
Labels: build

#24377 Webpack: Display errors on build
  code/builders/builder-webpack5/src/index.ts
Labels: bug, patch:yes, builder-webpack5, ci:normal

#24345 ManagerAPI: Fix bug with story redirection when URL has partial storyId
  code/e2e-tests/navigation.spec.ts
  code/lib/manager-api/src/modules/stories.ts
  code/lib/manager-api/src/tests/stories.test.ts
Labels: bug, api: addons, patch:yes, ci:normal

#24376 Build: Always run registry when generating angular sandboxes
  scripts/tasks/sandbox.ts
Labels: build, ci:normal

#24371 Core: Add class name to Storybook error name
  code/lib/core-events/src/errors/storybook-error.test.ts
  code/lib/core-events/src/errors/storybook-error.ts
Labels: maintenance, ci:normal

#24388 Angular: Add CLI options (debugWebpack, webpackStatsJson, and more)
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/frameworks/angular/src/builders/build-storybook/schema.json
  code/frameworks/angular/src/builders/start-storybook/index.ts
  code/frameworks/angular/src/builders/start-storybook/schema.json
Labels: bug, angular, ci:merged

#24266 UI: Improved Button and IconButton
  MIGRATION.md
  code/ui/blocks/src/controls/Object.tsx
  code/ui/components/package.json
  code/ui/components/src/components/Button/Button.deprecated.stories.tsx
  code/ui/components/src/components/Button/Button.stories.tsx
  code/ui/components/src/components/Button/Button.tsx
  code/ui/components/src/components/Button/Docs.mdx
  code/ui/components/src/components/IconButton/IconButton.stories.tsx
  code/ui/components/src/components/IconButton/IconButton.tsx
  code/ui/components/src/components/bar/button.stories.tsx
  code/ui/components/src/components/bar/button.tsx
  code/ui/components/src/components/bar/separator.tsx
  code/ui/components/src/components/tabs/tabs.stories.tsx
  code/ui/components/src/index.ts
  code/ui/manager/src/components/panel/Panel.tsx
  code/ui/manager/src/components/preview/FramesRenderer.tsx
  code/ui/manager/src/components/preview/Toolbar.tsx
  code/ui/manager/src/components/preview/tools/eject.tsx
  code/ui/manager/src/components/sidebar/Heading.tsx
  code/ui/manager/src/components/sidebar/Tree.tsx
  code/ui/manager/src/settings/About.tsx
  code/yarn.lock
Labels: ui, maintenance, ci:normal

#24399 UI: Fix theming not updating
  code/lib/manager-api/src/modules/layout.ts
  code/lib/manager-api/src/tests/layout.test.ts
Labels: maintenance, ci:normal

#24296 added info about emit() function
  docs/essentials/highlight.md
Labels: documentation, ci:docs

#24405 Docs: (Snippets) Update my-component-story-basic-and-props.ts-4-9.mdx
  docs/snippets/react/my-component-story-basic-and-props.ts-4-9.mdx
Labels: documentation, ci:docs

#24404 Docs: (Snippets) Update my-component-story-basic-and-props.ts.mdx
  docs/snippets/react/my-component-story-basic-and-props.ts.mdx
Labels: documentation, ci:docs

#24403 Docs: (Snippets) Update my-component-story-basic-and-props.js.mdx
  docs/snippets/react/my-component-story-basic-and-props.js.mdx
Labels: documentation, ci:docs

#24382 Release tooling: Release stable releases from `latest-release` v3
  .github/workflows/prepare-non-patch-release.yml
  .github/workflows/prepare-patch-release.yml
  .github/workflows/publish.yml
  CONTRIBUTING/RELEASING.md
  scripts/package.json
  scripts/release/__tests__/cancel-preparation-runs.test.ts
  scripts/release/__tests__/ensure-next-ahead.test.ts
  scripts/release/__tests__/generate-pr-description.test.ts
  scripts/release/__tests__/is-pr-frozen.test.ts
  scripts/release/__tests__/label-patches.test.ts
  scripts/release/cancel-preparation-runs.ts
  scripts/release/ensure-next-ahead.ts
  scripts/release/generate-pr-description.ts
  scripts/release/is-pr-frozen.ts
  scripts/release/pick-patches.ts
  scripts/release/utils/get-changes.ts
  scripts/release/utils/get-github-info.ts
  scripts/release/utils/github-client.ts
  scripts/yarn.lock
Labels: build, ci:normal

#24361 Documentation: Remove file URL examples from storyshots-puppeteer docs
  code/addons/storyshots-puppeteer/README.md
Labels: documentation, ci:docs

#24409 Release tooling: Fix `non-patch` renaming
  .github/workflows/publish.yml
  CONTRIBUTING/RELEASING.md
Labels: build, ci:docs

#22334 Controls: Fix select / multiselect when value contains multiple spaces
  code/addons/controls/template/stories/basics.stories.ts
  code/e2e-tests/addon-controls.spec.ts
  code/ui/blocks/src/controls/options/Select.tsx
Labels: bug, addon: controls, ci:daily

#24370 UI: Fix layout height
  code/ui/manager/src/components/layout/Layout.tsx
Labels: maintenance, ci:normal

#24411 UI: Bring back role main
  code/ui/manager/src/components/preview/utils/components.ts
Labels: ui, maintenance, ci:normal

#24406 Next.js: Support rename font import
  code/frameworks/nextjs/src/font/babel/helpers.ts
  code/frameworks/nextjs/src/font/babel/index.test.ts
Labels: bug, nextjs, ci:normal

#24386 Docs: Add instructions for installing yarn
  docs/contribute/code.md
Labels: documentation, ci:docs

#24413 UI: Update ScrollArea with radix
  code/ui/components/package.json
  code/ui/components/src/components/ScrollArea/GlobalScrollAreaStyles.tsx
  code/ui/components/src/components/ScrollArea/OverlayScrollbars.tsx
  code/ui/components/src/components/ScrollArea/ScrollArea.stories.tsx
  code/ui/components/src/components/ScrollArea/ScrollArea.tsx
  code/ui/manager/src/components/sidebar/Search.tsx
  code/ui/manager/src/components/sidebar/Sidebar.tsx
  code/yarn.lock
Labels: ui, maintenance, ci:normal

#24360 UI: Replace Form.Button with the new Button component
  code/ui/blocks/src/controls/Boolean.tsx
  code/ui/blocks/src/controls/Number.tsx
  code/ui/blocks/src/controls/Object.tsx
  code/ui/blocks/src/controls/Text.tsx
  code/ui/components/src/components/Button/Button.tsx
  code/ui/components/src/components/form/form.stories.tsx
  code/ui/components/src/components/form/index.tsx
  code/ui/components/src/components/form/input/input.tsx
  code/ui/manager/src/settings/shortcuts.tsx
Labels: maintenance, ci:normal

#24372 UI: Mobile truncate story name
  code/ui/manager/src/components/mobile/navigation/MobileNavigation.tsx
Labels: maintenance, ci:normal

#24414 Node.js: Update CI to use Node.js v18
  .circleci/config.yml
  .github/workflows/generate-sandboxes-main.yml
  .github/workflows/generate-sandboxes-next.yml
  .github/workflows/tests-unit.yml
  .nvmrc
  code/addons/interactions/package.json
  code/builders/builder-vite/package.json
  code/builders/builder-webpack5/package.json
  code/frameworks/angular/package.json
  code/frameworks/html-vite/package.json
  code/frameworks/html-webpack5/package.json
  code/frameworks/nextjs/package.json
  code/frameworks/preact-vite/package.json
  code/frameworks/preact-webpack5/package.json
  code/frameworks/react-vite/package.json
  code/frameworks/react-webpack5/package.json
  code/frameworks/server-webpack5/package.json
  code/frameworks/svelte-vite/package.json
  code/frameworks/sveltekit/package.json
  code/frameworks/vue-webpack5/package.json
  code/frameworks/vue3-vite/package.json
  code/frameworks/vue3-webpack5/package.json
  code/frameworks/web-components-vite/package.json
  code/frameworks/web-components-webpack5/package.json
  code/lib/cli/src/automigrate/fixes/nodejs-requirement.test.ts
  code/lib/cli/src/link.ts
  code/lib/core-common/package.json
  code/lib/core-server/package.json
  code/lib/core-webpack/package.json
  code/lib/theming/package.json
  code/lib/types/package.json
  code/package.json
  code/presets/create-react-app/package.json
  code/presets/html-webpack/package.json
  code/presets/preact-webpack/package.json
  code/presets/react-webpack/package.json
  code/presets/server-webpack/package.json
  code/presets/vue-webpack/package.json
  code/presets/vue3-webpack/package.json
  code/presets/web-components-webpack/package.json
  code/renderers/react/package.json
  code/renderers/web-components/package.json
  code/yarn.lock
  docs/snippets/common/test-runner-local-build-workflow.yml.mdx
  docs/snippets/common/test-runner-with-deploy-event-workflow.yml.mdx
  scripts/.babelrc.js
  scripts/package.json
  scripts/yarn.lock
Labels: build, ci:daily

#24437 Web-components: Add Lit3 support
  code/frameworks/web-components-webpack5/package.json
  code/presets/web-components-webpack/package.json
  code/renderers/web-components/package.json
  code/yarn.lock
Labels: dependencies, web-components, ci:daily

#24434 Angular: Introduce argsToTemplate for property and event Bindings
  code/frameworks/angular/src/client/argsToTemplate.test.ts
  code/frameworks/angular/src/client/argsToTemplate.ts
  code/frameworks/angular/src/client/index.ts
  code/frameworks/angular/template/stories/argTypes/doc-button/doc-button.stories.ts
  code/frameworks/angular/template/stories/argTypes/doc-directive/doc-directive.stories.ts
  code/frameworks/angular/template/stories/argTypes/doc-injectable/doc-injectable.stories.ts
  code/frameworks/angular/template/stories/argTypes/doc-pipe/doc-pipe.stories.ts
  code/frameworks/angular/template/stories/basics/angular-forms/customControlValueAccessor/custom-cva-component.stories.ts
  code/frameworks/angular/template/stories/basics/component-with-complex-selectors/attribute-selectors.component.stories.ts
  code/frameworks/angular/template/stories/basics/component-with-enums/enums.component.stories.ts
  code/frameworks/angular/template/stories/basics/component-with-inheritance/base-button.stories.ts
  code/frameworks/angular/template/stories/basics/component-with-inheritance/icon-button.stories.ts
  code/frameworks/angular/template/stories/basics/component-with-ng-content/ng-content-about-parent.stories.ts
  code/frameworks/angular/template/stories/basics/component-with-ng-content/ng-content-simple.stories.ts
  code/frameworks/angular/template/stories/basics/component-with-ng-on-destroy/component-with-on-destroy.stories.ts
  code/frameworks/angular/template/stories/basics/component-with-on-push/on-push.stories.ts
  code/frameworks/angular/template/stories/basics/component-with-pipe/custom-pipes.stories.ts
  code/frameworks/angular/template/stories/basics/component-with-provider/di.component.stories.ts
  code/frameworks/angular/template/stories/basics/component-with-style/styled.component.stories.ts
  code/frameworks/angular/template/stories/basics/component-with-template/template.component.ts
  code/frameworks/angular/template/stories/basics/component-with-template/template.stories.ts
  code/frameworks/angular/template/stories/basics/component-without-selector/without-selector-ng-component-outlet.stories.ts
  code/frameworks/angular/template/stories/basics/component-without-selector/without-selector-ng-factory-resolver.stories.ts
  code/frameworks/angular/template/stories/basics/component-without-selector/without-selector.stories.ts
  code/frameworks/angular/template/stories/basics/ng-module/import-module-chip.stories.ts
  code/frameworks/angular/template/stories/basics/ng-module/import-module-for-root.stories.ts
  code/frameworks/angular/template/stories/basics/ng-module/import-module.stories.ts
  code/frameworks/angular/template/stories/core/decorators/componentWrapperDecorator/decorators.stories.ts
  code/frameworks/angular/template/stories/core/parameters/bootstrap-options.stories.ts
  code/frameworks/angular/template/stories/others/app-initializer-use-factory/app-initializer-use-factory.stories.ts
  code/frameworks/angular/template/stories/others/issues/12009-unknown-component.stories.ts
  docs/snippets/angular/button-story-click-handler-args.ts.mdx
  docs/snippets/angular/button-story-click-handler.ts.mdx
  docs/snippets/angular/component-story-with-custom-render-function.ts.mdx
  docs/snippets/angular/page-story-slots.ts.mdx
Labels: bug, angular, ci:daily

#23995 Addon: Add catalog icon for addon-themes
  code/addons/themes/README.md
  code/addons/themes/package.json
Labels: documentation, ci:docs, addon: themes

#24054 Docs: fix continuous integration example
  docs/snippets/common/chromatic-github-action.js.mdx
Labels: documentation, ci:docs

#24453 Sandbox: Add new sandboxes
  .circleci/config.yml
  .github/workflows/generate-sandboxes-main.yml
  .github/workflows/generate-sandboxes-next.yml
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/config/webpack.ts
  code/frameworks/nextjs/src/dependency-map.ts
  code/frameworks/nextjs/src/head-manager/head-manager-provider.tsx
  code/frameworks/nextjs/src/routing/app-router-provider.tsx
  code/frameworks/nextjs/src/routing/page-router-provider.tsx
  code/lib/cli/src/sandbox-templates.ts
  code/yarn.lock
Labels: angular, build, ci:daily

#24395 Vite: Support Vite 5
  code/builders/builder-vite/package.json
  code/builders/builder-vite/src/build.ts
  code/builders/builder-vite/src/codegen-entries.ts
  code/builders/builder-vite/src/codegen-importfn-script.ts
  code/builders/builder-vite/src/list-stories.ts
  code/builders/builder-vite/src/optimizeDeps.ts
  code/builders/builder-vite/src/plugins/external-globals-plugin.ts
  code/builders/builder-vite/src/plugins/inject-export-order-plugin.ts
  code/builders/builder-vite/src/plugins/strip-story-hmr-boundaries.ts
  code/builders/builder-vite/src/vite-config.ts
  code/builders/builder-vite/src/vite-server.ts
  code/frameworks/preact-vite/package.json
  code/frameworks/react-vite/package.json
  code/frameworks/svelte-vite/package.json
  code/frameworks/vue-vite/package.json
  code/frameworks/vue3-vite/package.json
  code/lib/cli/src/sandbox-templates.ts
  code/yarn.lock
Labels: dependencies, ci:merged

#24420 Release Tooling: Pick workflow v3 to `main`
  .github/workflows/prepare-non-patch-release.yml
  .github/workflows/prepare-patch-release.yml
  .github/workflows/publish.yml
  CONTRIBUTING/RELEASING.md
  scripts/package.json
  scripts/release/__tests__/cancel-preparation-runs.test.ts
  scripts/release/__tests__/ensure-next-ahead.test.ts
  scripts/release/__tests__/generate-pr-description.test.ts
  scripts/release/__tests__/is-pr-frozen.test.ts
  scripts/release/__tests__/label-patches.test.ts
  scripts/release/cancel-preparation-runs.ts
  scripts/release/ensure-next-ahead.ts
  scripts/release/generate-pr-description.ts
  scripts/release/is-pr-frozen.ts
  scripts/release/pick-patches.ts
  scripts/release/utils/get-changes.ts
  scripts/release/utils/get-github-info.ts
  scripts/release/utils/github-client.ts
  scripts/yarn.lock
Labels: build, ci:normal

#24448 Angular: Allow loading standalone directives
  code/frameworks/angular/src/client/angular-beta/utils/PropertyExtractor.test.ts
  code/frameworks/angular/src/client/angular-beta/utils/PropertyExtractor.ts
Labels: bug, angular, ci:daily

#24096 Svelte: Fix docs generating when using `lang="ts"` or optional chaining
  code/e2e-tests/framework-svelte.spec.ts
  code/frameworks/svelte-vite/package.json
  code/frameworks/svelte-vite/src/plugins/svelte-docgen.ts
  code/frameworks/svelte-vite/template/stories_svelte-vite-default-ts/ButtonTypeScript.svelte
  code/frameworks/svelte-vite/template/stories_svelte-vite-default-ts/ts-docs.stories.js
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/ButtonTypeScript.svelte
  code/frameworks/sveltekit/template/stories_svelte-kit-skeleton-ts/ts-docs.stories.js
  code/presets/svelte-webpack/src/svelte-docgen-loader.ts
  code/renderers/svelte/template/stories/args.stories.js
  code/renderers/svelte/template/stories/js-docs.stories.js
  code/renderers/svelte/template/stories/slot-decorators.stories.js
  code/renderers/svelte/template/stories/svelte-mdx.stories.mdx
  code/renderers/svelte/template/stories/views/ButtonJavaScript.svelte
  code/yarn.lock
Labels: bug, svelte, ci:daily

#24479 Release tooling: Fix prerelease-detection in non-patch preparation
  .github/workflows/prepare-non-patch-release.yml
  .github/workflows/publish.yml
  scripts/release/get-changelog-from-file.ts
  scripts/release/is-prerelease.ts
Labels: build, ci:docs

#24480 Release tooling: Don't cancel non-patch preparation when triggered manually
  .github/workflows/prepare-non-patch-release.yml
Labels: build, ci:docs

#24472 Builder-Webpack5: Use logger.warn on warnings
  code/builders/builder-webpack5/src/index.ts
Labels: bug, builder-webpack5, ci:normal

#24491 UI: Fix className missing in syntaxhighlighter
  code/ui/components/src/components/ScrollArea/ScrollArea.tsx
Labels: bug, ui, ci:normal

#24458 docs: Fix typo in addon README
  code/addons/themes/README.md
Labels: documentation, ci:docs, addon: themes

#24389 Themes: Run postinstall in shell for windows
  code/addons/themes/postinstall.js
Labels: bug, patch:yes, ci:normal

#24486 Sandbox: Generate sandboxes with vite 4
  .nvmrc
  code/lib/cli/src/sandbox-templates.ts
Labels: patch:yes, build, ci:daily

#24507 CLI: Add @storybook/addon-designs to non-core list
  code/lib/cli/src/utils.ts
Labels: bug, cli, ci:normal

#24494 Angular: update wrong type for webpackStatsJson in start-storybook schema.json
  code/frameworks/angular/src/builders/start-storybook/schema.json
Labels: bug, ci:normal

#24466 Angular: Add source-map option to builder
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/frameworks/angular/src/builders/build-storybook/schema.json
  code/frameworks/angular/src/builders/start-storybook/index.ts
  code/frameworks/angular/src/builders/start-storybook/schema.json
  code/frameworks/angular/src/builders/utils/standalone-options.ts
Labels: bug, angular, ci:daily

#24489 Release tooling: Fix not handling merge conflicts
  .github/workflows/prepare-non-patch-release.yml
Labels: build, ci:docs

#23849 Doc Blocks: Add support for `of` prop to `Primary` block
  MIGRATION.md
  code/ui/blocks/src/blocks/Primary.stories.tsx
  code/ui/blocks/src/blocks/Primary.tsx
  docs/api/doc-block-primary.md
Labels: feature request, addon: docs, block: other, ci:normal

#24516 Build: Remove StoyStore V6 sandbox templates
  .circleci/config.yml
  code/lib/cli/src/sandbox-templates.ts
Labels: build, ci:daily

#24506 Doc Blocks: Remove `defaultProps` in `Stories` block
  code/ui/blocks/src/blocks/Stories.tsx
Labels: ui, maintenance, addon: docs, block: other, ci:normal

#24519 Build: Fix bench script
  scripts/bench/browse.ts
  scripts/bench/utils.ts
Labels: build, ci:normal

#24529 UI: Fix IconButton not being aligned correctly in blocks
  code/ui/blocks/src/components/Toolbar.tsx
  code/ui/components/src/components/bar/button.tsx
  code/ui/components/src/components/tooltip/ListItem.stories.tsx
  code/ui/components/src/components/tooltip/ListItem.tsx
  code/ui/components/src/components/tooltip/TooltipLinkList.stories.tsx
  code/ui/manager/src/components/sidebar/Menu.stories.tsx
Labels: bug, ui, ci:normal

#24534 ManagerBuilder: Fix `"type": "commonjs"` compatibility
  code/builders/builder-manager/src/index.ts
Labels: bug, builder-vite, builder-manager, ci:normal

#24530 React: Upgrade `react-docgen` to v7
  code/frameworks/react-vite/package.json
  code/renderers/react/template/stories/docgen-components/ts-react-fc/argTypes.snapshot
  code/renderers/react/template/stories/docgen-components/ts-react-fc/docgen.snapshot
  code/renderers/react/template/stories/docgen-components/ts-react-fc/input.tsx
  code/renderers/react/template/stories/docgen-components/ts-react-fc/properties.snapshot
  code/renderers/react/template/stories/ts-argtypes.stories.tsx
  code/yarn.lock
Labels: dependencies, react, builder-vite, ci:normal

#24545 Core: Fix post message channel location.search access for React Native
  code/lib/channels/src/postmessage/index.ts
Labels: bug, react-native, core, ci:normal

#24546 Actions: Fix missing crypto module crashing React Native
  code/addons/actions/src/runtime/action.ts
Labels: bug, addon: actions, react-native, ci:normal

#24551 Build: Allow yarn 4 in link command
  code/lib/cli/src/link.ts
Labels: build, ci:normal

#24553 Core-Server: Ingore all node_module folders for watchpack
  code/lib/core-server/src/utils/watch-story-specifiers.ts
Labels: bug, core, ci:normal

#24115 Manager: Update `store.settings.lastTrackedStoryId`
  code/lib/manager-api/src/modules/stories.ts
  code/lib/manager-api/src/tests/stories.test.ts
Labels: bug, ci:normal, empathy

#24566 Build: Implement test build bench
  .circleci/config.yml
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/frameworks/angular/src/builders/build-storybook/schema.json
  code/lib/cli/src/generate.ts
  scripts/bench/bench.schema
  scripts/bench/types.ts
  scripts/task.ts
  scripts/tasks/build.ts
  scripts/upload-bench.ts
Labels: build, ci:normal

#24508 Docs: Fix links and conditional rendering sections
  docs/configure/features-and-behavior.md
  docs/configure/sidebar-and-urls.md
  docs/configure/theming.md
  docs/writing-stories/build-pages-with-storybook.md
Labels: documentation, ci:docs

#24571 Build: Implement test build bench
  .circleci/config.yml
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/frameworks/angular/src/builders/build-storybook/schema.json
  code/lib/cli/src/generate.ts
  scripts/bench/bench.schema
  scripts/bench/types.ts
  scripts/task.ts
  scripts/tasks/build.ts
  scripts/upload-bench.ts
Labels: build, ci:merged

#24565 Dependency: Upgrade Yarn to v4
  .circleci/config.yml
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/releases/yarn-4.0.0.cjs
  .yarnrc.yml
  code/.yarnrc.yml
  code/package.json
  code/yarn.lock
  package.json
  scripts/.yarnrc.yml
  scripts/package.json
  scripts/release/publish.ts
  scripts/yarn.lock
  yarn.lock
Labels: build, ci:daily

#24574 Build: Implement test build bench
  .circleci/config.yml
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/frameworks/angular/src/builders/build-storybook/schema.json
  code/lib/cli/src/generate.ts
  scripts/bench/bench.schema
  scripts/bench/types.ts
  scripts/task.ts
  scripts/tasks/build.ts
  scripts/upload-bench.ts
Labels: build, ci:daily

#24582 Build: Add new sandboxes for test build benchmarks
  .circleci/config.yml
  code/lib/cli/src/sandbox-templates.ts
  scripts/task.ts
  scripts/tasks/build.ts
Labels: build, ci:normal

#24561 Docs: Remove `transcludeMarkdown` from addon-docs readme
  code/addons/docs/README.md
Labels: documentation, addon: docs, ci:docs

#24572 Core: Fix pnp support when cache dir is outside working dir
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/core-server/src/utils/server-statics.ts
Labels: bug, core, yarn, ci:normal

#24586 Build: Remove inDevelopment for new bench sandboxes
  .circleci/config.yml
  code/lib/cli/src/sandbox-templates.ts
Labels: build, ci:normal

#24451 Action: Make sure that actions get attached spies across stories when defined in meta.
  code/addons/interactions/src/preview.ts
Labels: bug, addon: actions, ci:merged

#24559 Docs: MDX updates
  docs/snippets/common/storybook-auto-docs-standalone-page.mdx.mdx
  docs/snippets/common/storybook-custom-docs-markdown.mdx.mdx
  docs/snippets/common/storybook-main-enable-transcludemarkdown.js.mdx
  docs/writing-docs/changelog-mdx-md-transcludemarkdown-optimized.png
  docs/writing-docs/mdx-markdown-docs-import.png
  docs/writing-docs/mdx-standalone-page.png
  docs/writing-docs/mdx.md
Labels: documentation, ci:docs

#24583 Docs: Update test-runner.md prepare function typo
  docs/writing-tests/test-runner.md
Labels: documentation, ci:docs

#24588 Docs: Fix broken link to Builder API declaration in docs
  docs/builders/builder-api.md
Labels: documentation, ci:docs

#24541 Fix:Typo in multiple files of docs and code folder
  CONTRIBUTING/RELEASING.md
  code/frameworks/nextjs/README.md
  code/lib/instrumenter/README.md
  code/lib/postinstall/README.md
  code/presets/create-react-app/README.md
  docs/api/main-config-core.md
  docs/sharing/publish-storybook.md
  docs/snippets/angular/my-component-play-function-with-delay.ts.mdx
  docs/snippets/common/my-component-play-function-with-delay.js.mdx
  docs/snippets/common/my-component-play-function-with-delay.ts-4-9.mdx
  docs/snippets/common/my-component-play-function-with-delay.ts.mdx
  docs/snippets/web-components/my-component-play-function-with-delay.js.mdx
  docs/snippets/web-components/my-component-play-function-with-delay.ts.mdx
Labels: documentation, ci:docs

#24593 Next.js: Support v14.0.0
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/images/webpack.ts
  code/frameworks/nextjs/src/nextImport/webpack.ts
  code/yarn.lock
Labels: feature request, patch:yes, nextjs, ci:daily

#24522 Docs: Vite builder updates
  docs/api/main-config-vite-final.md
  docs/builders/vite.md
  docs/snippets/common/main-config-builder-custom-config.js.mdx
  docs/snippets/common/main-config-core-builder.ts-4-9.mdx
  docs/snippets/common/main-config-vite-final-env.js.mdx
  docs/snippets/common/main-config-vite-final.ts-4-9.mdx
  docs/snippets/common/storybook-vite-builder-jest-mock.html.mdx
  docs/snippets/common/storybook-vite-builder-react-docgen.js.mdx
  docs/snippets/common/storybook-vite-builder-ts-configure.ts-4-9.mdx
Labels: documentation, ci:docs

#24600 Docs: Fix conditional rendering for Unit testing
  docs/writing-tests/stories-in-unit-tests.md
Labels: documentation, ci:docs

#24477 Addon A11y: Avoid CSP issue
  code/addons/a11y/src/a11yRunner.ts
Labels: bug, addon: a11y, ci:normal

#24599 Docs: Builder Vite - Remove outdated Svelte reference
  code/builders/builder-vite/README.md
Labels: documentation, svelte, builder-vite, ci:docs

#24596 Addon-themes: Fix globals not being set when using absolute path
  CODEOWNERS
  code/addons/themes/src/preview.tsx
Labels: bug, patch:yes, ci:normal, addon: themes, empathy

#24610 Babel: Update all @babel/* dependencies
  code/builders/builder-webpack5/package.json
  code/frameworks/angular/package.json
  code/frameworks/nextjs/package.json
  code/frameworks/web-components-webpack5/package.json
  code/lib/cli/package.json
  code/lib/codemod/package.json
  code/lib/csf-tools/package.json
  code/lib/docs-tools/package.json
  code/lib/postinstall/package.json
  code/package.json
  code/presets/preact-webpack/package.json
  code/presets/react-webpack/package.json
  code/presets/web-components-webpack/package.json
  code/renderers/react/package.json
  code/renderers/vue3/package.json
  code/yarn.lock
  scripts/package.json
  scripts/ts-to-ts49.ts
  scripts/yarn.lock
Labels: dependencies, ci:normal

#24604 CLI: Catch when prettier failed to prettify main and preview config files
  code/lib/cli/src/generators/configure.ts
Labels: bug, patch:yes, ci:normal

#24616 Docs: Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation, ci:docs

#24617 Release tooling: Fix ensure-next-ahead step in publish script for empty commits
  .github/workflows/publish.yml
Labels: build, ci:docs

#24575 Theming: Add theme variable to set the preview background color
  code/lib/theming/src/base.ts
  code/lib/theming/src/convert.ts
  code/lib/theming/src/themes/dark.ts
  code/lib/theming/src/themes/light.ts
  code/lib/theming/src/types.ts
  code/ui/manager/src/components/preview/iframe.tsx
  code/ui/manager/src/components/preview/utils/components.ts
  docs/snippets/common/your-theme.js.mdx
Labels: feature request, ui, theming, ci:normal

#24418 Controls: Improve accessibility of BooleanControl for screen readers
  code/ui/blocks/src/controls/Boolean.stories.tsx
  code/ui/blocks/src/controls/Boolean.tsx
Labels: ui, maintenance, accessibility, addon: controls, hacktoberfest-accepted, ci:normal

#24281 UI: Fix notifications not appearing in new layout
  code/ui/manager/src/components/layout/Layout.tsx
  code/ui/manager/src/components/notifications/NotificationItem.stories.jsx
  code/ui/manager/src/components/notifications/NotificationItem.stories.tsx
  code/ui/manager/src/components/notifications/NotificationList.stories.jsx
  code/ui/manager/src/components/notifications/NotificationList.stories.tsx
  code/ui/manager/src/components/notifications/NotificationList.tsx
  code/ui/manager/src/components/preview/Toolbar.tsx
  code/ui/manager/src/container/Notifications.tsx
Labels: ui, ci:normal

#24634 CLI: Ignore `addon-onboarding` when checking versions
  code/lib/cli/src/utils.ts
Labels: bug, cli, ci:normal

#24540 Docs: add new snippet to CodeSnippets paths
  docs/snippets/react/document-screen-fetch-ts.mdx
  docs/writing-stories/build-pages-with-storybook.md
Labels: documentation, ci:docs

#24640 Docs: Publish Storybook remove irrelevant parenthesis
  docs/sharing/publish-storybook.md
Labels: documentation, ci:docs
