Repository storybookjs/storybook, pull requests merged in 2024-04, with the labels that each got.

#26700 Next.js: Fix next/font usage on Windows machines
  code/frameworks/nextjs/src/css/webpack.ts
  code/frameworks/nextjs/src/font/webpack/configureNextFont.ts
  code/frameworks/nextjs/src/font/webpack/loader/local/get-font-face-declarations.ts
  code/frameworks/nextjs/src/font/webpack/loader/storybook-nextjs-font-loader.ts
Labels: bug, patch:yes, nextjs, ci:normal

#26708 Build: Update TypeScript in core and scripts
  code/lib/core-common/src/js-package-manager/Yarn2Proxy.test.ts
  code/lib/core-common/src/js-package-manager/Yarn2Proxy.ts
  code/package.json
  code/presets/create-react-app/package.json
  code/presets/create-react-app/src/types.ts
  code/renderers/react/src/__test__/portable-stories.test.tsx
  code/yarn.lock
  scripts/package.json
  scripts/yarn.lock
Labels: typescript, build, ci:normal

#26544 Docs: Update multiple components guidance
  docs/snippets/angular/list-story-reuse-data.ts.mdx
  docs/snippets/html/list-story-reuse-data.js.mdx
  docs/snippets/html/list-story-reuse-data.ts.mdx
  docs/snippets/react/list-story-reuse-data.js.mdx
  docs/snippets/react/list-story-reuse-data.ts-4-9.mdx
  docs/snippets/react/list-story-reuse-data.ts.mdx
  docs/snippets/solid/list-story-reuse-data.js.mdx
  docs/snippets/solid/list-story-reuse-data.ts-4-9.mdx
  docs/snippets/solid/list-story-reuse-data.ts.mdx
  docs/snippets/vue/list-story-reuse-data.3.js.mdx
  docs/snippets/vue/list-story-reuse-data.3.ts-4-9.mdx
  docs/snippets/vue/list-story-reuse-data.3.ts.mdx
  docs/writing-stories/index.md
  docs/writing-stories/stories-for-multiple-components.md
Labels: documentation, patch:yes, ci:docs

#26716 Docs: Rename snippet
  docs/snippets/html/button-story-default-export.js.mdx
  docs/snippets/html/button-story-default-export.ts.mdx
Labels: documentation, ci:docs

#26717 Docs: Rename snippet
  docs/snippets/html/button-story-default-export.js.mdx
  docs/snippets/html/button-story-default-export.ts.mdx
Labels: documentation, ci:docs

#26707 Dependency: Update postcss-loader in Next.js framework
  code/frameworks/nextjs/package.json
  code/yarn.lock
Labels: dependencies, nextjs, ci:normal

#26721 CLI: Add --config-dir flag to migrate command
  code/lib/cli/src/generate.ts
  code/lib/cli/src/migrate.ts
Labels: bug, cli, patch:yes, ci:normal

#26696 Core: Add `duration` and `onClick` support to Notification API and improve Notification UI
  code/lib/manager-api/src/modules/notifications.ts
  code/lib/manager-api/src/tests/notifications.test.js
  code/lib/types/src/modules/api.ts
  code/ui/manager/src/components/notifications/NotificationItem.stories.tsx
  code/ui/manager/src/components/notifications/NotificationItem.tsx
Labels: feature request, ci:normal

#26733 Dependency: Update globby dependency
  code/lib/cli/package.json
  code/lib/cli/src/automigrate/fixes/mdx-1-to-3.ts
  code/lib/cli/src/automigrate/fixes/mdx-gfm.test.ts
  code/lib/cli/src/automigrate/fixes/mdx-gfm.ts
  code/lib/cli/src/warn.test.ts
  code/lib/cli/src/warn.ts
  code/lib/codemod/package.json
  code/lib/codemod/src/index.ts
  code/lib/core-server/package.json
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/core-server/src/utils/watch-story-specifiers.ts
  code/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/nextjs/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/svelte/package.json
  test-storybooks/portable-stories-kitchen-sink/svelte/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/vue3/package.json
  test-storybooks/portable-stories-kitchen-sink/vue3/yarn.lock
Labels: dependencies, ci:daily

#26737 Dependency: Bump es-module-lexer
  code/builders/builder-vite/package.json
  code/builders/builder-vite/src/plugins/inject-export-order-plugin.ts
  code/builders/builder-webpack5/package.json
  code/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/nextjs/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/svelte/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/vue3/yarn.lock
Labels: dependencies, ci:normal

#26741 Docs: Update Styling and CSS
  docs/configure/styling-and-css.md
  docs/snippets/common/storybook-preview-head-import-global-styles.html.mdx
Labels: documentation, patch:yes, ci:docs

#26724 Docs: add migrate and automigrate to the CLI Options page
  docs/api/cli-options.md
Labels: documentation, cli, patch:yes, ci:docs

#26742 Docs: set correct dependency in import example
  docs/snippets/vue/vue3-vite-add-framework.ts.mdx
Labels: documentation, patch:yes, ci:docs

#26748 Revert "Vue: Disable controls for events and exposed by default"
  code/renderers/vue3/src/docs/__snapshots__/extractArgTypes.test.ts.snap
  code/renderers/vue3/src/docs/extractArgTypes.ts
Labels: maintenance, ci:normal

#26751 Vue: Disable controls for events, slots, and expose
  code/renderers/vue3/src/docs/__snapshots__/extractArgTypes.test.ts.snap
  code/renderers/vue3/src/docs/extractArgTypes.ts
Labels: bug, patch:yes, vue3, ci:normal

#26756 Docs: Fix incorrect link in addon-mdx-gfm README
  code/addons/gfm/README.md
Labels: documentation, patch:yes, ci:docs

#26781 Docs: MDX minor fixes
  docs/faq.md
  docs/snippets/common/storybook-automigration-mdx-legacy.npm.mdx
  docs/snippets/common/storybook-automigration-mdx-legacy.pnpm.mdx
  docs/snippets/common/storybook-automigration-mdx-legacy.yarn.mdx
  docs/writing-docs/mdx.md
Labels: documentation, patch:yes, ci:docs

#26726 Controls: Add Channels API to search for files in the project root
  .circleci/config.yml
  code/.eslintignore
  code/lib/cli/src/automigrate/helpers/mainConfigFile.ts
  code/lib/cli/src/helpers.ts
  code/lib/cli/src/project_types.ts
  code/lib/core-common/src/index.ts
  code/lib/core-common/src/utils/framework-to-renderer.ts
  code/lib/core-common/src/utils/get-framework-name.test.ts
  code/lib/core-common/src/utils/get-framework-name.ts
  code/lib/core-common/src/utils/get-renderer-name.test.ts
  code/lib/core-common/src/utils/get-renderer-name.ts
  code/lib/core-common/src/utils/normalize-path.test.ts
  code/lib/core-common/src/utils/normalize-path.ts
  code/lib/core-events/src/index.ts
  code/lib/core-server/package.json
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/core-server/src/server-channel/file-search-channel.test.ts
  code/lib/core-server/src/server-channel/file-search-channel.ts
  code/lib/core-server/src/utils/__search-files-tests__/.gitignore
  code/lib/core-server/src/utils/__search-files-tests__/README.md
  code/lib/core-server/src/utils/__search-files-tests__/src/assets/asset.css
  code/lib/core-server/src/utils/__search-files-tests__/src/assets/asset.json
  code/lib/core-server/src/utils/__search-files-tests__/src/assets/asset.png
  code/lib/core-server/src/utils/__search-files-tests__/src/commonjs-module-default.js
  code/lib/core-server/src/utils/__search-files-tests__/src/commonjs-module.js
  code/lib/core-server/src/utils/__search-files-tests__/src/es-module.js
  code/lib/core-server/src/utils/__search-files-tests__/src/file-extensions/extension.cjs
  code/lib/core-server/src/utils/__search-files-tests__/src/file-extensions/extension.cts
  code/lib/core-server/src/utils/__search-files-tests__/src/file-extensions/extension.js
  code/lib/core-server/src/utils/__search-files-tests__/src/file-extensions/extension.jsx
  code/lib/core-server/src/utils/__search-files-tests__/src/file-extensions/extension.mjs
  code/lib/core-server/src/utils/__search-files-tests__/src/file-extensions/extension.mts
  code/lib/core-server/src/utils/__search-files-tests__/src/file-extensions/extension.ts
  code/lib/core-server/src/utils/__search-files-tests__/src/file-extensions/extension.tsx
  code/lib/core-server/src/utils/__search-files-tests__/src/ignored.js
  code/lib/core-server/src/utils/__search-files-tests__/src/no-export.js
  code/lib/core-server/src/utils/__search-files-tests__/src/node_modules/file-in-common.js
  code/lib/core-server/src/utils/__search-files-tests__/src/tests/some.spec.ts
  code/lib/core-server/src/utils/__search-files-tests__/src/tests/some.test.ts
  code/lib/core-server/src/utils/parser/generic-parser.test.ts
  code/lib/core-server/src/utils/parser/generic-parser.ts
  code/lib/core-server/src/utils/parser/index.ts
  code/lib/core-server/src/utils/parser/types.ts
  code/lib/core-server/src/utils/search-files.test.ts
  code/lib/core-server/src/utils/search-files.ts
  code/lib/types/src/index.ts
  code/lib/types/src/modules/renderers.ts
  code/ui/manager/src/globals/exports.ts
  code/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/nextjs/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/svelte/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/vue3/yarn.lock
Labels: feature request, addon: controls, ci:normal

#26771 CLI: Add --config-dir flag to add command
  code/lib/cli/src/add.ts
  code/lib/cli/src/generate.ts
  docs/api/cli-options.md
Labels: feature request, cli, ci:normal

#26740 Test: Make spies reactive so that they can be logged by addon-actions
  code/addons/actions/src/loaders.ts
  code/addons/actions/template/stories/spies.stories.ts
  code/addons/interactions/src/preview.test.ts
  code/addons/interactions/src/preview.ts
  code/e2e-tests/addon-actions.spec.ts
  code/lib/test/package.json
  code/lib/test/src/index.test.ts
  code/lib/test/src/index.ts
  code/lib/test/src/spy.test.ts
  code/lib/test/src/spy.ts
  code/renderers/react/src/__test__/portable-stories.test.tsx
  code/yarn.lock
Labels: feature request, ci:normal

#26655 Webpack: Bump webpack-dev-middleware to patch high security issue
  code/builders/builder-webpack5/package.json
  code/yarn.lock
Labels: dependencies, patch:yes, builder-webpack5, ci:normal

#26735 Core: Reload the preview-iframe when tearing down a story during loading
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.test.ts
  code/lib/preview-api/src/modules/preview-web/render/StoryRender.test.ts
  code/lib/preview-api/src/modules/preview-web/render/StoryRender.ts
Labels: bug, core, ci:normal

#26766 CLI: Add Visual Tests addon install auto-migration when upgrading to 8.0.x
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/vta.test.ts
  code/lib/cli/src/automigrate/fixes/vta.ts
Labels: feature request, cli, patch:yes, automigrations, ci:normal

#26787 Next.js: Move sharp into optional deps
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/next-image-loader-stub.ts
  code/lib/core-events/src/errors/preview-errors.ts
  code/yarn.lock
  docs/get-started/nextjs.md
Labels: bug, patch:yes, nextjs, ci:daily

#26686 Docs: remove repetitive words
  MIGRATION.md
  code/addons/viewport/README.md
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  docs/writing-tests/test-runner.md
Labels: documentation, patch:yes, ci:docs

#26753 Core: Reload the preview-iframe when force remounting a story during loading
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.test.ts
  code/lib/preview-api/src/modules/preview-web/render/StoryRender.test.ts
  code/lib/preview-api/src/modules/preview-web/render/StoryRender.ts
Labels: bug, core, ci:normal

#26765 Core: Only render once when changing args while loading/rendering
  code/e2e-tests/preview-api.spec.ts
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.test.ts
  code/lib/preview-api/src/modules/preview-web/render/StoryRender.test.ts
  code/lib/preview-api/src/modules/preview-web/render/StoryRender.ts
  code/lib/preview-api/template/stories/rendering.stories.ts
Labels: bug, core, preview-api, ci:normal

#25993 Core: Drop unneeded `UPDATE_STORY_ARGS` which was there for SSv6 and back-compat.
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.test.ts
  code/lib/preview-api/src/modules/preview-web/PreviewWithSelection.tsx
Labels: maintenance, core, ci:normal

#26713 WIP: save-from-controls backend
  code/lib/core-events/src/index.ts
  code/lib/core-server/package.json
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/core-server/src/utils/save-from-controls/duplicate-story-with-new-name.test.ts
  code/lib/core-server/src/utils/save-from-controls/duplicate-story-with-new-name.ts
  code/lib/core-server/src/utils/save-from-controls/getDiff.ts
  code/lib/core-server/src/utils/save-from-controls/mocks/csf-variances.stories.tsx
  code/lib/core-server/src/utils/save-from-controls/mocks/data-variances.stories.tsx
  code/lib/core-server/src/utils/save-from-controls/mocks/export-variances.stories.tsx
  code/lib/core-server/src/utils/save-from-controls/mocks/typescript-constructs.stories.tsx
  code/lib/core-server/src/utils/save-from-controls/save-from-controls.ts
  code/lib/core-server/src/utils/save-from-controls/update-args-in-csf-file.test.ts
  code/lib/core-server/src/utils/save-from-controls/update-args-in-csf-file.ts
  code/lib/core-server/src/utils/save-from-controls/valueToAST.ts
  code/lib/core-server/src/utils/whats-new.ts
  code/ui/.storybook/manager.tsx
  code/ui/manager/src/globals/exports.ts
  code/yarn.lock
Labels: feature request, core, ci:normal

#26710 Controls: Add toolbar to allow saving story from args
  code/addons/controls/package.json
  code/addons/controls/src/ControlsPanel.tsx
  code/addons/controls/src/SaveFromControls.stories.tsx
  code/addons/controls/src/SaveFromControls.tsx
  code/addons/onboarding/src/components/Modal/Modal.styled.tsx
  code/addons/onboarding/src/features/WelcomeModal/WelcomeModal.tsx
  code/addons/onboarding/src/features/WriteStoriesModal/WriteStoriesModal.tsx
  code/lib/manager-api/src/index.tsx
  code/ui/.storybook/main.ts
  code/ui/blocks/src/components/ArgsTable/ArgsTable.stories.tsx
  code/ui/blocks/src/components/ArgsTable/ArgsTable.tsx
  code/ui/components/package.json
  code/ui/components/src/components/Button/Button.tsx
  code/ui/components/src/components/Modal/Modal.stories.tsx
  code/ui/components/src/components/Modal/Modal.styled.tsx
  code/ui/components/src/components/Modal/Modal.tsx
  code/ui/components/src/index.ts
  code/ui/manager/src/globals/exports.ts
  code/yarn.lock
Labels: feature request, addon: controls, ci:normal

#26815 Nextjs: Extend mocks for next/headers, next/router, next/navigation and next/cache
  MIGRATION.md
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/cache/index.ts
  code/frameworks/nextjs/src/export-mocks/cache/index.ts
  code/frameworks/nextjs/src/export-mocks/headers/cookies.ts
  code/frameworks/nextjs/src/export-mocks/headers/headers.ts
  code/frameworks/nextjs/src/export-mocks/headers/index.ts
  code/frameworks/nextjs/src/export-mocks/index.ts
  code/frameworks/nextjs/src/export-mocks/navigation/index.ts
  code/frameworks/nextjs/src/export-mocks/router/index.ts
  code/frameworks/nextjs/src/export-mocks/webpack.ts
  code/frameworks/nextjs/src/globals.d.ts
  code/frameworks/nextjs/src/headers/index.ts
  code/frameworks/nextjs/src/headers/webpack.ts
  code/frameworks/nextjs/src/preset.ts
  code/frameworks/nextjs/src/routing/app-router-provider.tsx
  code/frameworks/nextjs/src/routing/decorator.tsx
  code/frameworks/nextjs/src/routing/navigation/index.ts
  code/frameworks/nextjs/src/routing/page-router-provider.tsx
  code/frameworks/nextjs/template/stories_nextjs-default-ts/ServerActions.stories.tsx
  code/frameworks/nextjs/template/stories_nextjs-default-ts/server-actions.tsx
  test-storybooks/portable-stories-kitchen-sink/nextjs/jest.config.js
  test-storybooks/portable-stories-kitchen-sink/nextjs/yarn.lock
Labels: feature request, nextjs, ci:merged

#26809 Core: Implement file formatter
  code/lib/core-common/package.json
  code/lib/core-common/src/index.ts
  code/lib/core-common/src/utils/__snapshots__/formatter.test.ts.snap
  code/lib/core-common/src/utils/__tests-formatter__/withPrettierConfig/.prettierrc
  code/lib/core-common/src/utils/__tests-formatter__/withoutEditorConfig/.editorconfig
  code/lib/core-common/src/utils/__tests-formatter__/withoutEditorConfig/.prettierrc
  code/lib/core-common/src/utils/__tests-formatter__/withoutPrettierConfig/.editorconfig
  code/lib/core-common/src/utils/__tests-formatter__/withoutPrettierConfig/.prettierrc
  code/lib/core-common/src/utils/formatter.test.ts
  code/lib/core-common/src/utils/formatter.ts
  code/yarn.lock
Labels: feature request, core, ci:normal

#26769 Controls: Added server channel to create a new story
  code/lib/core-events/src/index.ts
  code/lib/core-server/package.json
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/core-server/src/server-channel/create-new-story-channel.test.ts
  code/lib/core-server/src/server-channel/create-new-story-channel.ts
  code/lib/core-server/src/utils/get-component-variable-name.test.ts
  code/lib/core-server/src/utils/get-component-variable-name.ts
  code/lib/core-server/src/utils/get-new-story-file.test.ts
  code/lib/core-server/src/utils/get-new-story-file.ts
  code/lib/core-server/src/utils/get-story-id.test.ts
  code/lib/core-server/src/utils/get-story-id.ts
  code/lib/core-server/src/utils/new-story-templates/javascript.test.ts
  code/lib/core-server/src/utils/new-story-templates/javascript.ts
  code/lib/core-server/src/utils/new-story-templates/typescript.test.ts
  code/lib/core-server/src/utils/new-story-templates/typescript.ts
  code/lib/core-server/src/utils/posix.test.ts
  code/lib/core-server/src/utils/posix.ts
  code/ui/manager/src/globals/exports.ts
  code/yarn.lock
Labels: feature request, server, ci:normal

#26698 Vue: Enhance Support for vue-component-meta with tsconfig References
  code/frameworks/vue3-vite/src/plugins/vue-component-meta.ts
  code/frameworks/vue3-vite/src/preset.ts
  code/frameworks/vue3-vite/src/types.ts
  docs/get-started/vue3-vite.md
Labels: feature request, vue3, ci:normal

#26844 use next.js internal paths instead of *.actual paths
  MIGRATION.md
  code/frameworks/nextjs/src/cache/index.ts
  code/frameworks/nextjs/src/export-mocks/cache/index.ts
  code/frameworks/nextjs/src/export-mocks/headers/index.ts
  code/frameworks/nextjs/src/export-mocks/navigation/index.ts
  code/frameworks/nextjs/src/export-mocks/router/index.ts
  code/frameworks/nextjs/src/export-mocks/webpack.ts
  code/frameworks/nextjs/src/globals.d.ts
  test-storybooks/portable-stories-kitchen-sink/nextjs/yarn.lock
Labels: bug, nextjs, ci:merged

#26807 UI: Fix sidebar search hanging when selecting a story in touch mode
  code/ui/manager/package.json
  code/ui/manager/src/components/sidebar/Search.tsx
  code/ui/manager/src/components/sidebar/SearchResults.stories.tsx
  code/ui/manager/src/components/sidebar/SearchResults.tsx
  code/yarn.lock
Labels: bug, patch:yes, ui: search, ci:normal, empathy

#26793 Manager: Add 'Create a new story' button to sidebar
  code/builders/builder-manager/src/utils/framework.ts
  code/chromatic.config.json
  code/lib/manager-api/src/modules/versions.ts
  code/package.json
  code/ui/manager/src/components/sidebar/Search.stories.tsx
  code/ui/manager/src/components/sidebar/Search.tsx
  code/ui/manager/src/components/sidebar/Sidebar.stories.tsx
  code/ui/manager/src/components/sidebar/Sidebar.tsx
  code/ui/manager/src/typings.d.ts
  code/yarn.lock
Labels: feature request, ci:normal

#26852 Test: Remove chai as dependency of @storybook/test
  code/lib/test/package.json
Labels: bug, patch:yes, ci:normal

#26774 Doc Tools: Signature Type Error Handling
  code/lib/core-events/src/errors/preview-errors.test.ts
  code/lib/core-events/src/errors/preview-errors.ts
  code/lib/docs-tools/package.json
  code/lib/docs-tools/src/argTypes/convert/flow/convert.ts
  code/lib/docs-tools/src/argTypes/convert/typescript/convert.ts
  code/yarn.lock
Labels: bug, patch:yes, ci:normal

#26864 Action: Add new actions to the bottom of the panel and auto scroll
  code/addons/actions/src/components/ActionLogger/index.tsx
  code/addons/actions/src/containers/ActionLogger/index.tsx
  code/ui/components/src/components/ScrollArea/ScrollArea.tsx
Labels: maintenance, addon: actions, ci:normal

#26865 Next.js: Add `/cache.mock` entrypoint
  code/frameworks/nextjs/package.json
Labels: bug, nextjs, ci:normal

#26874 Nextjs: Support next 14.2 useParams functionality
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/routing/app-router-provider.tsx
  code/frameworks/nextjs/template/stories_nextjs-default-js/Head.stories.jsx
  code/frameworks/nextjs/template/stories_nextjs-default-js/Navigation.stories.jsx
  code/frameworks/nextjs/template/stories_nextjs-default-ts/Navigation.stories.tsx
  code/frameworks/nextjs/template/stories_nextjs-default-ts/Router.stories.tsx
  test-storybooks/portable-stories-kitchen-sink/nextjs/package.json
  test-storybooks/portable-stories-kitchen-sink/nextjs/stories/Navigation.stories.tsx
  test-storybooks/portable-stories-kitchen-sink/nextjs/stories/__snapshots__/portable-stories.test.tsx.snap
  test-storybooks/portable-stories-kitchen-sink/nextjs/yarn.lock
Labels: bug, patch:yes, nextjs, ci:merged

#26883 Docs: Improved withVuetifyDecorator example snippet
  code/addons/themes/docs/api.md
Labels: documentation, patch:yes, ci:docs

#26853 Next: Use `<<package>>::<<import>>` naming convention for mock names
  code/addons/actions/src/loaders.ts
  code/frameworks/nextjs/src/export-mocks/cache/index.ts
  code/frameworks/nextjs/src/export-mocks/headers/cookies.ts
  code/frameworks/nextjs/src/export-mocks/headers/headers.ts
  code/frameworks/nextjs/src/export-mocks/navigation/index.ts
  code/frameworks/nextjs/src/export-mocks/router/index.ts
  test-storybooks/portable-stories-kitchen-sink/nextjs/stories/__snapshots__/portable-stories.test.tsx.snap
  test-storybooks/portable-stories-kitchen-sink/nextjs/yarn.lock
Labels: feature request, ci:normal

#26488 MDX: Don't transform `http://` links
  code/ui/blocks/src/blocks/mdx.tsx
Labels: bug, patch:yes, mdx, ci:normal

#26907 E2E: Test `nextjs/default-ts` instead of `nextjs/default-js`
  code/e2e-tests/framework-nextjs.spec.ts
Labels: patch:yes, nextjs, build, ci:daily

#22552 Blocks: Add support for `of` prop to `Subtitle`
  MIGRATION.md
  code/ui/blocks/src/blocks/Subtitle.stories.tsx
  code/ui/blocks/src/blocks/Subtitle.tsx
  code/ui/blocks/src/examples/Button.stories.tsx
  code/ui/blocks/src/examples/ButtonWithMetaSubtitleAsBoth.stories.tsx
  code/ui/blocks/src/examples/ButtonWithMetaSubtitleAsComponentSubtitle.stories.tsx
  code/ui/blocks/src/examples/ButtonWithMetaSubtitleAsDocsSubtitle.stories.tsx
  code/ui/blocks/src/examples/EmptyExample.tsx
  docs/api/doc-block-subtitle.md
Labels: feature request, addon: docs, block: other, ci:normal

#26924 Onboarding: Fix modal background and add stories to manager's Storybook
  code/addons/onboarding/package.json
  code/addons/onboarding/src/components/Confetti/Confetti.tsx
  code/addons/onboarding/src/features/WelcomeModal/WelcomeModal.stories.tsx
  code/addons/onboarding/src/features/WelcomeModal/WelcomeModal.styled.tsx
  code/addons/onboarding/src/features/WelcomeModal/WelcomeModal.tsx
  code/addons/onboarding/src/features/WriteStoriesModal/WriteStoriesModal.stories.tsx
  code/addons/onboarding/src/features/WriteStoriesModal/WriteStoriesModal.styled.tsx
  code/addons/onboarding/src/features/WriteStoriesModal/WriteStoriesModal.tsx
  code/ui/.storybook/main.ts
Labels: bug, ci:normal

#23728 Addon-Docs: Title blocks to support `of` prop
  MIGRATION.md
  code/ui/blocks/src/blocks/Title.stories.tsx
  code/ui/blocks/src/blocks/Title.tsx
  docs/api/doc-block-title.md
Labels: feature request, block: other, ci:normal

#26939 Sandboxes: Fix inconsistent monospace fonts in Chromatic
  scripts/tasks/sandbox-parts.ts
Labels: build, ci:daily

#24400 Addon-links: Fix stories
  code/addons/links/template/stories/decorator.stories.ts
  code/addons/links/template/stories/hrefto.stories.ts
  code/addons/links/template/stories/linkto.stories.ts
  code/addons/links/template/stories/scroll.stories.ts
Labels: addon: links, build, ci:daily

#26899 UI: Fix not re-rendering tabs on state change
  code/ui/components/src/components/tabs/tabs.stories.tsx
  code/ui/components/src/components/tabs/tabs.tsx
Labels: bug, ui, ci:normal

#26950 Build: Fix flaky e2e tests with auto-retrying assertions
  code/e2e-tests/addon-docs.spec.ts
  code/e2e-tests/framework-svelte.spec.ts
Labels: build, ci:normal

#26898 React: Support v19 in `react-dom-shim`
  code/lib/react-dom-shim/src/preset.ts
Labels: maintenance, react, patch:yes, ci:merged

#26949 Core: Fix filters not being applied in WebKit
  code/lib/manager-api/src/modules/stories.ts
Labels: bug, core, ci:normal

#26860 Vite: Merge assetsInclude property with Storybook default values
  code/builders/builder-vite/src/assetsInclude.ts
  code/builders/builder-vite/src/vite-server.ts
Labels: bug, patch:yes, builder-vite, ci:normal

#26917 Addon-actions: Fix falsy args printing as object - 22163
  code/addons/actions/src/components/ActionLogger/index.tsx
Labels: bug, addon: actions, ci:normal

#26958 Dependencies: Upgrade @storybook/csf to 0.1.5
  code/addons/links/package.json
  code/lib/codemod/package.json
  code/lib/core-server/package.json
  code/lib/csf-tools/package.json
  code/lib/manager-api/package.json
  code/lib/preview-api/package.json
  code/lib/source-loader/package.json
  code/lib/types/package.json
  code/package.json
  code/renderers/server/package.json
  code/ui/blocks/package.json
  code/ui/components/package.json
  code/yarn.lock
Labels: dependencies, ci:normal
