Repository storybookjs/storybook, pull requests merged in 2024-02, with the labels that each got.

#25792 UI: Fix custom tabs not showing in the manager
  .circleci/config.yml
  MIGRATION.md
  code/addons/a11y/src/manager.tsx
  code/addons/backgrounds/src/manager.tsx
  code/addons/measure/src/manager.tsx
  code/addons/outline/src/manager.tsx
  code/addons/themes/docs/getting-started/postcss.md
  code/addons/themes/src/manager.tsx
  code/addons/toolbars/src/manager.tsx
  code/addons/viewport/src/manager.tsx
  code/lib/manager-api/src/modules/url.ts
  code/lib/types/src/modules/addons.ts
  code/package.json
  code/ui/manager/src/App.tsx
  code/ui/manager/src/components/layout/Layout.stories.tsx
  code/ui/manager/src/components/layout/Layout.tsx
  code/ui/manager/src/components/preview/Preview.mockdata.tsx
  code/ui/manager/src/components/preview/Preview.stories.tsx
  code/ui/manager/src/components/preview/Preview.tsx
  code/ui/manager/src/components/preview/Toolbar.tsx
  code/ui/manager/src/components/preview/Wrappers.tsx
  code/ui/manager/src/components/preview/tools/addons.tsx
  code/ui/manager/src/components/preview/tools/copy.tsx
  code/ui/manager/src/components/preview/tools/eject.tsx
  code/ui/manager/src/components/preview/tools/remount.tsx
  code/ui/manager/src/components/preview/tools/zoom.tsx
  code/ui/manager/src/components/preview/utils/components.ts
  code/ui/manager/src/components/preview/utils/types.tsx
  code/ui/manager/src/container/Preview.tsx
  code/ui/manager/src/index.tsx
  code/yarn.lock
  scripts/package.json
  scripts/utils/yarn.ts
  scripts/yarn.lock
Labels: bug, api: addons, ui, core, ci:normal

#25848 Docs: `tabId` for toolbar addons
  MIGRATION.md
  docs/addons/addon-types.md
  docs/addons/writing-addons.md
  docs/snippets/common/storybook-addon-manager-initial-state.ts.mdx
  docs/snippets/common/storybook-addon-tab-example.js.mdx
  docs/snippets/common/storybook-addon-toolbar-example.js.mdx
Labels: documentation, ci:docs

#25713 CLI: Upgrade boxen library
  code/lib/cli/package.json
  code/lib/core-server/package.json
  code/yarn.lock
  scripts/package.json
  scripts/yarn.lock
Labels: maintenance, cli, ci:normal

#21966 Build: Add discord notification to cron job action
  .github/workflows/cron-weekly.yml
Labels: build, ci:docs

#25782 CLI: Fix wording for `react-docgen` automigration
  code/lib/cli/src/automigrate/fixes/react-docgen.ts
Labels: documentation, cli, ci:docs

#25850 CLI: Add Visual Tests addon to `init`
  code/e2e-tests/addon-docs.spec.ts
  code/e2e-tests/tags.spec.ts
  code/lib/cli/src/generators/baseGenerator.ts
Labels: feature request, cli, ci:normal, addon: visual test

#25842 Docs: Minor SWC docs polish
  docs/api/main-config-swc.md
  docs/configure/compilers.md
Labels: documentation, ci:docs

#25856 Build: Downgrade `playwright`
  .circleci/config.yml
  code/package.json
  code/yarn.lock
  scripts/package.json
  scripts/utils/yarn.ts
  scripts/yarn.lock
Labels: build, ci:daily

#25859 Build: Fix CI
  code/lib/cli/src/generators/baseGenerator.ts
Labels: build, ci:daily

#25744 Docs: Document the Visual Testing addon
  docs/snippets/common/chromatic-storybook-add.npm.js.mdx
  docs/snippets/common/chromatic-storybook-add.pnpm.js.mdx
  docs/snippets/common/chromatic-storybook-add.yarn.js.mdx
  docs/writing-tests/accessibility-testing.md
  docs/writing-tests/chromatic-first-build-optimized.png
  docs/writing-tests/chromatic-second-build-optimized.png
  docs/writing-tests/component-visual-testing-optimized.mp4
  docs/writing-tests/interaction-testing.md
  docs/writing-tests/stories-in-unit-tests.md
  docs/writing-tests/test-coverage.md
  docs/writing-tests/test-runner.md
  docs/writing-tests/visual-testing.md
  docs/writing-tests/vta-changes-accepted.png
  docs/writing-tests/vta-changes-found.png
  docs/writing-tests/vta-enable.png
  docs/writing-tests/vta-prbadge-test.png
  docs/writing-tests/vta-run-tests.png
  docs/writing-tests/vta-select-project.png
Labels: documentation, ci:docs

#25864 Docs: Misc SB 8 removals and other details
  MIGRATION.md
  code/frameworks/nextjs/README.md
  docs/contribute/framework.md
  docs/migration-guide.md
Labels: documentation, ci:docs

#25869 Test: Fix jest-dom matcher type imports
  code/lib/test/src/expect.ts
Labels: bug, typescript, ci:normal

#25855 Docs: Remove deprecated props from Canvas Doc Block
  docs/api/doc-block-canvas.md
Labels: documentation, ci:docs

#25895 React Native: Remove watcher from init
  code/lib/cli/src/generators/REACT_NATIVE/index.ts
Labels: maintenance, react-native, cli, patch:yes, ci:normal

#25907 Next.js: Fix frameworkOptions resolution
  code/frameworks/nextjs/src/preset.ts
Labels: bug, patch:yes, nextjs, ci:normal

#25906 React Native: Fix errors on compose story
  code/lib/preview-api/src/modules/preview-web/UrlStore.ts
  code/lib/preview-api/src/modules/preview-web/WebView.ts
Labels: bug, react-native, ci:normal, portable stories

#25908 React Native: Fix init fails when package is already installed
  code/lib/cli/src/generators/REACT_NATIVE/index.ts
Labels: bug, react-native, patch:yes, ci:normal

#25883 Fix: Add Visual Test Addon to init command
  code/lib/cli/src/generators/baseGenerator.ts
Labels: bug, cli, ci:normal

#25863 Docs: StoriesOf API removal
  code/lib/preview-api/docs/storiesOf.md
  docs/api/csf.md
  docs/configure/frameworks-feature-support.md
Labels: documentation, ci:docs

#25914 UI: Fix overlapping on the ref button in the sidebar
  code/ui/manager/src/components/sidebar/Refs.tsx
Labels: ui, maintenance, ci:normal

#25866 UI: Remove keyboard shortcut hint in search bar on mobile viewports
  code/ui/manager/src/components/sidebar/Search.tsx
Labels: bug, ui, ci:normal

#25916 Tests: Re-enable tests for presets/server-webpack
  code/presets/server-webpack/src/lib/compiler/__testfixtures__/a11y.snapshot
  code/presets/server-webpack/src/lib/compiler/__testfixtures__/actions.snapshot
  code/presets/server-webpack/src/lib/compiler/__testfixtures__/backgrounds.snapshot
  code/presets/server-webpack/src/lib/compiler/__testfixtures__/controls.snapshot
  code/presets/server-webpack/src/lib/compiler/__testfixtures__/kitchen_sink.snapshot
  code/presets/server-webpack/src/lib/compiler/__testfixtures__/links.snapshot
  code/presets/server-webpack/src/lib/compiler/__testfixtures__/multiple_stories.snapshot
  code/presets/server-webpack/src/lib/compiler/__testfixtures__/params.json
  code/presets/server-webpack/src/lib/compiler/__testfixtures__/params.snapshot
  code/presets/server-webpack/src/lib/compiler/__testfixtures__/params_override.snapshot
  code/presets/server-webpack/src/lib/compiler/__testfixtures__/yaml.snapshot
  code/presets/server-webpack/src/lib/compiler/__testfixtures__/yml.snapshot
  code/presets/server-webpack/vitest.config.ts
Labels: build, ci:normal, empathy

#25925 Addon-docs: Fix MDX components not being applied in Vite and theming loading twice
  code/addons/docs/package.json
  code/addons/docs/src/preset.ts
Labels: bug, addon: docs, mdx, builder-vite, ci:normal

#25926 Core: Fix React peer dependency warnings
  code/addons/backgrounds/package.json
  code/addons/docs/package.json
  code/addons/interactions/package.json
  code/addons/measure/package.json
  code/addons/outline/package.json
  code/lib/theming/package.json
  code/ui/blocks/package.json
  code/yarn.lock
Labels: maintenance, core, addon: docs, ci:normal

#25888 Maintenance: Rename testing-utils paths to portable-stories
  code/lib/preview-api/src/modules/store/csf/index.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.test.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.ts
  code/lib/preview-api/src/modules/store/csf/testing-utils/index.test.ts
  code/renderers/react/src/__test__/__snapshots__/portable-stories.test.tsx.snap
  code/renderers/react/src/__test__/internals.test.tsx
  code/renderers/react/src/__test__/portable-stories.test.tsx
  code/renderers/react/src/index.ts
  code/renderers/react/src/portable-stories.ts
  code/renderers/vue3/src/__tests__/composeStories/Button.stories.ts
  code/renderers/vue3/src/__tests__/composeStories/__snapshots__/portable-stories.test.ts.snap
  code/renderers/vue3/src/__tests__/composeStories/internals.test.tsx
  code/renderers/vue3/src/__tests__/composeStories/portable-stories.test.ts
  code/renderers/vue3/src/index.ts
  code/renderers/vue3/src/portable-stories.ts
Labels: maintenance, ci:normal, portable stories

#25387 Core: Move @types packages to dev deps in core-common
  code/lib/core-common/package.json
Labels: dependencies, typescript, ci:normal

#25940 Docs: Viewport fix library name typos
  docs/essentials/viewport.md
Labels: documentation, ci:docs

#25931 Docs: Fix broken essential addons link in API parameters
  docs/api/parameters.md
Labels: documentation, ci:docs

#25949 Docs: Visual testing update minimum Storybook version
  docs/writing-tests/visual-testing.md
Labels: documentation, ci:docs

#25951 UI: Fix `display=true` warning in console
  code/ui/manager/src/components/preview/Preview.tsx
  code/ui/manager/src/components/preview/utils/components.ts
Labels: bug, api: addons, ui, ci:normal, empathy

#25950 Core: Fix boolean `true` args in URL getting ignored
  code/lib/preview-api/src/modules/store/args.test.ts
  code/lib/preview-api/src/modules/store/args.ts
Labels: bug, core, args, ci:normal, empathy

#25954 Tests: Fix unit test timeouts
  code/package.json
  code/vitest-setup.ts
  code/vitest.workspace.ts
  code/yarn.lock
  scripts/package.json
  scripts/vitest.config.ts
  scripts/yarn.lock
Labels: build, ci:normal, empathy

#25943 Portable stories: Pass story context to the play function of a composed story
  code/lib/preview-api/src/modules/store/csf/portable-stories.test.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.ts
Labels: bug, core, ci:normal, portable stories

#25952 Docs: Add migration note about TS/stats and link to it
  MIGRATION.md
  code/builders/builder-vite/package.json
  code/builders/builder-vite/src/build.ts
  code/yarn.lock
Labels: documentation, ci:docs

#25942 Release tooling: Fix patch preparation not cancelling when no patches available
  .github/workflows/prepare-patch-release.yml
  scripts/release/pick-patches.ts
Labels: build, ci:docs, empathy

#25960 Docs: Test runner minor changes for plug and play support
  docs/writing-tests/test-runner.md
Labels: documentation, ci:docs

#25968 Docs: Fix npm command in React-Peer-Dependency migration section
  MIGRATION.md
Labels: documentation, ci:docs

#25958 Codemod: Migrate to test package
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/remove-jest-testing-library.test.ts
  code/lib/cli/src/automigrate/fixes/remove-jest-testing-library.ts
  code/lib/codemod/package.json
  code/lib/codemod/src/transforms/__tests__/migrate-to-test-package.test.ts
  code/lib/codemod/src/transforms/csf-2-to-3.ts
  code/lib/codemod/src/transforms/mdx-to-csf.ts
  code/lib/codemod/src/transforms/migrate-to-test-package.ts
  code/lib/codemod/src/transforms/storiesof-to-csf.js
  code/lib/codemod/src/transforms/upgrade-deprecated-types.ts
  code/nx.json
Labels: feature request, ci:normal

#25974 Portable stories: Only provide a play function wrapper if it exists
  MIGRATION.md
  code/lib/preview-api/src/modules/store/csf/portable-stories.test.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.ts
  code/lib/types/src/modules/composedStory.ts
  code/renderers/react/src/__test__/portable-stories.test.tsx
  code/renderers/vue3/src/__tests__/composeStories/portable-stories.test.ts
Labels: bug, ci:normal, portable stories

#25934 CLI: Refactor to add autoblockers
  MIGRATION.md
  code/lib/cli/src/autoblock/block-dependencies-versions.ts
  code/lib/cli/src/autoblock/block-node-version.ts
  code/lib/cli/src/autoblock/block-stories-mdx.ts
  code/lib/cli/src/autoblock/block-storystorev6.ts
  code/lib/cli/src/autoblock/index.test.ts
  code/lib/cli/src/autoblock/index.ts
  code/lib/cli/src/autoblock/types.ts
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/nodejs-requirement.test.ts
  code/lib/cli/src/automigrate/fixes/nodejs-requirement.ts
  code/lib/cli/src/automigrate/fixes/vite-config-file.ts
  code/lib/cli/src/automigrate/fixes/vite4.ts
  code/lib/cli/src/automigrate/index.ts
  code/lib/cli/src/automigrate/types.ts
  code/lib/cli/src/generate.ts
  code/lib/cli/src/helpers.ts
  code/lib/cli/src/migrate.ts
  code/lib/cli/src/upgrade.ts
  code/lib/core-common/src/js-package-manager/JsPackageManager.ts
  code/lib/core-common/src/utils/get-storybook-info.ts
Labels: feature request, cli, ci:normal

#26019 Revert: Revert 24451 in main
  code/addons/interactions/src/preview.ts
Labels: bug, patch:yes, ci:normal

#26027 Portable stories: Add support for loaders
  code/lib/preview-api/src/modules/store/csf/portable-stories.test.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.ts
  code/lib/types/src/modules/composedStory.ts
  code/renderers/react/src/__test__/Button.stories.tsx
  code/renderers/react/src/__test__/__snapshots__/portable-stories.test.tsx.snap
  code/renderers/react/src/__test__/portable-stories.test.tsx
  code/renderers/vue3/src/__tests__/composeStories/Button.stories.ts
  code/renderers/vue3/src/__tests__/composeStories/__snapshots__/portable-stories.test.ts.snap
  code/renderers/vue3/src/__tests__/composeStories/portable-stories.test.ts
  test-storybooks/portable-stories-react/src/stories/Button.stories.tsx
Labels: feature request, ci:normal, portable stories

#26024 Addon-docs: Fix pnpm+Vite failing to build with `@storybook/theming` Rollup error
  code/addons/docs/src/preset.ts
Labels: bug, addon: docs, ci:normal

#25862 Docs: Update example to import a raw markdown file
  docs/api/doc-block-markdown.md
Labels: documentation, ci:docs

#26042 Addon Themes: Make type generic less strict
  code/addons/themes/src/decorators/class-name.decorator.tsx
  code/addons/themes/src/decorators/data-attribute.decorator.tsx
  code/addons/themes/src/decorators/provider.decorator.tsx
Labels: bug, patch:yes, typescript, ci:normal, addon: themes

#26039 Docs: Add migration note about `addons.setConfig`
  MIGRATION.md
Labels: documentation, ci:docs

#26033 Actions: Add spy to action for explicit actions
  code/addons/actions/src/runtime/action.ts
  code/addons/interactions/src/preview.ts
  code/lib/instrumenter/src/instrumenter.ts
Labels: bug, ci:normal

#25889 Test: Bump user-event to 14.5.2
  code/lib/test/package.json
  code/yarn.lock
Labels: bug, ci:normal

#26046 Vite: Fix config typing issue of the `typescript` property
  code/frameworks/react-vite/src/types.ts
Labels: bug, typescript, builder-vite, ci:normal

#25745 Next.js: Support getImageProps API
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/images/next-image.tsx
  code/frameworks/nextjs/src/swc/next-swc-loader-patch.ts
  code/frameworks/nextjs/template/stories_nextjs-default-js/GetImageProps.stories.jsx
  code/yarn.lock
Labels: feature request, nextjs, ci:daily

#26051 Vite: Fix bug that meant we always warned about TS plugin
  code/builders/builder-vite/src/build.ts
Labels: bug, builder-vite, ci:normal

#26077 Core: Add addon removal telemetry
  code/lib/cli/src/generate.ts
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/telemetry/src/types.ts
Labels: maintenance, core, ci:normal, addon: visual test

#26086 Core: Update ip version to fix CVE-2023-42282
  code/lib/core-server/package.json
  code/yarn.lock
Labels: maintenance, patch:yes, core, security, ci:normal

#26072 Build: Re-enable flaky tests
  code/e2e-tests/addon-docs.spec.ts
  code/e2e-tests/tags.spec.ts
Labels: build, ci:daily

#26000 Automigration: Add webpack5 compiler automigration
  code/frameworks/nextjs/src/preset.ts
  code/lib/cli/src/automigrate/fixes/angular-builders-multiproject.ts
  code/lib/cli/src/automigrate/fixes/incompatible-addons.ts
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/prompt-remove-react.ts
  code/lib/cli/src/automigrate/fixes/remove-global-client-apis.ts
  code/lib/cli/src/automigrate/fixes/remove-jest-testing-library.ts
  code/lib/cli/src/automigrate/fixes/storyshots-migration.ts
  code/lib/cli/src/automigrate/fixes/webpack5-compiler-setup.test.ts
  code/lib/cli/src/automigrate/fixes/webpack5-compiler-setup.ts
  code/lib/cli/src/automigrate/helpers/mainConfigFile.ts
  code/lib/cli/src/automigrate/index.ts
  code/lib/cli/src/automigrate/types.ts
  code/lib/cli/src/dirs.ts
  code/lib/cli/src/generators/baseGenerator.ts
  code/lib/cli/src/helpers.ts
  code/lib/cli/src/project_types.ts
  code/lib/core-common/src/utils/get-storybook-info.ts
  code/lib/types/package.json
  code/lib/types/scripts/generate-available-frameworks.js
  code/lib/types/src/index.ts
  code/lib/types/src/modules/frameworks.ts
  code/vitest.workspace.ts
Labels: maintenance, ci:normal

#26093 Vite: Fix issue getting preview stats with Vite builder
  code/builders/builder-vite/src/build.ts
Labels: bug, builder-vite, ci:normal

#26094 Addon-actions: Warn when argTypesRegex is used together with the visual test addon
  code/lib/core-common/src/utils/get-storybook-info.ts
  code/lib/core-server/package.json
  code/lib/core-server/src/build-dev.ts
  code/lib/core-server/src/utils/warnWhenUsingArgTypesRegex.ts
  code/yarn.lock
Labels: feature request, ci:normal

#26101 Docs: Fix conditional rendering of sections
  docs/api/csf.md
  docs/writing-stories/args.md
Labels: documentation, ci:docs

#26099 CLI: Add line ignoring storybook's `.log` files upon `init`
  code/lib/cli/src/initiate.ts
Labels: feature request, cli, ci:normal

#26113 Svelte: Remove deprecated SvelteComponentTyped in favor of SvelteComponent
  code/renderers/svelte/src/public-types.test.ts
  code/renderers/svelte/src/public-types.ts
  code/renderers/svelte/src/types.ts
Labels: maintenance, svelte, ci:normal

#26117 Build: Make sure portable stories won't break in Node environments
  code/lib/preview-api/src/modules/preview-web/render/StoryRender.test.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.test.ts
  code/lib/preview-api/vitest.config.ts
Labels: build, ci:normal

#26035 Core: Catch fail to lead `main.ts` over #23972
  code/lib/cli/src/upgrade.ts
  code/lib/core-common/src/utils/load-main-config.ts
  code/lib/core-common/src/utils/validate-configuration-files.ts
  code/lib/core-events/package.json
  code/lib/core-events/src/errors/server-errors.ts
  code/lib/core-server/src/build-dev.ts
  code/yarn.lock
Labels: bug, patch:yes, core, ci:normal

#26102 CLI: Automigration remove `legacyMdx1` & uninstall `@storybook/mdx1-csf`
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/mdx-gfm.test.ts
  code/lib/cli/src/automigrate/fixes/mdx-gfm.ts
  code/lib/cli/src/automigrate/fixes/remove-legacymdx1.ts
  code/lib/types/src/modules/core-common.ts
  docs/api/main-config-features.md
Labels: maintenance, cli, ci:normal

#26100 CLI: Remove the logging to file feature from autoblockers
  code/lib/cli/package.json
  code/lib/cli/src/autoblock/block-dependencies-versions.ts
  code/lib/cli/src/autoblock/block-node-version.ts
  code/lib/cli/src/autoblock/block-stories-mdx.ts
  code/lib/cli/src/autoblock/block-storystorev6.ts
  code/lib/cli/src/autoblock/index.test.ts
  code/lib/cli/src/autoblock/index.ts
  code/lib/cli/src/autoblock/types.ts
  code/yarn.lock
Labels: bug, ci:normal

#25826 Docs: Add "React peer dependency is no longer required" section to addon migration guide
  docs/addons/addon-migration-guide.md
Labels: documentation, ci:docs

#26107 Docs: Types are written with `_` instead of `-`
  docs/get-started/install.md
Labels: documentation, ci:docs

#26062 Portable stories: Introduce experimental API for Playwright CT+React
  code/lib/preview-api/src/index.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.ts
  code/renderers/react/package.json
  code/renderers/react/src/playwright.ts
  code/renderers/vue3/package.json
  code/renderers/vue3/src/playwright.ts
  code/renderers/vue3/src/portable-stories.ts
  test-storybooks/portable-stories-kitchen-sink/package.json
  test-storybooks/portable-stories-kitchen-sink/react/.storybook/preview.tsx
  test-storybooks/portable-stories-kitchen-sink/react/stories/Button.cy.tsx
  test-storybooks/portable-stories-kitchen-sink/react/stories/Button.playwright.tsx
  test-storybooks/portable-stories-kitchen-sink/react/stories/Button.portable.ts
  test-storybooks/portable-stories-kitchen-sink/react/stories/Button.stories.playwright.ts
  test-storybooks/portable-stories-kitchen-sink/react/stories/Button.stories.tsx
  test-storybooks/portable-stories-kitchen-sink/react/stories/__snapshots__/Button.test.tsx.snap
  test-storybooks/portable-stories-kitchen-sink/vue3/stories/Button.cy.tsx
  test-storybooks/portable-stories-kitchen-sink/vue3/stories/Button.playwright.tsx
  test-storybooks/portable-stories-kitchen-sink/vue3/stories/Button.stories.playwright.ts
  test-storybooks/portable-stories-kitchen-sink/vue3/stories/Button.stories.ts
Labels: feature request, ci:normal, portable stories

#26120 Addon-controls: Dont show "setup controls" if control is disabled or a function
  code/ui/.storybook/preview.tsx
  code/ui/blocks/src/components/ArgsTable/ArgControl.tsx
  code/ui/blocks/src/controls/Object.stories.tsx
  code/ui/blocks/src/controls/Object.tsx
Labels: bug, ci:normal

#26118 Addon-interactions: Only mutate arg keys when writable
  code/addons/interactions/src/preview.test.ts
  code/addons/interactions/src/preview.ts
Labels: bug, ci:normal

#26049 CLI: Fix logic to add `^` packages in upgrade
  code/lib/cli/src/upgrade.ts
Labels: bug, cli, ci:normal

#26150 Build: Add implicit actions
  code/ui/manager/src/components/upgrade/UpgradeBlock.stories.tsx
  code/ui/manager/src/settings/about.stories.tsx
Labels: build, ci:normal

#25988 Docs: add message that storybook creates node_modules in pnp
  docs/get-started/install.md
Labels: documentation, ci:docs

#26145 Core: Fix addon bundling script
  scripts/prepare/addon-bundle.ts
Labels: bug, api: addons, patch:yes, core, ci:daily

#25773 Vue3: Fix SourceDecorator Exception
  code/renderers/vue3/src/docs/sourceDecorator.ts
Labels: bug, vue3, ci:daily

#22285 Vue: Replace vue-docgen-api with Volar vue-component-meta
  code/frameworks/vue3-vite/package.json
  code/frameworks/vue3-vite/src/plugins/vue-component-meta.ts
  code/frameworks/vue3-vite/src/plugins/vue-docgen.ts
  code/frameworks/vue3-vite/src/preset.ts
  code/frameworks/vue3-vite/src/types.ts
  code/renderers/vue3/src/docs/__snapshots__/extractArgTypes.test.ts.snap
  code/renderers/vue3/src/docs/extractArgTypes.test.ts
  code/renderers/vue3/src/docs/extractArgTypes.ts
  code/renderers/vue3/src/docs/sourceDecorator.ts
  code/renderers/vue3/src/docs/tests-meta-components/meta-components.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/OptionApi.stories.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/ReferenceTypeEvents.stories.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/ReferenceTypeExposed.stories.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/ReferenceTypeProps.stories.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/TemplateSlots.stories.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/TsComponent.stories.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/TsNameExport.stories.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/class-slots/component.vue
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/options-api/component.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/reference-type-events/component.vue
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/reference-type-exposed/component.vue
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/reference-type-props/component-js-setup.vue
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/reference-type-props/component-js.vue
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/reference-type-props/component.vue
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/reference-type-props/my-props.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/template-slots/component-no-script.vue
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/template-slots/component.vue
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/ts-component/component.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/ts-named-export/component.ts
  code/yarn.lock
Labels: maintenance, vue, vue3, ci:daily

#25682 UI: Updated the theme switcher to use toggle button for two themes
  code/addons/themes/src/theme-switcher.tsx
Labels: ui, maintenance, ci:normal

#26175 Docs: Polish Addon migration guide
  docs/addons/addon-migration-guide.md
  docs/snippets/common/storybook-addon-panel-example.js.mdx
Labels: documentation, ci:docs

#26178 Docs: Fix Visual tests
  docs/writing-tests/visual-testing.md
Labels: documentation, ci:docs

#26128 CLI: Rename `--webpack-stats-json` to `--stats-json` as it works in Vite
  MIGRATION.md
  code/builders/builder-vite/package.json
  code/builders/builder-vite/src/build.ts
  code/builders/builder-vite/src/index.ts
  code/frameworks/angular/src/builders/build-storybook/index.spec.ts
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/frameworks/angular/src/builders/start-storybook/index.ts
  code/lib/cli/src/generate.ts
  code/lib/core-events/src/errors/server-errors.ts
  code/lib/core-server/src/build-dev.ts
  code/lib/core-server/src/build-static.ts
  code/lib/types/src/modules/core-common.ts
  code/yarn.lock
  docs/api/cli-options.md
Labels: maintenance, cli, builder-vite, ci:normal

#26177 Vue: Improve types for array, union and intersection when using vue-docgen-api
  code/frameworks/vue3-vite/src/types.ts
  code/lib/docs-tools/src/argTypes/docgen/utils/docgenInfo.ts
  code/renderers/vue3/src/docs/__snapshots__/extractArgTypes.test.ts.snap
  code/renderers/vue3/src/docs/extractArgTypes.test.ts
  code/renderers/vue3/src/docs/extractArgTypes.ts
  code/renderers/vue3/src/docs/tests-meta-components/meta-components.ts
Labels: bug, vue3, ci:normal

#26187 Build: Refactor portable stories kitchen sink directories
  .circleci/config.yml
  test-storybooks/portable-stories-kitchen-sink/package.json
  test-storybooks/portable-stories-kitchen-sink/react/.gitignore
  test-storybooks/portable-stories-kitchen-sink/react/.yarn/releases/yarn-4.1.0.cjs
  test-storybooks/portable-stories-kitchen-sink/react/.yarnrc
  test-storybooks/portable-stories-kitchen-sink/react/.yarnrc.yml
  test-storybooks/portable-stories-kitchen-sink/react/package.json
  test-storybooks/portable-stories-kitchen-sink/react/playwright.config.ts
  test-storybooks/portable-stories-kitchen-sink/react/stories/Button.cy.tsx
  test-storybooks/portable-stories-kitchen-sink/react/stories/__snapshots__/Button.test.tsx.snap
  test-storybooks/portable-stories-kitchen-sink/react/tsconfig.json
  test-storybooks/portable-stories-kitchen-sink/react/tsconfig.node.json
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/vue3/.gitignore
  test-storybooks/portable-stories-kitchen-sink/vue3/package.json
  test-storybooks/portable-stories-kitchen-sink/vue3/playwright.config.ts
  test-storybooks/portable-stories-kitchen-sink/vue3/tsconfig.json
  test-storybooks/portable-stories-kitchen-sink/vue3/tsconfig.node.json
  test-storybooks/portable-stories-kitchen-sink/vue3/yarn.lock
Labels: build, ci:normal, portable stories

#26170 Core: Add CJS entries to addon annotations
  code/addons/a11y/package.json
  code/addons/actions/package.json
  code/addons/backgrounds/package.json
  code/addons/docs/package.json
  code/addons/highlight/package.json
  code/addons/interactions/package.json
  code/addons/links/package.json
  code/addons/measure/package.json
  code/addons/outline/package.json
  code/addons/themes/package.json
  code/addons/viewport/package.json
  scripts/prepare/addon-bundle.ts
Labels: core, ci:normal, portable stories

#26195 Builder Vite: Pass on errors about not having a real stats object in smoke tests
  code/lib/core-server/src/build-dev.ts
Labels: bug, builder-vite, ci:daily

#26203 Automigration: Fix overflow bug by using a better link
  code/lib/cli/src/automigrate/fixes/remove-argtypes-regex.ts
Labels: bug, ci:normal

#26104 Fix function prop rendering as `noRefCheck` in storybook docs
  code/renderers/react/src/docs/jsxDecorator.tsx
Labels: bug, ci:normal

#26110 Blocks: Fix `Stories` block rendering duplicate stories when globals are changed
  code/addons/docs/template/stories/docs2/multiple-csf-files-a.stories.ts
  code/addons/docs/template/stories/docs2/multiple-csf-files-b.stories.ts
  code/e2e-tests/addon-docs.spec.ts
  code/lib/preview-api/src/modules/preview-web/docs-context/DocsContext.test.ts
  code/lib/preview-api/src/modules/preview-web/docs-context/DocsContext.ts
  code/lib/preview-api/src/modules/preview-web/docs-context/test-utils.ts
  code/renderers/svelte/template/components/Html.svelte
Labels: bug, addon: docs, ci:normal

#26202 Maintenance: Remove deprecation of `manager-api`'s `types` export
  code/lib/manager-api/src/index.tsx
  code/lib/types/src/modules/addons.ts
Labels: maintenance, typescript, ci:normal

#26067 Automigrations: Enhance experience for upgrades from Storybook 6 to 8
  code/lib/cli/src/autoblock/block-dependencies-versions.ts
  code/lib/cli/src/autoblock/block-stories-mdx.ts
  code/lib/cli/src/autoblock/index.ts
  code/lib/cli/src/automigrate/fixes/__snapshots__/angular-builders.test.ts.snap
  code/lib/cli/src/automigrate/fixes/angular-builders-multiproject.ts
  code/lib/cli/src/automigrate/fixes/angular-builders.test.ts
  code/lib/cli/src/automigrate/fixes/angular-builders.ts
  code/lib/cli/src/automigrate/fixes/autodocs-true.ts
  code/lib/cli/src/automigrate/fixes/bare-mdx-stories-glob.test.ts
  code/lib/cli/src/automigrate/fixes/bare-mdx-stories-glob.tsx
  code/lib/cli/src/automigrate/fixes/builder-vite.ts
  code/lib/cli/src/automigrate/fixes/cra5.ts
  code/lib/cli/src/automigrate/fixes/eslint-plugin.ts
  code/lib/cli/src/automigrate/fixes/incompatible-addons.ts
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/mdx-1-to-3.test.ts
  code/lib/cli/src/automigrate/fixes/mdx-1-to-3.ts
  code/lib/cli/src/automigrate/fixes/mdx-gfm.ts
  code/lib/cli/src/automigrate/fixes/new-frameworks.test.ts
  code/lib/cli/src/automigrate/fixes/new-frameworks.ts
  code/lib/cli/src/automigrate/fixes/prompt-remove-react.test.ts
  code/lib/cli/src/automigrate/fixes/prompt-remove-react.ts
  code/lib/cli/src/automigrate/fixes/react-docgen.ts
  code/lib/cli/src/automigrate/fixes/remove-argtypes-regex.ts
  code/lib/cli/src/automigrate/fixes/remove-global-client-apis.ts
  code/lib/cli/src/automigrate/fixes/remove-jest-testing-library.test.ts
  code/lib/cli/src/automigrate/fixes/remove-jest-testing-library.ts
  code/lib/cli/src/automigrate/fixes/remove-legacymdx1.ts
  code/lib/cli/src/automigrate/fixes/sb-binary.test.ts
  code/lib/cli/src/automigrate/fixes/sb-binary.ts
  code/lib/cli/src/automigrate/fixes/sb-scripts.ts
  code/lib/cli/src/automigrate/fixes/storyshots-migration.ts
  code/lib/cli/src/automigrate/fixes/vite-config-file.ts
  code/lib/cli/src/automigrate/fixes/vite4.ts
  code/lib/cli/src/automigrate/fixes/vue3.ts
  code/lib/cli/src/automigrate/fixes/webpack5-compiler-setup.ts
  code/lib/cli/src/automigrate/fixes/webpack5.ts
  code/lib/cli/src/automigrate/fixes/wrap-require.ts
  code/lib/cli/src/automigrate/index.test.ts
  code/lib/cli/src/automigrate/index.ts
  code/lib/cli/src/automigrate/types.ts
  code/lib/cli/src/migrate.ts
  code/lib/cli/src/upgrade.test.ts
  code/lib/cli/src/upgrade.ts
  code/lib/core-common/src/js-package-manager/NPMProxy.test.ts
  code/lib/core-common/src/js-package-manager/NPMProxy.ts
  code/lib/core-common/src/js-package-manager/PNPMProxy.ts
  code/lib/core-common/src/js-package-manager/Yarn1Proxy.ts
  code/lib/core-common/src/js-package-manager/Yarn2Proxy.ts
Labels: feature request, ci:normal

#26164 Codemods: Enhance mdx-to-csf codemod
  code/lib/codemod/src/index.ts
  code/lib/codemod/src/transforms/__tests__/mdx-to-csf.test.ts
  code/lib/codemod/src/transforms/mdx-to-csf.ts
  docs/migration-guide.md
Labels: bug, codemods, ci:normal

#26200 Docs: Don't show how to setup controls for empty argTypes in doc pages
  code/ui/blocks/src/blocks/Controls.stories.tsx
  code/ui/blocks/src/blocks/Controls.tsx
  code/ui/blocks/src/examples/EmptyArgTypes.stories.tsx
Labels: feature request, ci:normal

#26213 Angular: Fix Storybook startup after init
  code/lib/cli/src/generators/ANGULAR/index.ts
  code/lib/cli/src/initiate.ts
Labels: bug, angular, ci:normal

#26181 Docs: Update migration guide for latest
  docs/migration-guide.md
Labels: documentation, ci:docs

#26201 Automigration: Run the `mdx-to-csf` codemod during automigration
  code/lib/cli/src/automigrate/fixes/bare-mdx-stories-glob.tsx
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/mdx-to-csf.test.ts
  code/lib/cli/src/automigrate/fixes/mdx-to-csf.ts
  code/lib/cli/src/migrate.ts
  code/lib/codemod/src/index.ts
Labels: feature request, cli, codemods, automigrations, ci:normal

#26172 Docs: Fix heading levels of `useOf` API reference
  docs/api/doc-block-useof.md
Labels: documentation, patch:yes, ci:docs

#26208 Revert: "Angular: Reduce the warnings from `ts-loader` via stricter list of `includes`"
  code/lib/cli/templates/angular/application/template-csf/.storybook/tsconfig.json
  code/lib/cli/templates/angular/library/template-csf/.storybook/tsconfig.json
  scripts/tasks/sandbox-parts.ts
Labels: bug, ci:normal

#26214 Angular: Use dedicated tsconfig for compodocs
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/frameworks/angular/src/builders/start-storybook/index.ts
  code/lib/cli/src/generators/ANGULAR/helpers.ts
  code/lib/cli/templates/angular/application/template-csf/.storybook/tsconfig.doc.json
Labels: bug, ci:normal

#26224 Core: Export preview symbols for embedding
  code/lib/preview-api/src/index.ts
Labels: maintenance, core, ci:normal

#26210 Automigrations: General fixes for automigrations, blockers and codemods
  code/lib/cli/src/autoblock/block-dependencies-versions.ts
  code/lib/cli/src/autoblock/block-node-version.ts
  code/lib/cli/src/autoblock/block-storystorev6.ts
  code/lib/cli/src/autoblock/index.test.ts
  code/lib/cli/src/autoblock/index.ts
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/remove-argtypes-regex.ts
  code/lib/cli/src/automigrate/fixes/remove-jest-testing-library.test.ts
  code/lib/cli/src/automigrate/fixes/remove-jest-testing-library.ts
  code/lib/cli/src/automigrate/fixes/remove-legacymdx1.ts
  code/lib/cli/src/automigrate/fixes/storyshots-migration.ts
  code/lib/cli/src/automigrate/helpers/getMigrationSummary.test.ts
  code/lib/cli/src/automigrate/helpers/getMigrationSummary.ts
Labels: bug, codemods, automigrations, ci:normal

#26228 Automigrations: Create addon-postcss automigration
  code/lib/cli/src/automigrate/fixes/addon-postcss.test.ts
  code/lib/cli/src/automigrate/fixes/addon-postcss.ts
  code/lib/cli/src/automigrate/fixes/index.ts
Labels: feature request, automigrations, ci:normal

#26231 Docs: Update diff-link in addon migration guide
  docs/addons/addon-migration-guide.md
Labels: documentation, ci:docs

#26234 Docs: Adds first batch of videos
  docs/essentials/addon-actions-demo-optimized.mp4
  docs/essentials/addon-backgrounds-optimized.mp4
  docs/essentials/addon-controls-demo-optimized.mp4
  docs/essentials/addon-controls-disable-specific-prop-optimized.mp4
  docs/essentials/addon-measure-optimized.mp4
  docs/essentials/addon-outline-optimized.mp4
  docs/essentials/addon-viewports-optimized.mp4
  docs/get-started/addons-walkthrough-optimized.mp4
  docs/get-started/browse-stories.md
  docs/get-started/example-browse-all-stories-optimized.mp4
  docs/get-started/example-button-browse-stories-optimized.mp4
  docs/get-started/example-button-hot-module-reload-optimized.mp4
  docs/get-started/toolbar-walkthrough-optimized.mp4
  docs/sharing/embed-medium-optimized.mp4
  docs/sharing/template-component-with-controls-optimized.mp4
  docs/writing-docs/addon-controls-docs-optimized.mp4
  docs/writing-docs/custom-argTypes-mdx-optimized.mp4
  docs/writing-stories/addon-actions-demo-optimized.mp4
  docs/writing-stories/addon-controls-demo-optimized.mp4
  docs/writing-tests/addon-interaction-example-optimized.mp4
  docs/writing-tests/addon-interactions-playback-controls-optimized.mp4
  docs/writing-tests/visual-testing-workflow-optimized.mp4
Labels: documentation, ci:docs

#26258 CLI: Fix addon compatibility check error reporting in storybook dev
  code/lib/cli/src/doctor/getIncompatibleAddons.ts
  code/lib/cli/src/doctor/getIncompatibleStorybookPackages.ts
Labels: bug, cli, ci:normal
