Repository storybookjs/storybook, pull requests merged in 2024-06, with the labels that each got.

#27218 Vite: Fix stats-plugin to normalize file names with posix paths
  code/builders/builder-vite/src/plugins/webpack-stats-plugin.ts
Labels: bug, patch:yes, builder-vite, windows, ci:normal

#27512 Build: Fix tempy usage in scripts
  scripts/sandbox/generate.ts
  scripts/sandbox/publish.ts
Labels: patch:yes, build, ci:normal

#27515 Build: Fix tempy usage during sandbox generation
  scripts/sandbox/publish.ts
Labels: build, ci:docs

#27518 Build: Introduce scripts for vite-ecosystem-ci
  package.json
  scripts/vite-ecosystem-ci/before-test.js
Labels: build, ci:normal

#27461 Docs: Addon Docs - Update `transformSource` to `source.transform`
  code/addons/docs/docs/recipes.md
Labels: documentation, patch:yes, addon: docs, ci:docs

#27529 Core: Replace ip function with a small helper function to address security concerns
  code/lib/core-server/package.json
  code/lib/core-server/src/utils/__tests__/server-address.test.ts
  code/lib/core-server/src/utils/server-address.test.ts
  code/lib/core-server/src/utils/server-address.ts
  code/yarn.lock
Labels: maintenance, patch:yes, security, ci:normal

#27217 CLI: Only log the UpgradeStorybookToSameVersionError but continue the upgrade as normal
  code/lib/cli/src/upgrade.test.ts
  code/lib/cli/src/upgrade.ts
  code/lib/core-events/src/errors/server-errors.ts
Labels: bug, patch:yes, ci:normal

#27862 Test: Upgrade deps of @storybook/test
  code/.yarn/patches/@vitest-expect-npm-1.6.0-0e382f8212.patch
  code/lib/test/package.json
  code/package.json
  code/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/nextjs/package.json
  test-storybooks/portable-stories-kitchen-sink/react/package.json
  test-storybooks/portable-stories-kitchen-sink/vue3/package.json
Labels: bug, ci:normal

#27708 Portable Stories: Add tags to composed story
  code/lib/preview-api/src/modules/store/csf/portable-stories.test.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.ts
  code/lib/types/src/modules/composedStory.ts
Labels: bug, patch:yes, ci:normal, portable stories

#27481 Build: Update trigger conditions for Circle CI workflows
  .github/workflows/trigger-circle-ci-workflow.yml
Labels: build, ci:merged

#28144 Angular: Allow outputPath object syntax
  code/frameworks/angular/src/server/angular-cli-webpack.js
Labels: bug, angular, ci:normal

#24396 CSF: Automatically extract componentPath
  code/addons/docs/docs/recipes.md
  code/lib/core-server/package.json
  code/lib/core-server/src/utils/StoryIndexGenerator.test.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/core-server/src/utils/__mockdata__/src/componentPath/component.js
  code/lib/core-server/src/utils/__mockdata__/src/componentPath/extension.stories.js
  code/lib/core-server/src/utils/__mockdata__/src/componentPath/noExtension.stories.js
  code/lib/core-server/src/utils/__mockdata__/src/componentPath/package.stories.js
  code/lib/core-server/src/utils/__tests__/index-extraction.test.ts
  code/lib/core-server/src/utils/stories-json.test.ts
  code/lib/csf-tools/src/CsfFile.test.ts
  code/lib/csf-tools/src/CsfFile.ts
  code/lib/types/src/modules/indexer.ts
  code/yarn.lock
  docs/api/main-config-indexers.md
Labels: feature request, csf, ci:normal

#27536 CLI: Fix typo in React Docgen migration
  code/lib/cli/src/automigrate/fixes/react-docgen.ts
Labels: maintenance, cli, patch:yes, automigrations, ci:normal

#26163 Documentation: Fix link to react-inspector theme
  code/lib/theming/src/convert.ts
  docs/configure/theming.md
Labels: documentation, ci:docs

#28163 Build: Add bun to canary release pr workflow
  .github/workflows/canary-release-pr.yml
Labels: build, ci:normal

#25973 Core: Remove more `.stories.mdx` handling
  code/lib/core-common/src/utils/__tests__/normalize-stories.test.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/core-server/src/utils/__tests__/autoName.test.ts
  code/lib/core-server/src/utils/__tests__/index-extraction.test.ts
  code/lib/core-server/src/utils/summarizeIndex.test.ts
  code/lib/core-server/src/utils/summarizeIndex.ts
  code/lib/core-server/src/utils/watch-story-specifiers.test.ts
  code/lib/core-webpack/src/to-require-context.test.ts
  code/lib/csf-tools/src/CsfFile.test.ts
  code/lib/manager-api/src/tests/mockStoriesEntries.ts
  code/lib/preview-api/src/modules/preview-web/PreviewWithSelection.tsx
  code/lib/preview-api/src/modules/preview-web/render/CsfDocsRender.ts
  docs/configure/telemetry.md
Labels: maintenance, core, ci:normal

#28145 Angular: Introduce preserveSymlink builder option
  CONTRIBUTING.md
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/frameworks/angular/src/builders/build-storybook/schema.json
  code/frameworks/angular/src/builders/start-storybook/index.ts
  code/frameworks/angular/src/builders/start-storybook/schema.json
  code/frameworks/angular/src/builders/utils/standalone-options.ts
  scripts/task.ts
  scripts/tasks/compile.ts
  scripts/tasks/sandbox-parts.ts
Labels: feature request, angular, ci:normal

#26305 Docs-tools: Replace `doctrine` with `jsdoc-type-pratt-parser`
  .circleci/config.yml
  code/lib/docs-tools/package.json
  code/lib/docs-tools/src/argTypes/jsdocParser.test.ts
  code/lib/docs-tools/src/argTypes/jsdocParser.ts
  code/renderers/react/template/stories/docgen-components/jsdoc/argTypes.snapshot
  code/renderers/react/template/stories/docgen-components/jsdoc/properties.snapshot
  code/yarn.lock
Labels: maintenance, addon: docs, ci:daily

#28088 Test: Display toHaveBeenCalledWith expected / received values on failure
  code/addons/interactions/src/components/Interaction.tsx
  code/addons/interactions/src/components/InteractionsPanel.stories.tsx
  code/addons/interactions/src/components/MatcherResult.stories.tsx
  code/addons/interactions/src/components/MatcherResult.tsx
  code/ui/.storybook/main.ts
Labels: bug, patch:yes, ci:normal

#28020 Automigrations: Make VTA "learn more" link clickable
  code/lib/cli/src/automigrate/fixes/vta.ts
Labels: bug, patch:yes, automigrations, ci:docs

#28136 Documentation: Package structure changes across major versions
  MIGRATION.md
  docs/migration-guide/from-older-version.md
  docs/migration-guide/index.md
Labels: documentation, patch:yes, ci:docs

#28197 Build: Sync deps
  code/package.json
  code/yarn.lock
  scripts/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/nextjs/package.json
  test-storybooks/portable-stories-kitchen-sink/nextjs/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/package.json
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/svelte/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/vue3/package.json
  test-storybooks/portable-stories-kitchen-sink/vue3/yarn.lock
Labels: build, ci:normal

#27517 CSF: Rename `preview.js` `globals` to `initialGlobals`
  MIGRATION.md
  code/addons/backgrounds/src/preview.tsx
  code/addons/links/package.json
  code/addons/measure/src/preview.tsx
  code/addons/outline/src/preview.tsx
  code/addons/viewport/src/preview.ts
  code/addons/viewport/src/shortcuts.ts
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/initial-globals.test.ts
  code/lib/cli/src/automigrate/fixes/initial-globals.ts
  code/lib/codemod/package.json
  code/lib/core-events/package.json
  code/lib/core-server/package.json
  code/lib/csf-tools/package.json
  code/lib/csf-tools/src/ConfigFile.test.ts
  code/lib/csf-tools/src/ConfigFile.ts
  code/lib/manager-api/package.json
  code/lib/preview-api/package.json
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.mockdata.ts
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.test.ts
  code/lib/preview-api/src/modules/store/StoryStore.ts
  code/lib/preview-api/src/modules/store/csf/composeConfigs.test.ts
  code/lib/preview-api/src/modules/store/csf/composeConfigs.ts
  code/lib/preview-api/src/modules/store/csf/normalizeProjectAnnotations.test.ts
  code/lib/preview-api/src/modules/store/csf/normalizeProjectAnnotations.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.ts
  code/lib/preview-api/template/stories/preview.ts
  code/lib/source-loader/package.json
  code/lib/types/package.json
  code/package.json
  code/renderers/react/src/__test__/portable-stories.test.tsx
  code/renderers/server/package.json
  code/renderers/svelte/src/__test__/composeStories/portable-stories.test.ts
  code/renderers/vue3/src/__tests__/composeStories/portable-stories.test.ts
  code/ui/blocks/package.json
  code/ui/components/package.json
  code/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/nextjs/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/svelte/stories/Button.test.ts
  test-storybooks/portable-stories-kitchen-sink/svelte/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/vue3/yarn.lock
Labels: maintenance, core, csf, ci:normal

#28220 Build: More dev dependencies cleanup
  code/package.json
  code/tsconfig.json
  code/yarn.lock
  scripts/package.json
  scripts/prepare/addon-bundle.ts
  scripts/utils/yarn.ts
  scripts/yarn.lock
Labels: build, ci:normal

#28226 CLI: Fix `init --skip-install`
  code/lib/cli/src/initiate.ts
Labels: bug, cli, patch:yes, ci:normal

#28224 Update angular.md: Storybook is now compatible to Angular 18
  docs/get-started/angular.md
Labels: documentation

#27016 Core: Fix startup hang caused by watchStorySpecifiers
  code/lib/core-server/src/utils/stories-json.test.ts
  code/lib/core-server/src/utils/watch-story-specifiers.test.ts
  code/lib/core-server/src/utils/watch-story-specifiers.ts
Labels: bug, performance issue, core, ci:normal

#28238 CLI: Fix CLI always asking all automigrations
  code/lib/cli/src/upgrade.ts
Labels: bug, cli, patch:yes, automigrations, ci:normal

#28241 Addon-a11y: Workaround for Vite 5.3.0 compat
  code/addons/a11y/src/a11yRunner.ts
Labels: bug, addon: a11y, patch:yes, builder-vite, ci:normal

#28250 Addon-interactions: Fix deprecation warnings
  code/addons/interactions/src/components/Interaction.tsx
  code/addons/interactions/src/components/Subnav.tsx
Labels: bug, ui, patch:yes, addon: interactions, ci:normal

#28191 Core: Remove util dependency
  code/lib/core-common/package.json
  code/yarn.lock
Labels: dependencies, core, ci:normal

#28245 Dependencies: Allow esbuild version 0.21.x
  code/builders/builder-manager/package.json
  code/lib/core-common/package.json
  code/package.json
  code/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/nextjs/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/svelte/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/vue3/yarn.lock
Labels: dependencies, maintenance, ci:normal

#28260 Automigrations: Fix typo storyStoryV7 -> storyStoreV7
  code/lib/cli/src/autoblock/block-storystorev6.ts
Labels: documentation, cli, ci:docs

#28240 Build: Fix the CRA sandbox not being link-able
  code/package.json
  package.json
  scripts/package.json
  test-storybooks/portable-stories-kitchen-sink/react/package.json
  test-storybooks/portable-stories-kitchen-sink/svelte/package.json
Labels: build, ci:normal

#28270 Core: Migrate from `pkg-dir` to `fd-package-json`
  code/lib/core-common/package.json
  code/lib/core-common/src/utils/template.ts
  code/yarn.lock
Labels: dependencies, core, ci:normal

#28272 Deps: Migrate from `read-pkg-up` to `fd-package-json`
  code/frameworks/angular/package.json
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/frameworks/angular/src/builders/start-storybook/index.ts
  code/lib/cli/package.json
  code/lib/cli/src/build.ts
  code/lib/cli/src/dev.ts
  code/lib/cli/src/generate.ts
  code/lib/core-server/package.json
  code/lib/core-server/src/standalone.ts
  code/lib/telemetry/package.json
  code/lib/telemetry/src/storybook-metadata.ts
  code/yarn.lock
Labels: dependencies, core, ci:normal

#28320 Hotfix/7.6.20
  .circleci/config.yml
  CHANGELOG.md
  code/frameworks/angular/package.json
  code/lib/core-server/package.json
  code/lib/core-server/src/utils/__tests__/server-address.test.ts
  code/lib/core-server/src/utils/server-address.test.ts
  code/lib/core-server/src/utils/server-address.ts
  code/lib/telemetry/src/storybook-metadata.ts
  code/lib/telemetry/src/telemetry.ts
  code/package.json
  code/yarn.lock
Labels: ci:normal

#28325 Docs: Update Changelog by adding 7.6.x changes
  CHANGELOG.md
Labels: documentation, ci:docs

#26884 CLI: Add support for Nuxt to project init
  code/lib/cli/package.json
  code/lib/cli/src/detect.test.ts
  code/lib/cli/src/detect.ts
  code/lib/cli/src/generators/NUXT/index.ts
  code/lib/cli/src/generators/baseGenerator.ts
  code/lib/cli/src/generators/types.ts
  code/lib/cli/src/helpers.ts
  code/lib/cli/src/initiate.ts
  code/lib/cli/src/project_types.ts
  code/lib/core-common/src/utils/framework-to-renderer.ts
  code/lib/types/scripts/generate-available-frameworks.js
  code/lib/types/src/modules/frameworks.ts
  code/lib/types/src/modules/renderers.ts
Labels: feature request, cli, nuxt, ci:normal

#28289 CLI: Improve error message when fetching CLI version
  code/lib/core-common/src/js-package-manager/NPMProxy.ts
  code/lib/core-common/src/js-package-manager/PNPMProxy.ts
  code/lib/core-common/src/js-package-manager/Yarn1Proxy.ts
  code/lib/core-common/src/js-package-manager/Yarn2Proxy.ts
  code/lib/core-events/src/errors/server-errors.ts
Labels: bug, cli, ci:normal

#28299 Telemetry: Detect Node version
  code/lib/telemetry/src/storybook-metadata.ts
  code/lib/telemetry/src/telemetry.ts
Labels: bug, patch:yes, telemetry, ci:normal

#28338 Config: Apply JavaScript-only story glob extensions for JavaScript projects
  code/lib/cli/src/generators/configure.test.ts
  code/lib/cli/src/generators/configure.ts
  scripts/run-registry.ts
Labels: bug, ci:daily

#28360 Build: Readme update with opencollective data
  README.md
Labels: build, ci:docs

#28361 Build: Fix caching issue with Verdaccio
  .gitignore
  scripts/run-registry.ts
Labels: build, ci:normal

#28365 Docs: Update docs API index
  docs/api/index.mdx
Labels: documentation, ci:docs

#28363 Build: Set the env.bugfixes option in SWC to make sure destructuring is never transpiled
  code/frameworks/nextjs/src/swc/next-swc-loader-patch.ts
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.test.ts
  code/lib/test/template/stories/before-each.stories.ts
  code/lib/test/template/stories/destructuring-not-transpiled.stories.ts
  scripts/tasks/sandbox-parts.ts
Labels: bug, ci:daily

#28371 Docs: Fix API typo
  docs/api/index.mdx
Labels: documentation, ci:docs

#28376 Docs: Fix incorrect relative links (round 2)
  docs/api/doc-blocks/doc-block-argtypes.mdx
  docs/api/doc-blocks/doc-block-canvas.mdx
  docs/api/doc-blocks/doc-block-colorpalette.mdx
  docs/api/doc-blocks/doc-block-controls.mdx
  docs/api/doc-blocks/doc-block-description.mdx
  docs/api/doc-blocks/doc-block-icongallery.mdx
  docs/api/doc-blocks/doc-block-markdown.mdx
  docs/api/doc-blocks/doc-block-primary.mdx
  docs/api/doc-blocks/doc-block-source.mdx
  docs/api/doc-blocks/doc-block-stories.mdx
  docs/api/doc-blocks/doc-block-story.mdx
  docs/api/doc-blocks/doc-block-subtitle.mdx
  docs/api/doc-blocks/doc-block-title.mdx
  docs/api/doc-blocks/doc-block-typeset.mdx
  docs/api/doc-blocks/doc-block-unstyled.mdx
  docs/configure/styling-and-css.mdx
  docs/contribute/documentation/documentation-updates.mdx
Labels: documentation, ci:docs

#28366 Build: Remove unused files/properties & remove lockfiles from test-storybooks
  .gitpod.yml
  .vscode/settings.json
  code/.remarkignore
  code/.remarkrc.js
  code/package.json
  scripts/.eslintignore
  scripts/package.json
  scripts/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/nextjs/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/svelte/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/vue3/yarn.lock
Labels: build, ci:docs

#28378 Build: Revert "Build: Remove unused files/properties & remove lockfiles from test-storybooks"
  .gitpod.yml
  .vscode/settings.json
  code/.remarkignore
  code/.remarkrc.js
  code/package.json
  scripts/.eslintignore
  scripts/package.json
  scripts/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/nextjs/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/svelte/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/vue3/yarn.lock
Labels: build

#28379 Build: Remove lockfiles & cleanup unused files
  .gitpod.yml
  .vscode/settings.json
  test-storybooks/portable-stories-kitchen-sink/nextjs/package.json
  test-storybooks/portable-stories-kitchen-sink/nextjs/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/package.json
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/svelte/package.json
  test-storybooks/portable-stories-kitchen-sink/svelte/stories/__snapshots__/Button.test.ts.snap
  test-storybooks/portable-stories-kitchen-sink/svelte/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/vue3/package.json
  test-storybooks/portable-stories-kitchen-sink/vue3/yarn.lock
Labels: build, ci:normal

#28327 Addon Onboarding: New design and flow based on Save from Controls
  code/addons/controls/src/SaveStory.tsx
  code/addons/onboarding/package.json
  code/addons/onboarding/src/App.tsx
  code/addons/onboarding/src/Onboarding.tsx
  code/addons/onboarding/src/components/Button/Button.tsx
  code/addons/onboarding/src/components/HighlightElement/HighlightElement.stories.tsx
  code/addons/onboarding/src/components/HighlightElement/HighlightElement.tsx
  code/addons/onboarding/src/components/PulsatingEffect/PulsatingEffect.tsx
  code/addons/onboarding/src/components/SyntaxHighlighter/Snippet/Snippet.styled.tsx
  code/addons/onboarding/src/components/SyntaxHighlighter/Snippet/Snippet.tsx
  code/addons/onboarding/src/components/SyntaxHighlighter/SyntaxHighlighter.stories.tsx
  code/addons/onboarding/src/components/SyntaxHighlighter/SyntaxHighlighter.styled.tsx
  code/addons/onboarding/src/components/SyntaxHighlighter/SyntaxHighlighter.tsx
  code/addons/onboarding/src/constants.ts
  code/addons/onboarding/src/features/GuidedTour/GuidedTour.stories.tsx
  code/addons/onboarding/src/features/GuidedTour/GuidedTour.styled.tsx
  code/addons/onboarding/src/features/GuidedTour/GuidedTour.tsx
  code/addons/onboarding/src/features/GuidedTour/Tooltip.tsx
  code/addons/onboarding/src/features/SplashScreen/SplashScreen.stories.tsx
  code/addons/onboarding/src/features/SplashScreen/SplashScreen.tsx
  code/addons/onboarding/src/features/WelcomeModal/StorybookLogo.tsx
  code/addons/onboarding/src/features/WelcomeModal/WelcomeModal.stories.tsx
  code/addons/onboarding/src/features/WelcomeModal/WelcomeModal.styled.tsx
  code/addons/onboarding/src/features/WelcomeModal/WelcomeModal.tsx
  code/addons/onboarding/src/features/WriteStoriesModal/WriteStoriesModal.stories.tsx
  code/addons/onboarding/src/features/WriteStoriesModal/WriteStoriesModal.styled.tsx
  code/addons/onboarding/src/features/WriteStoriesModal/WriteStoriesModal.tsx
  code/addons/onboarding/src/features/WriteStoriesModal/assets/01-title-sidebar.png
  code/addons/onboarding/src/features/WriteStoriesModal/assets/02-story-name-sidebar.png
  code/addons/onboarding/src/features/WriteStoriesModal/assets/03-args.png
  code/addons/onboarding/src/features/WriteStoriesModal/code/javascript.tsx
  code/addons/onboarding/src/features/WriteStoriesModal/code/types.ts
  code/addons/onboarding/src/features/WriteStoriesModal/code/typescript.tsx
  code/addons/onboarding/src/features/WriteStoriesModal/hooks/useGetBackdropBoundary.tsx
  code/addons/onboarding/src/features/WriteStoriesModal/hooks/useGetButtonPath.tsx
  code/addons/onboarding/src/features/WriteStoriesModal/hooks/useGetProject.tsx
  code/addons/onboarding/src/features/WriteStoriesModal/hooks/useGetWarningButtonStatus.tsx
  code/addons/onboarding/src/helpers/textContentMatcher.tsx
  code/addons/onboarding/src/manager.tsx
  code/lib/cli/src/generators/ANGULAR/index.ts
  code/lib/cli/src/generators/VUE3/index.ts
  code/lib/core-events/src/data/save-story.ts
  code/lib/core-server/src/utils/save-story/save-story.ts
  code/yarn.lock
Labels: feature request, ci:merged, addon: onboarding

#28353 Core: Add context as a property of the context (self-referencing)
  code/addons/interactions/src/preview.ts
  code/addons/links/package.json
  code/frameworks/angular/src/client/decorators.test.ts
  code/lib/codemod/package.json
  code/lib/core-events/package.json
  code/lib/core-server/package.json
  code/lib/csf-tools/package.json
  code/lib/instrumenter/src/instrumenter.test.ts
  code/lib/instrumenter/src/instrumenter.ts
  code/lib/manager-api/package.json
  code/lib/preview-api/package.json
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.mockdata.ts
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.test.ts
  code/lib/preview-api/src/modules/preview-web/docs-context/DocsContext.ts
  code/lib/preview-api/src/modules/preview-web/render/StoryRender.ts
  code/lib/preview-api/src/modules/store/StoryStore.test.ts
  code/lib/preview-api/src/modules/store/StoryStore.ts
  code/lib/preview-api/src/modules/store/csf/normalizeProjectAnnotations.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.ts
  code/lib/preview-api/src/modules/store/csf/prepareStory.test.ts
  code/lib/preview-api/src/modules/store/csf/prepareStory.ts
  code/lib/preview-api/src/modules/store/csf/stepRunners.test.ts
  code/lib/source-loader/package.json
  code/lib/test/template/stories/before-each.stories.ts
  code/lib/types/package.json
  code/lib/types/src/modules/addons.ts
  code/lib/types/src/modules/composedStory.ts
  code/lib/types/src/modules/docs.ts
  code/lib/types/src/modules/story.ts
  code/package.json
  code/renderers/react/package.json
  code/renderers/server/package.json
  code/ui/blocks/package.json
  code/ui/blocks/src/blocks/Source.tsx
  code/ui/components/package.json
  code/yarn.lock
  docs/_snippets/my-component-play-function-composition.md
Labels: feature request, core, ci:normal, test

#28387 Docs: Fix malformed frontmatter
  docs/api/portable-stories/index.mdx
  docs/configure/user-interface/index.mdx
  docs/contribute/documentation/index.mdx
  docs/writing-tests/snapshot-testing/index.mdx
Labels: documentation, ci:docs
