Repository storybookjs/storybook, pull requests merged in 2024-10, with the labels that each got.

#28315 Core: Migrate from `qs` to `picoquery`
  code/.storybook/preview.tsx
  code/core/package.json
  code/core/src/manager-api/tests/url.test.js
  code/core/src/manager/components/preview/utils/stringifyQueryParams.tsx
  code/core/src/manager/globals/exports.ts
  code/core/src/preview-api/modules/preview-web/SelectionStore.ts
  code/core/src/preview-api/modules/preview-web/UrlStore.test.ts
  code/core/src/preview-api/modules/preview-web/UrlStore.ts
  code/core/src/preview-api/modules/preview-web/WebView.ts
  code/core/src/preview-api/modules/preview-web/parseArgsParam.test.ts
  code/core/src/preview-api/modules/preview-web/parseArgsParam.ts
  code/core/src/router/router.tsx
  code/core/src/router/utils.ts
  code/lib/blocks/src/controls/Color.stories.tsx
  code/yarn.lock
  scripts/yarn.lock
Labels: dependencies, core, ci:normal

#29129 UI: Brand image css class conflict causes image to resize on hot reloads
  code/core/src/manager/components/sidebar/Brand.tsx
Labels: bug, ui, ci:normal

#29232 Addon Test: Add interactions functionality
  code/addons/test/manager.js
  code/addons/test/package.json
  code/addons/test/preset.js
  code/addons/test/preview.js
  code/addons/test/src/Panel.test.ts
  code/addons/test/src/Panel.tsx
  code/addons/test/src/components/EmptyState.tsx
  code/addons/test/src/components/Interaction.stories.tsx
  code/addons/test/src/components/Interaction.tsx
  code/addons/test/src/components/InteractionsPanel.stories.tsx
  code/addons/test/src/components/InteractionsPanel.tsx
  code/addons/test/src/components/List.tsx
  code/addons/test/src/components/MatcherResult.stories.tsx
  code/addons/test/src/components/MatcherResult.tsx
  code/addons/test/src/components/MethodCall.stories.tsx
  code/addons/test/src/components/MethodCall.tsx
  code/addons/test/src/components/StatusBadge.stories.tsx
  code/addons/test/src/components/StatusBadge.tsx
  code/addons/test/src/components/StatusIcon.stories.tsx
  code/addons/test/src/components/StatusIcon.tsx
  code/addons/test/src/components/Subnav.stories.tsx
  code/addons/test/src/components/Subnav.tsx
  code/addons/test/src/constants.ts
  code/addons/test/src/logger.ts
  code/addons/test/src/manager.tsx
  code/addons/test/src/mocks/index.ts
  code/addons/test/src/node/reporter.ts
  code/addons/test/src/node/vitest-manager.ts
  code/addons/test/src/preset.ts
  code/addons/test/src/preview.ts
  code/addons/test/src/theme.ts
  code/addons/test/src/utils.ts
  code/addons/test/src/vitest-plugin/setup-file.test.ts
  code/addons/test/src/vitest-plugin/setup-file.ts
  code/addons/test/template/stories/basics.stories.ts
  code/addons/test/template/stories/unhandled-errors.stories.ts
  code/addons/test/tsconfig.json
  code/e2e-tests/addon-test.spec.ts
  code/e2e-tests/util.ts
  code/yarn.lock
  scripts/create-nx-sandbox-projects.ts
  scripts/tasks/sandbox-parts.ts
  scripts/tasks/sandbox.ts
Labels: feature request, ci:normal, addon: test

#29236 Core: Testing Module UI
  code/addons/a11y/package.json
  code/addons/backgrounds/package.json
  code/addons/controls/package.json
  code/addons/jest/package.json
  code/addons/measure/package.json
  code/addons/onboarding/package.json
  code/addons/outline/package.json
  code/addons/test/package.json
  code/addons/test/src/manager.tsx
  code/addons/themes/package.json
  code/addons/viewport/package.json
  code/core/package.json
  code/core/src/components/components/ScrollArea/ScrollArea.tsx
  code/core/src/manager/components/layout/Layout.tsx
  code/core/src/manager/components/notifications/NotificationItem.stories.tsx
  code/core/src/manager/components/notifications/NotificationItem.tsx
  code/core/src/manager/components/notifications/NotificationList.tsx
  code/core/src/manager/components/sidebar/Sidebar.stories.tsx
  code/core/src/manager/components/sidebar/Sidebar.tsx
  code/core/src/manager/components/sidebar/SidebarBottom.stories.tsx
  code/core/src/manager/components/sidebar/SidebarBottom.tsx
  code/core/src/manager/components/sidebar/TestingModule.stories.tsx
  code/core/src/manager/components/sidebar/TestingModule.tsx
  code/core/src/manager/globals/exports.ts
  code/core/src/types/modules/addons.ts
  code/lib/blocks/package.json
  code/lib/codemod/package.json
  code/lib/source-loader/package.json
  code/package.json
  code/renderers/react/package.json
  code/yarn.lock
  scripts/package.json
  scripts/yarn.lock
Labels: feature request, core, ci:merged

#29259 Blocks: Prebundle `es-toolkit`
  code/lib/blocks/package.json
Labels: maintenance, ci:normal

#29254 Maintenance: Upgrade `esbuild`, broadening version range
  code/core/package.json
  code/package.json
  code/yarn.lock
  scripts/package.json
  scripts/yarn.lock
Labels: maintenance, ci:normal

#29231 Docs: FIx Vitest Workspace snippet
  docs/_snippets/vitest-plugin-vitest-workspace.md
Labels: documentation, patch:yes, ci:docs

#29250 Vitest plugin: Fix renamed export stories
  code/core/src/csf-tools/CsfFile.test.ts
  code/core/src/csf-tools/CsfFile.ts
  code/core/src/csf-tools/vitest-plugin/transformer.test.ts
  code/core/src/csf-tools/vitest-plugin/transformer.ts
Labels: bug, patch:yes, ci:normal, addon: test

#29273 CLI: Update the React Native init to include v8 dependencies
  code/lib/create-storybook/src/generators/REACT_NATIVE/index.ts
  code/lib/create-storybook/src/initiate.ts
Labels: maintenance, react-native, cli, patch:yes, ci:normal

#29256 Maintenance: Remove dependence on `file-system-cache`
  code/__mocks__/fs.ts
  code/builders/builder-webpack5/src/index.ts
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/core/package.json
  code/core/src/cli/detect.test.ts
  code/core/src/cli/dev.ts
  code/core/src/common/utils/file-cache.ts
  code/core/src/types/modules/core-common.ts
  code/yarn.lock
Labels: maintenance, ci:normal

#29285 Build: Filter out @storybook/root from buildable packages
  scripts/build-package.ts
Labels: build, ci:normal

#29230 Core: Migrate from `express` to `polka`
  code/builders/builder-vite/package.json
  code/builders/builder-vite/src/index.ts
  code/builders/builder-vite/src/plugins/code-generator-plugin.ts
  code/builders/builder-webpack5/package.json
  code/builders/builder-webpack5/src/index.ts
  code/core/package.json
  code/core/src/builder-manager/index.ts
  code/core/src/core-server/dev-server.ts
  code/core/src/core-server/utils/doTelemetry.ts
  code/core/src/core-server/utils/get-caching-middleware.ts
  code/core/src/core-server/utils/getAccessControlMiddleware.ts
  code/core/src/core-server/utils/getStoryIndexGenerator.ts
  code/core/src/core-server/utils/metadata.ts
  code/core/src/core-server/utils/router.ts
  code/core/src/core-server/utils/server-init.ts
  code/core/src/core-server/utils/server-statics.ts
  code/core/src/core-server/utils/stories-json.test.ts
  code/core/src/core-server/utils/stories-json.ts
  code/core/src/types/modules/core-common.ts
  code/package.json
  code/yarn.lock
  scripts/event-log-collector.ts
  scripts/package.json
  scripts/utils/serve.ts
  scripts/yarn.lock
Labels: dependencies, core, ci:normal

#29298 React: Prebundle all of `renderers/react`'s dependencies
  code/lib/cli-storybook/src/sandbox-templates.ts
  code/renderers/react/package.json
  code/renderers/react/src/docs/jsxDecorator.tsx
  code/renderers/react/src/docs/lib/defaultValues/createFromRawDefaultProp.ts
  code/yarn.lock
Labels: maintenance, react, ci:daily

#29301 Addon-docs, blocks: Prebundle dependencies
  code/addons/docs/angular/index.js
  code/addons/docs/ember/index.js
  code/addons/docs/package.json
  code/addons/docs/src/preview.ts
  code/addons/docs/template/stories/docs2/button.stories.ts
  code/addons/docs/template/stories/docs2/multiple-csf-files-a.stories.ts
  code/addons/docs/template/stories/docs2/multiple-csf-files-b.stories.ts
  code/addons/docs/template/stories/docspage/autoplay.stories.ts
  code/addons/docs/template/stories/docspage/basic.stories.ts
  code/addons/docs/template/stories/docspage/description.stories.ts
  code/addons/docs/template/stories/docspage/error.stories.ts
  code/addons/docs/template/stories/docspage/extract-description.stories.ts
  code/addons/docs/template/stories/docspage/iframe.stories.ts
  code/addons/docs/template/stories/docspage/overflow.stories.ts
  code/addons/docs/template/stories/docspage/override.stories.ts
  code/addons/docs/template/stories/docspage/source.stories.ts
  code/addons/docs/template/stories/toc/basic.stories.ts
  code/addons/docs/template/stories/toc/custom-selector.stories.ts
  code/addons/docs/template/stories/toc/custom-title.stories.ts
  code/addons/docs/template/stories/toc/ignore-selector.stories.ts
  code/lib/blocks/package.json
  code/lib/blocks/src/blocks/DocsContainer.tsx
  code/lib/blocks/src/blocks/DocsContext.ts
  code/lib/blocks/src/blocks/mdx.tsx
  code/lib/blocks/src/components/IFrame.tsx
  code/lib/blocks/src/components/Preview.stories.tsx
  code/lib/blocks/src/components/Preview.tsx
  code/lib/blocks/src/components/Story.tsx
  code/lib/blocks/src/controls/Object.tsx
  code/yarn.lock
Labels: dependencies, addon: docs, ci:normal

#29302 Vite: Cleanup and prebundle dependencies
  code/builders/builder-vite/package.json
  code/builders/builder-vite/src/vite-config.ts
  code/yarn.lock
Labels: dependencies, builder-vite, ci:normal

#29294 Addon Test: Add basic implementation of discrepancy detection
  code/.storybook/main.ts
  code/.storybook/storybook.setup.ts
  code/addons/test/src/Panel.tsx
  code/addons/test/src/components/InteractionsPanel.stories.tsx
  code/addons/test/src/components/InteractionsPanel.tsx
  code/addons/test/src/components/TestDiscrepancyMessage.stories.tsx
  code/addons/test/src/components/TestDiscrepancyMessage.tsx
  code/addons/test/src/constants.ts
  code/core/src/manager/components/sidebar/SidebarBottom.tsx
  code/core/src/manager/components/sidebar/TestingModule.stories.tsx
  code/core/src/manager/components/sidebar/TestingModule.tsx
  code/e2e-tests/util.ts
  test-storybooks/portable-stories-kitchen-sink/react/e2e-tests/component-testing.spec.ts
  test-storybooks/portable-stories-kitchen-sink/react/playwright-e2e.config.ts
  test-storybooks/portable-stories-kitchen-sink/react/stories/AddonTest.stories.tsx
  test-storybooks/portable-stories-kitchen-sink/react/vitest.workspace.ts
Labels: feature request, ci:normal, addon: test

#29309 Addon-Test: Implement Global Error Modal
  code/addons/test/package.json
  code/addons/test/src/components/GlobalErrorModal.stories.tsx
  code/addons/test/src/components/GlobalErrorModal.tsx
  code/addons/test/src/constants.ts
  code/addons/test/src/node/test-manager.test.ts
  code/core/src/components/components/Modal/Modal.stories.tsx
  code/core/src/components/components/Modal/Modal.styled.tsx
  code/yarn.lock
Labels: ci:normal, addon: test

#29311 Progress reporting for Testing Module
  code/addons/test/src/manager.tsx
  code/addons/test/src/node/boot-test-runner.test.ts
  code/addons/test/src/node/boot-test-runner.ts
  code/addons/test/src/node/reporter.ts
  code/addons/test/src/node/test-manager.ts
  code/core/src/core-events/data/testing-module.ts
  code/core/src/core-events/index.ts
  code/core/src/manager/components/sidebar/SidebarBottom.stories.tsx
  code/core/src/manager/components/sidebar/SidebarBottom.tsx
  code/core/src/manager/components/sidebar/TestingModule.stories.tsx
  code/core/src/manager/components/sidebar/TestingModule.tsx
  code/core/src/manager/globals/exports.ts
  code/core/src/types/modules/addons.ts
Labels: feature request, ci:normal

#29318 Addon Test: Integrate global error modal
  code/addons/test/package.json
  code/addons/test/src/manager.tsx
  code/addons/test/src/node/boot-test-runner.test.ts
  code/addons/test/src/node/boot-test-runner.ts
  code/addons/test/src/node/reporter.ts
  code/addons/test/src/node/test-manager.test.ts
  code/addons/test/src/node/vitest-manager.ts
  code/core/src/manager/components/sidebar/SidebarBottom.tsx
  code/core/src/manager/components/sidebar/TestingModule.tsx
  code/core/src/types/modules/addons.ts
  code/e2e-tests/util.ts
  code/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/e2e-tests/component-testing.spec.ts
  test-storybooks/portable-stories-kitchen-sink/react/package.json
  test-storybooks/portable-stories-kitchen-sink/react/stories/AddonTest.stories.tsx
Labels: feature request, ci:normal, addon: test

#29323 CLI: Install Svelte CSF v5 in Svelte5 projects
  code/lib/create-storybook/src/generators/SVELTE/index.test.ts
  code/lib/create-storybook/src/generators/SVELTE/index.ts
  code/lib/create-storybook/src/generators/SVELTEKIT/index.ts
Labels: maintenance, cli, ci:daily

#29343 Manager: Add tags property to ComponentEntry objects
  code/core/src/manager-api/lib/intersect.ts
  code/core/src/manager-api/lib/stories.ts
  code/core/src/manager-api/tests/intersect.test.ts
  code/core/src/manager-api/tests/stories.test.ts
  code/core/src/manager/components/sidebar/__tests__/Sidebar.test.tsx
  code/core/src/types/modules/api-stories.ts
Labels: feature request, api: addons, ui, story index, ci:normal

#29319 Addon Test: Support viewport globals
  code/.storybook/preview.tsx
  code/addons/test/src/vitest-plugin/test-utils.ts
  code/addons/test/src/vitest-plugin/viewports.test.ts
  code/addons/test/src/vitest-plugin/viewports.ts
  code/core/src/components/components/tabs/tabs.stories.tsx
  code/core/src/manager/components/sidebar/Sidebar.stories.tsx
  code/core/src/manager/components/sidebar/Tree.stories.tsx
  code/core/src/preview-api/modules/store/csf/portable-stories.ts
  code/core/src/types/modules/composedStory.ts
Labels: feature request, ci:normal, addon: test

#29329 Addon Test: Add telemetry on discrepancy results
  code/addons/test/src/Panel.tsx
  code/addons/test/src/components/InteractionsPanel.stories.tsx
  code/addons/test/src/components/InteractionsPanel.tsx
  code/addons/test/src/components/TestDiscrepancyMessage.stories.tsx
  code/addons/test/src/components/TestDiscrepancyMessage.tsx
  code/addons/test/src/constants.ts
  code/addons/test/src/manager.tsx
  code/addons/test/src/node/reporter.ts
  code/addons/test/src/preset.ts
Labels: ci: do not merge, telemetry, ci:normal, addon: test

#29336 Addon-Test: Refactor bootTestRunner to handle fatal errors and improve error reporting
  code/addons/test/src/node/boot-test-runner.test.ts
  code/addons/test/src/node/boot-test-runner.ts
  code/addons/test/src/preset.ts
Labels: bug, ci:normal, addon: test

#29345 Docs: Fix outdated documentation URLs
  code/addons/actions/ADVANCED.md
  code/addons/actions/README.md
  code/addons/backgrounds/README.md
  code/addons/controls/README.md
  code/addons/docs/docs/props-tables.md
  code/addons/toolbars/README.md
  code/addons/viewport/README.md
  code/core/src/preview-api/modules/store/inferArgTypes.ts
  code/lib/blocks/src/blocks/Canvas.stories.tsx
  code/lib/blocks/src/components/ArgsTable/ArgControl.tsx
  code/lib/blocks/src/examples/CanvasParameters.stories.tsx
  code/lib/test/src/testing-library.ts
Labels: documentation, addon: essentials, block: other, ci:docs

#29310 Test: Remove unused `util` dependency
  code/core/package.json
  code/lib/instrumenter/package.json
  code/lib/test/package.json
  code/yarn.lock
Labels: dependencies, ci:normal, test

#29330 Core: Ensure `#sidebar-bottom-wrapper` is sized and positioned correctly
  code/core/src/manager/components/sidebar/SidebarBottom.tsx
Labels: bug, ui, ci:normal, addon: visual test

#29353 Addon Test: Prompt addon interactions removal in sb postinstall
  code/addons/test/package.json
  code/addons/test/src/postinstall.ts
  code/core/src/common/js-package-manager/JsPackageManager.ts
  code/core/src/common/js-package-manager/NPMProxy.ts
  code/core/src/common/js-package-manager/PNPMProxy.ts
  code/core/src/common/js-package-manager/Yarn1Proxy.ts
  code/core/src/common/js-package-manager/Yarn2Proxy.ts
  code/core/src/common/utils/remove.ts
  code/e2e-tests/addon-interactions.spec.ts
  code/e2e-tests/preview-api.spec.ts
  code/lib/cli-storybook/src/add.test.ts
  code/lib/cli-storybook/src/add.ts
  code/lib/cli-storybook/src/bin/index.ts
  code/yarn.lock
  scripts/tasks/sandbox-parts.ts
Labels: feature request, ci:normal, addon: test

#29359 Testing-Module: Add telemetry to testingmodule events
  code/addons/test/src/manager.tsx
  code/addons/test/src/node/reporter.ts
  code/addons/test/src/preset.ts
  code/core/src/core-events/data/testing-module.ts
  code/core/src/core-server/presets/common-preset.ts
  code/core/src/manager/components/sidebar/SidebarBottom.tsx
  code/core/src/telemetry/types.ts
Labels: feature request, telemetry, ci:normal

#29371 Core: Fix building Storybook deleting project root files
  code/core/src/core-server/build-static.ts
Labels: bug, core, ci:normal

#29373 Addon-Test: Fix watch mode
  code/addons/test/package.json
  code/addons/test/src/node/vitest-manager.ts
  code/core/src/manager/components/sidebar/SidebarBottom.tsx
  code/core/src/manager/components/sidebar/TestingModule.tsx
  code/yarn.lock
Labels: bug, ci:normal, addon: test

#29382 Svelte: Add v5 stories to CLI templates
  code/.yarn/patches/@testing-library-svelte-npm-4.1.0-34b7037bc0.patch
  code/core/src/cli/helpers.test.ts
  code/core/src/cli/helpers.ts
  code/frameworks/svelte-vite/package.json
  code/lib/blocks/src/blocks/Canvas.stories.tsx
  code/lib/blocks/src/components/ArgsTable/ArgControl.tsx
  code/lib/blocks/src/examples/CanvasParameters.stories.tsx
  code/lib/create-storybook/src/generators/SVELTE/index.ts
  code/package.json
  code/renderers/svelte/package.json
  code/renderers/svelte/src/__test__/composeStories/Button.stories.ts
  code/renderers/svelte/src/__test__/composeStories/__snapshots__/portable-stories.test.ts.snap
  code/renderers/svelte/template/cli/svelte-5-js/Button.stories.svelte
  code/renderers/svelte/template/cli/svelte-5-js/Button.svelte
  code/renderers/svelte/template/cli/svelte-5-js/Header.stories.svelte
  code/renderers/svelte/template/cli/svelte-5-js/Header.svelte
  code/renderers/svelte/template/cli/svelte-5-js/Page.stories.svelte
  code/renderers/svelte/template/cli/svelte-5-js/Page.svelte
  code/renderers/svelte/template/cli/svelte-5-ts-3-8/Button.stories.svelte
  code/renderers/svelte/template/cli/svelte-5-ts-3-8/Button.svelte
  code/renderers/svelte/template/cli/svelte-5-ts-3-8/Header.stories.svelte
  code/renderers/svelte/template/cli/svelte-5-ts-3-8/Header.svelte
  code/renderers/svelte/template/cli/svelte-5-ts-3-8/Page.stories.svelte
  code/renderers/svelte/template/cli/svelte-5-ts-3-8/Page.svelte
  code/renderers/svelte/template/cli/svelte-5-ts-4-9/Button.stories.svelte
  code/renderers/svelte/template/cli/svelte-5-ts-4-9/Button.svelte
  code/renderers/svelte/template/cli/svelte-5-ts-4-9/Header.stories.svelte
  code/renderers/svelte/template/cli/svelte-5-ts-4-9/Header.svelte
  code/renderers/svelte/template/cli/svelte-5-ts-4-9/Page.stories.svelte
  code/renderers/svelte/template/cli/svelte-5-ts-4-9/Page.svelte
  code/renderers/svelte/vitest.config.ts
  code/yarn.lock
Labels: maintenance, cli, patch:yes, svelte, ci:daily

#29209 UI: Fix RefIndicator to use CheckIcon instead of string
  code/core/src/manager/components/sidebar/RefIndicator.tsx
Labels: bug, ui, composition, ci:normal

#29344 ConfigFile: Fix `export { X }` parsing
  code/core/src/csf-tools/ConfigFile.test.ts
  code/core/src/csf-tools/ConfigFile.ts
Labels: bug, patch:yes, csf, ci:normal

#29407 Addon-Test: Support for `@vitest/browser` v2.1.2
  code/addons/test/src/vitest-plugin/viewports.ts
Labels: bug, ci:normal, addon: test

#29388 Addon-Test: Report component file tests to the frontend
  .circleci/config.yml
  code/addons/test/src/manager.tsx
  code/addons/test/src/node/boot-test-runner.ts
  code/addons/test/src/node/reporter.ts
  code/addons/test/src/preset.ts
  code/core/src/core-events/data/testing-module.ts
  code/core/src/core-server/presets/common-preset.ts
  code/core/src/manager/components/sidebar/SidebarBottom.tsx
  code/core/src/manager/components/sidebar/TestingModule.stories.tsx
  code/package.json
  code/yarn.lock
  scripts/package.json
  scripts/utils/yarn.ts
  scripts/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/e2e-tests/component-testing.spec.ts
  test-storybooks/portable-stories-kitchen-sink/react/package.json
  test-storybooks/portable-stories-kitchen-sink/react/playwright-e2e.config.ts
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/svelte/package.json
  test-storybooks/portable-stories-kitchen-sink/vue3/package.json
Labels: bug, ci:normal

#29414 Interactions: Escape xml of interactions errors
  code/addons/interactions/src/utils.ts
Labels: bug, addon: interactions, ci:normal

#29333 UI: Simple tag filtering
  code/core/src/core-server/presets/common-manager.ts
  code/core/src/manager-api/modules/url.ts
  code/core/src/manager/components/sidebar/Search.stories.tsx
  code/core/src/manager/components/sidebar/Search.tsx
  code/core/src/manager/components/sidebar/Sidebar.stories.tsx
  code/core/src/manager/components/sidebar/Sidebar.tsx
  code/core/src/manager/components/sidebar/TagsFilter.stories.tsx
  code/core/src/manager/components/sidebar/TagsFilter.tsx
  code/core/src/manager/components/sidebar/TagsFilterPanel.stories.tsx
  code/core/src/manager/components/sidebar/TagsFilterPanel.tsx
  code/core/src/manager/container/Sidebar.tsx
  docs/_assets/writing-stories/custom-tag-filter.png
  docs/writing-stories/tags.mdx
Labels: feature request, ui, ui: search, tags, ci:normal

#29411 Docs: Fix broken links in the monorepo documentation
  README.md
  code/addons/a11y/README.md
  code/addons/actions/README.md
  code/addons/backgrounds/README.md
  code/addons/controls/README.md
  code/addons/docs/README.md
  code/addons/docs/docs/docspage.md
  code/addons/docs/docs/mdx.md
  code/addons/docs/docs/multiframework.md
  code/addons/docs/docs/props-tables.md
  code/addons/docs/docs/recipes.md
  code/addons/docs/docs/theming.md
  code/addons/essentials/README.md
  code/addons/highlight/README.md
  code/addons/jest/README.md
  code/addons/links/README.md
  code/addons/measure/README.md
  code/addons/outline/README.md
  code/addons/storysource/README.md
  code/addons/themes/README.md
  code/addons/toolbars/README.md
  code/addons/viewport/README.md
  code/core/src/telemetry/README.md
  code/presets/html-webpack/README.md
  code/presets/preact-webpack/README.md
  code/presets/react-webpack/README.md
  code/presets/server-webpack/README.md
  code/presets/svelte-webpack/README.md
  code/presets/vue3-webpack/README.md
Labels: documentation, ci:docs

#29393 Docs: Fix GitHub action example
  docs/_snippets/ghp-github-action.md
Labels: documentation, ci:docs

#29365 Docs: storybookNextjsPlugin to storybookNextJsPlugin
  docs/_snippets/vitest-plugin-vitest-config.md
  docs/_snippets/vitest-plugin-vitest-workspace.md
  docs/writing-tests/vitest-plugin.mdx
Labels: documentation, patch:yes, ci:docs

#29315 Docs: Replace Vitest plugin with Test addon
  docs/_assets/writing-tests/addon-test-filter-sidebar.mp4
  docs/_assets/writing-tests/addon-test-module-expanded-with-vta.png
  docs/_assets/writing-tests/addon-test-module-expanded.png
  docs/_assets/writing-tests/addon-test-run-all-tests.mp4
  docs/_assets/writing-tests/addon-test-vitest-error.png
  docs/_snippets/vitest-plugin-vitest-workspace.md
  docs/writing-tests/test-addon.mdx
  docs/writing-tests/vitest-plugin.mdx
Labels: documentation, ci:docs

#29338 Addon Test: Error when addon interactions exists
  code/.storybook/main.ts
  code/addons/interactions/src/preset.ts
  code/addons/test/src/preset.ts
Labels: bug, ci:normal, addon: test

#29430 Nextjs: Make sure Next 14 is used for sandboxes
  .github/workflows/generate-sandboxes.yml
  code/lib/cli-storybook/src/sandbox-templates.ts
Labels: build, ci:daily

#29412 Maintenance: Fix broken and outdated documentation links
  code/core/assets/server/base-preview-body.html
  code/core/src/common/presets.ts
  code/core/src/components/components/syntaxhighlighter/syntaxhighlighter.stories.tsx
  code/core/src/core-server/utils/__tests__/remove-mdx-stories.test.ts
  code/core/src/csf-tools/CsfFile.ts
  code/core/src/manager/components/sidebar/RefIndicator.tsx
  code/core/src/preview-api/modules/preview-web/parseArgsParam.ts
  code/core/src/preview-api/modules/store/args.ts
  code/core/src/router/utils.ts
  code/core/src/server-errors.ts
  code/core/src/types/modules/addons.ts
  code/frameworks/angular/src/builders/build-storybook/schema.json
  code/frameworks/angular/src/builders/start-storybook/schema.json
  code/lib/cli-storybook/src/automigrate/fixes/remove-argtypes-regex.ts
  code/lib/cli-storybook/src/automigrate/fixes/remove-legacymdx1.ts
  code/lib/cli-storybook/src/automigrate/fixes/vite-config-file.ts
  code/lib/cli-storybook/src/automigrate/fixes/webpack5-compiler-setup.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/webpack5-compiler-setup.ts
  code/lib/cli-storybook/src/automigrate/fixes/wrap-require.ts
  code/lib/cli-storybook/src/automigrate/helpers/getMigrationSummary.test.ts
  code/lib/cli-storybook/src/automigrate/helpers/getMigrationSummary.ts
  code/lib/create-storybook/src/initiate.ts
  code/renderers/html/src/public-types.ts
  code/renderers/preact/src/public-types.ts
  code/renderers/react/src/public-types.ts
  code/renderers/server/src/public-types.ts
  code/renderers/svelte/src/public-types.ts
  code/renderers/vue3/src/public-types.ts
  code/renderers/web-components/src/public-types.ts
Labels: maintenance, ci:normal

#29434 Addon Test: Error when addon interactions exists
  code/.storybook/main.ts
  code/addons/interactions/src/preset.ts
  code/addons/test/src/preset.ts
  code/core/src/manager/components/sidebar/SidebarBottom.tsx
  code/e2e-tests/addon-interactions.spec.ts
  code/e2e-tests/addon-test.spec.ts
  code/e2e-tests/preview-api.spec.ts
  code/e2e-tests/util.ts
  scripts/task.ts
  scripts/tasks/sandbox-parts.ts
  scripts/tasks/sandbox.ts
  scripts/utils/cli-step.ts
Labels: feature request, ci:daily, addon: test

#29451 Core: Show checkmark icon in story status dropdown and update status label for component tests
  code/addons/test/src/manager.tsx
  code/core/src/manager/components/sidebar/Tree.tsx
Labels: bug, ci:normal

#29446 Addon Test: Escape XML when converting ANSI to HTML in test errors
  code/addons/test/src/utils.ts
Labels: bug, ci:normal

#29456 Core: Open 'Component tests' addon panel when clicking a story status
  code/addons/test/src/manager.tsx
Labels: bug, ci:normal

#29455 Core: Close story status menu when selecting an item
  code/core/src/manager/components/sidebar/Tree.tsx
Labels: bug, ci:normal

#29448 CLI: Fix `yarn` detection
  code/core/src/common/js-package-manager/JsPackageManagerFactory.ts
Labels: bug, cli, ci:normal

#29449 Dependencies: Upgrade VTA to v3.1.0
  code/lib/cli-storybook/src/automigrate/fixes/vta.ts
  code/lib/create-storybook/src/generators/baseGenerator.ts
  code/package.json
  code/yarn.lock
Labels: dependencies, ci:normal

#29447 Core: Show tooltip on filter toggles to clarify their purpose
  code/core/src/manager/components/sidebar/TestingModule.tsx
  test-storybooks/portable-stories-kitchen-sink/react/e2e-tests/component-testing.spec.ts
Labels: bug, ci:normal

#29471 Addon Test: Adjust file exports to be ESM/CJS compatible
  code/addons/test/manager.js
  code/addons/test/manager.mjs
  code/addons/test/postinstall.cjs
  code/addons/test/postinstall.js
  code/addons/test/postinstall.mjs
  code/addons/test/preset.cjs
  code/addons/test/preset.js
  code/addons/test/preset.mjs
Labels: bug, ci:normal, addon: test

#29472 Addon Test: Only register testing module in Vite projects
  code/addons/test/src/manager.tsx
Labels: bug, ci:normal, addon: test

#29459 CLI: Refactor NPMProxy error parsing logic
  code/core/src/common/js-package-manager/NPMProxy.test.ts
  code/core/src/common/js-package-manager/NPMProxy.ts
Labels: bug, cli, patch:yes, ci:normal

#29461 Dependencies: Upgrade VTA to v3.2.0 to resolve peerDep conflict
  code/package.json
  code/yarn.lock
Labels: dependencies, ci:normal

#29479 Addon Test: Improve postinstall script
  code/addons/test/src/manager.tsx
  code/addons/test/src/postinstall.ts
Labels: bug, ci:normal, addon: test

#29450 Core: Track test provider state in sessionStorage
  code/core/src/manager/components/sidebar/SidebarBottom.tsx
Labels: bug, ci:normal, addon: test

#29483 Docs: Refactor file paths for portable stories in Addon test
  docs/_snippets/portable-stories-vitest-set-project-annotations-simple.md
Labels: documentation, ci:docs

#29486 Addon Test: Improve unsupported vitest message
  code/addons/test/src/postinstall.ts
Labels: bug, ci:normal, addon: test

#29503 Core: Relax peer dep constraint of shim packages
  code/deprecated/builder-manager/package.json
  code/deprecated/channels/package.json
  code/deprecated/client-logger/package.json
  code/deprecated/components/package.json
  code/deprecated/core-common/package.json
  code/deprecated/core-events/package.json
  code/deprecated/core-server/package.json
  code/deprecated/csf-tools/package.json
  code/deprecated/docs-tools/package.json
  code/deprecated/manager-api/package.json
  code/deprecated/manager/package.json
  code/deprecated/node-logger/package.json
  code/deprecated/preview-api/package.json
  code/deprecated/preview/package.json
  code/deprecated/router/package.json
  code/deprecated/telemetry/package.json
  code/deprecated/theming/package.json
  code/deprecated/types/package.json
  code/frameworks/angular/package.json
  code/renderers/html/package.json
  code/renderers/preact/package.json
  code/renderers/react/package.json
  code/renderers/server/package.json
  code/renderers/svelte/package.json
  code/renderers/vue3/package.json
  code/renderers/web-components/package.json
  code/yarn.lock
Labels: maintenance, patch:yes, ci:normal
