Repository storybookjs/storybook, pull requests merged in 2024-03, with the labels that each got.

#26254 ReactVite: Docgen ignore un-parsable files
  code/frameworks/react-vite/package.json
  code/frameworks/react-vite/src/plugins/docgen-resolver.ts
  code/frameworks/react-vite/src/plugins/react-docgen.ts
  code/presets/react-webpack/package.json
  code/presets/react-webpack/src/loaders/docgen-resolver.ts
  code/presets/react-webpack/src/loaders/react-docgen-loader.ts
  code/renderers/react/template/stories/docgen-components/imported.module.css
  code/renderers/react/template/stories/docgen-components/ts-function-component/input.tsx
  code/yarn.lock
Labels: bug, ci:normal, docgen

#26282 Onboarding: Fix manager dist reference
  code/addons/onboarding/preset.js
Labels: bug, ci:normal, addon: onboarding

#26283 Controls: Fix type summary when table.type unset
  code/ui/blocks/src/components/ArgsTable/ArgRow.tsx
Labels: bug, patch:yes, block: argstable, ci:normal

#26273 React Docgen: Handle TypeScript path aliases in react-docgen loader
  code/frameworks/react-vite/package.json
  code/frameworks/react-vite/src/plugins/react-docgen.test.ts
  code/frameworks/react-vite/src/plugins/react-docgen.ts
  code/frameworks/react-vite/src/preset.ts
  code/presets/react-webpack/package.json
  code/presets/react-webpack/src/loaders/react-docgen-loader.test.ts
  code/presets/react-webpack/src/loaders/react-docgen-loader.ts
  code/yarn.lock
Labels: bug, typescript, addon: controls, ci:daily

#26262 Automigration: Resolve vite config from project root instead of cwd
  code/lib/cli/src/automigrate/fixes/vite-config-file.ts
  code/lib/cli/src/automigrate/types.ts
Labels: bug, ci:normal

#26293 Upgrade: Add missing isUpgrade parameter to automigrate function
  code/lib/cli/src/automigrate/index.ts
Labels: bug, automigrations, ci:normal

#26267 Portable stories: Improve existing APIs, add loaders support
  MIGRATION.md
  code/lib/preview-api/src/index.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.test.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.ts
  code/lib/types/src/modules/composedStory.ts
  code/renderers/react/src/__test__/Button.stories.tsx
  code/renderers/react/src/__test__/__snapshots__/portable-stories.test.tsx.snap
  code/renderers/react/src/__test__/portable-stories.test.tsx
  code/renderers/react/src/portable-stories.tsx
  code/renderers/vue3/src/__tests__/composeStories/Button.stories.ts
  code/renderers/vue3/src/__tests__/composeStories/__snapshots__/portable-stories.test.ts.snap
  code/renderers/vue3/src/__tests__/composeStories/portable-stories.test.ts
  code/renderers/vue3/src/portable-stories.ts
Labels: BREAKING CHANGE, ci:normal, portable stories

#25970 Docs: Change glob pattern in jest item of storyshots-migration-guide
  docs/snippets/common/portable-stories-jest-snapshot-test.js.mdx
  docs/snippets/common/portable-stories-jest-snapshot-test.ts.mdx
Labels: documentation, ci:docs

#26188 Svelte: Support `5.0.0-next.65` prerelease
  .circleci/config.yml
  code/frameworks/svelte-vite/package.json
  code/frameworks/svelte-webpack5/package.json
  code/frameworks/svelte-webpack5/src/typings.d.ts
  code/frameworks/sveltekit/package.json
  code/lib/cli/src/sandbox-templates.ts
  code/package.json
  code/presets/svelte-webpack/package.json
  code/renderers/svelte/package.json
  code/renderers/svelte/scripts/copy-unbundled-to-dist.ts
  code/renderers/svelte/src/components/PreviewRender.svelte
  code/renderers/svelte/src/components/SlotDecorator.svelte
  code/renderers/svelte/src/createSvelte5Props.svelte.js
  code/renderers/svelte/src/decorators.ts
  code/renderers/svelte/src/render.ts
  code/renderers/svelte/template/stories/args.stories.js
  code/renderers/svelte/template/stories/views/ButtonJavaScript.svelte
  code/renderers/svelte/templates/HOC.svelte
  code/yarn.lock
Labels: maintenance, svelte, ci:daily

#26286 CSF-tools/Codemods: Upgrade recast
  code/lib/codemod/package.json
  code/lib/csf-tools/package.json
  code/yarn.lock
  scripts/package.json
  scripts/yarn.lock
Labels: dependencies, ci:normal

#26298 CLI: Improve `add` command & add tests
  code/lib/cli/src/add.test.ts
  code/lib/cli/src/add.ts
  code/lib/cli/src/postinstallAddon.ts
Labels: bug, cli, ci:normal

#26312 CLI: Update minimum Node.js version requirement
  code/lib/cli/bin/index.js
Labels: maintenance, cli, ci:normal

#26295 Automigration: Add @storybook/addons automigration
  code/lib/cli/src/automigrate/fixes/addon-postcss.ts
  code/lib/cli/src/automigrate/fixes/addons-api.test.ts
  code/lib/cli/src/automigrate/fixes/addons-api.ts
  code/lib/cli/src/automigrate/fixes/index.ts
Labels: feature request, ci:normal

#26304 Core: Fix composition of storybooks on same origin
  code/lib/channels/src/postmessage/getEventSourceUrl.ts
  code/lib/manager-api/src/lib/events.ts
  code/lib/manager-api/src/modules/refs.ts
  code/lib/manager-api/src/tests/refs.test.ts
Labels: bug, composition, ci:normal

#26317 Vue: Return component from `composeStory`
  MIGRATION.md
  code/renderers/vue3/src/__tests__/composeStories/portable-stories.test.ts
  code/renderers/vue3/src/portable-stories.ts
Labels: BREAKING CHANGE, vue3, ci:normal, portable stories

#26322 Core: Add event when serverChannel disconnects
  code/lib/channels/src/index.test.ts
  code/lib/channels/src/index.ts
  code/lib/channels/src/websocket/index.ts
  code/lib/core-events/src/index.ts
  code/ui/manager/src/globals/exports.ts
Labels: feature request, core, ci:normal

#26081 Documentation: API reference for portable stories
  docs/api/portable-stories-jest.md
  docs/api/portable-stories-playwright.md
  docs/api/portable-stories-vitest.md
  docs/api/story-pipeline-playwright-ct.png
  docs/api/story-pipeline.png
  docs/snippets/react/portable-stories-jest-compose-stories.ts.mdx
  docs/snippets/react/portable-stories-jest-compose-story.ts.mdx
  docs/snippets/react/portable-stories-jest-override-globals.ts.mdx
  docs/snippets/react/portable-stories-jest-with-loaders.ts.mdx
  docs/snippets/react/portable-stories-jest-with-play-function.ts.mdx
  docs/snippets/react/portable-stories-playwright-ct.ts.mdx
  docs/snippets/react/portable-stories-vitest-compose-stories.ts.mdx
  docs/snippets/react/portable-stories-vitest-compose-story.ts.mdx
  docs/snippets/react/portable-stories-vitest-override-globals.ts.mdx
  docs/snippets/react/portable-stories-vitest-with-loaders.ts.mdx
  docs/snippets/react/portable-stories-vitest-with-play-function.ts.mdx
  docs/snippets/vue/portable-stories-jest-compose-stories.ts.mdx
  docs/snippets/vue/portable-stories-jest-compose-story.ts.mdx
  docs/snippets/vue/portable-stories-jest-override-globals.ts.mdx
  docs/snippets/vue/portable-stories-jest-with-loaders.ts.mdx
  docs/snippets/vue/portable-stories-jest-with-play-function.ts.mdx
  docs/snippets/vue/portable-stories-playwright-ct.ts.mdx
  docs/snippets/vue/portable-stories-vitest-compose-stories.ts.mdx
  docs/snippets/vue/portable-stories-vitest-compose-story.ts.mdx
  docs/snippets/vue/portable-stories-vitest-override-globals.ts.mdx
  docs/snippets/vue/portable-stories-vitest-with-loaders.ts.mdx
  docs/snippets/vue/portable-stories-vitest-with-play-function.ts.mdx
  docs/toc.js
Labels: documentation, ci:docs, portable stories

#26326 Docs: Fix FAQ
  docs/faq.md
Labels: documentation, ci:docs

#26330 Docs: Use dynamic Vite imports in snippets
  docs/snippets/common/main-config-vite-final-env.js.mdx
  docs/snippets/common/main-config-vite-final.js.mdx
  docs/snippets/common/main-config-vite-final.ts-4-9.mdx
  docs/snippets/common/main-config-vite-final.ts.mdx
  docs/snippets/common/storybook-vite-builder-aliasing.js.mdx
Labels: documentation, builder-vite, ci:docs

#26303 Vue: Fix reference error when using re-exports with "vue-component-meta"
  code/frameworks/vue3-vite/src/plugins/vue-component-meta.ts
Labels: bug, vue3, ci:normal, docgen

#26337 UI: Fix sidebar scrolling to selected story when state changes
  code/ui/manager/src/components/sidebar/Sidebar.stories.tsx
  code/ui/manager/src/components/sidebar/Sidebar.tsx
Labels: bug, ui, ci:normal

#26257 ReleaseTooling: Exclude links to contributors' user profiles from changelog
  scripts/release/generate-pr-description.ts
  scripts/release/utils/get-changes.ts
  scripts/release/utils/get-github-info.ts
Labels: build, ci:normal

#26255 Build: Upgrade `esbuild` (`0.20.1`)
  code/builders/builder-manager/package.json
  code/lib/core-common/package.json
  code/package.json
  code/yarn.lock
  scripts/package.json
  scripts/yarn.lock
Labels: dependencies, ci:normal

#26285 Dependencies: Remove `qs` from `@storybook/manager-api` & `@storybook/channels`
  code/lib/channels/package.json
  code/lib/channels/src/postmessage/index.ts
  code/lib/manager-api/package.json
  code/lib/manager-api/src/tests/url.test.js
  code/yarn.lock
Labels: maintenance, core, ci:normal

#26360 Viewport: Fix editing when default viewport is set
  code/addons/viewport/src/Tool.tsx
  code/e2e-tests/addon-viewport.spec.ts
Labels: bug, addon: viewport, ci:normal

#26353 Addon-themes: Fix switcher initialization after first start
  code/addons/themes/src/constants.ts
  code/addons/themes/src/theme-switcher.tsx
Labels: bug, ci:normal

#26324 UI: Remove 'left' property from TooltipLinkList and Link components
  MIGRATION.md
  code/addons/toolbars/src/types.ts
  docs/essentials/toolbars-and-globals.md
Labels: maintenance, ci:normal

#26362 Core: Fix path separator issue in check-addon-order
  code/lib/core-common/src/utils/__tests__/check-addon-order.test.ts
  code/lib/core-common/src/utils/check-addon-order.ts
Labels: bug, core, windows, ci:normal

#26221 Docs: Add docs for `vue3-vite` framework
  code/frameworks/vue3-vite/README.md
  docs/faq.md
  docs/get-started/install.md
  docs/get-started/nextjs.md
  docs/get-started/vue-component-meta-event-types-controls.png
  docs/get-started/vue-component-meta-exposed-types-controls.png
  docs/get-started/vue-component-meta-prop-types-controls.png
  docs/get-started/vue-component-meta-slot-types-controls.png
  docs/get-started/vue3-vite.md
  docs/snippets/common/init-command-specific-version.npx.js.mdx
  docs/snippets/common/init-command-specific-version.pnpm.js.mdx
  docs/snippets/common/init-command-specific-version.yarn.js.mdx
  docs/snippets/common/storybook-init-v7.npx.js.mdx
  docs/snippets/common/storybook-init-v7.pnpm.js.mdx
  docs/snippets/common/storybook-init-v7.yarn.js.mdx
  docs/snippets/vue/vue3-vite-add-framework.js.mdx
  docs/snippets/vue/vue3-vite-add-framework.ts.mdx
  docs/snippets/vue/vue3-vite-install.npm.js.mdx
  docs/snippets/vue/vue3-vite-install.pnpm.js.mdx
  docs/snippets/vue/vue3-vite-install.yarn.js.mdx
  docs/toc.js
Labels: documentation, ci:docs

#26364 Addon-Actions: Fix attaching action, after a spy is restored to the original implemementation
  code/addons/actions/src/loaders.ts
Labels: bug, ci:normal

#26352 CLI: Add explicit actions to header story
  code/frameworks/angular/template/cli/header.stories.ts
  code/frameworks/ember/template/cli/Button.stories.js
  code/frameworks/nextjs/template/cli/js/Header.stories.js
  code/frameworks/nextjs/template/cli/ts-3-8/Header.stories.ts
  code/frameworks/nextjs/template/cli/ts-4-9/Header.stories.ts
  code/renderers/html/template/cli/js/Header.stories.js
  code/renderers/html/template/cli/ts-3-8/Header.stories.ts
  code/renderers/html/template/cli/ts-4-9/Header.stories.ts
  code/renderers/preact/template/cli/Header.stories.jsx
  code/renderers/react/template/cli/js/Header.stories.js
  code/renderers/react/template/cli/ts-3-8/Header.stories.ts
  code/renderers/react/template/cli/ts-4-9/Header.stories.ts
  code/renderers/vue3/template/cli/js/Header.stories.js
  code/renderers/vue3/template/cli/ts-3-8/Header.stories.ts
  code/renderers/vue3/template/cli/ts-4-9/Header.stories.ts
  code/renderers/web-components/template/cli/js/Button.stories.js
  code/renderers/web-components/template/cli/js/Header.stories.js
  code/renderers/web-components/template/cli/ts-3-8/Button.stories.ts
  code/renderers/web-components/template/cli/ts-3-8/Header.stories.ts
  code/renderers/web-components/template/cli/ts-4-9/Button.stories.ts
  code/renderers/web-components/template/cli/ts-4-9/Header.stories.ts
Labels: maintenance, ci:normal

#26376 Docs: Fix broken links - Migration guide
  docs/migration-guide/index.md
Labels: documentation, ci:docs

#26378 Docs: Add section about missing vite config file to migration guides
  docs/migration-guide/from-older-version.md
  docs/migration-guide/index.md
Labels: documentation, ci:docs

#26379 CLI: Vite migration link (shorter)
  code/lib/cli/src/automigrate/fixes/vite-config-file.ts
Labels: bug, cli, ci:normal

#26340 Sandbox: Use npm to create Qwik sandboxes
  code/lib/cli/src/sandbox-templates.ts
Labels: build, ci:daily, empathy

#26384 CLI: Fix fn reference in preact templates
  code/renderers/preact/template/cli/Header.stories.jsx
Labels: bug, ci:normal

#26356 Composition: Fix refs not loading when there's multiple
  code/lib/manager-api/src/modules/refs.ts
  code/lib/manager-api/src/tests/refs.test.ts
Labels: bug, ui, ci:normal

#26385 CLI: Remove duplicated dependency warning
  code/lib/cli/src/automigrate/helpers/getMigrationSummary.test.ts
  code/lib/cli/src/automigrate/helpers/getMigrationSummary.ts
Labels: bug, cli, ci:normal

#26387 Portable Stories: Fix injected root element changing layout
  MIGRATION.md
  code/lib/preview-api/src/index.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.ts
  code/renderers/react/src/__test__/__snapshots__/portable-stories.test.tsx.snap
  code/renderers/react/src/portable-stories.ts
  code/renderers/vue3/src/__tests__/composeStories/__snapshots__/portable-stories.test.ts.snap
  code/renderers/vue3/src/portable-stories.ts
Labels: bug, ci:normal, portable stories

#26382 React: Support all React component types in JSX Decorator
  code/renderers/react/src/docs/jsxDecorator.test.tsx
  code/renderers/react/src/docs/jsxDecorator.tsx
Labels: bug, react, addon: docs, ci:merged

#26269 Docs: Add `angular` framework doc
  code/frameworks/angular/README.md
  docs/get-started/angular.md
  docs/snippets/angular/angular-add-framework.js.mdx
  docs/snippets/angular/angular-add-framework.ts.mdx
  docs/snippets/angular/angular-install.npm.js.mdx
  docs/snippets/angular/angular-install.pnpm.js.mdx
  docs/snippets/angular/angular-install.yarn.js.mdx
  docs/toc.js
Labels: documentation, ci:docs

#26377 CLI: Automigration for upgrading storybook related dependencies
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/upgrade-storybook-related-dependencies.test.ts
  code/lib/cli/src/automigrate/fixes/upgrade-storybook-related-dependencies.ts
  code/lib/cli/src/automigrate/index.ts
  code/lib/cli/src/automigrate/types.ts
  code/lib/cli/src/upgrade.ts
Labels: feature request, cli, automigrations, ci:normal

#26398 Docs: Fix table alignment
  docs/addons/addons-api.md
  docs/api/csf.md
  docs/configure/features-and-behavior.md
  docs/essentials/toolbars-and-globals.md
  docs/writing-stories/naming-components-and-hierarchy.md
Labels: documentation, ci:docs

#26405 Dependencies: Broaden `esbuild` version range
  code/builders/builder-manager/package.json
  code/lib/core-common/package.json
  code/package.json
  code/yarn.lock
Labels: dependencies, ci:normal

#26321 Docs: Snapshot testing updates
  docs/snippets/common/individual-snapshot-tests-portable-stories.jest.js.mdx
  docs/snippets/common/individual-snapshot-tests-portable-stories.jest.ts.mdx
  docs/snippets/common/individual-snapshot-tests-portable-stories.vitest.js.mdx
  docs/snippets/common/individual-snapshot-tests-portable-stories.vitest.ts.mdx
  docs/snippets/common/snapshot-tests-portable-stories.jest.js.mdx
  docs/snippets/common/snapshot-tests-portable-stories.jest.ts.mdx
  docs/snippets/common/snapshot-tests-portable-stories.vitest.js.mdx
  docs/snippets/common/snapshot-tests-portable-stories.vitest.ts.mdx
  docs/snippets/common/test-runner-snapshot-resolver-custom-directory.js.mdx
  docs/snippets/react/button-snapshot-test-portable-stories.jest.js.mdx
  docs/snippets/react/button-snapshot-test-portable-stories.vitest.js.mdx
  docs/snippets/react/storybook-testing-addon-optional-config.vite.js.mdx
  docs/snippets/react/storybook-testing-addon-optional-config.vite.ts.mdx
  docs/snippets/vue/button-snapshot-test-portable-stories.js.mdx
  docs/toc.js
  docs/writing-tests/snapshot-testing.md
  docs/writing-tests/storyshots-fail.png
  docs/writing-tests/storyshots-pass.png
Labels: documentation, ci:docs

#26410 CLI: Automigration fix version detection of upgrading related packages
  code/lib/cli/src/automigrate/index.ts
  code/lib/cli/src/automigrate/types.ts
  code/lib/cli/src/migrate.ts
  code/lib/cli/src/upgrade.ts
Labels: bug, cli, ci:normal

#26264 Docs: Add `react-vite` framework doc
  code/frameworks/react-vite/README.md
  docs/get-started/react-vite.md
  docs/snippets/react/react-vite-add-framework.js.mdx
  docs/snippets/react/react-vite-add-framework.ts.mdx
  docs/snippets/react/react-vite-install.npm.js.mdx
  docs/snippets/react/react-vite-install.pnpm.js.mdx
  docs/snippets/react/react-vite-install.yarn.js.mdx
  docs/toc.js
Labels: documentation, ci:docs

#26265 Docs: Add `react-webpack5` framework doc
  code/frameworks/react-webpack5/README.md
  docs/get-started/react-webpack5.md
  docs/snippets/react/react-webpack5-add-framework.js.mdx
  docs/snippets/react/react-webpack5-add-framework.ts.mdx
  docs/snippets/react/react-webpack5-install.npm.js.mdx
  docs/snippets/react/react-webpack5-install.pnpm.js.mdx
  docs/snippets/react/react-webpack5-install.yarn.js.mdx
  docs/toc.js
Labels: documentation, ci:docs

#26358 Docs: Add `svelte-vite` framework doc
  code/frameworks/svelte-vite/README.md
  docs/get-started/svelte-vite.md
  docs/snippets/svelte/svelte-csf-addon-install.npm.js.mdx
  docs/snippets/svelte/svelte-csf-addon-install.pnpm.js.mdx
  docs/snippets/svelte/svelte-csf-addon-install.yarn.js.mdx
  docs/snippets/svelte/svelte-vite-add-framework.js.mdx
  docs/snippets/svelte/svelte-vite-add-framework.ts.mdx
  docs/snippets/svelte/svelte-vite-install.npm.js.mdx
  docs/snippets/svelte/svelte-vite-install.pnpm.js.mdx
  docs/snippets/svelte/svelte-vite-install.yarn.js.mdx
  docs/toc.js
Labels: documentation, ci:docs

#26359 Docs: Add `svelte-webpack5` framework doc
  code/frameworks/svelte-webpack5/README.md
  docs/get-started/svelte-webpack5.md
  docs/snippets/svelte/svelte-webpack5-add-framework.js.mdx
  docs/snippets/svelte/svelte-webpack5-add-framework.ts.mdx
  docs/snippets/svelte/svelte-webpack5-install.npm.js.mdx
  docs/snippets/svelte/svelte-webpack5-install.pnpm.js.mdx
  docs/snippets/svelte/svelte-webpack5-install.yarn.js.mdx
  docs/toc.js
Labels: documentation, ci:docs

#26266 Docs: Add `vue3-webpack5` framework doc
  code/frameworks/vue3-webpack5/README.md
  docs/get-started/vue3-vite.md
  docs/get-started/vue3-webpack5.md
  docs/snippets/vue/vue3-webpack5-add-framework.js.mdx
  docs/snippets/vue/vue3-webpack5-add-framework.ts.mdx
  docs/snippets/vue/vue3-webpack5-install.npm.js.mdx
  docs/snippets/vue/vue3-webpack5-install.pnpm.js.mdx
  docs/snippets/vue/vue3-webpack5-install.yarn.js.mdx
  docs/toc.js
Labels: documentation, ci:docs

#26331 Docs: Add `web-components-vite` framework doc
  code/frameworks/web-components-vite/README.md
  docs/get-started/web-components-vite.md
  docs/snippets/web-components/web-components-vite-add-framework.js.mdx
  docs/snippets/web-components/web-components-vite-add-framework.ts.mdx
  docs/snippets/web-components/web-components-vite-install.npm.js.mdx
  docs/snippets/web-components/web-components-vite-install.pnpm.js.mdx
  docs/snippets/web-components/web-components-vite-install.yarn.js.mdx
  docs/toc.js
Labels: documentation, ci:docs

#26333 Docs: Add `web-components-webpack5` framework doc
  code/frameworks/web-components-webpack5/README.md
  docs/get-started/web-components-webpack5.md
  docs/snippets/web-components/web-components-webpack5-add-framework.js.mdx
  docs/snippets/web-components/web-components-webpack5-add-framework.ts.mdx
  docs/snippets/web-components/web-components-webpack5-install.npm.js.mdx
  docs/snippets/web-components/web-components-webpack5-install.pnpm.js.mdx
  docs/snippets/web-components/web-components-webpack5-install.yarn.js.mdx
  docs/toc.js
Labels: documentation, ci:docs

#26329 Docs: Add `sveltekit` framework doc
  code/frameworks/sveltekit/README.md
  docs/get-started/sveltekit.md
  docs/snippets/svelte/sveltekit-add-framework.js.mdx
  docs/snippets/svelte/sveltekit-add-framework.ts.mdx
  docs/snippets/svelte/sveltekit-install.npm.js.mdx
  docs/snippets/svelte/sveltekit-install.pnpm.js.mdx
  docs/snippets/svelte/sveltekit-install.yarn.js.mdx
  docs/toc.js
Labels: documentation, ci:docs

#26424 Docs: Bring frameworks docs to `next`
  code/frameworks/svelte-webpack5/README.md
  code/frameworks/sveltekit/README.md
  code/frameworks/vue3-webpack5/README.md
  code/frameworks/web-components-vite/README.md
  code/frameworks/web-components-webpack5/README.md
  docs/get-started/svelte-webpack5.md
  docs/get-started/sveltekit.md
  docs/get-started/vue3-vite.md
  docs/get-started/vue3-webpack5.md
  docs/get-started/web-components-vite.md
  docs/get-started/web-components-webpack5.md
  docs/snippets/svelte/svelte-webpack5-add-framework.js.mdx
  docs/snippets/svelte/svelte-webpack5-add-framework.ts.mdx
  docs/snippets/svelte/svelte-webpack5-install.npm.js.mdx
  docs/snippets/svelte/svelte-webpack5-install.pnpm.js.mdx
  docs/snippets/svelte/svelte-webpack5-install.yarn.js.mdx
  docs/snippets/svelte/sveltekit-add-framework.js.mdx
  docs/snippets/svelte/sveltekit-add-framework.ts.mdx
  docs/snippets/svelte/sveltekit-install.npm.js.mdx
  docs/snippets/svelte/sveltekit-install.pnpm.js.mdx
  docs/snippets/svelte/sveltekit-install.yarn.js.mdx
  docs/snippets/vue/vue3-webpack5-add-framework.js.mdx
  docs/snippets/vue/vue3-webpack5-add-framework.ts.mdx
  docs/snippets/vue/vue3-webpack5-install.npm.js.mdx
  docs/snippets/vue/vue3-webpack5-install.pnpm.js.mdx
  docs/snippets/vue/vue3-webpack5-install.yarn.js.mdx
  docs/snippets/web-components/web-components-vite-add-framework.js.mdx
  docs/snippets/web-components/web-components-vite-add-framework.ts.mdx
  docs/snippets/web-components/web-components-vite-install.npm.js.mdx
  docs/snippets/web-components/web-components-vite-install.pnpm.js.mdx
  docs/snippets/web-components/web-components-vite-install.yarn.js.mdx
  docs/snippets/web-components/web-components-webpack5-add-framework.js.mdx
  docs/snippets/web-components/web-components-webpack5-add-framework.ts.mdx
  docs/snippets/web-components/web-components-webpack5-install.npm.js.mdx
  docs/snippets/web-components/web-components-webpack5-install.pnpm.js.mdx
  docs/snippets/web-components/web-components-webpack5-install.yarn.js.mdx
  docs/toc.js
Labels: documentation, ci:docs

#26415 Core: Optimize clearNotification
  code/lib/manager-api/src/modules/notifications.ts
Labels: bug, performance issue, ci:normal

#26375 CLI: Improve `vite-config-file.ts`
  code/lib/cli/src/automigrate/fixes/vite-config-file.ts
Labels: bug, cli, ci:normal

#26287 UI: Fix search result color contrast
  code/ui/manager/src/components/sidebar/SearchResults.tsx
Labels: maintenance, accessibility, ui: search, ci:normal

#26372 Controls: Fix number controls do not reset
  code/ui/blocks/src/controls/Number.tsx
Labels: bug, addon: controls, ci:normal

#26471 UI: Add key property to list children in Highlight component
  code/ui/manager/src/components/sidebar/SearchResults.tsx
Labels: bug, ui: search, ci:normal

#26457 Addons: Output `preview.js+mjs` instead of `preview.cjs+js`
  code/addons/a11y/package.json
  code/addons/actions/package.json
  code/addons/backgrounds/package.json
  code/addons/docs/package.json
  code/addons/essentials/package.json
  code/addons/highlight/package.json
  code/addons/interactions/package.json
  code/addons/links/package.json
  code/addons/measure/package.json
  code/addons/outline/package.json
  code/addons/themes/package.json
  code/addons/viewport/package.json
  code/renderers/react/src/__test__/portable-stories.test.tsx
  scripts/prepare/addon-bundle.ts
Labels: api: addons, maintenance, ci:normal

#26233 Build: Move chromatic to `scripts` directory
  code/addons/interactions/src/components/InteractionsPanel.stories.tsx
  code/package.json
  code/ui/.storybook/isChromatic.ts
  code/ui/.storybook/main.ts
  code/ui/.storybook/preview.tsx
  code/ui/manager/src/typings.d.ts
  code/yarn.lock
  scripts/package.json
  scripts/yarn.lock
Labels: build, ci:normal

#26476 Dependencies: Upgrade to latest version of VTA
  code/chromatic.config.json
  code/package.json
  code/ui/.storybook/main.ts
  code/yarn.lock
Labels: build, ci:normal

#26485 Docs: Add get started index (latest)
  docs/get-started/index.md
  docs/toc.js
Labels: documentation, ci:docs

#26486 Docs: Fix broken links
  docs/get-started/index.md
Labels: documentation, ci:docs

#26487 Docs: Fix get started (latest)
  docs/get-started/index.md
Labels: documentation, ci:docs

#26490 Docs: Fix get started 2 (latest)
  docs/get-started/index.md
  docs/snippets/angular/build-storybook-production-mode.with-builder.js.mdx
  docs/writing-docs/index.md
Labels: documentation, ci:docs

#26489 Docs: Fix broken links
  docs/get-started/index.md
  docs/snippets/angular/build-storybook-production-mode.with-builder.js.mdx
  docs/writing-docs/index.md
Labels: documentation, ci:docs

#26498 CLI: Remove unused arg from initiate and sandbox functions
  code/lib/cli/src/generate.ts
  code/lib/cli/src/initiate.ts
  code/lib/cli/src/sandbox.ts
Labels: build, ci:normal

#26497 CLI: Automigrate improve upgrade storybook related packages
  code/lib/cli/src/automigrate/fixes/upgrade-storybook-related-dependencies.test.ts
  code/lib/cli/src/automigrate/fixes/upgrade-storybook-related-dependencies.ts
  code/lib/core-common/src/js-package-manager/JsPackageManager.ts
Labels: bug, cli, ci:normal

#26512 IssueTemplate: Update bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: documentation, ci:docs

#26524 Angular: Fix Angular sandbox startup errors
  code/addons/actions/src/runtime/action.ts
  code/addons/links/src/utils.ts
  code/lib/core-common/src/js-package-manager/JsPackageManager.ts
  code/lib/preview-api/src/modules/preview-web/Preview.tsx
  code/lib/test/src/index.ts
Labels: cleanup, angular, ci:normal

#26537 Docs: Fix typo `@storybook/channel` to `@storybook/channels` in `MIGRATION.md`
  MIGRATION.md
Labels: documentation, ci:docs

#26536 Docs: Fix example with `@sveltejs/vite-plugin-svelte` in MIGRATION.md
  MIGRATION.md
Labels: documentation, ci:docs

#26529 CI: Bump GitHub workflow actions to latest versions
  .github/workflows/canary-release-pr.yml
  .github/workflows/cron-weekly.yml
  .github/workflows/danger-js.yml
  .github/workflows/handle-release-branches.yml
  .github/workflows/prepare-non-patch-release.yml
  .github/workflows/prepare-patch-release.yml
  .github/workflows/publish.yml
  .github/workflows/stale.yml
  .github/workflows/tests-unit.yml
  docs/snippets/common/chromatic-github-action.js.mdx
  docs/snippets/common/ghp-github-action.yml.mdx
  docs/snippets/common/test-runner-local-build-workflow.yml.mdx
  docs/snippets/common/test-runner-with-deploy-event-workflow.yml.mdx
Labels: build, ci:daily

#26500 CLI: Introduce package manager fallback for initializing Storybook in an empty directory with yarn1
  code/lib/cli/src/initiate.ts
Labels: bug, ci:daily

#26198 Portable Stories: Add support for Playwright CT in Vue3
  code/lib/instrumenter/src/instrumenter.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.ts
  code/renderers/vue3/src/portable-stories.ts
  docs/api/portable-stories-playwright.md
  docs/snippets/react/portable-stories-playwright-ct.ts.mdx
  docs/snippets/vue/portable-stories-playwright-ct.ts.mdx
  scripts/sandbox/generate.ts
  scripts/sandbox/publish.ts
  test-storybooks/portable-stories-kitchen-sink/react/stories/Button.stories.tsx
  test-storybooks/portable-stories-kitchen-sink/vue3/.storybook/preview.ts
  test-storybooks/portable-stories-kitchen-sink/vue3/playwright.config.ts
  test-storybooks/portable-stories-kitchen-sink/vue3/stories/Button.playwright.tsx
  test-storybooks/portable-stories-kitchen-sink/vue3/stories/Button.stories.playwright.ts
  test-storybooks/portable-stories-kitchen-sink/vue3/stories/Button.stories.portable.ts
  test-storybooks/portable-stories-kitchen-sink/vue3/stories/Button.stories.ts
  test-storybooks/portable-stories-kitchen-sink/vue3/tsconfig.json
  test-storybooks/portable-stories-kitchen-sink/vue3/yarn.lock
Labels: maintenance, vue3, ci:normal, portable stories

#26514 Bug: Make sure loaders/decorators can be used as array
  code/lib/preview-api/src/modules/store/csf/composeConfigs.test.ts
  code/lib/preview-api/src/modules/store/csf/composeConfigs.ts
Labels: bug, ci:normal

#26527 UI: Fix theming of elements inside bars
  code/lib/theming/src/themes/dark.ts
  code/ui/blocks/src/components/ArgsTable/ArgsTable.tsx
  code/ui/components/src/components/Button/Button.tsx
  code/ui/components/src/components/bar/bar.tsx
  code/ui/components/src/components/bar/button.tsx
  code/ui/components/src/components/tabs/tabs.hooks.tsx
  code/ui/manager/src/components/mobile/navigation/MobileNavigation.tsx
  code/ui/manager/src/components/preview/Toolbar.tsx
  code/ui/manager/src/components/sidebar/Sidebar.tsx
  code/ui/manager/src/settings/index.tsx
Labels: bug, ui, patch:yes, ci:daily

#26552 Docs: Update diff-link in addon migration guide (again)
  docs/addons/addon-migration-guide.md
Labels: documentation, patch:yes, ci:docs

#26556 Build: Add flaky tag to e2e test
  code/e2e-tests/tags.spec.ts
Labels: build

#26559 Docs: Improve portable stories docs
  docs/api/portable-stories-playwright.md
  docs/snippets/react/portable-stories-jest-compose-stories.ts.mdx
  docs/snippets/react/portable-stories-playwright-ct.ts.mdx
  docs/snippets/react/portable-stories-vitest-compose-stories.ts.mdx
  docs/snippets/vue/portable-stories-jest-compose-stories.ts.mdx
  docs/snippets/vue/portable-stories-playwright-ct.ts.mdx
  docs/snippets/vue/portable-stories-vitest-compose-stories.ts.mdx
Labels: documentation, ci:docs

#26481 UI: Improve empty state of addon panel
  code/addons/a11y/src/components/Report/index.tsx
  code/addons/interactions/src/components/EmptyState.tsx
  code/ui/.storybook/main.ts
  code/ui/blocks/src/components/ArgsTable/Empty.tsx
  code/ui/components/src/components/tabs/EmptyTabContent.stories.tsx
  code/ui/components/src/components/tabs/EmptyTabContent.tsx
  code/ui/components/src/components/tabs/tabs.stories.tsx
  code/ui/components/src/components/tabs/tabs.tsx
  code/ui/components/src/index.ts
  code/ui/manager/src/components/panel/Panel.tsx
  code/ui/manager/src/globals/exports.ts
Labels: bug, ui, ci:normal

#26566 Addon Docs: Fix [Object object] displayName in some JSX components
  code/renderers/react/src/docs/jsxDecorator.test.tsx
  code/renderers/react/src/docs/jsxDecorator.tsx
Labels: bug, patch:yes, addon: docs, ci:normal

#26567 Controls: Fix disable condition in ArgControl component
  code/ui/blocks/src/components/ArgsTable/ArgControl.tsx
Labels: bug, patch:yes, ci:normal

#26413 Angular: Add support for Angular's input signals
  code/frameworks/angular/package.json
  code/frameworks/angular/scripts/postbuild.js
  code/frameworks/angular/src/client/public-types.ts
  code/frameworks/angular/template/stories_angular-cli-default-ts/signal/button.component.ts
  code/frameworks/angular/template/stories_angular-cli-default-ts/signal/button.css
  code/frameworks/angular/template/stories_angular-cli-default-ts/signal/button.stories.ts
  code/frameworks/angular/template/stories_angular-cli-prerelease/signal/button.component.ts
  code/frameworks/angular/template/stories_angular-cli-prerelease/signal/button.css
  code/frameworks/angular/template/stories_angular-cli-prerelease/signal/button.stories.ts
  code/yarn.lock
  scripts/package.json
  scripts/yarn.lock
Labels: feature request, angular, ci:daily

#26546 Angular: Add support for Angular's output signals
  code/frameworks/angular/scripts/postbuild.js
  code/frameworks/angular/src/client/public-types.ts
  code/frameworks/angular/template/stories_angular-cli-default-ts/signal/button.component.ts
  code/frameworks/angular/template/stories_angular-cli-prerelease/signal/button.component.ts
Labels: feature request, angular, ci:daily

#26477 UI: Replace the icon prop in the Manager API
  code/lib/manager-api/package.json
  code/lib/manager-api/src/modules/whatsnew.tsx
  code/lib/types/src/modules/api.ts
  code/ui/manager/src/components/notifications/NotificationItem.stories.tsx
  code/ui/manager/src/components/notifications/NotificationItem.tsx
  code/yarn.lock
Labels: ui, maintenance, patch:yes, ci:normal

#26516 Bug: Remove redundant component check, as we auto-generate titles from the file system
  code/lib/csf-tools/src/CsfFile.test.ts
  code/lib/csf-tools/src/CsfFile.ts
Labels: bug, patch:yes, ci:normal

#26442 Core: Preloading too early fixed
  code/lib/preview-api/src/modules/preview-web/PreviewWithSelection.tsx
Labels: bug, ci:normal

#26515 CLI: Instruct the correct auto-migration command
  code/lib/cli/src/automigrate/helpers/getMigrationSummary.test.ts
  code/lib/cli/src/automigrate/helpers/getMigrationSummary.ts
  code/lib/cli/src/doctor/index.ts
  code/lib/core-events/src/errors/server-errors.ts
Labels: bug, cli, patch:yes, ci:normal

#26585 CLI: Throw an error when running upgrade command in incorrect cwd
  code/lib/cli/src/helpers.test.ts
  code/lib/cli/src/helpers.ts
  code/lib/cli/src/upgrade.test.ts
  code/lib/cli/src/upgrade.ts
  code/lib/core-events/src/errors/server-errors.ts
Labels: bug, cli, patch:yes, ci:normal

#26592 Addon Docs: Support Stencil based display names in source snippets
  code/renderers/react/src/docs/jsxDecorator.test.tsx
  code/renderers/react/src/docs/jsxDecorator.tsx
Labels: bug, patch:yes, addon: docs, ci:normal

#26577 Args: Add possibility to mark controls as read-only
  code/ui/blocks/src/components/ArgsTable/types.ts
  code/ui/blocks/src/controls/Boolean.stories.tsx
  code/ui/blocks/src/controls/Boolean.tsx
  code/ui/blocks/src/controls/Color.stories.tsx
  code/ui/blocks/src/controls/Color.tsx
  code/ui/blocks/src/controls/Date.stories.tsx
  code/ui/blocks/src/controls/Date.tsx
  code/ui/blocks/src/controls/Files.stories.tsx
  code/ui/blocks/src/controls/Files.tsx
  code/ui/blocks/src/controls/Number.stories.tsx
  code/ui/blocks/src/controls/Number.tsx
  code/ui/blocks/src/controls/Object.stories.tsx
  code/ui/blocks/src/controls/Object.tsx
  code/ui/blocks/src/controls/Range.stories.tsx
  code/ui/blocks/src/controls/Range.tsx
  code/ui/blocks/src/controls/Text.stories.tsx
  code/ui/blocks/src/controls/Text.tsx
  code/ui/blocks/src/controls/options/CheckOptions.stories.tsx
  code/ui/blocks/src/controls/options/Checkbox.tsx
  code/ui/blocks/src/controls/options/Options.tsx
  code/ui/blocks/src/controls/options/Radio.tsx
  code/ui/blocks/src/controls/options/RadioOptions.stories.tsx
  code/ui/blocks/src/controls/options/Select.tsx
  code/ui/blocks/src/controls/options/SelectOptions.stories.tsx
  code/ui/blocks/src/controls/types.ts
  code/ui/blocks/src/examples/ButtonReadonly.stories.tsx
  docs/api/arg-types.md
Labels: feature request, addon: controls, argtypes, ci:normal

#26617 Docs: Minor Coverage addon updates
  docs/writing-tests/test-coverage.md
Labels: documentation, ci:docs

#26616 CLI: Improve Yarn berry error parsing
  code/lib/core-common/src/js-package-manager/Yarn2Proxy.test.ts
  code/lib/core-common/src/js-package-manager/Yarn2Proxy.ts
Labels: bug, cli, patch:yes, ci:normal

#26441 Automigrations: Fix missing support for mts vite config
  code/lib/cli/src/automigrate/fixes/vite-config-file.ts
Labels: bug, patch:yes, automigrations, ci:normal

#26557 Addon-docs: Fix `react-dom/server` imports breaking stories and docs
  code/addons/docs/src/preset.ts
  code/addons/docs/template/stories/docs2/ResolvedReact.jsx
  code/addons/docs/template/stories/docs2/ResolvedReact.mdx
  code/addons/docs/template/stories/docs2/ResolvedReactVersion.jsx
  code/addons/docs/template/stories/docs2/resolved-react.stories.ts
  code/e2e-tests/addon-docs.spec.ts
  code/e2e-tests/util.ts
  code/lib/cli/src/sandbox-templates.ts
  code/lib/react-dom-shim/src/preset.ts
  code/renderers/preact/src/preset.ts
  code/renderers/preact/template/stories/React.jsx
  code/renderers/preact/template/stories/react-compat.stories.jsx
Labels: bug, addon: docs, builder-vite, ci:daily

#26610 Vue: Support `defineModel` and slots without bindings for vue-component-meta docgen plugin
  code/frameworks/vue3-vite/package.json
  code/frameworks/vue3-vite/src/plugins/vue-component-meta.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/DefineModel.stories.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/DefineSlots.stories.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/define-model/component.vue
  code/renderers/vue3/template/stories_vue3-vite-default-ts/component-meta/define-slots/component.vue
  code/yarn.lock
Labels: feature request, vue3, ci:normal

#26639 React-Docgen: Make sure to be able to handle empty unions
  code/lib/docs-tools/src/argTypes/convert/flow/convert.ts
  code/lib/docs-tools/src/argTypes/convert/typescript/convert.ts
  code/lib/docs-tools/src/argTypes/convert/typescript/types.ts
Labels: bug, patch:yes, addon: docs, ci:normal

#26623 Theming: Update emotion dependencies
  code/lib/theming/package.json
  code/yarn.lock
Labels: dependencies, ci:normal

#26342 CLI: Automigrations copy edits
  code/lib/cli/src/automigrate/fixes/remove-argtypes-regex.ts
Labels: maintenance, ci:normal

#26541 Docs: Fix migration guide scripts
  docs/snippets/common/storybook-migrate-mdx-to-csf.npm.js.mdx
  docs/snippets/common/storybook-migrate-mdx-to-csf.pnpm.js.mdx
  docs/snippets/common/storybook-migrate-mdx-to-csf.yarn.js.mdx
Labels: documentation, patch:yes, ci:docs

#24248 Node: Safe use of `document` for preview
  code/lib/preview-api/src/modules/preview-web/UrlStore.ts
  code/lib/preview-api/src/modules/preview-web/WebView.ts
Labels: bug, preview-api, ci:normal

#26528 Maintenance: Fix typos
  CHANGELOG.v1-5.md
  CHANGELOG.v6.md
  MIGRATION.md
  code/addons/actions/src/models/ActionOptions.ts
  code/addons/actions/src/runtime/action.ts
  code/addons/docs/ember/README.md
  code/addons/docs/web-components/README.md
  code/e2e-tests/util.ts
  code/lib/cli/src/automigrate/index.test.ts
  code/lib/core-webpack/src/importPipeline.ts
  code/lib/instrumenter/src/instrumenter.ts
  code/lib/manager-api/src/tests/stories.test.ts
  code/lib/preview-api/src/modules/preview-web/render/Render.ts
  code/lib/preview-api/src/modules/store/GlobalsStore.test.ts
  code/lib/preview-api/src/modules/store/csf/prepareStory.test.ts
  code/lib/types/src/modules/story.ts
  code/renderers/preact/src/render.tsx
  code/ui/blocks/src/blocks/useStory.ts
  code/ui/blocks/src/examples/Button.stories.tsx
  docs/snippets/common/individual-snapshot-tests-portable-stories.jest.js.mdx
  docs/snippets/common/individual-snapshot-tests-portable-stories.jest.ts.mdx
  docs/snippets/common/individual-snapshot-tests-portable-stories.vitest.js.mdx
  docs/snippets/common/individual-snapshot-tests-portable-stories.vitest.ts.mdx
  docs/writing-tests/storyshots-migration-guide.md
  scripts/build-package.ts
  scripts/check-package.ts
  scripts/release/version.ts
  scripts/sandbox/utils/git.ts
Labels: cleanup, ci:daily

#23175 Webpack: Hide runtime errors
  code/builders/builder-webpack5/src/presets/preview-preset.ts
Labels: feature request, builder-webpack5, ci:normal

#26458 Test: Add @storybook/test as dev dependency
  code/lib/cli/src/automigrate/fixes/remove-jest-testing-library.ts
Labels: bug, ci:normal

#26430 Codemods: Escape filename given as argument
  code/lib/codemod/src/index.ts
Labels: bug, codemods, ci:normal

#26651 NextJS: Support path aliases when no base url is set
  code/frameworks/nextjs/src/imports/webpack.ts
Labels: bug, patch:yes, nextjs, ci:merged

#26645 CI: Update Node.js versions in CircleCI config and .nvmrc
  .circleci/config.yml
  .nvmrc
Labels: build, ci:daily

#26663 Build: Fix nx affected, use the official orb
  .circleci/config.yml
  package.json
Labels: build, ci:normal

#26678 CI: Fix parallelism for check and compile command on CI
  scripts/tasks/check.ts
  scripts/tasks/compile.ts
Labels: build, ci:normal

#26676 Webpack: Fix sourcemap generation in webpack react-docgen-loader
  code/presets/react-webpack/src/loaders/react-docgen-loader.ts
Labels: bug, react, patch:yes, addon: controls, builder-webpack5, ci:normal, docgen

#26675 Vue: Disable controls for events and exposed by default
  code/renderers/vue3/src/docs/__snapshots__/extractArgTypes.test.ts.snap
  code/renderers/vue3/src/docs/extractArgTypes.ts
Labels: bug, vue3, ci:normal, docgen
