Repository storybookjs/storybook, pull requests merged in 2024-09, with the labels that each got.

#29012 Nextjs-Vite: Re-export vite-plugin-storybook-nextjs
  code/addons/vitest/src/postinstall.ts
  code/frameworks/experimental-nextjs-vite/package.json
  code/frameworks/experimental-nextjs-vite/src/index.ts
  code/frameworks/experimental-nextjs-vite/src/preset.ts
  code/frameworks/experimental-nextjs-vite/src/vite-plugin/index.ts
  code/lib/cli-storybook/src/sandbox-templates.ts
  code/yarn.lock
  docs/api/portable-stories/portable-stories-vitest.mdx
  scripts/tasks/sandbox-parts.ts
  scripts/tasks/sandbox.ts
Labels: feature request, nextjs, ci:daily

#29016 Maintenance: Refactor plugin export paths in SvelteKit and Vue3
  code/addons/vitest/src/postinstall.ts
  code/frameworks/sveltekit/package.json
  code/frameworks/sveltekit/src/vite-plugin.ts
  code/frameworks/vue3-vite/package.json
  code/frameworks/vue3-vite/src/vite-plugin.ts
  scripts/tasks/sandbox-parts.ts
Labels: maintenance, vue3, ci:merged, sveltekit

#29011 Addon Vitest: Fix indentation of 'vitePluginNext' in generated Vitest config file
  code/addons/vitest/src/postinstall.ts
Labels: bug, ci:normal

#29027 CLI: Handle Yarn PnP wrapper scenario when adding an addon
  code/lib/cli-storybook/src/add.test.ts
  code/lib/cli-storybook/src/add.ts
Labels: bug, cli, ci:normal

#29025 Backgrounds/Viewports: Make defaults overridable in `StoryGlobals`-mode
  code/addons/backgrounds/src/components/Tool.tsx
  code/addons/backgrounds/src/decorator.ts
  code/addons/backgrounds/src/defaults.ts
  code/addons/backgrounds/src/preview.ts
  code/addons/viewport/src/components/Tool.tsx
  code/addons/viewport/src/preview.ts
  code/addons/viewport/src/utils.tsx
Labels: bug, addon: knobs, addon: viewport, addon: backgrounds, ci:normal

#29014 Maintenance: Rename addon-vitest to addon-test
  code/.storybook/main.ts
  code/.storybook/vitest.config.ts
  code/addons/test/README.md
  code/addons/test/package.json
  code/addons/test/postinstall.cjs
  code/addons/test/preset.cjs
  code/addons/test/project.json
  code/addons/test/src/constants.ts
  code/addons/test/src/index.ts
  code/addons/test/src/manager.tsx
  code/addons/test/src/plugin/global-setup.ts
  code/addons/test/src/plugin/index.ts
  code/addons/test/src/plugin/setup-file.test.ts
  code/addons/test/src/plugin/setup-file.ts
  code/addons/test/src/plugin/test-utils.ts
  code/addons/test/src/plugin/types.ts
  code/addons/test/src/plugin/viewports.test.ts
  code/addons/test/src/plugin/viewports.ts
  code/addons/test/src/postinstall.ts
  code/addons/test/src/preset.ts
  code/addons/test/tsconfig.json
  code/addons/test/typings.d.ts
  code/addons/test/vitest.config.ts
  code/addons/vitest/src/index.ts
  code/core/src/common/versions.ts
  code/core/src/csf-tools/vitest-plugin/transformer.test.ts
  code/core/src/csf-tools/vitest-plugin/transformer.ts
  code/package.json
  code/yarn.lock
  scripts/tasks/sandbox-parts.ts
  scripts/tasks/sandbox.ts
Labels: maintenance, ci:daily, addon: vitest

#29029 Build: Fix package order in versions
  code/core/src/common/versions.ts
Labels: build, ci:normal

#28979 UI: Fix conditional hooks usage in sidebar
  code/core/src/manager/components/sidebar/StatusContext.tsx
  code/core/src/manager/components/sidebar/Tree.tsx
Labels: bug, ui, ci:normal

#29041 Build: Improve E2E tests with ESLint rules
  code/.eslintrc.js
  code/addons/test/package.json
  code/e2e-tests/addon-actions.spec.ts
  code/e2e-tests/addon-controls.spec.ts
  code/e2e-tests/addon-docs.spec.ts
  code/e2e-tests/addon-interactions.spec.ts
  code/e2e-tests/addon-toolbars.spec.ts
  code/e2e-tests/composition.spec.ts
  code/e2e-tests/framework-nextjs.spec.ts
  code/e2e-tests/framework-svelte.spec.ts
  code/e2e-tests/json-files.spec.ts
  code/e2e-tests/manager.spec.ts
  code/e2e-tests/module-mocking.spec.ts
  code/e2e-tests/preview-api.spec.ts
  code/e2e-tests/save-from-controls.spec.ts
  code/e2e-tests/storybook-hooks.spec.ts
  code/e2e-tests/tags.spec.ts
  code/e2e-tests/util.ts
  code/package.json
  code/yarn.lock
Labels: build, ci:daily

#29046 Next.js-Vite: Fix vite plugin exports
  code/frameworks/experimental-nextjs-vite/package.json
Labels: bug, nextjs, ci:normal

#29052 Next.js: Update dependencies
  code/frameworks/experimental-nextjs-vite/package.json
  code/frameworks/nextjs/package.json
  code/yarn.lock
Labels: bug, nextjs, ci:normal

#29036 Addon Test: Improve messages and post install script handling
  code/addons/test/package.json
  code/addons/test/project.json
  code/addons/test/src/postinstall-logger.ts
  code/addons/test/src/postinstall.ts
  code/lib/cli-storybook/src/add.ts
  code/yarn.lock
Labels: bug, cli, ci:normal, addon: test

#29053 Build: Fix lint
  code/lib/cli-storybook/src/add.ts
Labels: build, ci:normal

#29055 UI: Fix sidebar not wrapping
  code/core/package.json
  code/core/src/manager/components/sidebar/Sidebar.stories.tsx
  code/yarn.lock
Labels: bug, ui, ci:normal

#29067 Test: Rename vitest plugin entrypoint
  code/.storybook/vitest.config.ts
  code/addons/test/package.json
  code/addons/test/src/index.ts
  code/addons/test/src/postinstall.ts
  code/addons/test/src/vitest-plugin/global-setup.ts
  code/addons/test/src/vitest-plugin/index.ts
  code/addons/test/src/vitest-plugin/setup-file.test.ts
  code/addons/test/src/vitest-plugin/setup-file.ts
  code/addons/test/src/vitest-plugin/test-utils.ts
  code/addons/test/src/vitest-plugin/types.ts
  code/addons/test/src/vitest-plugin/viewports.test.ts
  code/addons/test/src/vitest-plugin/viewports.ts
  scripts/tasks/sandbox-parts.ts
Labels: maintenance, ci:normal, addon: test

#29051 Docs: Fix broken links ending with ".mdx"
  docs/api/main-config/main-config-indexers.mdx
  docs/configure/upgrading.mdx
  docs/contribute/framework.mdx
  docs/contribute/index.mdx
  docs/faq.mdx
  docs/migration-guide/from-older-version.mdx
  docs/migration-guide/index.mdx
Labels: documentation, ci:docs

#29068 Docs: Fix typo in setup.mdx
  docs/get-started/setup.mdx
Labels: documentation, ci:docs

#28984 Vite: Fix missing source map warning
  code/builders/builder-vite/src/codegen-modern-iframe-script.ts
  code/builders/builder-vite/src/plugins/code-generator-plugin.ts
  code/builders/builder-vite/src/plugins/external-globals-plugin.test.ts
  code/builders/builder-vite/src/plugins/external-globals-plugin.ts
  code/builders/builder-vite/src/plugins/webpack-stats-plugin.ts
  code/builders/builder-vite/src/virtual-file-names.ts
  code/frameworks/vue3-vite/src/plugins/vue-component-meta.ts
Labels: bug, builder-vite, ci:normal

#29044 Portable Stories: Improve Handling of React Updates and Errors
  code/addons/interactions/src/preview.ts
  code/core/src/preview-api/modules/store/csf/portable-stories.ts
  code/core/template/stories/preview.ts
  code/frameworks/experimental-nextjs-vite/package.json
  code/frameworks/nextjs/src/config/webpack.ts
  code/frameworks/nextjs/src/utils.ts
  code/frameworks/sveltekit/src/preview.ts
  code/lib/react-dom-shim/src/preventActChecks.tsx
  code/lib/react-dom-shim/src/react-16.tsx
  code/lib/react-dom-shim/src/react-18.tsx
  code/renderers/react/package.json
  code/renderers/react/src/__test__/Button.stories.tsx
  code/renderers/react/src/__test__/ComponentWithError.stories.tsx
  code/renderers/react/src/__test__/ComponentWithError.tsx
  code/renderers/react/src/__test__/__snapshots__/portable-stories-legacy.test.tsx.snap
  code/renderers/react/src/__test__/portable-stories-legacy.test.tsx
  code/renderers/react/src/__test__/portable-stories.test.tsx
  code/renderers/react/src/act-compat.ts
  code/renderers/react/src/portable-stories.tsx
  code/renderers/react/src/renderToCanvas.tsx
  code/vitest-setup.ts
  code/yarn.lock
Labels: bug, ci:daily, portable stories

#29081 Docs: Fixes for 8.3
  code/addons/test/src/postinstall.ts
  docs/_snippets/vitest-plugin-vitest-config.md
  docs/writing-tests/component-testing.mdx
Labels: documentation, ci:docs

#29110 Addon-Interactions: Use ansi-to-html for colored test errors
  code/addons/interactions/package.json
  code/addons/interactions/src/components/Interaction.tsx
  code/addons/interactions/src/components/InteractionsPanel.tsx
  code/addons/interactions/src/components/MatcherResult.tsx
  code/addons/interactions/src/utils.ts
  code/renderers/react/src/__test__/portable-stories.test.tsx
  code/yarn.lock
Labels: bug, ci:normal

#29040 Next.js: Upgrade sass-loader from ^12 to ^13
  code/frameworks/nextjs/package.json
  code/yarn.lock
Labels: bug, patch:yes, nextjs, ci:daily

#29069 Angular: Fix sourceDecorator to apply excludeDecorators flag
  code/frameworks/angular/src/client/docs/sourceDecorator.ts
Labels: bug, angular, patch:yes, block: source, ci:normal

#29134 Core: Do not prebundle jsdoc-type-pratt-parser
  code/core/package.json
Labels: bug, react-native, patch:yes, core, ci:normal

#29137 Core: Do not prebundle better-opn
  code/core/package.json
Labels: bug, patch:yes, core, ci:normal

#29139 Preact: Fix E2E test
  code/e2e-tests/addon-docs.spec.ts
Labels: patch:yes, build, ci:daily

#29133 CLI: Fix skip-install for stable latest releases
  .circleci/config.yml
  code/core/src/common/js-package-manager/JsPackageManager.test.ts
  code/core/src/common/js-package-manager/JsPackageManager.ts
Labels: bug, cli, patch:yes, ci:daily

#29152 Core: Do not add packageManager field to package.json during `storybook dev`
  code/core/src/common/js-package-manager/JsPackageManagerFactory.ts
Labels: bug, patch:yes, core, ci:normal

#29184 React-Vite: Downgrade react-docgen-typescript plugin
  code/frameworks/react-vite/package.json
  code/yarn.lock
Labels: dependencies, react, performance issue, patch:yes, typescript, builder-vite, ci:normal

#29102 Docs: Fix typo in Addon themes API documentation
  code/addons/themes/docs/api.md
Labels: documentation, ci:docs

#29173 Build: Add jiti as dev dependency to core
  code/core/package.json
  code/yarn.lock
Labels: build, ci:normal

#29187 CLI: Show constraints in error when getting depndencies
  code/core/src/common/js-package-manager/JsPackageManager.ts
Labels: feature request, patch:yes, ci:normal

#29179 Vite: Add jsdoc-type-pratt-parser to `optimizeDeps`
  code/builders/builder-vite/src/optimizeDeps.ts
Labels: bug, builder-vite, ci:normal

#29175 UI: Fix composed storybook TooltipLinkList bug where href isn't passed forward
  code/core/src/components/components/tooltip/ListItem.tsx
  code/core/src/components/components/tooltip/TooltipLinkList.tsx
Labels: bug, ci:normal

#29182 Viewport-addon: Add InitialViewportKeys type to viewport addon
  code/addons/viewport/src/defaults.ts
Labels: feature request, ci:normal

#29124 CLI: Ensure `.gitignore` updated via CLI ends with a newline
  code/lib/create-storybook/src/initiate.ts
Labels: maintenance, cli, ci:normal

#29048 Builder-vite: Replace .at() call with [] in codegen
  code/builders/builder-vite/src/codegen-modern-iframe-script.ts
Labels: maintenance, builder-vite, ci:normal

#29197 Optimize: Production-mode `react` in manager
  code/core/scripts/prep.ts
Labels: maintenance, builder-manager, ci:normal

#29171 Addon-Test: Implement Addon Test TestProvider Backend
  code/.storybook/main.ts
  code/.storybook/preview.tsx
  code/.storybook/vitest.config.ts
  code/addons/interactions/template/stories/basics.stories.ts
  code/addons/test/package.json
  code/addons/test/src/constants.ts
  code/addons/test/src/logger.ts
  code/addons/test/src/manager.tsx
  code/addons/test/src/node/boot-test-runner.test.ts
  code/addons/test/src/node/boot-test-runner.ts
  code/addons/test/src/node/reporter.ts
  code/addons/test/src/node/test-manager.test.ts
  code/addons/test/src/node/test-manager.ts
  code/addons/test/src/node/vitest-manager.ts
  code/addons/test/src/node/vitest.ts
  code/addons/test/src/preset.ts
  code/core/src/components/components/tabs/tabs.stories.tsx
  code/core/src/core-events/data/testing-module.ts
  code/core/src/core-events/index.ts
  code/core/src/manager-api/lib/addons.ts
  code/core/src/manager-api/tests/addons.test.js
  code/core/src/manager/components/sidebar/Sidebar.stories.tsx
  code/core/src/manager/components/sidebar/Sidebar.tsx
  code/core/src/manager/components/sidebar/SidebarBottom.tsx
  code/core/src/manager/components/sidebar/Tree.tsx
  code/core/src/manager/globals/exports.ts
  code/core/src/preview-api/Errors.stories.tsx
  code/core/src/types/modules/addons.ts
  code/core/template/stories/hooks.stories.ts
  code/core/template/stories/loaders.stories.ts
  code/lib/blocks/src/controls/Boolean.stories.tsx
  code/package.json
  code/vitest.config.ts
  code/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/package.json
Labels: bug, ci:merged, addon: test

#29116 Addon Test: Register as `experimental_TEST_PROVIDER` addon type
  code/addons/test/package.json
  code/addons/test/src/constants.ts
  code/addons/test/src/manager.tsx
  code/yarn.lock
Labels: feature request, ci:normal

#29111 Build: Use Knip for project linting
  .circleci/config.yml
  code/package.json
  package.json
  scripts/knip.config.ts
  scripts/package.json
  scripts/yarn.lock
Labels: build, ci:normal

#29208 Core: Remove `handlebars` usage
  .gitignore
  code/.eslintrc.js
  code/builders/builder-webpack5/package.json
  code/builders/builder-webpack5/src/preview/virtual-module-mapping.ts
  code/builders/builder-webpack5/templates/virtualModuleModernEntry.js
  code/builders/builder-webpack5/templates/virtualModuleModernEntry.js.handlebars
  code/core/package.json
  code/core/src/common/index.ts
  code/core/src/common/utils/handlebars.ts
  code/yarn.lock
Labels: maintenance, core, ci:normal

#29223 Core: Make `prettier` an optional peer dependency
  code/core/package.json
  code/core/scripts/entries.ts
  code/lib/cli/package.json
  code/yarn.lock
Labels: maintenance, components, core, ci:normal

#29226 A11y: Improve test runner recipe
  docs/_snippets/test-runner-a11y-configure.md
Labels: documentation, addon: a11y, test-runner, ci:docs

#29245 Docs: NextJs framework fix viteFinal link
  docs/get-started/frameworks/nextjs.mdx
Labels: documentation, patch:yes, ci:docs
