Repository storybookjs/storybook, pull requests merged in 2024-08, with the labels that each got.

#28739 UI: Update sidebar status indicators and tooltips
  code/addons/a11y/package.json
  code/addons/backgrounds/package.json
  code/addons/controls/package.json
  code/addons/interactions/package.json
  code/addons/jest/package.json
  code/addons/measure/package.json
  code/addons/onboarding/package.json
  code/addons/outline/package.json
  code/addons/themes/package.json
  code/addons/viewport/package.json
  code/core/package.json
  code/core/src/components/components/tooltip/ListItem.tsx
  code/core/src/components/components/tooltip/TooltipLinkList.stories.tsx
  code/core/src/components/components/tooltip/TooltipLinkList.tsx
  code/core/src/manager/components/sidebar/IconSymbols.tsx
  code/core/src/manager/components/sidebar/SearchResults.tsx
  code/core/src/manager/components/sidebar/StatusButton.tsx
  code/core/src/manager/components/sidebar/StatusContext.tsx
  code/core/src/manager/components/sidebar/Tree.tsx
  code/core/src/manager/components/sidebar/TreeNode.tsx
  code/core/src/manager/container/Menu.stories.tsx
  code/core/src/manager/globals/exports.ts
  code/core/src/manager/utils/status.tsx
  code/core/src/types/modules/api-stories.ts
  code/lib/blocks/package.json
  code/yarn.lock
Labels: feature request, ui, ci:normal

#28708 Build: Add Vitest integration tests to sandboxes
  .circleci/config.yml
  code/frameworks/nextjs/src/portable-stories.ts
  code/frameworks/nextjs/template/stories/RSC.stories.jsx
  code/lib/cli/src/sandbox-templates.ts
  scripts/get-template.ts
  scripts/task.ts
  scripts/tasks/sandbox-parts.ts
  scripts/tasks/sandbox.ts
  scripts/tasks/vitest-test.ts
  scripts/verdaccio.yaml
Labels: build, ci:daily

#28582 UI: Fix collapse/expand all functionality
  code/core/src/manager-api/modules/shortcuts.ts
  code/core/src/manager/container/Menu.tsx
Labels: bug, ui, ci:normal

#28779 Docs: Add version callout to portable stories docs
  docs/api/portable-stories/portable-stories-jest.mdx
  docs/api/portable-stories/portable-stories-vitest.mdx
Labels: documentation, ci:docs

#28780 Docs: Add version callout to portable stories docs (latest)
  docs/api/portable-stories/portable-stories-jest.mdx
  docs/api/portable-stories/portable-stories-vitest.mdx
Labels: documentation, ci:docs

#28778 Build: Raise Chromatic threshold for inconsistent snapshot of monospace text
  code/core/src/manager/components/preview/Iframe.stories.tsx
Labels: build, ci:normal

#28752 Fix: Invariant failed: Expected package.json#version to be defined in the "undefined" package
  code/core/src/core-server/standalone.ts
Labels: bug, patch:yes, core, nx, ci:merged

#28623 Build: Remove scorecards yaml
  .github/workflows/scorecards.yml
Labels: build, ci:docs

#28609 Maintenance: Bundle in `lodash`
  code/renderers/react/package.json
  code/renderers/vue3/package.json
Labels: maintenance, vue3, ci:normal

#28766 Portable stories: Use internal Storybook renderers mechanism
  code/core/src/preview-api/index.ts
  code/core/src/preview-api/modules/store/csf/portable-stories.ts
  code/core/src/preview-errors.ts
  code/lib/react-dom-shim/src/preventActChecks.tsx
  code/lib/react-dom-shim/src/react-16.tsx
  code/lib/react-dom-shim/src/react-18.tsx
  code/renderers/react/src/__test__/Button.stories.tsx
  code/renderers/react/src/__test__/__snapshots__/portable-stories-legacy.test.tsx.snap
  code/renderers/react/src/__test__/__snapshots__/portable-stories.test.tsx.snap
  code/renderers/react/src/__test__/portable-stories-legacy.test.tsx
  code/renderers/react/src/__test__/portable-stories.test.tsx
  code/renderers/react/src/portable-stories.tsx
  code/renderers/svelte/src/__test__/composeStories/__snapshots__/portable-stories.test.ts.snap
  code/renderers/svelte/src/__test__/composeStories/portable-stories.test.ts
  code/renderers/svelte/src/portable-stories.ts
  code/renderers/svelte/src/render.ts
  code/renderers/vue3/src/__tests__/composeStories/__snapshots__/portable-stories.test.ts.snap
  code/renderers/vue3/src/__tests__/composeStories/portable-stories.test.ts
  code/renderers/vue3/src/portable-stories.ts
  docs/_snippets/portable-stories-jest-set-project-annotations.md
  docs/_snippets/portable-stories-playwright-ct-compose-stories.md
  docs/_snippets/portable-stories-vitest-set-project-annotations.md
  docs/api/portable-stories/portable-stories-jest.mdx
  docs/api/portable-stories/portable-stories-vitest.mdx
  docs/writing-tests/snapshot-testing/storyshots-migration-guide.mdx
  scripts/tasks/sandbox-parts.ts
  scripts/tasks/sandbox.ts
  test-storybooks/portable-stories-kitchen-sink/nextjs/jest.setup.ts
  test-storybooks/portable-stories-kitchen-sink/nextjs/package.json
  test-storybooks/portable-stories-kitchen-sink/nextjs/stories/__snapshots__/portable-stories.test.tsx.snap
  test-storybooks/portable-stories-kitchen-sink/react/.storybook/preview.tsx
  test-storybooks/portable-stories-kitchen-sink/react/jest.setup.ts
  test-storybooks/portable-stories-kitchen-sink/react/package.json
  test-storybooks/portable-stories-kitchen-sink/react/stories/Button.cy.tsx
  test-storybooks/portable-stories-kitchen-sink/react/stories/Button.playwright.tsx
  test-storybooks/portable-stories-kitchen-sink/react/stories/Button.stories.tsx
  test-storybooks/portable-stories-kitchen-sink/react/stories/Button.test.tsx
  test-storybooks/portable-stories-kitchen-sink/react/stories/__snapshots__/Button.test.tsx.snap
  test-storybooks/portable-stories-kitchen-sink/svelte/package.json
  test-storybooks/portable-stories-kitchen-sink/svelte/stories/Button.test.ts
  test-storybooks/portable-stories-kitchen-sink/svelte/stories/__snapshots__/Button.test.ts.snap
Labels: feature request, ci:normal, portable stories

#28804 Documentation: Update Next.js portable stories instructions for Vitest
  docs/_snippets/portable-stories-vitest-compose-stories.md
  docs/api/portable-stories/portable-stories-vitest.mdx
Labels: documentation, nextjs, ci:docs, portable stories

#28616 Update MIGRATION.md
  MIGRATION.md
Labels: documentation, ci:docs

#28788 Test: Upgrade Vitest to v2
  .circleci/config.yml
  .vscode/settings.json
  code/.yarn/patches/@vitest-expect-npm-2.0.5-8933466cce.patch
  code/addons/a11y/src/manager.test.tsx
  code/core/package.json
  code/core/src/preview-api/modules/preview-web/PreviewWeb.mockdata.ts
  code/lib/cli-storybook/src/upgrade.test.ts
  code/lib/instrumenter/package.json
  code/lib/test/package.json
  code/lib/test/src/expect.ts
  code/lib/test/src/index.ts
  code/lib/test/src/spy.ts
  code/package.json
  code/renderers/react/src/__test__/portable-stories.test.tsx
  code/renderers/react/src/public-types.test.tsx
  code/vitest.config.ts
  code/vitest.workspace.ts
  code/yarn.lock
  scripts/package.json
  scripts/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/nextjs/package.json
  test-storybooks/portable-stories-kitchen-sink/react/package.json
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
Labels: maintenance, ci:normal

#28716 CSF: Update docs for using globals in viewports and background addons
  MIGRATION.md
  docs/_snippets/component-story-theme-override-globals.md
  docs/_snippets/main-config-features-backgrounds-story-globals.md
  docs/_snippets/main-config-features-viewport-story-globals.md
  docs/_snippets/my-component-story-configure-viewports.md
  docs/_snippets/storybook-addon-backgrounds-configure-backgrounds.md
  docs/_snippets/storybook-addon-backgrounds-disable-backgrounds.md
  docs/_snippets/storybook-addon-backgrounds-global-api.md
  docs/_snippets/storybook-addon-backgrounds-override-background-color.md
  docs/_snippets/storybook-addon-viewports-global-api.md
  docs/_snippets/storybook-preview-change-viewports.md
  docs/_snippets/storybook-preview-configure-background-colors.md
  docs/_snippets/storybook-preview-configure-globaltypes.md
  docs/_snippets/storybook-preview-granular-viewports.md
  docs/_snippets/storybook-preview-locales-globaltype.md
  docs/_snippets/storybook-preview-merge-viewports.md
  docs/_snippets/storybook-preview-migrate-backgrounds-globals.md
  docs/_snippets/storybook-preview-migrate-viewports-globals.md
  docs/_snippets/storybook-preview-viewport-use-new-devices.md
  docs/api/main-config/main-config-features.mdx
  docs/essentials/backgrounds.mdx
  docs/essentials/toolbars-and-globals.mdx
  docs/essentials/viewport.mdx
Labels: documentation, addon: viewport, addon: backgrounds, ci:docs

#28816 CLI: Parse more Yarn Berry errors
  code/core/src/common/js-package-manager/Yarn2Proxy.test.ts
  code/core/src/common/js-package-manager/Yarn2Proxy.ts
Labels: bug, cli, patch:yes, ci:normal

#28820 Docs: Update badly-migrated snippet
  docs/_snippets/angular-builder-production.md
  docs/_snippets/custom-build-script-production.md
  docs/sharing/publish-storybook.mdx
Labels: documentation, ci:docs

#28821 Docs: Update badly-migrated snippet
  docs/_snippets/angular-builder-production.md
  docs/_snippets/custom-build-script-production.md
  docs/sharing/publish-storybook.mdx
Labels: documentation, ci:docs

#28824 Build: Revert bad lockfile changes
  code/renderers/react/template/stories/docgen-components/8428-js-static-prop-types/docgen.snapshot
  code/renderers/react/template/stories/docgen-components/9556-ts-react-default-exports/docgen.snapshot
  code/yarn.lock
Labels: build, ci:normal

#28810 Addons: Scaffold Addon Vitest
  .circleci/config.yml
  code/.storybook/main.ts
  code/.storybook/storybook.setup.ts
  code/.storybook/vitest.config.ts
  code/addons/vitest/README.md
  code/addons/vitest/package.json
  code/addons/vitest/postinstall.cjs
  code/addons/vitest/preset.cjs
  code/addons/vitest/project.json
  code/addons/vitest/src/constants.ts
  code/addons/vitest/src/index.ts
  code/addons/vitest/src/manager.tsx
  code/addons/vitest/src/plugin/global-setup.ts
  code/addons/vitest/src/plugin/index.ts
  code/addons/vitest/src/plugin/setup-file.ts
  code/addons/vitest/src/plugin/test-utils.ts
  code/addons/vitest/src/plugin/transformer.ts
  code/addons/vitest/src/plugin/types.ts
  code/addons/vitest/src/plugin/utils.ts
  code/addons/vitest/src/plugin/viewports.ts
  code/addons/vitest/src/postinstall.ts
  code/addons/vitest/src/preset.ts
  code/addons/vitest/tsconfig.json
  code/addons/vitest/typings.d.ts
  code/addons/vitest/vitest.config.ts
  code/core/src/common/versions.ts
  code/core/src/manager-api/modules/stories.ts
  code/core/src/manager/components/sidebar/SidebarBottom.tsx
  code/package.json
  code/vitest.config.ts
  code/vitest.workspace.ts
  code/yarn.lock
  scripts/prepare/addon-bundle.ts
  scripts/tasks/sandbox-parts.ts
  scripts/tasks/sandbox.ts
  scripts/verdaccio.yaml
Labels: feature request, ci:normal, addon: vitest

#28822 Telemetry: Add globals stats
  code/core/src/core-server/utils/StoryIndexGenerator.test.ts
  code/core/src/csf-tools/CsfFile.test.ts
  code/core/src/csf-tools/CsfFile.ts
  code/core/src/types/modules/indexer.ts
  docs/configure/telemetry.mdx
Labels: maintenance, telemetry, ci:normal

#28825 Nextjs: Fix default annotations for portable stories
  code/frameworks/nextjs/src/portable-stories.ts
  scripts/tasks/sandbox-parts.ts
Labels: bug, ci:normal, portable stories

#28828 Build: Reduce `bun` usage
  scripts/prepare/addon-bundle.ts
  scripts/prepare/bundle.ts
  scripts/prepare/tsc.ts
Labels: build, ci:normal

#28831 Build: Use `jiti` for building `core`
  .circleci/config.yml
  .github/workflows/canary-release-pr.yml
  .github/workflows/generate-sandboxes.yml
  .github/workflows/prepare-non-patch-release.yml
  .github/workflows/prepare-patch-release.yml
  .github/workflows/publish.yml
  .github/workflows/tests-unit.yml
  CONTRIBUTING.md
  code/core/package.json
  code/core/scripts/dts.ts
  code/core/scripts/helpers/dependencies.ts
  code/core/scripts/helpers/generatePackageJsonFile.ts
  code/core/scripts/helpers/generateTypesFiles.ts
  code/core/scripts/helpers/generateTypesMapperFiles.ts
  code/core/scripts/helpers/modifyThemeTypes.ts
  code/core/scripts/helpers/sourcefiles.ts
  code/core/scripts/prep.ts
  code/core/src/manager/globals-runtime.ts
  code/core/src/typings.d.ts
  scripts/package.json
  scripts/prepare/tools.ts
  scripts/yarn.lock
Labels: build, ci:normal

#28841 Build: Fix console errors in test-runner tests
  code/core/template/stories/shortcuts.stories.ts
  code/renderers/react/template/components/Button.jsx
  code/renderers/react/template/components/Pre.jsx
Labels: build, ci:normal

#28835 Build: Use node 22 in monorepo
  .circleci/config.yml
  .nvmrc
  code/addons/interactions/package.json
  code/builders/builder-vite/package.json
  code/builders/builder-webpack5/package.json
  code/core/package.json
  code/core/src/common/utils/__tests__/interpret-files.test.ts
  code/core/src/common/utils/__tests__/template.test.ts
  code/frameworks/angular/package.json
  code/frameworks/html-vite/package.json
  code/frameworks/html-webpack5/package.json
  code/frameworks/nextjs/package.json
  code/frameworks/preact-vite/package.json
  code/frameworks/preact-webpack5/package.json
  code/frameworks/react-vite/package.json
  code/frameworks/react-webpack5/package.json
  code/frameworks/server-webpack5/package.json
  code/frameworks/svelte-vite/package.json
  code/frameworks/sveltekit/package.json
  code/frameworks/vue3-vite/package.json
  code/frameworks/vue3-webpack5/package.json
  code/frameworks/web-components-vite/package.json
  code/frameworks/web-components-webpack5/package.json
  code/lib/core-webpack/package.json
  code/package.json
  code/presets/create-react-app/package.json
  code/presets/html-webpack/package.json
  code/presets/preact-webpack/package.json
  code/presets/react-webpack/package.json
  code/presets/server-webpack/package.json
  code/presets/vue3-webpack/package.json
  code/renderers/react/package.json
  code/renderers/web-components/package.json
  code/yarn.lock
  scripts/.babelrc.cjs
  scripts/package.json
  scripts/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/svelte/package.json
Labels: build, ci:normal

#28840 Build: Use mocks in telemetry test
  code/core/src/__mocks__/composeStories.txt
  code/core/src/__mocks__/composeStory.txt
  code/core/src/telemetry/get-portable-stories-usage.test.ts
  code/core/src/telemetry/get-portable-stories-usage.ts
Labels: build, ci:normal

#28829 Core: Make sure CJS build always has lowest prio
  code/addons/a11y/package.json
  code/addons/actions/package.json
  code/addons/backgrounds/package.json
  code/addons/controls/package.json
  code/addons/docs/package.json
  code/addons/essentials/package.json
  code/addons/highlight/package.json
  code/addons/interactions/package.json
  code/addons/jest/package.json
  code/addons/links/package.json
  code/addons/measure/package.json
  code/addons/onboarding/package.json
  code/addons/outline/package.json
  code/addons/storysource/package.json
  code/addons/themes/package.json
  code/addons/toolbars/package.json
  code/addons/viewport/package.json
  code/deprecated/csf-tools/package.json
  code/deprecated/router/package.json
  code/deprecated/theming/package.json
  code/lib/blocks/package.json
  code/lib/instrumenter/package.json
  code/lib/react-dom-shim/package.json
  code/lib/source-loader/package.json
  code/renderers/html/package.json
  code/renderers/preact/package.json
  code/renderers/react/package.json
  code/renderers/server/package.json
  code/renderers/vue3/package.json
  code/renderers/web-components/package.json
Labels: maintenance, ci:daily

#28842 Build: Fix server-kitchen-sink
  test-storybooks/server-kitchen-sink/.storybook/preview.js
  test-storybooks/server-kitchen-sink/package.json
  test-storybooks/server-kitchen-sink/yarn.lock
Labels: build, ci:normal

#28838 Build: Fixes to enable vite-ecosystem-ci
  code/addons/docs/template/stories/toc/basic.stories.ts
  code/lib/cli-storybook/src/link.ts
  package.json
  scripts/vite-ecosystem-ci/before-test.js
Labels: build, ci:normal

#28847 Addon Vitest: Support autotitle in vitest plugin
  code/.gitignore
  code/.storybook/vitest.config.ts
  code/addons/vitest/src/plugin/index.ts
  code/addons/vitest/src/plugin/transformer.ts
  code/core/src/common/index.ts
  code/core/src/common/utils/get-story-id.test.ts
  code/core/src/common/utils/get-story-id.ts
  code/core/src/common/utils/posix.test.ts
  code/core/src/common/utils/posix.ts
  code/core/src/core-server/server-channel/create-new-story-channel.ts
  code/core/src/server-errors.ts
  code/package.json
  code/yarn.lock
  scripts/tasks/sandbox-parts.ts
Labels: bug, ci:normal, addon: vitest

#28854 Linting: Formatting fixes on next
  code/addons/docs/docs/docspage.md
  scripts/vite-ecosystem-ci/before-test.js
Labels: maintenance, ci:merged

#28853 Bug: CLI `init` failure when `--no-install` passed fixed
  .circleci/config.yml
  code/core/src/cli/dirs.ts
Labels: bug, cli, patch:yes, core, ci:daily

#28863 Builder-Vite: Add null character prefix to virtual file IDs
  code/builders/builder-vite/src/plugins/code-generator-plugin.ts
Labels: bug, builder-vite, ci:normal

#28862 Docs: Migration guide fix migrate Angular demo code
  MIGRATION.md
Labels: documentation, ci:docs

#28864 Core: Make sure beforeAll is properly typed
  code/.storybook/preview.tsx
  code/.storybook/storybook.setup.ts
  code/core/src/preview-api/modules/store/csf/composeConfigs.ts
  code/core/src/preview-api/modules/store/csf/portable-stories.ts
  code/frameworks/nextjs/src/portable-stories.ts
  code/renderers/react/src/portable-stories.tsx
  code/renderers/svelte/src/portable-stories.ts
  code/renderers/vue3/src/portable-stories.ts
Labels: bug, ci:normal, addon: vitest

#28865 Core: Enable RSC support when parameters.react is set to true
  code/frameworks/nextjs/src/portable-stories.ts
  code/renderers/react/package.json
  code/renderers/react/src/entry-preview-rsc.tsx
  code/renderers/react/src/entry-preview.ts
  code/renderers/react/src/entry-preview.tsx
Labels: bug, react, ci:normal

#28870 Telemetry: Disable save-from-controls logging for example stories
  code/core/src/core-server/utils/doTelemetry.ts
  code/core/src/core-server/utils/save-story/save-story.ts
  code/core/src/core-server/utils/summarizeIndex.ts
  code/core/src/telemetry/index.ts
Labels: maintenance, patch:yes, telemetry, ci:normal

#28874 Build: Remove corepack-enable from vite-ecosystem-ci scripts
  package.json
Labels: build

#28875 Build: Enable Nextjs-Vite sandboxes
  .circleci/config.yml
  code/lib/cli-storybook/src/sandbox-templates.ts
  scripts/tasks/generate.ts
Labels: build, ci:daily

#28876 Vite: Fix HMR
  code/builders/builder-vite/src/plugins/code-generator-plugin.ts
  code/e2e-tests/save-from-controls.spec.ts
Labels: bug, builder-vite, ci:normal

#28868 Addon Vitest: Use csf-tools for file parsing and transformation
  code/.storybook/vitest.config.ts
  code/addons/interactions/template/stories/basics.stories.ts
  code/addons/vitest/package.json
  code/addons/vitest/src/plugin/index.ts
  code/addons/vitest/src/plugin/setup-file.ts
  code/addons/vitest/src/plugin/test-utils.ts
  code/addons/vitest/src/plugin/transformer.test.ts
  code/addons/vitest/src/plugin/transformer.ts
  code/core/package.json
  code/core/src/csf-tools/CsfFile.test.ts
  code/core/src/csf-tools/CsfFile.ts
  code/core/src/csf-tools/index.ts
  code/core/src/csf-tools/vitest-plugin/transformer.test.ts
  code/core/src/csf-tools/vitest-plugin/transformer.ts
  code/yarn.lock
Labels: feature request, ci:normal, addon: vitest

#28710 Build: Upgrade and streamline Playwright dependencies
  .circleci/config.yml
  code/e2e-tests/addon-interactions.spec.ts
  code/frameworks/angular/src/client/angular-beta/utils/BootstrapQueue.test.ts
  code/package.json
  code/yarn.lock
  scripts/package.json
  scripts/utils/yarn.ts
  scripts/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/package.json
  test-storybooks/portable-stories-kitchen-sink/svelte/package.json
  test-storybooks/portable-stories-kitchen-sink/vue3/package.json
Labels: build, ci:daily

#28887 Test: Fix #28883
  code/lib/test/src/index.ts
Labels: bug, patch:yes, ci:normal

#28899 Build: Reduce flake in `BootstrapQueue` test
  code/frameworks/angular/src/client/angular-beta/utils/BootstrapQueue.test.ts
Labels: build, ci:normal

#28906 Vitest Addon: Fix error message logic in set up file
  code/.storybook/vitest.config.ts
  code/addons/onboarding/src/components/HighlightElement/HighlightElement.stories.tsx
  code/addons/vitest/src/plugin/setup-file.test.ts
  code/addons/vitest/src/plugin/setup-file.ts
  code/package.json
Labels: bug, ci:normal, addon: vitest

#28908 Addon Vitest: Set screenshotFailures to false by default
  code/addons/vitest/src/plugin/index.ts
Labels: bug, ci:normal, portable stories

#28694 Core: Add Rsbuild frameworks to known frameworks
  code/core/scripts/helpers/sourcefiles.ts
  code/core/src/cli/helpers.ts
  code/core/src/cli/project_types.ts
  code/core/src/common/utils/framework-to-renderer.ts
  code/core/src/common/utils/get-storybook-info.ts
  code/core/src/types/modules/frameworks.ts
Labels: maintenance, patch:yes, core, ci:normal

#28905 Addon Vitest: Set default viewport if applicable
  code/addons/vitest/src/plugin/viewports.test.ts
  code/addons/vitest/src/plugin/viewports.ts
  code/core/src/preview-errors.ts
Labels: bug, ci:normal, addon: vitest

#28857 Dependencies: Upgrade `commander`
  code/core/package.json
  code/core/src/cli/bin/index.ts
  code/lib/cli-storybook/package.json
  code/lib/cli-storybook/src/bin/index.ts
  code/lib/create-storybook/package.json
  code/lib/create-storybook/src/bin/index.ts
  code/yarn.lock
  scripts/build-package.ts
  scripts/check-package.ts
  scripts/package.json
  scripts/release/cancel-preparation-runs.ts
  scripts/release/generate-pr-description.ts
  scripts/release/is-pr-frozen.ts
  scripts/release/is-prerelease.ts
  scripts/release/is-version-published.ts
  scripts/release/label-patches.ts
  scripts/release/pick-patches.ts
  scripts/release/publish.ts
  scripts/release/unreleased-changes-exists.ts
  scripts/release/version.ts
  scripts/release/write-changelog.ts
  scripts/run-registry.ts
  scripts/sandbox/publish.ts
  scripts/utils/options.ts
  scripts/yarn.lock
Labels: dependencies, ci:merged

#28826 Blocks: Fix scroll to non-ascii anchors
  code/addons/docs/template/stories/docs2/UtfSymbolScroll.mdx
  code/lib/blocks/src/blocks/DocsContainer.tsx
Labels: bug, block: other, ci:normal

#28907 Core: Introduce setProjectAnnotations API to more renderers and frameworks
  .circleci/config.yml
  code/frameworks/angular/src/client/index.ts
  code/frameworks/angular/src/client/portable-stories.ts
  code/frameworks/experimental-nextjs-vite/src/portable-stories.ts
  code/frameworks/nextjs/src/portable-stories.ts
  code/frameworks/sveltekit/src/index.ts
  code/frameworks/sveltekit/src/portable-stories.ts
  code/renderers/html/src/index.ts
  code/renderers/html/src/portable-stories.ts
  code/renderers/preact/src/index.ts
  code/renderers/preact/src/portable-stories.ts
  code/renderers/react/src/portable-stories.tsx
  code/renderers/svelte/src/portable-stories.ts
  code/renderers/vue3/src/portable-stories.ts
  code/renderers/web-components/src/index.ts
  code/renderers/web-components/src/portable-stories.ts
  scripts/tasks/sandbox-parts.ts
Labels: feature request, angular, html, preact, web-components, sveltekit, ci:normal, portable stories

#28505 Release tooling: Fix `git push` commands in publish action
  .github/workflows/publish.yml
Labels: build, ci:docs

#28915 Addon-docs: Remove babel dependency
  code/addons/docs/package.json
  code/yarn.lock
Labels: dependencies, addon: docs, ci:normal

#28929 Addon Vitest: Improve transformation logic to avoid duplicate tests
  code/addons/vitest/src/plugin/index.ts
  code/addons/vitest/src/plugin/test-utils.ts
  code/addons/vitest/src/plugin/viewports.test.ts
  code/core/src/csf-tools/vitest-plugin/transformer.test.ts
  code/core/src/csf-tools/vitest-plugin/transformer.ts
Labels: bug, ci:merged, addon: vitest

#28594 CLI: Make PackageJson optional for starting a dev server
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/core/src/core-server/build-dev.ts
  code/core/src/core-server/presets/common-preset.ts
  code/core/src/core-server/utils/warnWhenUsingArgTypesRegex.ts
  code/core/src/types/modules/core-common.ts
  code/presets/create-react-app/src/helpers/processCraConfig.ts
Labels: maintenance, cli, nuxt, ci:normal

#28944 Addon Viewport: Add default options via parameters
  code/.storybook/preview.tsx
  code/addons/viewport/preview.js
  code/addons/viewport/src/preview.ts
Labels: bug, addon: viewport, ci:normal

#28247 Svelte: Fix events not being logged in Actions when a story has decorators
  code/renderers/svelte/src/components/PreviewRender.svelte
  code/renderers/svelte/src/components/SlotDecorator.svelte
  code/renderers/svelte/src/decorators.ts
Labels: bug, decorators, svelte, ci:normal

#28950 Core: Make sure local `@storybook/cli` is used in linked mode
  scripts/tasks/sandbox-parts.ts
  scripts/tasks/sandbox.ts
Labels: build, ci:normal

#28943 Vitest: Fix default viewport
  code/addons/vitest/src/plugin/viewports.test.ts
  code/addons/vitest/src/plugin/viewports.ts
Labels: bug, ci:normal, addon: vitest

#28971 CI: Fix portable-stories-react not being able to link `@testing-library/jest-dom`
  code/lib/test/package.json
  code/package.json
  code/renderers/svelte/package.json
  code/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/package.json
Labels: build, ci:normal

#28978 Addon Vitest: Fix postinstall file types
  code/addons/vitest/postinstall.cjs
  code/addons/vitest/preset.cjs
Labels: bug, ci:normal, addon: vitest

#28980 CLI: Fix dedent import in package managers
  code/core/src/common/js-package-manager/NPMProxy.ts
  code/core/src/common/js-package-manager/PNPMProxy.ts
  code/core/src/common/js-package-manager/Yarn1Proxy.ts
Labels: bug, cli, ci:normal

#28972 Core: De-duplicate babel use in core
  .gitignore
  code/.eslintignore
  code/.prettierignore
  code/.yarn/patches/@types-babel__traverse-npm-7.20.6-fac4243243.patch
  code/core/package.json
  code/core/scripts/entries.ts
  code/core/scripts/prep.ts
  code/core/src/babel/babelParse.ts
  code/core/src/babel/index.ts
  code/core/src/common/utils/formatter.ts
  code/core/src/core-server/utils/parser/generic-parser.ts
  code/core/src/core-server/utils/save-story/duplicate-story-with-new-name.ts
  code/core/src/core-server/utils/save-story/update-args-in-csf-file.ts
  code/core/src/core-server/utils/save-story/valueToAST.ts
  code/core/src/core-server/utils/warnWhenUsingArgTypesRegex.ts
  code/core/src/csf-tools/ConfigFile.test.ts
  code/core/src/csf-tools/ConfigFile.ts
  code/core/src/csf-tools/CsfFile.ts
  code/core/src/csf-tools/enrichCsf.ts
  code/core/src/csf-tools/findVarInitialization.ts
  code/core/src/csf-tools/getStorySortParameter.ts
  code/core/src/csf-tools/index.ts
  code/core/src/csf-tools/vitest-plugin/transformer.ts
  code/core/src/docs-tools/argTypes/convert/convert.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/wrap-require-utils.ts
  code/lib/cli/core/babel/index.cjs
  code/lib/cli/core/babel/index.d.ts
  code/lib/cli/core/babel/index.js
  code/lib/cli/package.json
  code/lib/codemod/src/transforms/csf-2-to-3.ts
  code/lib/codemod/src/transforms/mdx-to-csf.ts
  code/lib/codemod/src/transforms/migrate-to-test-package.ts
  code/lib/codemod/src/transforms/upgrade-deprecated-types.ts
  code/package.json
  code/yarn.lock
  scripts/package.json
  scripts/tasks/sandbox-parts.ts
  scripts/utils/yarn.ts
  scripts/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/nextjs/package.json
  test-storybooks/portable-stories-kitchen-sink/react/package.json
  test-storybooks/portable-stories-kitchen-sink/vue3/package.json
Labels: maintenance, ci:normal

#28975 Vitest: Fix add command
  code/addons/vitest/src/postinstall.ts
Labels: bug, ci:normal

#28989 Builder-Vite: Fix 'condition node never be used' warning
  code/addons/a11y/package.json
  code/addons/actions/package.json
  code/addons/backgrounds/package.json
  code/addons/controls/package.json
  code/addons/docs/package.json
  code/addons/essentials/package.json
  code/addons/highlight/package.json
  code/addons/interactions/package.json
  code/addons/jest/package.json
  code/addons/links/package.json
  code/addons/measure/package.json
  code/addons/onboarding/package.json
  code/addons/outline/package.json
  code/addons/storysource/package.json
  code/addons/themes/package.json
  code/addons/toolbars/package.json
  code/addons/viewport/package.json
  code/addons/vitest/package.json
  code/deprecated/csf-tools/package.json
  code/deprecated/router/package.json
  code/deprecated/theming/package.json
  code/lib/blocks/package.json
  code/lib/instrumenter/package.json
  code/lib/source-loader/package.json
  code/renderers/html/package.json
  code/renderers/preact/package.json
  code/renderers/react/package.json
  code/renderers/server/package.json
  code/renderers/svelte/package.json
  code/renderers/vue3/package.json
  code/renderers/web-components/package.json
Labels: bug, builder-vite, ci:normal

#28990 CLI: Update spawn options in proxy.ts to support Windows
  code/lib/cli/src/proxy.ts
Labels: bug, cli, windows, ci:normal

#28994 Next.js-Vite: Update next and vite-plugin-storybook-nextjs dependencies
  code/frameworks/experimental-nextjs-vite/package.json
  code/yarn.lock
Labels: feature request, nextjs, ci:normal

#28996 Docs: Clarify requirements of Next.js with Vite
  docs/get-started/frameworks/nextjs.mdx
Labels: documentation, ci:docs

#28993 Addon Vitest: Fix tests potentially not existing in non-isolate mode
  code/core/src/csf-tools/vitest-plugin/transformer.test.ts
  code/core/src/csf-tools/vitest-plugin/transformer.ts
Labels: bug, ci:normal, addon: vitest

#29000 ConfigFile: Fix `as const satisfies` modifiers
  code/core/src/csf-tools/ConfigFile.test.ts
  code/core/src/csf-tools/ConfigFile.ts
Labels: bug, cli, csf, ci:normal

#29001 Docs: Improve migration notes for globals project
  MIGRATION.md
Labels: documentation, ci:docs

#29005 Docs: Rename interaction test -> component test (latest)
  docs/api/doc-blocks/doc-block-story.mdx
  docs/api/portable-stories/portable-stories-jest.mdx
  docs/api/portable-stories/portable-stories-playwright.mdx
  docs/api/portable-stories/portable-stories-vitest.mdx
  docs/builders/vite.mdx
  docs/configure/integration/frameworks-feature-support.mdx
  docs/essentials/actions.mdx
  docs/essentials/interactions.mdx
  docs/faq.mdx
  docs/get-started/browse-stories.mdx
  docs/get-started/why-storybook.mdx
  docs/writing-docs/index.mdx
  docs/writing-stories/mocking-data-and-modules/mocking-modules.mdx
  docs/writing-stories/play-function.mdx
  docs/writing-tests/accessibility-testing.mdx
  docs/writing-tests/component-testing.mdx
  docs/writing-tests/import-stories-in-tests/index.mdx
  docs/writing-tests/import-stories-in-tests/stories-in-end-to-end-tests.mdx
  docs/writing-tests/import-stories-in-tests/stories-in-unit-tests.mdx
  docs/writing-tests/index.mdx
  docs/writing-tests/snapshot-testing/index.mdx
  docs/writing-tests/snapshot-testing/snapshot-testing.mdx
  docs/writing-tests/snapshot-testing/storyshots-migration-guide.mdx
  docs/writing-tests/test-coverage.mdx
  docs/writing-tests/test-runner.mdx
  docs/writing-tests/visual-testing.mdx
Labels: documentation, ci:docs

#29008 Core: Move `util` to regular dependency
  code/core/package.json
  code/yarn.lock
Labels: bug, core, builder-manager, ci:normal

#28995 Next.js-Vite: Streamline Next.js dir option
  code/frameworks/experimental-nextjs-vite/src/preset.ts
  code/frameworks/experimental-nextjs-vite/src/types.ts
Labels: bug, nextjs, ci:normal

#29004 Vue3: Add vite plugin for portable stories
  code/addons/vitest/src/postinstall.ts
  code/frameworks/vue3-vite/package.json
  code/frameworks/vue3-vite/src/plugins/vue-template.ts
  code/frameworks/vue3-vite/src/preset.ts
  code/frameworks/vue3-vite/src/vite.ts
  scripts/tasks/sandbox-parts.ts
  scripts/tasks/sandbox.ts
  scripts/utils/main-js.ts
Labels: bug, vue3, ci:merged, portable stories
