Repository storybookjs/storybook, pull requests merged in 2024-05, with the labels that each got.

#27001 Docs: Fix vue snippets
  docs/get-started/vue3-webpack5.md
Labels: documentation, patch:yes, ci:docs

#27002 Docs: Fix typo in playwright portable stories snippet
  docs/api/portable-stories-playwright.md
Labels: documentation, ci:docs

#27004 Release: Patch 7.6.19 (manual)
  CHANGELOG.md
  code/package.json
Labels: ci:daily, release

#26885 Documentation: Remove repetitive words
  MIGRATION.md
  code/lib/preview-api/src/modules/store/csf/stepRunners.ts
  code/ui/manager/src/components/notifications/NotificationItem.stories.tsx
  scripts/release/__tests__/ensure-next-ahead.test.ts
Labels: documentation, ci:docs

#26998 Docs: Correct command in examples of adding packages with pnpm
  docs/snippets/angular/angular-install.pnpm.js.mdx
  docs/snippets/react/nextjs-install.pnpm.js.mdx
  docs/snippets/react/react-vite-install.pnpm.js.mdx
  docs/snippets/react/react-webpack5-install.pnpm.js.mdx
  docs/snippets/svelte/svelte-vite-install.pnpm.js.mdx
  docs/snippets/svelte/svelte-webpack5-install.pnpm.js.mdx
  docs/snippets/svelte/sveltekit-install.pnpm.js.mdx
  docs/snippets/vue/vue3-vite-install.pnpm.js.mdx
  docs/snippets/vue/vue3-webpack5-install.pnpm.js.mdx
  docs/snippets/web-components/web-components-vite-install.pnpm.js.mdx
  docs/snippets/web-components/web-components-webpack5-install.pnpm.js.mdx
Labels: documentation, patch:yes, ci:docs

#26886 Nextjs: Implement next redirect and the RedirectBoundary
  code/frameworks/nextjs/src/export-mocks/navigation/index.ts
  code/frameworks/nextjs/src/fastRefresh/webpack.ts
  code/frameworks/nextjs/src/preview.tsx
  code/frameworks/nextjs/src/routing/decorator.tsx
  code/frameworks/nextjs/template/stories_nextjs-default-ts/Redirect.stories.tsx
  code/frameworks/nextjs/template/stories_nextjs-default-ts/ServerActions.stories.tsx
  code/lib/react-dom-shim/src/react-18.tsx
  code/renderers/react/src/renderToCanvas.tsx
Labels: feature request, nextjs, ci:normal

#27008 Portable Stories: Warn when rendering stories without cleaning up first
  code/lib/preview-api/src/modules/store/csf/portable-stories.test.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.ts
  docs/api/portable-stories-jest.md
  docs/api/portable-stories-vitest.md
Labels: maintenance, ci:normal, portable stories

#27025 Revert "Nextjs: Implement next redirect and the RedirectBoundary"
  code/frameworks/nextjs/src/export-mocks/navigation/index.ts
  code/frameworks/nextjs/src/fastRefresh/webpack.ts
  code/frameworks/nextjs/src/preview.tsx
  code/frameworks/nextjs/src/routing/decorator.tsx
  code/frameworks/nextjs/template/stories_nextjs-default-ts/Redirect.stories.tsx
  code/frameworks/nextjs/template/stories_nextjs-default-ts/ServerActions.stories.tsx
  code/lib/react-dom-shim/src/react-18.tsx
  code/renderers/react/src/renderToCanvas.tsx
Labels: feature request, nextjs, ci:daily

#26868 Docs: Fix providerImportSource extension
  code/addons/docs/src/plugins/mdx-plugin.ts
  code/addons/docs/src/preset.ts
  code/addons/essentials/src/docs/preset.ts
Labels: bug, addon: docs, mdx, ci:normal

#27029 Docs: Fix incorrect syntax of object in `storybook-coverage-addon-config-options.ts.mdx`
  docs/snippets/common/storybook-coverage-addon-config-options.ts.mdx
Labels: documentation, ci:docs

#27042 Docs: Fix bad link for MDX remark-gfm
  code/addons/gfm/src/index.ts
  code/lib/cli/src/automigrate/fixes/mdx-gfm.ts
  docs/essentials/index.md
Labels: documentation, ci:docs

#27052 Build: Max of 5 concurrent tasks on CI
  scripts/utils/concurrency.ts
Labels: build, ci:normal

#27050 Nextjs: Implement next redirect and the RedirectBoundary
  code/frameworks/nextjs/.eslintrc.json
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/compatibility/compatibility-map.ts
  code/frameworks/nextjs/src/compatibility/redirect-status-code.compat.ts
  code/frameworks/nextjs/src/compatibility/segment.compat.ts
  code/frameworks/nextjs/src/export-mocks/navigation/index.ts
  code/frameworks/nextjs/src/export-mocks/webpack.ts
  code/frameworks/nextjs/src/fastRefresh/webpack.ts
  code/frameworks/nextjs/src/preset.ts
  code/frameworks/nextjs/src/preview.tsx
  code/frameworks/nextjs/src/routing/decorator.tsx
  code/frameworks/nextjs/template/stories_nextjs-default-ts/Redirect.stories.tsx
  code/frameworks/nextjs/template/stories_nextjs-default-ts/ServerActions.stories.tsx
  code/lib/react-dom-shim/src/react-18.tsx
  code/renderers/react/src/renderToCanvas.tsx
  test-storybooks/portable-stories-kitchen-sink/nextjs/yarn.lock
Labels: feature request, nextjs, ci:daily

#27046 Build: Add E2E tests for the module mocking stories
  code/e2e-tests/module-mocking.spec.ts
  code/lib/test/template/stories/before-each.stories.ts
  code/lib/test/template/stories/utils.mock.ts
  code/presets/create-react-app/src/index.ts
Labels: build, ci:normal

#27019 Docs: API - Index updates
  docs/api/index.md
Labels: documentation, patch:yes, ci:docs

#26673 Dependencies: Upgrade `@joshwooding/vite-plugin-react-docgen-typescript` to `0.3.1`
  code/frameworks/react-vite/package.json
  code/yarn.lock
Labels: dependencies, react, builder-vite, ci:normal

#27056 Docs: Unpublish portable stories jest/vitest for now
  docs/api/portable-stories-jest.md
  docs/api/portable-stories-vitest.md
  docs/toc.js
Labels: documentation, ci:docs

#26634 Tags: Add project tags, negation, `dev`/`autodocs`/`test` system tags
  MIGRATION.md
  code/addons/docs/src/preview.ts
  code/addons/links/package.json
  code/e2e-tests/tags.spec.ts
  code/lib/cli/src/generators/baseGenerator.ts
  code/lib/codemod/package.json
  code/lib/core-events/package.json
  code/lib/core-server/package.json
  code/lib/core-server/src/presets/common-manager.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.test.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/core-server/src/utils/__tests__/index-extraction.test.ts
  code/lib/core-server/src/utils/getStoryIndexGenerator.ts
  code/lib/core-server/src/utils/stories-json.test.ts
  code/lib/core-server/src/utils/stories-json.ts
  code/lib/core-server/src/utils/summarizeIndex.test.ts
  code/lib/core-server/src/utils/watchConfig.ts
  code/lib/csf-tools/package.json
  code/lib/csf-tools/src/CsfFile.test.ts
  code/lib/csf-tools/src/CsfFile.ts
  code/lib/manager-api/package.json
  code/lib/preview-api/package.json
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.test.ts
  code/lib/preview-api/src/modules/preview-web/PreviewWithSelection.tsx
  code/lib/preview-api/src/modules/store/StoryStore.test.ts
  code/lib/preview-api/src/modules/store/csf/composeConfigs.test.ts
  code/lib/preview-api/src/modules/store/csf/composeConfigs.ts
  code/lib/preview-api/src/modules/store/csf/prepareStory.test.ts
  code/lib/preview-api/src/modules/store/csf/prepareStory.ts
  code/lib/preview-api/template/stories/tags-add.stories.ts
  code/lib/preview-api/template/stories/tags-config.stories.ts
  code/lib/preview-api/template/stories/tags-remove.stories.ts
  code/lib/preview-api/template/stories/test-only-tag.stories.ts
  code/lib/source-loader/package.json
  code/lib/types/package.json
  code/lib/types/src/modules/core-common.ts
  code/lib/types/src/modules/indexer.ts
  code/package.json
  code/renderers/server/package.json
  code/ui/blocks/package.json
  code/ui/components/package.json
  code/yarn.lock
Labels: feature request, tags, ci:normal

#27057 Docs: Update module mocking docs
  docs/snippets/common/storybook-test-mock-file-example.ts.mdx
  docs/writing-stories/mocking-modules.md
Labels: documentation, ci:docs

#27054 Dependencies: Upgrade `ejs` to `3.1.10`
  code/builders/builder-manager/package.json
  code/yarn.lock
  scripts/package.json
  scripts/yarn.lock
Labels: maintenance, builder-manager, ci:normal

#26460 UI: Fix panel layout resizing do not apply when done too fast
  code/ui/manager/src/components/layout/Layout.tsx
Labels: bug, ui, ci:normal

#27065 Build: Fix nextjs prerelease peerDep warning
  code/e2e-tests/addon-docs.spec.ts
  scripts/utils/yarn.ts
Labels: build, ci:daily

#27072 Build: Add extension to prevent failure to load `.ts` files in CRA
  code/lib/test/template/stories/utils.mock.ts
Labels: build, ci:daily

#27075 Portable Stories: Remove link to missing docs
  code/lib/preview-api/src/modules/store/csf/portable-stories.test.ts
  code/lib/preview-api/src/modules/store/csf/portable-stories.ts
Labels: bug, ci:normal, portable stories

#27074 Onboarding: Improve UI
  code/addons/onboarding/src/features/WriteStoriesModal/WriteStoriesModal.styled.tsx
  code/addons/onboarding/src/features/WriteStoriesModal/WriteStoriesModal.tsx
  code/ui/components/src/components/Modal/Modal.styled.tsx
Labels: bug, ui, ci:normal, addon: onboarding

#27089 CLI: Add main.js `docs.autodocs` automigration
  code/lib/cli/src/automigrate/fixes/autodocs-tags.test.ts
  code/lib/cli/src/automigrate/fixes/autodocs-tags.ts
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/preview-api/src/modules/store/csf/prepareStory.ts
Labels: maintenance, cli, ci:normal

#27097 CLI: Fix eslint configuration for string `extends`
  code/lib/cli/src/automigrate/helpers/eslintPlugin.test.ts
  code/lib/cli/src/automigrate/helpers/eslintPlugin.ts
Labels: bug, cli, ci:normal

#27098 Tags: Fix missing default tags if no `preview.js`
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
Labels: bug, tags, ci:normal

#22545 Indexer: Escape special characters in storyImport regex
  code/addons/actions/src/addArgsHelpers.ts
  code/addons/actions/src/decorator.ts
  code/lib/core-common/src/utils/get-storybook-info.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/preview-api/template/stories/decorators.stories.ts
  code/lib/preview-api/template/stories/globals.stories.ts
  code/lib/preview-api/template/stories/preview.ts
  code/presets/create-react-app/src/helpers/checkPresets.ts
  code/presets/create-react-app/src/index.ts
Labels: bug, core, ci:normal

#27099 API: Add API access to sidebar renderLabel
  code/lib/types/src/modules/api-stories.ts
  code/lib/types/src/modules/api.ts
  code/ui/manager/src/components/mobile/navigation/MobileNavigation.tsx
  code/ui/manager/src/components/sidebar/Tree.tsx
  docs/addons/addons-api.md
  docs/configure/features-and-behavior.md
Labels: feature request, api: addons, ci:normal

#27107 Typescript: Add types for `experimental-playwright` entries without `type:bundler`
  code/renderers/react/package.json
  code/renderers/vue3/package.json
Labels: bug, typescript, ci:normal

#27106 Automigration: Improve react-docgen automigration prompt
  code/lib/cli/src/automigrate/fixes/react-docgen.ts
Labels: maintenance, automigrations, ci:normal, docgen

#27115 Docs: Fix various docs issues
  docs/api/portable-stories-jest.md
  docs/api/portable-stories-playwright.md
  docs/get-started/nextjs.md
  docs/snippets/angular/before-each-in-meta-mock-date.ts.mdx
  docs/snippets/angular/storybook-test-fn-mock-spy.ts.mdx
  docs/snippets/angular/storybook-test-mock-return-value.ts.mdx
  docs/snippets/common/before-each-in-meta-mock-date.js.mdx
  docs/snippets/common/before-each-in-meta-mock-date.ts-4-9.mdx
  docs/snippets/common/before-each-in-meta-mock-date.ts.mdx
  docs/snippets/common/storybook-test-fn-mock-spy.js.mdx
  docs/snippets/common/storybook-test-fn-mock-spy.ts-4-9.mdx
  docs/snippets/common/storybook-test-fn-mock-spy.ts.mdx
  docs/snippets/common/storybook-test-mock-return-value.js.mdx
  docs/snippets/common/storybook-test-mock-return-value.ts-4-9.mdx
  docs/snippets/common/storybook-test-mock-return-value.ts.mdx
  docs/snippets/react/nextjs-cache-mock.ts-4-9.mdx
  docs/snippets/react/nextjs-cache-mock.ts.mdx
  docs/snippets/react/nextjs-headers-mock.ts-4-9.mdx
  docs/snippets/react/nextjs-headers-mock.ts.mdx
  docs/snippets/react/nextjs-navigation-mock.ts-4-9.mdx
  docs/snippets/react/nextjs-navigation-mock.ts.mdx
  docs/snippets/react/nextjs-router-mock.js.mdx
  docs/snippets/react/nextjs-router-mock.ts-4-9.mdx
  docs/snippets/react/nextjs-router-mock.ts.mdx
  docs/snippets/react/portable-stories-playwright-ct.ts.mdx
  docs/snippets/vue/portable-stories-playwright-ct.ts.mdx
  docs/snippets/web-components/before-each-in-meta-mock-date.js.mdx
  docs/snippets/web-components/before-each-in-meta-mock-date.ts.mdx
  docs/snippets/web-components/storybook-test-fn-mock-spy.js.mdx
  docs/snippets/web-components/storybook-test-fn-mock-spy.ts.mdx
  docs/snippets/web-components/storybook-test-mock-return-value.js.mdx
  docs/snippets/web-components/storybook-test-mock-return-value.ts.mdx
  docs/writing-stories/tags.md
Labels: documentation, ci:docs

#27113 Docs: Add new story and save from controls flows
  docs/essentials/controls.md
  docs/get-started/edit-story-from-controls-optimized.mp4
  docs/get-started/edit-story-in-code-optimized.mp4
  docs/get-started/new-component-story-from-plus-button-optimized.mp4
  docs/get-started/new-component-story-in-code-optimized.mp4
  docs/get-started/new-story-from-controls-optimized.mp4
  docs/get-started/new-story-in-code-optimized.mp4
  docs/get-started/whats-a-story.md
  docs/snippets/angular/button-story-rename-story.ts.mdx
  docs/snippets/html/button-story-rename-story.js.mdx
  docs/snippets/html/button-story-rename-story.ts.mdx
  docs/snippets/react/button-story-rename-story.js.mdx
  docs/snippets/react/button-story-rename-story.ts-4-9.mdx
  docs/snippets/react/button-story-rename-story.ts.mdx
  docs/snippets/solid/button-story-rename-story.js.mdx
  docs/snippets/solid/button-story-rename-story.ts-4-9.mdx
  docs/snippets/solid/button-story-rename-story.ts.mdx
  docs/snippets/svelte/button-story-rename-story.js.mdx
  docs/snippets/svelte/button-story-rename-story.ts-4-9.mdx
  docs/snippets/svelte/button-story-rename-story.ts.mdx
  docs/snippets/vue/button-story-rename-story.js.mdx
  docs/snippets/vue/button-story-rename-story.ts-4-9.mdx
  docs/snippets/vue/button-story-rename-story.ts.mdx
  docs/snippets/web-components/button-story-rename-story.js.mdx
  docs/snippets/web-components/button-story-rename-story.ts.mdx
  docs/writing-stories/index.md
Labels: documentation, ci:docs

#27051 Docs: Fix typo of sample code for image snapshot tests with the test-runner in the storyshots migration guide
  docs/snippets/common/test-runner-image-snapshot-testing.js.mdx
Labels: documentation, patch:yes, ci:docs

#27105 Next.js: Add typing for NextImage to main framework options type
  code/frameworks/nextjs/src/types.ts
Labels: bug, typescript, nextjs, ci:daily

#27102 Dependency: Upgrade `webpack-virtual-modules` to 0.6.0
  code/builders/builder-webpack5/package.json
  code/yarn.lock
Labels: dependencies, builder-webpack5, ci:normal

#27093 Next.js: Avoid conflicts with the raw loader
  code/frameworks/nextjs/src/swc/loader.ts
Labels: bug, nextjs, ci:daily

#27121 Release tooling: Remove "Ensure `next` is ahead" script
  .github/workflows/publish.yml
  scripts/package.json
  scripts/release/__tests__/ensure-next-ahead.test.ts
  scripts/release/ensure-next-ahead.ts
Labels: build, ci:normal

#26967 Docgen: Only add react-docgen info when a component is defined in the file
  code/frameworks/react-vite/src/plugins/docgen-handlers/actualNameHandler.ts
  code/frameworks/react-vite/src/plugins/react-docgen.ts
  code/presets/react-webpack/src/loaders/react-docgen-loader.ts
  code/renderers/react/src/docs/extractArgTypes.test.ts
  code/renderers/react/template/stories/docgen-components/js-re-exported-component/docgen.snapshot
  code/renderers/react/template/stories/docgen-components/js-re-exported-component/input.jsx
  code/renderers/react/template/stories/js-argtypes.stories.jsx
Labels: bug, ci:merged, docgen

#26694 Dependency: bump `markdown-to-jsx` to v7.4.5
  code/ui/blocks/package.json
  code/ui/manager/package.json
  code/yarn.lock
Labels: dependencies, ui, block: other, ci:normal

#27070 CLI: Include `@storybook/addon-svelte-csf` when initializing new projects
  code/lib/cli/src/generators/SVELTE/index.ts
  code/lib/cli/src/generators/SVELTEKIT/index.ts
Labels: feature request, cli, svelte, ci:daily, sveltekit

#26918 CLI: Add optional `--dev` and `--no-dev` options to `storybook init` CLI
  code/lib/cli/src/generate.ts
  code/lib/cli/src/generators/types.ts
  code/lib/cli/src/initiate.ts
  code/lib/cli/src/sandbox.ts
  docs/api/cli-options.md
Labels: feature request, cli, ci:daily

#26872 Docs: update outdated guide to make code open by default
  code/addons/docs/docs/docspage.md
Labels: documentation, ci:docs

#27144 Docs: Fix MDX Stories block tag-filtering behavior
  code/addons/docs/src/preview.ts
  code/ui/blocks/src/blocks/Stories.stories.tsx
  code/ui/blocks/src/blocks/Stories.tsx
  code/ui/blocks/src/examples/ButtonNoAutodocs.stories.tsx
  code/ui/blocks/src/examples/ButtonSomeAutodocs.stories.tsx
Labels: bug, block: other, ci:normal

#27147 Docs: Fix Subtitle block when no `of` prop passed
  code/ui/blocks/src/blocks/Subtitle.stories.tsx
  code/ui/blocks/src/blocks/Subtitle.tsx
  code/ui/blocks/src/blocks/Title.tsx
Labels: bug, patch:yes, addon: docs, block: other, ci:normal

#27068 Build: Fix test in core-common being ignored
  code/lib/core-common/src/utils/get-renderer-name.test.ts
Labels: build, ci:normal, test

#26475 Docs: Fix `Typeset` Doc block `fontSizes` type
  code/ui/blocks/src/components/Typeset.tsx
  docs/api/doc-block-typeset.md
Labels: bug, addon: docs, ci:normal

#22615 Controls: Throttling makes Color control lagging
  code/ui/blocks/src/controls/Color.tsx
Labels: bug, addon: controls, ci:normal

#23374 UI: Same html name for related Radio
  code/ui/blocks/src/controls/options/Radio.tsx
Labels: bug, addon: controls, ci:normal

#27160 Actions: Introduce `nissuer`
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/comments/good-first-issue.md
  .github/comments/invalid-link.md
  .github/workflows/triage.yml
Labels: build, ci:normal

#27132 Docs: Misc 8.1 updates
  code/addons/docs/docs/docspage.md
  docs/api/portable-stories-playwright.md
  docs/api/story-pipeline-playwright-ct.png
  docs/api/story-pipeline.png
  docs/writing-stories/mocking-modules.md
Labels: documentation, patch:yes, ci:docs

#27165 Bench: Fix flake `Cannot read properties of null (reading 'page')`
  scripts/bench/browse.ts
  scripts/bench/utils.ts
Labels: build, ci:merged

#27145 Build: Fix failing stories
  code/package.json
  code/ui/manager/src/components/notifications/NotificationItem.stories.tsx
  code/ui/manager/src/components/sidebar/FileSearchList.stories.tsx
  code/ui/manager/src/components/sidebar/Sidebar.stories.tsx
Labels: build, ci:normal

#27108 Angular: Fix filtering of workspace config styles
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/frameworks/angular/src/builders/start-storybook/index.ts
  code/frameworks/angular/src/builders/utils/run-compodoc.spec.ts
  code/frameworks/angular/src/builders/utils/run-compodoc.ts
  code/frameworks/angular/src/builders/utils/setup.ts
  code/frameworks/angular/src/builders/utils/standalone-options.ts
  code/frameworks/angular/src/server/angular-cli-webpack.js
  code/frameworks/angular/src/server/framework-preset-angular-cli.ts
  code/frameworks/angular/src/server/preset-options.ts
Labels: bug, angular, patch:yes, ci:merged

#27184 Actions: Re-enable `nissuer` bot
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/triage.yml
Labels: build, ci:docs

#27189 Angular: Cleanup types
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/frameworks/angular/src/builders/start-storybook/index.ts
  code/frameworks/angular/src/builders/utils/run-compodoc.ts
  code/frameworks/angular/src/builders/utils/setup.ts
  code/frameworks/angular/src/builders/utils/standalone-options.ts
  code/frameworks/angular/src/server/angular-cli-webpack.d.ts
  code/frameworks/angular/src/server/preset-options.ts
Labels: bug, angular, typescript, ci:normal

#27182 Release Tooling: Force push major/minor releases to `main` and `next-release`
  .github/workflows/prepare-non-patch-release.yml
  .github/workflows/publish.yml
Labels: patch:yes, build, ci:docs

#27200 Docs: Fix triage meeting schedule
  docs/contribute/RFC.md
Labels: documentation, patch:yes, ci:docs

#27201 Docs: Add public roadmap
  docs/contribute/roadmap.md
  docs/toc.js
Labels: documentation, patch:yes, ci:docs

#27198 Next.js: Avoid interfering with the svgr loader
  code/frameworks/nextjs/src/swc/loader.ts
Labels: bug, patch:yes, ci:normal

#27180 Types: Fix type implementation for `CompatibleString`
  code/lib/types/src/modules/core-common.ts
Labels: typescript, ci:normal

#26695 Controls: fix date picker control validation and input value assign
  code/ui/blocks/src/controls/Date.tsx
  code/ui/blocks/src/controls/types.ts
Labels: bug, addon: controls, ci:normal

#27225 Build: Exclude stories from snapshotting
  code/ui/blocks/src/blocks/Story.stories.tsx
  code/ui/blocks/src/components/Story.stories.tsx
Labels: build, ci:normal

#27224 Addon-A11y: Fix property default assignment
  code/addons/a11y/src/a11yRunner.ts
Labels: bug, addon: a11y, ci:normal

#27110 Vite: Externalize sb-common-assets font in manager and all builders to remove asset warning
  code/builders/builder-manager/templates/template.ejs
  code/builders/builder-vite/input/iframe.html
  code/builders/builder-vite/src/build.ts
  code/builders/builder-webpack5/templates/preview.ejs
  code/ui/manager/static/fonts.css
Labels: bug, builder-vite, ci:normal

#27226 Telemetry: Add test packages
  code/lib/telemetry/src/storybook-metadata.ts
  code/lib/telemetry/src/types.ts
  docs/configure/telemetry.md
Labels: maintenance, patch:yes, telemetry, ci:normal

#27237 Angular: Support v18
  code/frameworks/angular/package.json
  code/yarn.lock
Labels: feature request, angular, patch:yes, ci:daily

#27256 Vite: Fix HMR issue for Storybook preview files
  code/builders/builder-vite/src/codegen-modern-iframe-script.ts
Labels: bug, patch:yes, builder-vite, ci:normal

#27199 Docs: Correct typos in vue preview docs
  docs/snippets/vue/storybook-preview-use-global-type.3.js.mdx
  docs/snippets/vue/storybook-preview-use-global-type.3.ts.mdx
  docs/snippets/vue/storybook-preview-use-global-type.ts-4-9.mdx
Labels: documentation, patch:yes, ci:docs

#27150 Docs: Update Bitovi GitHub Actions snippet
  docs/snippets/common/ghp-github-action.yml.mdx
Labels: documentation, patch:yes, ci:docs

#27146 Docs: remove unused imports
  docs/snippets/react/button-story-with-args.ts-4-9.mdx
  docs/snippets/react/button-story-with-args.ts.mdx
Labels: documentation, patch:yes, ci:docs

#27171 Builder: Fixes sourcemaps for Webpack5 and Vite builder
  code/builders/builder-vite/src/plugins/external-globals-plugin.ts
  code/builders/builder-webpack5/src/loaders/export-order-loader.ts
  code/frameworks/nextjs/src/swc/loader.ts
  code/frameworks/nextjs/src/swc/next-swc-loader-patch.ts
  code/frameworks/react-vite/src/plugins/react-docgen.ts
  code/lib/csf-plugin/package.json
  code/lib/csf-plugin/src/constants.ts
  code/lib/csf-plugin/src/index.ts
  code/lib/csf-plugin/src/rollup-based-plugin.ts
  code/lib/csf-plugin/src/webpack-loader.ts
  code/lib/csf-tools/src/CsfFile.ts
  code/presets/react-webpack/src/loaders/react-docgen-loader.ts
Labels: bug, builder-webpack5, builder-vite, ci:normal

#27358 Tags: Fix composition with older storybooks
  code/e2e-tests/composition.spec.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.test.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/core-server/src/utils/stories-json.test.ts
  code/lib/core-server/src/utils/summarizeIndex.test.ts
  code/lib/manager-api/src/lib/stories.test.ts
  code/lib/manager-api/src/lib/stories.ts
  code/lib/manager-api/src/tests/refs.test.ts
  code/lib/manager-api/src/tests/stories.test.ts
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.mockdata.ts
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.test.ts
  code/lib/preview-api/src/modules/store/StoryIndexStore.test.ts
  code/lib/preview-api/src/modules/store/StoryIndexStore.ts
  code/lib/preview-api/src/modules/store/StoryStore.test.ts
  code/ui/blocks/src/blocks/external/ExternalPreview.ts
  scripts/tasks/sandbox-parts.ts
Labels: bug, patch:yes, composition, tags, ci:normal

#27361 Angular: Revert style adjustments
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/frameworks/angular/src/builders/start-storybook/index.ts
  code/frameworks/angular/src/builders/utils/run-compodoc.spec.ts
  code/frameworks/angular/src/builders/utils/run-compodoc.ts
  code/frameworks/angular/src/builders/utils/setup.ts
  code/frameworks/angular/src/builders/utils/standalone-options.ts
  code/frameworks/angular/src/server/angular-cli-webpack.d.ts
  code/frameworks/angular/src/server/angular-cli-webpack.js
  code/frameworks/angular/src/server/framework-preset-angular-cli.ts
  code/frameworks/angular/src/server/preset-options.ts
Labels: bug, patch:yes, ci:normal

#27365 Docs: Fix MSW snippets
  docs/snippets/angular/msw-addon-configure-handlers-graphql.ts.mdx
  docs/snippets/angular/msw-addon-configure-handlers-http.ts.mdx
  docs/snippets/common/msw-addon-configure-handlers-http.js.mdx
  docs/snippets/common/msw-addon-configure-handlers-http.ts-4-9.mdx
  docs/snippets/common/msw-addon-configure-handlers-http.ts.mdx
  docs/snippets/react/msw-addon-configure-handlers-graphql.js.mdx
  docs/snippets/react/msw-addon-configure-handlers-graphql.ts-4-9.mdx
  docs/snippets/react/msw-addon-configure-handlers-graphql.ts.mdx
  docs/snippets/svelte/msw-addon-configure-handlers-graphql.js.mdx
  docs/snippets/svelte/msw-addon-configure-handlers-graphql.ts-4-9.mdx
  docs/snippets/svelte/msw-addon-configure-handlers-graphql.ts.mdx
  docs/snippets/vue/msw-addon-configure-handlers-graphql.js.mdx
  docs/snippets/vue/msw-addon-configure-handlers-graphql.ts-4-9.mdx
  docs/snippets/vue/msw-addon-configure-handlers-graphql.ts.mdx
  docs/snippets/vue/storybook-preview-use-global-type.3.js.mdx
  docs/snippets/vue/storybook-preview-use-global-type.3.ts.mdx
  docs/snippets/vue/storybook-preview-use-global-type.ts-4-9.mdx
  docs/snippets/web-components/msw-addon-configure-handlers-http.js.mdx
  docs/snippets/web-components/msw-addon-configure-handlers-http.ts.mdx
Labels: documentation, patch:yes, ci:docs

#27168 Build: Remove @storybook/testing-library from internal sandbox generation
  code/package.json
  code/yarn.lock
  scripts/tasks/sandbox-parts.ts
Labels: build, ci:daily

#27378 Svelte: Support latest prerelease
  .circleci/config.yml
  code/frameworks/svelte-webpack5/templates/SlotDecorator.svelte
  code/renderers/svelte/src/components/PreviewRender.svelte
  code/renderers/svelte/src/components/SlotDecorator.svelte
  code/renderers/svelte/src/render.ts
  code/renderers/svelte/template/cli/js/Page.stories.js
  code/renderers/svelte/template/cli/ts-3-8/Page.stories.ts
  code/renderers/svelte/template/cli/ts-4-9/Page.stories.ts
  code/renderers/svelte/template/stories/args.stories.js
Labels: bug, patch:yes, svelte, ci:daily

#27379 Tags: Refine composition behavior
  code/lib/manager-api/src/lib/stories.ts
Labels: bug, patch:yes, composition, tags, ci:normal

#27155 Theming: Fix self-referencing type
  code/lib/theming/src/emotionAugmentation.d.ts
Labels: bug, patch:yes, typescript, ci:normal

#27192 Vue3: Enable new hydration mismatch compile time flag
  code/presets/vue3-webpack/src/framework-preset-vue3.ts
Labels: maintenance, vue3, ci:normal

#27386 Build: Fix sandbox generation temporarily
  scripts/utils/yarn.ts
Labels: build, ci:normal

#27366 Dependency: Upgrade tempy
  code/lib/cli/package.json
  code/lib/cli/src/automigrate/index.ts
  code/lib/cli/src/dirs.ts
  code/lib/cli/src/doctor/index.ts
  code/lib/core-common/package.json
  code/lib/core-common/src/utils/cli.ts
  code/yarn.lock
  scripts/combine-compodoc.ts
  scripts/package.json
  scripts/sandbox/generate.ts
  scripts/sandbox/publish.ts
  scripts/yarn.lock
Labels: dependencies, patch:yes, ci:normal

#27417 Docs: Update portable stories illustrations
  docs/api/story-pipeline-playwright-ct.png
  docs/api/story-pipeline.png
Labels: documentation, ci:docs

#27418 CSF-Tools: Fix export specifier bug
  code/lib/csf-tools/src/ConfigFile.test.ts
  code/lib/csf-tools/src/ConfigFile.ts
Labels: bug, patch:yes, csf, ci:normal

#27426 Docs: Use absolute imports in module mocking snippets
  docs/snippets/angular/before-each-in-meta-mock-date.ts.mdx
  docs/snippets/angular/storybook-test-fn-mock-spy.ts.mdx
  docs/snippets/angular/storybook-test-mock-return-value.ts.mdx
  docs/snippets/common/before-each-in-meta-mock-date.js.mdx
  docs/snippets/common/before-each-in-meta-mock-date.ts-4-9.mdx
  docs/snippets/common/before-each-in-meta-mock-date.ts.mdx
  docs/snippets/common/storybook-test-fn-mock-spy.js.mdx
  docs/snippets/common/storybook-test-fn-mock-spy.ts-4-9.mdx
  docs/snippets/common/storybook-test-fn-mock-spy.ts.mdx
  docs/snippets/common/storybook-test-mock-return-value.js.mdx
  docs/snippets/common/storybook-test-mock-return-value.ts-4-9.mdx
  docs/snippets/common/storybook-test-mock-return-value.ts.mdx
  docs/snippets/web-components/before-each-in-meta-mock-date.ts.mdx
  docs/snippets/web-components/storybook-test-fn-mock-spy.js.mdx
  docs/snippets/web-components/storybook-test-fn-mock-spy.ts.mdx
  docs/snippets/web-components/storybook-test-mock-return-value.js.mdx
  docs/snippets/web-components/storybook-test-mock-return-value.ts.mdx
Labels: documentation, patch:yes, ci:docs

#27353 Angular: Fix wrong detection of standalone components
  code/frameworks/angular/src/client/angular-beta/utils/PropertyExtractor.test.ts
  code/frameworks/angular/src/client/angular-beta/utils/PropertyExtractor.ts
Labels: bug, angular, ci:daily
