Repository storybookjs/storybook, pull requests merged in 2024-01, with the labels that each got.

#25396 UI: Fix about page layout
  code/ui/manager/src/components/sidebar/Menu.stories.tsx
  code/ui/manager/src/components/sidebar/Menu.tsx
  code/ui/manager/src/settings/About.tsx
  code/ui/manager/src/settings/index.tsx
  code/ui/manager/src/settings/whats_new.tsx
Labels: ui, maintenance, ci:normal

#25424 Docs: Add migration notes about Svelte 4
  MIGRATION.md
Labels: documentation, svelte, ci:docs

#25414 CLI: Remove --use-npm flag
  MIGRATION.md
  code/lib/cli/src/add.ts
  code/lib/cli/src/automigrate/index.ts
  code/lib/cli/src/automigrate/types.ts
  code/lib/cli/src/generate.ts
  code/lib/cli/src/generators/types.ts
  code/lib/cli/src/initiate.ts
  code/lib/cli/src/js-package-manager/deprecations.ts
  code/lib/cli/src/js-package-manager/index.ts
  code/lib/cli/src/upgrade.ts
Labels: cli, BREAKING CHANGE, ci:normal

#25427 Core: Remove vite plugins and drop Vite 3 support
  MIGRATION.md
  code/builders/builder-vite/package.json
  code/frameworks/preact-vite/package.json
  code/frameworks/preact-vite/src/preset.ts
  code/frameworks/react-vite/package.json
  code/frameworks/react-vite/src/preset.ts
  code/frameworks/svelte-vite/package.json
  code/frameworks/svelte-vite/src/preset.ts
  code/frameworks/vue3-vite/package.json
  code/frameworks/vue3-vite/src/preset.ts
  code/yarn.lock
Labels: BREAKING CHANGE, core, builder-vite, ci:normal

#25005 Vite: Fix Vite 5 CJS warnings
  code/.eslintrc.js
  code/builders/builder-vite/src/vite-config.test.ts
  code/frameworks/svelte-vite/src/plugins/svelte-docgen.ts
  code/frameworks/svelte-vite/src/preset.ts
  code/frameworks/sveltekit/src/plugins/config-overrides.ts
  code/frameworks/sveltekit/src/plugins/mock-sveltekit-stores.ts
  code/frameworks/sveltekit/src/preset.ts
  code/frameworks/vue3-vite/src/plugins/vue-docgen.ts
  code/frameworks/vue3-vite/src/preset.ts
  code/ui/.storybook/main.ts
  scripts/utils/options.ts
Labels: bug, vue, svelte, vue3, builder-vite, sveltekit, ci:normal

#25423 Viewport: Store viewport, rotation in globals
  code/addons/essentials/package.json
  code/addons/essentials/src/viewport/preview.ts
  code/addons/viewport/package.json
  code/addons/viewport/preview.js
  code/addons/viewport/src/Tool.tsx
  code/addons/viewport/src/preview.ts
  code/addons/viewport/src/shortcuts.ts
Labels: feature request, addon: viewport, ci:daily

#25411 Maintenance: Add comment to deprecation notice in Button component
  code/ui/components/src/components/Button/Button.tsx
Labels: ui, maintenance, ci:normal

#25416 Core: Remove unused warnOnLegacyHierarchySeparator type
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/core-server/src/utils/getStoryIndexGenerator.ts
  code/lib/types/src/modules/core-common.ts
Labels: maintenance, core, ci:normal

#25327 CLI: Add Storyshots migration notice
  MIGRATION.md
  README.md
  code/addons/docs/README.md
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/storyshots-migration.test.ts
  code/lib/cli/src/automigrate/fixes/storyshots-migration.ts
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.integration.test.ts
  docs/configure/frameworks-feature-support.md
  docs/writing-tests/snapshot-testing.md
Labels: bug, cli, ci:normal

#25303 Addon-Docs: Upgrade to MDX3
  MIGRATION.md
  code/addons/controls/README.md
  code/addons/docs/README.md
  code/addons/docs/jest-transform-mdx.js
  code/addons/docs/package.json
  code/addons/docs/src/compiler/index.test.ts
  code/addons/docs/src/compiler/index.ts
  code/addons/docs/src/compiler/types.ts
  code/addons/docs/src/mdx-loader.ts
  code/addons/docs/src/plugins/mdx-plugin.ts
  code/addons/docs/src/plugins/mdx-plugin.types.d.ts
  code/addons/docs/src/preset.ts
  code/addons/docs/src/typings.d.ts
  code/addons/docs/template/stories/stories-mdx/basic.stories.mdx
  code/addons/docs/template/stories/stories-mdx/csf-in-mdx.non-stories.js
  code/addons/docs/template/stories/stories-mdx/csf-in-mdx.stories.mdx
  code/addons/docs/template/stories/stories-mdx/iframe.stories.mdx
  code/addons/docs/template/stories/stories-mdx/play-functions.stories.mdx
  code/addons/docs/template/stories/stories-mdx/unattached.stories.mdx
  code/frameworks/angular/template/stories/angular-mdx.stories.mdx
  code/frameworks/angular/template/stories/basics/README.mdx
  code/frameworks/angular/template/stories/core/README.mdx
  code/frameworks/angular/template/stories/others/ngx-translate/README.mdx
  code/lib/cli/src/automigrate/fixes/mdx-gfm.ts
  code/lib/codemod/src/transforms/mdx-to-csf.ts
  code/lib/core-server/package.json
  code/lib/core-server/src/utils/StoryIndexGenerator.test.ts
  code/lib/core-server/src/utils/__mockdata__/src/nested/Page.stories.mdx
  code/lib/core-server/src/utils/__tests__/index-extraction.test.ts
  code/lib/core-server/src/utils/stories-json.test.ts
  code/renderers/html/template/stories/html-mdx.stories.mdx
  code/renderers/react/template/stories/react-mdx.stories.mdx
  code/renderers/svelte/template/stories/svelte-mdx.stories.mdx
  code/renderers/vue3/template/stories/vue3-mdx.stories.mdx
  code/ui/blocks/src/blocks/Story.tsx
  code/ui/components/src/components/typography/typography.mdx
  code/yarn.lock
  docs/api/main-config-features.md
  docs/configure/index.md
  docs/essentials/index.md
  docs/migration-guide.md
  docs/snippets/common/storybook-fallback-mdx-install.npm.js.mdx
  docs/snippets/common/storybook-fallback-mdx-install.pnpm.js.mdx
  docs/snippets/common/storybook-fallback-mdx-install.yarn.js.mdx
  docs/snippets/common/storybook-main-full-individual-essentials-config.js.mdx
  docs/snippets/common/storybook-main-full-individual-essentials-config.ts.mdx
  docs/snippets/common/storybook-mdx2-install.npm.js.mdx
  docs/snippets/common/storybook-mdx2-install.yarn.js.mdx
  scripts/tasks/sandbox-parts.ts
  scripts/verdaccio.yaml
Labels: BREAKING CHANGE, core, addon: docs, ci:normal

#25284 CLI: Fix regex used in upgrade command
  code/lib/cli/src/upgrade.test.ts
  code/lib/cli/src/upgrade.ts
  code/lib/core-events/src/errors/server-errors.ts
Labels: bug, cli, ci:normal

#25238 Core: Error on explicit actions while rendering or playing
  code/addons/docs/package.json
  code/addons/docs/template/stories/docspage/basic.stories.ts
  code/addons/interactions/src/Panel.tsx
  code/addons/interactions/src/components/Interaction.tsx
  code/addons/interactions/src/components/InteractionsPanel.tsx
  code/addons/interactions/src/preview.ts
  code/addons/interactions/src/utils.ts
  code/addons/interactions/template/stories/basics.stories.ts
  code/addons/interactions/template/stories/unhandled-errors.stories.ts
  code/e2e-tests/addon-interactions.spec.ts
  code/frameworks/angular/src/client/public-types.ts
  code/frameworks/angular/template/cli/button.stories.ts
  code/frameworks/nextjs/template/cli/js/Button.stories.js
  code/frameworks/nextjs/template/cli/ts-3-8/Button.stories.ts
  code/frameworks/nextjs/template/cli/ts-3-8/Header.tsx
  code/frameworks/nextjs/template/cli/ts-4-9/Button.stories.ts
  code/frameworks/nextjs/template/cli/ts-4-9/Header.tsx
  code/lib/cli/src/generators/baseGenerator.ts
  code/lib/cli/src/generators/configure.test.ts
  code/lib/cli/src/generators/configure.ts
  code/lib/core-events/src/errors/preview-errors.ts
  code/lib/core-events/src/index.ts
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/csf-tools/src/getStorySortParameter.test.ts
  code/lib/instrumenter/src/instrumenter.test.ts
  code/lib/instrumenter/src/instrumenter.ts
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.test.ts
  code/lib/preview-api/src/modules/preview-web/render/StoryRender.ts
  code/lib/preview-api/vitest.config.ts
  code/renderers/html/template/cli/js/Button.stories.js
  code/renderers/html/template/cli/ts-3-8/Button.stories.ts
  code/renderers/html/template/cli/ts-3-8/Header.ts
  code/renderers/html/template/cli/ts-4-9/Button.stories.ts
  code/renderers/html/template/cli/ts-4-9/Header.ts
  code/renderers/preact/template/cli/Button.stories.jsx
  code/renderers/react/src/public-types.test.tsx
  code/renderers/react/src/public-types.ts
  code/renderers/react/template/cli/js/Button.stories.js
  code/renderers/react/template/cli/ts-3-8/Button.stories.ts
  code/renderers/react/template/cli/ts-3-8/Header.tsx
  code/renderers/react/template/cli/ts-4-9/Button.stories.ts
  code/renderers/react/template/cli/ts-4-9/Header.tsx
  code/renderers/svelte/src/render.ts
  code/renderers/svelte/template/cli/ts-3-8/Button.stories.ts
  code/renderers/svelte/template/cli/ts-4-9/Button.stories.ts
  code/renderers/vue3/src/render.ts
  code/renderers/vue3/template/cli/js/Button.stories.js
  code/renderers/vue3/template/cli/ts-3-8/Button.stories.ts
  code/renderers/vue3/template/cli/ts-4-9/Button.stories.ts
  code/renderers/web-components/template/cli/ts-3-8/Header.ts
  code/renderers/web-components/template/cli/ts-3-8/Page.ts
  code/renderers/web-components/template/cli/ts-4-9/Header.ts
  code/renderers/web-components/template/cli/ts-4-9/Page.ts
  code/ui/manager/src/components/layout/Layout.stories.tsx
  code/ui/manager/src/globals/exports.ts
  code/yarn.lock
  scripts/release/__tests__/ensure-next-ahead.test.ts
  scripts/release/__tests__/label-patches.test.ts
  scripts/release/__tests__/version.test.ts
  scripts/release/__tests__/write-changelog.test.ts
Labels: api: stories, addon: actions, BREAKING CHANGE, addon: controls, ci:daily

#25442 React: Remove deprecated setGlobalConfig portable stories api
  MIGRATION.md
  code/renderers/react/src/testing-api.ts
Labels: react, BREAKING CHANGE, ci:normal, portable stories

#25441 Builder Vite: Remove StorybookViteConfig type in favor of StorybookConfig
  MIGRATION.md
  code/builders/builder-vite/src/index.ts
Labels: BREAKING CHANGE, builder-vite, ci:normal

#25455 Sandbox: Fix linked Svelte sandbox
  code/frameworks/svelte-vite/package.json
  code/package.json
  code/renderers/svelte/package.json
  code/yarn.lock
Labels: svelte, build, ci:normal

#25440 UI: Remove deprecated WithTooltip props
  MIGRATION.md
  code/addons/themes/src/theme-switcher.tsx
  code/ui/blocks/package.json
  code/ui/blocks/src/blocks/Story.stories.tsx
  code/ui/blocks/src/examples/SimpleSizeTest.tsx
  code/ui/components/package.json
  code/ui/components/src/components/tooltip/WithTooltip.stories.tsx
  code/ui/components/src/components/tooltip/WithTooltip.tsx
  code/yarn.lock
Labels: ui, BREAKING CHANGE, ci:normal

#25418 Addon Links: Remove LinkTo from direct import
  MIGRATION.md
  code/addons/links/src/index.ts
Labels: BREAKING CHANGE, addon: links, ci:normal

#25371 Docs: Composition adjustments for the removal of the extract function
  docs/sharing/storybook-composition.md
  docs/snippets/common/storybook-extract-result.json.mdx
  docs/snippets/common/storybook-extract-specific-version.npx.js.mdx
  docs/snippets/common/storybook-extract-specific-version.pnpm.js.mdx
  docs/snippets/common/storybook-extract-specific-version.yarn.js.mdx
  docs/snippets/common/storybook-storiesjsonflag-result.json.mdx
Labels: documentation, ci:docs

#25477 Types: Remove DecoratorFn, Story, ComponentStory, ComponentStoryObj, ComponentStoryFn and ComponentMeta types
  MIGRATION.md
  code/addons/interactions/src/components/Interaction.stories.tsx
  code/renderers/html/src/public-types.ts
  code/renderers/preact/src/public-types.ts
  code/renderers/react/src/public-types.ts
  code/renderers/server/src/public-types.ts
  code/renderers/vue3/src/public-types.ts
  code/renderers/web-components/src/public-types.ts
  code/ui/manager/src/components/preview/Preview.stories.tsx
  code/ui/manager/src/components/sidebar/Heading.stories.tsx
  code/ui/manager/src/settings/SettingsFooter.stories.tsx
  code/ui/manager/src/settings/shortcuts.stories.tsx
  test-storybooks/external-docs/components/AccountForm.stories.tsx
Labels: BREAKING CHANGE, typescript, ci:normal

#25476 Types: Remove Framework in favor of Renderer types
  MIGRATION.md
  code/frameworks/angular/src/client/types.ts
  code/frameworks/ember/src/client/preview/types.ts
  code/renderers/html/src/types.ts
  code/renderers/preact/src/types.ts
  code/renderers/react/src/types.ts
  code/renderers/server/src/types.ts
  code/renderers/vue3/src/types.ts
  code/renderers/web-components/src/types.ts
Labels: BREAKING CHANGE, typescript, ci:normal

#25467 Manager API: Remove deprecated navigateToSettingsPage method
  MIGRATION.md
  code/lib/manager-api/src/modules/settings.ts
  code/ui/manager/src/container/Menu.tsx
Labels: BREAKING CHANGE, core, ci:normal

#25468 Core: Remove storyIndexers in favor of experimental_indexers
  MIGRATION.md
  code/lib/core-server/src/build-static.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.test.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/core-server/src/utils/__tests__/index-extraction.test.ts
  code/lib/core-server/src/utils/getStoryIndexGenerator.ts
  code/lib/core-server/src/utils/stories-json.test.ts
  code/lib/types/src/modules/core-common.ts
  code/lib/types/src/modules/indexer.ts
Labels: BREAKING CHANGE, story index, ci:daily

#25469 Addon docs: Remove deprecated parameters
  MIGRATION.md
  code/addons/docs/docs/docspage.md
  code/lib/csf-tools/src/enrichCsf.test.ts
  code/ui/blocks/src/blocks/Source.tsx
  code/ui/blocks/src/blocks/Story.tsx
  code/ui/blocks/src/blocks/internal/InternalSource.stories.tsx
  code/ui/blocks/src/examples/SourceParameters.stories.tsx
Labels: BREAKING CHANGE, addon: docs, ci:normal

#25457 Doc blocks: Remove deprecated props from Description block
  MIGRATION.md
  code/ui/blocks/src/blocks/Description.tsx
  code/ui/blocks/src/blocks/internal/InternalDescription.stories.tsx
  docs/api/doc-block-description.md
Labels: BREAKING CHANGE, block: description, ci:normal

#25486 Core: Remove collapseAll and expandAll methods
  MIGRATION.md
  code/lib/manager-api/src/modules/channel.ts
Labels: BREAKING CHANGE, core, ci:normal

#25485 TypeScript: Remove deprecated addons module types
  code/lib/types/src/modules/addons.ts
Labels: BREAKING CHANGE, typescript, ci:normal

#25426 UI: Fix sidebar top and bottom addon slots
  code/ui/manager/src/container/Sidebar.tsx
Labels: bug, ui, ci:normal

#25356 Docs: Writing addons changes for peer-deps
  docs/addons/writing-addons.md
Labels: documentation, ci:docs

#25439 Docs: Update button-story-default-export-with-component.ts.mdx
  docs/snippets/web-components/button-story-default-export-with-component.ts.mdx
Labels: documentation, ci:docs

#25488 Documentation: Add note about Yarn 1 dropped support
  MIGRATION.md
Labels: documentation, BREAKING CHANGE, ci:docs

#25391 Storysource: Fix import error
  code/addons/storysource/preset.js
Labels: bug, patch:yes, addon: storysource, ci:normal

#25289 CLI: Never prompt for ESLint plugin
  code/lib/cli/src/generators/baseGenerator.ts
Labels: maintenance, cli, ci:normal

#25497 CSF: Fix type hint for StoryObj type
  code/frameworks/angular/src/client/public-types.ts
  code/renderers/html/src/public-types.ts
  code/renderers/preact/src/public-types.ts
  code/renderers/react/src/public-types.ts
  code/renderers/server/src/public-types.ts
  code/renderers/svelte/src/public-types.ts
  code/renderers/vue3/src/public-types.ts
  code/renderers/web-components/src/public-types.ts
Labels: documentation, typescript, csf, ci:docs

#25452 AutoTitle: Fix case-insensitive trailing duplicate
  code/lib/preview-api/src/modules/store/autoTitle.test.ts
  code/lib/preview-api/src/modules/store/autoTitle.ts
Labels: bug, csf, ci:normal

#25393 Docs: Misc cleanup on contributing guide
  CONTRIBUTING.md
Labels: documentation, ci:docs

#25265 CSF-tools: Allow type checking in storySort
  code/lib/csf-tools/src/getStorySortParameter.test.ts
  code/lib/csf-tools/src/getStorySortParameter.ts
Labels: bug, csf, ci:normal

#25489 Docs: Add Parameters API reference
  docs/api/doc-block-canvas.md
  docs/api/index.md
  docs/api/parameters.md
  docs/essentials/actions.md
  docs/essentials/backgrounds.md
  docs/essentials/controls.md
  docs/essentials/highlight.md
  docs/essentials/interactions.md
  docs/essentials/measure-and-outline.md
  docs/essentials/viewport.md
  docs/snippets/angular/addon-actions-action-function.ts.mdx
  docs/snippets/angular/component-story-custom-params.ts.mdx
  docs/snippets/angular/parameters-in-meta.ts.mdx
  docs/snippets/angular/parameters-in-story.ts.mdx
  docs/snippets/common/addon-actions-action-function.js.mdx
  docs/snippets/common/addon-actions-action-function.ts-4-9.mdx
  docs/snippets/common/addon-actions-action-function.ts.mdx
  docs/snippets/common/component-story-custom-params.js.mdx
  docs/snippets/common/component-story-custom-params.ts-4-9.mdx
  docs/snippets/common/parameters-in-meta.js.mdx
  docs/snippets/common/parameters-in-meta.ts-4-9.mdx
  docs/snippets/common/parameters-in-meta.ts.mdx
  docs/snippets/common/parameters-in-preview.js.mdx
  docs/snippets/common/parameters-in-preview.ts.mdx
  docs/snippets/common/parameters-in-story.js.mdx
  docs/snippets/common/parameters-in-story.ts-4-9.mdx
  docs/snippets/common/parameters-in-story.ts.mdx
  docs/snippets/common/preview-story-custom-params.js.mdx
  docs/snippets/common/preview-story-custom-params.ts.mdx
  docs/snippets/html/button-story-with-blue-args.js.mdx
  docs/snippets/html/button-story-with-blue-args.ts.mdx
  docs/snippets/react/button-story-with-blue-args.js.mdx
  docs/snippets/react/button-story-with-blue-args.ts-4-9.mdx
  docs/snippets/react/button-story-with-blue-args.ts.mdx
  docs/snippets/solid/button-story-with-blue-args.js.mdx
  docs/snippets/solid/button-story-with-blue-args.ts-4-9.mdx
  docs/snippets/solid/button-story-with-blue-args.ts.mdx
  docs/snippets/svelte/button-story-with-blue-args.js.mdx
  docs/snippets/svelte/button-story-with-blue-args.native-format.mdx
  docs/snippets/svelte/button-story-with-blue-args.ts-4-9.mdx
  docs/snippets/svelte/button-story-with-blue-args.ts.mdx
  docs/snippets/vue/button-story-with-blue-args.js.mdx
  docs/snippets/vue/button-story-with-blue-args.ts-4-9.mdx
  docs/snippets/web-components/addon-actions-action-function.js.mdx
  docs/snippets/web-components/addon-actions-action-function.ts.mdx
  docs/snippets/web-components/parameters-in-meta.js.mdx
  docs/snippets/web-components/parameters-in-meta.ts.mdx
  docs/snippets/web-components/parameters-in-story.js.mdx
  docs/snippets/web-components/parameters-in-story.ts.mdx
  docs/toc.js
  docs/writing-stories/index.md
  docs/writing-stories/parameters.md
Labels: documentation, ci:docs

#25514 Docs: Add Parameters API reference (latest)
  docs/api/doc-block-canvas.md
  docs/api/index.md
  docs/api/parameters.md
  docs/essentials/actions.md
  docs/essentials/backgrounds.md
  docs/essentials/controls.md
  docs/essentials/highlight.md
  docs/essentials/interactions.md
  docs/essentials/measure-and-outline.md
  docs/essentials/viewport.md
  docs/snippets/angular/addon-actions-action-function.ts.mdx
  docs/snippets/angular/component-story-custom-params.ts.mdx
  docs/snippets/angular/parameters-in-meta.ts.mdx
  docs/snippets/angular/parameters-in-story.ts.mdx
  docs/snippets/common/addon-actions-action-function.js.mdx
  docs/snippets/common/addon-actions-action-function.ts-4-9.mdx
  docs/snippets/common/addon-actions-action-function.ts.mdx
  docs/snippets/common/component-story-custom-params.js.mdx
  docs/snippets/common/component-story-custom-params.ts-4-9.mdx
  docs/snippets/common/parameters-in-meta.js.mdx
  docs/snippets/common/parameters-in-meta.ts-4-9.mdx
  docs/snippets/common/parameters-in-meta.ts.mdx
  docs/snippets/common/parameters-in-preview.js.mdx
  docs/snippets/common/parameters-in-preview.ts.mdx
  docs/snippets/common/parameters-in-story.js.mdx
  docs/snippets/common/parameters-in-story.ts-4-9.mdx
  docs/snippets/common/parameters-in-story.ts.mdx
  docs/snippets/common/preview-story-custom-params.js.mdx
  docs/snippets/common/preview-story-custom-params.ts.mdx
  docs/snippets/html/button-story-with-blue-args.js.mdx
  docs/snippets/html/button-story-with-blue-args.ts.mdx
  docs/snippets/react/button-story-with-blue-args.js.mdx
  docs/snippets/react/button-story-with-blue-args.ts-4-9.mdx
  docs/snippets/react/button-story-with-blue-args.ts.mdx
  docs/snippets/solid/button-story-with-blue-args.js.mdx
  docs/snippets/solid/button-story-with-blue-args.ts-4-9.mdx
  docs/snippets/solid/button-story-with-blue-args.ts.mdx
  docs/snippets/svelte/button-story-with-blue-args.js.mdx
  docs/snippets/svelte/button-story-with-blue-args.native-format.mdx
  docs/snippets/svelte/button-story-with-blue-args.ts-4-9.mdx
  docs/snippets/svelte/button-story-with-blue-args.ts.mdx
  docs/snippets/vue/button-story-with-blue-args.js.mdx
  docs/snippets/vue/button-story-with-blue-args.ts-4-9.mdx
  docs/snippets/web-components/addon-actions-action-function.js.mdx
  docs/snippets/web-components/addon-actions-action-function.ts.mdx
  docs/snippets/web-components/parameters-in-meta.js.mdx
  docs/snippets/web-components/parameters-in-meta.ts.mdx
  docs/snippets/web-components/parameters-in-story.js.mdx
  docs/snippets/web-components/parameters-in-story.ts.mdx
  docs/toc.js
  docs/writing-stories/index.md
  docs/writing-stories/parameters.md
Labels: documentation, ci:docs

#25516 Node.js: Update version requirement to >= 18.0.0
  code/frameworks/html-vite/package.json
  code/frameworks/nextjs/package.json
  code/frameworks/preact-vite/package.json
  code/frameworks/react-vite/package.json
  code/frameworks/svelte-vite/package.json
  code/frameworks/sveltekit/package.json
  code/frameworks/vue3-vite/package.json
  code/frameworks/web-components-vite/package.json
  docs/contribute/framework.md
  test-storybooks/ember-cli/package.json
Labels: BREAKING CHANGE, ci:normal

#25436 Core: Add migration notes about storiesOf removal
  MIGRATION.md
Labels: api: stories, documentation, core, ci:docs

#25474 CLI: Fix using wrong package managers in existing projects
  code/lib/cli/src/js-package-manager/JsPackageManagerFactory.test.ts
  code/lib/cli/src/js-package-manager/JsPackageManagerFactory.ts
  code/lib/cli/src/upgrade.ts
Labels: bug, cli, ci:normal, empathy

#25520 Docs: Doc Block Canvas fix link
  docs/api/doc-block-canvas.md
Labels: documentation, patch:yes, ci:docs

#25487 Core: Remove deprecated createChannel APIs
  MIGRATION.md
  code/lib/channels/src/index.ts
  code/lib/channels/src/postmessage/index.ts
  code/lib/channels/src/websocket/index.ts
  code/ui/manager/src/globals/exports.ts
Labels: BREAKING CHANGE, core, ci:normal

#25435 Manager: Add migration note about react 18
  MIGRATION.md
Labels: api: addons, documentation, ci:docs

#25406 CLI: Check optionalDependencies for storybook versions
  code/lib/cli/src/helpers.ts
Labels: bug, ci:normal

#25517 CLI: Versioned installation of monorepo packages
  code/lib/cli/package.json
  code/lib/cli/src/generators/NEXTJS/index.ts
  code/lib/cli/src/generators/REACT/index.ts
  code/lib/cli/src/generators/REACT_NATIVE/index.ts
  code/lib/cli/src/generators/WEBPACK_REACT/index.ts
  code/lib/cli/src/generators/baseGenerator.ts
  code/lib/cli/src/initiate.ts
  code/lib/cli/src/js-package-manager/JsPackageManager.ts
  code/yarn.lock
Labels: feature request, cli, ci:normal

#25461 Doc blocks: Remove deprecated props from Primary block
  MIGRATION.md
  code/lib/preview-api/src/modules/preview-web/docs-context/DocsContext.ts
  code/lib/types/src/modules/docs.ts
  code/ui/blocks/src/blocks/Primary.stories.tsx
  code/ui/blocks/src/blocks/Primary.tsx
  docs/api/doc-block-primary.md
Labels: BREAKING CHANGE, block: other, ci:normal

#25538 CLI: Add addon `remove` command
  code/lib/cli/src/generate.ts
  code/lib/cli/src/remove.ts
  code/lib/csf-tools/src/ConfigFile.test.ts
  code/lib/csf-tools/src/ConfigFile.ts
Labels: feature request, cli, ci:normal

#25547 Test: Fix user event being inlined by tsup by using an interface
  code/lib/test/src/testing-library.ts
Labels: bug, typescript, ci:normal

#25548 Maintenance: Pin TS to >= 4.2 as typefest 2 requires it
  code/frameworks/react-webpack5/package.json
  code/renderers/react/package.json
  code/yarn.lock
Labels: BREAKING CHANGE, typescript, ci:normal

#25536 API: Remove deprecations from manager and preview api
  MIGRATION.md
  code/lib/manager-api/src/lib/addons.ts
  code/lib/manager-api/src/modules/addons.ts
  code/lib/manager-api/src/tests/addons.test.js
  code/lib/preview-api/src/modules/addons/main.ts
  code/lib/preview-api/src/modules/preview-web/Preview.tsx
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.integration.test.ts
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.test.ts
  code/lib/preview-api/src/modules/store/hooks.ts
  code/lib/types/src/modules/api.ts
  code/ui/manager/src/components/preview/Preview.tsx
  code/ui/manager/src/components/preview/Toolbar.tsx
  code/ui/manager/src/container/Panel.tsx
  code/ui/manager/src/runtime.ts
Labels: BREAKING CHANGE, ci:daily

#25551 Docs: Add callout pointing to parameters API reference
  docs/writing-stories/parameters.md
Labels: documentation, ci:docs

#25555 Docs: Mention parameters api (latest)
  docs/writing-stories/parameters.md
Labels: documentation, ci:docs

#25460 Doc blocks: Remove deprecated props from Story block
  MIGRATION.md
  code/addons/docs/docs/props-tables.md
  code/ui/blocks/src/blocks/Canvas.tsx
  code/ui/blocks/src/blocks/Story.tsx
  code/ui/blocks/src/blocks/internal/InternalCanvas.stories.tsx
  code/ui/blocks/src/blocks/internal/InternalStory.stories.tsx
  code/ui/blocks/src/typings.d.ts
  docs/api/doc-block-story.md
Labels: BREAKING CHANGE, block: other, ci:normal

#25417 Addon Controls: Remove unused hideNoControlsWarning type
  MIGRATION.md
  code/addons/controls/src/ControlsPanel.tsx
  docs/essentials/controls.md
  docs/snippets/angular/button-story-hide-nocontrols-warning.ts.mdx
  docs/snippets/common/button-story-hide-nocontrols-warning.js.mdx
  docs/snippets/common/button-story-hide-nocontrols-warning.ts-4-9.mdx
  docs/snippets/common/button-story-hide-nocontrols-warning.ts.mdx
  docs/snippets/web-components/button-story-hide-nocontrols-warning.js.mdx
  docs/snippets/web-components/button-story-hide-nocontrols-warning.ts.mdx
Labels: ci: do not merge, maintenance, addon: controls, ci:normal

#25558 Angular: Remove deprecated Story type
  code/frameworks/angular/src/client/public-types.ts
Labels: angular, BREAKING CHANGE, ci:normal

#25301 Addon Remark-GFM: Upgrade remark-gfm
  code/addons/gfm/package.json
  code/addons/gfm/src/index.ts
  code/lib/codemod/package.json
  code/lib/codemod/src/transforms/mdx-to-csf.ts
  code/yarn.lock
Labels: BREAKING CHANGE, ci:normal

#25481 Webpack: Remove deprecated standalone webpackConfig option
  code/builders/builder-webpack5/src/presets/custom-webpack-preset.ts
Labels: BREAKING CHANGE, builder-webpack5, ci:normal

#25214 Core: Prevent stories lookup in node_modules
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/lib/core-webpack/src/to-importFn.ts
  code/lib/csf-plugin/src/index.ts
Labels: bug, csf, builder-webpack5, ci:daily

#25459 Doc blocks: Remove deprecated props from Source block
  MIGRATION.md
  code/ui/blocks/src/blocks/Canvas.tsx
  code/ui/blocks/src/blocks/Source.tsx
  code/ui/blocks/src/blocks/index.ts
  code/ui/blocks/src/blocks/internal/InternalCanvas.stories.tsx
  code/ui/blocks/src/blocks/internal/InternalSource.stories.tsx
  docs/api/doc-block-source.md
Labels: BREAKING CHANGE, block: source, ci:normal

#25568 Docs: Add missing link to play function in Typescript guide
  docs/writing-stories/typescript.md
Labels: documentation, patch:yes, ci:docs

#25560 CLI: Sandbox script should use current version to init
  code/lib/cli/src/generate.ts
  code/lib/cli/src/initiate.ts
  code/lib/cli/src/sandbox.ts
  scripts/tasks/sandbox-parts.ts
Labels: feature request, cli, ci:normal

#25553 CLI: Versioned upgrade of monorepo packages
  code/frameworks/nextjs/README.md
  code/frameworks/preact-vite/README.md
  code/frameworks/sveltekit/README.md
  code/lib/cli/src/automigrate/fixes/builder-vite.ts
  code/lib/cli/src/automigrate/helpers/checkWebpack5Builder.ts
  code/lib/cli/src/generate.ts
  code/lib/cli/src/js-package-manager/JsPackageManager.ts
  code/lib/cli/src/upgrade.test.ts
  code/lib/cli/src/upgrade.ts
  code/lib/core-events/src/errors/server-errors.ts
  code/lib/core-server/src/utils/update-check.ts
Labels: maintenance, cli, ci:normal

#25296 Addon-actions: Fix module resolution for react-native
  code/addons/actions/package.json
Labels: maintenance, addon: actions, react-native, ci:normal

#25537 Indexer: Add metaTags and make autodocs inherit them
  code/e2e-tests/tags.spec.ts
  code/e2e-tests/util.ts
  code/lib/core-server/src/presets/common-manager.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/core-server/src/utils/__tests__/index-extraction.test.ts
  code/lib/csf-tools/src/CsfFile.test.ts
  code/lib/csf-tools/src/CsfFile.ts
  code/lib/preview-api/template/stories/tags.stories.ts
  code/lib/preview-api/template/stories/test-only-tag.stories.ts
  code/lib/types/src/modules/indexer.ts
  code/ui/manager/src/runtime.ts
Labels: maintenance, story index, tags, ci:normal

#25576 Test: Upgrade test package to vitest 1.1.3
  code/.yarn/patches/@vitest-expect-npm-1.1.3-2062bf533f.patch
  code/lib/test/package.json
  code/lib/test/src/spy.ts
  code/package.json
  code/yarn.lock
Labels: maintenance, ci:normal

#25578 Remove deprecated properties from manager-api
  code/lib/manager-api/src/lib/stories.ts
  code/lib/manager-api/src/tests/stories.test.ts
  code/lib/manager-api/src/tests/url.test.js
  code/lib/types/src/modules/api-stories.ts
  code/ui/manager/src/components/mobile/navigation/MobileNavigation.stories.tsx
  code/ui/manager/src/components/preview/Preview.mockdata.tsx
  code/ui/manager/src/components/sidebar/SearchResults.tsx
  code/ui/manager/src/components/sidebar/Tree.stories.tsx
  code/ui/manager/src/components/sidebar/Tree.tsx
  code/ui/manager/src/components/sidebar/__tests__/Sidebar.test.tsx
  code/ui/manager/src/components/sidebar/useHighlighted.ts
Labels: maintenance, ci:normal

#25328 UI: Add configurable tags-based exclusion from sidebar/autodocs
  code/addons/docs/src/preview.ts
  code/addons/docs/src/typings.d.ts
  code/builders/builder-manager/src/index.ts
  code/builders/builder-manager/src/utils/data.ts
  code/builders/builder-manager/src/utils/template.ts
  code/builders/builder-vite/input/iframe.html
  code/builders/builder-vite/src/transform-iframe-html.ts
  code/builders/builder-webpack5/src/preview/iframe-webpack.config.ts
  code/e2e-tests/tags.spec.ts
  code/e2e-tests/util.ts
  code/lib/core-server/package.json
  code/lib/core-server/src/presets/common-manager.ts
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/core-server/src/typings.d.ts
  code/lib/core-server/src/utils/StoryIndexGenerator.ts
  code/lib/core-server/src/utils/__tests__/index-extraction.test.ts
  code/lib/csf-tools/src/CsfFile.test.ts
  code/lib/csf-tools/src/CsfFile.ts
  code/lib/manager-api/src/typings.d.ts
  code/lib/preview-api/src/typings.d.ts
  code/lib/preview-api/template/stories/tags.stories.ts
  code/lib/preview-api/template/stories/test-only-tag.stories.ts
  code/lib/types/src/modules/core-common.ts
  code/lib/types/src/modules/indexer.ts
  code/ui/blocks/src/blocks/Stories.tsx
  code/ui/manager/src/runtime.ts
  code/yarn.lock
Labels: feature request, ui, addon: docs, tags, ci:normal

#25587 UI: Fix menu icon on the sidebar
  code/ui/manager/src/components/sidebar/Menu.tsx
Labels: ui, maintenance, ci:daily

#25599 Build: Update lock file
  code/yarn.lock
Labels: build, ci:normal

#25574 CLI: Sandbox script should use current version to init (main)
  code/lib/cli/src/generate.ts
  code/lib/cli/src/initiate.ts
  code/lib/cli/src/sandbox.ts
  scripts/tasks/sandbox-parts.ts
Labels: feature request, cli, ci:normal

#25573 CLI: Versioned upgrade of monorepo packages (main)
  code/frameworks/nextjs/README.md
  code/frameworks/preact-vite/README.md
  code/frameworks/sveltekit/README.md
  code/lib/cli/src/automigrate/fixes/builder-vite.ts
  code/lib/cli/src/automigrate/helpers/checkWebpack5Builder.ts
  code/lib/cli/src/generate.ts
  code/lib/cli/src/initiate.ts
  code/lib/cli/src/js-package-manager/JsPackageManager.ts
  code/lib/cli/src/sandbox.ts
  code/lib/cli/src/upgrade.test.ts
  code/lib/cli/src/upgrade.ts
  code/lib/core-events/src/errors/server-errors.ts
  code/lib/core-server/src/utils/update-check.ts
  scripts/tasks/sandbox-parts.ts
Labels: maintenance, cli, ci:normal

#25564 Telejson: Update stringify options in codebase
  code/frameworks/angular/src/client/angular-beta/AbstractRenderer.ts
  code/frameworks/angular/template/stories/basics/component-with-provider/di.component.ts
  code/lib/channels/src/postmessage/index.ts
  code/lib/channels/src/websocket/index.ts
  code/ui/blocks/src/blocks/SourceContainer.tsx
Labels: BREAKING CHANGE, ci:normal

#25596 CLI: Support upgrading to canary versions
  .github/workflows/canary-release-pr.yml
  code/lib/cli/src/upgrade.ts
Labels: maintenance, cli, ci:normal

#25600 CLI: Fix sandbox command versioning
  code/lib/cli/src/sandbox.ts
  code/package.json
  code/yarn.lock
Labels: feature request, cli, ci:normal

#25590 ConfigFile: Fix export specifiers
  code/lib/csf-tools/src/ConfigFile.test.ts
  code/lib/csf-tools/src/ConfigFile.ts
  code/lib/csf-tools/src/getStorySortParameter.ts
Labels: bug, patch:yes, csf, ci:normal

#25607 Preset: Remove deprecated config preset
  MIGRATION.md
  code/lib/core-server/src/presets/common-preset.ts
  code/lib/types/src/modules/core-common.ts
Labels: BREAKING CHANGE, ci:normal

#25203 Next.js: Pass jsConfig to SWC Loader and load config with defaults
  .circleci/config.yml
  code/frameworks/nextjs/src/config/webpack.ts
  code/frameworks/nextjs/src/preset.ts
  code/frameworks/nextjs/src/swc/loader.ts
  code/frameworks/nextjs/src/utils.ts
  code/lib/cli/src/sandbox-templates.ts
Labels: bug, nextjs, ci:daily

#25540 Webpack5: Make export-order-loader compatible with both esm and cjs
  code/builders/builder-webpack5/package.json
  code/builders/builder-webpack5/src/loaders/export-order-loader.ts
  code/yarn.lock
Labels: bug, patch:yes, builder-webpack5, ci:daily

#25613 Sandboxes: Remove inDevelopment flag from internal webpack5-babel template
  .circleci/config.yml
  code/lib/cli/src/sandbox-templates.ts
Labels: build, ci:daily

#25541 Sandboxes: Update wait-on command to use TCP instead of HTTP
  .github/workflows/generate-sandboxes-main.yml
  .github/workflows/generate-sandboxes-next.yml
  scripts/tasks/run-registry.ts
  scripts/tasks/serve.ts
Labels: bug, ci:normal

#25526 CLI: Support version specifiers in `init`, `upgrade` and `sandbox`
  .github/workflows/canary-release-pr.yml
  code/frameworks/nextjs/README.md
  code/frameworks/preact-vite/README.md
  code/frameworks/sveltekit/README.md
  code/lib/cli/package.json
  code/lib/cli/src/automigrate/fixes/builder-vite.ts
  code/lib/cli/src/automigrate/helpers/checkWebpack5Builder.ts
  code/lib/cli/src/generate.ts
  code/lib/cli/src/generators/NEXTJS/index.ts
  code/lib/cli/src/generators/REACT/index.ts
  code/lib/cli/src/generators/REACT_NATIVE/index.ts
  code/lib/cli/src/generators/REACT_SCRIPTS/index.ts
  code/lib/cli/src/generators/WEBPACK_REACT/index.ts
  code/lib/cli/src/generators/baseGenerator.ts
  code/lib/cli/src/initiate.ts
  code/lib/cli/src/js-package-manager/JsPackageManager.ts
  code/lib/cli/src/sandbox.ts
  code/lib/cli/src/upgrade.test.ts
  code/lib/cli/src/upgrade.ts
  code/lib/cli/src/versions.ts
  code/lib/core-events/src/errors/server-errors.ts
  code/lib/core-server/src/utils/update-check.ts
  code/package.json
  code/yarn.lock
  node_modules/.yarn-state.yml
  scripts/tasks/sandbox-parts.ts
Labels: feature request, cli, ci:normal

#25617 Build: Remove internal resolutions except storybook/theming
  code/package.json
  code/yarn.lock
Labels: build, ci:normal

#25530 Docs: Remove `key` from addon render docs
  docs/addons/addons-api.md
  docs/snippets/common/storybook-addon-panel-initial.js.mdx
Labels: documentation, ci:docs

#24982 Angular: Remove cached NgModules and introduce a global queue during bootstrapping
  code/frameworks/angular/src/client/angular-beta/AbstractRenderer.ts
  code/frameworks/angular/src/client/angular-beta/CanvasRenderer.ts
  code/frameworks/angular/src/client/angular-beta/DocsRenderer.ts
  code/frameworks/angular/src/client/angular-beta/RendererFactory.test.ts
  code/frameworks/angular/src/client/angular-beta/StorybookWrapperComponent.ts
  code/frameworks/angular/src/client/angular-beta/utils/BootstrapQueue.test.ts
  code/frameworks/angular/src/client/angular-beta/utils/BootstrapQueue.ts
Labels: bug, angular, ci:normal

#25623 Docs: Fix migration note
  MIGRATION.md
Labels: documentation, ci:docs

#25591 React: Refactor RSC out of Next
  MIGRATION.md
  code/frameworks/nextjs/README.md
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/preset.ts
  code/frameworks/nextjs/src/rsc/decorator.tsx
  code/frameworks/nextjs/src/rsc/preview.tsx
  code/lib/cli/src/sandbox-templates.ts
  code/lib/types/src/modules/core-common.ts
  code/renderers/react/package.json
  code/renderers/react/src/entry-preview-rsc.tsx
  code/renderers/react/src/preset.ts
  code/renderers/react/src/typings.d.ts
  code/yarn.lock
Labels: react, BREAKING CHANGE, nextjs, ci:normal

#25628 NextJS: Fix RSC refactor docs
  code/frameworks/nextjs/README.md
Labels: documentation, ci:docs

#25634 React: Fix acorn ecma version warning
  code/renderers/react/src/docs/lib/inspection/acornParser.ts
Labels: maintenance, react, patch:yes, ci:normal

#25615 MDX: Replace remark by rehype plugins
  code/addons/docs/package.json
  code/addons/docs/src/plugins/mdx-plugin.ts
  code/addons/docs/src/preset.ts
  code/addons/docs/src/typings.d.ts
  code/yarn.lock
Labels: maintenance, ci:normal

#25622 Webpack: Use `node:assert` used in `export-order-loader`
  code/builders/builder-webpack5/src/loaders/export-order-loader.ts
Labels: maintenance, builder-webpack5, ci:normal

#25643 Theming: Fix export of module augmentation
  code/lib/theming/src/index.ts
Labels: bug, ci:normal

#25642 CLI: Fix existing version detection in `upgrade`
  code/lib/cli/src/upgrade.ts
  code/lib/telemetry/src/package-json.ts
Labels: bug, cli, patch:yes, ci:normal

#25614 Blocks: Support `subcomponents` in `ArgTypes` and `Controls`, remove `ArgsTable` block
  MIGRATION.md
  code/addons/docs/template/stories/docspage/description.stories.ts
  code/lib/preview-api/src/modules/store/csf/processCSFFile.ts
  code/ui/.storybook/main.ts
  code/ui/blocks/src/blocks/ArgTypes.stories.tsx
  code/ui/blocks/src/blocks/ArgTypes.tsx
  code/ui/blocks/src/blocks/ArgsTable.tsx
  code/ui/blocks/src/blocks/Controls.stories.tsx
  code/ui/blocks/src/blocks/Controls.tsx
  code/ui/blocks/src/blocks/index.ts
  code/ui/blocks/src/components/ArgsTable/TabbedArgsTable.tsx
  code/ui/blocks/src/examples/ArgTypesParameters.stories.tsx
  code/ui/blocks/src/examples/ArgTypesParameters.tsx
  code/ui/blocks/src/examples/ArgTypesWithSubcomponentsParameters.stories.tsx
  code/ui/blocks/src/examples/ControlsParameters.stories.tsx
  code/ui/blocks/src/examples/ControlsParameters.tsx
  code/ui/blocks/src/examples/ControlsWithSubcomponentsParameters.stories.tsx
Labels: feature request, block: argstable, ci:normal

#25550 Docs: Add details for React version used by addon-docs
  docs/addons/addon-types.md
  docs/addons/addons-api.md
  docs/addons/integration-catalog.md
  docs/addons/writing-addons.md
  docs/builders/builder-api.md
  docs/builders/vite.md
  docs/builders/webpack.md
  docs/contribute/RFC.md
  docs/contribute/code.md
  docs/contribute/documentation-updates.md
  docs/contribute/framework.md
  docs/contribute/new-snippets.md
  docs/writing-docs/autodocs.md
  docs/writing-docs/build-documentation.md
  docs/writing-docs/doc-blocks.md
  docs/writing-docs/mdx.md
Labels: documentation, ci:docs

#25644 Test: Fix flaky test
  code/frameworks/angular/src/client/angular-beta/utils/BootstrapQueue.test.ts
Labels: build, ci:normal

#25660 Add Babel migration note to addon migration guide
  docs/addons/addon-migration-guide.md
Labels: api: addons, documentation, ci:docs

#25663 Blocks: Fix Controls block not having controls
  code/ui/blocks/src/blocks/Controls.tsx
  code/ui/blocks/src/components/ArgsTable/TabbedArgsTable.tsx
Labels: bug, addon: docs, ci:normal

#25609 Docs: Removal of CSF in MDX format
  code/addons/themes/docs/getting-started/bootstrap.md
  code/addons/themes/docs/getting-started/emotion.md
  code/addons/themes/docs/getting-started/material-ui.md
  code/addons/themes/docs/getting-started/styled-components.md
  code/addons/themes/docs/getting-started/tailwind.md
  docs/api/main-config-stories.md
  docs/snippets/common/component-story-mdx-embed.mdx.mdx
  docs/snippets/common/component-story-mdx-reference-storyid.mdx.mdx
  docs/snippets/common/main-config-features-legacy-mdx-1.js.mdx
  docs/snippets/common/main-config-features-legacy-mdx-1.ts.mdx
  docs/snippets/common/mdx-canvas-doc-block.mdx.mdx
  docs/snippets/common/mdx-changelog-stories.mdx.mdx
  docs/snippets/common/my-component-with-story-content.mdx.mdx
  docs/snippets/common/storybook-automigration-mdx-legacy.npm.mdx
  docs/snippets/common/storybook-automigration-mdx-legacy.pnpm.mdx
  docs/snippets/common/storybook-automigration-mdx-legacy.yarn.mdx
  docs/snippets/common/storybook-main-register-essentials-addon.js.mdx
  docs/snippets/common/storybook-main-register-essentials-addon.ts.mdx
  docs/snippets/common/storybook-migration-mdx-stories.npm.mdx
  docs/snippets/common/storybook-migration-mdx-stories.pnpm.mdx
  docs/snippets/common/storybook-migration-mdx-stories.yarn.mdx
  docs/snippets/html/checkbox-story.mdx.mdx
  docs/snippets/preact/histogram-story.mdx.mdx
  docs/writing-docs/mdx.md
Labels: documentation, ci:docs

#25670 Next.js: Fix SWC mode activation
  code/frameworks/nextjs/src/preset.ts
Labels: bug, ci:daily

#25528 Docs: Vue 3 Unit testing changes for Portable stories
  docs/snippets/vue/component-test-with-testing-library.3.js.mdx
  docs/snippets/vue/component-test-with-testing-library.3.ts.mdx
  docs/snippets/vue/multiple-stories-test.3.js.mdx
  docs/snippets/vue/multiple-stories-test.3.ts.mdx
  docs/snippets/vue/override-compose-story-test.compose-stories.3.js.mdx
  docs/snippets/vue/override-compose-story-test.compose-stories.3.ts.mdx
  docs/snippets/vue/override-compose-story-test.compose-story.3.js.mdx
  docs/snippets/vue/override-compose-story-test.compose-story.3.ts.mdx
  docs/snippets/vue/reuse-args-test.3.js.mdx
  docs/snippets/vue/reuse-args-test.3.ts.mdx
  docs/snippets/vue/single-story-test.3.js.mdx
  docs/snippets/vue/single-story-test.3.ts.mdx
  docs/snippets/vue/storybook-testing-addon-optional-config.js.mdx
  docs/writing-tests/stories-in-unit-tests.md
Labels: documentation, ci:docs

#25681 Docs: Updates shortcuts
  docs/essentials/viewport.md
  docs/get-started/storybook-keyboard-shortcuts.png
Labels: documentation, ci:docs

#25589 Docs: Adds commands to the documentation
  docs/addons/install-addons.md
  docs/api/cli-options.md
  docs/configure/upgrading.md
  docs/snippets/common/storybook-add-command.npm.js.mdx
  docs/snippets/common/storybook-add-command.pnpm.js.mdx
  docs/snippets/common/storybook-add-command.yarn.js.mdx
  docs/snippets/common/storybook-doctor.npm.js.mdx
  docs/snippets/common/storybook-doctor.pnpm.js.mdx
  docs/snippets/common/storybook-doctor.yarn.js.mdx
  docs/snippets/common/storybook-main-preset-config.js.mdx
  docs/snippets/common/storybook-main-preset-config.ts.mdx
  docs/snippets/common/storybook-preset-configuration.js.mdx
  docs/snippets/common/storybook-preset-configuration.ts.mdx
  docs/snippets/common/storybook-preset-scss.webpack-4.js.mdx
  docs/snippets/common/storybook-preset-scss.webpack-5.js.mdx
  docs/snippets/common/storybook-remove-command.npm.js.mdx
  docs/snippets/common/storybook-remove-command.pnpm.js.mdx
  docs/snippets/common/storybook-remove-command.yarn.js.mdx
Labels: documentation, ci:docs

#25654 Test: Refactor integration tests for PreviewWeb module
  code/lib/preview-api/src/modules/preview-web/PreviewWeb.integration.test.ts
Labels: build, ci:normal

#25618 Docs: Update addon migration guide for 8.0
  docs/addons/addon-migration-guide.md
Labels: documentation, ci:docs

#25675 Docs: Remove mentions of MDX 2
  docs/faq.md
  docs/writing-docs/autodocs.md
  docs/writing-docs/mdx.md
Labels: documentation, ci:docs

#25619 UI: Remove `defaultProps` from `Link` component
  code/ui/components/src/components/typography/link/link.tsx
Labels: ui, maintenance, ci:normal

#25708 Codemods: Add support for multiple file extensions in runCodemod function
  code/lib/codemod/src/index.ts
Labels: bug, patch:yes, ci:normal

#25712 Addons: Remove Node.js internal aliasing for Node builds
  code/addons/interactions/package.json
  scripts/prepare/addon-bundle.ts
Labels: bug, ci:daily

#25717 Automigration: Add removeReactDependency fix to allFixes array
  code/lib/cli/src/automigrate/fixes/index.ts
  code/lib/cli/src/automigrate/fixes/prompt-remove-react.ts
Labels: bug, ci:normal

#25652 Next.js: Add webpack aliases for OpenTelemetry API
  code/frameworks/nextjs/src/aliases/webpack.ts
  code/frameworks/nextjs/src/preset.ts
Labels: bug, ci:daily

#25723 CLI: Update CLI option descriptions
  code/lib/cli/src/generate.ts
Labels: documentation, ci:normal

#25443 Vue3: Introduce portable stories API
  code/renderers/vue3/package.json
  code/renderers/vue3/src/__tests__/button.css
  code/renderers/vue3/src/__tests__/composeStories/Button.stories.ts
  code/renderers/vue3/src/__tests__/composeStories/Button.vue
  code/renderers/vue3/src/__tests__/composeStories/__snapshots__/internals.test.tsx.snap
  code/renderers/vue3/src/__tests__/composeStories/composeStories.test.ts
  code/renderers/vue3/src/__tests__/composeStories/internals.test.tsx
  code/renderers/vue3/src/index.ts
  code/renderers/vue3/src/testing-api.ts
  code/vitest-setup.ts
  code/yarn.lock
  docs/snippets/vue/component-test-with-testing-library.3.js.mdx
  docs/snippets/vue/component-test-with-testing-library.3.ts.mdx
  docs/snippets/vue/multiple-stories-test.3.js.mdx
  docs/snippets/vue/multiple-stories-test.3.ts.mdx
  docs/snippets/vue/override-compose-story-test.compose-stories.3.js.mdx
  docs/snippets/vue/override-compose-story-test.compose-stories.3.ts.mdx
  docs/snippets/vue/override-compose-story-test.compose-story.3.js.mdx
  docs/snippets/vue/override-compose-story-test.compose-story.3.ts.mdx
  docs/snippets/vue/reuse-args-test.3.js.mdx
  docs/snippets/vue/reuse-args-test.3.ts.mdx
  docs/snippets/vue/single-story-test.3.js.mdx
  docs/snippets/vue/single-story-test.3.ts.mdx
  docs/snippets/vue/storybook-testing-addon-optional-config.js.mdx
  docs/snippets/vue/storybook-testing-library-install.npm.js.mdx
  docs/snippets/vue/storybook-testing-library-install.pnpm.js.mdx
  docs/snippets/vue/storybook-testing-library-install.yarn.js.mdx
  docs/writing-tests/stories-in-unit-tests.md
Labels: feature request, vue3, ci:normal, portable stories

#25219 Vue3: Fix support for `onX` and empty attributes in Show Code
  code/renderers/vue3/src/docs/sourceDecorator.test.ts
  code/renderers/vue3/src/docs/utils.ts
Labels: bug, addon: docs, vue3, ci:normal

#25534 Docs: Add Next.js framework doc
  code/frameworks/nextjs/README.md
  docs/get-started/nextjs.md
  docs/snippets/react/nextjs-add-framework.js.mdx
  docs/snippets/react/nextjs-add-framework.ts.mdx
  docs/snippets/react/nextjs-app-directory-in-meta.js.mdx
  docs/snippets/react/nextjs-app-directory-in-meta.ts-4-9.mdx
  docs/snippets/react/nextjs-app-directory-in-meta.ts.mdx
  docs/snippets/react/nextjs-app-directory-in-preview.js.mdx
  docs/snippets/react/nextjs-app-directory-in-preview.ts.mdx
  docs/snippets/react/nextjs-configure-svgr.js.mdx
  docs/snippets/react/nextjs-configure-svgr.ts.mdx
  docs/snippets/react/nextjs-image-static-dirs.js.mdx
  docs/snippets/react/nextjs-image-static-dirs.ts.mdx
  docs/snippets/react/nextjs-install.npm.js.mdx
  docs/snippets/react/nextjs-install.pnpm.js.mdx
  docs/snippets/react/nextjs-install.yarn.js.mdx
  docs/snippets/react/nextjs-navigation-override-in-story.js.mdx
  docs/snippets/react/nextjs-navigation-override-in-story.ts-4-9.mdx
  docs/snippets/react/nextjs-navigation-override-in-story.ts.mdx
  docs/snippets/react/nextjs-navigation-push-override-in-preview.js.mdx
  docs/snippets/react/nextjs-navigation-push-override-in-preview.ts.mdx
  docs/snippets/react/nextjs-navigation-segments-for-use-params-override-in-meta.js.mdx
  docs/snippets/react/nextjs-navigation-segments-for-use-params-override-in-meta.ts-4-9.mdx
  docs/snippets/react/nextjs-navigation-segments-for-use-params-override-in-meta.ts.mdx
  docs/snippets/react/nextjs-navigation-segments-override-in-meta.js.mdx
  docs/snippets/react/nextjs-navigation-segments-override-in-meta.ts-4-9.mdx
  docs/snippets/react/nextjs-navigation-segments-override-in-meta.ts.mdx
  docs/snippets/react/nextjs-remove-addons.js.mdx
  docs/snippets/react/nextjs-remove-addons.ts.mdx
  docs/snippets/react/nextjs-router-override-in-story.js.mdx
  docs/snippets/react/nextjs-router-override-in-story.ts-4-9.mdx
  docs/snippets/react/nextjs-router-override-in-story.ts.mdx
  docs/snippets/react/nextjs-router-push-override-in-preview.js.mdx
  docs/snippets/react/nextjs-router-push-override-in-preview.ts.mdx
  docs/snippets/react/rsc-feature-flag.js.mdx
  docs/snippets/react/rsc-feature-flag.ts.mdx
  docs/snippets/react/rsc-parameter-in-meta.js.mdx
  docs/snippets/react/rsc-parameter-in-meta.ts-4-9.mdx
  docs/snippets/react/rsc-parameter-in-meta.ts.mdx
  docs/toc.js
Labels: documentation, ci:docs

#25588 UI: Remove use of React.FC in components
  code/ui/components/src/components/ActionBar/ActionBar.tsx
  code/ui/components/src/components/Badge/Badge.tsx
  code/ui/components/src/components/ErrorFormatter/ErrorFormatter.tsx
  code/ui/components/src/components/Loader/Loader.tsx
  code/ui/components/src/components/ScrollArea/ScrollArea.tsx
  code/ui/components/src/components/bar/bar.tsx
  code/ui/components/src/components/bar/button.tsx
  code/ui/components/src/components/bar/separator.tsx
  code/ui/components/src/components/brand/StorybookIcon.tsx
  code/ui/components/src/components/brand/StorybookLogo.tsx
  code/ui/components/src/components/form/field/field.tsx
  code/ui/components/src/components/form/input/input.tsx
  code/ui/components/src/components/icon/icon.tsx
  code/ui/components/src/components/placeholder/placeholder.tsx
  code/ui/components/src/components/spaced/Spaced.tsx
  code/ui/components/src/components/syntaxhighlighter/syntaxhighlighter.tsx
  code/ui/components/src/components/tooltip/ListItem.tsx
  code/ui/components/src/components/tooltip/TooltipLinkList.tsx
  code/ui/components/src/components/tooltip/TooltipMessage.tsx
  code/ui/components/src/components/tooltip/TooltipNote.tsx
  code/ui/components/src/components/tooltip/WithTooltip.tsx
  code/ui/components/src/components/typography/elements/Link.tsx
  code/ui/components/src/components/typography/link/link.tsx
Labels: bug, ci:normal

#25658 Docs: Document CLI version support
  docs/api/cli-options.md
  docs/configure/upgrading.md
  docs/get-started/install.md
  docs/snippets/common/storybook-upgrade-prerelease.npm.js.mdx
  docs/snippets/common/storybook-upgrade-prerelease.pnpm.js.mdx
  docs/snippets/common/storybook-upgrade-prerelease.yarn.js.mdx
Labels: documentation, patch:yes, ci:docs

#25300 Docs: Fix types in custom stories implementation snippet
  docs/snippets/common/main-config-stories-with-logic.ts.mdx
Labels: documentation, patch:yes, ci:docs

#25569 Docs: Update migration guide for 8.0
  docs/migration-guide.md
  docs/snippets/common/storybook-migrate-csf-2-to-3.npm.js.mdx
  docs/snippets/common/storybook-migrate-csf-2-to-3.pnpm.js.mdx
  docs/snippets/common/storybook-migrate-csf-2-to-3.yarn.js.mdx
  docs/snippets/common/storybook-migrate-mdx-to-csf.npm.js.mdx
  docs/snippets/common/storybook-migrate-mdx-to-csf.pnpm.js.mdx
  docs/snippets/common/storybook-migrate-mdx-to-csf.yarn.js.mdx
  docs/snippets/common/storybook-migrate-stories-of-to-csf.npm.js.mdx
  docs/snippets/common/storybook-migrate-stories-of-to-csf.pnpm.js.mdx
  docs/snippets/common/storybook-migrate-stories-of-to-csf.yarn.js.mdx
  docs/snippets/common/storybook-upgrade-to-prior-major.npm.js.mdx
  docs/snippets/common/storybook-upgrade-to-prior-major.pnpm.js.mdx
  docs/snippets/common/storybook-upgrade-to-prior-major.yarn.js.mdx
  docs/toc.js
Labels: documentation, ci:docs

#25755 Next.js: Add logger statements for compiler selection
  code/frameworks/nextjs/src/preset.ts
Labels: maintenance, ci:normal

#25678 React-Native: Fixes for v8 compatibility
  code/lib/manager-api/package.json
  code/lib/preview-api/package.json
  code/lib/preview-api/src/index.ts
  code/lib/preview-api/src/modules/preview-web/Preview.tsx
Labels: maintenance, react-native, ci:normal

#25771 Docs: Update TOC for addon-migration-guide
  docs/toc.js
Labels: documentation, ci:docs

#25774 License: Transfer copyright from Kadira to Storybook
  LICENSE
Labels: documentation, patch:yes, ci:docs

#25090 Documentation: Add guide postcss plugin for prefers-color-scheme media
  code/addons/themes/README.md
  code/addons/themes/docs/getting-started/postcss.md
Labels: documentation, patch:yes, ci:docs

#23606 CodeOwners: Add Owners for add-themes
  CODEOWNERS
Labels: cleanup

#25752 CLI: Fix `upgrade` detecting the wrong version of existing Storybooks
  code/lib/cli/src/upgrade.test.ts
  code/lib/cli/src/upgrade.ts
  code/lib/telemetry/src/index.ts
  code/lib/telemetry/src/package-json.ts
Labels: bug, cli, ci:normal

#25806 Docs: Remove references to Vue 2 from snippets
  docs/snippets/vue/button-story-auto-docs.ts-4-9.mdx
  docs/snippets/vue/csf-3-example-starter.ts-4-9.mdx
  docs/snippets/vue/csf-3-example-starter.ts.mdx
Labels: documentation, ci:docs

#25787 UI: Improve how the addon panel work on mobile
  code/lib/router/src/router.tsx
  code/ui/manager/src/App.tsx
  code/ui/manager/src/components/layout/Layout.stories.tsx
  code/ui/manager/src/components/layout/Layout.tsx
  code/ui/manager/src/components/mobile/navigation/MobileAddonsDrawer.tsx
  code/ui/manager/src/components/mobile/navigation/MobileNavigation.tsx
Labels: ui, maintenance, ci:daily

#25780 CLI: Update for react native v7
  code/lib/cli/src/generators/REACT_NATIVE/index.ts
  code/lib/cli/src/initiate.ts
Labels: maintenance, cli, patch:yes, ci:normal

#25808 Docs: Remove main-config option from the documentation
  docs/api/main-config-config.md
  docs/api/main-config.md
  docs/faq.md
  docs/toc.js
Labels: documentation, ci:docs

#25813 CI: Bump E2E resource class to large
  .circleci/config.yml
Labels: build, ci:daily

#25807 Docs: Add migration notes about `@storybook/router#Route`
  MIGRATION.md
Labels: documentation, ci:docs

#25830 Chore: Don't notify code owners
  CODEOWNERS
Labels: build, ci:docs

#25828 Core: Fix `--test` must be passed for `build.test` values to be set.
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/lib/core-server/src/presets/common-override-preset.ts
Labels: bug, cli, core, ci:normal

#25740 Webpack: Update StorybookConfig import in core-webpack types.ts
  code/builders/builder-webpack5/src/types.ts
  code/frameworks/angular/src/preset.ts
  code/frameworks/ember/src/preset.ts
  code/frameworks/html-vite/src/preset.ts
  code/frameworks/nextjs/src/preset.ts
  code/frameworks/preact-vite/src/preset.ts
  code/frameworks/react-vite/src/preset.ts
  code/frameworks/react-webpack5/src/preset.ts
  code/frameworks/svelte-vite/src/preset.ts
  code/frameworks/vue3-webpack5/src/preset.ts
  code/frameworks/web-components-vite/src/preset.ts
  code/lib/core-webpack/src/types.ts
Labels: bug, patch:yes, ci:daily

#25839 Build: Revert "CI: Bump E2E resource class to large"
  .circleci/config.yml
Labels: build, ci:normal

#25840 Test: Fix vitest patch to work with portable stories and upgrade testing-library/jest-dom
  code/.yarn/patches/@vitest-expect-npm-1.1.3-2062bf533f.patch
  code/lib/test/package.json
  code/lib/test/src/expect.ts
  code/lib/test/src/index.test.ts
  code/yarn.lock
Labels: bug, ci:normal

#25800 Docs: Re-document subcomponents
  docs/api/index.md
  docs/api/parameters.md
  docs/snippets/angular/list-story-with-subcomponents.ts.mdx
  docs/snippets/react/list-story-with-subcomponents.js.mdx
  docs/snippets/react/list-story-with-subcomponents.ts-4-9.mdx
  docs/snippets/react/list-story-with-subcomponents.ts.mdx
  docs/snippets/vue/list-story-with-sub-components.js.mdx
  docs/snippets/vue/list-story-with-sub-components.ts-4-9.mdx
  docs/snippets/vue/list-story-with-sub-components.ts.mdx
  docs/snippets/web-components/list-story-with-subcomponents.js.mdx
  docs/snippets/web-components/list-story-with-subcomponents.ts.mdx
  docs/writing-docs/autodocs.md
  docs/writing-stories/doc-block-arg-types-subcomponents-for-list.png
  docs/writing-stories/stories-for-multiple-components.md
Labels: documentation, ci:docs

#25791 CLI: Fix add command for non monorepo deps
  code/lib/cli/src/add.ts
  code/lib/cli/src/automigrate/helpers/mainConfigFile.ts
  code/lib/cli/src/automigrate/index.ts
  code/lib/core-common/src/js-package-manager/JsPackageManager.ts
  code/lib/core-common/src/js-package-manager/NPMProxy.ts
  code/lib/core-common/src/js-package-manager/PNPMProxy.ts
  code/lib/core-common/src/js-package-manager/Yarn1Proxy.ts
  code/lib/core-common/src/js-package-manager/Yarn2Proxy.ts
  code/lib/core-common/src/utils/cli.test.ts
  code/lib/core-common/src/utils/cli.ts
Labels: bug, cli, ci:normal

#25844 Docs: Addon theme cleanup
  code/addons/themes/docs/getting-started/bootstrap.md
  code/addons/themes/docs/getting-started/emotion.md
  code/addons/themes/docs/getting-started/material-ui.md
  code/addons/themes/docs/getting-started/styled-components.md
  code/addons/themes/docs/getting-started/tailwind.md
Labels: documentation, ci:docs
