Repository storybookjs/storybook, pull requests merged in 2025-10, with the labels that each got.

#32566 Telemetry: Log userAgent in onboarding
  code/addons/onboarding/src/Onboarding.tsx
Labels: maintenance, patch:yes, telemetry, ci:normal, addon: onboarding

#32602 Core: Make `subtype` an optional property on an index input
  code/core/src/core-server/utils/StoryIndexGenerator.ts
  code/core/src/types/modules/indexer.ts
  code/renderers/server/src/preset.ts
  docs/api/main-config/main-config-indexers.mdx
Labels: maintenance, core, ci:normal

#32629 Core: Various QA fixes
  code/core/src/component-testing/components/Panel.tsx
  code/core/src/component-testing/components/StatusBadge.tsx
  code/core/src/component-testing/components/Subnav.tsx
  code/core/src/manager/components/sidebar/TagsFilter.tsx
  code/core/src/manager/components/sidebar/useExpanded.ts
  code/e2e-tests/component-tests.spec.ts
  code/e2e-tests/preview-api.spec.ts
Labels: bug, ci:normal

#32624 Fix: Incorrect URLS for the upgrade command
  code/lib/cli-storybook/src/automigrate/helpers/logMigrationSummary.test.ts
  code/lib/cli-storybook/src/automigrate/helpers/logMigrationSummary.ts
  code/lib/cli-storybook/src/upgrade.ts
Labels: bug, cli, ci:normal

#32627 Docs: Update tags, add filtering
  docs/_assets/writing-stories/custom-tag-filter.png
  docs/_assets/writing-stories/tag-filter.png
  docs/_snippets/main-config-tags-test-fn-exclude.md
  docs/_snippets/main-config-tags.md
  docs/api/main-config/main-config-tags.mdx
  docs/api/main-config/main-config-typescript.mdx
  docs/api/main-config/main-config-vite-final.mdx
  docs/api/main-config/main-config-webpack-final.mdx
  docs/api/main-config/main-config.mdx
  docs/writing-stories/tags.mdx
Labels: documentation, ci:docs
