Repository storybookjs/storybook, pull requests merged in 2025-01, with the labels that each got.

#30176 Docs: Fixes found during 8.5 QA, 2
  docs/_snippets/webpack-final-to-vite-final.md
Labels: documentation, ci:docs

#30163 Maintenance: Move `@types/node` to `devDeps` consistently
  code/builders/builder-webpack5/package.json
  code/frameworks/angular/package.json
  code/frameworks/experimental-nextjs-vite/package.json
  code/frameworks/html-webpack5/package.json
  code/frameworks/nextjs/package.json
  code/frameworks/preact-webpack5/package.json
  code/frameworks/react-webpack5/package.json
  code/frameworks/server-webpack5/package.json
  code/frameworks/vue3-webpack5/package.json
  code/frameworks/web-components-webpack5/package.json
  code/lib/core-webpack/package.json
  code/presets/html-webpack/package.json
  code/presets/preact-webpack/package.json
  code/presets/react-webpack/package.json
  code/presets/server-webpack/package.json
  code/presets/vue3-webpack/package.json
  code/yarn.lock
  scripts/package.json
Labels: maintenance, ci:normal

#30190 Automigrations: Skip vite config file migration for react native web
  code/lib/cli-storybook/src/automigrate/fixes/vite-config-file.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/vite-config-file.ts
Labels: bug, automigrations, ci:normal

#30192 Manager: Optimize getPanels function with memoization
  code/core/src/manager/container/Panel.tsx
Labels: bug, ci:normal

#30205 Build: Fix sandbox annotations for CSF4 example
  code/core/src/core-server/utils/StoryIndexGenerator.test.ts
  code/core/src/csf-tools/ConfigFile.test.ts
  code/core/src/csf-tools/ConfigFile.ts
  code/frameworks/react-vite/template/stories/csf4.stories.tsx
  scripts/tasks/sandbox-parts.ts
Labels: build, ci:normal

#30198 Docs: Rename `a11ytest` tag to `a11y-test`
  docs/_snippets/addon-a11y-meta-tag.md
  docs/_snippets/storybook-test-addon-disable-tests.md
  docs/writing-tests/accessibility-testing.mdx
Labels: documentation, ci:docs

#30206 Vite: Fix wrong import paths when configDir is not in project root
  code/builders/builder-vite/src/codegen-importfn-script.test.ts
  code/builders/builder-vite/src/codegen-importfn-script.ts
  code/builders/builder-vite/src/vite-config.ts
  code/core/src/types/modules/core-common.ts
Labels: bug, builder-vite, ci:normal

#30193 Addon Test: Add prerequisite check for MSW
  code/addons/test/src/postinstall.ts
  code/lib/cli-storybook/src/add.ts
Labels: bug, cli, ci:normal, addon: test

#30217 Build: Fix infinite reloading of internal storybook
  code/.storybook/main.ts
Labels: build, ci:normal

#30216 Addon Test: Improve support for mono-repos
  code/addons/test/src/node/vitest-manager.ts
  code/addons/test/src/postinstall.ts
  docs/_snippets/vitest-plugin-vitest-config.md
  docs/_snippets/vitest-plugin-vitest-workspace.md
  scripts/tasks/sandbox-parts.ts
Labels: bug, ci:normal

#30194 CLI: Add CSF3 to CSF4 migration
  code/lib/cli-storybook/src/sandbox.ts
  code/lib/codemod/package.json
  code/lib/codemod/src/transforms/__tests__/csf-3-to-4.test.ts
  code/lib/codemod/src/transforms/csf-3-to-4.ts
  scripts/tasks/sandbox-parts.ts
  scripts/tasks/sandbox.ts
  scripts/utils/cli-step.ts
  scripts/utils/options.test.ts
  scripts/utils/options.ts
Labels: feature request, cli, codemods, ci:normal

#30213 Scripts: Only output esm for nodeEntries on request
  code/addons/test/package.json
  code/addons/test/src/dummy.ts
  scripts/knip.config.ts
  scripts/prepare/addon-bundle.ts
Labels: build, ci:normal, addon: test

#30232 Benchmark: Fix script breaking when base branch has slashes
  .circleci/config.yml
  docs/writing-tests/test-addon.mdx
  scripts/bench/bench-packages.ts
Labels: build, ci:normal

#30248 Addon-docs: Make new code panel opt in
  MIGRATION.md
  code/addons/docs/src/manager.tsx
  code/core/src/manager/container/Panel.tsx
Labels: maintenance, addon: docs, ci:normal

#30162 A11y Addon: Adjust default behaviour when using with experimental-addon-test
  code/.storybook/preview.tsx
  code/addons/a11y/src/constants.ts
  code/addons/a11y/src/postinstall.ts
  code/addons/a11y/src/preview.test.tsx
  code/addons/a11y/src/preview.tsx
  code/addons/test/src/components/TestProviderRender.tsx
  code/addons/test/src/postinstall.ts
  code/addons/test/src/vitest-plugin/index.ts
  code/addons/test/src/vitest-plugin/test-utils.ts
  code/core/template/stories/tags-add.stories.ts
  code/core/template/stories/tags-config.stories.ts
  code/core/template/stories/tags-remove.stories.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-a11y-addon-test.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-a11y-addon-test.ts
  docs/_snippets/addon-a11y-meta-tag-exclude.md
  docs/_snippets/addon-a11y-meta-tag-reinclude.md
  docs/writing-tests/accessibility-testing.mdx
  scripts/tasks/sandbox-parts.ts
Labels: bug, addon: a11y, ci:normal

#30182 Build: Upgrade scripts dependencies
  scripts/package.json
  scripts/yarn.lock
Labels: build, ci:normal

#30253 Addon A11y: Change default element selector
  MIGRATION.md
  code/addons/a11y/src/a11yRunner.ts
  docs/_snippets/storybook-addon-a11y-component-config.md
  docs/_snippets/storybook-addon-a11y-global-config.md
  docs/_snippets/storybook-addon-a11y-story-config.md
  docs/_snippets/test-runner-a11y-config.md
  docs/_snippets/test-runner-a11y-configure.md
  docs/_snippets/test-runner-a11y-disable.md
Labels: bug, addon: a11y, ci:normal

#30258 CLI: Update a11y-test comment with experimental caveat
  code/lib/cli-storybook/src/automigrate/fixes/addon-a11y-addon-test.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-a11y-addon-test.ts
Labels: maintenance, cli, ci:normal

#30264 Interactions: Correctly load preset when absolute paths are used
  code/addons/interactions/preset.js
  code/addons/interactions/src/preset.ts
Labels: bug, addon: interactions, ci:normal

#30257 Addon A11y: Don't set a11y tag as comment in automigrations
  code/lib/cli-storybook/src/automigrate/fixes/addon-a11y-addon-test.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-a11y-addon-test.ts
  docs/_snippets/addon-a11y-meta-tag-exclude.md
  docs/_snippets/storybook-test-addon-disable-tests.md
  docs/writing-tests/accessibility-testing.mdx
Labels: bug, addon: a11y, ci:normal

#30181 Addon Test: Add Vitest 3 support
  code/.storybook/vitest.config.ts
  code/addons/test/package.json
  code/addons/test/src/node/reporter.ts
  code/addons/test/src/node/test-manager.test.ts
  code/addons/test/src/node/vitest-manager.ts
  code/addons/test/src/postinstall.ts
  code/addons/test/src/vitest-plugin/global-setup.ts
  code/addons/test/src/vitest-plugin/index.ts
  code/addons/test/src/vitest-plugin/setup-file.test.ts
  code/addons/test/src/vitest-plugin/test-utils.ts
  code/core/src/channels/index.test.ts
  code/core/src/components/components/syntaxhighlighter/formatter.test.ts
  code/core/src/core-server/server-channel/create-new-story-channel.test.ts
  code/core/src/core-server/utils/save-story/duplicate-story-with-new-name.test.ts
  code/core/src/core-server/utils/save-story/update-args-in-csf-file.test.ts
  code/core/src/manager-api/tests/url.test.js
  code/core/src/preview-api/modules/preview-web/PreviewWeb.integration.test.ts
  code/frameworks/angular/src/client/angular-beta/utils/BootstrapQueue.test.ts
  code/frameworks/angular/src/client/docs/angular-properties.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/eslint-plugin.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/webpack5-compiler-setup.test.ts
  code/lib/codemod/src/transforms/__tests__/transforms.tests.js
  code/package.json
  code/presets/server-webpack/src/lib/compiler/json-to-csf-compiler.test.ts
  code/renderers/react/src/docs/extractArgTypes.test.ts
  code/renderers/web-components/src/docs/web-components-properties.test.ts
  code/yarn.lock
  docs/_snippets/individual-snapshot-tests-portable-stories.md
  docs/_snippets/portable-stories-vitest-multi-snapshot-test.md
  scripts/package.json
  scripts/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/.storybook/main.ts
  test-storybooks/portable-stories-kitchen-sink/react/e2e-tests/component-testing.spec.ts
  test-storybooks/portable-stories-kitchen-sink/react/package.json
  test-storybooks/portable-stories-kitchen-sink/react/vitest.workspace.ts
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/svelte/package.json
Labels: feature request, ci:normal, addon: test

#30276 Angular: Fix accent character issue
  code/frameworks/angular/src/client/angular-beta/AbstractRenderer.ts
Labels: bug, angular

#30278 Manager: Escape single quotes in dynamic import paths in wrapManagerEntries function
  code/core/src/builder-manager/utils/managerEntries.ts
Labels: bug

#30273 Release Tooling: Fix broken file version-file syncing in minor/major releases
  .github/workflows/publish.yml
Labels: build, ci:docs

#30148 Build: Enhance windows support
  code/core/scripts/helpers/generateTypesMapperFiles.ts
  code/frameworks/angular/package.json
Labels: windows, build, ci:normal

#30285 Build: Fix task error message when no key is specified
  scripts/task.ts
Labels: build, ci:docs

#30283 Build: Fix eslint plugin checks for storybook cli packages
  scripts/eslint-plugin-local-rules/storybook-monorepo-imports.js
Labels: build, ci:docs

#30290 CLI: Use correct storybook internals import in automigration
  code/lib/cli-storybook/src/automigrate/fixes/missing-storybook-dependencies.ts
Labels: maintenance, cli, ci:normal

#30204 Csf Tools: Allow ConfigFile to create more import syntaxes
  code/core/src/csf-tools/ConfigFile.test.ts
  code/core/src/csf-tools/ConfigFile.ts
Labels: feature request, csf, ci:normal

#30282 Move csf factory codemod to automigrations
  code/lib/cli-storybook/package.json
  code/lib/cli-storybook/src/automigrate/codemod.ts
  code/lib/cli-storybook/src/automigrate/fixes/csf-factories.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/csf-factories.ts
  code/lib/cli-storybook/src/automigrate/fixes/index.ts
  code/lib/cli-storybook/src/automigrate/index.ts
  code/lib/cli-storybook/src/automigrate/types.ts
  code/lib/codemod/package.json
  code/lib/codemod/src/transforms/__tests__/csf-3-to-4.test.ts
  code/yarn.lock
  scripts/tasks/sandbox-parts.ts
  scripts/utils/cli-step.ts
Labels: feature request, cli, ci:normal

#30250 Core: Add defineConfig helper for main.js
  code/core/src/common/defineConfig.ts
  code/core/src/common/index.ts
  code/frameworks/angular/package.json
  code/frameworks/angular/src/csf-factory/defineMainConfig.ts
  code/frameworks/ember/package.json
  code/frameworks/ember/src/csf-factory/defineMainConfig.ts
  code/frameworks/experimental-nextjs-vite/package.json
  code/frameworks/experimental-nextjs-vite/src/csf-factory/defineMainConfig.ts
  code/frameworks/html-vite/package.json
  code/frameworks/html-vite/src/csf-factory/defineMainConfig.ts
  code/frameworks/html-webpack5/package.json
  code/frameworks/html-webpack5/src/csf-factory/defineMainConfig.ts
  code/frameworks/nextjs/package.json
  code/frameworks/nextjs/src/csf-factory/defineMainConfig.ts
  code/frameworks/preact-vite/package.json
  code/frameworks/preact-vite/src/csf-factory/defineMainConfig.ts
  code/frameworks/preact-webpack5/package.json
  code/frameworks/preact-webpack5/src/csf-factory/defineMainConfig.ts
  code/frameworks/react-native-web-vite/package.json
  code/frameworks/react-native-web-vite/src/csf-factory/defineMainConfig.ts
  code/frameworks/react-vite/package.json
  code/frameworks/react-vite/src/csf-factory/defineMainConfig.ts
  code/frameworks/react-webpack5/package.json
  code/frameworks/react-webpack5/src/csf-factory/defineMainConfig.ts
  code/frameworks/server-webpack5/package.json
  code/frameworks/server-webpack5/src/csf-factory/defineMainConfig.ts
  code/frameworks/svelte-vite/package.json
  code/frameworks/svelte-vite/src/csf-factory/defineMainConfig.ts
  code/frameworks/svelte-webpack5/package.json
  code/frameworks/svelte-webpack5/src/csf-factory/defineMainConfig.ts
  code/frameworks/sveltekit/package.json
  code/frameworks/sveltekit/src/csf-factory/defineMainConfig.ts
  code/frameworks/vue3-vite/package.json
  code/frameworks/vue3-vite/src/csf-factory/defineMainConfig.ts
  code/frameworks/vue3-webpack5/package.json
  code/frameworks/vue3-webpack5/src/csf-factory/defineMainConfig.ts
  code/frameworks/web-components-vite/package.json
  code/frameworks/web-components-vite/src/csf-factory/defineMainConfig.ts
  code/frameworks/web-components-webpack5/package.json
  code/frameworks/web-components-webpack5/src/csf-factory/defineMainConfig.ts
Labels: feature request, core, typescript, ci:normal

#28657 Angular: Support experimental zoneless mode
  MIGRATION.md
  code/frameworks/angular/package.json
  code/frameworks/angular/src/builders/build-storybook/index.ts
  code/frameworks/angular/src/builders/build-storybook/schema.json
  code/frameworks/angular/src/builders/start-storybook/index.ts
  code/frameworks/angular/src/builders/start-storybook/schema.json
  code/frameworks/angular/src/builders/utils/standalone-options.ts
  code/frameworks/angular/src/client/angular-beta/AbstractRenderer.ts
  code/frameworks/angular/src/client/angular-beta/RendererFactory.test.ts
  code/frameworks/angular/src/client/angular-beta/utils/NgComponentAnalyzer.test.ts
  code/frameworks/angular/src/client/angular-beta/utils/PropertyExtractor.test.ts
  code/frameworks/angular/src/client/globals.ts
  code/frameworks/angular/src/preset.ts
  code/frameworks/angular/src/server/framework-preset-angular-cli.ts
  code/frameworks/angular/src/server/preset-options.ts
  code/package.json
  code/yarn.lock
Labels: feature request, angular, ci:normal

#30311 Angular: Fix typings
  code/frameworks/angular/src/client/angular-beta/RendererFactory.test.ts
Labels: angular, build

#30312 CLI: Add codemod for config factory and add command
  code/core/src/csf-tools/ConfigFile.test.ts
  code/core/src/csf-tools/ConfigFile.ts
  code/lib/cli-storybook/src/add.ts
  code/lib/cli-storybook/src/automigrate/fixes/index.ts
  code/lib/cli-storybook/src/automigrate/helpers/mainConfigFile.ts
  code/lib/cli-storybook/src/automigrate/index.ts
  code/lib/cli-storybook/src/automigrate/types.ts
  code/lib/cli-storybook/src/codemod/csf-factories.ts
  code/lib/cli-storybook/src/codemod/helpers/config-to-csf-factory.test.ts
  code/lib/cli-storybook/src/codemod/helpers/config-to-csf-factory.ts
  code/lib/cli-storybook/src/codemod/helpers/csf-factories-utils.test.ts
  code/lib/cli-storybook/src/codemod/helpers/csf-factories-utils.ts
  code/lib/cli-storybook/src/codemod/helpers/get-addon-annotations.test.ts
  code/lib/cli-storybook/src/codemod/helpers/get-addon-annotations.ts
  code/lib/cli-storybook/src/codemod/helpers/story-to-csf-factory.test.ts
  code/lib/cli-storybook/src/codemod/helpers/story-to-csf-factory.ts
  scripts/tasks/sandbox-parts.ts
  scripts/tasks/sandbox.ts
Labels: feature request, cli, ci:merged

#30310 Tests: Disable flaky test-runner tests
  code/core/template/stories/args.stories.ts
  code/core/template/stories/decorators.stories.ts
  code/core/template/stories/globals.stories.ts
  code/core/template/stories/rendering.stories.ts
  code/renderers/vue3/template/stories_vue3-vite-default-ts/CustomRenderOptionsArgsFromData.stories.ts
Labels: build, ci:daily

#30313 create-storybook: Add telemetry to new CLI
  code/lib/create-storybook/src/ink/app.tsx
  code/lib/create-storybook/src/ink/procedures/Telemetry.tsx
  code/lib/create-storybook/src/ink/steps/Run.tsx
  code/lib/create-storybook/src/ink/utils/context.ts
Labels: feature request, ci:normal

#30305 RNW-Vite: Support requires for images/fonts
  code/frameworks/react-native-web-vite/package.json
  code/frameworks/react-native-web-vite/src/preset.ts
  code/yarn.lock
Labels: maintenance, ci:normal, react-native-web

#30333 Addon Test: Replace `interaction test` -> `component test`
  code/addons/test/src/components/EmptyState.tsx
  code/frameworks/angular/template/cli/page.stories.ts
  code/frameworks/experimental-nextjs-vite/template/cli/js/Page.stories.js
  code/frameworks/experimental-nextjs-vite/template/cli/ts-3-8/Page.stories.ts
  code/frameworks/experimental-nextjs-vite/template/cli/ts-4-9/Page.stories.ts
  code/frameworks/nextjs/template/cli/js/Page.stories.js
  code/frameworks/nextjs/template/cli/ts-3-8/Page.stories.ts
  code/frameworks/nextjs/template/cli/ts-4-9/Page.stories.ts
  code/renderers/html/template/cli/js/Page.stories.js
  code/renderers/html/template/cli/ts-3-8/Page.stories.ts
  code/renderers/html/template/cli/ts-4-9/Page.stories.ts
  code/renderers/preact/template/cli/Page.stories.jsx
  code/renderers/react/template/cli/js/Page.stories.js
  code/renderers/react/template/cli/ts-3-8/Page.stories.ts
  code/renderers/react/template/cli/ts-4-9/Page.stories.ts
  code/renderers/svelte/template/cli/js/Page.stories.js
  code/renderers/svelte/template/cli/ts-3-8/Page.stories.ts
  code/renderers/svelte/template/cli/ts-4-9/Page.stories.ts
  code/renderers/vue3/template/cli/js/Page.stories.js
  code/renderers/vue3/template/cli/ts-3-8/Page.stories.ts
  code/renderers/vue3/template/cli/ts-4-9/Page.stories.ts
Labels: bug, cli, patch:yes, ci:normal, addon: test

#30330 CLI: Sync addons between main and preview.js in storybook dev
  code/core/src/common/index.ts
  code/core/src/common/utils/get-addon-annotations.test.ts
  code/core/src/common/utils/get-addon-annotations.ts
  code/core/src/common/utils/get-addon-names.test.ts
  code/core/src/common/utils/get-addon-names.ts
  code/core/src/common/utils/sync-main-preview-addons.test.ts
  code/core/src/common/utils/sync-main-preview-addons.ts
  code/core/src/core-server/build-dev.ts
  code/lib/cli-storybook/src/add.test.ts
  code/lib/cli-storybook/src/add.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-a11y-addon-test.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-a11y-addon-test.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-postcss.ts
  code/lib/cli-storybook/src/automigrate/fixes/vta.ts
  code/lib/cli-storybook/src/automigrate/fixes/webpack5-compiler-setup.ts
  code/lib/cli-storybook/src/automigrate/helpers/mainConfigFile.ts
  code/lib/cli-storybook/src/codemod/csf-factories.ts
  code/lib/cli-storybook/src/codemod/helpers/csf-factories-utils.ts
  code/lib/cli-storybook/tsconfig.json
Labels: feature request, cli, ci:normal

#30309 Addon Test: Support Vitest 3 browser.test.instances field
  code/.storybook/vitest.config.ts
  code/addons/test/package.json
  code/addons/test/src/postinstall.ts
  code/addons/test/src/vitest-plugin/index.ts
  code/package.json
  code/yarn.lock
  scripts/package.json
  scripts/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/react/package.json
  test-storybooks/portable-stories-kitchen-sink/react/vitest.workspace.ts
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/svelte/package.json
Labels: bug, patch:yes, ci:normal, addon: test

#30345 Docs: Fix syntax issues in documentation snippets
  docs/_snippets/addon-actions-action-function.md
  docs/_snippets/api-doc-block-canvas-parameter.md
  docs/_snippets/api-doc-block-description-example.md
  docs/_snippets/api-doc-block-source-parameter.md
  docs/_snippets/api-doc-block-story-parameter.md
  docs/_snippets/button-story-click-handler-simplificated.md
  docs/_snippets/main-config-indexers-jsonstories.md
  docs/_snippets/main-config-indexers-title.md
  docs/_snippets/main-config-indexers.md
  docs/_snippets/my-component-story-mandatory-export.md
  docs/_snippets/my-component-story-with-storyname.md
  docs/_snippets/nextjs-navigation-mock.md
  docs/_snippets/storybook-addon-themes-jsx-provider-decorator.md
  docs/_snippets/storybook-fix-imports-autodocs-monorepo.md
  docs/_snippets/storybook-main-simplified-config.md
  docs/_snippets/storybook-preview-migrate-backgrounds-globals.md
  docs/_snippets/storybook-preview-use-global-type.md
  docs/_snippets/storybook-story-layout-param.md
Labels: documentation, patch:yes, ci:docs

#30352 Csf: Support named exports as functions
  code/core/src/csf-tools/ConfigFile.test.ts
  code/core/src/csf-tools/ConfigFile.ts
  code/lib/cli-storybook/src/codemod/helpers/config-to-csf-factory.test.ts
  code/lib/cli-storybook/src/codemod/helpers/config-to-csf-factory.ts
  code/lib/cli-storybook/src/codemod/helpers/csf-factories-utils.ts
Labels: bug, csf, ci:normal

#30304 CLI: Corrected Next.js createScript for pnpm.
  code/lib/create-storybook/src/scaffold-new-project.ts
Labels: bug, cli, patch:yes, nextjs, ci:normal

#30160 Bun: Add support for text lock file
  code/core/src/common/js-package-manager/JsPackageManagerFactory.ts
Labels: bug, ci:normal, bun

#30358 Build: Fix test command in CircleCI config to use multiple reporters
  .circleci/config.yml
Labels: build, ci:normal

#30362 Codemod: Add Story.xyz to Story.input.xyz migration
  code/lib/cli-storybook/src/codemod/helpers/story-to-csf-factory.test.ts
  code/lib/cli-storybook/src/codemod/helpers/story-to-csf-factory.ts
Labels: codemods, ci:normal

#30364 Docs: Set init/upgrade snippets to latest on latest
  docs/_snippets/init-command.md
  docs/_snippets/storybook-upgrade.md
Labels: documentation, ci:docs

#30373 Build: Update lock file
  code/yarn.lock
Labels: build

#30031 Core: Improve type compatibility with React 19
  code/addons/a11y/src/components/VisionSimulator.tsx
  code/addons/interactions/src/components/Interaction.tsx
  code/addons/onboarding/src/components/List/List.styled.tsx
  code/addons/test/src/components/Interaction.tsx
  code/addons/test/src/components/TestProviderRender.tsx
  code/addons/viewport/src/legacy/ToolLegacy.tsx
  code/addons/viewport/src/utils.tsx
  code/core/package.json
  code/core/src/components/components/bar/button.tsx
  code/core/src/manager/components/notifications/NotificationItem.tsx
  code/lib/blocks/package.json
  code/lib/blocks/src/blocks/mdx.tsx
  code/lib/blocks/src/components/ArgsTable/SectionRow.tsx
  code/renderers/react/src/types.ts
  code/vitest-setup.ts
  code/yarn.lock
Labels: dependencies, react, ci:merged

#30395 CLI: Enhance csf factory codemod to migrate from csf2
  code/lib/cli-storybook/src/codemod/csf-factories.ts
  code/lib/cli-storybook/src/codemod/helpers/story-to-csf-factory.ts
Labels: cli, codemods, ci:normal

#30400 Build: Fix missing tag in registry command
  scripts/run-registry.ts
Labels: build, ci:normal

#30409 Docs: Update MIGRATION.md
  MIGRATION.md
Labels: documentation, ci:docs

#30408 Core: Fix invalid Websocket termination
  code/core/src/core-server/utils/get-server-channel.ts
  code/package.json
  code/yarn.lock
Labels: bug, core, ci:normal

#30360 Build: Update CircleCI configuration to remove build-sandboxes job
  .circleci/config.yml
  .nvmrc
  .yarn/releases/yarn-4.3.0.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  code/.yarn/releases/yarn-4.6.0.cjs
  code/.yarnrc.yml
  code/package.json
  code/yarn.lock
  package.json
  scripts/.yarn/releases/yarn-4.6.0.cjs
  scripts/.yarnrc.yml
  scripts/get-sandbox-dir.ts
  scripts/package.json
  scripts/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/nextjs/.yarnrc.yml
  test-storybooks/portable-stories-kitchen-sink/react/.yarnrc.yml
  test-storybooks/portable-stories-kitchen-sink/react/yarn.lock
  test-storybooks/portable-stories-kitchen-sink/svelte/.yarnrc.yml
  test-storybooks/portable-stories-kitchen-sink/vue3/.yarnrc.yml
Labels: build, ci:normal

#30415 Preview: Add `globals` to `extract()`
  code/core/src/preview-api/modules/preview-web/PreviewWeb.test.ts
  code/core/src/preview-api/modules/store/StoryStore.test.ts
  code/core/src/preview-api/modules/store/StoryStore.ts
Labels: feature request, patch:yes, preview-api, ci:normal

#30372 Build: Added additional react resolutions for next 15 or above sandboxes.
  scripts/utils/yarn.ts
Labels: nextjs, build, ci:normal

#30365 Docs: Play function updates to the canvas example
  docs/_snippets/my-component-play-function-with-canvas.md
Labels: documentation, patch:yes, ci:docs

#30412 Docs: Update Next.js Tailwind example link
  docs/get-started/frameworks/nextjs.mdx
Labels: documentation, patch:yes, ci:docs

#30417 Types: Add type for addons, renderers and frameworks
  code/addons/a11y/src/index.ts
  code/addons/a11y/src/params.ts
  code/addons/a11y/src/types.ts
  code/addons/actions/src/index.ts
  code/addons/actions/src/types.ts
  code/addons/backgrounds/src/index.ts
  code/addons/backgrounds/src/types.ts
  code/addons/controls/src/index.ts
  code/addons/controls/src/types.ts
  code/addons/docs/src/index.ts
  code/addons/docs/src/types.ts
  code/addons/essentials/src/types.ts
  code/addons/highlight/src/index.ts
  code/addons/highlight/src/types.ts
  code/addons/interactions/src/preview.ts
  code/addons/interactions/src/types.ts
  code/addons/jest/src/shared.ts
  code/addons/jest/src/types.ts
  code/addons/measure/src/index.ts
  code/addons/measure/src/types.ts
  code/addons/outline/src/index.ts
  code/addons/outline/src/types.ts
  code/addons/storysource/src/index.ts
  code/addons/storysource/src/types.ts
  code/addons/test/src/index.ts
  code/addons/test/src/types.ts
  code/addons/themes/src/constants.ts
  code/addons/themes/src/decorators/helpers.ts
  code/addons/themes/src/index.ts
  code/addons/themes/src/theme-switcher.tsx
  code/addons/themes/src/types.ts
  code/addons/viewport/src/types.ts
  code/frameworks/experimental-nextjs-vite/src/types.ts
  code/frameworks/nextjs/src/types.ts
  code/renderers/react/src/index.ts
  code/renderers/react/src/types.ts
Labels: feature request, typescript, ci:merged
