Repository storybookjs/storybook, pull requests merged in 2025-08, with the labels that each got.

#32168 Telemetry: Send index stats on dev exit
  code/core/src/core-server/dev-server.ts
Labels: maintenance, patch:yes, telemetry, ci:normal

#32185 Onboarding: Tweak referral wording in survey
  code/addons/onboarding/src/features/IntentSurvey/IntentSurvey.tsx
Labels: maintenance, patch:yes, ci:normal, addon: onboarding

#32148 CLI: Fixed broken migration guide link
  code/lib/cli-storybook/src/upgrade.ts
Labels: documentation, cli, ci:normal

#32108 Angular: Inherit options from browserTarget
  code/frameworks/angular/src/server/framework-preset-angular-cli.test.ts
  code/frameworks/angular/src/server/framework-preset-angular-cli.ts
Labels: bug, angular, patch:yes, ci:normal

#32216 Mock: Catch errors when transforming preview files
  code/core/src/core-server/presets/vitePlugins/vite-mock/plugin.ts
  code/core/src/core-server/presets/webpack/loaders/storybook-mock-transform-loader.ts
Labels: bug, ci:normal, test utilities

#32212 Documentation: fix migration guide link in changelog
  CHANGELOG.md
Labels: documentation, ci:docs

#32218 Telemetry: Improve dev cancellation handling
  code/core/src/core-server/dev-server.ts
Labels: bug, patch:yes, telemetry, ci:normal

#32230 Angular: Fix `entry.polyfills` undefined error
  code/frameworks/angular/src/server/angular-cli-webpack.js
Labels: bug, angular, patch:yes, ci:normal

#31799 Docs: Update paths from `/cli` to `/cli-storybook` in cli-storybook package.json
  code/lib/cli-sb/package.json
Labels: cleanup, needs triage, Stale, ci:normal

#32131 Next.js: Return mocked router instead of actual router in useRouter
  code/frameworks/nextjs/src/export-mocks/navigation/index.ts
Labels: bug, patch:yes, nextjs, Stale, ci:normal

#32232 Docs: Fix preview examples imports
  docs/_snippets/addon-a11y-config-in-preview.md
  docs/_snippets/addon-a11y-config-rulesets-in-preview.md
  docs/_snippets/addon-a11y-parameter-error-in-preview.md
  docs/_snippets/addon-viewport-add-viewport-in-preview.md
  docs/_snippets/addon-viewport-options-in-preview.md
  docs/_snippets/before-all-in-preview.md
  docs/_snippets/before-each-in-preview.md
  docs/_snippets/code-panel-enable-in-preview.md
Labels: documentation, patch:yes, ci:docs

#32231 Docs: Fix incorrect CSF constructs
  docs/_snippets/my-component-exclude-tags.md
  docs/_snippets/my-component-include-tags.md
  docs/_snippets/my-component-skip-tags.md
  docs/_snippets/play-function.md
Labels: documentation, patch:yes, ci:docs

#32238 Docs: Move button in ArgsTable heading to fix screenreader announcements
  code/addons/docs/src/blocks/components/ArgsTable/ArgsTable.tsx
Labels: bug, patch:yes, ci:normal

#32284 Documentation: Clean up package descriptions and keywords
  code/addons/a11y/package.json
  code/addons/docs/package.json
  code/addons/jest/package.json
  code/addons/links/package.json
  code/addons/onboarding/package.json
  code/addons/pseudo-states/package.json
  code/addons/themes/package.json
  code/addons/vitest/package.json
  code/builders/builder-vite/package.json
  code/builders/builder-webpack5/package.json
  code/core/package.json
  code/frameworks/angular/package.json
  code/frameworks/ember/package.json
  code/frameworks/html-vite/package.json
  code/frameworks/nextjs-vite/package.json
  code/frameworks/nextjs/package.json
  code/frameworks/preact-vite/package.json
  code/frameworks/react-native-web-vite/package.json
  code/frameworks/react-vite/package.json
  code/frameworks/react-webpack5/package.json
  code/frameworks/server-webpack5/package.json
  code/frameworks/svelte-vite/package.json
  code/frameworks/sveltekit/package.json
  code/frameworks/vue3-vite/package.json
  code/frameworks/web-components-vite/package.json
  code/lib/cli-sb/package.json
  code/lib/cli-storybook/package.json
  code/lib/create-storybook/package.json
  code/lib/eslint-plugin/package.json
  code/renderers/html/package.json
  code/renderers/preact/package.json
  code/renderers/server/package.json
  code/renderers/svelte/package.json
  code/renderers/vue3/package.json
  code/renderers/web-components/package.json
Labels: documentation, patch:yes, ci:docs

#32286 Onboarding: Add ref=configure to Configure.mdx links
  code/frameworks/nextjs-vite/template/cli/js/Configure.mdx
  code/frameworks/nextjs-vite/template/cli/ts/Configure.mdx
  code/frameworks/nextjs/template/cli/js/Configure.mdx
  code/frameworks/nextjs/template/cli/ts/Configure.mdx
  code/lib/create-storybook/rendererAssets/common/Configure.mdx
  test-storybooks/yarn-pnp/src/stories/Configure.mdx
Labels: documentation, patch:yes, telemetry, ci:docs

#32287 Telemetry: Add ref=error/upgrade/ui to links
  code/addons/docs/src/blocks/components/ArgsTable/ArgControl.tsx
  code/addons/docs/src/blocks/components/ArgsTable/ArgsTable.tsx
  code/addons/docs/src/blocks/components/ArgsTable/Empty.tsx
  code/addons/docs/src/blocks/components/Story.tsx
  code/addons/vitest/src/preset.ts
  code/core/src/__tests/storybook-error.test.ts
  code/core/src/core-server/utils/StoryIndexGenerator.ts
  code/core/src/core-server/utils/__tests__/remove-mdx-stories.test.ts
  code/core/src/csf-tools/CsfFile.test.ts
  code/core/src/csf-tools/CsfFile.ts
  code/core/src/manager/components/mobile/about/MobileAbout.tsx
  code/core/src/manager/components/panel/Panel.tsx
  code/core/src/manager/components/sidebar/RefBlocks.tsx
  code/core/src/manager/components/sidebar/RefIndicator.tsx
  code/core/src/manager/settings/About.tsx
  code/core/src/manager/settings/SettingsFooter.tsx
  code/core/src/preview-api/modules/preview-web/parseArgsParam.ts
  code/core/src/preview-api/modules/store/args.ts
  code/core/src/preview-api/modules/store/csf/portable-stories.ts
  code/core/src/preview-errors.ts
  code/core/src/router/utils.ts
  code/core/src/server-errors.ts
  code/core/src/storybook-error.ts
  code/core/src/test/testing-library.ts
  code/lib/cli-storybook/src/autoblock/block-major-version.ts
  code/lib/cli-storybook/src/automigrate/helpers/logMigrationSummary.test.ts
  code/lib/cli-storybook/src/automigrate/helpers/logMigrationSummary.ts
  code/lib/cli-storybook/src/codemod/csf-factories.ts
  code/lib/cli-storybook/src/upgrade.ts
Labels: maintenance, patch:yes, telemetry, ci:normal

#32303 Update: Satellite repos after major version bump
  code/package.json
  code/yarn.lock
  scripts/tasks/sandbox-parts.ts
  test-storybooks/yarn-pnp/package.json
Labels: dependencies, ci:normal, addon: visual test

#32313 Next.js: Avoid multiple webpack versions at runtime
  code/frameworks/nextjs/src/utils.ts
Labels: bug, patch:yes, patch:done, ci:normal

#32314 Test: Refactor .test prototype
  code/.storybook/preview.tsx
  code/addons/vitest/src/vitest-plugin/test-utils.ts
  code/core/src/component-testing/components/test-fn.stories.tsx
  code/core/src/csf/csf-factories.test.ts
  code/core/src/csf/csf-factories.ts
  code/core/src/csf/story.ts
  code/core/src/preview-api/modules/preview-web/render/StoryRender.ts
  code/core/src/preview-api/modules/store/csf/csf-factory-utils.ts
  code/core/src/preview-api/modules/store/csf/normalizeStory.ts
  code/core/src/preview-api/modules/store/csf/portable-stories.ts
  code/core/src/preview-api/modules/store/csf/prepareStory.ts
  code/core/src/preview-api/modules/store/csf/processCSFFile.ts
  code/core/src/types/modules/composedStory.ts
  code/core/src/types/modules/story.ts
Labels: feature request, ci:normal

#32217 Docs: Updates for Svelte CSF
  docs/_snippets/button-story-rename-story.md
  docs/_snippets/render-custom-in-meta.md
  docs/_snippets/render-custom-in-story.md
  docs/_snippets/your-component-with-decorator-with-props.md
  docs/api/csf/index.mdx
  docs/writing-stories/decorators.mdx
  docs/writing-stories/index.mdx
Labels: documentation, patch:yes, ci:docs

#32320 Svelte: Support `@sveltejs/vite-plugin-svelte` v6
  code/frameworks/svelte-vite/package.json
  code/yarn.lock
Labels: dependencies, patch:yes, svelte, builder-vite, sveltekit, ci:normal
