Repository storybookjs/storybook, pull requests merged in 2025-06, with the labels that each got.

#31634 Addon Vitest: Fix path comparison on Windows
  code/addons/vitest/src/vitest-plugin/index.ts
Labels: bug, patch:yes, windows, ci:normal, addon: vitest

#31621 Addon A11y: Briefly disable highlights while Axe is running
  code/addons/a11y/src/a11yRunner.ts
Labels: bug, ci:normal

#31645 CLI: Consider Storybook React Native packages in upgrade command
  code/core/src/common/satellite-addons.ts
Labels: feature request, cli, patch:yes, ci:normal

#31616 CLI: Don't install addon-onboarding during minimal installs
  code/lib/create-storybook/src/generators/ANGULAR/index.ts
  code/lib/create-storybook/src/generators/EMBER/index.ts
  code/lib/create-storybook/src/generators/NEXTJS/index.ts
  code/lib/create-storybook/src/generators/REACT/index.ts
  code/lib/create-storybook/src/generators/REACT_NATIVE_WEB/index.ts
  code/lib/create-storybook/src/generators/REACT_SCRIPTS/index.ts
  code/lib/create-storybook/src/generators/VUE3/index.ts
  code/lib/create-storybook/src/generators/WEBPACK_REACT/index.ts
  code/lib/create-storybook/src/generators/baseGenerator.ts
  code/lib/create-storybook/src/generators/types.ts
  code/lib/create-storybook/src/initiate.ts
Labels: bug, cli, ci:normal

#31501 Next.js: Fix module transpilation
  code/frameworks/nextjs/src/babel/loader.ts
  code/frameworks/nextjs/src/preset.ts
  code/frameworks/nextjs/src/swc/loader.ts
  code/frameworks/nextjs/src/utils.ts
Labels: bug, patch:yes, nextjs, ci:normal

#31653 CLI: Streamline logging in node-logger
  code/addons/a11y/src/postinstall.ts
  code/addons/vitest/src/postinstall-logger.ts
  code/addons/vitest/src/postinstall.ts
  code/core/src/cli/bin/index.ts
  code/core/src/cli/eslintPlugin.ts
  code/core/src/cli/helpers.ts
  code/core/src/common/js-package-manager/JsPackageManager.ts
  code/core/src/common/js-package-manager/NPMProxy.ts
  code/core/src/common/utils/log.ts
  code/core/src/common/utils/remove.ts
  code/core/src/common/utils/sync-main-preview-addons.ts
  code/core/src/csf-tools/ConfigFile.ts
  code/core/src/csf-tools/CsfFile.test.ts
  code/core/src/csf-tools/CsfFile.ts
  code/core/src/csf-tools/getStorySortParameter.ts
  code/core/src/csf-tools/vitest-plugin/transformer.test.ts
  code/core/src/csf-tools/vitest-plugin/transformer.ts
  code/core/src/node-logger/index.test.ts
  code/core/src/node-logger/index.ts
  code/core/src/node-logger/logger/index.ts
  code/core/src/node-logger/logger/log-tracker.ts
  code/core/src/node-logger/logger/logger.ts
  code/core/src/node-logger/prompts/index.ts
  code/core/src/node-logger/prompts/prompt-provider-clack.ts
  code/core/src/node-logger/prompts/prompt-provider-prompts.ts
  code/core/src/node-logger/tasks.ts
  code/core/src/telemetry/notify.ts
  code/lib/cli-storybook/src/automigrate/codemod.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-a11y-parameters.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-storysource-code-panel.ts
  code/lib/cli-storybook/src/automigrate/fixes/eslint-plugin.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/eslint-plugin.ts
  code/lib/cli-storybook/src/automigrate/fixes/renderer-to-framework.ts
  code/lib/cli-storybook/src/automigrate/fixes/upgrade-storybook-related-dependencies.ts
  code/lib/cli-storybook/src/automigrate/helpers/logMigrationSummary.test.ts
  code/lib/cli-storybook/src/automigrate/helpers/logMigrationSummary.ts
  code/lib/cli-storybook/src/automigrate/helpers/mainConfigFile.ts
  code/lib/cli-storybook/src/automigrate/index.ts
  code/lib/cli-storybook/src/automigrate/multi-project.test.ts
  code/lib/cli-storybook/src/automigrate/multi-project.ts
  code/lib/cli-storybook/src/bin/index.ts
  code/lib/cli-storybook/src/codemod/csf-factories.ts
  code/lib/cli-storybook/src/codemod/helpers/config-to-csf-factory.ts
  code/lib/cli-storybook/src/codemod/helpers/story-to-csf-factory.ts
  code/lib/cli-storybook/src/doctor/getIncompatibleStorybookPackages.ts
  code/lib/cli-storybook/src/doctor/index.ts
  code/lib/cli-storybook/src/migrate.ts
  code/lib/cli-storybook/src/sandbox.ts
  code/lib/cli-storybook/src/upgrade.ts
  code/lib/cli-storybook/src/util.ts
  code/lib/codemod/src/transforms/csf-2-to-3.ts
  code/lib/codemod/src/transforms/upgrade-deprecated-types.ts
  code/lib/create-storybook/src/generators/baseGenerator.ts
  code/lib/create-storybook/src/initiate.ts
  code/lib/csf-plugin/src/rollup-based-plugin.ts
  code/lib/eslint-plugin/scripts/generate-rule.ts
  code/vitest-setup.ts
Labels: maintenance, cli, ci:normal

#31658 Automigration: Enhance removeEssentials to convert options
  code/lib/cli-storybook/src/automigrate/fixes/__test__/main-config-with-essential-options.js
  code/lib/cli-storybook/src/automigrate/fixes/remove-essentials.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/remove-essentials.ts
  code/lib/cli-storybook/src/automigrate/fixes/remove-essentials.utils.ts
Labels: bug, core, addon: essentials, automigrations, ci:normal

#31656 Telemetry: Improve error handling
  code/core/src/telemetry/package-json.ts
Labels: bug, telemetry, ci:normal

#31537 Types: Update import in entry preview to prevent type issues
  code/renderers/react/src/entry-preview-argtypes.ts
Labels: ci: do not merge, react, patch:yes, typescript, ci:normal

#31671 Docs: Fix reference to global JSX namespace
  code/addons/docs/src/types.ts
Labels: bug, ci:normal

#31686 Angular: Improve Vite compatibility
  code/frameworks/angular/src/preset.ts
Labels: bug, angular, patch:yes, builder-vite, ci:normal, esm

#31584 Core: Export BROWSER_TARGETS and NODE_TARGET for addon-kit
  code/core/src/builder-manager/index.ts
Labels: api: addons, build, ci:normal

#31710 Docs: Fix incorrect @next version specifiers
  docs/_snippets/init-command.md
  docs/_snippets/storybook-upgrade.md
  docs/get-started/frameworks/angular.mdx
Labels: documentation, ci:docs

#31713 Docs: Point CSF Factories docs at RFC
  docs/_snippets/migrate-csf-2-to-3.md
  docs/api/csf/csf-factories.mdx
  docs/api/csf/index.mdx
Labels: documentation, patch:yes, ci:docs

#31720 Addon-vitest: Fix adding with `--skip-install` failing missing packageJson invariant
  code/addons/vitest/src/postinstall.ts
  code/core/src/common/js-package-manager/JsPackageManager.ts
  code/lib/cli-storybook/src/automigrate/fixes/eslint-plugin.ts
Labels: bug, patch:yes, ci:normal, addon: vitest

#31688 Addon Themes: Define missing React dependencies
  code/addons/themes/package.json
  code/yarn.lock
Labels: bug, patch:yes, ci:normal

#31685 Core: Disable interactions debugger on composed stories to avoid cross-origin error
  code/core/src/component-testing/components/DetachedDebuggerMessage.tsx
  code/core/src/component-testing/components/InteractionsPanel.stories.tsx
  code/core/src/component-testing/components/InteractionsPanel.tsx
  code/core/src/component-testing/components/Panel.tsx
  code/core/src/component-testing/components/Subnav.stories.tsx
  code/core/src/component-testing/components/TestDiscrepancyMessage.tsx
  code/core/src/component-testing/manager.tsx
  code/core/src/instrumenter/instrumenter.test.ts
  code/core/src/instrumenter/instrumenter.ts
  code/core/src/instrumenter/types.ts
  code/core/src/instrumenter/typings.d.ts
Labels: bug, patch:yes, ci:normal

#31730 Core: Restore original clipboard after invoking `userEvent.setup()`
  code/core/src/test/preview.ts
Labels: bug, ci:normal

#31757 Next.js: Enhance Vite configuration with styled-jsx aliasing
  code/frameworks/nextjs-vite/src/preset.ts
Labels: bug, patch:yes, nextjs, ci:normal

#31723 CSF: Story ComponentAnnotations['subcomponents'] to correctly use its own type for subcomponents rather than attempt to inherit from the component
  code/core/src/csf/story.test.ts
  code/core/src/csf/story.ts
Labels: bug, ci:normal

#31750 Core: Fix cyclical dependency in core addons
  code/core/package.json
  code/core/scripts/dts.ts
  code/core/scripts/entries.ts
  code/core/src/backgrounds/index.ts
  code/core/src/component-testing/index.ts
  code/core/src/csf/core-annotations.ts
  code/core/src/measure/index.ts
  code/core/src/outline/index.ts
  code/core/src/test/index.test.ts
Labels: bug, patch:yes, core, ci:normal

#31170 Docs: Update `react-element-to-jsx-string`
  code/renderers/react/package.json
  code/yarn.lock
Labels: bug, performance issue, addon: docs, ci:normal

#31764 Nextjs-Vite: Use tsconfig paths plugin
  code/frameworks/nextjs-vite/package.json
  code/yarn.lock
Labels: bug, patch:yes, ci:normal

#31778 CLI: Add RN/RNW "both" init option
  code/core/src/cli/project_types.ts
  code/lib/create-storybook/src/initiate.ts
  docs/get-started/frameworks/react-native-web-vite.mdx
Labels: maintenance, react-native, cli, patch:yes, ci:normal, react-native-web

#31784 Docs: Update CLI options
  docs/api/cli-options.mdx
Labels: documentation, ci:docs

#31712 Docs: Recommend Vitest addon instead of Portable stories in Vitest
  docs/api/portable-stories/portable-stories-vitest.mdx
Labels: documentation, patch:yes, ci:docs

#31715 Addon Vitest: Support init in Vitest >= 3.2
  code/addons/docs/src/preset.ts
  code/addons/vitest/package.json
  code/addons/vitest/src/postinstall.ts
  code/addons/vitest/src/updateVitestFile.test.ts
  code/addons/vitest/src/updateVitestFile.ts
  code/addons/vitest/src/vitest-plugin/index.ts
  code/addons/vitest/templates/vitest.config.3.2.template.ts
  code/builders/builder-vite/src/constants.ts
  code/builders/builder-vite/src/optimizeDeps.ts
  code/renderers/react/src/portable-stories.tsx
  code/yarn.lock
  docs/_snippets/vitest-plugin-vitest-config.md
  docs/writing-tests/integrations/vitest-addon.mdx
  scripts/tasks/sandbox-parts.ts
Labels: bug, ci:normal, addon: vitest

#31796 Core: Enhance package manager install methods to support optional force flag
  code/core/src/common/js-package-manager/BUNProxy.ts
  code/core/src/common/js-package-manager/JsPackageManager.ts
  code/core/src/common/js-package-manager/NPMProxy.ts
  code/core/src/common/js-package-manager/PNPMProxy.ts
  code/core/src/common/js-package-manager/Yarn1Proxy.ts
  code/lib/cli-storybook/src/upgrade.ts
Labels: bug, ci:normal

#31828 Next.js-Vite: Support Next.js v15.4
  code/frameworks/nextjs-vite/package.json
  code/yarn.lock
Labels: bug, patch:yes, nextjs, ci:normal

#31833 Vite: Remove addon-themes and theming from optimized deps list
  code/builders/builder-vite/src/constants.ts
Labels: bug, patch:yes, ci:normal

#29224 Add EditorConfig to extensions.json
  .vscode/extensions.json
Labels: build, ci:docs

#31834 Core: Gracefully handle disallowed cross-origin clipboard access
  code/core/src/components/components/syntaxhighlighter/syntaxhighlighter.tsx
Labels: bug, patch:yes, ci:normal

#31848 UI: Visual focus indicators (VFIs) aren't visible in high contrast mode (rebase)
  code/addons/docs/src/blocks/controls/Boolean.tsx
  code/core/src/components/components/ActionBar/ActionBar.tsx
  code/core/src/components/components/form/input/input.tsx
Labels: bug, ui, accessibility, ci:normal

#31814 Docs: Add missing `extends: true` in `vitest.config.ts` snippets
  docs/_snippets/vitest-plugin-vitest-config.md
Labels: documentation, patch:yes, ci:docs, addon: vitest

#31821 Core: ESM-only core bundles
  .circleci/config.yml
  code/addons/onboarding/src/Onboarding.tsx
  code/addons/onboarding/src/constants.ts
  code/addons/onboarding/src/manager.tsx
  code/core/package.json
  code/core/scripts/dts.ts
  code/core/scripts/entries.ts
  code/core/scripts/helpers/generatePackageJsonFile.ts
  code/core/scripts/helpers/generateTypesFiles.ts
  code/core/scripts/helpers/generateTypesMapperFiles.ts
  code/core/scripts/prep.ts
  code/core/src/controls/constants.ts
Labels: maintenance, core, ci:normal

#31844 Core: Fix addon scrollbars and align scrollbar colors with toolbars
  code/addons/a11y/src/components/Tabs.tsx
  code/core/src/component-testing/components/Subnav.tsx
  code/core/src/components/components/bar/bar.tsx
  code/core/src/manager/components/preview/Toolbar.tsx
Labels: bug, ui, addon: a11y, addon: interactions, ci:normal

#31491 Core: Fix aria-controls attribute on sidebar nodes to include all children
  code/core/src/manager/components/sidebar/Tree.tsx
Labels: ui, accessibility, ci:normal

#31888 Deps: Update vite-plugin-babel to 1.3.2 to fix vite 7.0.0 peerDependency issue
  code/frameworks/react-native-web-vite/package.json
  code/yarn.lock
Labels: dependencies, patch:yes, ci:normal

#31875 Core: Only support ESM version of getAbsolutePath
  code/core/src/server-errors.ts
  code/lib/cli-storybook/src/add.test.ts
  code/lib/cli-storybook/src/add.ts
  code/lib/cli-storybook/src/automigrate/fixes/__test__/main-config-with-wrappers.js
  code/lib/cli-storybook/src/automigrate/fixes/index.ts
  code/lib/cli-storybook/src/automigrate/fixes/wrap-getAbsolutePath-utils.ts
  code/lib/cli-storybook/src/automigrate/fixes/wrap-getAbsolutePath.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/wrap-getAbsolutePath.ts
  code/lib/create-storybook/src/generators/baseGenerator.ts
  docs/_snippets/storybook-main-pnpm-with-module-resolution.md
Labels: maintenance, cli, core, monorepos, ci:normal, esm

#31892 Build: Remove NODE_OPTIONS flags for symlinks in main storybook
  code/core/src/core-server/utils/get-builders.ts
  code/frameworks/react-native-web-vite/package.json
  code/package.json
  code/yarn.lock
Labels: build, ci:normal, esm

#31886 CLI: Do not fail incompatible package check in doctor if only core packages used
  code/lib/cli-storybook/src/doctor/getIncompatibleStorybookPackages.test.ts
  code/lib/cli-storybook/src/doctor/getIncompatibleStorybookPackages.ts
Labels: bug, cli, patch:yes, ci:normal

#31905 Core: Simplify module resolution
  code/core/scripts/helpers/dependencies.ts
  code/core/scripts/prep.ts
  code/core/src/bin/dispatcher.ts
  code/core/src/builder-manager/index.ts
  code/core/src/builder-manager/utils/template.ts
  code/core/src/cli/dirs.ts
  code/core/src/common/presets.test.ts
  code/core/src/common/utils/__tests__/template.test.ts
  code/core/src/common/utils/get-addon-annotations.ts
  code/core/src/common/utils/template.ts
  code/core/src/core-server/build-dev.ts
  code/core/src/core-server/build-static.ts
  code/core/src/core-server/load.ts
  code/core/src/core-server/presets/common-preset.ts
  code/core/src/core-server/presets/favicon.test.ts
  code/core/src/core-server/standalone.ts
  code/core/src/core-server/utils/constants.ts
  code/core/src/core-server/utils/get-builders.ts
  code/core/src/shared/utils/module.ts
  code/core/src/telemetry/package-json.ts
Labels: maintenance, core, ci:normal

#31907 Core: Cleanup ESM-only build scripts
  code/core/scripts/dts.ts
  code/core/scripts/entries.ts
  code/core/scripts/helpers/generatePackageJsonFile.ts
  code/core/scripts/helpers/generateTypesFiles.ts
  code/core/scripts/helpers/generateTypesMapperFiles.ts
  code/core/scripts/helpers/isEntryType.ts
  code/core/scripts/no-externals-plugin.ts
  code/core/scripts/prep.ts
Labels: core, build, ci:normal

#31841 Docs: Prevent JSON tree control from swallowing keyboard events when not in focus
  code/addons/docs/src/blocks/controls/react-editable-json-tree/JsonNodes.stories.tsx
  code/addons/docs/src/blocks/controls/react-editable-json-tree/JsonNodes.tsx
Labels: bug, ui, patch:yes, ci:normal
