Repository storybookjs/storybook, pull requests merged in 2025-05, with the labels that each got.

#31324 Dependencies: Update `react-native-web`
  code/e2e-tests/addon-docs.spec.ts
  code/frameworks/react-native-web-vite/package.json
  code/frameworks/react-vite/src/plugins/react-docgen.ts
  code/yarn.lock
Labels: dependencies, ci:daily, react-native-web

#31332 Svelte: Remove unused `svelte-preprocess` dependency
  code/frameworks/svelte-vite/package.json
  code/yarn.lock
Labels: dependencies, svelte, builder-vite, ci:normal

#30930 CLI: Add skip onboarding, recommended/minimal config
  .vscode/settings.json
  code/core/package.json
  code/core/src/cli/bin/index.ts
  code/core/src/cli/globalSettings.test.ts
  code/core/src/cli/globalSettings.ts
  code/core/src/cli/index.ts
  code/core/src/common/utils/notify-telemetry.ts
  code/core/src/server-errors.ts
  code/core/src/telemetry/storybook-metadata.test.ts
  code/core/src/telemetry/storybook-metadata.ts
  code/core/src/telemetry/types.ts
  code/lib/cli-storybook/src/bin/index.ts
  code/lib/create-storybook/src/initiate.test.ts
  code/lib/create-storybook/src/initiate.ts
  code/yarn.lock
  docs/configure/telemetry.mdx
  scripts/event-log-checker.ts
Labels: maintenance, cli, ci:normal

#31334 CLI: Supress npm notice update log messages
  code/core/src/common/js-package-manager/JsPackageManager.ts
  code/core/src/common/js-package-manager/JsPackageManagerFactory.ts
Labels: bug, cli, ci:normal

#31340 Addon-vitest: Remove internal log for `staticDir`
  code/core/src/core-server/utils/server-statics.ts
Labels: bug, ci:normal, addon: test

#31328 Core: Bring back loading globals from global types in portable stories
  code/core/src/preview-api/modules/store/csf/portable-stories.test.ts
  code/core/src/preview-api/modules/store/csf/portable-stories.ts
Labels: bug, core, ci:normal, portable stories

#31342 Automigration: Pass over flags when calling automigrations
  code/addons/a11y/src/postinstall.ts
  code/addons/vitest/src/postinstall.ts
Labels: bug, cli, ci:normal, addon: test

#31337 Angular: remove invalid defaults for start-storybook
  code/frameworks/angular/src/builders/build-storybook/schema.json
  code/frameworks/angular/src/builders/start-storybook/schema.json
Labels: bug, angular, ci:normal

#31317 CLI: Enhance compatibility check: deprecated detection
  code/lib/cli-storybook/src/doctor/getIncompatibleStorybookPackages.test.ts
  code/lib/cli-storybook/src/doctor/getIncompatibleStorybookPackages.ts
Labels: bug, cli, ci:normal

#31325 Addon A11y: Provide full report in a11y manual runs
  code/addons/a11y/src/a11yRunner.ts
  code/addons/a11y/src/a11yRunnerUtils.test.ts
  code/addons/a11y/src/a11yRunnerUtils.ts
  code/addons/a11y/src/preview.test.tsx
  code/addons/a11y/src/preview.tsx
Labels: bug, addon: a11y, ci:merged

#31313 Automigration: Migrate users to codePanel
  code/addons/docs/src/manager.tsx
  code/lib/cli-storybook/src/automigrate/fixes/addon-storysource-code-panel.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-storysource-code-panel.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-storysource-remove.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-storysource-remove.ts
  code/lib/cli-storybook/src/automigrate/fixes/index.ts
Labels: bug, automigrations, ci:normal

#31282 Core: Support React Native environment without static class blocks
  code/core/package.json
  code/core/scripts/helpers/sourcefiles.ts
  code/core/scripts/prep.ts
  code/core/src/builder-manager/index.ts
  code/core/src/shared/constants/environments-support.ts
  code/yarn.lock
  scripts/prepare/addon-bundle.ts
  scripts/prepare/bundle.ts
Labels: bug, react-native, core, ci:normal

#31343 Automigration: Adjust addon-docs install condition
  code/lib/cli-storybook/src/automigrate/fixes/index.ts
  code/lib/cli-storybook/src/automigrate/fixes/remove-essentials.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/remove-essentials.ts
Labels: bug, automigrations, ci:normal

#31360 SvelteKit: Forward form events when mocking `enhance`
  code/frameworks/sveltekit/src/mocks/app/forms.ts
Labels: bug, sveltekit, ci:normal

#31356 CLI: Improve CLI upgrade process for @latest and @next
  code/core/src/common/satellite-addons.ts
  code/core/src/common/utils/cli.ts
  code/lib/cli-storybook/src/automigrate/fixes/upgrade-storybook-related-dependencies.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/upgrade-storybook-related-dependencies.ts
  code/lib/cli-storybook/src/upgrade.test.ts
  code/lib/cli-storybook/src/upgrade.ts
Labels: feature request, cli, ci:normal

#31242 Addon Docs: Reset error boundary when story changes to recover from erros
  code/renderers/react/src/renderToCanvas.tsx
Labels: bug, addon: docs, ci:normal

#31374 Viewport: Fix globals type
  code/core/src/viewport/types.ts
Labels: bug, addon: viewport, typescript, ci:normal

#31362 Cleanup: Remove unused files (knip --files)
  code/addons/links/src/react/components/RoutedLink.tsx
  code/addons/onboarding/src/types/response.ts
  code/addons/vitest/src/theme.ts
  code/builders/builder-vite/src/assetsInclude.ts
  code/core/src/common/utils/notify-telemetry.ts
  code/core/src/common/utils/print-duration.ts
  code/core/src/manager-api/shortcut.ts
  code/core/src/manager/FakeProvider.tsx
  code/core/src/preview-api/stores/status.ts
  code/core/src/router/visibility.tsx
  code/frameworks/nextjs-vite/src/export-mocks/compatibility/draft-mode.compat.ts
  code/frameworks/nextjs/src/babel/plugins/commonjs.ts
  code/frameworks/nextjs/src/babel/plugins/next-page-config.ts
  code/frameworks/nextjs/src/babel/plugins/next-ssg-transform.ts
  code/frameworks/react-vite/src/utils.ts
  code/lib/cli-storybook/src/doctor/getIncompatibleStorybookPackages.test.ts
  code/lib/cli-storybook/src/doctor/utils.ts
  code/lib/codemod/src/transforms/__tests__/transforms.tests.js
  code/lib/create-storybook/src/ink/utils/commands.ts
  code/lib/create-storybook/src/ink/utils/getKeys.ts
  code/lib/create-storybook/src/ink/utils/procedure.ts
  code/renderers/vue3/src/docs/utils.ts
  scripts/knip.config.ts
Labels: cleanup, ci:normal

#31336 Eslint-plugin: Handle JSON5 format
  code/core/src/cli/eslintPlugin.test.ts
  code/core/src/cli/eslintPlugin.ts
  code/lib/cli-storybook/package.json
  code/yarn.lock
Labels: bug, ci:normal, eslint-plugin

#31358 Update react-router-dom to lowest React19 type-compatible version
  code/core/package.json
  code/yarn.lock
Labels: bug, builder-manager, ci:normal

#31306 Core: Update `Layout` stories to avoid dynamic content when running Chromatic
  code/core/src/manager/components/layout/Layout.stories.tsx
Labels: cleanup, other, ci:normal

#31331 Indexer: Do not create autodocs entries unless addon-docs installed
  code/.storybook/main.ts
  code/addons/docs/src/preset.ts
  code/core/src/core-server/build-index.test.ts
  code/core/src/core-server/build-index.ts
  code/core/src/core-server/build-static.ts
  code/core/src/core-server/presets/common-override-preset.ts
  code/core/src/core-server/presets/common-preset.ts
  code/core/src/core-server/utils/StoryIndexGenerator.ts
  code/core/src/core-server/utils/getStoryIndexGenerator.ts
Labels: bug, addon: docs, story index, ci:normal

#31387 Build: Restore storybook-benchmarking-bot
  .circleci/config.yml
  scripts/bench/bench-packages.ts
  scripts/upload-bench.ts
Labels: performance issue, build, ci:normal

#31389 Build: Fix metafile generation for nested entry points
  code/core/scripts/prep.ts
Labels: build, ci:normal

#31391 Docs: Snippets Fix missing and icorrect imports
  docs/_snippets/storybook-config-layout.md
  docs/_snippets/storybook-manager-sidebar-hide-on-landing.md
  docs/_snippets/storybook-manager-toolbar-hide-on-docs.md
  docs/_snippets/typed-csf-file.md
Labels: documentation, ci:docs

#31386 Backgrounds/Viewport: Fix resetting
  code/core/src/backgrounds/components/Tool.tsx
  code/core/src/preview-api/modules/store/GlobalsStore.ts
  code/core/src/viewport/components/Tool.tsx
Labels: bug, addon: viewport, addon: backgrounds, ci:normal

#30550 Angular: Filter non-inputs from controls
  MIGRATION.md
  code/core/src/types/modules/core-common.ts
  code/frameworks/angular/src/client/docs/compodoc.ts
  docs/api/main-config/main-config-features.mdx
  docs/migration-guide/index.mdx
Labels: feature request, angular, ci:normal

#31398 Svelte: Install `latest` version of `@storybook/addon-svelte-csf`
  code/lib/create-storybook/src/generators/SVELTE/index.test.ts
  code/lib/create-storybook/src/generators/SVELTE/index.ts
  code/lib/create-storybook/src/generators/SVELTEKIT/index.ts
Labels: dependencies, svelte, ci:daily

#31393 CLI: Detect correct storybook version on upgrade
  code/lib/cli-storybook/src/upgrade.test.ts
  code/lib/cli-storybook/src/upgrade.ts
Labels: bug, cli, ci:normal

#31395 Test: Allow generics in expect matchers
  code/core/src/test/utils.ts
Labels: bug, core, typescript, ci:normal

#31250 Core: Fix sidebar accessibility order for screen readers
  code/core/src/manager/components/layout/Layout.tsx
  code/core/src/manager/components/mobile/navigation/MobileNavigation.tsx
Labels: bug, ui, accessibility, ci:normal

#31397 Automigration: Improve renderer to framework automigration
  code/lib/cli-storybook/src/automigrate/fixes/renderer-to-framework.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/renderer-to-framework.ts
Labels: bug, automigrations, ci:normal

#31287 Core: Wait for animations before completing render cycle
  code/addons/onboarding/src/components/HighlightElement/HighlightElement.stories.tsx
  code/core/src/preview-api/modules/preview-web/PreviewWeb.test.ts
  code/core/src/preview-api/modules/preview-web/render/StoryRender.test.ts
  code/core/src/preview-api/modules/preview-web/render/StoryRender.ts
  code/core/src/preview-api/modules/preview-web/render/animation-utils.ts
  code/core/src/preview-api/modules/store/StoryStore.ts
  code/core/src/preview-api/modules/store/csf/portable-stories.ts
  code/renderers/svelte/template/stories/args.stories.js
  scripts/event-log-checker.ts
Labels: feature request, preview-api, ci:normal

#31399 Automigrations: Fix installation of addon-docs
  code/lib/cli-storybook/src/automigrate/fixes/remove-essentials.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/remove-essentials.ts
Labels: bug, automigrations, ci:normal

#31385 Core: Avoid pre-bundling of preview-api in manager entries
  code/addons/docs/src/blocks.ts
Labels: bug, ci:normal

#31406 CLI: Improve package upgrade logic
  code/lib/cli-storybook/src/upgrade.ts
Labels: bug, cli, ci:normal

#31089 Build: Resolve path aliasing for ESM compatibility
  code/.storybook/main.ts
Labels: build, ci:normal

#31320 Addon Docs: Fix iframe content width in centered layout
  code/core/src/components/components/Zoom/ZoomElement.tsx
Labels: bug, addon: docs, ci:normal

#31420 Automigration: Correctly apply the wrap-require automigration in ESM modules
  code/lib/cli-storybook/src/automigrate/fixes/wrap-require-utils.ts
  code/lib/cli-storybook/src/automigrate/fixes/wrap-require.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/wrap-require.ts
Labels: bug, automigrations, ci:normal, esm

#31327 Addon Docs: Improve TableOfContents HTML structure and a11y
  code/.storybook/main.ts
  code/.storybook/preview.tsx
  code/addons/docs/src/blocks.ts
  code/addons/docs/src/blocks/components/DocsPage.tsx
  code/addons/docs/src/blocks/components/TableOfContents.stories.tsx
  code/addons/docs/src/blocks/components/TableOfContents.tsx
  code/addons/docs/src/blocks/components/index.ts
  code/core/assets/server/base-preview-head.html
  code/core/src/component-testing/components/Subnav.tsx
  code/core/src/manager/components/sidebar/Sidebar.tsx
  code/core/src/theming/global.ts
Labels: bug, ui, accessibility, addon: docs, ci:normal

#31422 Addon A11y: Fix usage of axe-core in pnpm projects
  code/addons/a11y/src/a11yRunner.ts
Labels: bug, addon: a11y, ci:normal

#28575 Doc: New tracking issue template
  .github/ISSUE_TEMPLATE/tracking_issue.yml
Labels: documentation, ci:docs

#31444 Docs: Remove oudated links from the tutorials
  docs/sharing/design-integrations.mdx
  docs/sharing/publish-storybook.mdx
Labels: documentation, ci:docs

#31437 Addon-vitest: Support paths with spaces
  code/addons/vitest/src/vitest-plugin/index.ts
  code/addons/vitest/src/vitest-plugin/test-utils.ts
  code/core/src/csf-tools/vitest-plugin/transformer.test.ts
  code/core/src/csf-tools/vitest-plugin/transformer.ts
Labels: bug, ci:normal, addon: visual test

#31423 Core / Addon A11y: Emit `STORY_HOT_UPDATED` and rerun A11y tests on HMR
  code/addons/a11y/src/a11yRunner.ts
  code/addons/a11y/src/components/A11yContext.tsx
  code/builders/builder-vite/src/codegen-modern-iframe-script.test.ts
  code/builders/builder-vite/src/codegen-modern-iframe-script.ts
  code/builders/builder-webpack5/templates/virtualModuleModernEntry.js
  code/core/src/core-events/index.ts
  code/core/src/manager/globals/exports.ts
  code/core/src/preview-api/index.ts
  code/core/src/preview-api/modules/preview-web/index.ts
  code/core/src/preview-api/modules/preview-web/render/animation-utils.ts
Labels: feature request, addon: a11y, ci:normal

#31430 Addon Docs: Fix `layout: centered` in conjunction with `inline: false`
  code/addons/docs/src/blocks/blocks/Canvas.stories.tsx
  code/addons/docs/src/blocks/blocks/Canvas.tsx
  code/addons/docs/src/blocks/components/Preview.stories.tsx
  code/addons/docs/src/blocks/components/Preview.tsx
  code/addons/docs/src/blocks/examples/Button.stories.tsx
  code/core/src/components/components/Zoom/ZoomElement.tsx
Labels: bug, ci:normal

#31435 Test: Make sure that lit arrays are not cloned
  code/core/src/test/preview.ts
Labels: bug, ci:normal

#31432 Addon A11y: Fix various issues and inconsistencies
  code/addons/a11y/src/components/A11YPanel.stories.tsx
  code/addons/a11y/src/components/A11YPanel.test.tsx
  code/addons/a11y/src/components/A11YPanel.tsx
  code/addons/a11y/src/components/A11yContext.tsx
  code/addons/a11y/src/components/Report/Details.tsx
  code/addons/a11y/src/components/Report/Report.tsx
  code/addons/a11y/src/types.ts
Labels: bug, ci:normal

#31440 Core: Improve unhandled error detection
  code/core/src/preview-api/modules/preview-web/render/StoryRender.ts
Labels: bug, ci:normal

#31438 Hooks: Stabilize experimental afterEach hook
  MIGRATION.md
  code/addons/a11y/src/preview.test.tsx
  code/addons/a11y/src/preview.tsx
  code/core/src/components/components/Checkbox/Checkbox.stories.tsx
  code/core/src/csf/story.test.ts
  code/core/src/csf/story.ts
  code/core/src/preview-api/modules/store/csf/composeConfigs.test.ts
  code/core/src/preview-api/modules/store/csf/composeConfigs.ts
  code/core/src/preview-api/modules/store/csf/normalizeProjectAnnotations.ts
  code/core/src/preview-api/modules/store/csf/normalizeStory.test.ts
  code/core/src/preview-api/modules/store/csf/normalizeStory.ts
  code/core/src/preview-api/modules/store/csf/prepareStory.ts
  code/core/template/stories/order-of-hooks.stories.ts
Labels: BREAKING CHANGE, ci:normal

#31455 Docs: Rearrange abstract
  MIGRATION.md
Labels: documentation, ci:docs

#31439 Addon Vitest: Use its own cache directory
  code/addons/vitest/src/vitest-plugin/index.ts
Labels: bug, ci:normal, addon: test

#31458 CLI: Remove `@latest` from `yarn create` commands
  code/lib/create-storybook/src/scaffold-new-project.ts
  docs/_snippets/create-command-custom-package-manager.md
  docs/_snippets/create-command-custom-version.md
  docs/_snippets/create-command-manual-framework.md
  docs/_snippets/create-command.md
Labels: bug, cli, ci:normal

#30584 Addon-Test: Automatically load before all
  MIGRATION.md
  code/.storybook/storybook.setup.ts
  code/addons/vitest/src/postinstall.ts
  code/addons/vitest/src/vitest-plugin/setup-file.ts
  code/core/src/preview-api/modules/store/csf/portable-stories.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-a11y-addon-test.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-a11y-addon-test.ts
  docs/_snippets/storybook-addon-a11y-test-setup.md
  docs/api/csf/csf-factories.mdx
Labels: BREAKING CHANGE, ci:normal, v9.0

#31457 Addon Vitest: Ignore mdx files as part of tests
  code/addons/docs/src/preset.ts
  code/addons/vitest/src/vitest-plugin/index.ts
  code/addons/vitest/src/vitest-plugin/types.ts
  docs/writing-tests/vitest-addon.mdx
Labels: bug, ci:normal, addon: vitest

#31452 Core: Do not show 'Render story' step in interactions
  code/core/src/component-testing/components/Interaction.tsx
  code/e2e-tests/component-tests.spec.ts
Labels: bug, ci:normal

#31466 Source Loader: Remove package
  MIGRATION.md
  code/core/src/common/versions.ts
  code/core/src/core-server/__snapshots__/web-components-kitchen-sink_preview-dev-posix
  code/core/src/core-server/__snapshots__/web-components-kitchen-sink_preview-dev-windows
  code/core/src/core-server/__snapshots__/web-components-kitchen-sink_preview-prod-posix
  code/core/src/core-server/__snapshots__/web-components-kitchen-sink_preview-prod-windows
  code/core/src/docs-tools/shared.ts
  code/lib/source-loader/README.md
  code/lib/source-loader/extract-source.d.ts
  code/lib/source-loader/extract-source.js
  code/lib/source-loader/package.json
  code/lib/source-loader/project.json
  code/lib/source-loader/src/abstract-syntax-tree/__snapshots__/inject-decorator.test.js.snap
  code/lib/source-loader/src/abstract-syntax-tree/default-options.js
  code/lib/source-loader/src/abstract-syntax-tree/generate-helpers.js
  code/lib/source-loader/src/abstract-syntax-tree/inject-decorator.csf.test.js
  code/lib/source-loader/src/abstract-syntax-tree/inject-decorator.js
  code/lib/source-loader/src/abstract-syntax-tree/inject-decorator.test.js
  code/lib/source-loader/src/abstract-syntax-tree/parse-helpers.js
  code/lib/source-loader/src/abstract-syntax-tree/parsers/index.js
  code/lib/source-loader/src/abstract-syntax-tree/parsers/parser-flow.js
  code/lib/source-loader/src/abstract-syntax-tree/parsers/parser-js.js
  code/lib/source-loader/src/abstract-syntax-tree/parsers/parser-ts.js
  code/lib/source-loader/src/abstract-syntax-tree/traverse-helpers.js
  code/lib/source-loader/src/build.js
  code/lib/source-loader/src/dependencies-lookup/readAsObject.js
  code/lib/source-loader/src/extract-source.ts
  code/lib/source-loader/src/index.ts
  code/lib/source-loader/src/types.ts
  code/lib/source-loader/tsconfig.json
  code/lib/source-loader/vitest.config.ts
  code/package.json
  code/yarn.lock
  test-storybooks/ember-cli/.storybook/main.js
  test-storybooks/ember-cli/package.json
  test-storybooks/external-docs/package.json
  test-storybooks/portable-stories-kitchen-sink/nextjs/package.json
  test-storybooks/portable-stories-kitchen-sink/react/package.json
  test-storybooks/portable-stories-kitchen-sink/svelte/package.json
  test-storybooks/portable-stories-kitchen-sink/vue3/package.json
  test-storybooks/server-kitchen-sink/package.json
  test-storybooks/standalone-preview/package.json
Labels: BREAKING CHANGE, ci:normal

#31460 Vitest: Remove beforeAll in vitest.setup.ts in automigration
  code/lib/cli-storybook/src/automigrate/fixes/addon-experimental-test.test.ts
  code/lib/cli-storybook/src/automigrate/fixes/addon-experimental-test.ts
  scripts/tasks/sandbox-parts.ts
  test-storybooks/portable-stories-kitchen-sink/react/.storybook/vitest.setup.ts
Labels: maintenance, ci:normal

#31467 Core: Builder-manager disable metafile
  code/core/src/builder-manager/index.ts
Labels: bug, performance issue, builder-manager, ci:normal

#31478 CI: Update e2e test configuration for improved UI testing reliability
  .circleci/config.yml
  code/renderers/web-components/src/docs/web-components-properties.test.ts
  test-storybooks/portable-stories-kitchen-sink/react/e2e-tests/composition.spec.ts
Labels: build, ci:normal

#31156 Addon Vitest: Fix watch mode for new files
  code/addons/vitest/package.json
  code/addons/vitest/src/node/vitest-manager.ts
  code/addons/vitest/src/vitest-plugin/index.ts
  code/addons/vitest/src/vitest-plugin/test-utils.ts
  code/addons/vitest/src/vitest-plugin/types.ts
  code/core/src/common/utils/normalize-stories.ts
  code/yarn.lock
  scripts/tasks/sandbox-parts.ts
  scripts/utils/cli-step.ts
Labels: bug, ci:normal, addon: test

#31483 React: Don't use Act wrapper in Storybook when rendering in docs
  code/renderers/react/src/act-compat.ts
  code/renderers/react/src/renderToCanvas.tsx
Labels: bug, ci:normal

#31475 Core: Support groups and info icon in highlight popover menu
  code/addons/a11y/src/components/A11yContext.tsx
  code/addons/a11y/src/components/Report/Details.tsx
  code/core/src/highlight/icons.ts
  code/core/src/highlight/index.ts
  code/core/src/highlight/types.ts
  code/core/src/highlight/useHighlights.stories.tsx
  code/core/src/highlight/useHighlights.ts
  code/core/src/highlight/utils.ts
  docs/_snippets/highlight-menu.md
  docs/essentials/highlight.mdx
Labels: feature request, ci:normal

#31485 Core: Remove duplicate notification dot on sidebar buttons on mobile
  code/core/src/manager/components/sidebar/Menu.tsx
Labels: bug, ci:normal

#29840 Addon Docs: Simplify color parsing and color cycling logic
  code/addons/docs/src/blocks/controls/Color.tsx
Labels: maintenance, addon: controls, ci:normal

#31497 CSF-Tools: Add support for existing node imports and improve import handling
  code/core/src/csf-tools/ConfigFile.test.ts
  code/core/src/csf-tools/ConfigFile.ts
Labels: bug, automigrations, ci:normal

#31498 CI: Disable test-runner on failing vue3 story
  code/renderers/vue3/template/stories_vue3-vite-default-ts/ReactiveArgs.stories.ts
  code/renderers/web-components/src/docs/web-components-properties.test.ts
Labels: build, ci:normal

#31504 Addon-vitest: Fix wrong test count in telemetry
  code/addons/vitest/src/node/test-manager.ts
  code/addons/vitest/src/preset.ts
Labels: bug, telemetry, ci:normal, addon: vitest

#31445 Vitest addon: Fix broken docs links
  code/addons/vitest/src/constants.ts
  code/addons/vitest/src/postinstall.ts
  code/addons/vitest/src/types.ts
  code/addons/vitest/src/updateVitestFile.test.ts
  code/addons/vitest/templates/vitest.config.template.ts
  code/addons/vitest/templates/vitest.workspace.template.ts
Labels: bug, ci:normal, addon: vitest

#31519 CSF: Fix handling of renamed story exports
  code/core/src/csf-tools/CsfFile.test.ts
  code/core/src/csf-tools/CsfFile.ts
Labels: bug, csf, ci:normal

#31508 Addon Vitest: Improve handling multiple browser mode projects
  code/addons/vitest/src/node/boot-test-runner.test.ts
  code/addons/vitest/src/node/boot-test-runner.ts
  code/addons/vitest/src/node/test-manager.test.ts
  code/addons/vitest/src/node/test-manager.ts
  code/addons/vitest/src/node/vitest-manager.ts
  code/addons/vitest/src/node/vitest.ts
  code/addons/vitest/src/preset.ts
  code/addons/vitest/src/utils.ts
  code/addons/vitest/src/vitest-plugin/index.ts
  scripts/tasks/sandbox-parts.ts
Labels: bug, ci:normal, addon: vitest

#31518 React Native: Fix support for 9.0
  code/core/scripts/entries.ts
  code/core/src/manager-api/modules/whatsnew.tsx
  code/core/src/preview-api/modules/preview-web/render/animation-utils.ts
Labels: bug, react-native, ci:normal

#31532 Core: Assert updated state in play function
  code/core/src/manager/components/sidebar/TestingModule.stories.tsx
  code/core/src/manager/components/sidebar/TestingModule.tsx
Labels: build, ci:normal

#31538 Docs: Add Code panel page
  docs/_assets/writing-docs/code-panel.png
  docs/_snippets/code-panel-enable-in-preview.md
  docs/_snippets/code-panel-in-meta-and-story.md
  docs/writing-docs/build-documentation.mdx
  docs/writing-docs/code-panel.mdx
Labels: documentation, ci:docs

#31540 Addon-Vitest: Always clean coverage before (re)running
  code/addons/vitest/src/node/vitest-manager.ts
Labels: bug, ci:normal, addon: vitest

#31539 Controls: Remove empty state video link
  code/addons/docs/src/blocks/components/ArgsTable/Empty.tsx
Labels: maintenance, addon: controls, ci:normal

#31521 CLI: Add prompts abstraction
  code/core/src/common/index.ts
  code/core/src/common/prompts/index.ts
  code/lib/cli-storybook/src/add.ts
  code/lib/cli-storybook/src/autoblock/index.test.ts
  code/lib/cli-storybook/src/autoblock/index.ts
  code/lib/cli-storybook/src/automigrate/fixes/renderer-to-framework.ts
  code/lib/cli-storybook/src/automigrate/helpers/logMigrationSummary.test.ts
  code/lib/cli-storybook/src/automigrate/helpers/logMigrationSummary.ts
  code/lib/cli-storybook/src/automigrate/index.ts
  code/lib/cli-storybook/src/codemod/csf-factories.ts
  code/lib/cli-storybook/src/doctor/index.ts
  code/lib/cli-storybook/src/sandbox.ts
  code/lib/cli-storybook/src/upgrade.ts
  code/lib/cli-storybook/src/util.ts
Labels: maintenance, cli, ci:normal

#31541 Chore: Fix story decorators
  code/core/src/manager/components/sidebar/FileSearchModal.stories.tsx
  code/frameworks/nextjs-vite/template/stories/Image.stories.tsx
  code/frameworks/nextjs/template/stories/Image.stories.tsx
  test-storybooks/portable-stories-kitchen-sink/nextjs/.storybook/preview.tsx
  test-storybooks/portable-stories-kitchen-sink/nextjs/stories/Image.stories.tsx
Labels: build, ci:normal

#31515 Pseudo States: Ignore escaped pseudo-class names
  code/addons/pseudo-states/src/constants.ts
  code/addons/pseudo-states/src/preview/rewriteStyleSheet.test.ts
  code/addons/pseudo-states/src/preview/rewriteStyleSheet.ts
Labels: bug, ci:normal

#31200 Docs: Update Vue example for using custom args and props with slots
  docs/_snippets/page-story-slots.md
Labels: documentation, ci:docs

#31567 Build: Fix Next.js v14 sandbox naming
  code/lib/cli-storybook/src/sandbox-templates.ts
Labels: build, ci:normal

#31565 Addon Vitest: Support `vitest.projects.ts` file as workspace file during postinstall
  code/addons/vitest/src/postinstall.ts
Labels: bug, ci:normal

#31556 Presets: Use `.js` files when `.cjs` files are passed for entries that should be ESM
  code/core/src/common/presets.ts
Labels: bug, api: addons, presets, ci:normal

#31579 Manager: Add reactivity to useParameter
  code/core/src/manager-api/root.tsx
Labels: bug, ci:normal

#31577 Telemetry: Use version from our package.json for `storybookVersion`
  code/core/src/cli/bin/index.ts
  code/core/src/telemetry/storybook-metadata.ts
  code/core/src/telemetry/telemetry.ts
  scripts/event-log-checker.ts
Labels: maintenance, telemetry, ci:normal

#31602 Angular: Include 20.x in version range
  code/frameworks/angular/package.json
  code/yarn.lock
Labels: dependencies, angular, ci:normal

#31600 ReactNative: Update React Native generator for v9
  code/lib/create-storybook/src/generators/REACT_NATIVE/index.ts
Labels: maintenance, cli, patch:yes, ci:normal

#31473 Telemetry: Fix storybook version and add test run events
  .circleci/config.yml
  code/addons/vitest/src/preset.ts
  code/addons/vitest/src/vitest-plugin/index.ts
  code/core/src/core-server/build-static.ts
  code/core/src/core-server/presets/common-preset.ts
  code/core/src/telemetry/storybook-metadata.ts
  code/core/src/telemetry/types.ts
  scripts/event-log-checker.ts
  scripts/tasks/sandbox-parts.ts
Labels: maintenance, telemetry, ci:normal, addon: vitest

#31612 CLI: Update VTA version range for storybook init
  code/lib/create-storybook/src/generators/baseGenerator.ts
Labels: maintenance, ci:normal

#31611 Angular: Support v20
  code/frameworks/angular/package.json
  code/yarn.lock
Labels: feature request, angular, ci:normal

#31594 Docs: Testing section improvements
  docs/_snippets/shadow-dom-testing-library-in-preview.md
  docs/_snippets/shadow-dom-testing-library-in-story.md
  docs/writing-tests/accessibility-testing.mdx
  docs/writing-tests/interaction-testing.mdx
Labels: documentation, patch:yes, ci:docs

#31629 Addon-Vitest: Properly merge configs
  code/addons/vitest/src/vitest-plugin/index.ts
Labels: bug, patch:yes, ci:normal, addon: vitest

#31630 Addon Vitest: Fix path comparison on Windows
  code/addons/vitest/src/node/boot-test-runner.ts
Labels: bug, patch:yes, windows, ci:normal
